Repository kubernetes/test-infra, pull requests merged in 2018-08, with the labels that each got.

#8908 add kubernetes-sigs/contributor-site to prow config
  prow/config.yaml
  prow/plugins.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#8906 Remove config_sort job for prow/config.yaml
  jobs/BUILD.bazel
  jobs/config_sort.py
  jobs/config_test.py
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/L

#8879 Add --validate to testgrid/cmd/configurator
  testgrid/cmd/configurator/main.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#8872 Uppercase all review states in approve plugin
  .gitattributes
  prow/cmd/phony/examples/review_approve_submitted.json
  prow/cmd/phony/examples/review_changes_submitted.json
  prow/cmd/phony/examples/review_comment_submitted.json
  prow/plugins/approve/approve.go
  prow/plugins/approve/approve_test.go
  prow/plugins/lgtm/lgtm.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#8900 Add top-level test-grid category "vmware"
  testgrid/cmd/configurator/config_test.go
  testgrid/config.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#8851 Skip HTTP2 and multiple TLS tests for ingress release-1.0
  jobs/config.json
Labels: approved, cncf-cla: yes, lgtm, size/XS

#8911 fix ClusterDns [Feature:Example] yaml path
  config/jobs/kubernetes/sig-network/ci-e2e-gce-netd.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#8913 Add GKE staging jobs for cos_containerd
  config/jobs/gke/gke-staging.yaml
  testgrid/config.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#8912 purge config_sort in hack/config scripts
  hack/update-config.sh
  hack/verify-config.sh
Labels: approved, cncf-cla: yes, lgtm, size/S, ¯\_(ツ)_/¯

#8881 move kubernetes bazel, integration, and build jobs to its own config
  config/jobs/kubernetes/sig-release/OWNERS
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
  config/jobs/kubernetes/sig-testing/integration.yaml
  jobs/config.json
  prow/config.yaml
  testgrid/config.yaml
Labels: approved, area/jobs, cncf-cla: yes, lgtm, size/XXL, ¯\_(ツ)_/¯

#8917 Update kubetest image and add containerd cri test tabs.
  config/jobs/gke/containerd/gke-test-containerd.yaml
  testgrid/config.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#8916 enable csi sanity tests on filestore repo
  config/jobs/kubernetes-sigs/gcp-filestore-csi-driver/gcp-filestore-csi-driver-config.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#8918 update image/zone for netd containerd test
  config/jobs/kubernetes/sig-network/ci-e2e-gce-netd.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#8920 Spyglass vendored code and deps
  Gopkg.lock
  Gopkg.toml
  prow/BUILD.bazel
  prow/spyglass/BUILD.bazel
  prow/spyglass/placeholder.go
  vendor/BUILD.bazel
  vendor/github.com/fsouza/fake-gcs-server/LICENSE
  vendor/github.com/fsouza/fake-gcs-server/fakestorage/BUILD.bazel
  vendor/github.com/fsouza/fake-gcs-server/fakestorage/bucket.go
  vendor/github.com/fsouza/fake-gcs-server/fakestorage/doc.go
  vendor/github.com/fsouza/fake-gcs-server/fakestorage/object.go
  vendor/github.com/fsouza/fake-gcs-server/fakestorage/response.go
  vendor/github.com/fsouza/fake-gcs-server/fakestorage/server.go
  vendor/github.com/fsouza/fake-gcs-server/fakestorage/upload.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/BUILD.bazel
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/fs.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/memory.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/object.go
  vendor/github.com/fsouza/fake-gcs-server/internal/backend/storage.go
  vendor/github.com/gorilla/mux/BUILD.bazel
  vendor/github.com/gorilla/mux/LICENSE
  vendor/github.com/gorilla/mux/context_gorilla.go
  vendor/github.com/gorilla/mux/context_native.go
  vendor/github.com/gorilla/mux/doc.go
  vendor/github.com/gorilla/mux/middleware.go
  vendor/github.com/gorilla/mux/mux.go
  vendor/github.com/gorilla/mux/regexp.go
  vendor/github.com/gorilla/mux/route.go
  vendor/github.com/gorilla/mux/test_helpers.go
  vendor/github.com/joshdk/go-junit/BUILD.bazel
  vendor/github.com/joshdk/go-junit/LICENSE.txt
  vendor/github.com/joshdk/go-junit/ingest.go
  vendor/github.com/joshdk/go-junit/ingesters.go
  vendor/github.com/joshdk/go-junit/node.go
  vendor/github.com/joshdk/go-junit/parse.go
  vendor/github.com/joshdk/go-junit/types.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XXL

#8928 skip Disruptive tests for ci-kubernetes-e2e-containerd-gce-netd
  config/jobs/kubernetes/sig-network/ci-e2e-gce-netd.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#8924 move cloud-provider-(azure|openstack) to their own subdirs
  config/jobs/kubernetes/cloud-provider-azure/OWNERS
  config/jobs/kubernetes/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes/cloud-provider-openstack/OWNERS
  config/jobs/kubernetes/cloud-provider-openstack/cloud-provider-openstack-config.yaml
  jobs/config.json
  prow/config.yaml
Labels: approved, area/jobs, cncf-cla: yes, lgtm, size/L

#8909 Disable the milestone-maintainer munger
  mungegithub/misc-mungers/deployment/kubernetes/configmap.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#5943 testgrid: point CRI-O to the junit results for e2e
  testgrid/config.yaml
Labels: approved, cncf-cla: yes, lgtm, lifecycle/stale, size/XS

#8934 Enable approve plugin for all kubernetes-sigs repos
  prow/plugins.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#8935 dind preset
  config/jobs/cadvisor/cadvisor.yaml
  config/jobs/helm/charts/charts.yaml
  config/jobs/kubernetes-incubator/service-catalog/service-catalog-presubmits.yaml
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-openstack/cluster-api-provider-openstack-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
  config/jobs/kubernetes/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes/sig-aws/sig-aws-config.yaml
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
  config/jobs/kubernetes/sig-testing/integration.yaml
  config/jobs/kubernetes/sig-testing/kubetest-canaries.yaml
  prow/config.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XL

#8941 Allow jenkins-operator to load job configuration dir
  prow/cmd/jenkins-operator/main.go
Labels: approved, area/prow, cncf-cla: yes, kind/bug, lgtm, size/S

#8942 Add config for testing GPUs with latest ubuntu images on GKE.
  config/jobs/kubernetes/generated/generated.yaml
  experiment/test_config.yaml
  testgrid/config.yaml
Labels: approved, cncf-cla: yes, lgtm, size/L

#8944 Turn on tide for kubernetes-sigs/aws-encryption-provider
  prow/config.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#8925 Shorten the name of the test jobs in sig-node-cri
  testgrid/config.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#8945 Move ingress e2e jobs to its own subdir
  config/jobs/kubernetes/sig-network/OWNERS
  config/jobs/kubernetes/sig-network/ingress-gce-e2e.yaml
  config/tests/jobs/jobs_test.go
  jobs/config.json
  prow/config.yaml
Labels: approved, cncf-cla: yes, lgtm, size/L

#8938 split off sig-gcp jobs to its own config
  OWNERS
  config/jobs/kubernetes/sig-gcp/OWNERS
  config/jobs/kubernetes/sig-gcp/gce-conformance.yaml
  config/jobs/kubernetes/sig-gcp/sig-gcp-gce-config.yaml
  config/jobs/kubernetes/sig-gcp/sig-gcp-gke-config.yaml
  jobs/config.json
  prow/config.yaml
  testgrid/config.yaml
Labels: approved, area/jobs, cncf-cla: yes, lgtm, size/XXL

#8948 move kubeadm jobs to sig-cluster-lifecycle/kubeadm.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/OWNERS
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm.yaml
  jobs/config.json
  prow/config.yaml
Labels: approved, area/jobs, cncf-cla: yes, lgtm, size/XXL

#8933 Move ValidateWebhook from Hook to Github
  prow/external-plugins/cherrypicker/BUILD.bazel
  prow/external-plugins/cherrypicker/server.go
  prow/external-plugins/needs-rebase/BUILD.bazel
  prow/external-plugins/needs-rebase/main.go
  prow/external-plugins/refresh/BUILD.bazel
  prow/external-plugins/refresh/server.go
  prow/github/BUILD.bazel
  prow/github/webhooks.go
  prow/github/webhooks_test.go
  prow/hook/server.go
  prow/hook/server_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#8950 init `kind`
  BUILD.bazel
  kind/README.md
  kind/cmd/kind/BUILD.bazel
  kind/cmd/kind/cmd/BUILD.bazel
  kind/cmd/kind/cmd/build.go
  kind/cmd/kind/cmd/build_image.go
  kind/cmd/kind/cmd/create.go
  kind/cmd/kind/cmd/delete.go
  kind/cmd/kind/cmd/root.go
  kind/cmd/kind/main.go
  kind/docs/design.md
  kind/images/node/Dockerfile
  kind/images/node/README.md
  kind/images/node/entrypoint/BUILD.bazel
  kind/images/node/entrypoint/main.go
  kind/images/node/journalctl-to-tty.service
  kind/pkg/build/BUILD.bazel
  kind/pkg/build/images.go
  kind/pkg/cluster/BUILD.bazel
  kind/pkg/cluster/cluster.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#8949 add testgrid containerd&netd&calico containerd&calico
  config/jobs/kubernetes/sig-network/ci-e2e-gce-netd.yaml
  testgrid/config.yaml
Labels: approved, cncf-cla: yes, lgtm, size/L

#8716 Add repo-scoped labels
  label_sync/labels.md
  label_sync/labels.yaml
  label_sync/labels_example.yaml
  label_sync/main.go
  label_sync/main_test.go
  label_sync/syntax_error_example.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#8931 Add a metric to Hook for webhook status reports
  prow/external-plugins/cherrypicker/server.go
  prow/external-plugins/needs-rebase/main.go
  prow/external-plugins/refresh/server.go
  prow/github/webhooks.go
  prow/hook/metrics.go
  prow/hook/server.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#8958 Don't require LGTM1/2 labels for service-catalog
  prow/config.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#8959 skip ipv6 for all the netd testgrid, update the k8s repo for the example
  config/jobs/kubernetes/sig-network/ci-e2e-gce-netd.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#8962 update kind to debian base 0.3.1 image for CVEs
  kind/images/node/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#8957 Collect containerd logs for cos_containerd gke test.
  config/jobs/gke/containerd/gke-test-containerd.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#8960 Deploy repo-specific label_sync and trial with test-infra
  boskos/OWNERS
  config/OWNERS
  ghproxy/OWNERS
  greenhouse/OWNERS
  gubernator/OWNERS
  label_sync/OWNERS
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
  label_sync/labels.md
  label_sync/labels.yaml
  mungegithub/OWNERS
  planter/OWNERS
  prow/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/L

#8964 update k8s repo
  config/jobs/kubernetes/sig-network/ci-e2e-gce-netd.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#8968 use /go/src as the root of test infra, skip Feature:PerformanceDNS
  config/jobs/kubernetes/sig-network/ci-e2e-gce-netd.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#8929 fix broken url in commit message when a pr being merged into master
  mungegithub/submit-queue/deployment/kubernetes/configmap.yaml
Labels: approved, area/mungegithub, cncf-cla: yes, lgtm, size/XS

#8951 Increase Tide status controller query overlap to 30s.
  prow/tide/status.go
Labels: approved, area/prow, cncf-cla: yes, kind/bug, lgtm, size/XS

#8966 Add kubernetes-sigs/architecture-tracking to tide
  prow/config.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#8943 Provide defaults for more presubmit config fields.
  prow/config/config.go
  prow/config/config_test.go
  prow/config/jobs.go
  prow/config/jobs_test.go
  prow/plugins/trigger/ic.go
  prow/plugins/trigger/ic_test.go
Labels: approved, area/jobs, area/prow, cncf-cla: yes, lgtm, size/L

#8947 prow/owners-label: verify label exists before adding
  prow/plugins/owners-label/BUILD.bazel
  prow/plugins/owners-label/owners-label.go
  prow/plugins/owners-label/owners-label_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/L

#8969 update containerd yaml file path
  config/jobs/kubernetes/sig-network/ci-e2e-gce-netd.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#8971 keep codegen verification go version in sync with other jobs
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
Labels: approved, area/jobs, cncf-cla: yes, lgtm, size/XS

#8955 use gobindata in kind
  BUILD.bazel
  Gopkg.lock
  Gopkg.toml
  hack/update-deps.sh
  hack/verify-codegen.sh
  hack/verify_boilerplate.py
  kind/cmd/kind/cmd/build_image.go
  kind/hack/BUILD.bazel
  kind/hack/bindata.bzl
  kind/hack/generate.sh
  kind/hack/verify-generated.sh
  kind/images/node/BUILD.bazel
  kind/pkg/build/BUILD.bazel
  kind/pkg/build/images.go
  kind/pkg/build/sources/BUILD.bazel
  kind/pkg/build/sources/generate.go
  kind/pkg/build/sources/images_node_sources.go
  vendor/github.com/jteeuwen/go-bindata/BUILD.bazel
  vendor/github.com/jteeuwen/go-bindata/asset.go
  vendor/github.com/jteeuwen/go-bindata/config.go
  vendor/github.com/jteeuwen/go-bindata/convert.go
  vendor/github.com/jteeuwen/go-bindata/debug.go
  vendor/github.com/jteeuwen/go-bindata/go-bindata/main.go
  vendor/github.com/jteeuwen/go-bindata/release.go
  vendor/github.com/jteeuwen/go-bindata/restore.go
  vendor/github.com/jteeuwen/go-bindata/toc.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#8972 update test-infra path for containerd
  config/jobs/kubernetes/sig-network/ci-e2e-gce-netd.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#8974 Add env REGISTRY to ingress-image-push job
  config/jobs/kubernetes/sig-network/ingress-gce-e2e.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#8915 Add a GKE soak test job for containerd
  config/jobs/gke/containerd/gke-test-containerd.yaml
  config/jobs/gke/gke-staging.yaml
  testgrid/config.yaml
Labels: approved, cncf-cla: yes, lgtm, size/L

#8975 nudging rest of the sig-network jobs
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  jobs/config.json
  prow/config.yaml
Labels: approved, area/jobs, cncf-cla: yes, lgtm, size/XL

#8977 Experimentally disable fluentd in ci-kubernetes-e2e-gci-gce-scalability.
  jobs/config.json
Labels: approved, cncf-cla: yes, lgtm, size/XS

#8965 k8s conformance test for alibaba cloud
  testgrid/config.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#8979 remove unused vendor/github.com/docker/docker/contrib
  hack/update-deps.sh
  vendor/github.com/docker/docker/contrib/selinux-fedora-24/docker-engine-selinux/LICENSE
  vendor/github.com/docker/docker/contrib/selinux-oraclelinux-7/docker-engine-selinux/LICENSE
  vendor/github.com/docker/docker/contrib/syntax/vim/LICENSE
Labels: approved, cncf-cla: yes, lgtm, size/XL

#8982 Revert move of ValidateWebhook from hook.
  prow/external-plugins/cherrypicker/BUILD.bazel
  prow/external-plugins/cherrypicker/server.go
  prow/external-plugins/needs-rebase/BUILD.bazel
  prow/external-plugins/needs-rebase/main.go
  prow/external-plugins/refresh/BUILD.bazel
  prow/external-plugins/refresh/server.go
  prow/github/BUILD.bazel
  prow/github/webhooks_test.go
  prow/hook/server.go
  prow/hook/server_test.go
Labels: approved, area/prow, cncf-cla: yes, kind/bug, lgtm, size/L

#8980 Bump Prow to version 'v20180808-95b28d09b'.
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/splice_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/M

#8983 Change config yaml name and bump e2e timeout
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/config.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#8986 fix deck static location
  prow/cmd/deck/main.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, priority/critical-urgent, size/XS

#8946 Omit job config fields that will default appropriately.
  config/jobs/bazelbuild/rules_k8s/rules_k8s_config.yaml
  config/jobs/cadvisor/cadvisor.yaml
  config/jobs/gke/containerd/gke-test-containerd.yaml
  config/jobs/gke/gke-staging-gpu.yaml
  config/jobs/gke/gke-staging-upgrade.yaml
  config/jobs/gke/gke-staging.yaml
  config/jobs/helm/charts/charts.yaml
  config/jobs/kubeflow/kubeflow-periodics.yaml
  config/jobs/kubeflow/kubeflow-postsubmits.yaml
  config/jobs/kubeflow/kubeflow-presubmits.yaml
  config/jobs/kubernetes-incubator/service-catalog/service-catalog-presubmits.yaml
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-openstack/cluster-api-provider-openstack-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/config.yaml
  config/jobs/kubernetes-sigs/gcp-filestore-csi-driver/gcp-filestore-csi-driver-config.yaml
  config/jobs/kubernetes/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-presubmits.yaml
  config/jobs/kubernetes/cloud-provider-openstack/cloud-provider-openstack-config.yaml
  config/jobs/kubernetes/cloud-provider-vsphere/cloud-provider-vsphere-presubmits.yaml
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-aws/sig-aws-config.yaml
  config/jobs/kubernetes/sig-cli/sig-cli-config.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/k8s-upgrade-gce.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/k8s-upgrade-gke.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm.yaml
  config/jobs/kubernetes/sig-gcp/gce-conformance.yaml
  config/jobs/kubernetes/sig-gcp/sig-gcp-gce-config.yaml
  config/jobs/kubernetes/sig-gcp/sig-gcp-gke-config.yaml
  config/jobs/kubernetes/sig-network/ci-e2e-gce-netd.yaml
  config/jobs/kubernetes/sig-network/ingress-gce-e2e.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
  config/jobs/kubernetes/sig-testing/integration.yaml
  config/jobs/kubernetes/sig-testing/kubetest-canaries.yaml
  config/jobs/kubernetes/test-infra/janitors.yaml
  config/jobs/kubernetes/test-infra/test-infra-canaries.yaml
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-postsubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/tensorflow/minigo/minigo.yaml
  prow/config.yaml
  prow/test/data/test-config.yaml
Labels: approved, area/jobs, cncf-cla: yes, lgtm, size/XXL

#8988 actually fix static files location
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/splice_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/cmd/deck/main.go
  prow/cmd/deck/runlocal
Labels: approved, cncf-cla: yes, lgtm, size/M, ¯\_(ツ)_/¯

#8992 fix podutils images built by bazel
  prow/cmd/clonerefs/BUILD.bazel
  prow/cmd/entrypoint/BUILD.bazel
  prow/cmd/initupload/BUILD.bazel
  prow/cmd/sidecar/BUILD.bazel
Labels: approved, cncf-cla: yes, lgtm, size/S

#8993 Remove Accept header from thecatapi request
  prow/github/helpers.go
  prow/plugins/cat/cat.go
  prow/plugins/cat/cat_test.go
Labels: approved, cncf-cla: yes, lgtm, priority/critical-urgent, size/M

#8994 update netd to v0.1.5
  config/jobs/kubernetes/sig-network/ci-e2e-gce-netd.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#8999 Disable requires-sig plugin from k/org
  prow/plugins.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9004 Deactivate fejta-bot until kubernetes/test-infra#9001 is fixed
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, ¯\_(ツ)_/¯

#9000 Add some metrics to Tide.
  prow/cmd/tide/BUILD.bazel
  prow/cmd/tide/main.go
  prow/tide/BUILD.bazel
  prow/tide/status.go
  prow/tide/tide.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/M

#8888 Create knative/build controller for prow
  Gopkg.lock
  prow/apis/prowjobs/v1/types.go
  prow/cluster/BUILD.bazel
  prow/cmd/build/BUILD.bazel
  prow/cmd/build/admission.go
  prow/cmd/build/admission_test.go
  prow/cmd/build/controller.go
  prow/cmd/build/controller_test.go
  prow/cmd/build/dev.yaml
  prow/cmd/build/main.go
  prow/cmd/build/main_test.go
  prow/cmd/build/test-pj.yaml
  vendor/BUILD.bazel
  vendor/k8s.io/api/admission/v1beta1/BUILD.bazel
  vendor/k8s.io/api/admission/v1beta1/doc.go
  vendor/k8s.io/api/admission/v1beta1/generated.pb.go
  vendor/k8s.io/api/admission/v1beta1/register.go
  vendor/k8s.io/api/admission/v1beta1/types.go
  vendor/k8s.io/api/admission/v1beta1/types_swagger_doc_generated.go
  vendor/k8s.io/api/admission/v1beta1/zz_generated.deepcopy.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#8997 add kubeflow/chainer-operator to config/jobs/kubeflow/kubeflow-[pre|post]submits.yaml
  config/jobs/kubeflow/kubeflow-postsubmits.yaml
  config/jobs/kubeflow/kubeflow-presubmits.yaml
  testgrid/cmd/configurator/config_test.go
  testgrid/config.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#8930 Update cloud-provider-azure test-infra owners
  config/jobs/kubernetes/cloud-provider-azure/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS

#8978 Implement --enable-hollow-node-logs in logexporter.
  logexporter/Makefile
  logexporter/cluster/logexporter-daemonset.yaml
  logexporter/cluster/logexporter-pod.yaml
  logexporter/cmd/Dockerfile
  logexporter/cmd/main.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#9002 Only change team memberships for accepted org members
  prow/cmd/peribolos/BUILD.bazel
  prow/cmd/peribolos/dev.yaml
  prow/cmd/peribolos/main.go
  prow/cmd/peribolos/main_test.go
  prow/cmd/peribolos/test-config.yaml
  prow/github/types.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#9006 Revert "Deactivate fejta-bot until kubernetes/test-infra#9001 is fixed"
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#9005 add serial testgrid for netd
  config/jobs/kubernetes/sig-network/ci-e2e-gce-netd.yaml
  testgrid/config.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#9008 s/githubql/githubv4
  Gopkg.lock
  prow/external-plugins/needs-rebase/plugin/BUILD.bazel
  prow/external-plugins/needs-rebase/plugin/plugin.go
  prow/external-plugins/needs-rebase/plugin/plugin_test.go
  prow/github/BUILD.bazel
  prow/github/client.go
  prow/prstatus/BUILD.bazel
  prow/prstatus/prstatus.go
  prow/tide/BUILD.bazel
  prow/tide/blockers/BUILD.bazel
  prow/tide/blockers/blockers.go
  prow/tide/blockers/blockers_test.go
  prow/tide/status.go
  prow/tide/status_test.go
  prow/tide/tide.go
  prow/tide/tide_test.go
  vendor/BUILD.bazel
  vendor/github.com/shurcooL/githubv4/BUILD.bazel
  vendor/github.com/shurcooL/githubv4/LICENSE
  vendor/github.com/shurcooL/githubv4/doc.go
  vendor/github.com/shurcooL/githubv4/enum.go
  vendor/github.com/shurcooL/githubv4/gen.go
  vendor/github.com/shurcooL/githubv4/githubv4.go
  vendor/github.com/shurcooL/githubv4/input.go
  vendor/github.com/shurcooL/githubv4/scalar.go
  vendor/github.com/shurcooL/graphql/doc.go
  vendor/github.com/shurcooL/graphql/graphql.go
  vendor/github.com/shurcooL/graphql/ident/ident.go
  vendor/github.com/shurcooL/graphql/internal/jsonutil/graphql.go
  vendor/github.com/shurcooL/graphql/query.go
  vendor/github.com/shurcooL/graphql/scalar.go
Labels: approved, cncf-cla: yes, lgtm, size/XL

#9013 fix ginkgo.focus for ci-kubernetes-e2e-containerd-gce-calico-serial
  config/jobs/kubernetes/sig-network/ci-e2e-gce-netd.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9015 kind: make name configurable, validate config
  kind/cmd/kind/cmd/create/create.go
  kind/cmd/kind/cmd/delete/delete.go
  kind/pkg/cluster/BUILD.bazel
  kind/pkg/cluster/cluster.go
  kind/pkg/cluster/config.go
  kind/pkg/cluster/config_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#9010 Disable the path-label munger
  mungegithub/misc-mungers/deployment/kubernetes/configmap.yaml
  mungegithub/misc-mungers/deployment/kubernetes/path-label.txt
Labels: approved, cncf-cla: yes, lgtm, size/S

#9016 Kind update debian base
  kind/images/node/Dockerfile
  kind/pkg/build/sources/images_node_sources.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#8921 Spyglass core library
  prow/deck/jobs/jobs.go
  prow/spyglass/BUILD.bazel
  prow/spyglass/artifactfetchers.go
  prow/spyglass/gcsartifact.go
  prow/spyglass/gcsartifact_fetcher.go
  prow/spyglass/gcsartifact_fetcher_test.go
  prow/spyglass/gcsartifact_test.go
  prow/spyglass/podlogartifact.go
  prow/spyglass/podlogartifact_test.go
  prow/spyglass/spyglass.go
  prow/spyglass/spyglass_test.go
  prow/spyglass/viewers/BUILD.bazel
  prow/spyglass/viewers/viewers.go
  prow/spyglass/viewers/viewers_test.go
  testgrid/util/gcs/BUILD.bazel
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XXL

#9024 Make fields `omitempty` in Prow job config
  prow/config/jobs.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/M

#9026 update focus to run only Disruptive tests that are under sig-network
  config/jobs/kubernetes/sig-network/ci-e2e-gce-netd.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9027 always run verify config on test-infra
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, size/XS

#9028 regenerate configs without defaults
  config/jobs/kubernetes-security/generated-security-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, size/L

#8973 migrate all sig-aws presubmits to sig-aws-config.yaml
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/kops/OWNERS
  config/jobs/kubernetes/kops/kops-config.yaml
  config/jobs/kubernetes/sig-aws/sig-aws-config.yaml
  config/jobs/kubernetes/sig-aws/sig-aws-presubmits.yaml
  config/tests/jobs/jobs_test.go
  jobs/config.json
  prow/config.yaml
Labels: approved, area/config, area/jobs, area/prow, cncf-cla: yes, lgtm, size/XXL, ¯\_(ツ)_/¯

#9029 Fix timeout in kops test config
  config/jobs/kubernetes/kops/kops-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9030 plumb through gopath in planter
  planter/planter.sh
Labels: approved, area/planter, cncf-cla: yes, lgtm, size/XS, ¯\_(ツ)_/¯

#9014 Setup automation for kubernetes-csi
  prow/config.yaml
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/M

#9032 kind: minor fixes, documentation, ...
  kind/OWNERS
  kind/README.md
  kind/docs/design.md
  kind/docs/node-image.md
  kind/hack/generate.sh
  kind/images/node/README.md
Labels: approved, cncf-cla: yes, lgtm, size/L

#9038 Logexporter: Revert to fedora base image.
  logexporter/cmd/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9037 Experimentally use TaintBasedEvictions in kubemark-100-gce test.
  config/jobs/kubernetes/sig-scalability/sig-scalability-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9039 fix aws presubmit regex
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-aws/sig-aws-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/S

#9031 Enable merge blocking issues for Tide.
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9043 Disable merge blocking issues for Tide until bug fix is in.
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9009 Enable some cluster-api-aws presubmit jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
  testgrid/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/M

#9042 Fix Issue field name from HTMLURL to URL.
  prow/tide/blockers/blockers.go
  prow/tide/blockers/blockers_test.go
Labels: approved, area/prow, cncf-cla: yes, kind/bug, lgtm, size/S

#9040 add timeout for netd serial tests
  config/jobs/kubernetes/sig-network/ci-e2e-gce-netd.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/S

#9035 Prepare kubekins-e2e and kubekins-test images for 1.12 release
  experiment/bump_e2e_image.sh
  images/kubekins-e2e/Makefile
  images/kubekins-test/Dockerfile-1.12
  images/kubekins-test/Dockerfile-1.7
  images/kubekins-test/Dockerfile-1.8
  scenarios/kubernetes_verify.py
Labels: approved, cncf-cla: yes, lgtm, size/L

#9048 prow/plugins.yaml: add branch manager for 1.12
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9052 Fix AddedLines() when patch contains \ No newline...
  prow/plugins/golint/golint.go
  prow/plugins/golint/golint_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9051 Adding livenessprobe
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9058 make 'time' attrib optional when viewing build
  gubernator/view_build.py
  gubernator/view_build_test.py
Labels: approved, area/gubernator, cncf-cla: yes, lgtm, size/S, ¯\_(ツ)_/¯

#9047 Bump Prow to version 'v20180814-0a3efc115' and fix Tide metrics.
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/splice_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/tide/tide.go
Labels: approved, area/prow, cncf-cla: yes, kind/bug, lgtm, size/M

#9063 Enable merge blocking issues for Tide.
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9062 Add test job for release-1.3 branch and remove job for release-1.0 branch [Ingress]
  config/jobs/kubernetes/sig-network/ingress-gce-e2e.yaml
  testgrid/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/M

#9057 Allow create prowjob with annotations
  prow/pjutil/pjutil.go
  prow/pjutil/pjutil_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/M

#9066 Avoid highlighting diffs in pathological logs.
  triage/render.js
Labels: approved, area/triage, cncf-cla: yes, lgtm, size/XS

#9070 fix build instructions for testgid conformance
  testgrid/conformance/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9068 clean up old 1.8 federation jobs
  jobs/config.json
  jobs/env/ci-kubernetes-e2e-gce-federation-release-1-8.env
  prow/config.yaml
  testgrid/config.yaml
Labels: approved, area/jobs, area/prow, cncf-cla: yes, lgtm, size/M

#9076 Use IPVS is 5k-node scalability test
  config/jobs/kubernetes/sig-scalability/sig-scalability-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9072 Require travis-ci status for external-snapshotter repo
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9069 fix some duplicated testgrid entries, update unit test
  testgrid/cmd/configurator/BUILD.bazel
  testgrid/cmd/configurator/config_test.go
  testgrid/config.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, ¯\_(ツ)_/¯

#9077 clean up 1.8 presubmit jobs
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-aws/sig-aws-presubmits.yaml
  prow/config.yaml
Labels: approved, area/config, area/prow, cncf-cla: yes, lgtm, size/XL

#9034 Add bazel release-1.12 jobs and add release-1.12 testgrid dashboards.
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, size/L

#9080 deck: improve error logging
  prow/cmd/deck/main.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9081 make k/k url template test optional
  config/tests/jobs/jobs_test.go
Labels: approved, area/config, cncf-cla: yes, lgtm, size/S, ¯\_(ツ)_/¯

#8990 Add kind/api-change as org-wide kind/ label, merge in kind/new-api
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/architecture, sig/contributor-experience, size/XS

#9084 Kubemark: Use Taint based evictions.
  config/jobs/kubernetes/sig-scalability/sig-scalability-config.yaml
  jobs/env/ci-kubernetes-e2e-kubemark-common.env
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9083 Don't gather logs sizes in ci-kubernetes-e2e-gci-gce-scalability.
  config/jobs/kubernetes/sig-scalability/sig-scalability-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9067 Auto generate testgrid tab names for release dashboards
  experiment/BUILD.bazel
  experiment/fix_testgrid_config.py
  testgrid/config.yaml
Labels: approved, area/so-crazy-it-just-might-work, area/testgrid, cncf-cla: yes, lgtm, size/XXL

#9087 Merge kind/old-docs into kind/documentation
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#9088 add some more log entries for gerrit
  prow/gerrit/gerrit.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9092 LGTM in `kubernetes/cloud-provider-azure` should act as `/approve`
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/azure, size/XS

#9093 splitN on configs, and don't panic if cannot split
  prow/cmd/mkpj/main.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9085 Adding clusterloader2 to kubetest
  kubetest/e2e.go
  kubetest/main.go
Labels: approved, area/config, cncf-cla: yes, lgtm, size/S

#9099 bump node-kubelet job versions for 1.12
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  jobs/e2e_node/image-config-1-11.yaml
  jobs/e2e_node/image-config-1-7.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/M

#9090 Add couple repos to tide
  prow/config.yaml
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9101 Enable couple plugins for dns, ingress-gce and masq-agent
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9054 Apply label_sync to all managed kubernetes orgs
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#9104 Sonobuoy runs fewer tests for conformance, we will match
  config/jobs/kubernetes/sig-gcp/gce-conformance.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/architecture, sig/gcp, sig/testing, size/S

#9100 Add Chinese docs repo to tide, approve, blunderbuss
  prow/config.yaml
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9106 Kubetest - Removing perftest flags
  kubetest/e2e.go
  kubetest/main.go
  scenarios/kubernetes_e2e_test.py
Labels: approved, cncf-cla: yes, lgtm, size/S

#9107 Adding clusterloader2 job
  config/jobs/kubernetes/sig-scalability/sig-scalability-config.yaml
  testgrid/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/M

#9108 Fixing clusterloader job definitions
  config/jobs/kubernetes/sig-scalability/sig-scalability-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9109 Fix GKE scalability job configs
  config/jobs/kubernetes/sig-scalability/sig-scalability-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/S

#9103 split gpu jobs to their own configs
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-gcp/gpu/OWNERS
  config/jobs/kubernetes/sig-gcp/gpu/sig-gcp-gpu-autoscaling.yaml
  config/jobs/kubernetes/sig-gcp/gpu/sig-gcp-gpu-gce.yaml
  config/jobs/kubernetes/sig-gcp/gpu/sig-gcp-gpu-gke.yaml
  config/jobs/kubernetes/sig-gcp/gpu/sig-gcp-gpu-presubmit.yaml
  config/jobs/kubernetes/sig-gcp/gpu/sig-gcp-gpu-upgrade-downgrade.yaml
  jobs/config.json
  prow/config.yaml
Labels: approved, area/config, area/jobs, area/prow, cncf-cla: yes, lgtm, size/XXL

#9110 cleanup some prow config nits
  prow/config.yaml
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/M

#9097 Add a configuration validation entrypoint
  prow/BUILD.bazel
  prow/Makefile
  prow/README.md
  prow/cmd/checkconfig/BUILD.bazel
  prow/cmd/checkconfig/Dockerfile
  prow/cmd/checkconfig/OWNERS
  prow/cmd/checkconfig/README.md
  prow/cmd/checkconfig/main.go
Labels: approved, area/prow, cncf-cla: yes, kind/feature, lgtm, size/L

#9105 initial setup for kubernetes/cluster-api-provider-vsphere
  prow/config.yaml
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9094 migrate rest of sig-testing jobs to config/jobs
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-node/local-e2e-containerized.yaml
  config/jobs/kubernetes/sig-testing/dind.yaml
  config/jobs/kubernetes/sig-testing/local-e2e.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
  jobs/config.json
  prow/config.yaml
Labels: approved, area/config, area/jobs, area/prow, cncf-cla: yes, lgtm, size/XXL

#9119 Update gce conformance jobs
  config/jobs/kubernetes/sig-gcp/gce-conformance.yaml
  testgrid/config.yaml
Labels: approved, area/config, cncf-cla: yes, kind/cleanup, lgtm, sig/gcp, size/L

#9116 correct conformance testing instructions
  testgrid/conformance/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9086 Add k/utils to tide, turn on approve and blunderbuss
  prow/config.yaml
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9111 Setup automation for kubernetes-incubator/kubespray
  prow/config.yaml
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9124 Revert "Use IPVS is 5k-node scalability test"
  config/jobs/kubernetes/sig-scalability/sig-scalability-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9127 Link all plugins into the checkconfig binary
  prow/cmd/checkconfig/BUILD.bazel
  prow/cmd/checkconfig/main.go
Labels: approved, area/prow, cncf-cla: yes, kind/bug, lgtm, size/XS

#9046 Add merge conflict status and merge blocking issue alerting to PR dashboard
  prow/cmd/deck/static/pr-script.js
  prow/cmd/deck/static/pr.html
  prow/cmd/deck/static/style.css
  prow/prstatus/prstatus.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/L, ¯\_(ツ)_/¯

#8991 Initial prowjob informer framework
  prow/BUILD.bazel
  prow/Makefile
  prow/apis/prowjobs/v1/types.go
  prow/cmd/crier/BUILD.bazel
  prow/cmd/crier/Dockerfile
  prow/cmd/crier/main.go
  prow/crier/BUILD.bazel
  prow/crier/controller.go
  prow/plank/controller.go
  prow/test/data/kubernetes-defaulted-decoration-prow-job.yaml
  prow/test/data/kubernetes-explicit-decoration-prow-job.yaml
  prow/test/data/kubernetes-no-decoration-prow-job.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/L, ¯\_(ツ)_/¯

#9089 Merge kind/technical-debt, kind/friction into kind/cleanup
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS, ¯\_(ツ)_/¯

#9129 add 1.12 branch manager shadows to auth list
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9133 Create kubernetes/org presubmit
  config/jobs/kubernetes/org/OWNERS
  config/jobs/kubernetes/org/kubernetes-org-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/S
