Repository kubernetes/test-infra, pull requests merged in 2018-11, with the labels that each got.

#9992 Fix typo in recreate_prow_configmaps script
  experiment/maintenance/recreate_prow_configmaps.py
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9995 Fix test-grid config for cluster-api-provider-aws/test-creds
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, size/XS

#9904 Improve Pod Util config defaulting and validate all decorated jobs.
  prow/apis/prowjobs/v1/BUILD.bazel
  prow/apis/prowjobs/v1/types.go
  prow/apis/prowjobs/v1/types_test.go
  prow/apis/prowjobs/v1/zz_generated.deepcopy.go
  prow/config/config.go
  prow/config/config_test.go
  prow/gcsupload/options.go
  prow/pod-utils/decorate/podspec.go
  prow/pod-utils/decorate/podspec_test.go
  prow/test/data/kubernetes-explicit-decoration-prow-job.yaml
Labels: approved, area/prow, area/prow/gcsupload, area/prow/pod-utilities, cncf-cla: yes, kind/bug, lgtm, size/XL

#9994 Update branchprotector and label_sync crons to hourly
  label_sync/cluster/label_sync_cron_job.yaml
  prow/cluster/branchprotector_cronjob.yaml
Labels: approved, area/label_sync, area/prow, cncf-cla: yes, lgtm, size/XS, ¯\_(ツ)_/¯

#9976 adding prow configuration for aws-alb-ingress-controller
  config/jobs/kubernetes-sigs/aws-alb-ingress-controller/OWNERS
  config/jobs/kubernetes-sigs/aws-alb-ingress-controller/aws-alb-ingress-controller-presubmits.yaml
  prow/plugins.yaml
  testgrid/cmd/configurator/config_test.go
  testgrid/config.yaml
Labels: approved, area/config, area/prow, area/testgrid, cncf-cla: yes, lgtm, size/M

#9997 add a periodic job for verifying manifest lists
  config/jobs/kubernetes/sig-cluster-lifecycle/manifests.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/jobs, area/testgrid, cncf-cla: yes, kind/feature, lgtm, size/S

#9999 don't try to authenticate GCS when flag is unset
  prow/cmd/deck/main.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, size/XS

#10000 split hack/local-up-cluster.sh to it's own conformance dashboard
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, kind/cleanup, lgtm, size/XS, ¯\_(ツ)_/¯

#10006 fix reference to prow doc
  README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9985 Add a canary coverage job for e2e tests
  config/jobs/kubernetes/sig-testing/coverage.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, size/M

#9959 Demote gke jobs from release-blocking
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, kind/cleanup, lgtm, sig/gcp, sig/release, size/L

#10008 testgrid alert cleanup
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, size/M

#10017 Update rules_go to 0.16.1, gazelle to 0.15.0, and go to 1.11.1.
  Gopkg.lock
  Gopkg.toml
  WORKSPACE
  vendor/BUILD.bazel
  vendor/github.com/bazelbuild/bazel-gazelle/cmd/gazelle/BUILD.bazel
  vendor/github.com/bazelbuild/bazel-gazelle/cmd/gazelle/diff.go
  vendor/github.com/bazelbuild/bazel-gazelle/cmd/gazelle/fix-update.go
  vendor/github.com/bazelbuild/bazel-gazelle/cmd/gazelle/fix.go
  vendor/github.com/bazelbuild/bazel-gazelle/cmd/gazelle/gazelle.go
  vendor/github.com/bazelbuild/bazel-gazelle/cmd/gazelle/print.go
  vendor/github.com/bazelbuild/bazel-gazelle/internal/config/config.go
  vendor/github.com/bazelbuild/bazel-gazelle/internal/language/go/known_go_imports.go
  vendor/github.com/bazelbuild/bazel-gazelle/internal/language/go/known_proto_imports.go
  vendor/github.com/bazelbuild/bazel-gazelle/internal/language/go/resolve.go
  vendor/github.com/bazelbuild/bazel-gazelle/internal/language/proto/known_imports.go
  vendor/github.com/bazelbuild/bazel-gazelle/internal/language/proto/resolve.go
  vendor/github.com/bazelbuild/bazel-gazelle/internal/repos/BUILD.bazel
  vendor/github.com/bazelbuild/bazel-gazelle/internal/repos/modules.go
  vendor/github.com/bazelbuild/bazel-gazelle/internal/repos/repo.go
  vendor/github.com/bazelbuild/bazel-gazelle/internal/resolve/BUILD.bazel
  vendor/github.com/bazelbuild/bazel-gazelle/internal/resolve/config.go
  vendor/github.com/bazelbuild/bazel-gazelle/internal/resolve/index.go
  vendor/github.com/bazelbuild/bazel-gazelle/internal/walk/config.go
  vendor/github.com/bazelbuild/bazel-gazelle/internal/walk/walk.go
  vendor/github.com/pmezard/go-difflib/LICENSE
  vendor/github.com/pmezard/go-difflib/difflib/BUILD.bazel
  vendor/github.com/pmezard/go-difflib/difflib/difflib.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#9986 Allow build controller to schedule/watch builds in any cluster context
  prow/cmd/build/BUILD.bazel
  prow/cmd/build/controller.go
  prow/cmd/build/controller_test.go
  prow/cmd/build/main.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/L

#10020 try to commit the svg verison of architecture diagram
  prow/docs/architecture.png
  prow/docs/architecture.svg
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9987 Update anywhere.go
  kubetest/anywhere.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, size/XS

#10029 Add preset-k8s-ssh to the GCE windows test job
  config/jobs/kubernetes/sig-gcp/sig-gcp-windows.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#10030 Temporarily increase the job running frequency
  config/jobs/kubernetes/sig-gcp/sig-gcp-windows.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#10027 prow: update blocked paths for k/community
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#10024 Don't exclude the `needs-ok-to-test` label for merge
  prow/config.yaml
  prow/plugins/trigger/ic_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/S

#10035 Check out kubernetes/release repo in the GCE windows job
  config/jobs/kubernetes/sig-gcp/sig-gcp-windows.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#10034 Add Kubectl tests back into coverage-conformance job
  config/jobs/kubernetes/sig-testing/coverage.yaml
Labels: approved, area/config, cncf-cla: yes, kind/cleanup, lgtm, size/XS

#10039 Fix the path to the e2e script for the GCE windows job
  config/jobs/kubernetes/sig-gcp/sig-gcp-windows.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#10032 make bazel rule for mkpj to work for splitted config files
  config/BUILD.bazel
  prow/build_test_update.md
  prow/cmd/mkpj/BUILD.bazel
Labels: approved, area/config, area/prow, area/prow/mkpj, cncf-cla: yes, lgtm, size/M

#10038 Update to rules_go 0.16.2 and go 1.11.2
  WORKSPACE
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10041 remove serial tests from netd testgrid.
  config/jobs/kubernetes/sig-network/ci-e2e-gce-netd.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, size/M

#10045 chore(peribolos): nit fix
  prow/cmd/peribolos/main.go
Labels: approved, area/prow, area/prow/peribolos, cncf-cla: yes, lgtm, needs-ok-to-test, size/S

#9917 Expose the Tide status in Deck in starter.yaml
  prow/cluster/starter.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#10019 New config to restrict trusted users for sticky LGTM
  prow/github/fakegithub/fakegithub.go
  prow/plugins/lgtm/BUILD.bazel
  prow/plugins/lgtm/lgtm.go
  prow/plugins/lgtm/lgtm_test.go
  prow/plugins/plugins.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/M

#10053 set security repo jobs to authenticated gcs viewer
  config/tests/jobs/jobs_test.go
  prow/config.yaml
Labels: approved, area/config, area/prow, cncf-cla: yes, lgtm, size/S

#10054 config/jobs/kubernetes/sig-aws/eks: do not use GCE SSH
  config/jobs/kubernetes/sig-aws/eks/k8s-aws-eks-1.10.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#10046 bug(peribolos): normalize teammembers before diff with normalized wan…
  prow/cmd/peribolos/main.go
  prow/cmd/peribolos/main_test.go
Labels: approved, area/prow, area/prow/peribolos, cncf-cla: yes, lgtm, size/S

#10057 config/jobs/kubernetes/sig-aws/eks: pass empty "gce-ssh" for non-GCE jobs
  config/jobs/kubernetes/sig-aws/eks/k8s-aws-eks-1.10.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#10064 config/jobs/kubernetes/sig-aws-eks: bump up image to v20181106-9fd606c0b-master
  config/jobs/kubernetes/sig-aws/eks/k8s-aws-eks-1.10.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#10052 Switch MiniGo C++ test to same image as python test.
  config/jobs/tensorflow/minigo/minigo.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/M

#10067 kubetest/eks: do not delete binaries on "Down" call, switch EKS jobs to latest "kubekins-e2e"
  config/jobs/kubernetes/sig-aws/eks/k8s-aws-eks-1.10.yaml
  kubetest/eks/eks.go
Labels: approved, area/config, cncf-cla: yes, lgtm, size/S

#9993 bump release version to 1.13
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
  config/jobs/kubernetes/sig-testing/integration.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, size/S

#10021 fix Spyglass -> job history link & add tests
  prow/spyglass/BUILD.bazel
  prow/spyglass/spyglass.go
  prow/spyglass/spyglass_test.go
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, size/L

#10070 Support extra node pool args in gke shape.
  kubetest/gke.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#10072 Always pull latest bazel image
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#10069 Add osconfig-tests tab to google-gce-compute-image-tools
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, size/S

#10074 Use go 1.11 for containerd code verify test in master branch.
  config/jobs/containerd/cri/containerd-cri-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/S

#10073 Use gcr.io/k8s-testimages/gcloud-bazel:v20181107-d88dbbf
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#10061 Remove unnecessary 'else{}'
  ghclient/core.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10077 Update prow to v20181108-54398d2
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/M

#10076 remove dead code / cleanup repo
  BUILD.bazel
  autogo/BUILD.bazel
  autogo/README.md
  autogo/def.bzl
  autogo/deps.bzl
  autogo/shadow.go
  autogo/shadow_test.go
  dind/Makefile
  dind/README.md
  dind/base/Dockerfile
  dind/base/Makefile
  dind/base/daemon.json
  dind/base/docker.service
  dind/build-cluster.sh
  dind/build-node.sh
  dind/cluster/Dockerfile
  dind/cluster/Makefile
  dind/cmd/cluster-up/BUILD.bazel
  dind/cmd/cluster-up/main.go
  dind/dind-test.sh
  dind/dind-up.sh
  dind/init-wrapper.sh
  dind/node/Dockerfile
  dind/node/Makefile
  dind/pkg/cluster-up/cluster/BUILD.bazel
  dind/pkg/cluster-up/cluster/cluster.go
  dind/pkg/cluster-up/options/BUILD.bazel
  dind/pkg/cluster-up/options/options.go
  dind/pkg/cluster-up/options/options_test.go
  dind/start.sh
  kind/README.md
  kind/docs/README.md
  kubetest/BUILD.bazel
  kubetest/build.go
  kubetest/dind/BUILD.bazel
  kubetest/dind/dind.go
  kubetest/dind/util.go
  kubetest/e2e.go
  kubetest/main.go
  maintenance/oncall.html
  robots/coverage/docs/adoption.md
  robots/coverage/docs/design.md
  third_party/moby/LICENSE
  third_party/moby/dind
  third_party/moby/dockerd-entrypoint.sh
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#10028 Add CSIDriverRegistry test to pull-kubernetes-e2e-gce-alpha-features
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-gcp/sig-gcp-gce-config.yaml
Labels: approved, area/config, area/prow, area/prow/peribolos, cncf-cla: yes, lgtm, size/XS

#10079 config/jobs/kubernetes/sig-aws/eks: bump up EKS plugin version
  config/jobs/kubernetes/sig-aws/eks/k8s-aws-eks-1.10.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#10066 hide the show all button if nothing's left to show
  prow/cmd/deck/static/spyglass/spyglass.ts
  prow/spyglass/viewers/buildlog/buildlog_template.go
Labels: approved, area/prow, area/prow/deck, area/prow/spyglass, cncf-cla: yes, lgtm, size/S, ¯\_(ツ)_/¯

#10075 make gerrit report label customizable
  prow/gerrit/client/client.go
  prow/gerrit/reporter/BUILD.bazel
  prow/gerrit/reporter/reporter.go
  prow/gerrit/reporter/reporter_test.go
Labels: approved, area/prow, area/prow/gerrit, cncf-cla: yes, lgtm, size/L

#10084 add Katharine to spyglass and coverage approvers
  prow/spyglass/OWNERS
  robots/coverage/OWNERS
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, size/XS

#10082 more repo cleanup
  .project
  BUILD.bazel
  WORKSPACE
  commands.md
  def/image.bzl
  def/test_infra.bzl
  hack/.kazelcfg.json
  hack/update-bazel.sh
  hack/verify-bazel.sh
  maintenance/migratestatus/migrator/BUILD.bazel
  maintenance/migratestatus/migrator/migrator.go
  pkg/README.md
  pkg/flagutil/BUILD.bazel
  pkg/flagutil/flagutil.go
  pkg/ghclient/BUILD.bazel
  pkg/ghclient/core.go
  pkg/ghclient/core_test.go
  pkg/ghclient/wrappers.go
  pkg/ghclient/wrappers_test.go
  prow/BUILD.bazel
  prow/cmd/hook/BUILD.bazel
  prow/cmd/hook/main.go
  prow/cmd/jenkins-operator/BUILD.bazel
  prow/cmd/jenkins-operator/main.go
  prow/cmd/phony/examples/.gitattributes
  prow/cmd/plank/BUILD.bazel
  prow/cmd/plank/main.go
  prow/cmd/tide/BUILD.bazel
  prow/cmd/tide/main.go
  prow/def.bzl
  prow/external-plugins/cherrypicker/BUILD.bazel
  prow/external-plugins/cherrypicker/main.go
  prow/external-plugins/needs-rebase/BUILD.bazel
  prow/external-plugins/needs-rebase/main.go
  prow/external-plugins/refresh/BUILD.bazel
  prow/external-plugins/refresh/main.go
  prow/flagutil/BUILD.bazel
  prow/flagutil/kubernetes_test.go
  prow/githuboauth/BUILD.bazel
  prow/githuboauth/githuboauth.go
  prow/prstatus/BUILD.bazel
  prow/prstatus/prstatus.go
  prow/prstatus/prstatus_test.go
  robots/issue-creator/creator/BUILD.bazel
  robots/issue-creator/creator/creator.go
  testgrid/images/BUILD.bazel
Labels: approved, area/prow, area/prow/hook, area/prow/jenkins-operator, area/prow/phony, area/prow/plank, area/prow/tide, area/testgrid, cncf-cla: yes, lgtm, size/L

#10086 Add function names for some comments
  velodrome/fetcher/client.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10088 retire check_project.py
  jenkins/check_projects.py
Labels: approved, cncf-cla: yes, lgtm, size/L

#10087 add a deprecation notice to bootstrap.py
  jenkins/bootstrap.py
Labels: approved, cncf-cla: yes, lgtm, size/XS, ¯\_(ツ)_/¯

#10092 Fix some typos
  boskos/common/common.go
  kubetest/eks/eks.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, ok-to-test, size/XS

#9954 Add presubmit jobs for Cluster API DO provider
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/OWNERS
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-presubmits.yaml
  prow/config.yaml
  prow/plugins.yaml
  testgrid/cmd/configurator/config_test.go
  testgrid/config.yaml
Labels: approved, area/config, area/prow, area/testgrid, cncf-cla: yes, lgtm, size/M

#10078 Rename ic and pr go files
  prow/plugins/trigger/BUILD.bazel
  prow/plugins/trigger/issue-comment.go
  prow/plugins/trigger/pull-request.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10094 bump.sh --list by default, sort by timestamp
  prow/bump.sh
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/S

#10096 move warning down :-\
  jenkins/bootstrap.py
Labels: approved, cncf-cla: yes, lgtm, size/S

#10091 fix logging calls
  logexporter/cmd/main.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#9964 add pipeline entry to kubeflow
  config/jobs/kubeflow/kubeflow-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/M

#10099 enable owners-label for k/website
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#10098 Fix clonerefs duplicate ref bug and add unit tests.
  prow/clonerefs/BUILD.bazel
  prow/clonerefs/run.go
  prow/clonerefs/run_test.go
  prow/cmd/build/controller.go
  prow/pod-utils/clone/clone.go
  prow/pod-utils/clone/clone_test.go
  prow/pod-utils/clone/types.go
  prow/pod-utils/decorate/podspec.go
Labels: approved, area/prow, area/prow/clonerefs, area/prow/pod-utilities, cncf-cla: yes, lgtm, size/L

#10101 Create prow/deploy.sh, run at every commit
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  prow/deploy.sh
  testgrid/config.yaml
Labels: approved, area/config, area/prow, area/testgrid, cncf-cla: yes, lgtm, size/L

#10102 Bump prow to v20181108-7d03d9e
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/M

#10105 Set namespace on resources
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/cert-manager.yaml
  prow/cluster/cluster-issuer.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_rbac.yaml
  prow/cluster/deck_service.yaml
  prow/cluster/gce-ssd-retain_storageclass.yaml
  prow/cluster/ghproxy_deployment.yaml
  prow/cluster/ghproxy_service.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/hook_rbac.yaml
  prow/cluster/hook_service.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/horologium_rbac.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/needs-rebase_service.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/plank_rbac.yaml
  prow/cluster/pushgateway_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/sinker_rbac.yaml
  prow/cluster/starter.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tide_rbac.yaml
  prow/cluster/tide_service.yaml
  prow/cluster/tls-ing_ingress.yaml
  prow/cluster/tot_deployment.yaml
  prow/cluster/tot_service.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/M

#10104 prevent nil deref in Spyglass
  prow/spyglass/spyglass.go
  prow/spyglass/spyglass_test.go
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, ok-to-test, size/M

#10109 bump prow
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, size/M

#10103 disable automagical service account token for decorated jobs
  prow/ANNOUNCEMENTS.md
  prow/pod-utils/decorate/podspec.go
  prow/pod-utils/decorate/podspec_test.go
Labels: approved, area/prow, area/prow/pod-utilities, cncf-cla: yes, lgtm, size/M

#10117 AWS: re-enable zones previously affected by c4 capacity
  scenarios/kubernetes_e2e.py
Labels: approved, cncf-cla: yes, lgtm, size/M

#10116 Exclude regions where we have no quota
  scenarios/kubernetes_e2e.py
Labels: cncf-cla: yes, lgtm, size/S

#10111 Depetrify the cats.
  prow/plugins/cat/cat.go
  prow/plugins/cat/cat_test.go
Labels: approved, area/prow, cncf-cla: yes, kind/bug, lgtm, size/L

#10119 OAuth: Handle errors in redirect when passed by GitHub
  prow/githuboauth/githuboauth.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, needs-ok-to-test, size/S

#10120 Bump Prow to 'v20181109-1a84354'.
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/M

#10107 Confirm human prow deployments
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  prow/deploy.sh
Labels: approved, area/config, area/prow, cncf-cla: yes, lgtm, size/S

#10124 testgrid: add missing 1.12-1.13 upgrade test
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, size/XS

#10037 fix custom sorting fns in pr dashboard
  gubernator/static/pr.js
Labels: approved, area/gubernator, cncf-cla: yes, lgtm, size/XS

#10126 prevent seg fault if Gerrit auth fails
  prow/gerrit/client/client.go
Labels: approved, area/prow, area/prow/gerrit, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10049 Enable v1.13 code slush.
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/release, size/S

#10112 Fix typo
  prow/plugins/approve/approvers/owners.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, size/XS, ¯\_(ツ)_/¯

#9942 Add NodeLease e2e tests to gci-gce-alpha-features ci tests
  config/jobs/kubernetes/sig-gcp/sig-gcp-gce-config.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, size/XS

#10003 Change pd csi job to be stable
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-postsubmits.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, size/S

#10132 Fix 48 typos
  config/tests/jobs/jobs_test.go
  greenhouse/main.go
  images/bootstrap/create_bazel_cache_rcs.sh
  kettle/stream.py
  kubetest/azure.go
  kubetest/kubeadmdind/kubeadm_dind.go
  kubetest/main.go
  kubetest/util/util.go
  maintenance/aws-janitor/main.go
  prow/clonerefs/run.go
  prow/cmd/build/controller.go
  prow/cmd/deck/main.go
  prow/cmd/deck/static/prow/prow.ts
  prow/cmd/gerrit/README.md
  prow/cmd/peribolos/main_test.go
  prow/cmd/tide/main.go
  prow/config/config.go
  prow/config/jobs.go
  prow/config/jobs_test.go
  prow/def.bzl
  prow/genfiles/genfiles_test.go
  prow/github/fakegithub/fakegithub.go
  prow/jenkins/jenkins.go
  prow/plugins/approve/approvers/owners.go
  prow/plugins/milestonestatus/milestonestatus_test.go
  prow/plugins/sigmention/sigmention_test.go
  prow/plugins/trigger/generic-comment_test.go
  prow/scaling.md
  prow/spyglass/gcsartifact_test.go
  robots/coverage/docs/design.md
  testgrid/cmd/updater/main.go
  triage/model.js
  triage/summarize_test.py
Labels: approved, area/config, area/greenhouse, area/prow, area/prow/clonerefs, area/prow/deck, area/prow/gerrit, area/prow/jenkins-operator, area/prow/peribolos, area/prow/pod-utilities, area/prow/spyglass, area/prow/tide, area/testgrid, cncf-cla: yes, lgtm, size/M

#10012 Add multiple issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/enhancement.md
Labels: approved, cncf-cla: yes, lgtm, size/M

#10127 Add build_spec to job base
  prow/config/BUILD.bazel
  prow/config/config.go
  prow/config/config_test.go
  prow/config/jobs.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XL

#10095 OAuth: Invalidate GH session on failures instead of server errors
  prow/prstatus/BUILD.bazel
  prow/prstatus/prstatus.go
  prow/prstatus/prstatus_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, size/M

#10122 deck: don't show tabs for disabled sections.
  prow/cmd/deck/main.go
  prow/cmd/deck/template/base.html
  prow/cmd/deck/templates.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, kind/bug, lgtm, size/M

#10133 Omit node_modules from verify-spelling.sh.
  hack/verify-spelling.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10131 increase the kubelet serial test timeout
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/node, size/XS

#10134 Introduce -parallel form for gce-new-master-upgrade-master
  config/jobs/kubernetes/sig-cluster-lifecycle/k8s-upgrade-gce.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, size/M

#10113 Fix lint prowjob for cluster-api-provider-digitalocean
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#10130 Fix spell error: confguration->configuration
  boskos/mason/README.md
Labels: approved, area/boskos, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10136 Spyglass log viewer: handle bash formatting control sequences
  prow/cmd/deck/static/spyglass/spyglass.ts
  prow/spyglass/viewers/buildlog/buildlog_template.go
Labels: approved, area/prow, area/prow/deck, area/prow/spyglass, cncf-cla: yes, lgtm, ok-to-test, size/M

#10142 skip gcePD-external tests in alpha features job
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-gcp/sig-gcp-gce-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#10143 Enable prow and approve plugins for klog
  prow/config.yaml
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#10137 Add configuration to ignore /ok-to-test comment
  prow/plugins/plugins.go
  prow/plugins/trigger/BUILD.bazel
  prow/plugins/trigger/generic-comment.go
  prow/plugins/trigger/generic-comment_test.go
  prow/plugins/trigger/pull-request.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/L

#10148 Update branch manager whitelist
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#10150 Enable --v=4 for request.go to trace request throttling.
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#10147 Improve Slack merge warning messages (again)
  prow/github/types.go
  prow/plugins/slackevents/slackevents.go
  prow/plugins/slackevents/slackevents_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/M

#10144 Bump image validation serial test timeout
  config/jobs/kubernetes/generated/generated.yaml
  experiment/test_config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/L

#10145 Split gce-stable1-beta-upgrade jobs into serial and parallel jobs.
  config/jobs/kubernetes/sig-cluster-lifecycle/k8s-upgrade-gce.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, size/M

#10158 document spyglass flag
  prow/spyglass/README.md
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, needs-ok-to-test, size/XS

#10159 Fix the rerun copy button
  prow/cmd/deck/static/prow/prow.ts
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, kind/bug, lgtm, size/S

#10160 Fix a missing quote
  prow/cmd/deck/static/prow/prow.ts
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, kind/bug, lgtm, size/XS, ¯\_(ツ)_/¯

#10163 Add NodeLease e2e tests to GKE CI tests
  config/jobs/gke/containerd/gke-test-containerd.yaml
  config/jobs/kubernetes/sig-gcp/sig-gcp-gke-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#10161 List repos when org protection is configured
  prow/cmd/branchprotector/protect.go
  prow/cmd/branchprotector/protect_test.go
  prow/config/branch_protection.go
Labels: approved, area/prow, area/prow/branchprotector, cncf-cla: yes, lgtm, size/L

#10166 Remove --ginkgo-parallel for NodeLease e2e tests
  config/jobs/gke/containerd/gke-test-containerd.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9825 Create ConfigMaps when they don't already exist
  prow/ANNOUNCEMENTS.md
  prow/cluster/hook_rbac.yaml
  prow/plugins/updateconfig/updateconfig.go
  prow/plugins/updateconfig/updateconfig_test.go
Labels: approved, area/prow, cncf-cla: yes, kind/bug, lgtm, size/L

#10151 Add cloud-provider-aws prow and testgrid config
  config/jobs/kubernetes/cloud-provider-aws/OWNERS
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-config.yaml
  prow/plugins.yaml
  testgrid/cmd/configurator/config_test.go
  testgrid/config.yaml
Labels: approved, area/config, area/prow, area/testgrid, cncf-cla: yes, kind/feature, lgtm, sig/aws, sig/cloud-provider, size/M

#10162 Make the Tide dashboard show PR titles on hover.
  prow/cmd/deck/static/api/tide.ts
  prow/cmd/deck/static/tide/tide.ts
  prow/tide/tide.go
Labels: approved, area/prow, area/prow/deck, area/prow/tide, cncf-cla: yes, lgtm, size/M

#10154 Add --latest option to bump.sh
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  prow/bump.sh
Labels: approved, area/config, area/prow, cncf-cla: yes, lgtm, size/M

#10156 Update merge requirements for 1.13 code freeze.
  prow/config.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release

#10171 Extend containerd serial test timeout.
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#10175 bump planter to 0.18.1
  planter/Makefile
  planter/planter.sh
Labels: approved, area/planter, cncf-cla: yes, lgtm, size/XS

#10174 Following fields have been renamed ExistingLabels --> RepoLabelsExist…
  prow/external-plugins/needs-rebase/plugin/plugin_test.go
  prow/github/fakegithub/fakegithub.go
  prow/plugins/approve/approve_test.go
  prow/plugins/blockade/blockade_test.go
  prow/plugins/cla/cla_test.go
  prow/plugins/help/help_test.go
  prow/plugins/hold/hold_test.go
  prow/plugins/label/label.go
  prow/plugins/label/label_test.go
  prow/plugins/lgtm/lgtm_test.go
  prow/plugins/milestonestatus/milestonestatus_test.go
  prow/plugins/owners-label/owners-label.go
  prow/plugins/owners-label/owners-label_test.go
  prow/plugins/releasenote/releasenote_test.go
  prow/plugins/require-matching-label/require-matching-label_test.go
  prow/plugins/requiresig/requiresig_test.go
  prow/plugins/shrug/shurg_test.go
  prow/plugins/sigmention/sigmention.go
  prow/plugins/sigmention/sigmention_test.go
  prow/plugins/trigger/generic-comment_test.go
  prow/plugins/verify-owners/verify-owners_test.go
  prow/plugins/wip/wip-label_test.go
Labels: approved, area/boskos, area/config, area/gubernator, area/prow, area/prow/branchprotector, area/prow/deck, area/prow/spyglass, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XL

#10152 Enable CSIDriverRegistry feature tests.
  config/jobs/kubernetes/sig-gcp/sig-gcp-gce-config.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing

#10167 sig-gcp-windows: bump the job interval
  config/jobs/kubernetes/sig-gcp/sig-gcp-windows.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#10177 kubeadm: Trigger kubeadm PR test when kubelet setup or bootstrapping changes
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/S

#10182 Bump prow to v20181119-ffa9de5
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/M

#10190 Download repo-list in test setup for Azure and acs-engine tests.
  kubetest/azure.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#10193 gubernator: remove duplicate boilerplate header
  gubernator/github_auth.py
Labels: approved, area/gubernator, cncf-cla: yes, kind/cleanup, lgtm, size/S

#10194 Add staging repo config for node-api
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#10184 enable Gerrit adapter to trigger postsubmit jobs
  prow/cmd/gerrit/README.md
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
  prow/gerrit/client/client.go
  prow/gerrit/client/client_test.go
Labels: approved, area/prow, area/prow/gerrit, cncf-cla: yes, lgtm, ok-to-test, size/L

#10192 Migrate the migratestatus tool to use Prow's GitHub Client
  maintenance/migratestatus/BUILD.bazel
  maintenance/migratestatus/migratestatus.go
  maintenance/migratestatus/migrator/BUILD.bazel
  maintenance/migratestatus/migrator/migrator.go
  maintenance/migratestatus/migrator/migrator_test.go
  prow/github/client.go
  prow/github/types.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XL

#10050 Lint suggest changes
  prow/plugins/golint/BUILD.bazel
  prow/plugins/golint/golint.go
  prow/plugins/golint/golint_test.go
  prow/plugins/golint/suggestion/BUILD.bazel
  prow/plugins/golint/suggestion/golint_suggestion.go
  prow/plugins/golint/suggestion/golint_suggestion_test.go
Labels: approved, area/prow, cncf-cla: yes, kind/feature, lgtm, ok-to-test, size/L

#10196 run unit tests with kubebuilder
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/S

#10200 revert PR10196 and call ci-test.sh in args
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/S

#10195 Adding istio-integ-k8s-tests to testgrid
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, size/S

#10205 Fix 2 typos
  planter/README.md
  prow/gerrit/README.md
Labels: approved, area/planter, area/prow, area/prow/gerrit, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10207 add a new test suit for pipeline
  config/jobs/kubeflow/kubeflow-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, size/S

#10210 Use custom lint image for cluster-api-provider-digitalocean
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/S

#10213 Add verify_boilerplate to check-pr.sh
  hack/check-pr.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10211 Add sample test v2 for kubeflow pipeline
  config/jobs/kubeflow/kubeflow-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, needs-ok-to-test, size/S

#10212 Move config save bucket for soak tests.
  config/jobs/kubernetes/sig-gcp/sig-gcp-gce-config.yaml
  config/jobs/kubernetes/sig-gcp/sig-gcp-gke-config.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/S

#10217 Re-add "Check APIReachability" to kubetest
  kubetest/e2e.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#10218 bump kubekins-test to 1.10-latest for pull-heapster-e2e
  images/heapster/Dockerfile
  images/heapster/Makefile
  scenarios/kubernetes_heapster.py
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10223 Update pod-utilities.md
  prow/pod-utilities.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#10224 [pod utilities] init submodules after checkout & merge
  prow/pod-utils/clone/clone.go
  prow/pod-utils/clone/clone_test.go
Labels: approved, area/prow, area/prow/pod-utilities, cncf-cla: yes, lgtm, size/M

#10221 Lint suggest code change for stutters
  prow/plugins/golint/golint_test.go
  prow/plugins/golint/suggestion/golint_suggestion.go
  prow/plugins/golint/suggestion/golint_suggestion_test.go
Labels: approved, area/prow, cncf-cla: yes, kind/feature, lgtm, ok-to-test, size/M

#10234 spyglass: prevent slice from going out of bounds
  prow/spyglass/spyglass.go
  prow/spyglass/spyglass_test.go
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, ok-to-test, size/XS

#10187 prow: make PR status dashboard setup docs more discoverable
  prow/docs/pr_status_setup.md
  prow/getting_started_deploy.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#10236 bump timeout for soak job a bit more
  config/jobs/kubernetes/sig-gcp/sig-gcp-gce-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/S

#10199 take in exist labels for gerrit jobs :-\
  prow/gerrit/adapter/adapter.go
Labels: approved, area/prow, area/prow/gerrit, cncf-cla: yes, lgtm, size/S

#10237 Move repos to kubernetes-sigs
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/S

#10235 Fix anonymous authentication for gerrit client
  prow/gerrit/client/client.go
Labels: approved, area/prow, area/prow/gerrit, cncf-cla: yes, kind/bug, lgtm, ok-to-test, size/XS

#10202 add run_if_changed/RunsAgainstChanges for prow postsubmit jobs
  prow/config/branch_protection_test.go
  prow/config/config.go
  prow/config/jobs.go
  prow/config/jobs_test.go
  prow/jenkins/controller_test.go
  prow/plank/controller_test.go
  prow/plugins/skip/skip_test.go
  prow/plugins/trigger/BUILD.bazel
  prow/plugins/trigger/generic-comment_test.go
  prow/plugins/trigger/push.go
  prow/plugins/trigger/push_test.go
  prow/tide/tide_test.go
Labels: approved, area/prow, area/prow/jenkins-operator, area/prow/plank, area/prow/tide, cncf-cla: yes, lgtm, ok-to-test, size/L, ¯\_(ツ)_/¯

#10238 retire "version" key in metadata
  kubetest/main.go
  kubetest/main_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10081 Fix typos
  def/configmap/main.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, needs-ok-to-test, size/XS

#10243 Adding istio codecov job to testgrid
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, size/XS
