Repository kubernetes/test-infra, pull requests merged in 2018-10, with the labels that each got.

#9642 Bump timeout for gce pd csi driver integration test to 60 minutes
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9437 Add kind/kep label
  label_sync/labels.md
  label_sync/labels.yaml
  prow/cmd/deck/static/labels.css
Labels: approved, area/label_sync, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/architecture, sig/pm, size/M

#9370 Add --dump-pre-test-logs option to kubetest.
  kubetest/e2e.go
  kubetest/main.go
  kubetest/util/util.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/M

#9627 Output label CSS sorted and unique by label name
  label_sync/main.go
  prow/cmd/deck/static/labels.css
Labels: approved, area/label_sync, area/prow, area/prow/deck, cncf-cla: yes, lgtm, size/M

#9551 Added prow jobs for k8s-cluster-bundle
  config/jobs/GoogleCloudPlatform/k8s-cluster-bundle/k8s-cluster-bundle.yaml
  testgrid/cmd/configurator/config_test.go
  testgrid/config.yaml
Labels: approved, area/config, area/prow, area/prow/deck, cncf-cla: yes, lgtm, size/M

#9653 Increasing create cluster operation timeout in gke scale test
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9641 Check effect of flakeAttempts=1 in ci-kubernetes-e2e-gci-gce-flaky job
  config/jobs/kubernetes/sig-gcp/sig-gcp-gce-config.yaml
  testgrid/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/M

#9649 Remove invites for those not in config
  prow/cmd/peribolos/main.go
  prow/cmd/peribolos/main_test.go
Labels: approved, area/prow, area/prow/peribolos, cncf-cla: yes, lgtm, size/M

#9654 Add stable/1.12 conformance tests for gce
  config/jobs/kubernetes/sig-gcp/gce-conformance.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/conformance, cncf-cla: yes, lgtm, sig/gcp, size/M

#9614 Require building images via bazel path
  prow/ANNOUNCEMENTS.md
  prow/Makefile
  prow/cmd/artifact-uploader/Dockerfile
  prow/cmd/checkconfig/Dockerfile
  prow/cmd/clonerefs/Dockerfile
  prow/cmd/entrypoint/Dockerfile
  prow/cmd/gcsupload/Dockerfile
  prow/cmd/hook/Dockerfile
  prow/cmd/horologium/Dockerfile
  prow/cmd/initupload/Dockerfile
  prow/cmd/jenkins-operator/Dockerfile
  prow/cmd/plank/Dockerfile
  prow/cmd/sidecar/Dockerfile
  prow/cmd/sinker/Dockerfile
  prow/cmd/tide/Dockerfile
  prow/cmd/tot/Dockerfile
  prow/external-plugins/needs-rebase/Dockerfile
  prow/external-plugins/refresh/Dockerfile
Labels: approved, area/prow, area/prow/artifact-uploader, area/prow/clonerefs, area/prow/entrypoint, area/prow/gcsupload, area/prow/hook, area/prow/horologium, area/prow/initupload, area/prow/jenkins-operator, area/prow/plank, area/prow/pod-utilities, area/prow/sidecar, area/prow/sinker, area/prow/tide, area/prow/tot, cncf-cla: yes, lgtm, size/L

#9392 Add a job to produce coverage information
  config/jobs/kubernetes/sig-testing/coverage.yaml
  scenarios/kubernetes_e2e.py
  testgrid/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/M

#9656 switch kind to track k/k master e2e images
  config/jobs/kubernetes-sigs/kind/kind-postsubmits.yaml
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
  config/jobs/kubernetes-sigs/kind/kind.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/S

#9658 Correctly spell arguments in coverage CI job
  config/jobs/kubernetes/sig-testing/coverage.yaml
Labels: approved, area/config, cncf-cla: yes, kind/bug, lgtm, size/XS

#9657 run podutil-canaty job in parallel :-(
  config/jobs/kubernetes/sig-testing/kubetest-canaries.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS, ¯\_(ツ)_/¯

#9659 Make readiness check for kops stricter
  kubetest/kops.go
Labels: approved, cncf-cla: yes, lgtm, size/XS, ¯\_(ツ)_/¯

#9660 Add missing labels for CI coverage job
  config/jobs/kubernetes/sig-testing/coverage.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS, ¯\_(ツ)_/¯

#9663 coverage job: Let's do magic to make docker work
  config/jobs/kubernetes/sig-testing/coverage.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9539 config/jobs: remove kubeadm network jobs
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-network.yaml
  testgrid/config.yaml
Labels: approved, area/config, cncf-cla: yes, kind/cleanup, lgtm, size/L

#9667 coverage job: explicitly stage the artefacts
  config/jobs/kubernetes/sig-testing/coverage.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9666 Move kubernetes-incubator/kube-arbitrator to k-sigs/kube-batch
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/scheduling, size/XS

#9669 Add kubernetes/release to coverage job
  config/jobs/kubernetes/sig-testing/coverage.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9670 Fix typo in stable-1.12 gce job, add to conformance-gce
  config/jobs/kubernetes/sig-gcp/gce-conformance.yaml
  testgrid/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS, ¯\_(ツ)_/¯

#9671 Enable building kubekins-e2e images with rc bazel releases
  images/kubekins-e2e/Dockerfile
  images/kubekins-e2e/install-bazel.sh
Labels: approved, cncf-cla: yes, lgtm, size/M

#9610 Remove labels from labels.yaml that have been deleted
  label_sync/labels.md
  label_sync/labels.yaml
  prow/cmd/deck/static/labels.css
Labels: approved, area/label_sync, area/prow, area/prow/deck, cncf-cla: yes, lgtm, size/L

#9672 Remove etcd2 from non-upgrade CI tests
  config/jobs/kubernetes/sig-cli/sig-cli-config.yaml
  jobs/env/ci-kubernetes-e2e-gce-alpha-api.env
  jobs/env/ci-kubernetes-e2e-gci-gce-ip-alias.env
  jobs/env/ci-kubernetes-e2e-gci-gce-sig-cli.env
  jobs/env/ci-kubernetes-e2e-gci-gce.env
Labels: approved, area/config, cncf-cla: yes, lgtm, size/S

#9675 Use etcd 3.2.24 in kops-canary test
  config/jobs/kubernetes/sig-testing/kubetest-canaries.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9676 Correctly quote/escape [Conformance] in the coverage job
  config/jobs/kubernetes/sig-testing/coverage.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9677 Remove etcd2 upgrade/downgrade jobs
  config/jobs/kubernetes/sig-cluster-lifecycle/k8s-upgrade-gce.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/sig-cluster-lifecycle-misc.yaml
  testgrid/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/M

#9681 Fix log.Printf string to keep go 1.11 happy
  kubetest/main.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9682 More format fixes to allow go 1.11 test to work
  prow/cmd/mkpj/main.go
  prow/gerrit/adapter/adapter.go
  prow/git/git.go
  prow/plugins/hold/hold.go
  prow/tide/tide.go
Labels: approved, area/prow, area/prow/gerrit, area/prow/mkpj, area/prow/tide, cncf-cla: yes, lgtm, size/S

#9683 Fix boskos format strings to keep go 1.11 happy
  boskos/boskos.go
  boskos/mason/client.go
  boskos/metrics/metrics.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, size/S

#9684 Add kubernetes-incubator/bootkube to tide
  prow/config.yaml
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9662 Automatically push prow on test-infra merges
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  prow/bump.sh
  testgrid/config.yaml
Labels: approved, area/config, area/prow, cncf-cla: yes, lgtm, size/M, ¯\_(ツ)_/¯

#9678 Bazel 0.16.0+ is required by rules_go 0.15.3
  WORKSPACE
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9688 Add a skip regex to the coverage job
  config/jobs/kubernetes/sig-testing/coverage.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9507 prow/welcome: Configurable welcome message
  prow/ANNOUNCEMENTS.md
  prow/plugins.yaml
  prow/plugins/plugins.go
  prow/plugins/welcome/BUILD.bazel
  prow/plugins/welcome/welcome.go
  prow/plugins/welcome/welcome_test.go
Labels: approved, area/prow, area/prow/hook, cncf-cla: yes, lgtm, size/L, ¯\_(ツ)_/¯

#9691 Revert "add 1.13 image to verify"
  scenarios/kubernetes_verify.py
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9692 Add --pull --list options to bump.sh
  prow/README.md
  prow/bump.sh
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/L

#9698 make kind e2e presubmit non-optional
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Labels: approved, area/config, area/kind, cncf-cla: yes, lgtm, size/XS

#9497 clean up Spyglass metadata viewer
  prow/spyglass/viewers/metadata/metadata_template.go
  prow/spyglass/viewers/metadata/metadata_viewer.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/M

#9702 Setup branch protection for cluster-boostrap
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS

#9416 slightly improve path_alias docs
  prow/pod-utilities.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9700 add gopherage readme and gopher
  gopherage/README.md
  gopherage/docs/gopherage.png
Labels: approved, cncf-cla: yes, lgtm, priority/critical-urgent, size/XS, ¯\_(ツ)_/¯

#9703 Drop Kubectl from conformance skiplist for master/1.12
  config/jobs/kubernetes/sig-gcp/gce-conformance.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9705 Pass page arguments to the title expansion
  prow/cmd/deck/template/base.html
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, kind/bug, lgtm, size/XS

#9623 Migrate the prow status page JavaScript to TypeScript
  prow/cmd/deck/static/BUILD.bazel
  prow/cmd/deck/static/fuzzy-search.js
  prow/cmd/deck/static/prow/fuzzy-search.ts
  prow/cmd/deck/static/prow/prow.ts
  prow/cmd/deck/static/vendor.d.ts
  prow/cmd/deck/template/index.html
  prow/cmd/deck/template/spyglass.html
  tsconfig.json
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, kind/cleanup, lgtm, size/XL

#9651 Migrate spyglass JavaScript to TypeScript
  prow/cmd/deck/static/BUILD.bazel
  prow/cmd/deck/static/spyglass/spyglass.ts
  prow/cmd/deck/template/spyglass.html
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, kind/cleanup, lgtm, size/L

#9626 Migrate PR Dashboard JavaScript to TypeScript
  prow/cmd/deck/static/BUILD.bazel
  prow/cmd/deck/static/pr/pr.ts
  prow/cmd/deck/template/pr.html
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, kind/cleanup, lgtm, size/L

#9708 fail back on artifacts env gracefully
  jenkins/bootstrap.py
Labels: approved, cncf-cla: yes, lgtm, size/S, ¯\_(ツ)_/¯

#9711 fix typo: remove duplicate words
  ghproxy/ghcache/README.md
Labels: approved, area/ghproxy, cncf-cla: yes, kind/cleanup, lgtm, size/XS

#9664 Make Tide ignore pending batch jobs containing PRs that have left the pool of been updated.
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, kind/bug, lgtm, size/M

#9138 Store tree-hash inside a comment and compare it before removing lgtm
  prow/github/client.go
  prow/github/client_test.go
  prow/github/fakegithub/fakegithub.go
  prow/github/types.go
  prow/plugins.yaml
  prow/plugins/lgtm/lgtm.go
  prow/plugins/lgtm/lgtm_test.go
  prow/plugins/plugins.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/contributor-experience, size/XL

#9712 Clean up testgrid dashboard names and groups
  experiment/fix_testgrid_config.py
  testgrid/config.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, sig/api-machinery, sig/gcp, sig/release, sig/scalability, size/L

#9714 add kind conformance tests for 1.11 and 1.12
  config/jobs/kubernetes-sigs/kind/kind.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/conformance, area/jobs, area/kind, cncf-cla: yes, lgtm, size/L

#9718 branch typecheck job
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-testing/typecheck.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, priority/critical-urgent, size/L

#9720 Branch node e2e presubmit
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, priority/critical-urgent, size/L

#9721 Trim unused dashboards
  kettle/buckets.yaml
  testgrid/cmd/configurator/config_test.go
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, kind/cleanup, lgtm, size/M

#9722 Add a testgrid OWNERS file
  testgrid/OWNERS
Labels: approved, area/testgrid, cncf-cla: yes, kind/cleanup, lgtm, sig/testing, size/XS, ¯\_(ツ)_/¯

#9661 Enable the 'verify-owners' plugin on all repos that use 'approve' or 'blunderbuss'.
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/M

#9723 also run tests against 1.11 in kind presubmit
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Labels: approved, area/config, area/kind, cncf-cla: yes, lgtm, size/M

#9725 More testgrid dashboard names scrubbed
  experiment/fix_testgrid_config.py
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, kind/cleanup, lgtm, size/L

#9710 Add sigs.k8s.io/structured-merge-diff jobs
  config/jobs/kubernetes-sigs/structured-merge-diff/OWNERS
  config/jobs/kubernetes-sigs/structured-merge-diff/structured-merge-diff-ci.yaml
  config/jobs/kubernetes-sigs/structured-merge-diff/structured-merge-diff-presubmits.yaml
  testgrid/cmd/configurator/config_test.go
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, size/M

#9729 Move structured-merge-diff dashboard to sig-apimachinery tab
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, size/XS

#9727 Make Tide filter subpools in parallel.
  prow/tide/tide.go
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, lgtm, size/L

#9733 fix kind presubmit refs
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS, ¯\_(ツ)_/¯

#9730 Add prow trigger to structured-diff-merge
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9728 Extend triage window to two weeks
  triage/update_summaries.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS

#9734 specify runner.sh for ci-janitor job
  config/jobs/kubernetes/sig-testing/kubetest-canaries.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS, ¯\_(ツ)_/¯

#9668 Add docs for crier
  prow/cmd/crier/README.md
  prow/crier/README.md
Labels: approved, area/prow, area/prow/gerrit, cncf-cla: yes, lgtm, size/M

#9735 skip less tests in 1.12
  testgrid/conformance/README.md
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, size/XS

#9736 Use go 1.10 for containerd go verify.
  config/jobs/containerd/cri/containerd-cri-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9467 Ensure all repos in kubernetes-incubator are automated
  prow/config.yaml
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/M

#9726 Make Tide batches fail fast
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, kind/bug, lgtm, size/M

#9151 Set lgtm_acts_as_approve to false for k/k approval
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9741 type fix from contruct to construct
  prow/apis/prowjobs/v1/types.go
  prow/kube/prowjob.go
  prow/spyglass/gcsartifact_fetcher.go
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, size/XS

#9446 Check for more plugins/labels in tide configuration
  prow/cmd/checkconfig/BUILD.bazel
  prow/cmd/checkconfig/main.go
  prow/external-plugins/needs-rebase/plugin/plugin.go
  prow/external-plugins/needs-rebase/plugin/plugin_test.go
  prow/plugins/trigger/ic.go
  prow/plugins/trigger/pr.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/M

#9445 Track DNS pod resource usage in scalability tests
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/S

#9608 add gke 1.12 staging job
  config/jobs/gke/gke-staging-upgrade.yaml
  config/jobs/gke/gke-staging.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/jobs, area/testgrid, cncf-cla: yes, lgtm, sig/gcp, size/M

#9746 switch test-infra jobs to kubekins-e2e
  config/jobs/kubernetes/test-infra/janitors.yaml
  config/jobs/kubernetes/test-infra/test-infra-postsubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/S, ¯\_(ツ)_/¯

#9742 kubetest log dump: capture full systemd journal
  kubetest/dump.go
  kubetest/dump_test.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#9744 label_sync: add wg-security-audit label
  label_sync/labels.md
  label_sync/labels.yaml
  prow/cmd/deck/static/labels.css
Labels: approved, area/label_sync, area/prow, area/prow/deck, cncf-cla: yes, lgtm, size/S

#9745 testgrid: add email notifications when kubeadm tests fail
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, kind/cleanup, lgtm, size/S

#9748 add some more logs for grandmatriarch
  prow/cmd/grandmatriarch/bake.sh
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9738 Add some area/github-* labels for kubernetes/org
  label_sync/labels.md
  label_sync/labels.yaml
  prow/cmd/deck/static/labels.css
Labels: approved, area/label_sync, area/prow, area/prow/deck, cncf-cla: yes, lgtm, size/M

#9737 add scenarios into bootstrap image
  images/bootstrap/Dockerfile
  images/bootstrap/Makefile
  scenarios/README.md
Labels: approved, area/so-crazy-it-just-might-work, cncf-cla: yes, lgtm, size/S, ¯\_(ツ)_/¯

#9755 Declare ok-to-test label
  label_sync/labels.md
  label_sync/labels.yaml
  prow/cmd/deck/static/labels.css
Labels: approved, area/label_sync, area/prow, area/prow/deck, cncf-cla: yes, lgtm, size/S

#9753 Add the --confirm flag correctly in branchprotector
  prow/cmd/branchprotector/protect.go
Labels: approved, area/prow, area/prow/branchprotector, cncf-cla: yes, kind/bug, lgtm, size/XS

#9750 Add check/test jobs to cluster-api-provider-openstack
  config/jobs/kubernetes-sigs/cluster-api-provider-openstack/OWNERS
  config/jobs/kubernetes-sigs/cluster-api-provider-openstack/cluster-api-provider-openstack-presubmits.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, size/M

#9588 Add Tide support for negative repo matching.
  prow/ANNOUNCEMENTS.md
  prow/cmd/checkconfig/BUILD.bazel
  prow/cmd/checkconfig/main.go
  prow/cmd/checkconfig/main_test.go
  prow/cmd/deck/static/api/tide.ts
  prow/cmd/deck/static/pr/pr.ts
  prow/cmd/deck/static/tide/tide.ts
  prow/config/tide.go
  prow/config/tide_test.go
  prow/tide/blockers/BUILD.bazel
  prow/tide/blockers/blockers.go
  prow/tide/blockers/blockers_test.go
  prow/tide/status.go
  prow/tide/status_test.go
  prow/tide/tide.go
Labels: approved, area/prow, area/prow/deck, area/prow/tide, cncf-cla: yes, lgtm, size/XXL

#9761 fix openstack make test/check jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-openstack/cluster-api-provider-openstack-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/M

#9762 bump kubekins & add runner
  config/jobs/kubernetes-sigs/cluster-api-provider-openstack/cluster-api-provider-openstack-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/S

#9765 Username typo in cluster-api-provider-openstack
  config/jobs/kubernetes-sigs/cluster-api-provider-openstack/OWNERS
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, size/XS

#9766 Increase clusterloader2 ci-job nodes to 100
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/S

#9769 ClusterLoader2 ci-job: adding missing env files
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9717 Add testgrid entry for periodic GCE PD CSI Driver Kubernetes integration runs
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-postsubmits.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, size/M

#9759 Increase timeout for gke upgrade test: 15h -> 20h
  config/jobs/kubernetes/sig-cluster-lifecycle/k8s-upgrade-gke.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9768 Add Tide to starter.yaml
  prow/cluster/starter.yaml
  prow/cmd/checkconfig/README.md
  prow/cmd/tide/config.md
  prow/getting_started.md
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, lgtm, size/L

#9771 fix prow image push override
  prow/Makefile
  prow/README.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9404 Initialize submodules by default but allow an opt-out
  prow/apis/prowjobs/v1/types.go
  prow/cmd/clonerefs/README.md
  prow/config/jobs.go
  prow/pjutil/pjutil.go
  prow/pod-utilities.md
  prow/pod-utils/clone/BUILD.bazel
  prow/pod-utils/clone/clone.go
  prow/pod-utils/clone/clone_test.go
Labels: approved, area/prow, area/prow/clonerefs, area/prow/pod-utilities, cncf-cla: yes, kind/bug, lgtm, size/L

#9775 fix some typos
  def/configmap.bzl
  experiment/graphql_issue_example.py
  gubernator/.pylintrc
  prow/plugins/plugins.go
Labels: approved, area/gubernator, area/prow, cncf-cla: yes, lgtm, size/XS

#9781 switch podutil images to k8s-prow
  prow/bump.sh
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9773 use podutil for all our canary jobs
  config/jobs/kubernetes/sig-testing/kubetest-canaries.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/jobs, area/testgrid, cncf-cla: yes, lgtm, size/L, ¯\_(ツ)_/¯

#9782 Update prow to v20181012-72b0b93
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/M

#9784 Add cluster-api-provider-vsphere test job
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/OWNERS
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
  testgrid/cmd/configurator/config_test.go
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, size/M

#9689 prow/welcome: re-enable welcome plugin
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/S

#9785 unify only testgrid names for master-blocking dashboard
  testgrid/config.yaml
Labels: approved, area/jobs, area/testgrid, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#9788 Use BUILD_ID instead of deprecated BUILD_NUMBER
  jenkins/bootstrap.py
  kubetest/azure.go
  prow/README.md
  prow/plank/controller.go
  prow/plank/controller_test.go
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, size/S, ¯\_(ツ)_/¯

#9790 Include the month in gubernator shorttimestamp filters
  gubernator/filters.py
  gubernator/static/build.js
Labels: approved, area/gubernator, cncf-cla: yes, kind/cleanup, lgtm, size/XS

#9787 Remove deprecated buildId env var
  prow/ANNOUNCEMENTS.md
  prow/README.md
  prow/pod-utils/downwardapi/jobspec.go
  prow/pod-utils/downwardapi/jobspec_test.go
Labels: approved, area/prow, area/prow/pod-utilities, cncf-cla: yes, lgtm, size/S

#9806 Add node_modules to gitignore
  .gitignore
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, size/XS

#9797 Delete duplicate 'to'
  prow/cmd/deck/static/spyglass/spyglass.ts
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, size/XS

#9795 fix some typos
  testgrid/extension/testgrid_alerter/js/settings.js
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, size/XS

#9794 add trigger section for k8s-cluster-bundle
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9807 Add `gopherage html` command to generate an HTML view of coverage
  config/jobs/kubernetes/sig-testing/coverage.yaml
  gopherage/BUILD.bazel
  gopherage/cmd/html/BUILD.bazel
  gopherage/cmd/html/html.go
  gopherage/cmd/html/static/BUILD.bazel
  gopherage/cmd/html/static/browser.html
  gopherage/cmd/html/static/browser.ts
  gopherage/cmd/html/static/parser.ts
  gopherage/cmd/html/static/tsconfig.json
  gopherage/cmd/html/static/utils.ts
  gopherage/main.go
  package.json
  yarn.lock
Labels: approved, area/config, area/conformance, cncf-cla: yes, kind/feature, lgtm, size/XL

#9777 Implement Stringer for branch protection requests
  prow/github/types.go
Labels: approved, area/prow, cncf-cla: yes, kind/bug, lgtm, size/XS

#9674 Ensure verify-owners is on for repos using OWNERS
  prow/cmd/checkconfig/BUILD.bazel
  prow/cmd/checkconfig/main.go
  prow/cmd/checkconfig/main_test.go
  prow/plugins/blunderbuss/blunderbuss.go
  prow/plugins/blunderbuss/blunderbuss_test.go
  prow/plugins/owners-label/owners-label.go
  prow/plugins/owners-label/owners-label_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/L

#9810 clean up explicit etcd3 CI jobs
  config/jobs/kubernetes/sig-cli/sig-cli-config.yaml
  config/jobs/kubernetes/sig-gcp/sig-gcp-gce-config.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/jobs, area/testgrid, cncf-cla: yes, lgtm, size/M

#9789 Make Tide specify offending values when complaining about duplicates in config.
  prow/config/tide.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/M

#9813 set repo path_alias
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9815 always run the job after been tested in repo
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9818 fake a /workspace from cloud-builders/bazel image
  config/jobs/GoogleCloudPlatform/k8s-cluster-bundle/k8s-cluster-bundle.yaml
Labels: approved, area/config, area/so-crazy-it-just-might-work, cncf-cla: yes, lgtm, size/S, ¯\_(ツ)_/¯

#9791 Add gazelle and kazel rules to //
  BUILD.bazel
Labels: approved, cncf-cla: yes, lgtm, size/M

#9819 Don't build hyperkube or conformance images for conformance coverage test
  config/jobs/kubernetes/sig-testing/coverage.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9808 testgrid: add kubeadm stable-on-master job to master-blocking
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, kind/cleanup, lgtm, size/XS

#9823 Create utility to label trusted PRs lacking ok-to-test
  BUILD.bazel
  prow/github/client.go
  robots/pr-labeler/BUILD.bazel
  robots/pr-labeler/main.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/L

#9751 add sample podutil config, ditch bootstrap config
  README.md
  prow/pod-utilities.md
Labels: approved, area/prow, cncf-cla: yes, kind/documentation, lgtm, size/M, ¯\_(ツ)_/¯

#9803 Split gke-gci-new-gci-master-upgrade-cluster-new into parallel and serial jobs
  config/jobs/kubernetes/sig-cluster-lifecycle/k8s-upgrade-gke.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, size/M

#9801 label_sync: don't fetch repos when --only is set
  label_sync/BUILD.bazel
  label_sync/main.go
Labels: approved, area/label_sync, cncf-cla: yes, kind/bug, lgtm, size/L

#9732 Remove language-specific repos from Prow
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/docs, size/XS

#9829 Switch to launcher.gcr.io/google/bazel for bazel jobs
  config/jobs/kubernetes/org/kubernetes-org-jobs.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9831 Update prow to v20181016-65b4cc1
  prow/bump.sh
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/M

#9809 clean up env files
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/kops/kops-config.yaml
  config/jobs/kubernetes/sig-apps/sig-apps-config.yaml
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-config.yaml
  config/jobs/kubernetes/sig-aws/sig-aws-config.yaml
  config/jobs/kubernetes/sig-aws/sig-aws-presubmits.yaml
  config/jobs/kubernetes/sig-cli/sig-cli-config.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/sig-cluster-lifecycle-misc.yaml
  config/jobs/kubernetes/sig-gcp/gpu/sig-gcp-gpu-gce.yaml
  config/jobs/kubernetes/sig-gcp/sig-gcp-gce-config.yaml
  config/jobs/kubernetes/sig-instrumentation/sig-instrumentation-config.yaml
  config/jobs/kubernetes/sig-network/ingress-gce-e2e.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
  jobs/env/ci-federation-e2e-gce-serial.env
  jobs/env/ci-federation-e2e-gce.env
  jobs/env/ci-kubernetes-e2e-gce-alpha-api.env
  jobs/env/ci-kubernetes-e2e-gce-gci-latest-rollback-etcd.env
  jobs/env/ci-kubernetes-e2e-gce-gpu.env
  jobs/env/ci-kubernetes-e2e-gce-influxdb.env
  jobs/env/ci-kubernetes-e2e-gce-min-node-permissions.env
  jobs/env/ci-kubernetes-e2e-gce-multizone.env
  jobs/env/ci-kubernetes-e2e-gce-prometheus.env
  jobs/env/ci-kubernetes-e2e-gce-stackdriver.env
  jobs/env/ci-kubernetes-e2e-gce-taint-evict.env
  jobs/env/ci-kubernetes-e2e-gci-gce-alpha-features.env
  jobs/env/ci-kubernetes-e2e-gci-gce-autoscaling-migs.env
  jobs/env/ci-kubernetes-e2e-gci-gce-autoscaling.env
  jobs/env/ci-kubernetes-e2e-gci-gce-es-logging.env
  jobs/env/ci-kubernetes-e2e-gci-gce-ingress.env
  jobs/env/ci-kubernetes-e2e-gci-gce-ip-alias.env
  jobs/env/ci-kubernetes-e2e-gci-gce-sd-logging-k8s-resources.env
  jobs/env/ci-kubernetes-e2e-gci-gce-sd-logging.env
  jobs/env/ci-kubernetes-e2e-gci-gce.env
  jobs/env/ci-kubernetes-e2e-kops-aws.env
  jobs/env/pull-federation-e2e-gce.env
  jobs/env/pull-kubernetes-e2e-kops-aws.env
  jobs/platform/kops_aws.env
Labels: approved, area/config, cncf-cla: yes, lgtm, size/L

#9837 Adding provider to clusterloader2 ci-job
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9828 Bazel jobs for cluster-api-provider-aws
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, size/S

#9793 fix typo
  boskos/client/README.md
Labels: approved, area/boskos, cncf-cla: yes, lgtm, size/XS

#9832 Delete preemption job
  config/jobs/kubernetes/sig-scheduling/sig-scheduling-config.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, size/M

#9792 Add labels, annotations, environment variables to prow created builds
  prow/cmd/build/BUILD.bazel
  prow/cmd/build/controller.go
  prow/cmd/build/controller_test.go
  prow/cmd/build/main.go
  prow/kube/prowjob.go
  prow/pjutil/BUILD.bazel
  prow/pjutil/pjutil.go
  prow/pjutil/pjutil_test.go
  prow/pjutil/tot.go
  prow/plank/BUILD.bazel
  prow/plank/controller.go
  prow/plank/controller_test.go
  prow/pod-utils/decorate/BUILD.bazel
  prow/pod-utils/decorate/podspec.go
  prow/pod-utils/decorate/podspec_test.go
  prow/test/data/kubernetes-defaulted-decoration-prow-job.yaml
  prow/test/data/kubernetes-explicit-decoration-prow-job.yaml
  prow/test/data/kubernetes-no-decoration-prow-job.yaml
Labels: approved, area/prow, area/prow/plank, area/prow/pod-utilities, cncf-cla: yes, lgtm, ok-to-test, size/L

#7529 Add Kubeadm-DinD-Cluster based kubetest deployer for IPv6 CI
  kubetest/BUILD.bazel
  kubetest/kubeadmdind/BUILD.bazel
  kubetest/kubeadmdind/OWNERS
  kubetest/kubeadmdind/kubeadm_dind.go
  kubetest/kubeadmdind/kubeadm_dind_test.go
  kubetest/main.go
  scenarios/kubernetes_e2e.py
Labels: approved, area/config, area/prow, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, size/XL

#9833 support /this-is-fine
  prow/plugins/dog/dog.go
  prow/plugins/dog/dog_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/L

#9506 aggregated reporter for gerrit
  prow/cmd/crier/main.go
  prow/cmd/gerrit/main.go
  prow/crier/controller.go
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
  prow/gerrit/client/BUILD.bazel
  prow/gerrit/client/client.go
  prow/gerrit/client/client_test.go
  prow/gerrit/reporter/BUILD.bazel
  prow/gerrit/reporter/reporter.go
  prow/gerrit/reporter/reporter_test.go
Labels: approved, area/prow, area/prow/gerrit, cncf-cla: yes, lgtm, size/XL, ¯\_(ツ)_/¯

#9821 Use PR head commit SHA instead of merge SHA to get tree hash
  prow/plugins/lgtm/lgtm.go
  prow/plugins/lgtm/lgtm_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/L

#9841 Use container built using updates from rules_k8s PR #193
  config/jobs/bazelbuild/rules_k8s/rules_k8s_config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9842 Add more plugins to k8-cluster-bundle
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/XS

#9849 turn containerd env file into preset
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
  jobs/env/ci-cri-containerd-e2e-gce.env
Labels: approved, area/config, cncf-cla: yes, lgtm, size/M

#9839 Add aggregation command to gopherage
  gopherage/BUILD.bazel
  gopherage/cmd/aggregate/BUILD.bazel
  gopherage/cmd/aggregate/aggregate.go
  gopherage/main.go
  gopherage/pkg/cov/BUILD.bazel
  gopherage/pkg/cov/aggregate.go
  gopherage/pkg/cov/aggregate_test.go
Labels: approved, area/gopherage, cncf-cla: yes, kind/feature, lgtm, size/L

#9846 Increase staleness period for vSphere conformance
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, size/S

#9853 Fix high-density kubemark job
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#9856 coalesce.py should use $ARTIFACTS if it exists.
  hack/coalesce.py
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, size/XS

#9852 List "all" org members, small refactoring
  robots/pr-labeler/main.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#9838 PR Dashboard: Nullable pools data was uhandled
  prow/cmd/deck/tide.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, size/XS
