Repository kubernetes/test-infra, pull requests merged in 2019-08, with the labels that each got.

#13721 turn off storage pv tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#13723 Fix KUBE_VERIFY_GIT_BRANCH for 1.14 and 1.15
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13726 Add cluster-api-provider-aws periodic e2e job for release-0.3 branch
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#13725 [boskos] re-enable aws sweeping on the aws janitor
  boskos/janitor/deployment.yaml
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XS

#13699 Split out Istio testgrid config and use autogen
  config/testgrids/config.yaml
  config/testgrids/istio/istio.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XXL

#13729 bump promoter images
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#13641 feat: enhance Azure deployment code to support Azure Stack.
  kubetest/azure.go
  kubetest/azure_helpers.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#13732 use python (pypy) 3 for triage
  triage/Dockerfile
  triage/update_summaries.sh
Labels: approved, area/triage, cncf-cla: yes, lgtm, sig/testing, size/XS

#13733 Add kubeflow periodic tests for 0.6 branch
  config/jobs/kubeflow/kubeflow-periodics.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/S

#13735 Allow the oncall rotation to rerun all jobs
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#13728 Add testgrid dashboard group for istio
  config/testgrids/istio/istio.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#13597 Fix tackle ingress API incompatibility, #13492
  prow/cmd/tackle/BUILD.bazel
  prow/cmd/tackle/ingress.go
  prow/cmd/tackle/ingress_test.go
  prow/cmd/tackle/main.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#13689 add kubeflow-kfctl prow job
  config/jobs/kubeflow/kubeflow-periodics.yaml
  config/jobs/kubeflow/kubeflow-postsubmits.yaml
  config/jobs/kubeflow/kubeflow-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/M

#13736 Tests for Configurator/Prow Library
  testgrid/cmd/configurator/BUILD.bazel
  testgrid/cmd/configurator/prow_test.go
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XL

#13742 Switch to merge commits for CAPI, CAPA
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#13752 Add chases2 to testgrid-related OWNERS files
  config/OWNERS
  config/testgrids/OWNERS
  testgrid/OWNERS
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS

#13766 Add a specific base image for boskosctl
  images/boskosctl-base/Dockerfile
  images/boskosctl-base/cloudbuild.yaml
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/M

#13768 Creation of Testgrid Configurator Test
  testgrid/cmd/configurator/BUILD.bazel
  testgrid/cmd/configurator/main.go
  testgrid/cmd/configurator/main_test.go
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#13753 Shard triage test output.
  triage/update_summaries.sh
Labels: approved, area/triage, cncf-cla: yes, lgtm, sig/testing, size/S, tide/merge-method-squash

#13769 Test containerd 1.1 against Kubernetes 1.12.
  config/jobs/containerd/cri/containerd-cri-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#13771 Use gzip args compatible with busybox gzip in triage job.
  triage/update_summaries.sh
Labels: approved, area/triage, cncf-cla: yes, lgtm, sig/testing, size/XS

#13772 Add a job to build the boskosctl base image
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#13741 verify-owners: add command to trigger verification
  prow/plugins/verify-owners/verify-owners.go
  prow/plugins/verify-owners/verify-owners_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/contributor-experience, sig/testing, size/L

#13767 Expose resource metrics using labels in boskos
  boskos/metrics/BUILD.bazel
  boskos/metrics/metrics.go
  boskos/metrics/metrics_test.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/L

#13773 Export new credentials to env
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#13774 Make rerun not redirect to GH login unnecessarily
  prow/cmd/deck/main.go
  prow/cmd/deck/static/prow/prow.ts
  prow/cmd/deck/template/index.html
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/S

#13687 correct conformance image test job image and fork for 1.15
  config/jobs/kubernetes/sig-testing/conformance-e2e.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#13738 contributing.md: fix a few broken links
  CONTRIBUTING.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#13380 triage - upgrade py2 -> py3, #13164
  hack/verify-pylint.sh
  triage/BUILD.bazel
  triage/Dockerfile
  triage/berghelroach.py
  triage/berghelroach_test.py
  triage/requirements.txt
  triage/summarize.py
  triage/summarize_test.py
Labels: approved, area/triage, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#13749 Log when a user attempts to rerun a job from deck
  prow/cmd/deck/main.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/S

#13775 service catalog: bump service catalog units golang version to 1.12
  config/jobs/kubernetes-sigs/service-catalog/service-catalog-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13777 experiment/bilge - upgrade py2 -> py3
  experiment/bilge.py
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#13750 testgrid - upgrade py2 -> py3
  testgrid/conformance/README.md
  testgrid/conformance/upload_e2e.py
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#13781 Use the new boskosctl base as needed
  WORKSPACE
  boskos/cmd/cli/BUILD.bazel
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/S

#13677 Update cloud provider SIG labels
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, area/prow, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/L

#13783 experiment/flakedetector - upgrade py2 -> py3
  experiment/BUILD.bazel
  experiment/flakedetector.py
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#13785 experiment/prepare_release_branch - upgrade py2 -> py3
  experiment/BUILD.bazel
  experiment/prepare_release_branch.py
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#13788 Add more paths to the GHProxy simplifier
  ghproxy/ghmetrics/ghpath.go
  ghproxy/ghmetrics/ghpath_test.go
Labels: approved, area/ghproxy, cncf-cla: yes, lgtm, sig/testing, size/M

#13770 Sharding Testgrid Config: sig-api-machinery, sig-apps, sig-autoscaling
  config/testgrids/config.yaml
  config/testgrids/kubernetes/sig-api-machinery/OWNERS
  config/testgrids/kubernetes/sig-api-machinery/config.yaml
  config/testgrids/kubernetes/sig-apps/OWNERS
  config/testgrids/kubernetes/sig-apps/config.yaml
  config/testgrids/kubernetes/sig-autoscaling/OWNERS
  config/testgrids/kubernetes/sig-autoscaling/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#13762 Remove scrape-kube-proxy.yaml override.
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13745 Needs rebase: Handle issue comment events
  prow/external-plugins/needs-rebase/main.go
  prow/external-plugins/needs-rebase/plugin/plugin.go
  prow/external-plugins/needs-rebase/plugin/plugin_test.go
  prow/plugins/README.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#13795 Git push: Return and log output in case of error
  prow/git/git.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#13794 verify-owners: improve bot comment message
  prow/plugins/verify-owners/verify-owners.go
  prow/plugins/verify-owners/verify-owners_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/contributor-experience, sig/testing, size/M

#13792 Add another path to the GHProxy handler
  ghproxy/ghmetrics/ghpath.go
  ghproxy/ghmetrics/ghpath_test.go
Labels: approved, area/ghproxy, cncf-cla: yes, lgtm, sig/testing, size/XS

#13797 Applying clusterloader prometheus flags to periodic jobs
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13798 Commit even more paths to the ghproxy metrics logic
  ghproxy/ghmetrics/ghpath.go
  ghproxy/ghmetrics/ghpath_test.go
Labels: approved, area/ghproxy, cncf-cla: yes, lgtm, sig/testing, size/XS

#13755 remove aliased API types in prow/kube
  prow/kube/BUILD.bazel
  prow/kube/client.go
  prow/kube/client_test.go
  prow/kube/types.go
  prow/plank/controller.go
  prow/plank/controller_test.go
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#13790 Move anonymous GH client warning
  prow/cmd/deck/main.go
  prow/flagutil/github.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/XS

#13710 github: allow configuring retry-on-404 behavior in client
  prow/github/client.go
  prow/github/client_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#13778 experiment/find_developers - upgrade py2 -> py3
  experiment/find_developers.py
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#13779 experiment/parse_build_log - upgrade py2 -> py3
  experiment/parse_build_log.py
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#13799 Update boskos reaper log messages
  boskos/reaper/reaper.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XS

#13803 Simplify handling root element for path parsing
  ghproxy/ghmetrics/ghpath.go
  ghproxy/ghmetrics/ghpath_test.go
Labels: approved, area/ghproxy, cncf-cla: yes, lgtm, sig/testing, size/M

#13727 Spyglass: add a link to the PR for presubmits
  prow/cmd/deck/main.go
  prow/cmd/deck/template/spyglass.html
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/S

#13791 Deck: only create GH client if oauth is set up
  prow/cmd/deck/main.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/S

#13805 Expose kubeEnv function in decorate pkg
  prow/pod-utils/decorate/podspec.go
Labels: approved, area/prow, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/S

#13618 Add AWS EFS CSI driver prow job
  config/jobs/kubernetes-sigs/aws-efs-csi-driver/OWNERS
  config/jobs/kubernetes-sigs/aws-efs-csi-driver/aws-efs-csi-driver-presubmits.yaml
  config/testgrids/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#13758 Minor change: update error message for not run from kubernetes root
  kubetest/main.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#13809 Changing overrides to prometheus flags
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#13763 Remove probes.yaml override.
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13765 Enable DNS probes in perf-tests presubmit and gce100.
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13627 checkconfig: add optional check to verify OWNERS presence
  prow/cmd/checkconfig/BUILD.bazel
  prow/cmd/checkconfig/main.go
  prow/cmd/checkconfig/main_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#13808 add 1.14 in test grid for alibaba cloud
  config/testgrids/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS

#13817 Add mirandachrist as an adoree
  prow/plugins.yaml
  prow/plugins/heart/heart.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#13807 Update aks-engine version for 1.16
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-azure/sig-azure-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13751 Set up GH token for deck, use GH teams for rerun
  prow/cluster/deck_deployment.yaml
  prow/config.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/S

#13793 sig-release: Update Release Managers' email address for job alerts
  config/jobs/kubernetes/release/release-config.yaml
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#13818 Expose the utility to determine a working dir for a job
  prow/pod-utils/decorate/podspec.go
Labels: approved, area/prow, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/XS

#13811 chore: enable docker-in-docker for cluster-api-bootstrap-provider-kubeadm
  config/jobs/kubernetes-sigs/cluster-api-boostrap-provider-kubeadm/cluster-api-bootstrap-provider-kubeadm-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, sig/testing, size/XS

#13824 Serve pprof debug endpoints from ghproxy
  ghproxy/BUILD.bazel
  ghproxy/ghproxy.go
Labels: approved, area/ghproxy, cncf-cla: yes, lgtm, sig/testing, size/XS

#13825 Record GitHub request durations in a histogram
  ghproxy/ghcache/ghcache.go
  ghproxy/ghmetrics/ghmetrics.go
Labels: approved, area/ghproxy, cncf-cla: yes, lgtm, sig/testing, size/S

#13821 Extend node e2e serial timeout for containerd.
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13834 log retries as info, instead of error
  prow/crier/controller.go
Labels: approved, area/prow, area/prow/crier, cncf-cla: yes, lgtm, sig/testing, size/XS

#13835 Working deployment of Entomologist on k8s-cluster
  testgrid/cluster/entomologist_deployment.yaml
  testgrid/cmd/entomologist/main.go
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#13837 Add mirandachrist slack ID for oncall
  experiment/slack-oncall-updater/main.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#13840 Rename efs testgrid tab from e2e-test-single-az to e2e-test
  config/jobs/kubernetes-sigs/aws-efs-csi-driver/aws-efs-csi-driver-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13839 Add --stamp in build rules to generate x_defs.
  .bazelrc
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#13787 experiment/fix_testgrid_config - upgrade py2 -> py3
  experiment/BUILD.bazel
  experiment/fix_testgrid_config.py
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/L

#13786 experiment/graphql_issue_example - upgrade py2 -> py3
  experiment/graphql_issue_example.py
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#13842 Add testgrid alicloud test results for k8s 1.15
  config/testgrids/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#13815 Add /test logic to rerun button for presubmits
  prow/cmd/deck/BUILD.bazel
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
  prow/github/client.go
  prow/github/fakegithub/fakegithub.go
  prow/plugins/plugins.go
  prow/plugins/trigger/pull-request.go
  prow/plugins/trigger/trigger.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/L

#13849 Add openshift release informing jobs to testgrid
  config/testgrids/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#13722 retitle: add config option to retitle merged/closed PRs
  prow/plugins/config.go
  prow/plugins/retitle/retitle.go
  prow/plugins/retitle/retitle_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/contributor-experience, sig/testing, size/M

#13847 Use counter for the number of github requests
  ghproxy/ghmetrics/ghmetrics.go
Labels: approved, area/ghproxy, cncf-cla: yes, lgtm, sig/testing, size/XS

#13857 Handle a nil response from Bugzilla
  prow/bugzilla/client.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#13858 Fix the string function for status code in ghproxy
  ghproxy/ghcache/ghcache.go
Labels: approved, area/ghproxy, cncf-cla: yes, lgtm, sig/testing, size/XS

#13838 Update azure deployer for supporting dualstack
  kubetest/azure_helpers.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#13841 Update create to allow for cert auth for cluster
  prow/cmd/tackle/main.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#13861 Add plugin config to deck
  prow/cluster/deck_deployment.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#13864 Roll back #13861
  prow/cluster/deck_deployment.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#13866 Loosen cookie-secret requirement
  prow/cmd/deck/main.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/XS

#13871 Remove prometheus counter github_requests
  ghproxy/ghmetrics/ghmetrics.go
Labels: approved, area/ghproxy, cncf-cla: yes, lgtm, sig/testing, size/S

#13869 prow: Update whitelisted branch managers
  prow/plugins.yaml
Labels: approved, area/prow, area/release-eng, cncf-cla: yes, lgtm, priority/important-soon, sig/release, sig/testing, size/S

#13855 Split the xbuild job for the Service Catalog images
  config/jobs/kubernetes-sigs/service-catalog/service-catalog-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/L

#13844 checkconfig: do not check archived repos for OWNERS presence
  prow/cmd/checkconfig/main.go
  prow/cmd/checkconfig/main_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#13853 Automatically bump robots/issue-creator image
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  prow/BUILD.bazel
  prow/bump.sh
  robots/issue-creator/BUILD.bazel
Labels: approved, area/config, area/prow, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/S

#13876 images/kubekins-e2e: Update variants.yaml (add 1.16, drop 1.12)
  images/kubekins-e2e/variants.yaml
Labels: approved, area/images, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#13860 Add migration presubmit to aws-ebs-csi-driver
  config/jobs/kubernetes-sigs/aws-ebs-csi-driver/aws-ebs-csi-driver-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#13882 Add release-1.16 jobs & associated release job fixes
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/sig-gcp-gpu-gke.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/sig-gcp-gce-config.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.12.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.13.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.14.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/testgrids/config.yaml
  config/testgrids/generated-test-config.yaml
  docs/kubernetes-versions.md
  experiment/test_config.yaml
Labels: approved, area/config, area/provider/gcp, area/release-eng, area/testgrid, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, sig/cloud-provider, sig/release, sig/testing, size/XXL

#13878 Allow gerrit to use GCS to track the latest timestamp
  prow/cmd/gerrit/BUILD.bazel
  prow/cmd/gerrit/main.go
  prow/cmd/gerrit/main_test.go
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
Labels: approved, area/prow, area/prow/gerrit, cncf-cla: yes, lgtm, sig/testing, size/L

#13887 [release] Run a make target for pull-release-unit
  config/jobs/kubernetes/release/release-config.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, sig/release, sig/testing, size/XS

#13872 Enable DNS probes in k/k presubmits.
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13891 Add explicit kubeflow test groups.
  config/testgrids/kubeflow/OWNERS
  config/testgrids/kubeflow/kubeflow.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#13880 Add initial implementation of job health metrics and dashboards
  metrics/README.md
  metrics/bigquery.py
  metrics/configs/job-health.yaml
  velodrome/grafana-stack/dashboards/job-health-merge-blocking.json
  velodrome/grafana-stack/dashboards/job-health-release-blocking.json
Labels: approved, area/metrics, area/velodrome, cncf-cla: yes, lgtm, sig/testing, size/XXL

#13893 Add Cluster API `make verify` presubmit
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#13896 DRY out Bugzilla plugin error commenting code
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#13899 Fix make verify CLuster API target
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13897 Optionally validate the target release of dependent bugs
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
  prow/plugins/config.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#13898 Ensure ghproxy not to use cache for github v4 api
  ghproxy/ghcache/ghcache.go
Labels: approved, area/ghproxy, cncf-cla: yes, lgtm, sig/testing, size/XS

#13868 Fix Disk Usage in ghproxy board
  prow/cluster/monitoring/mixins/grafana_dashboards/ghproxy.jsonnet
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#13867 Multi-repo & Multithreading for Entomologist
  testgrid/cluster/entomologist_deployment.yaml
  testgrid/cmd/entomologist/BUILD.bazel
  testgrid/cmd/entomologist/README.md
  testgrid/cmd/entomologist/main.go
  testgrid/cmd/entomologist/main_test.go
  testgrid/config/config.go
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XL

#13906 Don't look at PRs in archived repos in needs-rebase
  prow/external-plugins/needs-rebase/plugin/plugin.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#13905 Support any content-type, don't hard-code strategic-merge-patch+json
  prow/kube/client.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#13913 remove cos[123] jobs
  config/jobs/kubernetes/generated/generated.yaml
  config/testgrids/config.yaml
  config/testgrids/generated-test-config.yaml
  experiment/test_config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XXL

#13910 don't create infinite symlink
  hack/update-gofmt.sh
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#13915 Make 1.15 kubernetes-csi jobs required
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#13921 Remove slow tests from pull-csi-serial
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#13911 Remove testgrid annotations from forked presubmits.
  experiment/config-forker/main.go
  experiment/config-forker/main_test.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/M

#13865 Followup to #13815
  prow/cmd/deck/main.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/S

#13908 Try to update prowjobs in plank use patch (again)
  prow/kube/client.go
  prow/kube/client_test.go
  prow/plank/BUILD.bazel
  prow/plank/controller.go
  prow/plank/controller_test.go
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/M

#13923 Disambiguate Bugzilla Bug links by adding IDs
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#13925 Recognize /graphql as a valid path
  ghproxy/ghmetrics/ghpath.go
  ghproxy/ghmetrics/ghpath_test.go
Labels: approved, area/ghproxy, cncf-cla: yes, lgtm, sig/testing, size/XS

#13885 Add pull-kubernetes-{dependencies,verify} jobs for 1.16
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-testing/dependencies.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/L

#13907 swap periodic bazel jobs for postsubmits in sig-release boards
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.13.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.14.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/release, sig/testing, size/L

#13920 Update Istio testgrid configs
  config/testgrids/istio/istio.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XXL

#13928 Write value and detect non-existence correctly
  prow/cmd/gerrit/BUILD.bazel
  prow/cmd/gerrit/main.go
  prow/cmd/gerrit/main_test.go
Labels: approved, area/prow, area/prow/gerrit, cncf-cla: yes, lgtm, sig/testing, size/M

#13930 Revert "Update prow to v20190815-f8ab81959'
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
  prow/cluster/build_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/pipeline_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/cmd/branchprotector/cronjob.yaml
  prow/config.yaml
  testgrid/cluster/entomologist_deployment.yaml
Labels: approved, area/config, area/label_sync, area/prow, area/prow/branchprotector, area/prow/bump, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#13929 bump promoter images
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#13933 Change contact
  kettle/buckets.yaml
Labels: approved, area/kettle, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#13888 Update/enable milestone appliers for more kubernetes org repos
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, priority/important-soon, sig/pm, sig/release, sig/testing, size/S

#13780 experiment/get_job_pods - upgrade py2 -> py3
  experiment/get_job_pods.py
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#13782 experiment/maintenance - upgrade py2 -> py3
  experiment/maintenance/enable_soft_eviction.py
  experiment/maintenance/recreate_configmaps.py
  experiment/maintenance/shift_nodepool_capacity.py
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#13924 Retest errored jobs too in gerrit.
  prow/gerrit/adapter/trigger.go
Labels: approved, area/prow, area/prow/gerrit, cncf-cla: yes, lgtm, sig/testing, size/XS

#13914 Add more panels into ghproxy board
  prow/cluster/monitoring/mixins/grafana_dashboards/ghproxy.jsonnet
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/L

#13444 Allow defining jobs as hidden
  prow/apis/prowjobs/v1/types.go
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
  prow/config/jobs.go
  prow/pjutil/pjutil.go
  prow/pjutil/pjutil_test.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/M

#13875 Sharding Testgrid Config: sig-cli, sig-cluster-lifecycle, sig-instrumentation
  config/testgrids/config.yaml
  config/testgrids/kubernetes/sig-cli/OWNERS
  config/testgrids/kubernetes/sig-cli/config.yaml
  config/testgrids/kubernetes/sig-cluster-lifecycle/OWNERS
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
  config/testgrids/kubernetes/sig-instrumentation/OWNERS
  config/testgrids/kubernetes/sig-instrumentation/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#13940 promoter: fix dry run invocation
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#13894 TestGrid: Split Conformance Tabs into Subdirectory
  config/testgrids/config.yaml
  config/testgrids/conformance/OWNERS
  config/testgrids/conformance/conformance-all.yaml
  config/testgrids/conformance/kind/OWNERS
  config/testgrids/conformance/kind/conformance-kind.yaml
Labels: approved, area/config, area/conformance, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XL

#13917 Cleanup alpha jobs
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/sig-gcp-gce-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/sig-gcp-gke-config.yaml
Labels: approved, area/config, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/S

#13942 Fix sinker deployment indentation level
  prow/cluster/sinker_deployment.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/S

#13944 Don't pass --namespace to sinker
  prow/cluster/sinker_deployment.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#13946 bump promoter images
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#13819 Update GitHub OAuth docs
  prow/cmd/deck/github_oauth_setup.md
  prow/docs/pr_status_setup.md
  prow/getting_started_deploy.md
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/L

#13935 Revert #13908
  prow/kube/client.go
  prow/kube/client_test.go
  prow/plank/BUILD.bazel
  prow/plank/controller.go
  prow/plank/controller_test.go
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/M

#13949 Ping the on-call alias when sending alerts
  prow/cluster/monitoring/alertmanager-prow_secret.yaml
  prow/cluster/monitoring/mixins/prometheus/ci_absent_alerts.libsonnet
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#13912 metrics - upgrade py2 -> py3 (take 2)
  hack/verify-pylint.sh
  images/bigquery/Dockerfile
  images/bigquery/README.md
  metrics/BUILD.bazel
  metrics/bigquery.py
  metrics/bigquery_test.py
Labels: approved, area/images, area/metrics, cncf-cla: yes, lgtm, sig/testing, size/M

#13932 Moving config_test.go to config/tests
  config/BUILD.bazel
  config/tests/testgrids/BUILD.bazel
  config/tests/testgrids/config_test.go
  testgrid/cmd/configurator/BUILD.bazel
  testgrid/cmd/configurator/main.go
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#13955 Update pypi requirements.txt
  requirements.txt
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#13953 Bump image for metrics-bigquery job
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13956 document default prowjob preset behavior
  config/jobs/README.md
  prow/config/jobs_test.go
  prow/jobs.md
Labels: approved, area/config, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M
