Repository kubernetes/test-infra, pull requests merged in 2019-09, with the labels that each got.

#14166 Enable configmaps and secrets in presubmits
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#14170 Set up heapster node in private cluster correctness
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14169 Enable ServiceLoadBalancerFinalizer for slow e2e test cases.
  config/jobs/kubernetes/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/XS

#14069 verify-owners: add link on how to join the org
  prow/plugins/verify-owners/verify-owners.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/contributor-experience, sig/testing, size/S

#14171 Update sig-windows-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14141 Sharding Testgrid Config: sig-scalability, sig-scheduling, sig-storage
  config/testgrids/config.yaml
  config/testgrids/kubernetes/sig-scalability/OWNERS
  config/testgrids/kubernetes/sig-scalability/config.yaml
  config/testgrids/kubernetes/sig-scheduling/OWNERS
  config/testgrids/kubernetes/sig-scheduling/config.yaml
  config/testgrids/kubernetes/sig-storage/OWNERS
  config/testgrids/kubernetes/sig-storage/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#14143 kubetest/kind: ignore errors from DumpClusterLogs()
  kubetest/kind/kind.go
Labels: approved, area/kubetest, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, sig/testing, size/S

#14003 Publicize functions in the autobumper
  experiment/autobumper/BUILD.bazel
  experiment/autobumper/bumper/BUILD.bazel
  experiment/autobumper/bumper/bumper.go
  experiment/autobumper/main.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/L

#14156 Update istio testgrid config
  config/testgrids/istio/istio.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XL

#14162 Add pull-controller-runtime-test presubmit
  config/jobs/kubernetes-sigs/controller-runtime/OWNERS
  config/jobs/kubernetes-sigs/controller-runtime/controller-runtime-presubmits.yaml
  config/testgrids/kubernetes/sig-api-machinery/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#14181 Update ingress-nginx timeout and docker image
  config/jobs/kubernetes/sig-network/ingress-nginx.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#14183 Make Prow images that might be used by hand or as PJs put their binary at root.
  prow/cmd/branchprotector/BUILD.bazel
  prow/cmd/config-bootstrapper/BUILD.bazel
  prow/cmd/mkpj/BUILD.bazel
  prow/cmd/mkpod/BUILD.bazel
  prow/cmd/peribolos/BUILD.bazel
Labels: approved, area/prow, area/prow/branchprotector, area/prow/config-bootstrapper, area/prow/mkpj, area/prow/mkpod, area/prow/peribolos, cncf-cla: yes, lgtm, sig/testing, size/S

#14163 Refine `gencert` tool to support creating service account tokens.
  BUILD.bazel
  pkg/gencert/README.md
  pkg/gencert/gencert_test.go
  pkg/gencred/BUILD.bazel
  pkg/gencred/README.md
  pkg/gencred/gencred.go
  pkg/gencred/gencred_test.go
  prow/cmd/mkbuild-cluster/BUILD.bazel
  prow/cmd/mkbuild-cluster/main.go
Labels: approved, area/prow, area/prow/mkbuild-cluster, cncf-cla: yes, lgtm, sig/testing, size/L

#12932 adding kubectl GCE test to master blocking
  config/jobs/kubernetes/sig-cli/sig-cli-config.yaml
Labels: approved, area/config, area/release-eng, area/testgrid, cncf-cla: yes, kind/cleanup, lgtm, priority/critical-urgent, sig/cli, sig/release, sig/testing, size/S

#14174 Enable statefulsets and pvs in presubmits
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#14189 Enable configmaps & secrets in scalabiblity periodic jobs.
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#14194 Add a directory for image pushing jobs.
  config/jobs/image-pushing/OWNERS
  config/tests/jobs/jobs_test.go
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#14190 Move kops jobs to experimental
  config/jobs/kubernetes/kops/kops-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14180 Shard Testgrid Config: Gardener
  config/testgrids/config.yaml
  config/testgrids/gardener/OWNERS
  config/testgrids/gardener/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XXL

#14197 Remove comments in BUILD.bazel in prometheus folder
  prow/cluster/monitoring/mixins/prometheus/BUILD.bazel
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#14191 Make 2 more functions in autobumper public
  experiment/autobumper/bumper/bumper.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#14202 Enable StatefulSets in scalability periodic jobs.
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14167 create new kubeadm E2E jobs
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-discovery.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-kustomize.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#14203 Update to oldest available coreos-beta image
  jobs/e2e_node/image-config-1-12.yaml
  jobs/e2e_node/image-config-1-13.yaml
  jobs/e2e_node/image-config-1-14.yaml
  jobs/e2e_node/image-config.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#14206 Update ingress-nginx build image
  config/jobs/kubernetes/sig-network/ingress-nginx.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#14199 Add aws fsx csi driver to prow job
  config/jobs/kubernetes-sigs/aws-fsx-csi-driver/OWNERS
  config/jobs/kubernetes-sigs/aws-fsx-csi-driver/aws-fsx-csi-driver-presubmits.yaml
  config/testgrids/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#14161 Feedback for unsupported labels.
  prow/plugins/label/BUILD.bazel
  prow/plugins/label/label.go
  prow/plugins/label/label_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#14182 Shard Testgrid Config: sig-cloud-provider
  config/testgrids/config.yaml
  config/testgrids/kubernetes/sig-cloud-provider/OWNERS
  config/testgrids/kubernetes/sig-cloud-provider/aws/OWNERS
  config/testgrids/kubernetes/sig-cloud-provider/aws/config.yaml
  config/testgrids/kubernetes/sig-cloud-provider/azure/OWNERS
  config/testgrids/kubernetes/sig-cloud-provider/azure/config.yaml
  config/testgrids/kubernetes/sig-cloud-provider/gcp/OWNERS
  config/testgrids/kubernetes/sig-cloud-provider/gcp/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#14154 Revive logging in Plank
  prow/plank/controller.go
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/S

#14207 Update testgrid tab names for Kops periodics to use CI version markers
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics.yaml
Labels: approved, area/config, area/provider/aws, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/S

#14211 Add image for use in GCB with docker and gcloud installed
  images/gcb-docker-gcloud/Dockerfile
  images/gcb-docker-gcloud/Makefile
  images/gcb-docker-gcloud/cloudbuild.yaml
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/M

#14212 Add a script for creating a service account to auto-deploy Prow.
  prow/gcloud-deployer-service-account.sh
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#13646 Deck: Use presubmit config getter
  prow/cluster/starter.yaml
  prow/cmd/deck/BUILD.bazel
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
  prow/cmd/deck/pr_history.go
  prow/cmd/deck/pr_history_test.go
  prow/config/config.go
  prow/config/config_test.go
Labels: approved, area/prow, area/prow/bump, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/L

#14184 Pull-controller-runtime-test: Request 4 CPUs
  config/jobs/kubernetes-sigs/controller-runtime/controller-runtime-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#12995 Updated config-bootstrapper docs
  prow/cmd/config-bootstrapper/README.md
Labels: approved, area/prow, area/prow/config-bootstrapper, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#13153 branchprotector checks restrictions section user/team for authorisation
  prow/cmd/branchprotector/protect.go
  prow/cmd/branchprotector/protect_test.go
  prow/github/client.go
  prow/github/client_test.go
  prow/github/types.go
Labels: approved, area/prow, area/prow/branchprotector, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XL

#14126 Refactor deck to use prowjob
  hack/BUILD.bazel
  prow/cmd/deck/localdata/.gitignore
  prow/cmd/deck/main.go
  prow/cmd/deck/runlocal
  prow/cmd/deck/static/api/prow.ts
  prow/cmd/deck/static/common/common.ts
  prow/cmd/deck/static/pr/pr.ts
  prow/cmd/deck/static/prow/histogram.ts
  prow/cmd/deck/static/prow/prow.ts
  prow/cmd/deck/static/tide-history/tide-history.ts
  prow/cmd/deck/template/index.html
  prow/cmd/deck/template/pr.html
  prow/deck/jobs/jobs.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/XL

#14215 config/testgrids/openshift: add 4.2 serial canary for OpenStack
  config/testgrids/openshift/openshift.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#14219 Add prow job for pushing the gcb-docker-gcloud image
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#14195 Add a job to build/push images from kubernetes-sigs/cluster-api
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#14198 adding sig-cli email
  config/jobs/kubernetes/sig-cli/sig-cli-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13594 Update boskos stateful set to use RollingUpdate (default @v1)
  boskos/deployment.yaml
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/M

#14222 Change regex to detect changed Go code
  config/jobs/kubernetes-sigs/vsphere-csi-driver/vsphere-csi-driver.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#14223 Ensure latest report chronological order.
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
  prow/gerrit/reporter/reporter.go
Labels: approved, area/prow, area/prow/gerrit, cncf-cla: yes, lgtm, sig/testing, size/M

#14225 Add --env-passthrough to image-pusher
  images/builder/README.md
  images/builder/main.go
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/M

#14227 Don't add blank variables.
  images/builder/main.go
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/XS

#14230 Touch ups and refactors to the autobumper.
  experiment/autobumper/bumper/bumper.go
  experiment/autobumper/main.go
  prow/github/client.go
  robots/pr-creator/main.go
  robots/pr-creator/updater/updater.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#14231 Aggregate errors in branch protector
  prow/cmd/branchprotector/BUILD.bazel
  prow/cmd/branchprotector/protect.go
Labels: approved, area/prow, area/prow/branchprotector, cncf-cla: yes, lgtm, sig/testing, size/S

#13852 retitle: enable allow_closed_issues option
  prow/plugins.yaml
Labels: approved, area/github-management, area/prow, cncf-cla: yes, lgtm, sig/contributor-experience, sig/testing, size/XS

#14232 Enable all API groups for alpha-feature tests
  config/jobs/kubernetes/generated/generated.yaml
  experiment/test_config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14237 Retire planks deprecated job_url_prefix option
  prow/ANNOUNCEMENTS.md
  prow/cmd/plank/README.md
  prow/config.yaml
  prow/config/config.go
  prow/config/config_test.go
  prow/spyglass/README.md
Labels: approved, area/prow, area/prow/plank, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/M

#14240 kill log messages to reduce log spam
  ghproxy/ghmetrics/ghpath.go
Labels: approved, area/ghproxy, cncf-cla: yes, lgtm, sig/testing, size/XS

#14243 Enable prometheus snapshots in gce-100 job
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14228 Pass PULL_BASE_REF through to cluster-api builds.
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#14220 Run pull-kubernetes-e2e-gce-alpha-features when feature related files are touched
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/sig-gcp-gce-config.yaml
Labels: approved, area/config, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#14251 prow/gcsupload: Log options
  prow/gcsupload/run.go
Labels: approved, area/prow, area/prow/gcsupload, area/prow/pod-utilities, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#14252 Fix duration for deck prowjobs
  prow/cmd/deck/static/prow/prow.ts
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/XS

#14255 CAPV job updates
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#14253 Add windows cri validation presubmit test.
  config/jobs/containerd/cri/containerd-cri-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#14247 Update Cluster API GCP provider presubmits
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/OWNERS
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits.yaml
  prow/config.yaml
Labels: approved, area/config, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#14263 Add runner.sh to cluster-api-provider-gcp-make
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#14258 Migrate "flakedetector.py" to use "prowjobs.js"
  experiment/flakedetector.py
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/M

#14266 Update main boskos components to latest
  boskos/deployment.yaml
  boskos/metrics/deployment.yaml
  boskos/reaper/deployment.yaml
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XS

#14268 Enable Code Thaw for 1.16
  prow/config.yaml
  prow/plugins.yaml
Labels: approved, area/prow, area/release-eng, cncf-cla: yes, lgtm, priority/critical-urgent, sig/release, sig/testing, size/M

#14271 Vendor no longer exists, remove references to it
  hack/autodeps.sh
  hack/update-deps.sh
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#14269 Remove Cherrypicker Breadcrumb
  experiment/cherrypicker/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#14262 Make pull-controller-runtime-test mandatory
  config/jobs/kubernetes-sigs/controller-runtime/controller-runtime-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14273 Roll boskos back to last week
  boskos/deployment.yaml
  boskos/metrics/deployment.yaml
  boskos/reaper/deployment.yaml
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XS

#14275 Move Kubernetes-specific cherry-pick message to plugin config
  prow/plugins.yaml
  prow/plugins/config.go
  prow/plugins/config_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#14272 Update "gcloud-deployer-service-account.sh"
  prow/gcloud-deployer-service-account.sh
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#14279 deck: make tooltips not copy
  prow/cmd/deck/static/style.css
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/S, ¯\_(ツ)_/¯

#14270 remove 1.13 jobs
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XL

#14200 Be more lenient with errors in heartbeats
  boskos/cmd/cli/cli.go
  boskos/cmd/cli/cli_test.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/M

#14280 clonerefs: Add `--fail` flag.
  prow/clonerefs/options.go
  prow/clonerefs/run.go
Labels: approved, area/prow, area/prow/clonerefs, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/S

#14283 Change cluster-api scratch bucket to -gcb suffix
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#14248 Hide secrets in stdout/stderr when calling git-command
  experiment/autobumper/bumper/BUILD.bazel
  experiment/autobumper/bumper/bumper.go
  experiment/autobumper/bumper/bumper_test.go
  experiment/autobumper/main.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/L

#14285 Revert listed Boskos version(s) to deployed images
  boskos/deployment.yaml
  boskos/metrics/deployment.yaml
  boskos/reaper/deployment.yaml
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XS

#14246 Add image-pushing job for capo
  config/jobs/image-pushing/k8s-staging-capi-openstack.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#14284 Add image pushing for CAPA and CAPG
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#14288 Update to toolchains 0.29.2
  WORKSPACE
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#14291 Update to oldest available coreos-beta image - take #2
  jobs/e2e_node/image-config-1-12.yaml
  jobs/e2e_node/image-config-1-13.yaml
  jobs/e2e_node/image-config-1-14.yaml
  jobs/e2e_node/image-config.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#14292 prow/pod-utils/gcs/upload: Drop unused FileUploadWithMetadata
  prow/pod-utils/gcs/upload.go
Labels: approved, area/prow, area/prow/pod-utilities, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#14294 Update istio testgrid config
  config/testgrids/istio/istio.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XXL

#14159 kops pr: Add verify-gomod job
  config/jobs/kubernetes/kops/kops-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#14289 Update to go1.13, rules_go and gazelle
  WORKSPACE
  go.mod
  repos.bzl
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/M

#14296 start run books
  docs/runbooks.md
  greenhouse/runbook.md
Labels: approved, area/greenhouse, cncf-cla: yes, kind/documentation, lgtm, sig/testing, size/L

#14290 Run autoupdate more frequently
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14312 Remove unneeded gazelle statement
  BUILD.bazel
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#14192 bugzilla: generalize statuses to bug states
  prow/bugzilla/BUILD.bazel
  prow/bugzilla/fake.go
  prow/bugzilla/status.go
  prow/bugzilla/status_test.go
  prow/bugzilla/types.go
  prow/plugins/BUILD.bazel
  prow/plugins/bugzilla/BUILD.bazel
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
  prow/plugins/config.go
  prow/plugins/config_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XXL

#14317 AWS janitor: Make klog flags available
  maintenance/aws-janitor/cmd/aws-janitor-boskos/BUILD.bazel
  maintenance/aws-janitor/cmd/aws-janitor-boskos/main.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#14241 Prune SIG GCP dashboards and orphaned jobs
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-postsubmits.yaml
  config/jobs/kubernetes/sig-cli/sig-cli-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/OWNERS
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gke.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gcp-gpu-autoscaling.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gcp-gpu-presubmits.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gcp-gpu-upgrade-downgrade.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gke.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/upgrade-gce.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/upgrade-gke.yaml
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
  config/testgrids/kubernetes/sig-cloud-provider/gcp/OWNERS
  config/testgrids/kubernetes/sig-cloud-provider/gcp/config.yaml
  config/testgrids/kubernetes/sig-release/config.yaml
  config/tests/testgrids/config_test.go
  experiment/test_config.yaml
  jobs/validOwners.json
Labels: approved, area/config, area/gubernator, area/provider/gcp, area/release-eng, area/testgrid, cncf-cla: yes, lgtm, sig/cloud-provider, sig/cluster-lifecycle, sig/release, sig/testing, size/XL

#14310 Revert interrupt library PRs
  ghproxy/BUILD.bazel
  ghproxy/ghproxy.go
  prow/BUILD.bazel
  prow/cmd/admission/BUILD.bazel
  prow/cmd/admission/main.go
  prow/cmd/build/BUILD.bazel
  prow/cmd/build/main.go
  prow/cmd/crier/BUILD.bazel
  prow/cmd/crier/main.go
  prow/cmd/deck/BUILD.bazel
  prow/cmd/deck/main.go
  prow/cmd/gerrit/BUILD.bazel
  prow/cmd/gerrit/main.go
  prow/cmd/hook/BUILD.bazel
  prow/cmd/hook/main.go
  prow/cmd/horologium/BUILD.bazel
  prow/cmd/horologium/main.go
  prow/cmd/jenkins-operator/BUILD.bazel
  prow/cmd/jenkins-operator/main.go
  prow/cmd/phaino/BUILD.bazel
  prow/cmd/phaino/main.go
  prow/cmd/pipeline/BUILD.bazel
  prow/cmd/pipeline/main.go
  prow/cmd/plank/BUILD.bazel
  prow/cmd/plank/main.go
  prow/cmd/sinker/BUILD.bazel
  prow/cmd/sinker/main.go
  prow/cmd/status-reconciler/BUILD.bazel
  prow/cmd/status-reconciler/main.go
  prow/cmd/sub/BUILD.bazel
  prow/cmd/sub/main.go
  prow/cmd/tide/BUILD.bazel
  prow/cmd/tide/main.go
  prow/cmd/tot/BUILD.bazel
  prow/cmd/tot/main.go
  prow/crier/controller.go
  prow/crier/controller_test.go
  prow/external-plugins/cherrypicker/BUILD.bazel
  prow/external-plugins/cherrypicker/main.go
  prow/external-plugins/needs-rebase/BUILD.bazel
  prow/external-plugins/needs-rebase/main.go
  prow/external-plugins/refresh/BUILD.bazel
  prow/external-plugins/refresh/main.go
  prow/interrupts/BUILD.bazel
  prow/interrupts/interrupts.go
  prow/interrupts/interrupts_test.go
  prow/metrics/BUILD.bazel
  prow/metrics/metrics.go
  prow/pjutil/BUILD.bazel
  prow/pjutil/health.go
  prow/pjutil/pprof.go
  prow/statusreconciler/controller.go
Labels: approved, area/ghproxy, area/prow, area/prow/crier, area/prow/deck, area/prow/gerrit, area/prow/hook, area/prow/horologium, area/prow/jenkins-operator, area/prow/knative-build, area/prow/plank, area/prow/sinker, area/prow/tide, area/prow/tot, cncf-cla: yes, lgtm, sig/testing, size/XXL

#14323 Adding a label for test-infra oncall to track oncall issues.
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/testing, size/XS

#14309 Actually sync child team repository permissions
  prow/cmd/peribolos/main.go
  prow/cmd/peribolos/main_test.go
Labels: approved, area/prow, area/prow/peribolos, cncf-cla: yes, lgtm, sig/testing, size/M

#14331 Add common prow contributors/maintainers to reviewer list
  prow/OWNERS
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#14330 Use well-known proto libraries
  BUILD.bazel
  testgrid/resultstore/BUILD.bazel
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#14333 Update github.com/operator-framework/community-operators repo
  WORKSPACE
  prow/cluster/monitoring/BUILD.bazel
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/S

#14334 Fix mason to only work on registered configs
  boskos/mason/mason.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XS

#14187 triage: bypass unknown keys rather than runtime error
  triage/summarize.py
  triage/summarize_test.py
Labels: approved, area/triage, cncf-cla: yes, lgtm, sig/testing, size/XS

#14340 Fix an error message
  prow/clonerefs/options.go
Labels: approved, area/prow, area/prow/clonerefs, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/XS

#14341 Configure RedHat dashboard links in TestGrid
  config/testgrids/openshift/openshift.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XL

#14188 Preserve current location w/ query params on github redirect
  prow/cmd/deck/static/common/urls.ts
  prow/cmd/deck/static/pr/pr.ts
  prow/cmd/deck/static/prow/prow.ts
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/S

#14322 Add a ProwJob's .Status.BuildID as a Label on resources
  prow/kube/prowjob.go
  prow/pod-utils/decorate/podspec.go
  prow/pod-utils/decorate/podspec_test.go
Labels: approved, area/prow, area/prow/pod-utilities, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#14335 Define missing prow jobs for kubeflow/manifests and kubeflow/interna-acls
  config/jobs/kubeflow/kubeflow-periodics.yaml
  config/jobs/kubeflow/kubeflow-postsubmits.yaml
  config/jobs/kubeflow/kubeflow-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#14347 Use bazel 0.29.1 in test-infra
  .bazelversion
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-postsubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  images/bazelbuild/variants.yaml
Labels: approved, area/config, area/images, cncf-cla: yes, lgtm, sig/testing, size/S

#14345 Update interrupts test servers to grab random ports
  prow/interrupts/interrupts_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#14346 Refactor some functions in repoowners
  prow/repoowners/BUILD.bazel
  prow/repoowners/repoowners.go
  prow/repoowners/repoowners_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#14319 Typo fix - 'appled' => 'applied'
  prow/plugins/label/label.go
  prow/plugins/label/label_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#14349 Update bazelbuild jobs to use new 0.29.1 image
  config/jobs/kubernetes/test-infra/test-infra-postsubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#14352 Be more lenient with server starts in interrupts test
  prow/interrupts/interrupts_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#14338 Remove GKE based cluster autoscaler tests
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gcp-gpu-autoscaling.yaml
  config/testgrids/config.yaml
  config/testgrids/generated-test-config.yaml
  config/testgrids/kubernetes/sig-autoscaling/config.yaml
  experiment/test_config.yaml
Labels: approved, area/config, area/provider/gcp, area/testgrid, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XL

#14261 Add function KubernetesClientSet.
  kubetest/BUILD.bazel
  kubetest/eks.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS

#14337 Enable DaemonSets in scalability periodic jobs
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14358 Consider a corner case in ExpandAliases
  prow/repoowners/repoowners.go
  prow/repoowners/repoowners_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#14360 Update error messages in boskos
  boskos/ranch/ranch.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XS

#14281 Fix broken boskosctl sample
  boskos/cmd/cli/README.md
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/S

#14361 Fix link to "tide-history"
  prow/cmd/README.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#14356 Add @feiskyer to kubetest approver list.
  kubetest/OWNERS
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS

#14353 Remove old k8s client from "gerrit"
  prow/cmd/gerrit/BUILD.bazel
  prow/cmd/gerrit/main.go
  prow/cmd/gerrit/main_test.go
  prow/gerrit/adapter/BUILD.bazel
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
Labels: approved, area/prow, area/prow/gerrit, cncf-cla: yes, lgtm, sig/testing, size/L

#14365 Controller-Runtime: Run tests on release-0.2
  config/jobs/kubernetes-sigs/controller-runtime/controller-runtime-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14350 Removing less-used TestGrid code.
  go.mod
  testgrid/BUILD.bazel
  testgrid/README.md
  testgrid/cluster/BUILD.bazel
  testgrid/cmd/entomologist/BUILD.bazel
  testgrid/cmd/entomologist/README.md
  testgrid/cmd/entomologist/main.go
  testgrid/cmd/entomologist/main_test.go
  testgrid/cmd/summarizer/BUILD.bazel
  testgrid/cmd/summarizer/README.md
  testgrid/cmd/summarizer/example/BUILD.bazel
  testgrid/cmd/summarizer/example/client.go
  testgrid/cmd/summarizer/example/fake_response.go
  testgrid/cmd/summarizer/response/BUILD.bazel
  testgrid/cmd/summarizer/response/types.pb.go
  testgrid/cmd/summarizer/response/types.proto
  testgrid/cmd/summarizer/server.go
  testgrid/cmd/summarizer/summarizer.go
  testgrid/cmd/summarizer/summarizer_test.go
  testgrid/cmd/summarizer/summary/BUILD.bazel
  testgrid/cmd/summarizer/summary/summarizer_service.pb.go
  testgrid/cmd/summarizer/summary/summarizer_service.proto
  testgrid/cmd/updater/BUILD.bazel
  testgrid/cmd/updater/README.md
  testgrid/cmd/updater/main.go
  testgrid/cmd/updater/main_test.go
  testgrid/extension/testgrid_alerter/css/testgrid_alerter.css
  testgrid/extension/testgrid_alerter/images/icon.png
  testgrid/extension/testgrid_alerter/js/popup.js
  testgrid/extension/testgrid_alerter/js/settings.js
  testgrid/extension/testgrid_alerter/js/updater.js
  testgrid/extension/testgrid_alerter/manifest.json
  testgrid/extension/testgrid_alerter/static/popup.html
  testgrid/extension/testgrid_alerter/static/settings.html
  testgrid/images/BUILD.bazel
  testgrid/issue_state/BUILD.bazel
  testgrid/issue_state/issue_state.pb.go
  testgrid/issue_state/issue_state.proto
  testgrid/state/BUILD.bazel
  testgrid/state/state.pb.go
  testgrid/state/state.proto
  testgrid/summary/BUILD.bazel
  testgrid/summary/summary.pb.go
  testgrid/summary/summary.proto
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XXL

#14234 Update getting_started_deploy.md
  prow/getting_started_deploy.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#14364 Addition of Testgrid Service Account
  config/jobs/kubernetes/test-infra/test-infra-postsubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  testgrid/config-upload.sh
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#14366 Revert "Addition of Testgrid Service Account"
  config/jobs/kubernetes/test-infra/test-infra-postsubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  testgrid/config-upload.sh
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#14339 freeze k/website before release
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#14367 Handle GCS Error in Configurator
  testgrid/cmd/configurator/main.go
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#14355 Improvements and docs for pj-on-kind.sh.
  .gitignore
  config/pj-on-kind.sh
  prow/build_test_update.md
  prow/pj-on-kind.sh
  prow/pod-utils/gcs/upload.go
Labels: approved, area/config, area/prow, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/L

#14372 Add ci-npd-e2e-test job to run npd e2e tests
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-ci.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#14375 ci-npd-e2e-test: install libs required for compiling NPD
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-ci.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14368 Remove old k8s client from "artifact-uploader"
  prow/artifact-uploader/BUILD.bazel
  prow/artifact-uploader/controller.go
  prow/cmd/artifact-uploader/BUILD.bazel
  prow/cmd/artifact-uploader/main.go
Labels: approved, area/prow, area/prow/artifact-uploader, cncf-cla: yes, lgtm, sig/testing, size/S

#14376 ci-npd-e2e-test: set environment variables in the right way
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-ci.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14359 Enable simple latency query in scalability CI/CD jobs
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14380 Disable PVs in kubemark tests
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14357 Enable Jobs in scalability periodic jobs
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14381 add origin-e2e-gcp 4.2
  config/testgrids/openshift/openshift.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#14378 Added label for Russian language
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#14374 Reimplement "Addition of Testgrid Service Account"
  config/jobs/kubernetes/test-infra/test-infra-postsubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  testgrid/config-upload.sh
Labels: approved, area/config, area/testgrid, cncf-cla: yes, kind/oncall-hotlist, lgtm, sig/testing, size/M

#14384 Always run windows CRI validation and add postsubmit.
  config/jobs/containerd/cri/containerd-cri-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#14391 Move boskos config update job to the trusted cluster.
  config/jobs/kubernetes/test-infra/test-infra-postsubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#14383 Update istio testgrid files
  config/testgrids/istio/istio.yaml
  config/tests/testgrids/config_test.go
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XXL

#14392 Noting that jobs on bootstrap.py are not supported by oncall.
  jenkins/bootstrap.py
Labels: approved, area/jenkins, cncf-cla: yes, lgtm, sig/testing, size/S

#14371 unfreeze k/website after release
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#14397 Temporarily disable DaemonSets in 5K perf-tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14399 Expose load duration in a structured way
  prow/cmd/deck/pr_history.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/XS

#14204 Update Windows presubmit job
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14276 Move boskos deployment under prow, auto-deploy
  boskos/BUILD.bazel
  boskos/Makefile
  boskos/common/BUILD.bazel
  boskos/common/common_test.go
  boskos/reaper/BUILD.bazel
  boskos/service.yaml
  prow/cluster/BUILD.bazel
  prow/cluster/boskos-cleaner.yaml
  prow/cluster/boskos-janitor.yaml
  prow/cluster/boskos-metrics.yaml
  prow/cluster/boskos-reaper_deployment.yaml
  prow/cluster/boskos-resources.yaml
  prow/cluster/boskos.yaml
  prow/cluster/boskos_test.go
Labels: approved, area/boskos, area/prow, area/prow/bump, cncf-cla: yes, kind/oncall-hotlist, lgtm, sig/testing, size/L

#14398 kubekins-e2e: updated `K8S_RELEASE` for 1.16
  images/kubekins-e2e/variants.yaml
Labels: approved, area/images, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#14407 Update configmap correctly
  boskos/update_prow_config.sh
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/S, ¯\_(ツ)_/¯

#14408 ci-npd-e2e-test: pick up test VM image using image family
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-ci.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14410 Explicitly use cookie-secret flag and fix warning.
  prow/cluster/deck_deployment.yaml
  prow/cmd/deck/main.go
Labels: approved, area/prow, area/prow/bump, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/XS
