Repository kubernetes/test-infra, pull requests merged in 2019-07, with the labels that each got.

#13269 Update go modules
  go.mod
  go.sum
  repos.bzl
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#13277 Log information at info level
  prow/flagutil/bugzilla.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#13283 Update ingress-nginx jobs
  config/jobs/kubernetes/sig-network/ingress-nginx.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#13251 Copy annotations from Jobs to Pods
  prow/cmd/deck/main.go
  prow/cmd/horologium/main.go
  prow/cmd/mkpj/main.go
  prow/gerrit/adapter/adapter.go
  prow/jenkins/controller_test.go
  prow/pjutil/pjutil.go
  prow/pjutil/pjutil_test.go
  prow/plank/controller_test.go
  prow/plugins/trigger/push.go
  prow/pod-utils/decorate/podspec.go
  prow/pubsub/subscriber/subscriber.go
  prow/tide/tide.go
Labels: approved, area/prow, area/prow/deck, area/prow/gerrit, area/prow/horologium, area/prow/jenkins-operator, area/prow/mkpj, area/prow/plank, area/prow/pod-utilities, area/prow/pubsub, area/prow/tide, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#13165 Adds support for dynamic resource life cycle.
  boskos/BUILD.bazel
  boskos/README.md
  boskos/boskos.go
  boskos/boskos_test.go
  boskos/client/client.go
  boskos/common/BUILD.bazel
  boskos/common/common.go
  boskos/crds/crd_storage.go
  boskos/crds/resource_crd.go
  boskos/mason/mason.go
  boskos/mason/mason_test.go
  boskos/mason/storage.go
  boskos/mason/test-configs.yaml
  boskos/mason/test-resources.yaml
  boskos/ranch/BUILD.bazel
  boskos/ranch/ranch.go
  boskos/ranch/ranch_test.go
  boskos/ranch/storage.go
  boskos/server_client_test.go
  boskos/storage/storage.go
  boskos/storage_test.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XXL

#13284 ensure decorated jobs for kubernetes-security/kubernetes use the private bucket
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes-security/genjobs.go
Labels: approved, area/config, cncf-cla: yes, lgtm, priority/critical-urgent, sig/testing, size/L

#13260 Document prow presets
  config/jobs/README.md
  prow/jobs.md
Labels: approved, area/config, area/prow, cncf-cla: yes, kind/documentation, lgtm, sig/testing, size/M

#13190 fix markdown link to Next Steps
  prow/getting_started_deploy.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#13259 Optionally add pull requests to Bugzilla external trackers
  prow/bugzilla/OWNERS
  prow/bugzilla/client.go
  prow/bugzilla/client_test.go
  prow/bugzilla/fake.go
  prow/bugzilla/types.go
  prow/plugins/bugzilla/OWNERS
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
  prow/plugins/config.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#13286 make rbe better
  rbe/install-k8s-prow-builds.sh
  rbe/install-k8s-prow.sh
  rbe/install.sh
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/M

#13272 Enable kube-proxy scrapping in perf-tests' presubmit.
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#13294 Increasing gce load test qps to 20
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13296 Making k/r verify job required
  config/jobs/kubernetes/release/release-config.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#13298 Use correct parameter field name in JSONRPC calls
  prow/bugzilla/client.go
  prow/bugzilla/client_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#13271 fix(docs): Fix a link in README
  kubetest/README.md
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#13295 flipped to report both presubmit and postsubmit jobs by default
  prow/ANNOUNCEMENTS.md
  prow/config/config.go
  prow/config/config_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#13300 Use pip to import ruamel_yaml, resolves #13162
  experiment/BUILD.bazel
  hack/BUILD.bazel
  requirements.txt
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#13302 Allow configuring the Bugzilla plugin to validate by default
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
  prow/plugins/config.go
  prow/plugins/config_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#13303 mkpj: stop when first job is found
  prow/cmd/mkpj/main.go
Labels: approved, area/prow, area/prow/mkpj, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/L

#13301 Validate if earlier build was successful by spot checking for additional files
  scenarios/kubernetes_build.py
Labels: approved, area/scenarios, cncf-cla: yes, lgtm, sig/testing, size/XS

#13309 Add osde2e upgrades to Testgrid
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#13310 (Istio) Add dashboards for conformance post submit tests.
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#13307 Add intellij workspace directory to .gitignore.
  .gitignore
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#13287 Add CEL tests to TestGrid Dashboard
  kettle/buckets.yaml
  testgrid/config.yaml
Labels: approved, area/kettle, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#13299 Parse out JSONRPC errors, comment conditionally on update
  hack/verify-spelling.sh
  prow/bugzilla/client.go
  prow/bugzilla/client_test.go
  prow/bugzilla/fake.go
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#13289 Modify the corresponding aks-engine version to latest (on 2019-07-02)
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-azure/sig-azure-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#13304 Allow validation of dependent bugs in Bugzilla
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
  prow/plugins/config.go
  prow/plugins/config_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#13316 Set pull-release-verify to optional, due to k/r revert
  config/jobs/kubernetes/release/release-config.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#13273 Add kind-conformance-latest-1-14-arm64 testgrid config
  kettle/buckets.yaml
  testgrid/config.yaml
Labels: approved, area/kettle, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#13313 add dashboards for newly supported k8s version (1.15) in gardener
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#13314 Update Test grid for cloud-provider-openstack
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#13319 Update kubekins image for cluster-api-provider-aws jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#13292 Update command help for assign plugin
  prow/plugins/assign/assign.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#13197 Add checks to determine if a user can trigger jobs
  prow/cluster/deck_rbac.yaml
  prow/cmd/deck/BUILD.bazel
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
  prow/cmd/deck/static/prow/prow.ts
  prow/githuboauth/githuboauth.go
  prow/githuboauth/githuboauth_test.go
Labels: approved, area/prow, area/prow/bump, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/L, ¯\_(ツ)_/¯

#13322 Migrate Cluster API to podutils
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#13324 Add KUBE_MASTER_NODE_LABELS to scalability tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13325 Remove gke scalability tests from public prow and testgrid
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#13326 Rename kubernetes.io/node-exporter
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13327 Move gce-scale-{performance,correctness} +9 hours forward.
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13329 Enable violations from APIResponsivesPrometheus in gce-cos-master-scalability-100
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13330 Remove deprecated clusterloader test
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#13334 Increase Cluster API CPU resources
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13335 Fix Cluster API periodics
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-ci.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#13336 Use 6 CPUs for Cluster API test
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13337 Try to fix cluster-api-ci periodics
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-ci.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#13338 Try to fix cluster-api-ci periodics
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-ci.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#13331 Put all staging clusters on westus2 location.
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13344 Graduate node killer to 100-node scalability test
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#13320 Use latest 1.15 k8s in kops e2e aws test instead of k8s master
  config/jobs/kubernetes/kops/kops-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13339 Allow an unknown agent to be configured in prow
  prow/config/config.go
  prow/config/config_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#13351 Crier: Wait for status update to be in lister to avoid duplicate reporting
  prow/crier/controller.go
Labels: approved, area/prow, area/prow/crier, cncf-cla: yes, lgtm, sig/testing, size/S

#13282 kubeadm: update all kind(er) jobs for 1.16
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kind.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-etcd.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-upgrade.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-x-on-y.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, sig/cluster-lifecycle, sig/testing, size/L

#13122 Redirect grafana's http to https by nginx container
  prow/monitoring/grafana_configmaps.yaml
  prow/monitoring/grafana_deployment.yaml
  prow/monitoring/grafana_expose.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#13356 Fix nginx container name in grafana deployment
  prow/monitoring/grafana_deployment.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#13361 Add new osconfig testgrid tabs
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#13317 Fix kuberentes typos
  config/jobs/README.md
  prow/jobs.md
  prow/plugins/config.go
  prow/plugins/config_test.go
Labels: approved, area/config, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#13328 sig-release: Blockade changes to critical k/release tooling
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#13357 kops pr e2e: tell kops to deploy the 1.15 version
  config/jobs/kubernetes/kops/kops-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13348 sig-release: Add/update jobs to check for the existence of supported debs/rpms
  config/jobs/kubernetes/release/release-config.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/packages.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/release-eng, area/testgrid, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/release, sig/testing, size/M

#13347 Enable violations from prometheus-measured api responsiveness in Kubemark tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13365 Support health check of nginx
  prow/monitoring/grafana_configmaps.yaml
  prow/monitoring/grafana_deployment.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#13349 Crier: Move informer event logging to debug level
  prow/crier/controller.go
Labels: approved, area/prow, area/prow/crier, cncf-cla: yes, lgtm, sig/testing, size/XS

#13290 Update apiVersion of Prow's Deployment
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/pushgateway_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#13367 Ignore comments from istio-testing bot
  gubernator/github/classifier.py
Labels: approved, area/gubernator, cncf-cla: yes, lgtm, sig/testing, size/XS

#13214 Addition of Migrator Script
  experiment/migrate_testgrid_tabs.py
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#13368 metrics - upgrade py2 -> py3, #13164
  hack/verify-pylint.sh
  metrics/BUILD.bazel
  metrics/bigquery.py
  metrics/bigquery_test.py
  py.bzl
Labels: approved, area/metrics, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#13382 Stop using KUBEMARK_MASTER_COMPONENTS_QPS_LIMITS
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13354 Add presubmit for ingress-nginx lua lint check
  config/jobs/kubernetes/sig-network/ingress-nginx.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#13373 alert aojea on kind failures
  config/jobs/kubernetes-sigs/kind/kind.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#13376 Expose the size of updated ConfigMaps via metrics
  prow/cmd/config-bootstrapper/main.go
  prow/hook/events.go
  prow/hook/metrics.go
  prow/plugins/BUILD.bazel
  prow/plugins/plugins.go
  prow/plugins/updateconfig/BUILD.bazel
  prow/plugins/updateconfig/updateconfig.go
  prow/plugins/updateconfig/updateconfig_test.go
Labels: approved, area/prow, area/prow/config-bootstrapper, area/prow/hook, cncf-cla: yes, lgtm, sig/testing, size/M

#13366 Update capd presubmit job definition
  config/jobs/kubernetes-sigs/cluster-api-provider-docker/cluster-api-provider-docker-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, sig/testing, size/XS

#13384 Remove configmaps for grafana
  prow/monitoring/grafana_configmaps.yaml
  prow/monitoring/mixins/.gitignore
  prow/monitoring/mixins/Makefile
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XXL

#13387 Use single worker for github report for now
  prow/cluster/crier_deployment.yaml
  prow/cmd/crier/README.md
  prow/cmd/crier/main.go
  prow/cmd/crier/main_test.go
Labels: approved, area/prow, area/prow/bump, area/prow/crier, cncf-cla: yes, lgtm, sig/testing, size/S

#13385 hack - upgrade py2 -> py3, #13164
  hack/BUILD.bazel
  hack/coalesce.py
  hack/coalesce_test.py
  hack/verify-pylint.sh
  hack/verify_boilerplate.py
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#13391 sig-release: Update images for deb/rpm verify jobs
  config/jobs/kubernetes/release/release-config.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#13389 Adds cluster-api-bootstrap-provider-kubeadm to the milestone plugin
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#13383 velodrome - upgrade py2 -> py3, #13164
  hack/verify-pylint.sh
  velodrome/BUILD.bazel
  velodrome/config.py
Labels: approved, area/velodrome, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#13311 sig-cluster-lifecycle: add presubmits for the etcdadm project
  config/jobs/kubernetes-sigs/etcdadm/OWNERS
  config/jobs/kubernetes-sigs/etcdadm/etcdadm-presubmits.yaml
  prow/plugins.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/prow, area/testgrid, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, sig/testing, size/S

#13392 Update gcloud-base image.
  WORKSPACE
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#13399 Increasing c-jobs kubemark logs size
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13364 Update Bugzilla Bug state when linked PRs merge
  prow/bugzilla/client.go
  prow/bugzilla/client_test.go
  prow/bugzilla/fake.go
  prow/bugzilla/types.go
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
  prow/plugins/config.go
  prow/plugins/config_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XL

#13395 Add optional csi pull jobs for 1.15
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XL

#13390 Added condition to skip terminated containers
  prow/cmd/deck/main.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/XS

#13402 Add cluster-api-aws to image promoter configs
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#13403 Add testgrid annotations to job examples
  config/jobs/README.md
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#13408 Add osd integration to testgrid
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#13405 Support anchor links in lenses
  prow/cmd/deck/static/spyglass/common.ts
  prow/cmd/deck/static/spyglass/lens.ts
  prow/cmd/deck/static/spyglass/spyglass.ts
  prow/config/config.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/L

#13411 Have a single getParameterByName method.
  prow/cmd/deck/static/BUILD.bazel
  prow/cmd/deck/static/command-help/command-help.ts
  prow/cmd/deck/static/common/urls.ts
  prow/cmd/deck/static/plugin-help/plugin-help.ts
  prow/cmd/deck/static/prow/prow.ts
  prow/cmd/deck/static/tide-history/tide-history.ts
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/M

#13363 Add CAPV fmt, lint, vet, and markdown pre-submits
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#13412 Add new lens API spyglass.makeFragmentLink()
  prow/cmd/deck/static/BUILD.bazel
  prow/cmd/deck/static/spyglass/common.ts
  prow/cmd/deck/static/spyglass/lens.ts
  prow/cmd/deck/static/spyglass/spyglass.ts
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/M

#13398 config/jobs/*/eks: use 1.13
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-aws/eks/eks-periodics.yaml
  config/jobs/kubernetes/sig-aws/eks/eks-presets.yaml
  config/jobs/kubernetes/sig-aws/eks/eks-presubmits.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#13415 Deck fixes
  prow/cmd/deck/main.go
  prow/cmd/deck/static/prow/prow.ts
  prow/cmd/deck/template/base.html
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/M

#13378 support @user -> user in github client, repoowners, etc.
  prow/github/types.go
  prow/repoowners/repoowners_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#13410 Use a single verify presubmit for CAPA
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#13268 Update alert email for Release Engineering jobs
  config/jobs/kubernetes/release/release-config.yaml
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Labels: approved, area/config, area/release-eng, area/testgrid, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#13421 Enable blockade plugin for k/release
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#13423 Move scale tests to master-informing dashboard
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13422 Enable scrape-node-exporter experiment
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13424 Enable kubemark 5k prometheus disk snapshots
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13425 fix-kubeadm-kinder-1-13-on-1-12
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-x-on-y.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#13409 Only move Bugzilla bugs to post-merge from known statuses
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#13429 Use MIME-type text/yaml for yaml
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/XS

#13431 Fix visibility of deployment targets
  prow/cluster/monitoring/BUILD.bazel
  prow/cluster/monitoring/mixins/dashboards_out/BUILD.bazel
  prow/def.bzl
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#13433 Revert multirun on deployment
  WORKSPACE
  prow/cluster/BUILD.bazel
  prow/cluster/monitoring/BUILD.bazel
  prow/cluster/monitoring/mixins/dashboards_out/BUILD.bazel
  prow/def.bzl
  prow/deploy.sh
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#13386 Add a dashboard to show ConfigMap sizes
  prow/cluster/monitoring/mixins/grafana_dashboards/hook.jsonnet
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/S

#13388 Add prow/cluster/monitoring/README.md
  prow/cluster/monitoring/README.md
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#13427 Enable probes measuring networking latency in perf-test presubmit and gce100
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13447 Update sig-autoscaling OWNERS
  config/jobs/kubernetes/sig-autoscaling/OWNERS
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13445 Add default excluded branch regex
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#13434 Update CI jobs for 1.15 and only have alpha jobs for 1.15 and master
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/external-snapshotter/external-snapshotter-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/livenessprobe/livenessprobe-config.yaml
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XL

#13437 Test Group Mass Migration
  config/jobs/GoogleCloudPlatform/k8s-cluster-bundle/k8s-cluster-bundle.yaml
  config/jobs/kubeflow/kubeflow-presubmits.yaml
  config/jobs/kubernetes-sigs/aws-alb-ingress-controller/aws-alb-ingress-controller-presubmits.yaml
  config/jobs/kubernetes-sigs/aws-ebs-csi-driver/aws-ebs-csi-driver-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-ci.yaml
  config/jobs/kubernetes-sigs/kind/kind.yaml
  config/jobs/kubernetes-sigs/poseidon/poseidon-config.yaml
  config/jobs/kubernetes-sigs/release-notes/release-notes-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
  config/jobs/kubernetes-sigs/structured-merge-diff/structured-merge-diff-presubmits.yaml
  config/jobs/kubernetes-sigs/vsphere-csi-driver/vsphere-csi-driver.yaml
  config/jobs/kubernetes/cloud-provider-alibaba-cloud/cloud-provider-alibaba-cloud-config.yaml
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-config.yaml
  config/jobs/kubernetes/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes/cloud-provider-vsphere/cloud-provider-vsphere-config.yaml
  config/jobs/kubernetes/cluster-registry/cluster-registry-config.yaml
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-ci.yaml
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-presubmits.yaml
  config/jobs/kubernetes/org/kubernetes-org-jobs.yaml
  config/jobs/kubernetes/release/release-config.yaml
  config/jobs/kubernetes/sig-azure/sig-azure-config.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kind.yaml
  config/jobs/kubernetes/sig-gcp/gce-conformance.yaml
  config/jobs/kubernetes/sig-gcp/gpu/sig-gcp-gpu-gce.yaml
  config/jobs/kubernetes/sig-gcp/gpu/sig-gcp-gpu-gke.yaml
  config/jobs/kubernetes/sig-gcp/sig-gcp-gce-config.yaml
  config/jobs/kubernetes/sig-network/ci-e2e-gce-netd.yaml
  config/jobs/kubernetes/sig-network/ingress-nginx.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.12.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.13.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.14.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
  config/jobs/kubernetes/sig-testing/conformance-e2e.yaml
  config/jobs/kubernetes/sig-testing/dependencies.yaml
  config/jobs/kubernetes/sig-testing/integration.yaml
  config/jobs/kubernetes/sig-testing/local-e2e.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
  config/jobs/kubernetes/test-infra/test-infra-canaries.yaml
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-postsubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/jobs/tensorflow/minigo/minigo.yaml
  testgrid/cmd/configurator/config_test.go
  testgrid/config.yaml
Labels: approved, area/config, area/release-eng, area/testgrid, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/release, sig/testing, size/XXL

#13436 Enhancement to Migration Script
  experiment/migrate_testgrid_tabs.py
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/L

#13132 Start the OSS Testgrid summarizer component.
  go.mod
  hack/BUILD.bazel
  hack/coalesce.py
  hack/coalesce_test.py
  hack/update-protos.sh
  hack/verify-protos.sh
  hack/verify_boilerplate.py
  testgrid/cmd/summarizer/BUILD.bazel
  testgrid/cmd/summarizer/README.md
  testgrid/cmd/summarizer/example/BUILD.bazel
  testgrid/cmd/summarizer/example/client.go
  testgrid/cmd/summarizer/example/fake_response.go
  testgrid/cmd/summarizer/response/BUILD.bazel
  testgrid/cmd/summarizer/response/types.pb.go
  testgrid/cmd/summarizer/response/types.proto
  testgrid/cmd/summarizer/server.go
  testgrid/cmd/summarizer/summarizer.go
  testgrid/cmd/summarizer/summarizer_test.go
  testgrid/cmd/summarizer/summary.go
  testgrid/cmd/summarizer/summary/BUILD.bazel
  testgrid/cmd/summarizer/summary/summarizer_service.pb.go
  testgrid/cmd/summarizer/summary/summarizer_service.proto
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XXL

#13417 add zone selection prompt to "tackle"
  prow/cmd/tackle/main.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L, ¯\_(ツ)_/¯

#13453 Fixing typo in a README
  boskos/mason/README.md
Labels: approved, area/boskos, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#13458 Fix broken kubemark presubmits in release branches
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13460 Using existing k8s images in clusterloader2 presubmits
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13461 Temporarily double master disks' sizes in scale tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13462 Removing unneeded flags
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13463 Removing unneeded stage flag
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13419 Add support for linking to log lines in spyglass
  prow/cmd/deck/static/spyglass/common.ts
  prow/cmd/deck/static/spyglass/lens.ts
  prow/cmd/deck/static/spyglass/spyglass.ts
  prow/spyglass/lenses/buildlog/buildlog.css
  prow/spyglass/lenses/buildlog/buildlog.ts
  prow/spyglass/lenses/buildlog/lens.go
  prow/spyglass/lenses/buildlog/lens_test.go
  prow/spyglass/lenses/buildlog/template.html
Labels: approved, area/prow, area/prow/deck, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/L

#13416 allow gke support release channels
  kubetest/extract_k8s.go
  kubetest/extract_test.go
  kubetest/gke.go
  kubetest/util.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/L

#13469 Build controller: Properly match error for missing crd
  prow/cmd/build/BUILD.bazel
  prow/cmd/build/main.go
Labels: approved, area/prow, area/prow/knative-build, cncf-cla: yes, lgtm, sig/testing, size/XS

#13465 fix verify-file-perms.sh
  hack/verify-file-perms.sh
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#13440 Clean up pods whose ProwJob is in aborted state
  prow/cmd/sinker/main.go
  prow/cmd/sinker/main_test.go
Labels: approved, area/prow, area/prow/sinker, cncf-cla: yes, lgtm, sig/testing, size/M

#13451 Plank dispatches jobs sorted by creation time
  prow/plank/controller.go
  prow/plank/controller_test.go
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#13381 Add projects to Prow user list
  prow/README.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#13323 Add CSRF protection to deck
  go.mod
  go.sum
  prow/cmd/deck/BUILD.bazel
  prow/cmd/deck/csrf.md
  prow/cmd/deck/main.go
  prow/cmd/deck/static/pr/pr.ts
  prow/cmd/deck/static/prow/prow.ts
  prow/cmd/deck/static/spyglass/spyglass.ts
  prow/cmd/deck/template/base.html
  prow/cmd/deck/templates.go
  prow/githuboauth/githuboauth.go
  prow/githuboauth/githuboauth_test.go
  repos.bzl
  vendor/BUILD.bazel
  vendor/github.com/gorilla/csrf/AUTHORS
  vendor/github.com/gorilla/csrf/BUILD.bazel
  vendor/github.com/gorilla/csrf/LICENSE
  vendor/github.com/gorilla/csrf/context.go
  vendor/github.com/gorilla/csrf/csrf.go
  vendor/github.com/gorilla/csrf/doc.go
  vendor/github.com/gorilla/csrf/helpers.go
  vendor/github.com/gorilla/csrf/options.go
  vendor/github.com/gorilla/csrf/store.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/XXL

#13474 Build controller: Disable manager metrics to prevent bind errors
  prow/cmd/build/main.go
Labels: approved, area/prow, area/prow/knative-build, cncf-cla: yes, lgtm, sig/testing, size/XS

#13478 Update spyglass docs
  prow/spyglass/README.md
  prow/spyglass/architecture.md
  prow/spyglass/write-a-lens.md
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/XL

#13459 Enable probes measuing in-cluster network latency in k/k presubmit.
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13484 Revert "Enable violations from APIResponsivesPrometheus in gce-cos-master-scalability-100"
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13483 Add serial e2e test.
  config/jobs/kubernetes/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/azure, sig/testing, size/M

#13446 Increase timeouts for VPA jobs
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13485 Temporarily disable node-exporter in gce-100-perf
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13486 Revert temporary increase of disk sizes in gce-scale-performance
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13481 Fix the paths in the bazel commands of README
  prow/cluster/monitoring/README.md
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#13435 Add alertmanager into prow-monitoring
  prow/cluster/monitoring/BUILD.bazel
  prow/cluster/monitoring/README.md
  prow/cluster/monitoring/alertmanager-prow_secret.yaml
  prow/cluster/monitoring/alertmanager_expose.yaml
  prow/cluster/monitoring/alertmanager_rbac.yaml
  prow/cluster/monitoring/mixins/.gitignore
  prow/cluster/monitoring/mixins/Makefile
  prow/cluster/monitoring/mixins/dashboards_out/BUILD.bazel
  prow/cluster/monitoring/mixins/prometheus/BUILD.bazel
  prow/cluster/monitoring/mixins/prometheus/ci_absent_alerts.libsonnet
  prow/cluster/monitoring/mixins/prometheus/prometheus.libsonnet
  prow/cluster/monitoring/mixins/prometheus/prow_monitoring_absent_alerts.libsonnet
  prow/cluster/monitoring/mixins/prometheus/prow_prometheusrule.jsonnet
  prow/cluster/monitoring/mixins/prometheus_out/BUILD.bazel
  prow/cluster/monitoring/prow_alertmanager.yaml
  prow/deploy.sh
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/L

#13114 Prow pipeline controller fixes and improvements
  prow/cmd/pipeline/BUILD.bazel
  prow/cmd/pipeline/controller.go
  prow/cmd/pipeline/controller_test.go
  prow/config/BUILD.bazel
  prow/config/config.go
  prow/config/config_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XL

#13489 Update CAPV pre-submits to run_if_changed
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#13464 decorate: Configure workDir for container from refs.
  prow/apis/prowjobs/v1/types.go
  prow/pod-utilities.md
  prow/pod-utils/decorate/podspec.go
Labels: approved, area/prow, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/S

#13494 Several fixes regarding to alertmanager deployment
  prow/cluster/monitoring/OWNERS
  prow/cluster/monitoring/alertmanager-prow_secret.yaml
  prow/cluster/monitoring/mixins/grafana_dashboards/prow.jsonnet
  prow/cluster/monitoring/mixins/prometheus/prow_monitoring_absent_alerts.libsonnet
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/L

#13457 Add pip config and modify the Linux distro.
  kubetest/azure.go
  kubetest/azure_helpers.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, ok-to-test, sig/azure, sig/testing, size/M

#13496 Improve prow/cluster/monitoring/README.md
  prow/cluster/monitoring/README.md
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/S

#13477 Migration of fejta-bot-periodics to prow annotations
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#13498 Configure extra_refs for ingress-nginx
  config/jobs/kubernetes/sig-network/ingress-nginx.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13497 Run generate_tests.py to bump generated.yaml
  config/jobs/kubernetes/generated/generated.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#13473 Move remaining VMW prow jobs to use annotations
  config/jobs/kubernetes-sigs/vsphere-csi-driver/vsphere-csi-driver.yaml
  config/jobs/kubernetes/cloud-provider-vsphere/cloud-provider-vsphere-config.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#13500 Add additional test to Istio testgrid dashboard
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#13499 Fix port name of alertmanager svc in prometheus config
  prow/cluster/monitoring/prow_prometheus.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS
