Repository kubernetes/test-infra, pull requests merged in 2019-05, with the labels that each got.

#12429 Use the image builder to build itself
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  images/builder/Dockerfile
  images/builder/cloudbuild.yaml
  images/builder/run.sh
  testgrid/config.yaml
Labels: approved, area/config, area/images, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#12432 sigs.k8s.io/kind job updates
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
  config/jobs/kubernetes-sigs/kind/kind.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#12435 Bump GCE PD CSI Driver test timeout to 90 minutes
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-postsubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#12438 Call bazel run when invoked from shell
  hack/update-protos.sh
  hack/verify-protos.sh
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/M

#12439 Convert {update,verify}-{bazel,deps}.sh into bazel targets
  BUILD.bazel
  hack/BUILD.bazel
  hack/update-bazel.sh
  hack/update-deps.sh
  hack/verify-bazel.sh
  hack/verify-deps.sh
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/L

#12413 Delete unused build-then-unit script
  hack/build-then-unit.sh
  hack/rbe-build-then-unit.sh
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/M

#12444 Add getting started docs for GCS buckets
  prow/getting_started_deploy.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#12433 Add pull-kubernetes-dependencies-canary job
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-testing/dependencies.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#12448 docs: clarify setting up PR Status for private repos
  prow/docs/pr_status_setup.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#12420 Make tslint a normal lint test
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  hack/BUILD.bazel
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#12421 Remove unused tslint scripts/targets
  BUILD.bazel
  hack/verify-tslint.sh
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/M

#12400 Add more kinder upgrade jobs
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-upgrade.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, sig/cluster-lifecycle, sig/testing, size/L

#12436 revert PR 12387
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-testing/conformance-e2e.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS, ¯\_(ツ)_/¯

#12463 Add omitempty to more Job config fields
  prow/config/jobs.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#12462 Fix validation of regex skip_branches
  prow/config/config_test.go
  prow/config/jobs.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#12464 kubeadm: checkout k/k release branches instead of master
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-upgrade.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#12457 Update link to flaky tests doc
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#12384 Add a utility to run go benchmarks and output JUnit XML.
  BUILD.bazel
  config/jobs/kubernetes/test-infra/test-infra-canaries.yaml
  experiment/BUILD.bazel
  experiment/dummybenchmarks/BUILD.bazel
  experiment/dummybenchmarks/dummy.go
  experiment/dummybenchmarks/dummy_test.go
  experiment/dummybenchmarks/subpkg/BUILD.bazel
  experiment/dummybenchmarks/subpkg/subpkg.go
  experiment/dummybenchmarks/subpkg/subpkg_test.go
  pkg/benchmarkjunit/.gitignore
  pkg/benchmarkjunit/BUILD.bazel
  pkg/benchmarkjunit/README.md
  pkg/benchmarkjunit/integration_test.go
  pkg/benchmarkjunit/main.go
  pkg/benchmarkjunit/parse.go
  pkg/benchmarkjunit/prowjob_example.yaml
  testgrid/config.yaml
  testgrid/metadata/junit/junit.go
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XXL

#12465 Add the required path_alias to the ci-test-infra-benchmark-demo job.
  config/jobs/kubernetes/test-infra/test-infra-canaries.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#12450 Add a yamllint presubmit to test-infra
  config/jobs/.yamllint.conf
  config/jobs/GoogleCloudPlatform/k8s-cluster-bundle/k8s-cluster-bundle.yaml
  config/jobs/gke/containerd/gke-test-containerd.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-postsubmits.yaml
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
  config/jobs/kubernetes-sigs/kind/kind.yaml
  config/jobs/kubernetes-sigs/kube-batch/kube-batch-config.yaml
  config/jobs/kubernetes-sigs/kubebuilder-declarative-pattern/kubebuilder-declarative-pattern-presubmits.yaml
  config/jobs/kubernetes-sigs/poseidon/poseidon-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-config.yaml
  config/jobs/kubernetes/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes/cloud-provider-openstack/cloud-provider-openstack-config.yaml
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-azure/sig-azure-config.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/packages.yaml
  config/jobs/kubernetes/sig-network/ingress-gce-e2e.yaml
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#12467 Add kinder X on Y tests
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-x-on-y.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, sig/cluster-lifecycle, sig/testing, size/L

#12473 Fix lastUpdatetime behavior for postsubmits.
  prow/gerrit/client/client.go
Labels: approved, area/prow, area/prow/gerrit, cncf-cla: yes, lgtm, sig/testing, size/XS

#12414 DecorationConfig: add pointers to Durations.
  prow/apis/prowjobs/v1/types.go
  prow/apis/prowjobs/v1/types_test.go
  prow/apis/prowjobs/v1/zz_generated.deepcopy.go
  prow/cmd/build/controller.go
  prow/cmd/build/controller_test.go
  prow/config/config_test.go
  prow/pod-utils/decorate/podspec.go
  prow/pod-utils/decorate/podspec_test.go
Labels: approved, area/prow, area/prow/knative-build, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/M, ¯\_(ツ)_/¯

#12445 Set limits on Istio racetest & integration test jobs.
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#12452 Convert {update,verify}-config.sh into bazel targets
  hack/BUILD.bazel
  hack/update-config.sh
  hack/verify-config.sh
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/L

#12474 Enable running CSI expansion tests. Also enable online expansion test
  config/jobs/kubernetes/generated/generated.yaml
  experiment/test_config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/storage, sig/testing, size/S

#12411 Use rbe for pull-kubernetes-bazel-build
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#12472 Document ci-test-infra-benchmark-demo in the benchmarkjunit README.
  pkg/benchmarkjunit/OWNERS
  pkg/benchmarkjunit/README.md
  pkg/benchmarkjunit/prowjob_example.yaml
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, sig/testing, size/S

#12477 Enable the project plugin for Kubeflow.
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#12451 Remove duplicate pull-test-infra-verify-bazel job
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#12394 Re-enable prometheus server in scalability tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#12483 Set gcp-ssh-proxy-instance-name in private cluster correctness tests.
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#12476 Add support for prowjob annotations to the testgrid configurator
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  prow/config/jobs.go
  testgrid/README.md
  testgrid/cmd/configurator/BUILD.bazel
  testgrid/cmd/configurator/config_test.go
  testgrid/cmd/configurator/main.go
  testgrid/cmd/configurator/prow.go
  testgrid/config.yaml
  testgrid/config/config.go
Labels: approved, area/config, area/prow, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#12475 Add Annotations field to prowjobs.
  prow/config/jobs.go
Labels: approved, area/prow, cncf-cla: yes, sig/testing, size/XS

#12469 prow/pod-utils/gcs: Add *UploadWithAttributes()
  prow/gcsupload/run.go
  prow/pod-utils/gcs/metadata.go
  prow/pod-utils/gcs/metadata_test.go
  prow/pod-utils/gcs/upload.go
Labels: approved, area/prow, area/prow/gcsupload, area/prow/pod-utilities, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#11696 Add method to fetch release version with http client
  kubetest/extract_k8s.go
  kubetest/extract_test.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#12479 add prow jobs for cluster api provider ibmcloud
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/OWNERS
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits.yaml
  prow/config.yaml
  prow/plugins.yaml
  testgrid/cmd/configurator/config_test.go
  testgrid/config.yaml
Labels: approved, area/config, area/prow, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#12490 Add post-kubernetes-bazel-test job, use RBE
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#12443 Add tooling to automate release-based job forking
  experiment/BUILD.bazel
  experiment/config-forker/BUILD.bazel
  experiment/config-forker/README.md
  experiment/config-forker/main.go
  experiment/config-forker/main_test.go
  prow/config/config.go
Labels: approved, area/config, area/prow, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XXL

#12493 testgrid/release: replace kubeadm-gce* jobs with kubeadm-kind(er)*
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, sig/cluster-lifecycle, sig/release, sig/testing, size/M

#12495 Stop running master ci-kubernetes-bazel-test job on release commits
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#12496 Bazel documentation
  hack/BUILD.bazel
  hack/update-bazel.sh
  hack/update-config.sh
  hack/update-deps.sh
  hack/update-protos.sh
  hack/verify-bazel.sh
  hack/verify-config.sh
  hack/verify-deps.sh
  hack/verify-protos.sh
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#12497 Use regex to skip release branches
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
  config/jobs/kubernetes/sig-testing/dependencies.yaml
  config/jobs/kubernetes/sig-testing/typecheck.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#12501 Add experimental microbenchmarks job
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#12502 Fix microbenchmarks job
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#12503 Fix microbenchmarks again
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#12500 Make ci-kubernetes-bazel-test use RBE
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#12446 Update triage dashboard python code to support Python 3.
  triage/BUILD.bazel
  triage/berghelroach.py
  triage/berghelroach_test.py
  triage/summarize.py
  triage/summarize_test.py
Labels: approved, area/triage, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#12506 Add milestone plugin to kops
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#12511 Move master-upgrade jobs to master-informing
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#12509 Back off triage job from 20m to 40m
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#12512 Update sig-windows-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#12507 Upload new image for prow jobs with bazel 0.25.0
  config/jobs/bazelbuild/rules_k8s/rules_k8s_config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#12514 Make benchmarkjunit exit non-zero if a benchmark fails unless `--pass-on-error` is set.
  config/jobs/kubernetes/test-infra/test-infra-canaries.yaml
  pkg/benchmarkjunit/README.md
  pkg/benchmarkjunit/integration_test.go
  pkg/benchmarkjunit/main.go
  pkg/benchmarkjunit/prowjob_example.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#12518 Use prow config when uploading testgrid config
  config/jobs/kubernetes/test-infra/test-infra-postsubmits.yaml
  testgrid/config-upload.sh
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS

#12516 Shuffle release branch jobs and add fork annotations
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes-security/genjobs.go
  config/jobs/kubernetes/release-branch-jobs/1.11.yaml
  config/jobs/kubernetes/release-branch-jobs/1.12.yaml
  config/jobs/kubernetes/release-branch-jobs/1.13.yaml
  config/jobs/kubernetes/release-branch-jobs/1.14.yaml
  config/jobs/kubernetes/sig-aws/kops/kops-presubmits.yaml
  config/jobs/kubernetes/sig-gcp/gce-conformance.yaml
  config/jobs/kubernetes/sig-gcp/gpu/sig-gcp-gpu-presubmit.yaml
  config/jobs/kubernetes/sig-gcp/sig-gcp-gce-config.yaml
  config/jobs/kubernetes/sig-gcp/sig-gcp-gke-config.yaml
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
  config/jobs/kubernetes/sig-testing/integration.yaml
  config/jobs/kubernetes/sig-testing/typecheck.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
  testgrid/cmd/configurator/prow.go
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XXL

#12519 Place release-branch-jobs in sig-release jobs dir
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.11.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.12.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.13.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.14.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XXL

#12523 Add --push flag to skip building
  scenarios/kubernetes_bazel.py
Labels: approved, area/scenarios, cncf-cla: yes, lgtm, sig/testing, size/XS

#12520 Add a log message when checkconfig passes without error
  prow/cmd/checkconfig/main.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#10870 assign release-blocking job ownership
  testgrid/cmd/configurator/config_test.go
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#12522 bump verify presubmit timeout for old releases
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#12524 Add presubmits for kubernetes/community to testgrid
  testgrid/cmd/configurator/config_test.go
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/contributor-experience, sig/testing, size/S

#12482 kubernetes-csi: test 1.14 deployment periodically
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#12466 add kubeflow/kfserving to Prow
  config/jobs/kubeflow/kubeflow-presubmits.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#12526 Removing trailing comma from email address.
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS

#12532 Verify pylint is run inside bazel
  hack/verify-pylint.sh
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#12535 Update triage image to include six
  triage/Dockerfile
  triage/requirements.txt
Labels: approved, area/triage, cncf-cla: yes, lgtm, sig/testing, size/XS

#12531 Delete unused bazel-test-affected.sh
  hack/bazel-test-affected.sh
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/M

#12533 Update Logrus to v1.4.1
  WORKSPACE
  go.mod
  go.sum
  vendor/github.com/sirupsen/logrus/BUILD.bazel
  vendor/github.com/sirupsen/logrus/alt_exit.go
  vendor/github.com/sirupsen/logrus/entry.go
  vendor/github.com/sirupsen/logrus/exported.go
  vendor/github.com/sirupsen/logrus/json_formatter.go
  vendor/github.com/sirupsen/logrus/logger.go
  vendor/github.com/sirupsen/logrus/logrus.go
  vendor/github.com/sirupsen/logrus/terminal_check_bsd.go
  vendor/github.com/sirupsen/logrus/terminal_check_notappengine.go
  vendor/github.com/sirupsen/logrus/terminal_check_unix.go
  vendor/github.com/sirupsen/logrus/text_formatter.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XL

#12537 Adding myself to oncall mapping.
  experiment/slack-oncall-updater/main.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#12528 Allow --config in kubernetes_bazel scenario
  scenarios/kubernetes_bazel.py
  scenarios/kubernetes_bazel_test.py
Labels: approved, area/scenarios, cncf-cla: yes, lgtm, sig/testing, size/M

#12540 Fix metrics name in hook
  prow/hook/server.go
Labels: approved, area/prow, area/prow/hook, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#12541 Add more debugging to Tide blocker issue harvesting
  prow/tide/blockers/BUILD.bazel
  prow/tide/blockers/blockers.go
  prow/tide/blockers/blockers_test.go
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/S

#12538 Turn off AWS resource sweeping for now
  boskos/janitor/deployment.yaml
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XS

#12545 Add email for sig-release master-blocking alerts
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#12542 Ensure testgrid config contains parseable emails
  testgrid/cmd/configurator/config_test.go
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#12543 Build release targets during the build step
  scenarios/kubernetes_bazel.py
Labels: approved, area/scenarios, cncf-cla: yes, lgtm, sig/testing, size/XS

#12546 Remove --job-config-path from start.yaml
  prow/cluster/starter.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#12529 Create RBE versions of {post,periodic}-kubernetes-bazel-build
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#12547 Accept any type of branch name
  prow/tide/blockers/blockers.go
  prow/tide/blockers/blockers_test.go
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/M

#12549 Use gcr.io/cloud-provider-vsphere/csi-ci for CI
  config/jobs/kubernetes-sigs/vsphere-csi-driver/vsphere-csi-driver.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#12551 Use RBE on periodic-kubernetes-bazel-test-master
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#12515 Separating master tests from other branches for Istio
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#12525 Enable csi volume expansion tests
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-gcp/sig-gcp-gce-config.yaml
  config/jobs/kubernetes/sig-gcp/sig-gcp-gke-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/storage, sig/testing, size/XS

#12552 Use RBE for periodic-kubernetes-bazel-build-master
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#12458 add unit tests for deck commands in scope of #12137
  prow/cmd/deck/BUILD.bazel
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#12530 Delete unused verify-variables.sh
  hack/verify-variables.sh
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/M

#12550 update kind presubmits
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#12544 Add TestGrid entries for upcoming integration test gates.
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#12480 Update SIG PM OWNERS
  config/jobs/kubernetes/enhancements/OWNERS
  config/jobs/kubernetes/sig-pm/OWNERS
  config/jobs/kubernetes/sig-pm/enhancements-presubmit.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/pm, sig/testing, size/S

#12553 Correctly decorate log message with org
  prow/tide/blockers/blockers.go
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/XS

#12348 Check for reviewer availability in blunderbuss
  prow/plugins/blunderbuss/BUILD.bazel
  prow/plugins/blunderbuss/blunderbuss.go
  prow/plugins/blunderbuss/blunderbuss_test.go
  prow/plugins/config.go
Labels: approved, area/prow, cncf-cla: yes, kind/feature, lgtm, sig/testing, size/L

#12556 Add email for sig-scheduling master-blocking alerts
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS

#12428 Add periodic migration test
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-postsubmits.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#12558 build kind with modules
  kubetest/kind/kind.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS

#12562 Delete unused verify-govet.sh script
  hack/verify-govet.sh
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#12560 fix some yamllints with generated jobs
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
  experiment/generate_tests.py
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/release, sig/testing, size/XS, ¯\_(ツ)_/¯

#12561 Removed unused verify-github-spelling script
  hack/check-pr.sh
  hack/verify-github-spelling.sh
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#12459 DRY out prometheus metrics server and pushgateway
  ghproxy/ghproxy.go
  prow/ANNOUNCEMENTS.md
  prow/cmd/hook/BUILD.bazel
  prow/cmd/hook/main.go
  prow/cmd/jenkins-operator/BUILD.bazel
  prow/cmd/jenkins-operator/main.go
  prow/cmd/plank/BUILD.bazel
  prow/cmd/plank/main.go
  prow/cmd/sub/BUILD.bazel
  prow/cmd/sub/main.go
  prow/cmd/tide/main.go
  prow/metrics/BUILD.bazel
  prow/metrics/metrics.go
Labels: approved, area/ghproxy, area/prow, area/prow/hook, area/prow/jenkins-operator, area/prow/plank, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/M

#12559 Run gofmt inside bazel
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  hack/BUILD.bazel
  hack/update-gofmt.sh
  hack/verify-gofmt.sh
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#12555 Add email for sig-network master-blocking alerts
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS

#12564 Make it possible not to delete kubemark master.
  kubetest/e2e.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS

#12568 Fix a few typos in Istio test grid and adding more tests to master tab.
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#12570 Right path to CircleCi logs for Istio
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#12569 Assume periodic and postsubmit testgroups should exist and automatically create them
  testgrid/cmd/configurator/config_test.go
  testgrid/cmd/configurator/prow.go
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XL

#12491 prow/gcsupload: Add -extensions for additional media types
  prow/gcsupload/BUILD.bazel
  prow/gcsupload/options.go
  prow/gcsupload/run.go
  prow/pod-utils/decorate/podspec_test.go
Labels: approved, area/prow, area/prow/gcsupload, area/prow/pod-utilities, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#12554 Add an --inject-bazelrc flag to kubernetes_e2e.py
  scenarios/kubernetes_e2e.py
Labels: approved, area/scenarios, cncf-cla: yes, lgtm, sig/testing, size/S

#12563 Run verify-labels in bazel
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  hack/BUILD.bazel
  hack/update-labels.sh
  hack/verify-labels.sh
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#12575 Disable the too-many-locals pylint error
  pylintrc
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#12572 Generate testgrid tabs for generated jobs
  config/jobs/kubernetes/generated/generated.yaml
  experiment/generate_tests.py
  experiment/test_config.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XXL

#12577 Add silent RBE e2e presubmit
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-gcp/sig-gcp-gce-config.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#12582 New acs-engine with removed aliases for staging job
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#12579 Add kubeflow/manifests to Prow
  config/jobs/kubeflow/kubeflow-presubmits.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#12581 fix very small typo
  prow/plugins/blunderbuss/blunderbuss.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#12576 Automatically generate test groups for automatically generated jobs
  experiment/BUILD.bazel
  experiment/generate_tests.py
  testgrid/BUILD.bazel
  testgrid/cmd/configurator/config_test.go
  testgrid/config-upload.sh
  testgrid/config.yaml
  testgrid/generated-test-config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XXL

#12587 kind: remove 1.11 testing
  config/jobs/kubernetes-sigs/kind/kind.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#12574 Update generate_tests.py when bumping images
  experiment/autobumper/main.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#12590 Fix bad braces in config-upload.sh
  testgrid/config-upload.sh
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS

#12591 Cleanup kubeadm-gce jobs
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-upgrade.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-x-on-y.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, sig/cluster-lifecycle, sig/testing, size/L

#12598 Adding custom AKS Engine for Master Job
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#12499 prow: clonerefs: speed up cloning of large repos through shallow cloning
  prow/apis/prowjobs/v1/types.go
  prow/cmd/clonerefs/README.md
  prow/config/jobs.go
  prow/pjutil/pjutil.go
  prow/pod-utilities.md
  prow/pod-utils/clone/clone.go
Labels: approved, area/prow, area/prow/clonerefs, area/prow/pod-utilities, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#12592 kubeadm jobs: set frequency, alerts and move to a new sig-cluster-lifecycle-kubeadm dashboard
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kind.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-upgrade.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-x-on-y.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, sig/cluster-lifecycle, sig/testing, size/M

#12567 Run older jobs first when concurrency is limited
  prow/plank/controller.go
  prow/plank/controller_test.go
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/L

#12588 replace ListStatuses API call with GetCombinedStatus when possible
  prow/github/types.go
  prow/plugins/dco/dco.go
  prow/plugins/dco/dco_test.go
  prow/plugins/skip/skip.go
  prow/plugins/skip/skip_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#12589 Add Mixer integration test entries to Testgrid.
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#12605 Allow plank to terminate stale running pods
  prow/ANNOUNCEMENTS.md
  prow/config/config.go
  prow/plank/controller.go
  prow/plank/controller_test.go
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/M

#12602 Use "make install" for building kind
  experiment/kind-e2e.sh
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#12586 Add jobtype and Refs to pubsub report message
  prow/pubsub/reporter/reporter.go
  prow/pubsub/reporter/reporter_test.go
Labels: approved, area/prow, area/prow/pubsub, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#12601 Stick to generic suffixes for forked jobs for now
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
  config/jobs/kubernetes/sig-testing/integration.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
  experiment/config-forker/main.go
  experiment/config-forker/main_test.go
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#12606 Add email for sig-scalability master-blocking alerts
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS

#12578 Abort batch jobs as well
  prow/cmd/build/controller.go
  prow/pjutil/abort.go
  prow/pjutil/abort_test.go
  prow/plank/controller.go
Labels: approved, area/prow, area/prow/knative-build, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/L, ¯\_(ツ)_/¯

#12609 Bump gce pd csi driver migration test timeout to 3 hours.
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-postsubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#12607 switch to use metav1.Duration
  prow/config/BUILD.bazel
  prow/config/config.go
  prow/plank/controller.go
  prow/plank/controller_test.go
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/S

#12608 Automatically handle release dashboards
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-gcp/gce-conformance.yaml
  config/jobs/kubernetes/sig-gcp/gpu/sig-gcp-gpu-gce.yaml
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.11.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.12.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.13.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.14.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
  config/jobs/kubernetes/sig-testing/integration.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
  experiment/config-forker/README.md
  experiment/config-forker/main.go
  experiment/generate_tests.py
  experiment/test_config.yaml
  testgrid/README.md
  testgrid/cmd/configurator/prow.go
  testgrid/config.yaml
  testgrid/generated-test-config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XXL

#12615 Run canary build/test jobs every hour
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#12513 Remove unused PREPULL_E2E_IMAGES flags
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#12599 gce-5000-performance - disable load & run density more often
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#12620 Update bazel-toolchains release to support bazel <= 0.25.1
  WORKSPACE
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#12622 Revert fluentd-gcp version to 0.6-1.6.0-1 in gce-5000.
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#12623 Fix branch name for ci-kubernetes-build
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#12621 Canary bazel 0.25.1 in test-infra, run all tests
  config/jobs/kubernetes/test-infra/test-infra-canaries.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#12616 Add missing periodic annotations
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.12.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.13.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.14.yaml
  experiment/config-forker/main.go
  experiment/config-forker/main_test.go
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#12627 Create a 1.15 kubekins-e2e image
  images/kubekins-e2e/variants.yaml
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/S

#12611 Add bazel-build to sig-release dashboards for 1.11, 1.12
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.11.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.12.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#12618 Add config-rotator
  experiment/BUILD.bazel
  experiment/config-rotator/BUILD.bazel
  experiment/config-rotator/README.md
  experiment/config-rotator/main.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/L

#12628 Remove ixdy from SIG Release job owners
  config/jobs/kubernetes/sig-release/OWNERS
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#12630 Pipeline bazel rule
  prow/cluster/BUILD.bazel
  prow/cluster/build_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/pipeline_deployment.yaml
  prow/cluster/pipeline_rbac.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/S

#12631 Update bazel-toolchains to support 0.25.2
  WORKSPACE
  config/jobs/kubernetes/test-infra/test-infra-canaries.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#12629 update planter tag to 0.23.0
  planter/planter.sh
Labels: approved, area/planter, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#12632 Add Michelle to the root OWNERS file (for oncall rotation).
  OWNERS
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS
