Repository kubernetes/test-infra, pull requests merged in 2019-12, with the labels that each got.

#15443 Add additional types to KubernetesAddon
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  kubetest/azure_helpers.go
Labels: approved, area/config, area/kubetest, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/S

#15433 Add a separate containerd windows build job.
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#15436 Use 1.14 for old branch test and use the correct image.
  config/jobs/containerd/cri/containerd-cri-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#15442 AWS Janitor - Improve Route53 regex to match dangling records
  maintenance/aws-janitor/resources/route53.go
  maintenance/aws-janitor/resources/route53_test.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#15359 cip: push images to staging in postsubmit
  config/jobs/image-pushing/k8s-staging-artifact-promoter.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#15439 docs(*): format coverage docs
  robots/coverage/cmd/downloader/downloader.go
  robots/coverage/docs/adoption.md
  robots/coverage/docs/design.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#15448 hook: bugzilla: don't error when external bug already linked
  prow/bugzilla/client.go
  prow/bugzilla/client_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#15452 add quotation mark for filter flag in janitor
  boskos/janitor/gcp_janitor.py
  scenarios/kubernetes_janitor.py
Labels: approved, area/boskos, area/scenarios, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#15447 Enable mutation detector in e2e
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  experiment/test_config.yaml
Labels: approved, area/config, area/provider/gcp, area/release-eng, cncf-cla: yes, lgtm, sig/cloud-provider, sig/release, sig/testing, size/XS

#15451 Update aws-janitor image to the latest version
  config/jobs/kubernetes/test-infra/janitors.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15441 Consolidate warnings on branches w/required contexts
  prow/cmd/branchprotector/protect.go
  prow/config/branch_protection.go
  prow/config/branch_protection_test.go
  prow/tide/tide.go
Labels: approved, area/prow, area/prow/branchprotector, area/prow/tide, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#15362 git: don't ask users to concatenate repo identifiers
  prow/config/inrepoconfig.go
  prow/external-plugins/cherrypicker/server.go
  prow/git/git.go
  prow/git/git_test.go
  prow/plugins/buildifier/buildifier.go
  prow/plugins/golint/golint.go
  prow/plugins/mergecommitblocker/mergecommitblocker.go
  prow/plugins/updateconfig/updateconfig.go
  prow/plugins/verify-owners/verify-owners.go
  prow/plugins/verify-owners/verify-owners_test.go
  prow/repoowners/repoowners.go
  prow/tide/tide.go
Labels: approved, area/config, area/prow, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/M

#15454 Revert "Merge pull request #15326 from stevekuznetsov/skuznets/remove…
  prow/cluster/monitoring/mixins/prometheus/ghproxy_alerts.libsonnet
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, kind/oncall-hotlist, lgtm, sig/testing, size/M

#15304 Add new CAPA e2e conformance jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#15457 revert https://github.com/kubernetes/test-infra/pull/15452
  boskos/janitor/gcp_janitor.py
  scenarios/kubernetes_janitor.py
Labels: approved, area/boskos, area/scenarios, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#15444 Inrepoconfig: Add validation
  prow/cmd/checkconfig/main.go
  prow/cmd/checkconfig/main_test.go
  prow/config/inrepoconfig.go
  prow/plugins/trigger/BUILD.bazel
  prow/plugins/trigger/generic-comment.go
  prow/plugins/trigger/pull-request.go
  prow/plugins/trigger/trigger.go
  prow/plugins/trigger/trigger_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#15463 Add CecileRobertMichon as approver of cluster-api-provider-azure
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/OWNERS
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#15347 fix: yet another yamllint error
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15241 Add a job with volume snapshot feature gate
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
  config/testgrids/config.yaml
  config/testgrids/kubernetes/sig-storage/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#14929 Update test grid for v1.16 openstack conformance
  config/testgrids/config.yaml
  config/testgrids/conformance/conformance-all.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#15464 Inrepoconfig validation: Allow absent .prow.yaml
  prow/cmd/checkconfig/main.go
  prow/cmd/checkconfig/main_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#15116 Move aws-janitor from /maintenance to /boskos
  BUILD.bazel
  boskos/BUILD.bazel
  boskos/aws-janitor/.gitignore
  boskos/aws-janitor/BUILD.bazel
  boskos/aws-janitor/Dockerfile
  boskos/aws-janitor/Makefile
  boskos/aws-janitor/OWNERS
  boskos/aws-janitor/account/BUILD.bazel
  boskos/aws-janitor/account/account.go
  boskos/aws-janitor/cmd/aws-janitor-boskos/.gitignore
  boskos/aws-janitor/cmd/aws-janitor-boskos/BUILD.bazel
  boskos/aws-janitor/cmd/aws-janitor-boskos/Dockerfile
  boskos/aws-janitor/cmd/aws-janitor-boskos/Makefile
  boskos/aws-janitor/cmd/aws-janitor-boskos/main.go
  boskos/aws-janitor/cmd/aws-resources-list/BUILD.bazel
  boskos/aws-janitor/cmd/aws-resources-list/main.go
  boskos/aws-janitor/main.go
  boskos/aws-janitor/regions/BUILD.bazel
  boskos/aws-janitor/regions/regions.go
  boskos/aws-janitor/resources/BUILD.bazel
  boskos/aws-janitor/resources/addresses.go
  boskos/aws-janitor/resources/asg.go
  boskos/aws-janitor/resources/clean.go
  boskos/aws-janitor/resources/cloud_formation_stacks.go
  boskos/aws-janitor/resources/dhcp_options.go
  boskos/aws-janitor/resources/elb.go
  boskos/aws-janitor/resources/iam_instance_profiles.go
  boskos/aws-janitor/resources/iam_roles.go
  boskos/aws-janitor/resources/instance.go
  boskos/aws-janitor/resources/internet_gateways.go
  boskos/aws-janitor/resources/launch_configs.go
  boskos/aws-janitor/resources/list.go
  boskos/aws-janitor/resources/nat_gateway.go
  boskos/aws-janitor/resources/resource.go
  boskos/aws-janitor/resources/route53.go
  boskos/aws-janitor/resources/route53_test.go
  boskos/aws-janitor/resources/route_tables.go
  boskos/aws-janitor/resources/security_groups.go
  boskos/aws-janitor/resources/set.go
  boskos/aws-janitor/resources/subnets.go
  boskos/aws-janitor/resources/volumes.go
  boskos/aws-janitor/resources/vpcs.go
  boskos/aws-janitor/s3/BUILD.bazel
  boskos/aws-janitor/s3/s3.go
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/boskos, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#15435 CAPZ E2E presubmit
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/sig-azure-config.yaml
  config/prow/config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, sig/cloud-provider, sig/cluster-lifecycle, sig/testing, size/M

#15468 Tide status controller: get baseSHA if not available
  prow/tide/status.go
  prow/tide/status_test.go
  prow/tide/tide_test.go
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/M

#15397 ci-k8sio-backup: remove GCRANE_REF
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15363 git: remove redundant argument in push
  prow/external-plugins/cherrypicker/server.go
  prow/external-plugins/cherrypicker/server_test.go
  prow/git/git.go
Labels: approved, area/config, area/prow, area/prow/bump, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/S

#15164 peribolos: Avoid creating archived repos
  prow/cmd/peribolos/main.go
  prow/cmd/peribolos/main_test.go
Labels: approved, area/prow, area/prow/branchprotector, area/prow/peribolos, cncf-cla: yes, lgtm, sig/testing, size/S

#15465 releng: Add Patch Release/Branch Managers as reviewers for SIG Release
  config/jobs/kubernetes/release/OWNERS
  config/jobs/kubernetes/sig-release/OWNERS
  config/testgrids/kubernetes/sig-release/OWNERS
Labels: approved, area/config, area/release-eng, area/testgrid, cncf-cla: yes, kind/cleanup, kind/feature, lgtm, priority/important-longterm, sig/release, sig/testing, size/S

#15472 Add release branch jobs for Provider Azure
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.14.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.15.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.16.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/L

#15388 Azure: support custom k8s components for 1.17+
  kubetest/BUILD.bazel
  kubetest/azure.go
  kubetest/azure_helpers.go
  kubetest/azure_test.go
  kubetest/main.go
Labels: approved, area/kubetest, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/L

#15462 Enable failures from Prometheus API responsivenss using simple query
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15474 Bumping timeout for vpa-updater tests
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15473 prow/deck: reversed the paging links on job history page
  prow/cmd/deck/template/job-history.html
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/S

#15477 Enable Availability Zones e2e job for Azure Disk CSI driver
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15485 label_sync: remove sig/onprem label
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/testing, size/XS

#15471 Transfigure: Add "dry-run" feature and testing to script
  containers.bzl
  testgrid/cmd/transfigure/BUILD.bazel
  testgrid/cmd/transfigure/transfigure.sh
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#15479 git: store org and repo separately in a repo client
  prow/git/git.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#15488 Config defaulting and validation: Aggregate errors
  prow/config/BUILD.bazel
  prow/config/config.go
  prow/config/inrepoconfig.go
  prow/config/inrepoconfig_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#15489 Deck: Wait for cache sync
  prow/cmd/deck/main.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/XS

#15365 git: introduce an interface for repository clients
  prow/git/BUILD.bazel
  prow/git/v2/BUILD.bazel
  prow/git/v2/client_factory.go
  prow/git/v2/interactor.go
  prow/git/v2/publisher.go
Labels: approved, area/config, area/prow, area/prow/bump, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/L

#15486 Elucidate logging in gerrit.
  prow/cmd/gerrit/main.go
Labels: approved, area/prow, area/prow/gerrit, cncf-cla: yes, lgtm, sig/testing, size/XS

#15419 Enable release notes plugin cloud-provider-openstack
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15490 prow/plugins/labels: be vocal about failing to add a label that is missing in repo
  prow/plugins/label/label.go
  prow/plugins/label/label_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#15495 Playbooks plural
  docs/playbooks.md
  greenhouse/playbook.md
  prow/playbook.md
Labels: approved, area/greenhouse, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#15496 document ARTIFACTS
  prow/jobs.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#15497 Increase CAPA e2e conformance timeout
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15498 Add link to Peribolos talk to README
  prow/cmd/peribolos/README.md
Labels: approved, area/prow, area/prow/peribolos, cncf-cla: yes, lgtm, sig/testing, size/XS

#15487 Document inrepoconfig
  prow/inrepconfig.md
  prow/jobs.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#15483 Move Conformance Test Groups to subdir
  config/testgrids/config.yaml
  config/testgrids/conformance/conformance-all.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#15167 Enable Slack reporter for k8s Prow Crier deployment
  config/prow/config.yaml
  prow/cluster/crier_deployment.yaml
Labels: approved, area/config, area/prow, area/prow/bump, cncf-cla: yes, kind/oncall-hotlist, lgtm, ok-to-test, sig/testing, size/S

#15506 remove kind override now that v0.6.0 is available
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#15413 Add network proxy E2E job
  config/jobs/kubernetes/sig-api-machinery/sig-api-machinery-config.yaml
  config/testgrids/kubernetes/sig-api-machinery/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#15512 Fix deployment for latest k8s release
  prow/cluster/boskos-metrics.yaml
  prow/cluster/boskos-reaper_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/monitoring/blackbox_prober.yaml
  prow/cluster/starter.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/S

#15513 Fix markdown rendering for numbered list
  prow/getting_started_deploy.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#15510 Increase CAPA periodic e2e conformance timeout
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#15503 Fix severity based alert routing.
  prow/cluster/monitoring/alertmanager-prow_secret.yaml
  prow/cluster/monitoring/mixins/prometheus/boskos_alerts.libsonnet
  prow/cluster/monitoring/mixins/prometheus/ci_absent_alerts.libsonnet
  prow/cluster/monitoring/mixins/prometheus/configmap_alerts.libsonnet
  prow/cluster/monitoring/mixins/prometheus/ghproxy_alerts.libsonnet
  prow/cluster/monitoring/mixins/prometheus/hook_alert.libsonnet
  prow/cluster/monitoring/mixins/prometheus/prow_monitoring_absent_alerts.libsonnet
  prow/cluster/monitoring/mixins/prometheus/sinker_alerts.libsonnet
  prow/cluster/monitoring/mixins/prometheus/tide_alerts.libsonnet
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#15321 Pass issue_comment events to needs-rebase plugin
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, kind/oncall-hotlist, lgtm, sig/testing, size/XS

#15366 git: add adapters from v1 types to the v2 interfaces
  prow/git/v2/BUILD.bazel
  prow/git/v2/adapter.go
Labels: approved, area/config, area/prow, area/prow/bump, area/prow/deck, area/prow/hook, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/M

#15519 enable verify-typecheck-providerless
  config/jobs/kubernetes/sig-testing/typecheck.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15521 Use slack_reporter_configs
  config/prow/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#15522 Deprecate AllowCancellations, only warn when field is set
  config/prow/config.yaml
  prow/config/config.go
  prow/jenkins/controller.go
  prow/plank/controller.go
  prow/plank/controller_test.go
Labels: approved, area/config, area/prow, area/prow/jenkins-operator, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/S

#15523 boskos: use common init libraries, serve http metrics
  boskos/BUILD.bazel
  boskos/boskos.go
  prow/cmd/deck/main.go
  prow/metrics/BUILD.bazel
  prow/metrics/http.go
  prow/metrics/http_test.go
Labels: approved, area/boskos, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/L

#15500 tide: time out when writing to GCS
  prow/tide/history/history.go
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/XS

#15466 Tide: Dont let broken prs break the whole subpool
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/M

#15453 Add windows containerd gce Kubernetes e2e test.
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, sig/windows, size/M

#15484 Change back the test frequency post 1.17 release
  config/jobs/kubernetes-sigs/aws-ebs-csi-driver/aws-ebs-csi-driver-periodics.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15531 Fix RBAC roles for starter.yaml
  prow/cluster/starter.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#15534 Bugfix in transfigure.sh
  testgrid/cmd/transfigure/transfigure.sh
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#15535 Revert "Fix severity based alert routing."
  prow/cluster/monitoring/alertmanager-prow_secret.yaml
  prow/cluster/monitoring/mixins/prometheus/boskos_alerts.libsonnet
  prow/cluster/monitoring/mixins/prometheus/ci_absent_alerts.libsonnet
  prow/cluster/monitoring/mixins/prometheus/configmap_alerts.libsonnet
  prow/cluster/monitoring/mixins/prometheus/ghproxy_alerts.libsonnet
  prow/cluster/monitoring/mixins/prometheus/hook_alert.libsonnet
  prow/cluster/monitoring/mixins/prometheus/prow_monitoring_absent_alerts.libsonnet
  prow/cluster/monitoring/mixins/prometheus/sinker_alerts.libsonnet
  prow/cluster/monitoring/mixins/prometheus/tide_alerts.libsonnet
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, kind/oncall-hotlist, lgtm, sig/testing, size/M

#15537 Revert "Add Boskos alert for low resource availability."
  prow/cluster/monitoring/mixins/prometheus/boskos_alerts.libsonnet
  prow/cluster/monitoring/mixins/prometheus/prometheus.libsonnet
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#15524 boskos: small improvements to metrics, init
  boskos/boskos.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/S

#15541 Avoid triggering Tide heartbeat alert when prometheus starts.
  prow/cluster/monitoring/mixins/prometheus/tide_alerts.libsonnet
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#15539 Replace Boskos resource usage alerts.
  prow/cluster/monitoring/mixins/prometheus/boskos_alerts.libsonnet
  prow/cluster/monitoring/mixins/prometheus/prometheus.libsonnet
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#15507 Refactor config updating logic to support config bootstrapping.
  prow/cmd/config-bootstrapper/main.go
  prow/plugins/updateconfig/BUILD.bazel
  prow/plugins/updateconfig/updateconfig.go
  prow/plugins/updateconfig/updateconfig_test.go
Labels: approved, area/prow, area/prow/config-bootstrapper, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/L

#15511 Deck: Add nilchecking before attempting to use the github client for inrepoconfig
  prow/cmd/deck/main.go
  prow/cmd/deck/pr_history.go
  prow/inrepconfig.md
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/S

#15536 Git: Fix squashmerging
  prow/git/git.go
  prow/git/git_test.go
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/L

#15405 Revert "Revert "Merge pull request #14963 from wking/require-blocking-bugzilla""
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#15508 Tool to upgrade GKE clusters
  experiment/BUILD.bazel
  experiment/cluster-upgrader/BUILD.bazel
  experiment/cluster-upgrader/main.go
  go.mod
  prow/cluster/upgrade.sh
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/L

#15543 Extend timeout for containerd windows test.
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, sig/windows, size/XS

#15148 Update TestGrid for istio
  config/testgrids/istio/gen-config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XXL

#15547 add plugins config arg to deck deployment.
  prow/cluster/starter.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#15549 Enable throughput validation in density test
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#15446 Use a dedicated, tainted Heapster node in Kubemark5000 tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15467 Adding others on Azure team to approve updates to Windows jobs
  config/jobs/kubernetes-sigs/sig-windows/OWNERS
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15553 Add Windows 1903 master job.
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#15545 Add prow job config for pushing cloud provider azure image to gcr staing repo.
  config/jobs/image-pushing/k8s-staging-provider-azure.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#15556 Add Kubernetes-csi 1.17 ci jobs
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/external-resizer/external-resizer-config.yaml
  config/jobs/kubernetes-csi/external-snapshotter/external-snapshotter-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/livenessprobe/livenessprobe-config.yaml
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XL

#15558 boskos: record even longer buckets for response time
  boskos/boskos.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XS

#15551 Add tag replacement for periodic jobs in config forker
  experiment/config-forker/README.md
  experiment/config-forker/main.go
  experiment/config-forker/main_test.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#15544 Add Istio TestGrid Owners
  config/testgrids/istio/OWNERS
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS

#15559 boskos: ranch: add more logging to acquire call
  boskos/ranch/ranch.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/S

#15560 Add README.md for experiment
  experiment/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#15562 cherrypick: use git v1 client behind v2 interface
  prow/external-plugins/cherrypicker/BUILD.bazel
  prow/external-plugins/cherrypicker/main.go
  prow/external-plugins/cherrypicker/server.go
  prow/external-plugins/cherrypicker/server_test.go
  prow/git/v2/adapter.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#15538 Populate a bare-minimum Azure cloud config
  kubetest/azure.go
Labels: approved, area/kubetest, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/M

#15565 Fixed inrepoconfig.md file name
  prow/inrepoconfig.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#15567 Add version to the perfdash category in gce-100 tests
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.14.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#15563 Bumping up vpa updater test timeout
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15566 kubekins-e2e: Bump K8S_RELEASE version marker for 1.17 to stable-1.17
  images/kubekins-e2e/variants.yaml
Labels: approved, area/images, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, sig/release, sig/testing, size/XS

#15364 git: refactor to use v1 clients adapted to v2 interfaces
  prow/cmd/deck/BUILD.bazel
  prow/cmd/deck/main.go
  prow/cmd/deck/pr_history.go
  prow/cmd/deck/pr_history_test.go
  prow/cmd/hook/BUILD.bazel
  prow/cmd/hook/main.go
  prow/cmd/tide/BUILD.bazel
  prow/cmd/tide/main.go
  prow/config/BUILD.bazel
  prow/config/config.go
  prow/config/inrepoconfig.go
  prow/config/tide.go
  prow/config/tide_test.go
  prow/external-plugins/cherrypicker/BUILD.bazel
  prow/external-plugins/cherrypicker/server_test.go
  prow/git/git_test.go
  prow/git/localgit/BUILD.bazel
  prow/git/localgit/localgit.go
  prow/plugins/BUILD.bazel
  prow/plugins/buildifier/BUILD.bazel
  prow/plugins/buildifier/buildifier.go
  prow/plugins/golint/BUILD.bazel
  prow/plugins/golint/golint.go
  prow/plugins/mergecommitblocker/BUILD.bazel
  prow/plugins/mergecommitblocker/mergecommitblocker.go
  prow/plugins/override/BUILD.bazel
  prow/plugins/override/override.go
  prow/plugins/plugins.go
  prow/plugins/skip/BUILD.bazel
  prow/plugins/skip/skip.go
  prow/plugins/skip/skip_test.go
  prow/plugins/trigger/BUILD.bazel
  prow/plugins/trigger/generic-comment_test.go
  prow/plugins/trigger/pull-request_test.go
  prow/plugins/trigger/trigger.go
  prow/plugins/trigger/trigger_test.go
  prow/plugins/updateconfig/BUILD.bazel
  prow/plugins/updateconfig/updateconfig.go
  prow/plugins/updateconfig/updateconfig_test.go
  prow/plugins/verify-owners/BUILD.bazel
  prow/plugins/verify-owners/verify-owners.go
  prow/plugins/verify-owners/verify-owners_test.go
  prow/repoowners/BUILD.bazel
  prow/repoowners/repoowners.go
  prow/tide/BUILD.bazel
  prow/tide/status.go
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: approved, area/config, area/prow, area/prow/bump, area/prow/deck, area/prow/hook, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/L

#15571 Prow: set CI env variable
  prow/cmd/pipeline/controller_test.go
  prow/jobs.md
  prow/pod-utils/decorate/podspec_test.go
  prow/pod-utils/downwardapi/jobspec.go
  prow/pod-utils/downwardapi/jobspec_test.go
Labels: approved, area/prow, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/S

#15574 Add NPD e2e tests as presubmit test for NPD repository
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#15333 Check for empty pr before calling GetCombinedStatus
  prow/prstatus/prstatus.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#15579 peribolos: correctly calculate if org meta has changed
  prow/cmd/peribolos/main.go
Labels: approved, area/prow, area/prow/peribolos, cncf-cla: yes, lgtm, sig/testing, size/XS

#15577 Add Azure Disk periodic jobs for 1.14, 1.15 and 1.16
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.14.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.15.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.16.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/L

#15586 boskos: parse flags before using them
  boskos/boskos.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XS

#15587 Update ingress-nginx jobs
  config/jobs/kubernetes/sig-network/ingress-nginx.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#15561 Document Transfigure
  testgrid/cmd/transfigure/README.md
  testgrid/cmd/transfigure/example-prowjobs.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#15592 fix sig-storage ci config
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#15593 Update ingress-nginx e2e image to use kind v0.6.1
  config/jobs/kubernetes/sig-network/ingress-nginx.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15583 Change log path for Azure DIsk periodic jobs
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.14.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.15.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.16.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/S

#15595 Crier: skip reporting when Spec.Report=false
  prow/apis/prowjobs/v1/types.go
  prow/crier/controller.go
  prow/crier/controller_test.go
  prow/github/reporter/reporter.go
  prow/github/reporter/reporter_test.go
Labels: approved, area/config, area/provider/azure, area/prow, area/prow/crier, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/M

#15590 boskos: ranch: log lock acquire time
  boskos/ranch/ranch.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XS

#15589 Azure: Convert additional acsengine-* flags to aksengine-*
  kubetest/azure.go
  kubetest/azure_helpers.go
  kubetest/main.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/L

#15378 redhat-openshift add aws upgrade fips 4.4
  config/testgrids/openshift/redhat-openshift-ocp-release-4.4-informing.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#15585 Persist state in statusreconciler
  prow/cmd/status-reconciler/BUILD.bazel
  prow/cmd/status-reconciler/main.go
  prow/config/agent.go
  prow/statusreconciler/BUILD.bazel
  prow/statusreconciler/controller.go
  prow/statusreconciler/status.go
  prow/statusreconciler/status_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XL

#15603 Add "google-oss" to dashboard prefix list
  config/tests/testgrids/config_test.go
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15606 Fix "prefix" issue with google-oss
  config/tests/testgrids/config_test.go
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15516 stop using ginkgo.flakeAttempts in e2e jobs
  config/jobs/cadvisor/cadvisor.yaml
  config/jobs/containerd/cri/containerd-cri-presubmit-jobs.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
  config/jobs/kubernetes/kops/kops-config.yaml
  config/jobs/kubernetes/sig-cli/sig-cli-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/aws/eks/eks-periodics.yaml
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics.yaml
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-presubmits.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gke.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.14.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
  config/jobs/kubernetes/sig-testing/kubetest-canaries.yaml
Labels: approved, area/config, area/provider/aws, area/provider/azure, area/provider/gcp, area/release-eng, cncf-cla: yes, lgtm, sig/cloud-provider, sig/release, sig/testing, size/L

#15550 PJUtil: Don't terminate older batches
  prow/pjutil/abort.go
  prow/pjutil/abort_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#15602 Kops - temporarily skip failing volume tests on the 1.16 presubmit E2E job
  config/jobs/kubernetes/kops/kops-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15614 Add preset for all e2e scalability presubmits
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.14.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#15617 Update flakes query to report top 10 flakes instead of top 3
  metrics/configs/flakes-config.yaml
Labels: approved, area/metrics, cncf-cla: yes, kind/flake, lgtm, sig/testing, size/XS

#15528 Release note plugin: Respect pre-existing release-note-none label
  prow/plugins/releasenote/releasenote.go
  prow/plugins/releasenote/releasenote_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#15604 remove gke jobs from sig-storage testgrid since they're no longer run
  config/testgrids/kubernetes/sig-storage/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#15619 Tolerate null commit values in job-flakes query
  metrics/configs/job-flakes-config.yaml
Labels: approved, area/metrics, cncf-cla: yes, lgtm, sig/testing, size/XS

#15621 Make 1.16 pull jobs required and make 1.18 jobs optional
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/external-resizer/external-resizer-config.yaml
  config/jobs/kubernetes-csi/external-snapshotter/external-snapshotter-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/livenessprobe/livenessprobe-config.yaml
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#15623 Kops - Add e2e presubmit job for 1.17
  config/jobs/kubernetes/kops/kops-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#15620 Update images for CAPI, CAPA, CAPG
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#15575 Handle default namespace in config-updater
  prow/cmd/config-bootstrapper/BUILD.bazel
  prow/cmd/config-bootstrapper/main.go
  prow/cmd/config-bootstrapper/main_test.go
  prow/plugins/updateconfig/updateconfig.go
  prow/plugins/updateconfig/updateconfig_test.go
Labels: approved, area/prow, area/prow/config-bootstrapper, cncf-cla: yes, lgtm, sig/testing, size/L

#15626 Crier: Report periodics again
  prow/pjutil/pjutil.go
  prow/pjutil/pjutil_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#15526 Plank: Use ctrlruntimeclient
  prow/cmd/plank/BUILD.bazel
  prow/cmd/plank/main.go
  prow/flagutil/BUILD.bazel
  prow/flagutil/kubernetes_cluster_clients.go
  prow/pjutil/BUILD.bazel
  prow/pjutil/abort.go
  prow/pjutil/abort_test.go
  prow/plank/BUILD.bazel
  prow/plank/controller.go
  prow/plank/controller_test.go
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/L

#15610 Cleanup on release and release-adjacent jobs
  config/jobs/image-pushing/k8s-staging-release-test.yaml
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.14.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
  experiment/config-forker/main.go
  experiment/config-forker/main_test.go
  images/krte/variants.yaml
Labels: approved, area/config, area/images, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/L

#15629 Clarify deck error when it fails to resolve GCS path.
  prow/cmd/deck/main.go
  prow/spyglass/spyglass.go
Labels: approved, area/prow, area/prow/deck, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/XS

#15624 capi/capa/cabpk/capg: build images for semver tags
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#15616 Use ginkgo.flakeAttempts=2 for merge-blocking pr job on release branches
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.14.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, kind/flake, lgtm, sig/release, sig/testing, size/S

#15456 Add DaemonRestart test to `windows-gce-serial` testgrid
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, sig/windows, size/XS

#15631 Add exclude regexes to triage
  triage/index.html
  triage/interactive.js
  triage/model.js
  triage/script_test.js
Labels: approved, area/triage, cncf-cla: yes, lgtm, sig/testing, size/M

#15475 [aws janitor] Use pod utilities on periodic prow job
  config/jobs/kubernetes/test-infra/janitors.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#15525 Fix link
  CONTRIBUTING.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#15632 Revert "Switch config_updater configuration to use new format."
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15633 Update removal date for onprem label
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/testing, size/XS

#15636 Add testgrid entries for kubeflow/manifests & kubeflow/kfctl postsubmits
  config/testgrids/kubeflow/kubeflow.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS

#15630 Azure: Change AZ-configured cluster's location from westus2 to eastus2
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/XS

#15639 [aws-janitor] Prevent deletions of ELBs still in use
  boskos/aws-janitor/resources/elb.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XS

#15637 Switch 1.16 test-integration to podutils, bump to go1.13.4
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-testing/integration.yaml
  images/builder/README.md
  images/kubekins-e2e/variants.yaml
Labels: approved, area/config, area/images, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#15635 Azure: Add CI jobs for release-1.17 branch
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.15.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.16.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.17.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/L

#15581 Increases timeout for CAPA e2e job
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#15641 Fix ci-kubernetes-e2e-gce-node-containerd-throughput job
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15622 Enable `override` command for kubernetes/dashboard repo
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15515 Add CI jobs for Blobfuse CSI Driver
  config/jobs/kubernetes-sigs/blobfuse-csi-driver/OWNERS
  config/jobs/kubernetes-sigs/blobfuse-csi-driver/blobfuse-csi-driver-config.yaml
  kubetest/azure.go
Labels: approved, area/config, area/kubetest, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/L
