Repository kubernetes/test-infra, pull requests merged in 2019-10, with the labels that each got.

#14527 Use the right variable name.
  config/jobs/kubernetes/sig-testing/coverage.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14528 simplify kind unit test jobs
  config/jobs/kubernetes-sigs/kind/kind-postsubmits.yaml
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
  config/jobs/kubernetes-sigs/kind/kind.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#14529 kind unit tests: correct argv
  config/jobs/kubernetes-sigs/kind/kind-postsubmits.yaml
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
  config/jobs/kubernetes-sigs/kind/kind.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14533 capz: Update OWNERS and jobs for v1alpha2
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/OWNERS
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/L

#14510 improve boskos logging, and downgrade unnecessary errors to info/debu…
  boskos/janitor/janitor.go
  boskos/janitor/janitor_test.go
  boskos/ranch/ranch.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/M

#14536 Fix an issue with scalability containerd tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14540 Force spyglass logs to soft wrap at end of line.
  prow/spyglass/lenses/buildlog/buildlog.css
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/XS

#14541 Install gotestsum in ci-kubernetes-coverage-unit
  config/jobs/kubernetes/sig-testing/coverage.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14537 bentheelder is oncall tomorrow: add to OWNERS
  OWNERS
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#13644 Branchprotector and Tide: Use GetPresubmits
  prow/cmd/branchprotector/protect.go
  prow/config/BUILD.bazel
  prow/config/branch_protection.go
  prow/config/branch_protection_test.go
  prow/config/config.go
  prow/config/tide.go
  prow/config/tide_test.go
  prow/tide/BUILD.bazel
  prow/tide/status.go
  prow/tide/status_test.go
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: approved, area/prow, area/prow/branchprotector, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/XL

#14544 Support links to line by line coverage
  gopherage/cmd/html/static/browser_bundle.es2015.js
  gopherage/cmd/html/static/parser.ts
  prow/spyglass/lenses/coverage/coverage.css
  prow/spyglass/lenses/coverage/coverage.go
  prow/spyglass/lenses/coverage/coverage.ts
  prow/spyglass/lenses/coverage/template.html
Labels: approved, area/gopherage, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/M

#14535 kubetest: pass the cluster-tag to aws e2e
  kubetest/kops.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS

#14539 Don't try loading the remote config for runlocal
  prow/cmd/deck/runlocal
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/XS

#14530 tweak focus / skip for kind presubmit
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kind.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#14547 Enable Deck's /plugin-config endpoint.
  prow/cluster/deck_deployment.yaml
  prow/cluster/starter.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/S

#13683 Replace fejta-bot with k8s-triage-robot
  config/jobs/kubernetes/test-infra/k8s-triage-robot-trusted.yaml
  config/testgrids/kubernetes/sig-contribex/config.yaml
  config/testgrids/kubernetes/sig-testing/config.yaml
  config/tests/jobs/jobs_test.go
  experiment/migrate_testgrid_tabs.py
  gubernator/github/classifier.py
  gubernator/github/classifier_test.py
  label_sync/labels.md
  label_sync/labels.yaml
  velodrome/config.yaml
  velodrome/token-counter/deployment.yaml
Labels: approved, area/config, area/gubernator, area/label_sync, area/prow, area/prow/bump, area/testgrid, area/velodrome, cncf-cla: yes, lgtm, sig/contributor-experience, sig/testing, size/L

#14546 use new push target in ci-kind-build
  config/jobs/kubernetes-sigs/kind/kind-postsubmits.yaml
  config/jobs/kubernetes-sigs/kind/kind.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14440 capi: Add image pushing job for capz
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S

#14548 Revert "Merge pull request #13683 from nikhita/rip-fejta-bot"
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/testgrids/kubernetes/sig-contribex/config.yaml
  config/testgrids/kubernetes/sig-testing/config.yaml
  config/tests/jobs/jobs_test.go
  experiment/migrate_testgrid_tabs.py
  gubernator/github/classifier.py
  gubernator/github/classifier_test.py
  label_sync/labels.md
  label_sync/labels.yaml
  velodrome/config.yaml
  velodrome/token-counter/deployment.yaml
Labels: approved, area/config, area/gubernator, area/label_sync, area/testgrid, area/velodrome, cncf-cla: yes, lgtm, sig/testing, size/L

#14549 Kind presubmits
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kind.yaml
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XL

#14551 ensure GOPATH/bin
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
  images/bootstrap/runner.sh
Labels: approved, area/config, area/images, cncf-cla: yes, lgtm, sig/testing, size/XS, ¯\_(ツ)_/¯

#14552 leverage gsutil
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#13507 deck config snippet implementation, #9079
  go.mod
  go.sum
  package.json
  pkg/genyaml/BUILD.bazel
  pkg/genyaml/OWNERS
  pkg/genyaml/genyaml.go
  prow/cmd/deck/static/BUILD.bazel
  prow/cmd/deck/static/api/help.ts
  prow/cmd/deck/static/plugin-help/plugin-help.ts
  prow/cmd/deck/static/plugin-help/prettify.css
  prow/cmd/deck/static/plugin-help/prettify.ts
  prow/cmd/deck/template/plugins.html
  prow/pluginhelp/pluginhelp.go
  prow/plugins/BUILD.bazel
  prow/plugins/approve/approve.go
  prow/plugins/config.go
  prow/plugins/plugins.go
  repos.bzl
  yarn.lock
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#14553 update kind presubmit
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
  config/testgrids/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#14554 Update milestone_applier config to 1.17 for test-infra
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14558 Don't consume public IPs in scalability tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14324 Trigger Tests on ok-to-test label
  prow/plugins/trigger/pull-request.go
  prow/plugins/trigger/pull-request_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#14562 Remove bizarre StartTime entry.
  prow/spyglass/lenses/coverage/template.html
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/XS

#14563 Cleverer k8s unit coverage.
  config/jobs/kubernetes/sig-testing/coverage.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#14561 move oncall approvers to alias
  OWNERS
  OWNERS_ALIASES
  config/jobs/image-pushing/OWNERS
  config/testgrids/kubernetes/sig-testing/OWNERS
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#14566 Enable coverage links
  config/prow/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#14559 capz: Update repo configurations
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/OWNERS
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
  config/prow/config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#14567 only welcome users
  prow/github/types.go
  prow/plugins/welcome/welcome.go
  prow/plugins/welcome/welcome_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#14570 gcp_janitor: cleanup regional resources
  boskos/janitor/gcp_janitor.py
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XS

#14542 Change Int 4.1 - 4.1 upgrade test to be 4.1 - 4.2
  config/testgrids/openshift/dedicated.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#14569 Kind repo presubmits: mimic kubernetes and add 1.16
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#14571 testgrid: redhat: update release dashboards
  config/testgrids/openshift/redhat-openshift-ocp-release-4.2-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.3-informing.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#14574 set path alias for kind presubmit
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS, ¯\_(ツ)_/¯

#14576 Use real links for coverage cells.
  prow/spyglass/lenses/coverage/coverage.ts
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/XS

#13685 Clean up docs for OWNERS
  prow/plugins/approve/approvers/README.md
  prow/plugins/lgtm/README.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#14379 revise "single Kubernetes repos" jobs
  config/jobs/kubernetes-csi/csi-driver-flex/csi-driver-flex-config.yaml
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/csi-lib-utils/csi-lib-utils-config.yaml
  config/jobs/kubernetes-csi/csi-proxy/csi-proxy-config.yaml
  config/jobs/kubernetes-csi/csi-release-tools/csi-release-tools-config.yaml
  config/jobs/kubernetes-csi/csi-test/csi-test-config.yaml
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/external-resizer/external-resizer-config.yaml
  config/jobs/kubernetes-csi/external-snapshotter/external-snapshotter-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/livenessprobe/livenessprobe-config.yaml
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
  config/testgrids/kubernetes/sig-storage/config.yaml
  config/tests/testgrids/config_test.go
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XXL

#14583 Add docs for obtaining Slack access token
  prow/cmd/crier/README.md
Labels: approved, area/prow, area/prow/crier, cncf-cla: yes, lgtm, sig/testing, size/XS

#14585 Include nodelocaldns scale tests in CI
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#14560 Remove sig-scalability separate storage test jobs
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/L

#14594 fixup kind presubmits
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#14581 testgrid: Update OpenShift informing jobs
  config/testgrids/openshift/groups.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.2-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.3-informing.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.1-informing.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.2-informing.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.3-informing.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XL

#14589 Buildifier format .bzl files
  def/configmap.bzl
  def/test_infra.bzl
  py.bzl
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/L

#14590 Delete some unused repos
  repos.bzl
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/M

#14592 Add variation of CAPG to test against master and stable of CAPI and CABPK
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-ci.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#14597 Revert "Merge pull request #13644 from alvaroaleman/branchprotector-p…
  prow/cmd/branchprotector/protect.go
  prow/config/BUILD.bazel
  prow/config/branch_protection.go
  prow/config/branch_protection_test.go
  prow/config/config.go
  prow/config/tide.go
  prow/config/tide_test.go
  prow/tide/BUILD.bazel
  prow/tide/status.go
  prow/tide/status_test.go
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: approved, area/prow, area/prow/branchprotector, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/XL

#14596 remove mkdir, reinstate block tests
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14591 Use repo-infra to load/configure repos
  BUILD.bazel
  WORKSPACE
  hack/BUILD.bazel
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/M

#14600 Use @io_k8s_repo_infra//hack:verify-boilerplate
  WORKSPACE
  hack/BUILD.bazel
  hack/boilerplate/boilerplate.Dockerfile.txt
  hack/boilerplate/boilerplate.Makefile.txt
  hack/boilerplate/boilerplate.bzl.txt
  hack/boilerplate/boilerplate.go.txt
  hack/boilerplate/boilerplate.py.txt
  hack/boilerplate/boilerplate.sh.txt
  hack/verify_boilerplate.py
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/L

#14482 Build release-0.2 CAPI branch
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#14599 upgrade gcloud to 265.0.0 in bigquery image
  images/bigquery/Dockerfile
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/XS

#14602 Move WORKSPACE logic into bzl files
  WORKSPACE
  containers.bzl
  load.bzl
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/L

#14588 Detect if PR already exists for cherrypick using branch
  prow/external-plugins/cherrypicker/server.go
  prow/external-plugins/cherrypicker/server_test.go
  prow/git/git.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#14601 Re-Revert Branchprotector and Tide: Use GetPresubmits and add logging
  prow/cmd/branchprotector/protect.go
  prow/config/BUILD.bazel
  prow/config/branch_protection.go
  prow/config/branch_protection_test.go
  prow/config/config.go
  prow/config/tide.go
  prow/config/tide_test.go
  prow/tide/BUILD.bazel
  prow/tide/status.go
  prow/tide/status_test.go
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: approved, area/prow, area/prow/branchprotector, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/XL

#14538 allow owners/github teams to override contexts
  prow/plugins/approve/approve_test.go
  prow/plugins/blunderbuss/blunderbuss_test.go
  prow/plugins/config.go
  prow/plugins/lgtm/lgtm_test.go
  prow/plugins/override/BUILD.bazel
  prow/plugins/override/override.go
  prow/plugins/override/override_test.go
  prow/plugins/verify-owners/verify-owners_test.go
  prow/repoowners/repoowners.go
  prow/repoowners/repoowners_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XL

#14603 Use more obvious URL construction for redirects
  prow/githuboauth/githuboauth.go
  prow/githuboauth/githuboauth_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#14605 PR dashboard should ignore google-oss-robot comments
  gubernator/github/classifier.py
Labels: approved, area/gubernator, cncf-cla: yes, lgtm, sig/testing, size/XS

#14614 Let's clean up routers as well
  boskos/janitor/gcp_janitor.py
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XS

#14615 Experimental sig-scalability job testing network policies
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#14543 Add prow cmd: exporter
  prow/BUILD.bazel
  prow/cmd/exporter/BUILD.bazel
  prow/cmd/exporter/REAME.md
  prow/cmd/exporter/collector.go
  prow/cmd/exporter/collector_test.go
  prow/cmd/exporter/main.go
  prow/metrics/metrics.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#14619 Add new testgrid dashboards for osde2e upgrades.
  config/testgrids/openshift/dedicated.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#14617 Cleanup tcp proxies as well - needed by the CAPG CI e2e jobs
  boskos/janitor/gcp_janitor.py
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XS

#14620 bump boskos/janitor to v20191004-585224c4f
  prow/cluster/boskos-janitor.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#14556 add gardener testgrid tabs for k8s v1.16
  config/testgrids/conformance/conformance-all.yaml
  config/testgrids/gardener/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#14457 Add job_namespace label into prow job metrics
  prow/kube/metrics.go
Labels: approved, area/boskos, area/ghproxy, area/prow, area/prow/deck, area/prow/hook, area/prow/jenkins-operator, area/prow/plank, area/prow/sinker, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/S

#14622 Upgrade gcloud bazel
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  images/gcloud-bazel/push.sh
Labels: approved, area/config, area/images, cncf-cla: yes, lgtm, sig/testing, size/M

#14586 Add a container image promoter manifest and postsubmit job for Prow.
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  prow/cip-manifest.yaml
Labels: approved, area/config, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#14624 upgrade to gcr.io/k8s-testimages/bigquery:v20191004-77e27616c
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14550 Introduce terraform for creating "maintained" clusters
  .gitignore
  config/README.md
  config/clusters/k8s-prow/cluster-configuration.tf
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/L

#14628 add new label for VMware User Group
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/testing, size/XS

#14631 kind repo presubmit: remove stray pipe character
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14630 prow/pod-utils/clone: TrimSace before head-timestamp Atoi
  prow/pod-utils/clone/clone.go
Labels: approved, area/prow, area/prow/pod-utilities, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#14593 Added kubeflow xgboost-operator presubmit and postsubmit jobs configuration
  config/jobs/kubeflow/kubeflow-postsubmits.yaml
  config/jobs/kubeflow/kubeflow-presubmits.yaml
  config/testgrids/kubeflow/kubeflow.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/S

#14607 Add an option to test Azure Disk CSI Driver
  kubetest/azure.go
Labels: approved, area/kubetest, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#14634 Git: Add MergeAndCheckout
  prow/git/BUILD.bazel
  prow/git/git.go
  prow/git/git_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#14573 Revert "branchprotector: explicit protect:false should result in bp removal"
  prow/config/branch_protection.go
  prow/config/branch_protection_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#14505 Add Azure File CSI Driver Job Configuration
  config/jobs/kubernetes-sigs/azurefile-csi-driver/OWNERS
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#14627 Align label names with the metric prowjob_state_transitions
  prow/cmd/exporter/BUILD.bazel
  prow/cmd/exporter/README.md
  prow/cmd/exporter/collector.go
  prow/cmd/exporter/collector_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#14641 K8s 1.12 is gone, let's test 1.13.
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#14618 Add test for ProwJobCollector
  go.mod
  prow/cmd/exporter/BUILD.bazel
  prow/cmd/exporter/collector_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#14642 update container to use for rules_k8s
  config/jobs/bazelbuild/rules_k8s/rules_k8s_config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#14572 move flaky gce-cos jobs to informing dashboards
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  experiment/generate_tests.py
  experiment/test_config.yaml
Labels: approved, area/config, area/provider/gcp, cncf-cla: yes, lgtm, ok-to-test, sig/cloud-provider, sig/testing, size/M

#14580 Start pushing prow images to gcr.io/k8s-prow-edge as well.
  hack/print-workspace-status.sh
  prow/def.bzl
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S, ¯\_(ツ)_/¯

#14645 bump kind release jobs to 6 recent
  config/jobs/kubernetes-sigs/kind/kind-release-blocking.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#14608 Update test-infra to use new TestGrid proto paths.
  config/tests/testgrids/BUILD.bazel
  config/tests/testgrids/config_test.go
  experiment/resultstore/BUILD.bazel
  experiment/resultstore/main.go
  go.mod
  go.sum
  prow/spyglass/BUILD.bazel
  prow/spyglass/spyglass_test.go
  prow/spyglass/testgrid.go
  prow/spyglass/testgrid_test.go
  repos.bzl
  testgrid/cmd/configurator/BUILD.bazel
  testgrid/cmd/configurator/main_test.go
  testgrid/cmd/configurator/prow.go
  testgrid/cmd/configurator/prow_test.go
  testgrid/cmd/configurator/yaml2proto.go
Labels: approved, area/config, area/prow, area/prow/spyglass, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#14646 Update org jobs to bazel 0.29.1
  config/jobs/kubernetes/org/kubernetes-org-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14651 More kind job tweaks
  config/jobs/kubernetes-sigs/kind/kind.yaml
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#14653 Enable NodeLocalDNS feature in the benchmark
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14650 Upload logs to kubernetes-jenkins instead of kubernetes-upstream
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#14616 Start failing tests based on the Prometheus API responsiveness (gce100 + kubemark<=500)
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#14639 Remove the use of dev-push-hyperkube.sh in Azure deployer
  kubetest/azure.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/S

#14595 [ Plank ] add the ability to hold different default decoration config by repository
  prow/ANNOUNCEMENTS.md
  prow/config/config.go
  prow/config/config_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XL

#14577 Make pj-on-kind.sh use container images for mkpj and mkpod.
  prow/pj-on-kind.sh
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#14657 Bump CSI-CI container version
  config/jobs/kubernetes-sigs/vsphere-csi-driver/vsphere-csi-driver.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14658 Bump CI image version
  config/jobs/kubernetes/cloud-provider-vsphere/cloud-provider-vsphere-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#14659 Use --config=ci in ci for k/org jobs
  config/jobs/kubernetes/org/kubernetes-org-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14663 vsphere-csi: Add codenrhoden to rerun_auth_config
  config/jobs/kubernetes-sigs/vsphere-csi-driver/vsphere-csi-driver.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14229 re-enable stubdomains test with node-cache
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  config/testgrids/kubernetes/sig-network/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#14666 use kubekins-e2e image for build and release
  config/jobs/kubernetes-sigs/vsphere-csi-driver/vsphere-csi-driver.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14644 Warn any knative-build usage
  prow/ANNOUNCEMENTS.md
  prow/config/config.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#14662 Add osde2e 4.2-4.2 upgrade results
  config/testgrids/openshift/dedicated.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#14667 Add pull-release-test presubmit
  config/jobs/kubernetes/release/release-config.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#14669 Remove redundant pull-release-unit and pull-release-verify jobs
  config/jobs/kubernetes/release/release-config.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#14664 Add presets for rbe and bazel
  config/jobs/kubernetes/org/kubernetes-org-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14671 skip disruptive e2e test in kind jobs
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14665 Change path to 'sigs.k8s.io' in K8sSigs function
  kubetest/util/util.go
Labels: approved, area/kubetest, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#14673 add pull-kubeadm-operator-verify presubmit job to k/kubeadm
  config/jobs/kubernetes/kubeadm/kubeadm-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#14668 Add a simple generalized autobumper for Prow.
  prow/BUILD.bazel
  prow/cmd/autobump/BUILD.bazel
  prow/cmd/autobump/OWNERS
  prow/cmd/autobump/README.md
  prow/cmd/autobump/autobump.sh
  prow/cmd/autobump/bump.sh
  prow/cmd/autobump/example-periodic.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#14637 kops-verify-generated job
  config/jobs/kubernetes/kops/kops-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#14685 Clean up stale GCP PD CSI Driver tests
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-postsubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#14689 Don't print bot tokens in autobump.sh.
  prow/cmd/autobump/autobump.sh
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#14587 Add goose plugin
  prow/hook/plugin-imports/BUILD.bazel
  prow/hook/plugin-imports/plugin-imports.go
  prow/plugins/BUILD.bazel
  prow/plugins/config.go
  prow/plugins/goose/.gitignore
  prow/plugins/goose/BUILD.bazel
  prow/plugins/goose/goose.go
  prow/plugins/goose/goose_test.go
Labels: approved, area/prow, area/prow/hook, cncf-cla: yes, lgtm, sig/testing, size/XL

#14676 Use boskos for k8s.io/perf-tests presubmits
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14674 Enable ENABLE_SYSTEM_POD_METRICS flag in presubmit tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#14699 Revert "Use boskos for k8s.io/perf-tests presubmits"
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14696 add kubeadm jobs
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-discovery.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-kustomize.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#14694 add dind to pull-kubeadm-operator-verify
  config/jobs/kubernetes/kubeadm/kubeadm-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#14700 fix pull-kubeadm-operator-verify
  config/jobs/kubernetes/kubeadm/kubeadm-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#14698 testgrid: add cert-manager master branch jobs
  config/testgrids/cert-manager/OWNERS
  config/testgrids/cert-manager/groups.yaml
  config/testgrids/cert-manager/jetstack-cert-manager-master.yaml
  config/tests/testgrids/config_test.go
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#14701 move: GCE/GKE tests outside of cluster-lifecycle
  config/jobs/kubernetes/sig-cloud-provider/gcp/gce-misc.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/upgrade-gke.yaml
Labels: approved, area/config, area/provider/gcp, cncf-cla: yes, kind/cleanup, lgtm, sig/cloud-provider, sig/cluster-lifecycle, sig/release, sig/testing, size/S

#14706 Expose primary ref completion functions
  prow/pjutil/pjutil.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#14708 Update to 8 nongke janitor replicas
  prow/cluster/boskos-janitor.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#14690 Add the unsplash api key to hook
  config/prow/plugins.yaml
  prow/cluster/hook_deployment.yaml
Labels: approved, area/config, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#14714 add more gke project janitor replicas
  prow/cluster/boskos-janitor.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#14691 Release the goose
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14720 update rules_jsonnet to 0.2.0
  load.bzl
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#14713 properly move sig-cluster-lifecycle-upgrade-skew jobs
  config/jobs/kubernetes/sig-cli/sig-cli-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gcp-gpu-upgrade-downgrade.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/upgrade-gce.yaml
  config/testgrids/config.yaml
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Labels: approved, area/config, area/provider/gcp, area/testgrid, cncf-cla: yes, kind/cleanup, lgtm, priority/important-longterm, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/release, sig/testing, size/M

#14661 Add Azure Disk CSI Driver Job Configuration
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/OWNERS
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#14725 Enable boskos in k8s.io/perf-test presubmits
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14726 Disable resource constraints in 100 gce tests
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.13.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.14.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#14728 Revert "Enable boskos in k8s.io/perf-test presubmits"
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14730 Enable collection of system pod metrics in k/k presubmits
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#14568 Update AMIs used by Kops periodic jobs
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics.yaml
Labels: approved, area/config, area/provider/aws, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#14632 Use PresubmitsStatic() in all non-test codepaths
  experiment/config-forker/main.go
  experiment/config-rotator/main.go
  prow/cmd/checkconfig/main.go
  prow/cmd/mkpj/main.go
  prow/config/config.go
  prow/gerrit/adapter/adapter.go
  prow/statusreconciler/controller.go
  testgrid/cmd/configurator/prow.go
Labels: approved, area/prow, area/prow/gerrit, area/prow/mkpj, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#14635 Extract presubmit validation
  prow/config/config.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#14636 Extract presubmit defaulting
  prow/config/config.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#14633 Allow enabling inrepoconfig
  go.mod
  prow/config/BUILD.bazel
  prow/config/config.go
  prow/config/config_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#14733 README: List another prow cluster in the wild
  prow/README.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#14711 releng: Add image pushing jobs for k/release
  config/jobs/image-pushing/k8s-staging-release-test.yaml
  config/testgrids/kubernetes/sig-release/config.yaml
Labels: approved, area/config, area/release-eng, area/testgrid, cncf-cla: yes, lgtm, priority/important-soon, sig/release, sig/testing, size/M

#14675 [plank] Add logic to allow the decoration configs to co-exist.
  prow/cmd/deck/pr_history.go
  prow/cmd/deck/pr_history_test.go
  prow/config/config.go
  prow/spyglass/spyglass.go
  prow/spyglass/spyglass_test.go
Labels: approved, area/prow, area/prow/deck, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/M

#14735 releng: Add "run_if_changed" to image-pushing jobs
  config/jobs/image-pushing/k8s-staging-release-test.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#14739 Use latest rules_docker, rules_k8s, drop py2 force
  .bazelrc
  WORKSPACE
  go.mod
  go.sum
  load.bzl
  repos.bzl
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/L

#14741 fixup kind presubmits
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14731 kops e2e: Conformance requires nodeports to be world-readable
  kubetest/kops.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS

#14745 Fix pj-on-kind.sh prowjob output directory mounting.
  prow/pj-on-kind.sh
Labels: approved, area/prow, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/XS

#14722 update azure deployer for dual-stack phase2
  kubetest/azure_helpers.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS
