Repository kubernetes/test-infra, pull requests merged in 2019-02, with the labels that each got.

#11077 Try to also look for kubeadm repo from GOPATH
  scenarios/kubernetes_e2e.py
Labels: approved, area/scenarios, cncf-cla: yes, lgtm, sig/testing, size/XS

#11074 Generate fake test results
  experiment/resultstore/main.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/L

#10983 kubetest: extend the kind deployer with optional build and download
  kubetest/kind/kind.go
  kubetest/main.go
Labels: approved, area/kubetest, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, sig/testing, size/L

#11059 Configure the milestone plugin for cluster-api-provider-aws and cluster-api
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#11079 move kops out of release-blocking
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#11076 Also run update-config when bumping prow
  prow/autobump.sh
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS, ¯\_(ツ)_/¯

#11051 Support presets for buildspec
  prow/config/config.go
  prow/config/jobs.go
  prow/config/jobs_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#11082 Allow plank controller to update ProwJob status
  prow/cluster/plank_rbac.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#11083 Remove duplicated flag in plank controller
  prow/cmd/plank/main.go
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/XS

#11087 Check for ExtraRefs presence correctly
  prow/cmd/deck/main.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/XS

#11086 Use the DRY kubernetes client flags in sinker
  prow/ANNOUNCEMENTS.md
  prow/cmd/sinker/BUILD.bazel
  prow/cmd/sinker/main.go
Labels: approved, area/prow, area/prow/bump, area/prow/deck, area/prow/sinker, cncf-cla: yes, lgtm, sig/testing, size/M

#11090 Use Update() instead of UpdateStatus()
  prow/cluster/plank_rbac.yaml
  prow/jenkins/controller.go
  prow/plank/controller.go
Labels: approved, area/prow, area/prow/bump, area/prow/jenkins-operator, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/S

#11098 Add files that show up in invocation and target logs
  experiment/resultstore/BUILD.bazel
  experiment/resultstore/main.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/M

#11089 Use MkdirAll
  prow/git/git.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#11101 Fix bug in filtering code for deck
  prow/cmd/deck/main.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/XS

#11106 plugins: enable needs-rebase for k-sigs/kind
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#11103 improve kubetest kind integration
  kubetest/kind/kind.go
  kubetest/main.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/L

#11107 Actually look for kubeadm in $GOPATH/src
  scenarios/kubernetes_e2e.py
Labels: approved, area/scenarios, cncf-cla: yes, lgtm, sig/testing, size/XS

#11109 Adding overrides to gke 2000
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11021 Migrating beta and gce stable ci jobs to clusterloader
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#11112 Initialize KubernetesClient in NewAgent for plugins
  prow/plugins/plugins.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#11108 Retire maintainer field in our Dockerfiles
  boskos/Dockerfile
  boskos/janitor/Dockerfile
  boskos/metrics/Dockerfile
  boskos/reaper/Dockerfile
  experiment/tracer/Dockerfile
  images/bazelbuild/Dockerfile
  images/bigquery/Dockerfile
  images/bootstrap/Dockerfile
  images/cluster-api/Dockerfile
  images/gcloud/Dockerfile
  images/kubekins-e2e/Dockerfile
  images/kubekins-test/Dockerfile-1.10
  images/kubekins-test/Dockerfile-1.11
  images/kubekins-test/Dockerfile-1.12
  images/kubekins-test/Dockerfile-1.13
  images/kubemci/Dockerfile
  images/pull-test-infra-gubernator/Dockerfile
  logexporter/cmd/Dockerfile
  maintenance/aws-janitor/Dockerfile
  planter/Dockerfile
  prow/cmd/crier/Dockerfile
  prow/cmd/deck/Dockerfile
  prow/external-plugins/cherrypicker/Dockerfile
Labels: approved, area/boskos, area/images, area/planter, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/M

#11113 Update Prow config for EBS CSI driver
  config/jobs/kubernetes-sigs/aws-ebs-csi-driver/aws-ebs-csi-driver-presubmits.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#11102 Write unit tests for Deck job filtering code
  prow/cmd/deck/BUILD.bazel
  prow/cmd/deck/main_test.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/L

#11078 add VolumeSnapshotDataSource feature gate
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-gcp/sig-gcp-gce-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11114 use latest tag for kubeadm presubmit
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS, ¯\_(ツ)_/¯

#11116 Add output connection throttling to ghproxy
  ghproxy/ghcache/BUILD.bazel
  ghproxy/ghcache/ghcache.go
  ghproxy/ghproxy.go
Labels: approved, area/ghproxy, cncf-cla: yes, lgtm, sig/testing, size/M

#11119 Start setting dump-systemd-journal=true in scalability tests.
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#11120 Removing resource constraints from gce stable2 and stable3
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11125 Update sig-windows-config.yaml to include location
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11128 Revert "Bump prow from v20190125-2aca69d to v20190205-2820e5e"
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/build_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Labels: approved, area/config, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#11126 Add verify job for enhancements repo
  config/jobs/kubernetes/enhancements/OWNERS
  config/jobs/kubernetes/enhancements/enhancements-presubmit.yaml
  prow/plugins.yaml
Labels: approved, area/config, area/prow, cncf-cla: yes, lgtm, sig/pm, sig/testing, size/S

#11129 path-alias k/k into k8s.io/kubernetes
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11130 Use the correct pod namespace for build cluster clients
  prow/cmd/plank/main.go
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/XS

#11117 Refactor how testgrid parses started.json, finished.json and artifacts
  testgrid/cmd/updater/BUILD.bazel
  testgrid/cmd/updater/main.go
  testgrid/cmd/updater/main_test.go
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#11131 kubeadm: use 'gce' when dumping logs
  kubetest/anywhere.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS, ¯\_(ツ)_/¯

#11132 Fix panic in giving welcome message
  prow/plugins/trigger/pull-request.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#11104 Unify testgrid and prow's Started Finished structures
  prow/cmd/deck/job_history.go
  prow/initupload/run.go
  prow/pod-utils/gcs/BUILD.bazel
  prow/pod-utils/gcs/metadata.go
  prow/sidecar/run.go
  prow/spyglass/lenses/junit/BUILD.bazel
  prow/spyglass/lenses/junit/lens.go
  prow/spyglass/lenses/metadata/lens.go
  testgrid/BUILD.bazel
  testgrid/cmd/updater/BUILD.bazel
  testgrid/cmd/updater/main.go
  testgrid/cmd/updater/main_test.go
  testgrid/metadata/BUILD.bazel
  testgrid/metadata/job.go
  testgrid/metadata/junit/BUILD.bazel
  testgrid/metadata/junit/junit.go
Labels: approved, area/prow, area/prow/deck, area/prow/initupload, area/prow/pod-utilities, area/prow/sidecar, area/prow/spyglass, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#11134 Temporarily suspend branchprotector cronjob.
  prow/cluster/branchprotector_cronjob.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#11144 Synchronize owners with cluster-api/OWNERS_ALIASES
  config/jobs/kubernetes-sigs/cluster-api/OWNERS
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11105 plugins: slack: update branch manager whitelist
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, sig/testing, size/S

#11143 Skip chronically failing test in local-e2e-containerized
  config/jobs/kubernetes/sig-node/local-e2e-containerized.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/node, sig/testing, size/XS

#11148 Configure the milestone plugin for cluster-api-provider-azure
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#11121 Allow dumping full systemd journal in logexporter.
  logexporter/cmd/main.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#11150 Add GOPATH/bin to PATH for enhancements verify job
  config/jobs/kubernetes/enhancements/enhancements-presubmit.yaml
Labels: approved, area/config, cncf-cla: yes, kind/bug, lgtm, sig/pm, sig/testing, size/XS

#11155 Make pull-enhancements-verify quiet until it works
  config/jobs/kubernetes/enhancements/enhancements-presubmit.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/pm, sig/testing, size/XS

#11147 Horologium Improvements
  prow/cmd/horologium/BUILD.bazel
  prow/cmd/horologium/main.go
  prow/cron/BUILD.bazel
  prow/cron/cron.go
Labels: approved, area/prow, area/prow/horologium, cncf-cla: yes, lgtm, sig/testing, size/M

#10891 Prow: add links to Refs and pass Refs to client
  prow/apis/prowjobs/v1/types.go
  prow/cmd/deck/static/api/prow.ts
  prow/cmd/deck/static/api/tide-history.ts
  prow/cmd/deck/static/common/common.ts
  prow/cmd/deck/static/pr/pr.ts
  prow/cmd/deck/static/prow/prow.ts
  prow/cmd/deck/static/tide-history/tide-history.ts
  prow/deck/jobs/jobs.go
  prow/gerrit/adapter/BUILD.bazel
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
  prow/github/types.go
  prow/pjutil/BUILD.bazel
  prow/pjutil/pjutil.go
  prow/pjutil/pjutil_test.go
  prow/plugins/trigger/BUILD.bazel
  prow/plugins/trigger/push.go
  prow/plugins/trigger/push_test.go
  prow/tide/history/BUILD.bazel
  prow/tide/history/history.go
  prow/tide/history/history_test.go
  prow/tide/tide.go
Labels: approved, area/prow, area/prow/deck, area/prow/gerrit, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/XL

#11149 Push new version of logexporter.
  logexporter/Makefile
  logexporter/cluster/logexporter-daemonset.yaml
  logexporter/cluster/logexporter-pod.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#11092 Don't run in dry-run mode for horologium and sinker
  prow/cluster/horologium_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#11159 Resume branchprotector runs
  prow/cluster/branchprotector_cronjob.yaml
Labels: approved, cncf-cla: yes, lgtm

#11160 Don't handle irrelevant comments in trigger plugin
  prow/plugins/trigger/generic-comment.go
  prow/plugins/trigger/generic-comment_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#10911 add 2019-01-23 postmortem
  docs/post-mortems/2019-01-23.md
  docs/post-mortems/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/L

#11156 Updating container and test name for minikube tests
  config/jobs/kubernetes/minikube/minikube.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#11145 update broken link
  prow/cmd/tide/config.md
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#11164 register help for buildifier
  prow/plugins/buildifier/buildifier.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#11163 Fix regex in local-e2e-containerized
  config/jobs/kubernetes/sig-node/local-e2e-containerized.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11140 Move logic to read GCS build results to gcs package
  testgrid/cmd/updater/BUILD.bazel
  testgrid/cmd/updater/main.go
  testgrid/cmd/updater/main_test.go
  testgrid/util/gcs/BUILD.bazel
  testgrid/util/gcs/read.go
  testgrid/util/gcs/read_test.go
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XL

#11135 Add postmortem for 2019-02-05 partial outage.
  docs/post-mortems/2019-02-05.md
  docs/post-mortems/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/L

#11141 kubeadm: add a kind based job under sig-cluster-lifecycle
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kind.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, sig/testing, size/M

#11158 kubetest: use custom log dumping in anywhere.go
  kubetest/anywhere.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/M

#10980 Fix spyglass cell generation when using spyglass as primary viewer
  prow/cmd/deck/static/prow/prow.ts
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/S, ¯\_(ツ)_/¯

#11174 kuberentes_e2e.py: skip add_gce_ssh for the 'kind' deployer
  scenarios/kubernetes_e2e.py
Labels: approved, area/scenarios, cncf-cla: yes, lgtm, sig/testing, size/XS, ¯\_(ツ)_/¯

#11175 Add tslint
  BUILD.bazel
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  gopherage/cmd/html/static/browser.ts
  gopherage/cmd/html/static/parser.ts
  gopherage/cmd/html/static/utils_test.ts
  hack/check-pr.sh
  hack/verify-tslint.sh
  package.json
  prow/cmd/deck/static/api/github.ts
  prow/cmd/deck/static/api/pr.ts
  prow/cmd/deck/static/api/tide-history.ts
  prow/cmd/deck/static/api/tide.ts
  prow/cmd/deck/static/command-help/command-help.ts
  prow/cmd/deck/static/common/common.ts
  prow/cmd/deck/static/plugin-help/plugin-help.ts
  prow/cmd/deck/static/pr/pr.ts
  prow/cmd/deck/static/prow/fuzzy-search.ts
  prow/cmd/deck/static/prow/prow.ts
  prow/cmd/deck/static/spyglass/common.ts
  prow/cmd/deck/static/spyglass/lens.ts
  prow/cmd/deck/static/spyglass/spyglass.ts
  prow/cmd/deck/static/tide-history/tide-history.ts
  prow/cmd/deck/static/tide/tide.ts
  prow/spyglass/lenses/buildlog/buildlog.ts
  prow/spyglass/lenses/metadata/metadata.ts
  testgrid/config.yaml
  tslint.json
  yarn.lock
Labels: approved, area/config, area/gopherage, area/prow, area/prow/deck, area/prow/spyglass, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XXL

#11179 Fix bump_e2e_image.sh tree finding.
  experiment/bump_e2e_image.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/XS

#11180 Remove maintainer from gcsweb image
  gcsweb/Dockerfile.in
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#11181 kubeadm-kind: add missing '='
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kind.yaml
Labels: approved, area/config, cncf-cla: yes, kind/cleanup, lgtm, sig/testing, size/XS

#11185 kubeadm-kind: fix wrong argument for kind config path
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kind.yaml
Labels: approved, area/config, cncf-cla: yes, kind/cleanup, lgtm, sig/testing, size/XS

#11184 Deck: add missing org to Github links
  prow/cmd/deck/static/prow/prow.ts
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/XS

#11046 Convert kubeflow-pipeline presubmit to knative-build steps
  config/jobs/kubeflow/kubeflow-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#11045 Convert containerd presubmit to knative-build agent
  config/jobs/containerd/cri/containerd-cri-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/L

#11170 Adding PluginHelp.Config for size plugin
  prow/plugins/size/size.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#11171 Migrating scalability gce presubmits to clusterloader
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#11189 Update sig-windows-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11192 Remove kubemark-small-last-release job
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#11187 Adding PluginHelp.Config to cat plugin
  prow/plugins/cat/cat.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#11188 Adding PluginHelp.Config to golint plugin
  prow/plugins/golint/golint.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#11169 Trigger correct set of jobs on PR events
  prow/plugins/trigger/generic-comment.go
  prow/plugins/trigger/generic-comment_test.go
  prow/plugins/trigger/pull-request.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#11183 Summarise the spyglass metadata table
  prow/cmd/deck/static/spyglass/spyglass.css
  prow/spyglass/lenses/metadata/BUILD.bazel
  prow/spyglass/lenses/metadata/metadata.ts
  prow/spyglass/lenses/metadata/style.css
  prow/spyglass/lenses/metadata/template.html
Labels: approved, area/prow, area/prow/deck, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/L

#11194 appdef, container identity, and kubeadm are now retired
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/testing, size/XS

#11195 disable gce minikube test for now
  config/jobs/kubeflow/kubeflow-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#11173 Improve the setup docs for Boskos
  boskos/README.md
  boskos/deployment.yaml
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/M

#11075 Git Client Support On-Prem Github
  prow/cmd/branchprotector/protect_test.go
  prow/cmd/jenkins-operator/main_test.go
  prow/flagutil/BUILD.bazel
  prow/flagutil/github.go
  prow/flagutil/github_test.go
  prow/git/git.go
  prow/git/git_test.go
  prow/git/localgit/localgit.go
Labels: approved, area/prow, area/prow/branchprotector, area/prow/jenkins-operator, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#11186 kubeadm-kind: use 'build' instead of 'latest' for the kind binary.
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kind.yaml
  kubetest/kind/kind.go
Labels: approved, area/config, area/kubetest, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/XS

#11205 Revert prow to v20190125-2aca69d
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/build_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Labels: approved, area/config, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#11210 add GOPATH to containerd presubmit
  config/jobs/containerd/cri/containerd-cri-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11200 split e2e test with sample test
  config/jobs/kubeflow/kubeflow-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#11211 prow: sinker/horologium: revert flag changes for starter.yaml
  prow/cluster/starter.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#11213 fix a minor issue in kubetest/kind and make kubeadm-gce-master use latest kubekins
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm.yaml
  kubetest/kind/kind.go
Labels: approved, area/config, area/kubetest, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/XS

#11207 Spyglass junit revamp
  prow/cmd/deck/template/spyglass.html
  prow/spyglass/lenses/junit/junit.css
  prow/spyglass/lenses/junit/lens.go
  prow/spyglass/lenses/junit/lens.ts
  prow/spyglass/lenses/junit/template.html
Labels: approved, area/prow, area/prow/deck, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/L

#11216 kubetest/anywhere.go: don't set KUBERNETES_CONFORMANCE_PROVIDER
  kubetest/anywhere.go
Labels: approved, area/kubetest, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/XS

#11217 Add CI job to validate publishing rules
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/publishing-bot/publishing-bot-presubmits.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#11221 kubeadm-kind: add the ENV variables REPO_OWNER and REPO_NAME
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kind.yaml
Labels: approved, area/config, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/XS

#11225 Fix incorrect planter run command
  planter/README.md
Labels: approved, area/planter, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#11222 kind: remove workaround for kube::util::find-binary-for-platform() bug
  experiment/kind-e2e.sh
  kubetest/kind/kind.go
Labels: approved, area/kubetest, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/S

#11220 Be more precise in identifying irrelevant comments
  prow/plugins/trigger/generic-comment.go
  prow/plugins/trigger/generic-comment_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M, ¯\_(ツ)_/¯

#11122 Adding 1 node redundancy for kubemark 500 and more nodes tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#11228 Enable dump-systemd-journal in node-killer tests.
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#11230 Update sig-windows-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11199 Deck: restore 'org/repo' for filtering
  prow/cmd/deck/static/prow/prow.ts
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/XS

#11190 Adding PluginHelp.Config to label plugin
  prow/plugins/label/label.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#11010 GCE: add a windows test job
  config/jobs/kubernetes/sig-gcp/sig-gcp-windows.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#11209 Don't overwrite a provided literal default client
  prow/cmd/deck/main.go
  prow/cmd/plank/main.go
  prow/cmd/sinker/main.go
  prow/config/config.go
  prow/flagutil/BUILD.bazel
  prow/flagutil/kubernetes_cluster_clients.go
  prow/flagutil/kubernetes_cluster_clients_test.go
Labels: approved, area/prow, area/prow/deck, area/prow/plank, area/prow/sinker, cncf-cla: yes, lgtm, sig/testing, size/L

#11232 merge containerd build and containerd e2e
  config/jobs/containerd/cri/containerd-cri-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#11233 GCE: Set KUBERNETES_NODE_PLATFORM to download windows binaries
  config/jobs/kubernetes/sig-gcp/sig-gcp-windows.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11201 Turn off CSIMigration on all test jobs
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-gcp/sig-gcp-gce-config.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  experiment/test_config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#11234 skip report sample tests
  config/jobs/kubeflow/kubeflow-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#11237 Use ci-cross for GCE windows test job
  config/jobs/kubernetes/sig-gcp/sig-gcp-windows.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11238 Fix containerd presubmit test.
  config/jobs/containerd/cri/containerd-cri-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#11240 Fix quotes in containerd presubmit job.
  config/jobs/containerd/cri/containerd-cri-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11241 Switch to kubernetes repo before running node e2e.
  config/jobs/containerd/cri/containerd-cri-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11243 Use new image config with new GOPATH.
  config/jobs/containerd/cri/containerd-cri-presubmit-jobs.yaml
  jobs/e2e_node/containerd/cri-master/image-config-pr.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#11242 kubetest/kind: copy the declaration of KUBECONFIG to Up()
  kubetest/kind/kind.go
Labels: approved, area/kubetest, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/S

#11246 fix path to test-infra for containerd presubmit
  jobs/e2e_node/containerd/cri-master/image-config-pr.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#11154 Migrating scalability kubemark presubmits to clusterloader
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/L

#11239 Record which command runner actually triggers
  images/bootstrap/runner.sh
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/XS

#11244 Remove the title from the metadata lens
  prow/cmd/deck/main.go
  prow/cmd/deck/static/spyglass/spyglass.css
  prow/cmd/deck/static/spyglass/spyglass.ts
  prow/cmd/deck/template/spyglass.html
  prow/spyglass/lenses/buildlog/lens.go
  prow/spyglass/lenses/junit/lens.go
  prow/spyglass/lenses/lenses.go
  prow/spyglass/lenses/lenses_test.go
  prow/spyglass/lenses/metadata/lens.go
  prow/spyglass/lenses/metadata/style.css
  prow/spyglass/spyglass.go
  prow/spyglass/spyglass_test.go
Labels: approved, area/prow, area/prow/deck, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/L

#11250 Kubemark presubmit fix
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  kubetest/e2e.go
Labels: area/config, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/S

#11215 sig-cluster-lifecycle: add a job for testing DEB package install
  config/jobs/kubernetes/sig-cluster-lifecycle/packages.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#11252 Setup node throughput test
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#11191 Adding PluginHelp.Config to verify-owners plugin
  prow/plugins/verify-owners/verify-owners.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#11256 spyglass: fix bad template for skipped tests.
  prow/spyglass/lenses/junit/template.html
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/XS

#11229 Add missing -D flag when dumping full systemd log
  logexporter/Makefile
  logexporter/cluster/logexporter-daemonset.yaml
  logexporter/cluster/logexporter-pod.yaml
  logexporter/cmd/main.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#11257 Add support to extract ci-cross
  kubetest/extract_k8s.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS

#11258 Add test job for Ingress-GCE 1.4 branch and remove job for 1.1 branch
  config/jobs/kubernetes/sig-network/ingress-gce-e2e.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#11259 fix artifacts dir for node e2e tests
  kubetest/e2e.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS

#11261 kubeadm: remove the presubmit pull-kubernetes-e2e-kubeadm-gce
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, kind/cleanup, lgtm, sig/cluster-lifecycle, sig/testing, size/XL

#11262 Revert "Merge pull request #11075 from midnightconman/scm-flags-20190…
  prow/cmd/branchprotector/protect_test.go
  prow/cmd/jenkins-operator/main_test.go
  prow/flagutil/BUILD.bazel
  prow/flagutil/github.go
  prow/flagutil/github_test.go
  prow/git/git.go
  prow/git/git_test.go
  prow/git/localgit/localgit.go
Labels: approved, area/prow, area/prow/branchprotector, area/prow/jenkins-operator, cncf-cla: yes, lgtm, sig/testing, size/L

#11167 Migrate a result in GCS to ResultStore
  experiment/resultstore/BUILD.bazel
  experiment/resultstore/convert.go
  experiment/resultstore/download.go
  experiment/resultstore/main.go
  testgrid/BUILD.bazel
  testgrid/cmd/updater/main.go
  testgrid/metadata/junit/junit.go
  testgrid/resultstore/BUILD.bazel
  testgrid/resultstore/client.go
  testgrid/resultstore/resultstore.go
  testgrid/util/gcs/BUILD.bazel
  testgrid/util/gcs/read.go
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XXL

#11265 Add label for French language
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/contributor-experience, sig/testing, size/XS

#11271 bump kubekins for windows e2e and containerd
  config/jobs/containerd/cri/containerd-cri-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-gcp/sig-gcp-windows.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11272 Fix containerd presubmit job
  config/jobs/containerd/cri/containerd-cri-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11278 Add testgrid tab for sig-scalability-node
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS

#11281 Bind kube-proxy metrics on 0.0.0.0 in tests.
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#11282 Migrating gce 5000 to clusterloader
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#11283 Migrating gke 5000 to clusterloader
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#11285 Bump max-pods in node-throughput test
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11280 Change location deployments in sig-windows jobs.
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11251 Adding default location for acsengine deployments.
  kubetest/azure.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/S

#11236 Add documentation on triggering behavior to jobs.md
  prow/jobs.md
Labels: approved, area/prow, area/prow/branchprotector, area/prow/jenkins-operator, cncf-cla: yes, lgtm, sig/testing, size/M

#11284 plugins: enable needs-rebase for openstack repos
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#11277 Add wojtek-t to OWNERS
  config/OWNERS
  kubetest/OWNERS
Labels: approved, area/config, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS

#10933 Deck: use URL parameters for PR history dashboard
  prow/cmd/deck/pr_history.go
  prow/cmd/deck/pr_history_test.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/M

#11291 Skip cluster-api presubmits on gh-pages branch
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#11266 Move testgrid protos into their own package
  testgrid/BUILD.bazel
  testgrid/cmd/configurator/BUILD.bazel
  testgrid/cmd/updater/BUILD.bazel
  testgrid/cmd/updater/main.go
  testgrid/config/BUILD.bazel
  testgrid/config/config.go
  testgrid/config/config.proto
  testgrid/issue_state/BUILD.bazel
  testgrid/issue_state/issue_state.proto
  testgrid/state/BUILD.bazel
  testgrid/state/state.proto
  testgrid/util/gcs/BUILD.bazel
  testgrid/util/gcs/gcs.go
  testgrid/util/gcs/read.go
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#11275 Default sinker and horologium to --dry-run=false for the time being
  prow/ANNOUNCEMENTS.md
  prow/cmd/horologium/BUILD.bazel
  prow/cmd/horologium/main.go
  prow/cmd/horologium/main_test.go
  prow/cmd/sinker/BUILD.bazel
  prow/cmd/sinker/main.go
  prow/cmd/sinker/main_test.go
  prow/flagutil/BUILD.bazel
  prow/flagutil/bool.go
  prow/flagutil/kubernetes_cluster_clients.go
  prow/flagutil/kubernetes_cluster_clients_test.go
Labels: approved, area/prow, area/prow/horologium, area/prow/sinker, cncf-cla: yes, lgtm, sig/testing, size/L

#11253 kubetest/kind: apply more bug fixes
  kubetest/kind/kind.go
Labels: approved, area/kubetest, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/M

#11274 Add links to spyglass pages
  prow/cmd/deck/job_history.go
  prow/cmd/deck/main.go
  prow/cmd/deck/static/spyglass/lens.css
  prow/cmd/deck/static/spyglass/spyglass.css
  prow/cmd/deck/template/spyglass.html
  prow/config.yaml
  prow/config/config.go
  prow/pod-utils/gcs/target.go
  prow/spyglass/BUILD.bazel
  prow/spyglass/spyglass.go
  prow/spyglass/spyglass_test.go
Labels: approved, area/prow, area/prow/deck, area/prow/pod-utilities, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/XL

#11293 kubetest/kind: more improvements
  kubetest/kind/kind.go
Labels: approved, area/kubetest, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/M

#11287 Enable full systemd log dump in 5k correctness tests.
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS
