Repository kubernetes/test-infra, pull requests merged in 2019-01, with the labels that each got.

#10579 lgtm: comment about removal only when lgtm existed before
  prow/plugins/lgtm/lgtm.go
Labels: approved, area/prow, cncf-cla: yes, kind/bug, lgtm, size/M

#10582 Disabling coredns in clusterloader 5k test
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#10584 Remove unneeded pipelines backend unit test entry
  config/jobs/kubeflow/kubeflow-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, size/S

#10555 Enable periodic tests on the Kubeflow 0-4 branch.
  config/jobs/kubeflow/kubeflow-periodics.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, size/M

#10587 Fix org queries being ignored in PR dashboard.
  prow/cmd/deck/static/pr/pr.ts
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, kind/bug, lgtm, size/XS

#10581 Add custom fields to the CRD definition for better admin UX
  prow/cluster/prowjob_customresourcedefinition.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, size/M

#10589 Increase timeout for csi serial pull job
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#10588 Make the Prow autobump job run at 7:05am PST Mon-Fri instead every day around 6pm.
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, area/prow, cncf-cla: yes, lgtm, size/XS

#10592 Remove duplicate key in pull-test-infra-verify-config
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, kind/cleanup, lgtm, size/XS, ¯\_(ツ)_/¯

#10556 Add test integration for AWS EBS CSI driver
  config/jobs/kubernetes-sigs/aws-ebs-csi-driver/aws-ebs-csi-driver-presubmits.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, size/S

#10580 Honor archived repos in branch-protector and label-sync
  label_sync/main.go
  prow/cmd/branchprotector/protect.go
  prow/cmd/branchprotector/protect_test.go
Labels: approved, area/label_sync, area/prow, area/prow/branchprotector, cncf-cla: yes, lgtm, size/M

#10598 upload logs to pr-logs
  config/jobs/kubernetes-incubator/service-catalog/service-catalog-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, needs-ok-to-test, size/XS

#10585 Updating Planter to use Bazel 0.21.0
  planter/Makefile
  planter/planter.sh
Labels: approved, area/planter, cncf-cla: yes, lgtm, size/XS

#10604 Add some more logging for gerrit reporter to debug
  prow/crier/controller.go
  prow/gerrit/reporter/reporter.go
Labels: approved, area/prow, area/prow/gerrit, cncf-cla: yes, lgtm, size/XS

#10596 Adding clusterloader env variables
  kubetest/e2e.go
Labels: approved, cncf-cla: yes, lgtm, size/S

#10608 use latest image for verify/integration-podutil jobs
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-testing/integration.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/S, ¯\_(ツ)_/¯

#10615 Migrating kubemark 100 to clusterloader
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/S

#10616 Minor cleanup of GKE scalability jobs
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#10618 prow: link to deck's per-repo command help page in comment
  prow/plugins/trigger/pull-request.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/S

#10610 Add labels in github template metadata
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/enhancement.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#10515 Allow cuj, platform, community, and team labels to be set via bot.
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/S

#10612 Add note about setting --oauth-url flag to pr status dashboard docs
  prow/docs/pr_status_setup.md
Labels: approved, area/prow, cncf-cla: yes, kind/documentation, lgtm, size/XS

#10609 move to sigs.k8s.io
  config/jobs/kubernetes-sigs/sig-storage-local-static-provisioner/sig-storage-local-static-provisioner.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/XS

#10613 Treat race condition in verify-owners
  prow/git/localgit/localgit.go
  prow/plugins/verify-owners/verify-owners.go
  prow/plugins/verify-owners/verify-owners_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, size/M

#10620 Create postsubmit job for kops build
  config/jobs/kubernetes/kops/kops-config.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#10624 Add area/deflake label to repos
  label_sync/labels.md
  label_sync/labels.yaml
  prow/cmd/deck/static/labels.css
Labels: approved, area/label_sync, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#10625 Move the deck readme link from the header logo to the sidebar
  prow/cmd/deck/template/base.html
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/XS

#10633 Note that /hold will also silence retester
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#10571 Prow docs: Improvements to deploy guide
  prow/getting_started_deploy.md
Labels: approved, area/prow, cncf-cla: yes, kind/documentation, lgtm, size/M

#10632 Update 1.12
  kettle/buckets.yaml
  testgrid/config.yaml
Labels: approved, area/kettle, area/testgrid, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/M

#10611 Add scalability stable3 job
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, size/M

#10634 vendor: upgrade "aws-k8s-tester" to 0.2.0
  Gopkg.lock
  config/jobs/kubernetes/sig-aws/eks/k8s-aws-eks-presets.yaml
  vendor/BUILD.bazel
  vendor/github.com/aws/aws-k8s-tester/ec2config/config.go
  vendor/github.com/aws/aws-k8s-tester/ec2config/plugins/BUILD.bazel
  vendor/github.com/aws/aws-k8s-tester/ec2config/plugins/plugins.go
  vendor/github.com/aws/aws-k8s-tester/eksconfig/config.go
  vendor/github.com/aws/aws-k8s-tester/etcdconfig/plugins/plugins.go
  vendor/github.com/aws/aws-k8s-tester/kubeadmconfig/plugins/plugins.go
  vendor/github.com/aws/aws-k8s-tester/kubernetesconfig/plugins/BUILD.bazel
  vendor/github.com/aws/aws-k8s-tester/kubernetesconfig/plugins/plugins.go
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/L

#10640 Spyglass: Do not consider EOF on gcs files an error
  prow/spyglass/lenses/buildlog/lens.go
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/XS

#10641 Cleanup EKS CI jobs
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-aws/eks/k8s-aws-eks-periodics.yaml
  config/jobs/kubernetes/sig-aws/eks/k8s-aws-eks-presubmits.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#10626 Show the running test-infra commit on the deck UI
  prow/cmd/deck/BUILD.bazel
  prow/cmd/deck/static/style.css
  prow/cmd/deck/template/base.html
  prow/cmd/deck/templates.go
  prow/cmd/deck/version/BUILD.bazel
  prow/cmd/deck/version/version.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/M

#10530 Make Tide record action history (in memory for now) and display via Deck.
  prow/cmd/deck/BUILD.bazel
  prow/cmd/deck/localdata/.gitignore
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
  prow/cmd/deck/runlocal
  prow/cmd/deck/static/BUILD.bazel
  prow/cmd/deck/static/api/tide-history.ts
  prow/cmd/deck/static/common/common.ts
  prow/cmd/deck/static/prow/prow.ts
  prow/cmd/deck/static/tide-history/tide-history.ts
  prow/cmd/deck/static/tide/tide.ts
  prow/cmd/deck/template/tide-history.html
  prow/cmd/deck/tide.go
  prow/cmd/deck/tide_test.go
  prow/cmd/tide/main.go
  prow/tide/BUILD.bazel
  prow/tide/history/BUILD.bazel
  prow/tide/history/history.go
  prow/tide/history/history_test.go
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: approved, area/prow, area/prow/deck, area/prow/tide, cncf-cla: yes, kind/feature, lgtm, sig/testing, size/XXL, ¯\_(ツ)_/¯

#10638 Prevent blunderbuss from requesting reviews from authors with uppercase.
  prow/plugins/blunderbuss/blunderbuss.go
  prow/plugins/blunderbuss/blunderbuss_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm

#10645 Add and run unit some gopherage typescript unit tests.
  gopherage/cmd/html/static/BUILD.bazel
  gopherage/cmd/html/static/utils_test.ts
  package.json
  yarn.lock
Labels: approved, area/gopherage, cncf-cla: yes, lgtm, sig/testing, size/L

#10648 Update Prow jobs doc to make it clear that branches are regexps
  prow/jobs.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#10650 bootstrap image: set SOURCE_DATE_EPOCH based on latest git commit
  images/bootstrap/runner.sh
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/XS

#10651 s/coookiefile/cookiefile
  prow/clonerefs/options.go
Labels: approved, area/prow, area/prow/clonerefs, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/XS

#10656 Add mborsz to sig-scalability config OWNERS.
  config/jobs/kubernetes/sig-scalability/OWNERS
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#10657 Fixing kubemark 5000 ci job resources
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#10660 Fix tide-history time handling.
  prow/cmd/deck/static/BUILD.bazel
  prow/cmd/deck/static/common/common.ts
  prow/cmd/deck/static/prow/prow.ts
  prow/cmd/deck/static/tide-history/tide-history.ts
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/S

#10643 Allow status migration to filter on target branch
  maintenance/migratestatus/migratestatus.go
  maintenance/migratestatus/migrator/BUILD.bazel
  maintenance/migratestatus/migrator/migrator.go
  maintenance/migratestatus/migrator/migrator_test.go
  prow/statusreconciler/controller.go
  prow/statusreconciler/controller_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#10661 config/.../eks: allow privileged ports to worker nodes.
  Gopkg.lock
  config/jobs/kubernetes/sig-aws/eks/k8s-aws-eks-presets.yaml
  vendor/github.com/aws/aws-k8s-tester/eksconfig/config.go
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#10639 Allow config-bootstrapper to work out of cluster
  prow/cmd/config-bootstrapper/BUILD.bazel
  prow/cmd/config-bootstrapper/main.go
  prow/plugins/updateconfig/updateconfig.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M, ¯\_(ツ)_/¯

#10527 Add option to only report knative agent jobs
  prow/cmd/crier/main.go
  prow/github/reporter/reporter.go
  prow/github/reporter/reporter_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#10573 Lint suggest code change for variable declarations
  prow/plugins/golint/golint_test.go
  prow/plugins/golint/suggestion/golint_suggestion.go
  prow/plugins/golint/suggestion/golint_suggestion_test.go
Labels: approved, area/prow, cncf-cla: yes, kind/feature, lgtm, ok-to-test, sig/testing, size/L

#10670 Add initial configs for cluster-api-provider-azure
  prow/config.yaml
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#10672 Revert "Disabling coredns in clusterloader 5k test"
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#10623 remove run_if_changed from pull-kubernetes-e2e-gke
  config/jobs/kubernetes/sig-gcp/sig-gcp-gke-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#10637 Move all release-blocking scalability jobs into new config file
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#10676 Add csi-translation-lib to stage repos
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#10653 Move plugin configuration code into its own file.
  prow/plugins/BUILD.bazel
  prow/plugins/config.go
  prow/plugins/config_test.go
  prow/plugins/plugins.go
  prow/plugins/plugins_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XXL

#10678 add ginkgo-parallel for single-flake-attempt CI job
  config/jobs/kubernetes/sig-gcp/sig-gcp-gce-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#10686 Add note about migratestatus in status-reconciler docs
  prow/cmd/status-reconciler/README.md
Labels: approved, area/prow, cncf-cla: yes, kind/documentation, lgtm, sig/testing, size/XS

#10654 prow: link to deck's per-repo command help page in more comments
  prow/plugins/approve/approve.go
  prow/plugins/approve/approve_test.go
  prow/plugins/approve/approvers/README.md
  prow/plugins/approve/approvers/approvers_test.go
  prow/plugins/approve/approvers/owners.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#10688 Add year 2019 in verify_boilerplate
  hack/verify_boilerplate.py
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#10630 sig-storage-local-static-provisioner periodica jobs for GCE/GKE
  config/jobs/kubernetes-sigs/sig-storage-local-static-provisioner/sig-storage-local-static-provisioner.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#10674 Fix status-reconciler image name
  prow/cluster/statusreconciler_deployment.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#10668 Adding issue state proto
  testgrid/BUILD.bazel
  testgrid/issue_state.proto
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#10683 Deck: pr history supports `revision` field from pod-utils
  prow/cmd/deck/BUILD.bazel
  prow/cmd/deck/job_history.go
  prow/cmd/deck/pr_history_test.go
  prow/deck/jobs/metadata.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/S

#10690 label_sync: add wg/component-standard
  label_sync/labels.md
  label_sync/labels.yaml
  prow/cmd/deck/static/labels.css
Labels: approved, area/label_sync, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/S

#10695 fix dryrun flag
  prow/cluster/crier_deployment.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#10435 Implicit self-approval and consider github review state by default
  prow/ANNOUNCEMENTS.md
  prow/plugins/BUILD.bazel
  prow/plugins/approve/approve.go
  prow/plugins/approve/approve_test.go
  prow/plugins/config.go
  prow/plugins/plugins_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#10697 Revert rules_docker update due to broken docker_push
  WORKSPACE
  ghproxy/BUILD.bazel
  label_sync/BUILD.bazel
  prow/BUILD.bazel
  robots/commenter/BUILD.bazel
  robots/issue-creator/BUILD.bazel
  robots/pr-labeler/BUILD.bazel
  testgrid/images/BUILD.bazel
Labels: approved, area/ghproxy, area/label_sync, area/prow, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#10704 Update ubuntu image used for e2e node test
  jobs/e2e_node/image-config-serial.yaml
  jobs/e2e_node/image-config.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#10619 aws-janitor: clean up ELBs
  Gopkg.lock
  maintenance/aws-janitor/BUILD.bazel
  maintenance/aws-janitor/elb.go
  maintenance/aws-janitor/main.go
  vendor/BUILD.bazel
  vendor/github.com/aws/aws-sdk-go/service/elb/BUILD.bazel
  vendor/github.com/aws/aws-sdk-go/service/elb/api.go
  vendor/github.com/aws/aws-sdk-go/service/elb/doc.go
  vendor/github.com/aws/aws-sdk-go/service/elb/errors.go
  vendor/github.com/aws/aws-sdk-go/service/elb/service.go
  vendor/github.com/aws/aws-sdk-go/service/elb/waiters.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#10702 Update kubekins tag for eks jobs
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-aws/eks/k8s-aws-eks-periodics.yaml
  config/jobs/kubernetes/sig-aws/eks/k8s-aws-eks-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#10710 Add eks latest-1 jobs
  config/jobs/kubernetes/sig-aws/eks/k8s-aws-eks-periodics.yaml
  config/jobs/kubernetes/sig-aws/eks/k8s-aws-eks-presets.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, sig/testing, size/M

#10709 use podutils for verify on k/k master branch
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#10707 Refactor aws janitor
  maintenance/aws-janitor/BUILD.bazel
  maintenance/aws-janitor/main.go
  maintenance/aws-janitor/resources/BUILD.bazel
  maintenance/aws-janitor/resources/addresses.go
  maintenance/aws-janitor/resources/asg.go
  maintenance/aws-janitor/resources/dhcp_options.go
  maintenance/aws-janitor/resources/elb.go
  maintenance/aws-janitor/resources/iam_instance_profiles.go
  maintenance/aws-janitor/resources/iam_roles.go
  maintenance/aws-janitor/resources/instance.go
  maintenance/aws-janitor/resources/internet_gateways.go
  maintenance/aws-janitor/resources/launch_configs.go
  maintenance/aws-janitor/resources/list.go
  maintenance/aws-janitor/resources/resource.go
  maintenance/aws-janitor/resources/route53.go
  maintenance/aws-janitor/resources/route53_test.go
  maintenance/aws-janitor/resources/route_tables.go
  maintenance/aws-janitor/resources/security_groups.go
  maintenance/aws-janitor/resources/set.go
  maintenance/aws-janitor/resources/subnets.go
  maintenance/aws-janitor/resources/volumes.go
  maintenance/aws-janitor/resources/vpcs.go
  maintenance/aws-janitor/s3/BUILD.bazel
  maintenance/aws-janitor/s3/s3.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XXL

#10715 Update /pony to use documented pony endpoint
  prow/plugins/pony/pony.go
  prow/plugins/pony/pony_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#10718 always_run verify
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, priority/critical-urgent, sig/testing, size/XS

#10708 Add a wg/k8s-infra label
  label_sync/labels.md
  label_sync/labels.yaml
  prow/cmd/deck/static/labels.css
Labels: approved, area/label_sync, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/S

#10717 Fix spurious multi-line matches in /pony
  prow/plugins/pony/pony.go
  prow/plugins/pony/pony_test.go
Labels: approved, area/prow, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/M

#9874 Add dep + remove etcd to/from cluster api docker image
  images/cluster-api/Dockerfile
Labels: approved, area/config, area/images, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#10711 spyglass: fix bad junit table height calculation in Safari
  prow/spyglass/lenses/junit/template.html
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/S

#10726 fix doggo output
  prow/plugins/dog/dog.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#10679 Move integration and verify job on master onto podutils
  config/jobs/kubernetes/sig-testing/verify.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#10429 implement a kind deployer for kubetest
  kubetest/BUILD.bazel
  kubetest/kind/BUILD.bazel
  kubetest/kind/kind.go
  kubetest/main.go
Labels: approved, area/kubetest, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, sig/cluster-lifecycle, sig/testing, size/L

#10723 Remove default settings from EKS presets
  config/jobs/kubernetes/sig-aws/eks/k8s-aws-eks-presets.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#10149 Specify required status checks for Dashboard repo
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#10741 Fix pony URL (again).
  prow/plugins/pony/pony.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#10631 Adding clsuterloader gke 100 nodes job
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#10724 Spyglass: read Junit artifacts in parallel
  prow/spyglass/lenses/junit/lens.go
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/L

#10743 revert 1.10 verify image bump
  scenarios/kubernetes_verify.py
Labels: approved, area/scenarios, cncf-cla: yes, lgtm, sig/testing, size/XS, ¯\_(ツ)_/¯

#10681 make pr page support `revision` field from podutils
  gubernator/pull_request.py
  gubernator/pull_request_test.py
Labels: approved, area/gubernator, cncf-cla: yes, lgtm, sig/testing, size/S

#10703 Prow: unify started|finished|metadata structs
  prow/cmd/deck/BUILD.bazel
  prow/cmd/deck/job_history.go
  prow/cmd/deck/pr_history_test.go
  prow/deck/jobs/BUILD.bazel
  prow/deck/jobs/metadata.go
  prow/initupload/run.go
  prow/pod-utils/gcs/BUILD.bazel
  prow/pod-utils/gcs/metadata.go
  prow/sidecar/run.go
  prow/spyglass/lenses/metadata/BUILD.bazel
  prow/spyglass/lenses/metadata/lens.go
  prow/spyglass/lenses/metadata/template.html
Labels: approved, area/prow, area/prow/deck, area/prow/initupload, area/prow/pod-utilities, area/prow/sidecar, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/L

#10691 Add details about the GitHub token in docs
  prow/cmd/tackle/main.go
  prow/getting_started_deploy.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#10731 Add some docs for available views
  prow/cmd/deck/main.go
  prow/spyglass/README.md
Labels: approved, area/prow, area/prow/deck, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/M

#10748 Update environment variables for the GCE windows job
  config/jobs/kubernetes/sig-gcp/sig-gcp-windows.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#10729 Add cluster-api presubmit to check for deps
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#10749 Fix coreos-alpha image for ci-kubernetes-node-kubelet-conformance
  jobs/e2e_node/benchmark-config.yaml
  jobs/e2e_node/image-config-1-10.yaml
  jobs/e2e_node/image-config-1-11.yaml
  jobs/e2e_node/image-config-1-9.yaml
  jobs/e2e_node/image-config-serial.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#10750 Bump timeout for ci-kubernetes-build-debian-unstable
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#10752 add back 1.10 typecheck presubmit
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-testing/typecheck.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#10755 vendor: update "aws-k8s-tester" to 0.2.3
  Gopkg.lock
  config/jobs/kubernetes/sig-aws/eks/k8s-aws-eks-presets.yaml
  vendor/github.com/aws/aws-k8s-tester/eksconfig/config.go
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#10757 Correct workspace name
  WORKSPACE
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#10759 Fix ghproxy URL for periobolos jobs.
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/XS

#10341 Bump mem/cpu for the local-e2e-containerized jobs
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-node/local-e2e-containerized.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, size/S

#10727 Introduce flags to EKS deployer
  kubetest/eks.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/M

#10753 Sets k/org approve settings to match k/community
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/contributor-experience, sig/testing, size/XS

#10758 Add some area/foo labels for subprojects
  label_sync/labels.md
  label_sync/labels.yaml
  prow/cmd/deck/static/labels.css
Labels: approved, area/label_sync, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, sig/testing, size/M

#10761 Bumping up gke 100 kubekins version
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#10617 Migrating kubemark 500 to clusterloader
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#10765 Changing gke 100 env to test
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#10767 Revert "Migrating kubemark 500 to clusterloader"
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#10762 Add Gardener results to conformance-all section. Add prefix Gardener …
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#10770 gubernator command fix
  gubernator/README.md
Labels: approved, area/gubernator, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#10764 Switch to newer coreos-stable image in benchmark-config
  jobs/e2e_node/benchmark-config.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#10773 check if finished.json exists :-(
  gubernator/pull_request.py
Labels: approved, area/gubernator, cncf-cla: yes, lgtm, sig/testing, size/XS

#10769 Build and push checkconfig on merge
  prow/BUILD.bazel
  prow/cmd/checkconfig/BUILD.bazel
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#10775 Remove istio mcp tests and update release tests in testgrid
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/L

#10744 Readd aws janitor
  config/jobs/kubernetes/test-infra/janitors.yaml
  maintenance/aws-janitor/OWNERS
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#10777 Fix plugin help selection box default text.
  prow/cmd/deck/template/plugins.html
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/XS

#10779 Make clear that "Documentation" leaves Prow.
  prow/cmd/deck/static/style.css
  prow/cmd/deck/template/base.html
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/XS

#10763 Bump timeout for ci-kubernetes-build-debian-unstable
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#10776 Make Tide log timing info about GitHub queries.
  prow/tide/blockers/blockers.go
  prow/tide/search.go
  prow/tide/status.go
  prow/tide/tide.go
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/S

#10788 Changing gke version to default for gke 100 clusterloader test
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#10790 Migrating ci-kubernetes-kubemark-500-gce to clusterloader
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#10785 Gardener - Change test results directory of azure and openstack results
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/M

#10784 make verify podutils blacklist branches instead of whitelisting
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#10781 Updating URL in prow/plugins/help/help.go
  prow/plugins/help/help.go
Labels: approved, area/prow, cncf-cla: yes, kind/feature, lgtm, ok-to-test, sig/testing, size/XS

#10746 Unify ratelimiter interface between build & crier
  prow/cmd/build/BUILD.bazel
  prow/cmd/build/controller.go
  prow/cmd/build/controller_test.go
  prow/cmd/build/main.go
  prow/cmd/crier/BUILD.bazel
  prow/cmd/crier/main.go
  prow/crier/controller.go
  prow/kube/BUILD.bazel
  prow/kube/ratelimiter.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#10782 Allow configuring prow to use deprecated approval defaults
  prow/ANNOUNCEMENTS.md
  prow/plugins.yaml
  prow/plugins/approve/approve.go
  prow/plugins/approve/approve_test.go
  prow/plugins/config.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#10725 Add bazel-verify step to sigs.k8s.io/cluster-api
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#10795 Stop enabling alpha admission API in non-alpha master CI jobs
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-gcp/sig-gcp-gce-config.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#10796 add a version metadata Bandaid
  images/bootstrap/runner.sh
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/XS

#10789 Switch on DIND for ci-kubernetes-node-kubelet-conformance
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#10738 Add post job to build canary build on latest master
  config/jobs/kubernetes-sigs/sig-storage-local-static-provisioner/sig-storage-local-static-provisioner-trusted.yaml
  config/tests/jobs/BUILD.bazel
  config/tests/jobs/jobs_test.go
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#10801 make $ARTIFACTS dir when faking metadata
  images/bootstrap/runner.sh
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/XS, ¯\_(ツ)_/¯

#10803 Allow peribolos to use 1200 (cached) tokens per hour
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#10805 Changing zone to us-east-1b in gke 100
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#10798 Let each crier controller have its own queue
  prow/cmd/crier/main.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#10810 Match resources for local-e2e-containerized and local-e2e jobs
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-testing/local-e2e.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#10811 s/envs/env for some jobs
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-testing/integration.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#10800 Capture and expose GitHub webhook event GUIDs in more places.
  gubernator/github/handlers.py
  gubernator/github/models.py
  prow/hook/server.go
Labels: approved, area/gubernator, area/prow, area/prow/hook, cncf-cla: yes, lgtm, sig/testing, size/M

#10815 fix invalid config keys
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
  config/jobs/kubernetes-sigs/kind/kind-postsubmits.yaml
  config/jobs/kubernetes-sigs/kind/kind.yaml
  config/jobs/kubernetes-sigs/sig-storage-local-static-provisioner/sig-storage-local-static-provisioner-trusted.yaml
  config/jobs/kubernetes/kops/kops-config.yaml
  config/jobs/kubernetes/sig-testing/integration.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
  prow/config/config_test.go
Labels: approved, area/config, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#10730 Make decorated build steps upload to GCS
  prow/cmd/build/BUILD.bazel
  prow/cmd/build/controller.go
  prow/cmd/build/controller_test.go
  prow/entrypoint/options.go
  prow/entrypoint/run.go
  prow/entrypoint/run_test.go
  prow/pod-utils/decorate/podspec.go
  prow/pod-utils/decorate/podspec_test.go
  prow/sidecar/BUILD.bazel
  prow/sidecar/options.go
  prow/sidecar/run.go
  prow/sidecar/run_test.go
Labels: approved, area/prow, area/prow/entrypoint, area/prow/pod-utilities, area/prow/sidecar, cncf-cla: yes, lgtm, sig/testing, size/XXL

#10814 Update ubuntu/gke image for ci-kubernetes-node-kubelet-conformance
  jobs/e2e_node/benchmark-config.yaml
  jobs/e2e_node/containerd/cri-master/benchmark-config.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#10817 Upload the oncall page to a GCS bucket with no TTL
  maintenance/oncall.html
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#10816 Add gcs path to pubsub message
  prow/cmd/crier/main.go
  prow/pubsub/reporter/BUILD.bazel
  prow/pubsub/reporter/reporter.go
  prow/pubsub/reporter/reporter_test.go
Labels: approved, area/prow, area/prow/pubsub, cncf-cla: yes, lgtm, sig/testing, size/M

#10818 let crier report knative build agent job for real
  prow/cluster/crier_deployment.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#10807 Bug fix: can't run "kubetest --build" on Arm64 platform
  kubetest/build.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#10733 Create comment for lint error
  prow/plugins/golint/golint.go
  prow/plugins/golint/golint_test.go
Labels: approved, area/prow, cncf-cla: yes, kind/bug, lgtm, ok-to-test, sig/testing, size/L

#10822 Temporarily change master root disk size to 1000GB in GCE scale performance tests.
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#10823 Temporarily change master root disk size to 1000GB in GCE scale performance tests (non-cluster-loader).
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#10772 Drop build log error level from Error to Info
  prow/spyglass/lenses/buildlog/lens.go
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/XS

#10828 Actually send a not found error when 404 in kube client
  prow/kube/client.go
  prow/kube/client_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M
