Repository kubernetes/test-infra, pull requests merged in 2019-11, with the labels that each got.

#15053 Add periodic CI jobs for CAPA conformance testing
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/L

#15011 add sig-cloudprovider-apiserver-network-proxy job and dashboard
  config/jobs/kubernetes-sigs/apiserver-network-proxy/OWNERS
  config/jobs/kubernetes-sigs/apiserver-network-proxy/apiserver-network-proxy-presubmits.yaml
  config/testgrids/kubernetes/sig-cloud-provider/config.yaml
Labels: approved, area/config, area/prow, area/prow/bump, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/cloud-provider, sig/testing, size/M

#15056 Run pull-cluster-api-provider-aws-conformance always BUT optional
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15052 Increase timeouts for ci-benchmark-scheduler-master
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15051 sig-cluster-lifecycle: tune notification settings
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kind.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-discovery.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-etcd.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-kustomize.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-upgrade.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-x-on-y.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, needs-ok-to-test, sig/cluster-lifecycle, sig/testing, size/M

#15057 Fix tab name for CAPA job and use same images as CAPG
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15059 Drop decorate from the CAPA periodic CI jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15060 Increase the timeout for migration test
  config/jobs/kubernetes-sigs/aws-ebs-csi-driver/aws-ebs-csi-driver-periodics.yaml
  config/jobs/kubernetes-sigs/aws-ebs-csi-driver/aws-ebs-csi-driver-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15020 Create Transfigurator image
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  prow/BUILD.bazel
  testgrid/BUILD.bazel
  testgrid/cmd/transfigure/BUILD.bazel
  testgrid/cmd/transfigure/README.md
  testgrid/cmd/transfigure/transfigure.sh
Labels: approved, area/config, area/prow, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#15022 Remove deprecated knative/build support
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-postsubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  experiment/ci-janitor/BUILD.bazel
  experiment/ci-janitor/main.go
  experiment/ci-janitor/main_test.go
  go.mod
  go.sum
  prow/BUILD.bazel
  prow/apis/prowjobs/v1/BUILD.bazel
  prow/apis/prowjobs/v1/types.go
  prow/apis/prowjobs/v1/zz_generated.deepcopy.go
  prow/cluster/BUILD.bazel
  prow/cluster/build_deployment.yaml
  prow/cluster/build_rbac.yaml
  prow/cmd/build/BUILD.bazel
  prow/cmd/build/OWNERS
  prow/cmd/build/controller.go
  prow/cmd/build/controller_test.go
  prow/cmd/build/dev.yaml
  prow/cmd/build/main.go
  prow/cmd/build/main_test.go
  prow/cmd/build/test-pj.yaml
  prow/cmd/deck/static/api/prow.ts
  prow/config/BUILD.bazel
  prow/config/config.go
  prow/config/config_test.go
  prow/config/jobs.go
  prow/config/jobs_test.go
  prow/github/reporter/reporter_test.go
  prow/pjutil/pjutil.go
  repos.bzl
Labels: approved, area/config, area/prow, area/prow/bump, area/prow/deck, area/prow/knative-build, area/prow/pubsub, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XXL

#14927 Refactor abort.go to use Patch instead of Replace
  prow/pjutil/BUILD.bazel
  prow/pjutil/abort.go
  prow/pjutil/abort_test.go
  prow/plank/BUILD.bazel
  prow/plank/controller.go
  prow/plank/controller_test.go
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/L

#15062 periodic CI jobs for CAPA should not be logging to /pr-logs
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14901 Update repo-infra to v0.0.1-alpha.1
  WORKSPACE
  go.mod
  go.sum
  hack/tools.go
  load.bzl
  repos.bzl
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/L

#15063 Update to rules_k8s v0.3
  load.bzl
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#15065 Logical improvements to transfigure.sh
  testgrid/cmd/transfigure/transfigure.sh
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#15064 Add job info tags to Azure resource groups
  kubetest/azure_helpers.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/S

#15037 testgrid: Update Red Hat dashboards
  config/testgrids/openshift/groups.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.1-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.1-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.2-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.2-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.3-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.3-informing.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.3-blocking.yaml
  config/testgrids/openshift/redhat-openshift-release-4.1-blocking-ci.yaml
  config/testgrids/openshift/redhat-openshift-release-4.1-blocking-ocp.yaml
  config/testgrids/openshift/redhat-openshift-release-4.2-blocking-ocp.yaml
  config/testgrids/openshift/redhat-openshift-release-4.2-informing-ci.yaml
  config/testgrids/openshift/redhat-openshift-release-4.3-informing-ci.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XXL

#15067 provider/azure: Add kubemark 100 test configs for kubernetes/cloud-provider-azure
  config/jobs/kubernetes/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/testgrids/kubernetes/sig-cloud-provider/azure/config.yaml
Labels: approved, area/config, area/provider/azure, area/testgrid, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/M

#15070 [1.17] conformance: Remove manually bumped jobs and rename GCE dashboard tabs
  config/jobs/kubernetes/sig-cloud-provider/gcp/gce-conformance.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.14.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
Labels: approved, area/config, area/provider/gcp, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, sig/architecture, sig/cloud-provider, sig/release, sig/testing, size/L

#15072 Update tektoncd pipeline to the latest version
  go.mod
  go.sum
  prow/cmd/pipeline/BUILD.bazel
  prow/cmd/pipeline/controller.go
  prow/cmd/pipeline/controller_test.go
  repos.bzl
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#15049 Create gcp-guest dashboard
  config/testgrids/config.yaml
  config/testgrids/gcp-guest/gcp-guest.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#14989 kops: pass the --host to the test suite
  kubetest/kops.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/M

#15079 Provider/Azure: add some envs to enable Azure kubemark-100 test.
  config/jobs/kubernetes/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/XS

#15080 kops: Update image to pass --host
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics.yaml
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-presubmits.yaml
Labels: approved, area/config, area/provider/aws, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/S

#15082 Remove not-needed scheduler-benchmark presets
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15084 releng: Skip test builds of cri-tools debs
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, priority/important-soon, sig/release, sig/testing, size/XS

#15076 Enhance logrus censoring
  prow/logrusutil/logrusutil.go
  prow/logrusutil/logrusutil_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#15074 Deck: Use a cache for prowjobs
  prow/cmd/deck/BUILD.bazel
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/M

#15089 Deck rbac: Allow watching prowjobs
  prow/cluster/deck_rbac.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#14934 peribolos: Allow renaming repositories
  prow/cmd/peribolos/main.go
  prow/cmd/peribolos/main_test.go
  prow/config/org/org.go
Labels: approved, area/prow, area/prow/peribolos, cncf-cla: yes, lgtm, sig/testing, size/L

#15088 Kops: Update e2e job image to pickup --host fix
  config/jobs/kubernetes/kops/kops-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15083 releng: Increase intervals between test build job runs
  config/jobs/image-pushing/k8s-staging-release-test.yaml
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, priority/important-soon, sig/release, sig/testing, size/S

#15077 kubeadm: add 1.17 jobs for kind/kinder
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kind.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-discovery.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-etcd.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-kustomize.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-upgrade.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-x-on-y.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, sig/testing, size/L

#15066 Update Prow assign command documentation
  prow/plugins/assign/assign.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#15075 Buildlog lense default regex: Never require leading space/linestart
  prow/spyglass/README.md
  prow/spyglass/lenses/buildlog/lens.go
  prow/spyglass/lenses/buildlog/lens_test.go
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/S

#15091 Use pod utilities for CAPA CI conformance presubmit job
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#15086 [aws-janitor] Clean up janitor output
  maintenance/aws-janitor/resources/addresses.go
  maintenance/aws-janitor/resources/asg.go
  maintenance/aws-janitor/resources/clean.go
  maintenance/aws-janitor/resources/cloud_formation_stacks.go
  maintenance/aws-janitor/resources/dhcp_options.go
  maintenance/aws-janitor/resources/elb.go
  maintenance/aws-janitor/resources/iam_instance_profiles.go
  maintenance/aws-janitor/resources/iam_roles.go
  maintenance/aws-janitor/resources/instance.go
  maintenance/aws-janitor/resources/internet_gateways.go
  maintenance/aws-janitor/resources/launch_configs.go
  maintenance/aws-janitor/resources/nat_gateway.go
  maintenance/aws-janitor/resources/route53.go
  maintenance/aws-janitor/resources/route_tables.go
  maintenance/aws-janitor/resources/security_groups.go
  maintenance/aws-janitor/resources/subnets.go
  maintenance/aws-janitor/resources/volumes.go
  maintenance/aws-janitor/resources/vpcs.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/L

#15090 fix apiserver-network-proxy path alias
  config/jobs/kubernetes-sigs/apiserver-network-proxy/apiserver-network-proxy-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#15093 Switch all CAPG jobs to use pod utils
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/L

#15097 kubeadm-kind: use v0.5.1 as the kind build version/tag
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kind.yaml
Labels: approved, area/config, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, sig/cluster-lifecycle, sig/testing, size/XS

#15068 sig-release: Rearrange dash configs and prune some jobs from sig-release-job-config-errors
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gke.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/upgrade-gce.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/upgrade-gke.yaml
  config/testgrids/kubernetes/sig-release/config.yaml
  experiment/generate_tests.py
Labels: approved, area/config, area/provider/aws, area/provider/gcp, area/release-eng, area/testgrid, cncf-cla: yes, lgtm, sig/cloud-provider, sig/release, sig/testing, size/L

#15094 azure: Update all references to cloud-provider-azure to point at k-sigs
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/OWNERS
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/prow/plugins.yaml
  kubetest/azure.go
  kubetest/util/util.go
Labels: approved, area/config, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/L

#15104 Move big/large scale presubimt to k8s-presubmit-scale project
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15055 Add 1.16 jobs and specify specific K8s patch versions
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/external-resizer/external-resizer-config.yaml
  config/jobs/kubernetes-csi/external-snapshotter/external-snapshotter-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/livenessprobe/livenessprobe-config.yaml
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XXL

#15108 Fix typo
  prow/jobs.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#15103 Fix path_alias and extra_refs for CAPG CI jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/L

#15107 Switch CAPA CI jobs to use pod utils as bootstrap.py is deprecated
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/L

#15114 Re-add lost --use-ci-artifacts in the bootstrap->pod utils shuffle
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-ci.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15028 Enable build clusters for updateconfig
  prow/ANNOUNCEMENTS.md
  prow/cmd/config-bootstrapper/main.go
  prow/cmd/hook/main.go
  prow/flagutil/kubernetes_cluster_clients.go
  prow/plugins/BUILD.bazel
  prow/plugins/config.go
  prow/plugins/config_test.go
  prow/plugins/plugins.go
  prow/plugins/updateconfig/BUILD.bazel
  prow/plugins/updateconfig/README.md
  prow/plugins/updateconfig/updateconfig.go
  prow/plugins/updateconfig/updateconfig_test.go
Labels: approved, area/prow, area/prow/config-bootstrapper, area/prow/hook, cncf-cla: yes, lgtm, sig/testing, size/L

#15106 Fix release branch jobs k8s versions
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.14.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, ok-to-test, sig/release, sig/testing, size/S

#15120 releng: Fix command argument in ci-release-build-packages-debs
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, priority/important-soon, sig/release, sig/testing, size/XS

#15121 [CAPA/CAPG] Need extra_refs entry for repos in periodic jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-ci.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#15115 Add optional capa pr job for e2e
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#15125 [CAPA/CAPG] Ensure correct working directory
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-ci.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#15122 Remove uniqueness checking on files in ConfigUpdater
  prow/plugins/config.go
  prow/plugins/config_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#15127 Fixes to transfigure image
  testgrid/cmd/transfigure/transfigure.sh
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#15129 Switch config_updater configuration to use new format.
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14477 kubetest: specify kind node image and update stable version
  kubetest/kind/kind.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/S

#15000 Add a blackbox prober to the new monitoring stack.
  prow/cluster/monitoring/BUILD.bazel
  prow/cluster/monitoring/additional-scrape-configs_secret.yaml
  prow/cluster/monitoring/blackbox_prober.yaml
  prow/cluster/monitoring/prow_prometheus.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#15113 Switch k8s master CI to go1.13.4
  images/krte/cloudbuild.yaml
  images/krte/variants.yaml
  images/kubekins-e2e/cloudbuild.yaml
  images/kubekins-e2e/variants.yaml
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/S

#15134 Fix krte push job
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15132 Add additional JSON fields for aks-engine API model
  kubetest/azure_helpers.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/M

#15135 further increase the timeout for migration test
  config/jobs/kubernetes-sigs/aws-ebs-csi-driver/aws-ebs-csi-driver-periodics.yaml
  config/jobs/kubernetes-sigs/aws-ebs-csi-driver/aws-ebs-csi-driver-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15124 peribolos: dump more repo fields
  prow/cmd/peribolos/main.go
  prow/cmd/peribolos/main_test.go
Labels: approved, area/prow, area/prow/peribolos, cncf-cla: yes, lgtm, sig/testing, size/S

#15139 Use k8s-presubmit-scale project for pull-kubernetes-kubemark-e2e-gce-scale
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15123 Load hidden repos dynamically
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
  prow/cmd/deck/tide.go
  prow/cmd/deck/tide_test.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/M

#15140 Fix pull-kubernetes-kubemark-e2e-gce-scale presubmit
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15141 peribolos: omit repo fields with default value from dump
  prow/cmd/peribolos/main.go
  prow/cmd/peribolos/main_test.go
Labels: approved, area/prow, area/prow/peribolos, cncf-cla: yes, lgtm, sig/testing, size/L

#15146 Add CAPA CI job to release informing
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15130 kubeadm: use kinder for regular periodic tests
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kind.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder.yaml
Labels: approved, area/config, cncf-cla: yes, kind/failing-test, lgtm, priority/critical-urgent, sig/cluster-lifecycle, sig/testing, size/XL

#15137 add auto pushes for kas-network-proxy
  config/jobs/image-pushing/k8s-staging-apiserver-network-proxy.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#15145 Tweak component READMEs
  gopherage/README.md
  gubernator/README.md
  prow/README.md
  velodrome/README.md
Labels: approved, area/gopherage, area/gubernator, area/prow, area/velodrome, cncf-cla: yes, lgtm, sig/testing, size/S

#15117 config/testgrids: add openshift OVN release informers
  config/testgrids/openshift/groups.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.3-informing.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.3-informing.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#15144 switch integration off of kubekins-test
  config/jobs/kubernetes/sig-testing/integration.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#15073 lint gencred
  gencred/cmd/gencred/main.go
  gencred/pkg/certificate/certificate.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#15149 Add configurable fork to transfigure
  testgrid/cmd/transfigure/transfigure.sh
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#15155 add bentheelder to slack updater mapping
  experiment/slack-oncall-updater/main.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#15156 update integration jobs to use podutils and not kubekins-test
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-testing/integration.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#15158 verify-owners: use repo fullName in SkipCollaborators check
  prow/plugins/verify-owners/verify-owners.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#15166 Update Cluster API related jobs to use kubekins-e2e 1.16 images
  config/jobs/kubernetes-sigs/cluster-api-boostrap-provider-kubeadm/cluster-api-bootstrap-provider-kubeadm-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-docker/cluster-api-provider-docker-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#15169 Use omitempty where appropriate in config
  prow/config/config.go
  prow/config/tide.go
  prow/plugins/config.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#15170 Expose useful utilities from config
  prow/plugins/approve/BUILD.bazel
  prow/plugins/approve/approve.go
  prow/plugins/config.go
  prow/plugins/lgtm/lgtm.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#14778 REST API coverage lens
  prow/cmd/deck/BUILD.bazel
  prow/cmd/deck/main.go
  prow/spyglass/README.md
  prow/spyglass/lenses/BUILD.bazel
  prow/spyglass/lenses/restcoverage/BUILD.bazel
  prow/spyglass/lenses/restcoverage/README.md
  prow/spyglass/lenses/restcoverage/restcoverage.go
  prow/spyglass/lenses/restcoverage/restcoverage.ts
  prow/spyglass/lenses/restcoverage/style.css
  prow/spyglass/lenses/restcoverage/template.html
Labels: approved, area/prow, area/prow/deck, area/prow/spyglass, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#15171 Use kubekins-e2e image everywhere possible
  config/jobs/kubernetes/cloud-provider-vsphere/cloud-provider-vsphere-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#15152 Update cluster-api-provider-aws-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15099 Add multi-az e2e test for Azure Disk CSI Driver
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#15150 Deprecate the allow_cancelations settings
  config/prow/config.yaml
  prow/ANNOUNCEMENTS.md
  prow/config/config.go
Labels: approved, area/config, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#15098 make kind pr blocking in kubernetes/kubernetes
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15161 fix link to boskos-resources.yaml
  boskos/README.md
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XS

#15179 Make Prow aware of the "issues" events' "transferred" action.
  prow/github/types.go
  prow/hook/events.go
Labels: approved, area/prow, area/prow/hook, cncf-cla: yes, lgtm, sig/testing, size/XS

#14904 add backup job
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#15180 Fix pj-on-kind mount paths in docs.
  prow/build_test_update.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#15181 Downgrade pipeline CRD existence warnings to info and clarify.
  prow/cmd/pipeline/main.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#15182 Make Prow aware of the rest of the "issues" events' actions.
  prow/github/types.go
  prow/hook/events.go
Labels: approved, area/prow, area/prow/hook, cncf-cla: yes, lgtm, sig/testing, size/XS

#15183 Handle addition of new hosts, projects in gerrit lastsynctracker.
  prow/cmd/gerrit/main.go
  prow/cmd/gerrit/main_test.go
Labels: approved, area/prow, area/prow/gerrit, cncf-cla: yes, lgtm, sig/testing, size/M

#15184 Update documentation for Transfigure
  testgrid/cmd/configurator/README.md
  testgrid/cmd/transfigure/README.md
  testgrid/config.md
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#15071 fix golint failures
  boskos/common/common.go
  kubetest/azure.go
  prow/plugins/blunderbuss/blunderbuss_test.go
  prow/plugins/goose/goose.go
  prow/spyglass/spyglass.go
Labels: approved, area/boskos, area/kubetest, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#15168 peribolos: Error when running --dump without admin:org scope
  prow/cmd/peribolos/main.go
  prow/cmd/peribolos/main_test.go
Labels: approved, area/prow, area/prow/peribolos, cncf-cla: yes, lgtm, sig/testing, size/M

#15172 Update kubekins-e2e images to 1.16
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/S

#15185 ci-k8sio-backup: fix service account file location
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15189 Switch manual scalability presubmits to us-east1-b.
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15187 Fix location of kubeflow-example postsubmit results for testgrid.
  config/testgrids/kubeflow/kubeflow.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS

#15193 Enable all APIs when testing all alpha features
  config/jobs/kubernetes/generated/generated.yaml
  experiment/test_config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15188 Bump replicas for non-gke boskos janitors
  prow/cluster/boskos-janitor.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#15195 update kubekins image to 1.16 for dualstack
  config/jobs/kubernetes/sig-network/dualstack-e2e.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15196 Turn off CSIMigration on alpha test jobs
  config/jobs/kubernetes/generated/generated.yaml
  experiment/test_config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#15197 ci-k8sio-backup: fix command invocation
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#14940 promoter jobs: reduce scope
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#15199 Ignore private security forks in label_sync
  label_sync/main.go
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/testing, size/XS

#15204 Transfigure upgrade: Create subdirectory if not present
  testgrid/cmd/transfigure/transfigure.sh
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS

#15206 Make NewProwJob's return concurrency-safe
  prow/pjutil/BUILD.bazel
  prow/pjutil/pjutil.go
  prow/pjutil/pjutil_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#15207 Skip private security forks in branch protector
  label_sync/main.go
  prow/cmd/branchprotector/protect.go
  prow/cmd/branchprotector/protect_test.go
  prow/github/helpers.go
Labels: approved, area/label_sync, area/prow, area/prow/branchprotector, cncf-cla: yes, lgtm, sig/testing, size/L

#15176 Add Kops presubmit E2E jobs for 1.15 and 1.16 branches
  config/jobs/kubernetes/kops/kops-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#15213 ci-k8sio-backup: remove job
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#15214 Fix minor typo
  prow/getting_started_deploy.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#15215 Plank: continue to sync on failure to list PJs in a build cluster
  prow/plank/controller.go
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/XS

#15160 Support `/unhold` as an alias to `/hold cancel`
  prow/plugins/hold/hold.go
  prow/plugins/hold/hold_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#15219 Fix minor typo
  prow/plugins/README.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#15209 Adjust blackbox prober additional scrape targets.
  prow/cluster/monitoring/additional-scrape-configs_secret.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#15210 Update kubebuilder owners
  config/jobs/kubernetes-sigs/kubebuilder/OWNERS
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15229 Ignore skipped results on Kubernetes TestGrid.
  config/testgrids/default.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS

#15226 Add slack notifications for apimachinery staging repos
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#15191 Use host-go build for windows master tests
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15010 Fix ineffectual assignments
  config/tests/jobs/jobs_test.go
  def/configmap/main.go
  kubetest/azure.go
  kubetest/kubeadmdind/kubeadm_dind_test.go
  prow/cmd/tackle/main.go
  prow/flagutil/github.go
  prow/pluginhelp/hook/hook.go
  prow/plugins/golint/suggestion/golint_suggestion.go
  prow/plugins/project/project.go
  prow/repoowners/repoowners.go
  prow/repoowners/repoowners_test.go
  velodrome/sql/mysql.go
Labels: approved, area/config, area/kubetest, area/prow, area/velodrome, cncf-cla: yes, lgtm, sig/testing, size/M

#15230 Add git-user and git-email optional arguments
  testgrid/cmd/transfigure/transfigure.sh
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#15232 Downgrade error log when parsing .md files for owners.
  prow/repoowners/repoowners.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#15190 Fix hyperkube build for Azure
  kubetest/azure.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/S

#15218 kubetest: only one pattern can be provided for pkill
  kubetest/local.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS

#15177 Enable most skipped tests in cloud-provider-azure-serial
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/S

#15198 Update KubectlCommand() for Azure
  kubetest/azure.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS

#14829 add: kubebuilder e2e to prow
  config/jobs/kubernetes-sigs/kubebuilder/kubebuilder-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#14578 Adding support for handling events from Issues
  prow/plugins/projectmanager/projectmanager.go
  prow/plugins/projectmanager/projectmanager_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#15217 kubeadm: add a presubmit e2e for k/kubeadm/kinder
  config/jobs/kubernetes/kubeadm/kubeadm-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, sig/cluster-lifecycle, sig/testing, size/M

#15235 Stringify URLs in logs
  prow/cmd/deck/main.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/XS

#15236 Revert "Merge pull request #15010 from ibrasho-forks/fix-ineffectual-…
  config/tests/jobs/jobs_test.go
  def/configmap/main.go
  kubetest/azure.go
  kubetest/kubeadmdind/kubeadm_dind_test.go
  prow/cmd/tackle/main.go
  prow/flagutil/github.go
  prow/pluginhelp/hook/hook.go
  prow/plugins/golint/suggestion/golint_suggestion.go
  prow/plugins/project/project.go
  prow/repoowners/repoowners.go
  prow/repoowners/repoowners_test.go
  velodrome/sql/mysql.go
Labels: approved, area/config, area/kubetest, area/prow, area/velodrome, cncf-cla: yes, lgtm, sig/testing, size/M

#15111 golint fix
  logexporter/cmd/main.go
  pkg/genyaml/genyaml.go
  testgrid/cmd/configurator/main.go
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#15173 Updating job template for azure-1-16-windows job
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#15238 kubeadm-presubmits.yaml: do not double clone the kubeadm repo
  config/jobs/kubernetes/kubeadm/kubeadm-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, kind/failing-test, lgtm, priority/important-longterm, sig/cluster-lifecycle, sig/testing, size/XS

#15078 Tide status controller: Report outdated test results as "Pending"
  prow/tide/status.go
  prow/tide/status_test.go
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/L

#15240 Add alerts for ghproxy
  prow/cluster/monitoring/mixins/prometheus/ghproxy_alerts.libsonnet
  prow/cluster/monitoring/mixins/prometheus/prometheus.libsonnet
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#15231 Update Transfigure README
  testgrid/cmd/transfigure/README.md
  testgrid/config.md
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#15239 Fix optional argument
  testgrid/cmd/transfigure/transfigure.sh
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS

#15246 Remove duration check from ghproxy status code alerts
  prow/cluster/monitoring/mixins/prometheus/ghproxy_alerts.libsonnet
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#15233 Add prometheus alerts for the blackbox prober.
  prow/cluster/monitoring/additional-scrape-configs_secret.yaml
  prow/cluster/monitoring/blackbox_prober.yaml
  prow/cluster/monitoring/mixins/prometheus/prober_alerts.libsonnet
  prow/cluster/monitoring/mixins/prometheus/prometheus.libsonnet
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M, ¯\_(ツ)_/¯

#15245 Emit rerun success logs even if allow_anyone: true.
  prow/cmd/deck/main.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/S

#15257 Improve logging message in tide
  prow/tide/tide.go
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/XS

#15258 tide: Make sure status descriptions fit 140 characters
  prow/tide/status.go
  prow/tide/status_test.go
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/M

#15260 Add user agent to request metrics
  ghproxy/ghcache/ghcache.go
  ghproxy/ghmetrics/ghmetrics.go
  prow/cmd/deck/main.go
Labels: approved, area/ghproxy, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/S

#15252 Use clone instead of GetFile in config-updater
  prow/cmd/config-bootstrapper/main.go
  prow/git/git.go
  prow/plugins/updateconfig/BUILD.bazel
  prow/plugins/updateconfig/updateconfig.go
  prow/plugins/updateconfig/updateconfig_test.go
Labels: approved, area/prow, area/prow/config-bootstrapper, cncf-cla: yes, lgtm, sig/testing, size/L

#15248 kubetest: fix localCluster.Down()
  kubetest/local.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS
