Repository kubernetes/test-infra, pull requests merged in 2019-03, with the labels that each got.

#11565 write up migration instruction from plank -> crier
  prow/cmd/crier/README.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#10786 Squash PR's in k/cloud-provider-openstack
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/openstack, sig/testing, size/XS

#11542 Experimentally enable prometheus in gce 5k performance tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11574 make the spyglass spinners kubernetes wheels
  prow/cmd/deck/static/logo-wheel.svg
  prow/cmd/deck/static/style.css
  prow/cmd/deck/template/spyglass.html
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/M, ¯\_(ツ)_/¯

#11579 Delete pods that run into Pod pending timeout
  prow/plank/controller.go
  prow/plank/controller_test.go
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/XS

#11580 Bump prow from v20190228-49ac9d2 to v20190301-2d35634
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/build_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Labels: approved, area/config, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#11491 deck: Display a heat map of the last 12 hours of job successes/failures
  prow/cmd/deck/static/BUILD.bazel
  prow/cmd/deck/static/prow/histogram.ts
  prow/cmd/deck/static/prow/histogram_test.ts
  prow/cmd/deck/static/prow/prow.ts
  prow/cmd/deck/static/style.css
  prow/cmd/deck/template/index.html
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/L

#11561 Shorten spyglass page titles
  prow/cmd/deck/main.go
  prow/cmd/deck/template/spyglass.html
  prow/spyglass/artifacts.go
  prow/spyglass/spyglass_test.go
Labels: approved, area/prow, area/prow/deck, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/L

#11273 Plugin Parameters to Change Github URL
  prow/config/config.go
  prow/plugins/approve/BUILD.bazel
  prow/plugins/approve/approve.go
  prow/plugins/approve/approve_test.go
  prow/plugins/approve/approvers/approvers_test.go
  prow/plugins/approve/approvers/owners.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#10919 Switch Tide query for repos in the kubernetes org to be opt-out instead of opt-in.
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/contributor-experience, sig/testing, size/M

#11573 Slack oncall usergroup updater
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  experiment/BUILD.bazel
  experiment/slack-oncall-updater/BUILD.bazel
  experiment/slack-oncall-updater/OWNERS
  experiment/slack-oncall-updater/main.go
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#11585 Make the slack oncall updater case-insensitive
  experiment/slack-oncall-updater/main.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#11584 Set OS distro for GCE Windows jobs
  config/jobs/kubernetes/sig-gcp/sig-gcp-windows.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11577 Add periodic jobs for conformance-image
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-testing/conformance-e2e.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/conformance, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#11582 Add cloud-provider-openstack 1.12 and 1.13
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/openstack, sig/testing, size/M

#11587 remove CSI alpha features from alpha suites
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-gcp/sig-gcp-gce-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11586 bump version of aks-engine
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
  config/jobs/kubernetes/sig-azure/sig-azure-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11588 Apparently conformance tests have to run serially
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-testing/conformance-e2e.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11595 Update sig-windows job repo-list
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11593 mkpj: validate github options
  prow/cmd/mkpj/main.go
Labels: approved, area/prow, area/prow/mkpj, cncf-cla: yes, lgtm, sig/testing, size/XS

#11600 oops! correct branch for 1.14 - conformance image CI test
  config/jobs/kubernetes/sig-testing/conformance-e2e.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11601 Use https for gcsweb links
  gubernator/filters.py
  gubernator/filters_test.py
  prow/config.yaml
Labels: approved, area/gubernator, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#11589 Update getting started guide
  prow/getting_started_deploy.md
Labels: approved, area/prow, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, sig/testing, size/S

#11603 Add flannel l2bridge tests for Windows
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS

#11598 Add more feedback for users of /override
  prow/plugins/override/override.go
  prow/plugins/override/override_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#11610 Revert "Bump prow from v20190301-2d35634 to v20190304-b7b76c8"
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/build_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Labels: approved, area/config, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#11616 Spell GitHub correctly I guess
  prow/cmd/crier/README.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#11607 remove the metadata bandaid hack
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
  images/bootstrap/runner.sh
Labels: approved, area/config, area/images, cncf-cla: yes, lgtm, sig/testing, size/S, ¯\_(ツ)_/¯

#11606 trim trailing new line from revparse call
  prow/pod-utils/clone/clone.go
Labels: approved, area/prow, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/XS

#11609 Try fixing spyglass height bug, again
  prow/cmd/deck/static/spyglass/lens.ts
  prow/cmd/deck/static/spyglass/spyglass.ts
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/M

#11615 eliminate references to 1.10 kubekins image which does not exist anymore
  config/jobs/kubeflow/kubeflow-postsubmits.yaml
  config/jobs/kubernetes-sigs/poseidon/poseidon-config.yaml
  config/jobs/kubernetes/generated/generated.yaml
  experiment/test_config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/L, ¯\_(ツ)_/¯

#11613 Push ghproxy images as part of prow, use v20190305-3f4f26bfa of this image
  prow/BUILD.bazel
  prow/cluster/ghproxy.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#11612 Increase Tide sync period to 2m.
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#11623 Update sig-windows-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11629 sig-gcp-release-1.12 should be grouped under sig-gcp
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, kind/cleanup, lgtm, sig/gcp, sig/release, sig/testing, size/XS

#11605 Retry pushing prow images
  prow/push.sh
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S, ¯\_(ツ)_/¯

#11514 plank: add README and some basic usage docs
  prow/cmd/plank/README.md
  prow/plank/README.md
  prow/pod-utilities.md
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#11547 Set the default config context to be the default cluster alias instead of an empty string
  prow/kube/config.go
Labels: approved, area/prow, area/prow/knative-build, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#11604 Increase Tide's delay between merging PRs during a batch merge to reduce errors from GH.
  prow/tide/tide.go
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/XS

#11630 Transfer completed jobs into resultstore every 5m
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  experiment/resultstore/BUILD.bazel
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#11602 Use nogo for code analysis instead of go vet
  BUILD.bazel
  WORKSPACE
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  experiment/resultstore/main_test.go
  hack/check-pr.sh
  hack/verify-govet.sh
  nogo_config.json
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#11614 Make spyglass resolve gcs "symlinks"
  prow/cmd/deck/main.go
  prow/spyglass/spyglass.go
  prow/spyglass/spyglass_test.go
Labels: approved, area/prow, area/prow/deck, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/L

#11634 Revert "Use nogo for code analysis instead of go vet"
  BUILD.bazel
  WORKSPACE
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  experiment/resultstore/main_test.go
  hack/check-pr.sh
  hack/verify-govet.sh
  nogo_config.json
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#11637 Make Tide trigger batches before triggering serial tests.
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/M

#11618 Add CRD-related alpha feature tests
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes/sig-gcp/sig-gcp-gce-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS, ¯\_(ツ)_/¯

#11639 kubebuilder-declarative-pattern: add presubmit
  config/jobs/kubernetes-sigs/kubebuilder-declarative-pattern/kubebuilder-declarative-pattern-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#11638 Remove jobs for Ingress-GCE upgrade + downgrade tests
  config/jobs/kubernetes/sig-network/ingress-gce-e2e.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#11635 Partially unrevert "Use nogo for code analysis instead of go vet"
  BUILD.bazel
  WORKSPACE
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  experiment/resultstore/main_test.go
  hack/check-pr.sh
  hack/verify-govet.sh
  nogo_config.json
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/L

#11627 Add 1.14 release tests for Windows on aks-engine
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#11644 add test suit for upgrading kubeflow pipeline
  config/jobs/kubeflow/kubeflow-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#11390 Add http proxy to httpTransport used for fetching kubernetes releases
  kubetest/util.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#11642 Remove pull-cluster-api-bazel-verify job
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#11651 Update sig-windows-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11647 Ignore results without a started.json
  experiment/resultstore/main.go
  experiment/resultstore/main_test.go
  testgrid/util/gcs/read.go
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#11648 Set ConfiguredTarget status
  experiment/resultstore/upload.go
  testgrid/resultstore/client.go
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS

#11646 Automatically update modules to latest patched version every Monday
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  hack/autodeps.sh
  hack/update-deps.sh
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#11654 Run the slack oncall updater at xx:30 instead of xx:05
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11652 enable trigger for kubernetes-sigs/kubebuilder-declarative-pattern
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#11655 Update resultstore to v20190306-5f9ba571c
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11656 Configure our Tide instance to persist action history to GCS.
  prow/cluster/tide_deployment.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#11661 Downgrade sinker to v20190301-2d35634
  prow/cluster/sinker_deployment.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#11663 Revert "Merge pull request #11547 from ccojocar/fix-default-ctx-build"
  prow/kube/config.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#11664 Spew at debug level for override logging
  prow/plugins/override/override.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#11641 Make sinker delete pods that doesn't have associated prowjobs
  prow/cmd/sinker/BUILD.bazel
  prow/cmd/sinker/main.go
  prow/cmd/sinker/main_test.go
  prow/plank/controller.go
Labels: approved, area/prow, area/prow/plank, area/prow/sinker, cncf-cla: yes, lgtm, sig/testing, size/M

#11653 Don't panic when RunToPR gets a non-numeric PR number
  prow/spyglass/spyglass.go
  prow/spyglass/spyglass_test.go
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/S

#11668 Update sig-windows-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11671 Update sig-windows-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11674 Add --dry-run flags to horologium and sinker
  prow/cluster/horologium_deployment.yaml
  prow/cluster/sinker_deployment.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#11659 Add liveness and readiness endpoints to deck
  prow/cmd/deck/main.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/S

#11645 Stop changing GOPATH, go mod does not need it
  hack/verify-deps.sh
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#11678 GCE/Windows: create an test job verifying alpha features
  config/jobs/kubernetes/sig-gcp/sig-gcp-windows.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#11681 GCE/Windows: add a 1.14 (k8sbeta) job
  config/jobs/kubernetes/sig-gcp/sig-gcp-windows.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#11682 Serve pprof debug info from deck
  prow/cmd/deck/main.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/S

#11683 deck: be quieter and more specific about junit errors
  prow/spyglass/lenses/junit/lens.go
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/XS

#11675 Search sequentially
  prow/github/client.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#11688 Conditionally trigger prow push and deploy
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11689 Bump prow from v20190307-fd53164 to v20190308-32bda88
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/build_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Labels: approved, area/config, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#11662 Add ccm support for azure deployer
  kubetest/azure.go
  kubetest/azure_helpers.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/M

#11673 Ability to inject a custom base image for kind
  kubetest/kind/kind.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS

#11685 Add network policy test to oss testgrid
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#11691 Enable code freeze for 1.14.
  prow/config.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#11692 Use anonymous functions when creating goroutines
  prow/cmd/deck/main.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/XS

#11449 Update sig-azure-config.yaml
  config/jobs/kubernetes/sig-azure/sig-azure-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11693 Update sig-windows-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11680 Add a liveness and readiness probe to deck container
  prow/cluster/deck_deployment.yaml
  prow/cluster/starter.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/S

#11684 deck: be quieter about pr-history errors
  prow/cmd/deck/main.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/XS

#11700 Fix the windows 1.14 dashboard name
  testgrid/config.yaml
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS

#11702 break out verify-deps job in kind
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#11670 Removing logexporter from kubemark-5000
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11705 encode generated jobs more densely
  config/jobs/kubernetes-security/BUILD.bazel
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  config/jobs/kubernetes-security/genjobs.go
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XXL

#11706 encode generate_test.py to json
  config/jobs/kubernetes/generated/generated.yaml
  experiment/generate_tests.py
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XXL

#11707 drop ndots from some kind jobs
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#11708 Slack event log tool
  experiment/BUILD.bazel
  experiment/slack-event-log/.gcloudignore
  experiment/slack-event-log/.gitignore
  experiment/slack-event-log/BUILD.bazel
  experiment/slack-event-log/OWNERS
  experiment/slack-event-log/README.md
  experiment/slack-event-log/app.yaml
  experiment/slack-event-log/handlers/BUILD.bazel
  experiment/slack-event-log/handlers/channels.go
  experiment/slack-event-log/handlers/emoji.go
  experiment/slack-event-log/handlers/handlers.go
  experiment/slack-event-log/handlers/meta.go
  experiment/slack-event-log/handlers/subteams.go
  experiment/slack-event-log/handlers/team.go
  experiment/slack-event-log/handlers/users.go
  experiment/slack-event-log/main.go
  experiment/slack-event-log/slack/BUILD.bazel
  experiment/slack-event-log/slack/config.go
  experiment/slack-event-log/slack/slack.go
  experiment/slack-event-log/slack/types.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XL

#11709 Add missing ampersand
  experiment/slack-event-log/handlers/meta.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#11695 Make tide robust to partial search results
  prow/tide/BUILD.bazel
  prow/tide/search.go
  prow/tide/search_test.go
  prow/tide/status.go
  prow/tide/tide.go
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/L, ¯\_(ツ)_/¯

#11710 Bump prow from v20190308-d092f0d to v20190309-82ac565
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/build_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Labels: approved, area/config, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#11712 Produce consistent search string
  prow/tide/status.go
  prow/tide/tide.go
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/S

#11713 Bump prow from v20190309-82ac565 to v20190309-2ba9602
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/build_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Labels: approved, area/config, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#11665 Added Config Parameter DefaultStatusErrorLink
  prow/cmd/checkconfig/main.go
  prow/config/config.go
  prow/jenkins/controller.go
  prow/jenkins/controller_test.go
  prow/plank/controller.go
Labels: approved, area/prow, area/prow/jenkins-operator, area/prow/plank, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#11714 prow: add transparent gzip reading to config loading
  prow/ANNOUNCEMENTS.md
  prow/config/config.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#11701 Update embargo doc link in SECURITY_CONTACTS and change PST to PSC
  SECURITY_CONTACTS
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#11686 GCE/Windows: Add a serial tests job
  config/jobs/kubernetes/sig-gcp/sig-gcp-windows.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#11717 Update sig-windows-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11698 Enable Prometheus in all non-kubemark tests.
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11722 Enable override plugin for publishing-bot
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#11720 List currently authorized scopes on 403
  prow/github/client.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#11724 Bump resultstore exporter to v20190311-3fc08c042
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11711 slack-event-log: better usergroup behaviour
  experiment/slack-event-log/handlers/subteams.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#11667 Ensure local and default contexts are correct
  prow/cmd/build/main.go
  prow/cmd/plank/main.go
  prow/cmd/tide/main.go
  prow/flagutil/kubernetes.go
  prow/flagutil/kubernetes_cluster_clients.go
  prow/kube/BUILD.bazel
  prow/kube/client.go
  prow/kube/config.go
  prow/kube/config_test.go
Labels: approved, area/prow, area/prow/knative-build, area/prow/plank, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/L

#11716 Unit tests for search()
  prow/tide/BUILD.bazel
  prow/tide/search.go
  prow/tide/search_test.go
  prow/tide/tide.go
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/L

#11608 Make Tide's mergePRs return an error if any merge fails.
  prow/tide/BUILD.bazel
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/L

#11726 Better handling of having only empty JUnit files
  prow/spyglass/lenses/junit/junit.css
  prow/spyglass/lenses/junit/lens.go
  prow/spyglass/lenses/junit/template.html
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/S

#11733 Revert deck back to the official client
  prow/cmd/deck/BUILD.bazel
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
  prow/deck/jobs/BUILD.bazel
  prow/deck/jobs/jobs.go
  prow/deck/jobs/jobs_test.go
  prow/flagutil/kubernetes.go
  prow/spyglass/BUILD.bazel
  prow/spyglass/podlogartifact.go
  prow/spyglass/spyglass_test.go
Labels: approved, area/prow, area/prow/deck, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/XL

#11732 Update URL when picking a job from the dropdown
  prow/cmd/deck/static/prow/prow.ts
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/XS

#11734 Update sig-windows-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11718 Add metrics to sinker
  prow/cmd/sinker/main.go
Labels: approved, area/prow, area/prow/sinker, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#11741 Make label_sync JSON format it's logs and set the 'component' log field.
  label_sync/BUILD.bazel
  label_sync/main.go
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/testing, size/XS

#11740 Don't highlight lines that are more than 10,000 bytes long
  prow/spyglass/lenses/buildlog/lens.go
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/S

#11738 Update sig-windows-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11743 update greenhouse readme and OWNERS
  greenhouse/OWNERS
  greenhouse/README.md
Labels: approved, area/greenhouse, cncf-cla: yes, lgtm, sig/testing, size/S

#11719 Add testCcm for Azure deployer
  kubetest/azure.go
  kubetest/azure_helpers.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/L

#11748 Expose kube-proxy metrics in old releases
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#10982 Plugin to add issue and PR to GitHub Project
  prow/github/client.go
  prow/github/fakegithub/fakegithub.go
  prow/github/types.go
  prow/plugins.yaml
  prow/plugins/BUILD.bazel
  prow/plugins/config.go
  prow/plugins/project/BUILD.bazel
  prow/plugins/project/project.go
  prow/plugins/project/project_test.go
Labels: approved, area/prow, cncf-cla: yes, kind/feature, lgtm, sig/contributor-experience, sig/testing, size/XXL

#11745 add optional gzip support to configmap updater
  prow/cmd/config-bootstrapper/main.go
  prow/plugins/config.go
  prow/plugins/updateconfig/updateconfig.go
  prow/plugins/updateconfig/updateconfig_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#11754 add an mkpj wrapper
  config/jobs/mkpj.sh
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#11755 Slack bot to report messages
  experiment/BUILD.bazel
  experiment/slack-event-log/slack/slack.go
  experiment/slack-event-log/slack/types.go
  experiment/slack-report-message/.gcloudignore
  experiment/slack-report-message/.gitignore
  experiment/slack-report-message/BUILD.bazel
  experiment/slack-report-message/app.yaml
  experiment/slack-report-message/handler.go
  experiment/slack-report-message/main.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XL

#11756 fix a typo
  prow/cmd/config-bootstrapper/main.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS, ¯\_(ツ)_/¯

#11723 spyglass: show metadata.links in the top bar
  prow/cmd/deck/main.go
  prow/cmd/deck/template/spyglass.html
  prow/spyglass/BUILD.bazel
  prow/spyglass/artifacts.go
  prow/spyglass/spyglass.go
  prow/spyglass/spyglass_test.go
  testgrid/metadata/job.go
Labels: approved, area/prow, area/prow/deck, area/prow/spyglass, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#11749 plugins.yaml: enable /test for all kubernetes-csi repos
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#11757 bump prow to v20190313-de6d7dc
  config/jobs/kubernetes-security/generated-security-jobs.yaml
  prow/cluster/branchprotector_cronjob.yaml
  prow/cluster/build_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/grandmatriarch.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/starter.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Labels: approved, area/config, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#11759 Revert "Revert "Migrate tide to use new k8s clients""
  prow/cmd/tide/main.go
  prow/tide/BUILD.bazel
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/L

#11208 Add presubmit and CI jobs for node-problem-detector
  config/jobs/kubernetes/node-problem-detector/OWNERS
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-ci.yaml
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-presubmits.yaml
  testgrid/cmd/configurator/config_test.go
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#11760 Turn on go modules
  hack/autodeps.sh
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#11747 Add specific yaml's for each Ingress job + add a new job for release-1.5 branch
  config/jobs/kubernetes/sig-network/ingress-gce-e2e.yaml
  testgrid/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#11764 Fix NPD CI job setup
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-ci.yaml
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#11762 GCE: update windows configs
  config/jobs/kubernetes/sig-gcp/sig-gcp-windows.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11767 Add python dependencies
  WORKSPACE
  hack/BUILD.bazel
  hack/requirements.txt
  kettle/BUILD.bazel
Labels: approved, area/kettle, cncf-cla: yes, lgtm, sig/testing, size/S

#11772 Allow trigger in node-problem-detector
  prow/plugins.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#11773 Copy test-infra files into tmpdir, not tmpdir/test-infra
  hack/verify-deps.sh
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#11776 Add path alias to NPD presubmit jobs
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11778 Enable prometheus in kubemark-100 for test
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#11751 Upload new image for prow jobs with bazel 0.23.2
  config/jobs/bazelbuild/rules_k8s/rules_k8s_config.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#11780 Enable docker-in-docker for NPD builds
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-ci.yaml
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#11783 Remove useless prow/cmd/util directory and build file.
  prow/BUILD.bazel
  prow/cmd/util/BUILD.bazel
Labels: approved, area/prow, cncf-cla: yes, kind/cleanup, lgtm, sig/testing, size/S

#11786 Fix NPD job command line breaking
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-ci.yaml
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#11787 deck: fix comment for PR history URL
  prow/cmd/deck/main.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/XS, ¯\_(ツ)_/¯

#11775 Add pprof debug output to prow controllers
  prow/cmd/build/main.go
  prow/cmd/crier/BUILD.bazel
  prow/cmd/crier/main.go
  prow/cmd/deck/main.go
  prow/cmd/gerrit/BUILD.bazel
  prow/cmd/gerrit/main.go
  prow/cmd/horologium/main.go
  prow/cmd/jenkins-operator/BUILD.bazel
  prow/cmd/jenkins-operator/main.go
  prow/cmd/plank/BUILD.bazel
  prow/cmd/plank/main.go
  prow/cmd/sinker/main.go
  prow/cmd/status-reconciler/BUILD.bazel
  prow/cmd/status-reconciler/main.go
  prow/cmd/tide/BUILD.bazel
  prow/cmd/tide/main.go
  prow/cmd/tot/main.go
  prow/pjutil/BUILD.bazel
  prow/pjutil/pprof.go
Labels: approved, area/prow, area/prow/deck, area/prow/gerrit, area/prow/horologium, area/prow/jenkins-operator, area/prow/knative-build, area/prow/plank, area/prow/sinker, area/prow/tide, area/prow/tot, cncf-cla: yes, lgtm, sig/testing, size/M

#11742 Add --status-path to save/load status state
  BUILD.bazel
  pkg/io/BUILD.bazel
  pkg/io/opener.go
  prow/cmd/tide/BUILD.bazel
  prow/cmd/tide/main.go
  prow/tide/BUILD.bazel
  prow/tide/history/BUILD.bazel
  prow/tide/history/history.go
  prow/tide/history/history_test.go
  prow/tide/status.go
  prow/tide/tide.go
  prow/tide/tide_test.go
  testgrid/util/gcs/BUILD.bazel
Labels: approved, area/prow, area/prow/tide, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#11744 Expose the Tide history page.
  prow/ANNOUNCEMENTS.md
  prow/cmd/README.md
  prow/cmd/deck/static/BUILD.bazel
  prow/cmd/deck/static/common/common.ts
  prow/cmd/deck/static/pr/pr.ts
  prow/cmd/deck/static/prow/prow.ts
  prow/cmd/deck/static/tide/tide.ts
  prow/cmd/deck/template/base.html
  prow/cmd/deck/template/tide.html
  prow/cmd/tide/README.md
  prow/cmd/tide/config.md
Labels: approved, area/prow, area/prow/deck, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/L

#11789 Correct lint import path to golang.org/x/lint
  WORKSPACE
  go.mod
  go.sum
  prow/plugins/golint/BUILD.bazel
  prow/plugins/golint/golint.go
  prow/plugins/golint/suggestion/BUILD.bazel
  prow/plugins/golint/suggestion/golint_suggestion.go
  prow/plugins/golint/suggestion/golint_suggestion_test.go
  vendor/BUILD.bazel
  vendor/golang.org/x/lint/BUILD.bazel
  vendor/golang.org/x/lint/LICENSE
  vendor/golang.org/x/lint/lint.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M
