Repository kubernetes/test-infra, pull requests merged in 2020-03, with the labels that each got.

#16560 GA-only kind conformance test job
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#16563 Allow time for serial GA-only conformance run
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16564 test: change test region due to quota issue
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/XS

#16565 test: change some test regions due to quota issue
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.15.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.16.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.17.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/sig-azure-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/S

#16554 install deps for e2e in secrets-store-csi-driver
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16549 Remove gce-windows-2019-containerd-master from release informing
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, sig/windows, size/M

#16529 Boskos: Retry on conflict
  boskos/handlers/BUILD.bazel
  boskos/handlers/handlers_test.go
  boskos/ranch/BUILD.bazel
  boskos/ranch/ranch.go
  boskos/ranch/ranch_test.go
  boskos/ranch/storage.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XL

#16570 Register gcr.io helper for docker before the build
  scenarios/kubernetes_build.py
Labels: approved, area/scenarios, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#16476 Try to warn about not using secret json files
  config/prow/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16574 Azure: add a windows periodic job that runs [Serial] test cases
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#16576 Revert "test: change some test regions due to quota issue"
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.15.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.16.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.17.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/sig-azure-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/S

#16575 Allow resultstore exporter to just export specific buckets.
  experiment/resultstore/BUILD.bazel
  experiment/resultstore/main.go
  experiment/resultstore/main_test.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/L

#16569 Azure: add a presubmit job for Azure Disk CSI driver migration feature
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/M

#16586 Boskos ranch: Remove global lock
  boskos/ranch/ranch.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/S

#16582 Remove sig-storage from ginkgo.focus
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16592 approve plugin: add more logging
  prow/plugins/approve/approve.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#16591 Add periodic ga-only conformance job
  config/jobs/kubernetes/sig-testing/conformance-e2e.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#16578 Patch upgrade all go dependencies
  WORKSPACE
  go.mod
  go.sum
  load.bzl
  repos.bzl
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/L

#16102 Updated new versions that are supported and removed deprecated.
  config/testgrids/conformance/conformance-all.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#16596 Only upload results in gs://kubernetes-jenkins
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16590 Azure: add TEST_MIGRATION env var in Azure Disk CSI driver migration job
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/XS

#16585 Ignore delete action for label handler
  prow/plugins/label/label.go
  prow/plugins/label/label_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M, tide/merge-method-squash

#16577 Improve bazel rbe cache hit rate
  .bazelrc
  prow/interrupts/BUILD.bazel
  prow/metrics/BUILD.bazel
  prow/metrics/metrics_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#16602 Configure testgrid for kyma-incubator compass postsubmit job
  config/testgrids/kyma/kyma.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#16527 kubeadm: add kinder test jobs for k8s 1.18
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-discovery.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-etcd.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-kustomize.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-upgrade.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-x-on-y.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/L

#16433 Revert "fixing sig-cli e2e job error"
  config/jobs/kubernetes/sig-cli/sig-cli-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/cli, sig/testing, size/XS

#16599 Minor upgrade of various modules
  go.mod
  go.sum
  repos.bzl
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/L

#16597 Upgrade to testgrid v0.0.6
  go.mod
  go.sum
  repos.bzl
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#16601 Boskos: Don't log errors before being sure they are not transient
  boskos/ranch/ranch.go
  boskos/ranch/storage.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/M

#16607 Revert "Only upload results in gs://kubernetes-jenkins"
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16610 Azure: move Windows [Slow] tests to serial job
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16606 Boskos: Increase QPS and burst
  boskos/crds/client.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XS

#16611 Remove mention of non-existent Tide query limitations.
  prow/cmd/tide/config.md
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/XS

#16491 Allow spyglass to use cookie auth
  prow/cmd/deck/main.go
  prow/spyglass/gcsartifact_fetcher.go
  prow/spyglass/gcsartifact_fetcher_test.go
  prow/spyglass/spyglass.go
  prow/spyglass/spyglass_test.go
Labels: approved, area/prow, area/prow/deck, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/L

#16600 Minor upgrade of mattn and jinzhu modules
  go.mod
  go.sum
  nogo_config.json
  repos.bzl
  velodrome/sql/model.go
Labels: approved, area/velodrome, cncf-cla: yes, lgtm, sig/testing, size/L

#16510 Adding support for having unique HMAC token per github repository or organization.
  prow/external-plugins/cherrypicker/server.go
  prow/external-plugins/needs-rebase/main.go
  prow/external-plugins/refresh/server.go
  prow/github/BUILD.bazel
  prow/github/hmac.go
  prow/github/hmac_test.go
  prow/github/types.go
  prow/github/webhooks.go
  prow/hook/hook_test.go
  prow/hook/server.go
  prow/hook/server_test.go
Labels: approved, area/prow, area/prow/hook, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#16615 Revert "Merge pull request #16597 from fejta/rs"
  go.mod
  go.sum
  repos.bzl
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#16616 Not incompatible, just flaky
  prow/interrupts/BUILD.bazel
  prow/metrics/BUILD.bazel
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#16224 releng: Remove ci-release-anago-stage job
  config/jobs/kubernetes/release/release-config.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#16617 FailedKillPod is actually fine and expected
  prow/spyglass/lenses/metadata/lens.go
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/XS

#16619 repoowners: add duration logging
  prow/repoowners/repoowners.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/S

#16624 Make TestConfig validate column header ConfigurationValues.
  config/tests/testgrids/config_test.go
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#16623 Add POC k/k make test jobs using a cache.
  config/jobs/kubernetes/sig-testing/make-test.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#16621 Decouple metrics_test from a specific port
  prow/cmd/exporter/main.go
  prow/interrupts/interrupts.go
  prow/metrics/BUILD.bazel
  prow/metrics/metrics.go
  prow/metrics/metrics_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#16608 Azure: migrate cloud-provider-azure-config.yaml to pod utilities
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/XL

#16626 Fix some mysterious issues.
  config/jobs/kubernetes/sig-testing/make-test.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16547 E2E-Topology Manager - Update image file
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#16612 updates to cip jobs
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#16620 azure: add scheduler config and feature flag for IPv6
  kubetest/azure_helpers.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS

#16629 Migrate logexporter to use klog.
  logexporter/cmd/BUILD.bazel
  logexporter/cmd/main.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/M

#16627 cm2kc: deterministic kubeconfig clusters/contexts/users ordering
  prow/cmd/cm2kc/main.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#16630 Allow container crashes if NodeKiller is running
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#16614 Kops - Skip failing test for kops containerd e2e periodic
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16633 Remove artifact-uploader
  label_sync/labels.md
  label_sync/labels.yaml
  prow/.gitignore
  prow/BUILD.bazel
  prow/Makefile
  prow/artifact-uploader/BUILD.bazel
  prow/artifact-uploader/OWNERS
  prow/artifact-uploader/controller.go
  prow/cmd/artifact-uploader/BUILD.bazel
  prow/cmd/artifact-uploader/OWNERS
  prow/cmd/artifact-uploader/main.go
Labels: approved, area/label_sync, area/prow, area/prow/artifact-uploader, cncf-cla: yes, lgtm, sig/testing, size/L

#16613 pod-utils: allow setting resource requests and limits
  prow/apis/prowjobs/v1/types.go
  prow/apis/prowjobs/v1/zz_generated.deepcopy.go
  prow/pod-utils/decorate/podspec.go
Labels: approved, area/prow, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/L

#16603 prow/config: enabled code freeze for 1.18
  config/prow/config.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, priority/important-soon, sig/release, sig/testing, size/S

#16635 Azure: remove [Slow] test cases from 1.17 windows job
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16461 Azure: add conformance job for ipv6
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/M

#16641 github client: log path in requestRetry on ratelimit
  prow/github/client.go
Labels: approved, area/prow, cncf-cla: yes, do-not-merge/hold, lgtm, sig/testing, size/XS

#16640 ci-k8sio-cip: run every hour
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16644 Revert "Revert "Only upload results in gs://kubernetes-jenkins""
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16647 Create uniq IDs for files with the same basename
  experiment/resultstore/convert.go
  experiment/resultstore/convert_test.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/L

#16632 Add an optional parallel ga-only conformance presubmit
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#16651 Upgrade resultstore to latest version.
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16634 Run network proxy CI on both httpconnect and grpc mode
  config/jobs/kubernetes/sig-api-machinery/sig-api-machinery-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#16452 kubetest: add AKS deployer
  kubetest/BUILD.bazel
  kubetest/aks.go
  kubetest/aksengine.go
  kubetest/azure_helpers.go
  kubetest/build.go
  kubetest/e2e.go
  kubetest/main.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XL

#16631 Change interval for two experiemntal jobs to 1h
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#16649 Kops - Update contained e2e ssh user
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16646 e2e-topology-manager: Fix repo
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#16655 run ipv6 conformance tests in parallel
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/XS

#16652 Push resultstore images
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  experiment/resultstore/push.sh
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#16657 Fixed kubetest skew docs
  kubetest/README.md
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS

#16463 Migrate and/or prepare to migrate cip jobs to workload-identity
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#16642 Upgrade to testgrid v0.0.7
  go.mod
  go.sum
  repos.bzl
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#16648 Sidecar OOMs when lots of small files in the artifact directories
  prow/pod-utils/gcs/BUILD.bazel
  prow/pod-utils/gcs/upload.go
Labels: approved, area/prow, area/prow/pod-utilities, area/prow/sidecar, cncf-cla: yes, lgtm, sig/testing, size/S

#16587 Add Baiducloud conformance test into testgrid
  config/testgrids/conformance/conformance-all.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#16653 Set a ceiling on the number of extra files to attach.
  experiment/resultstore/convert.go
  experiment/resultstore/convert_test.go
  experiment/resultstore/main.go
  experiment/resultstore/main_test.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/L

#16628 Add following dashboard tabs under https://k8s-testgrid.appspot.com/c…
  config/testgrids/conformance/conformance-all.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#16656 Azure: update various azure-related job configurations
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.15.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.16.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.17.yaml
  config/jobs/kubernetes/sig-network/dualstack-e2e.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/L

#16662 Make gce-cos-k8sbeta-default release-blocking
  config/jobs/kubernetes/generated/generated.yaml
  releng/test_config.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#16663 kubetest allow extracting from patch version
  kubetest/extract_k8s.go
  kubetest/extract_test.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#16658 gcsupload: limit maximum upload concurrency
  prow/apis/prowjobs/v1/types.go
  prow/gcsupload/options.go
  prow/gcsupload/run.go
  prow/pod-utils/gcs/BUILD.bazel
  prow/pod-utils/gcs/upload.go
  prow/pod-utils/gcs/upload_test.go
Labels: approved, area/prow, area/prow/gcsupload, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/S

#16665 add dualstack test job for release-1.18
  config/jobs/kubernetes/sig-network/dualstack-e2e.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#16667 Make hold related commands only working for PR
  prow/plugins/hold/hold.go
  prow/plugins/hold/hold_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#16668 Kops - Use Debian 10 for Calico and Weave periodic e2e
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#16670 Add GA-only conformance job to master-blocking testgrid
  config/jobs/kubernetes/sig-testing/conformance-e2e.yaml
  config/tests/testgrids/config_test.go
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/architecture, sig/release, sig/testing, size/XS

#16675 Provider/Azure: Support Azure kubemark test.
  kubetest/aksengine.go
  kubetest/build.go
Labels: approved, area/kubetest, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/M

#16584 [Access-tokens] Rollout tests to 1.16 branch
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#16654 Enable NodeKiller on ClusterLoader presubmit
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#16681 [ChaosMonkey] Backport known container restarts
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/scalability, sig/testing, size/XS

#16679 releng: Update jobs to use new GCP staging project
  config/jobs/image-pushing/k8s-staging-releng.yaml
  config/jobs/kubernetes/release/release-config.yaml
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#16684 Crier: DeepCopy prowjob after getting it from the lister
  prow/crier/controller.go
Labels: approved, area/prow, area/prow/crier, cncf-cla: yes, lgtm, sig/testing, size/XS

#16686 Revert "gcsupload: limit maximum upload concurrency"
  prow/apis/prowjobs/v1/types.go
  prow/gcsupload/options.go
  prow/gcsupload/run.go
  prow/pod-utils/gcs/BUILD.bazel
  prow/pod-utils/gcs/upload.go
  prow/pod-utils/gcs/upload_test.go
Labels: approved, area/prow, area/prow/gcsupload, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/S

#16669 Branchprotector: modernize parameters
  prow/cmd/branchprotector/README.md
  prow/cmd/branchprotector/protect_test.go
  prow/cmd/branchprotector/request.go
  prow/config/branch_protection.go
  prow/config/branch_protection_test.go
  prow/github/types.go
Labels: approved, area/prow, area/prow/branchprotector, cncf-cla: yes, lgtm, sig/testing, size/L

#16688 testgrid: rename 'cert-manager' directory to 'jetstack' and setup transfigure
  config/testgrids/cert-manager/groups.yaml
  config/testgrids/cert-manager/jetstack-cert-manager-master.yaml
  config/testgrids/cert-manager/jetstack-cert-manager-release.yaml
  config/testgrids/jetstack/OWNERS
  config/testgrids/jetstack/gen-config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XL

#16689 Jenkins agent: Add option to skip GH reporting
  prow/cmd/jenkins-operator/main.go
  prow/jenkins/controller.go
Labels: approved, area/prow, area/prow/jenkins-operator, cncf-cla: yes, lgtm, sig/testing, size/S

#16660 Update resultstore exporter to v20200306-2c8702645
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16687 schedulerf_perf: constrain compute resources
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16690 Sinker: Do not error if pod is already gone
  prow/cmd/sinker/main.go
  prow/cmd/sinker/main_test.go
Labels: approved, area/prow, area/prow/sinker, cncf-cla: yes, lgtm, sig/testing, size/M

#16674 capz: Add milestone applier config
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16317 refactor io package and migrate tide & status-reconciler
  go.mod
  go.sum
  pkg/io/BUILD.bazel
  pkg/io/opener.go
  pkg/io/providers/BUILD.bazel
  pkg/io/providers/providers.go
  pkg/io/providers/providers_test.go
  prow/cmd/gerrit/main.go
  prow/cmd/gerrit/main_test.go
  prow/cmd/status-reconciler/main.go
  prow/cmd/tide/main.go
  repos.bzl
Labels: approved, area/label_sync, area/prow, area/prow/gerrit, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/XL

#16696 Change timeout flag to --timeout
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16695 Azure: upgrade windows presubmit job to pod utilities
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#16694 boskos/ranch: remove support for reading storage from file
  boskos/cleaner/cleaner_test.go
  boskos/cmd/boskos/boskos.go
  boskos/cmd/cleaner/main.go
  boskos/cmd/fake-mason/main.go
  boskos/mason/mason_test.go
  boskos/ranch/ranch_test.go
  boskos/ranch/storage.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/M

#16692 Transfigure: Change to detect changes with git
  testgrid/cmd/transfigure/transfigure.sh
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS

#16697 Azure: add path_alias to windows presubmit job
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16698 boskos/ranch: cleanup: use retry.OnError instead of copied impl
  boskos/ranch/ranch.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/S

#16699 remove customresourcedefinitions from boskos ClusterRole
  prow/cluster/boskos.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#16701 Fix images/krte/variants.yaml symlink
  images/krte/variants.yaml
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/XS

#16702 fix transfigure diff logic
  testgrid/cmd/transfigure/transfigure.sh
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS

#16693 azure: move aks-e binary to /tmp
  kubetest/aksengine.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/S

#16710 Add experimental e2-standard-2 job
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#16713 [Access-tokens] Backport tests to 1.15
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/scalability, sig/testing, size/XS

#16715 Revert "Add experimental e2-standard-2 job"
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#16420 migratestatus tool: add url check for `-description` parameter
  maintenance/migratestatus/BUILD.bazel
  maintenance/migratestatus/migratestatus.go
  maintenance/migratestatus/migratestatus_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#16707 Update TestGrid for istio
  config/testgrids/istio/gen-config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XXL

#16719 Add myself to sig-windows owners
  config/jobs/kubernetes-sigs/sig-windows/OWNERS
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16718 sig-windows: add kubeadm job on GCP
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-kubeadm.yaml
Labels: approved, area/config, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, sig/testing, sig/windows, size/M

#16721 Azure: move Windows [Serial] & [Slow] test cases to separate serial jobs
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/L

#16724 Revert "Migrate and/or prepare to migrate cip jobs to workload-identity"
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#16714 Fix a data race in decoration config defaulting
  experiment/resultstore/convert_test.go
  prow/apis/prowjobs/v1/types.go
  prow/config/config_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#16704 Sync kind release-blocking job with merge-blocking for master
  config/jobs/kubernetes-sigs/kind/kind-release-blocking.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#16703 Allow Overriding Default Token Settings - BranchProtector
  prow/cmd/branchprotector/protect.go
  prow/cmd/branchprotector/protect_test.go
Labels: approved, area/prow, area/prow/branchprotector, cncf-cla: yes, kind/feature, lgtm, ok-to-test, sig/testing, size/S

#16677 prow/cmd/horologium: log when job is skipped
  prow/cmd/horologium/main.go
Labels: approved, area/prow, area/prow/horologium, cncf-cla: yes, lgtm, sig/testing, size/XS

#16727 Revert "ci-k8sio-cip: run every hour"
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16725 Explicitly specify testgrid config location
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  experiment/resultstore/main.go
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16728 Update TestGrid for istio
  config/testgrids/istio/gen-config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/S

#16680 Turn on KFP backend prow test
  config/jobs/kubeflow/kubeflow-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#16580 Prow: restrict decorate.VolumeMountPaths validation to equality
  prow/config/config.go
  prow/config/config_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#16708 kops/gce: adds Firewall to the e2e skip list
  config/jobs/kubernetes/kops/kops-periodics-gce.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16733 Revert "add aks kubetest deployer"
  kubetest/BUILD.bazel
  kubetest/aks.go
  kubetest/azure.go
  kubetest/azure_helpers.go
  kubetest/build.go
  kubetest/e2e.go
  kubetest/main.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XL

#16735 sig-windows-kubeadm: use runner.sh to setup service account
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-kubeadm.yaml
Labels: approved, area/config, cncf-cla: yes, kind/bug, lgtm, sig/cluster-lifecycle, sig/testing, sig/windows, size/XS

#16736 add postsubmit job and move dashboard to sig-auth
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
  config/testgrids/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#16566 Properly namespace criers RBAC
  prow/cluster/crier_rbac.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/S

#16737 Update sig-windows-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#16740 jobs: cleanup older kind k/k release-branch jobs
  config/jobs/kubernetes-sigs/kind/kind-release-blocking.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XL

#16742 jobs: move gce-cos-master-reboot to release-master-blocking
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#16748 jobs: cleanup kubernetes-verify jobs
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#16741 docs: follow experiment->releng migrations
  config/jobs/README.md
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#16738 Revert/remove clap clap functionality in assign plugin
  prow/plugins/assign/assign.go
  prow/plugins/assign/assign_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#16750 Provider/Azure: Add azure kubemark test job config.
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/M

#16747 Azure: execute aks-engine generate in a temp directory
  kubetest/azure.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS

#16751 Provider/Azure: Delete flag job for azure kubemark test.
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/XS

#16752 Disable node-killer in gce-100 test on master.
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16745 Kops - add new cni e2e job for kuberouter
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#16755 Provider/Azure: Delete useless flags for azure kubemark test.
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/XS

#16754 Clonerefs: Only log non-nil errors
  prow/pod-utils/clone/clone.go
Labels: approved, area/prow, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/XS

#16756 Disable node-killer in for release-1.{16,17,18} branches.
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#16759 Add unit test jobs for new csi repos
  config/jobs/kubernetes-csi/csi-driver-iscsi/csi-driver-iscsi-config.yaml
  config/jobs/kubernetes-csi/csi-driver-nfs/csi-driver-nfs-config.yaml
  config/jobs/kubernetes-csi/external-health-monitor/external-health-monitor-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#16762 Update cache gerrit cookie more frequently.
  prow/cmd/grandmatriarch/bake.sh
  prow/gerrit/OWNERS
  prow/gerrit/client/client.go
Labels: approved, area/prow, area/prow/gerrit, cncf-cla: yes, lgtm, sig/testing, size/S
