Repository kubernetes/test-infra, pull requests merged in 2020-02, with the labels that each got.

#16095 Add dashboard for Boskos HTTP metrics
  prow/cluster/monitoring/grafana_deployment.yaml
  prow/cluster/monitoring/mixins/dashboards_out/BUILD.bazel
  prow/cluster/monitoring/mixins/grafana_dashboards/BUILD.bazel
  prow/cluster/monitoring/mixins/grafana_dashboards/boskos-http.jsonnet
  prow/cluster/monitoring/mixins/lib/config.libsonnet
Labels: approved, area/boskos, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/L

#16075 config-bootstrapper: allow for multiple source roots
  prow/cmd/config-bootstrapper/main.go
  prow/cmd/config-bootstrapper/main_test.go
Labels: approved, area/prow, area/prow/config-bootstrapper, cncf-cla: yes, lgtm, sig/testing, size/L

#16096 Add missing bazel reference to boskos-http dashboard.
  prow/cluster/monitoring/BUILD.bazel
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#16098 Add a virtual kubelet node to test cluster autoscaler.
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/S

#16050 Make GCE Windows versions explicit, add Windows 1909 job.
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.14.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, sig/windows, size/M

#16058 Support for NAT in GKE clusters
  kubetest/gke.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/L

#16093 testgrids: update OpenShift configuration
  config/testgrids/openshift/groups.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-informing.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XL

#15940 Add Github labels for git.k8s.io/k8s.io
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/testing, size/M, wg/k8s-infra

#16103 Use newest gcloud build in gce-cos-1.16-scalability-100 job
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#16021 boskos: Periodically update dynamic resources
  boskos/boskos.go
  boskos/common/mason_config.go
  boskos/ranch/ranch.go
  boskos/ranch/ranch_test.go
  boskos/ranch/storage.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XL

#16106 Remove 1.17 and 1.16 jobs from sig-release-master-informing
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, sig/windows, size/XS

#16010 Support a Clone BaseDir of Root
  prow/pod-utils/clone/clone.go
  prow/pod-utils/clone/clone_test.go
Labels: approved, area/prow, area/prow/pod-utilities, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, sig/testing, size/S

#16109 explicitly search for "repo" in "UpdatePR"
  robots/pr-creator/updater/updater.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#16108 Add rbac rules so crier can read pods and events
  prow/cluster/crier_rbac.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#16006 Update TestGrid for istio
  config/testgrids/istio/gen-config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XXL

#16083 Image Promoter: Adds Windows certs for the k/k e2e test images job
  config/jobs/image-pushing/k8s-staging-e2e-test-images.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#16115 Revert "Use newest gcloud build in gce-cos-1.16-scalability-100 job"
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#16117 Increase CAPA k8s CI timeout to 3h
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16118 Bumping up the vpa-full e2e test timeout
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16114 Kops - Validate cluster before starting e2e
  kubetest/kops.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/S

#16101 KOPS - Add E2E periodic job for testing the Lyft CNI
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics-network-plugins.yaml
Labels: approved, area/config, area/provider/aws, cncf-cla: yes, lgtm, ok-to-test, sig/cloud-provider, sig/testing, size/M

#16121 Increase CAPG k8s CI timeout to 3h
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-ci.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16073 Add a pull-kubernetes-e2e-gce-canary job
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/testgrids/config.yaml
Labels: approved, area/config, area/provider/gcp, area/testgrid, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/M

#16097 Add failure hints to the summary/metadata lens
  prow/spyglass/lenses/metadata/BUILD.bazel
  prow/spyglass/lenses/metadata/lens.go
  prow/spyglass/lenses/metadata/lens_test.go
  prow/spyglass/lenses/metadata/style.css
  prow/spyglass/lenses/metadata/template.html
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/L, ¯\_(ツ)_/¯

#16123 k8s crier: don't report jobs with no build ID
  prow/crier/reporters/gcs/kubernetes/reporter.go
  prow/crier/reporters/gcs/kubernetes/reporter_test.go
Labels: approved, area/prow, area/prow/crier, cncf-cla: yes, lgtm, sig/testing, size/S

#16125 Increase timeout/interval for Windows containerd job to 4h
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, sig/windows, size/XS

#16129 Azure: add userAssignedID field
  kubetest/azure_helpers.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS

#16112 kubebuilder: make jobs required for merge
  config/jobs/kubernetes-sigs/kubebuilder/kubebuilder-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#16134 Kops - Set PATH for downloaded k8s binaries in ena-nvme job
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics.yaml
Labels: approved, area/config, area/provider/aws, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#16135 Kops - set PATH for all periodic E2E jobs that use the new e2e runner
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics.yaml
Labels: approved, area/config, area/provider/aws, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/S

#16133 Update k8s.io approve settings
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16137 Remove 'ConfigFile' and 'PluginFile' config fields
  prow/plugins/config.go
  prow/plugins/config_test.go
  prow/plugins/updateconfig/updateconfig.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/M

#16138 Kops - Set PATH on remaining E2E periodic jobs
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics.yaml
Labels: approved, area/config, area/provider/aws, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/S

#16139 Kops - set PATH for presubmit e2e jobs
  config/jobs/kubernetes/kops/kops-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16141 Fix postsubmit job for cluster-api
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-ci.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16142 Kops - Skip test "Services should be rejected when no endpoints exist"
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics-network-plugins.yaml
Labels: approved, area/config, area/provider/aws, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#16146 Kops - fix kops-aws job using new e2e runner
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics.yaml
Labels: approved, area/config, area/provider/aws, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#16148 Kops - Remove unneeded test - aws-nvme-ena
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics.yaml
Labels: approved, area/config, area/provider/aws, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/M

#15548 Backend presubmit test in Prow
  config/jobs/kubeflow/kubeflow-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/S

#16150 Updating various azure job configs to use aks-engine v0.46.3
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.15.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.16.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.17.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/M

#16131 Add resource requests for pd driver CI to speed up Kubernetes builds
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-postsubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#16140 Add config-path to crier deployment in README
  prow/cmd/crier/README.md
Labels: approved, area/prow, area/prow/crier, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#16143 Verify GitHub SSH key fingerprint in clonerefs
  prow/cmd/clonerefs/BUILD.bazel
  prow/cmd/clonerefs/github_known_hosts
  prow/cmd/clonerefs/ssh_config
Labels: approved, area/prow, area/prow/clonerefs, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/S

#16155 Update concurrency for CAPA jobs that use Boskos
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#16154 Include the error in the prowjob status description when a pod cannot be started
  prow/plank/controller.go
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/XS

#16156 Add a prowjob-based hint to the spyglass hint message
  prow/spyglass/lenses/metadata/BUILD.bazel
  prow/spyglass/lenses/metadata/lens.go
  prow/spyglass/lenses/metadata/lens_test.go
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/L

#16151 Add more buckets to boskos_http_request_duration_seconds histogram
  boskos/boskos.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XS

#16149 Azure: add MSI role assignment logic after cluster creation
  kubetest/BUILD.bazel
  kubetest/azure.go
  kubetest/azure_helpers.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/M

#16164 GitHub client: Log retries
  prow/github/BUILD.bazel
  prow/github/client.go
  prow/github/client_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#16162 Make high-density job use forked density config
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16167 Expand load test run time
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, sig/windows, size/XS

#16158 hook: expose metrics for plugin handle times and error rates
  prow/hook/events.go
  prow/hook/metrics.go
  prow/hook/server.go
Labels: approved, area/prow, area/prow/hook, cncf-cla: yes, lgtm, sig/testing, size/M

#16169 Upgrade production OSD dashboards to use default/next.
  config/testgrids/openshift/dedicated.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#16163 GitHub client: Log request durations
  prow/github/client.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#16166 Boskos: left-align happy paths
  boskos/ranch/BUILD.bazel
  boskos/ranch/ranch.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/L

#16022 Add Image Push Job For Descheduler
  config/jobs/image-pushing/k8s-staging-descheduler.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#16099 Update tektoncd/pipeline to 0.10.1
  go.mod
  go.sum
  kubetest/BUILD.bazel
  prow/cmd/pipeline/BUILD.bazel
  prow/cmd/pipeline/controller.go
  prow/cmd/pipeline/controller_test.go
  prow/cmd/pipeline/main.go
  prow/config/config_test.go
  repos.bzl
Labels: approved, area/kubetest, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XXL

#16173 fix busybox timeout arguments
  triage/Dockerfile
Labels: approved, area/triage, cncf-cla: yes, lgtm, sig/testing, size/XS

#16171 prow/interrupts: Do not handle the ABRT signal
  prow/interrupts/interrupts.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#16176 don't use -t in traige job
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16170 Azure: upgrade Azure Disk CSI driver e2e test cluster to 1.17
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/XS

#16182 Kops - add e2e periodic job for testing coredns
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics.yaml
Labels: approved, area/config, area/provider/aws, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/M

#16186 Experimental jobs for merged density and load
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/L

#16168 build all tests and package in bazel-build presubmit
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16161 sig-release: Update Prow plugin configs
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#16181 Update ingress-nginx prow job
  config/jobs/kubernetes/sig-network/ingress-nginx.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16190 OSD metadata should now be displayed in OSD dashboards.
  config/testgrids/openshift/dedicated.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#16187 Remove experimental gce-private-cluster-correctness job
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#16172 Make the metadata job status more robust.
  prow/spyglass/lenses/metadata/lens.go
  prow/spyglass/lenses/metadata/template.html
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/S

#16193 testgrids/openshift: Regenerate informing jobs
  config/testgrids/openshift/redhat-openshift-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.2-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.3-informing.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#16178 branchprotector should not exit on 404
  prow/cmd/branchprotector/protect.go
  prow/cmd/branchprotector/protect_test.go
Labels: approved, area/prow, area/prow/branchprotector, cncf-cla: yes, lgtm, sig/testing, size/S

#16111 Add a pull-kubernetes-e2e-gce-ubuntu job
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/testgrids/config.yaml
Labels: approved, area/config, area/provider/gcp, area/testgrid, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/M

#16198 Add CI jobs for e2e-ubuntu-gce and e2e-ubuntu-gce-containerd
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/M

#16200 Fix typo in needs-rebase GitHub query
  prow/external-plugins/needs-rebase/plugin/plugin.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#16199 specify versions of containerd/runc we want to test
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#16192 Kops - Add --kops-dns-provider to kubetest
  kubetest/kops.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS

#16185 Delete pipeline resources when pipeline run is deleted
  prow/cmd/pipeline/BUILD.bazel
  prow/cmd/pipeline/controller.go
  prow/cmd/pipeline/controller_test.go
  prow/cmd/pipeline/main.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#16204 Update dns provider flag for e2e test
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics.yaml
Labels: approved, area/config, area/provider/aws, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#16208 [Access-tokens] Add experimental test to check stability of test on Prow instances
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, needs-ok-to-test, sig/scalability, sig/testing, size/M

#16211 Adding vpa updater test
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#16210 Kops - Reduce interval for CoreDNS e2e tests
  config/jobs/kubernetes/sig-cloud-provider/aws/kops/kops-periodics.yaml
Labels: approved, area/config, area/provider/aws, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#16213 Optional presubmit for ubuntu/containerd
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/M

#16214 Try fixing coverage report generation
  config/jobs/kubernetes/sig-testing/coverage.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16195 Add presubmit job for network proxy
  config/jobs/kubernetes/sig-api-machinery/sig-api-machinery-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#16179 Add cncf/apisnoop webapp and kubemacs image-builder/push to staging
  config/jobs/image-pushing/k8s-staging-apisnoop.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#16218 boskos: update entrypoint for janitor after directory restructure
  boskos/cmd/janitor/BUILD.bazel
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XS

#16209 update blobfuse csi driver config
  config/jobs/kubernetes-sigs/blobfuse-csi-driver/blobfuse-csi-driver-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/XS

#16212 prow cluster: create loop devices in advance
  prow/cluster/loop_dev_daemonset.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#16184 enabledRepos should be a list of org/repo
  prow/plugins/approve/approve.go
  prow/plugins/approve/approve_test.go
  prow/plugins/blockade/blockade.go
  prow/plugins/blockade/blockade_test.go
  prow/plugins/dco/dco.go
  prow/plugins/lgtm/lgtm.go
  prow/plugins/lgtm/lgtm_test.go
  prow/plugins/slackevents/slackevents.go
  prow/plugins/slackevents/slackevents_test.go
  prow/plugins/trigger/trigger.go
  prow/plugins/trigger/trigger_test.go
  prow/plugins/welcome/welcome.go
  prow/plugins/welcome/welcome_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#16225 Azure: enable securityContext in pull-azuredisk-csi-driver-unit
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/XS

#16119 Kubetest - Add support for dumping pod logs
  kubetest/dump.go
  kubetest/kops.go
  kubetest/kubernetes.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/M

#16028 Tide status: Mark PRs with conflicts as such
  prow/tide/status.go
  prow/tide/status_test.go
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/M

#16222 kops staging builds: build release branches also
  config/jobs/image-pushing/k8s-staging-kops.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#16230 normalize naming and auto deploy create loop devs daemonset into buil…
  prow/cluster/BUILD.bazel
  prow/cluster/create-loop-devs_daemonset.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#16122 Update TestGrid for istio
  config/testgrids/istio/gen-config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XXL

#15956 Update test-infra jobs to bazel 2.0.0
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-postsubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#15955 Use bazel 2.0.0
  .bazelversion
  load.bzl
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#16206 Boskos: Remove downstream client
  boskos/cleaner/BUILD.bazel
  boskos/cleaner/cleaner_test.go
  boskos/cmd/boskos/BUILD.bazel
  boskos/cmd/boskos/boskos.go
  boskos/cmd/cleaner/BUILD.bazel
  boskos/cmd/cleaner/main.go
  boskos/cmd/fake-mason/BUILD.bazel
  boskos/cmd/fake-mason/main.go
  boskos/common/common.go
  boskos/crds/BUILD.bazel
  boskos/crds/client.go
  boskos/crds/crd_storage.go
  boskos/crds/drlc_crd.go
  boskos/crds/register.go
  boskos/crds/resource_crd.go
  boskos/handlers/BUILD.bazel
  boskos/handlers/handlers_test.go
  boskos/mason/BUILD.bazel
  boskos/mason/mason_test.go
  boskos/ranch/BUILD.bazel
  boskos/ranch/ranch.go
  boskos/ranch/ranch_test.go
  boskos/ranch/storage.go
  boskos/storage/BUILD.bazel
  boskos/storage/storage_test.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XL

#16136 Publishing arm64 conformance test results in conformance-arm page
  config/testgrids/conformance/conformance-all.yaml
Labels: approved, area/config, area/conformance, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#16197 Add ixdy to boskos OWNERS
  boskos/OWNERS
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XS

#16220 Fix network proxy e2e presubmit to point to PR
  config/jobs/kubernetes/sig-api-machinery/sig-api-machinery-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#16232 Update gcloud-bazel to use bazel 2.1.0
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#16233 Produce images using recent bazel versions
  images/bazelbuild/variants.yaml
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/S

#16234 Update repo-infra to bazel 2.1.0
  config/jobs/kubernetes/repo-infra/repo-infra-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16231 [Testing]KFP Post submit mkp deployment base image
  config/jobs/kubeflow/kubeflow-postsubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#16236 Enforce that image pushing jobs use our GCB builder.
  config/tests/jobs/jobs_test.go
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#16235 Clone kubernetes/release in gopath for network proxy e2e
  config/jobs/kubernetes/sig-api-machinery/sig-api-machinery-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16237 Remove some debt
  BUILD.bazel
  images/bootstrap/Dockerfile
  images/bootstrap/barnacle/.gitignore
  images/bootstrap/barnacle/BUILD.bazel
  images/bootstrap/barnacle/main.go
  images/bootstrap/cloudbuild.yaml
  images/bootstrap/runner.sh
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/L

#16238 Use image to choose bazel version in CI
  config/jobs/kubernetes/test-infra/test-infra-canaries.yaml
  config/jobs/kubernetes/test-infra/test-infra-postsubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#16221 Enable a few more things in gce-ubuntu-containerd jobs
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#16239 Update to repo-infra v0.0.2 for bazel 2.1.0 support
  .bazelversion
  load.bzl
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#16242 update kubetest install instructions to be usable
  kubetest/README.md
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS

#16229 Azure: migrate CSI drivers job config to Pod Utilities
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blobfuse-csi-driver/blobfuse-csi-driver-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/L

#16228 Use right perf-tests version in old kubemark tests
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.14.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#16244 Azure: check out k/k when using kubetest
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blobfuse-csi-driver/blobfuse-csi-driver-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/M

#16227 Fix version of kubernetes in kubemark-500 tests
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.14.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#16249 Boskos: Use cache for reading data
  boskos/cmd/boskos/boskos.go
  boskos/crds/BUILD.bazel
  boskos/crds/client.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/M

#16196 Boskos: add option to serve Prometheus resource metrics from core server
  boskos/BUILD.bazel
  boskos/cmd/boskos/BUILD.bazel
  boskos/cmd/boskos/boskos.go
  boskos/cmd/metrics/BUILD.bazel
  boskos/cmd/metrics/metrics.go
  boskos/common/common.go
  boskos/metrics/BUILD.bazel
  boskos/metrics/resources.go
  boskos/metrics/resources_test.go
  boskos/ranch/ranch.go
  boskos/ranch/ranch_test.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XL

#16240 Run post-deploy job on changes under "examples" folder
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-ci.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16246 Make alvaroaleman reviewer in boskos/
  boskos/OWNERS
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XS

#15367 git: implement a next-generation git client
  prow/flagutil/BUILD.bazel
  prow/flagutil/git.go
  prow/git/git_test.go
  prow/git/v2/BUILD.bazel
  prow/git/v2/client_factory.go
  prow/git/v2/executor.go
  prow/git/v2/executor_test.go
  prow/git/v2/fakes.go
  prow/git/v2/interactor.go
  prow/git/v2/interactor_test.go
  prow/git/v2/publisher.go
  prow/git/v2/publisher_test.go
  prow/git/v2/remote.go
  prow/git/v2/remote_test.go
Labels: approved, area/config, area/prow, area/prow/deck, area/prow/hook, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/XXL, ¯\_(ツ)_/¯

#15937 Declare some trusted service accounts
  prow/cluster/BUILD.bazel
  prow/cluster/trusted_serviceaccounts.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#16247 Update TestGrid for istio
  config/testgrids/istio/gen-config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/M

#16250 Update CAPA e2e test timeouts
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#16251 Use bazel 2.0.0 to push images
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#16252 Fix network proxy presubmit (bazel flag)
  config/jobs/kubernetes/sig-api-machinery/sig-api-machinery-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16255 Use real bazel version in bazelbuild images
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#16257 Remove unused _GO_VERSION substitution
  images/bootstrap/cloudbuild.yaml
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/XS

#16260 Revert boskos to v20200206-f88edefe8
  prow/cluster/boskos.yaml
Labels: approved, area/boskos, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#16264 Use workload-identity for testgrid-config-updater
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  testgrid/config-upload.sh
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#16194 Kops - add priority path to canary jobs
  config/jobs/kubernetes/sig-testing/kubetest-canaries.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16180 Add the service-apis SIG kind/user-story label.
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#16269 Run network proxy e2e job in specific cluster
  config/jobs/kubernetes/sig-api-machinery/sig-api-machinery-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16270 boskos: disable controller-runtime manager metrics
  boskos/crds/client.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XS

#16271 boskos metrics: fix typo in resource name
  boskos/metrics/resources.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/XS

#16256 Azure: Increase VM size and agent pool for [Slow] jobs
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/S

#16215 Introduce log collection for aks-engine Windows Nodes
  kubetest/azure.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/M

#16272 aws-janitor - only detach ENIs if they're attached
  boskos/aws-janitor/resources/network_interface.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/S

#16279 [Access-tokens] Rollout access-tokens test to the first set of jobs
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/scalability, sig/testing, size/XS

#16267 Add Boskos CRDs to prow/cluster, and bump Boskos back to latest
  prow/cluster/boskos.yaml
Labels: approved, area/boskos, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#16278 prow cluster: fix and/or create loop devices
  prow/cluster/create-loop-devs_daemonset.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#16188 Add new instances to scalability boskos pool
  prow/cluster/boskos-resources.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#16273 Allow running boskos without a config
  boskos/cmd/boskos/boskos.go
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/S

#16280 Update ingress-nginx jobs
  config/jobs/kubernetes/sig-network/ingress-nginx.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#16266 boskos core: don't attempt to create CRDs
  boskos/crds/BUILD.bazel
  boskos/crds/client.go
  go.mod
  prow/cluster/boskos.yaml
Labels: approved, area/boskos, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#16261 Use workload identity to push prow and boskos
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/S

#16263 Use workload-identity to authenticate resultstore job
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#16243 Improve docs about build clusters and auto-deployment.
  prow/more_prow.md
  prow/scaling.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#16282 Increase the test timeout on the unit coverage job
  config/jobs/kubernetes/sig-testing/coverage.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16265 Use workload identity to deploy and push
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/L
