Repository kubernetes/test-infra, pull requests merged in 2020-04, with the labels that each got.

#16942 Add Image Push Job For Kubernetes CSI
  config/jobs/image-pushing/k8s-staging-csi.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#16892 Switch SIG Docs merge method from squash to merge (default)
  config/prow/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#17020 Azure: Install Azure CLI
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  kubetest/aksengine.go
  kubetest/azure_helpers.go
Labels: approved, area/config, area/kubetest, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/M

#17025 Azure: add a presubmit job that runs Azure Disk CSI Driver e2e test on a WIndows cluster
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/M

#17034 Remove redundant experimental overrides from jobs
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, ok-to-test, sig/release, sig/testing, size/M

#17052 [Logexporter] Enable extra systemd logs
  logexporter/cmd/main.go
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/S

#17053 Update load test definition
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, sig/windows, size/XS

#17047 Add wg-k8s-infra testgrid dashboard
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/jobs/kubernetes/wg-k8s-infra/k8sio-presubmit.yaml
  config/testgrids/kubernetes/wg-k8s-infa/OWNERS
  config/testgrids/kubernetes/wg-k8s-infa/config.yaml
  config/tests/testgrids/config_test.go
Labels: approved, area/config, area/release-eng, area/testgrid, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M, wg/k8s-infra

#17059 lgtm plugin: export lgtm regexes
  prow/plugins/lgtm/lgtm.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/S

#16850 clean up unused references to stale coreos images
  jobs/e2e_node/benchmark-config.yaml
  jobs/e2e_node/image-config-1-11.yaml
  jobs/e2e_node/image-config-1-12.yaml
  jobs/e2e_node/image-config-1-13.yaml
  jobs/e2e_node/image-config-1-14.yaml
  jobs/e2e_node/image-config-serial.yaml
  jobs/e2e_node/image-config.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/L

#17049 Prow job yaml for kubernetes-sigs/scheduler-plugins
  config/jobs/kubernetes-sigs/scheduler-plugins/OWNERS
  config/jobs/kubernetes-sigs/scheduler-plugins/scheduler-plugins-presubmits.yaml
  config/tests/testgrids/config_test.go
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/scheduling, sig/testing, size/M

#17048 pull-k8sio-backup: use workload identity
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  prow/cluster/build_serviceaccounts.yaml
Labels: approved, area/config, area/prow, area/prow/bump, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#17061 Fix the load test definition
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, sig/windows, size/XS

#17054 [Scalability] Update chaos monkey experiment related tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/testgrids/config.yaml
  config/testgrids/conformance/conformance-all.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/M

#16990 tide: skip unknown context in kubernetes-sigs/cluster-api-provider-openstack
  config/prow/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#17046 Group sig-instrumentation dashboards
  config/testgrids/kubernetes/sig-instrumentation/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS

#17068 ghproxy: log more debugging messages for collaborators call
  ghproxy/ghcache/coalesce.go
Labels: approved, area/ghproxy, cncf-cla: yes, lgtm, sig/testing, size/S

#17060 kubetest: remove kubeadmdind deploy
  kubetest/BUILD.bazel
  kubetest/kubeadmdind/BUILD.bazel
  kubetest/kubeadmdind/OWNERS
  kubetest/kubeadmdind/kubeadm_dind.go
  kubetest/kubeadmdind/kubeadm_dind_test.go
  kubetest/main.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XL

#16939 Publishing several arm64 ci test results into upstream
  config/testgrids/conformance/conformance-all.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#17062 post-k8sio-cip: use workload identity
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#16595 Add periodic job for basic SCTP e2e test cases
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  config/testgrids/kubernetes/sig-network/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#17040 Update cluster-api-provider-gcp jobs for v1alpha3
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/L

#17070 add preset config for secrets-store ci
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-presets.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#17073 add csi-secrets-store presubmit job for e2e-azure
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#17079 Add --gke-subnet-mode flag to GKE deployer in kubetest
  kubetest/gke.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#17081 Revert "Merge pull request #17068 from stevekuznetsov/skuznets/log-mo…
  ghproxy/ghcache/coalesce.go
Labels: approved, area/ghproxy, cncf-cla: yes, lgtm, sig/testing, size/S

#17077 cleanup CAPO build/tests jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-openstack/OWNERS
  config/jobs/kubernetes-sigs/cluster-api-provider-openstack/cluster-api-provider-openstack-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#16731 Publishing several e2e ci test results into upstream
  config/testgrids/conformance/conformance-all.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#17082 Updateconfig: Continue updating on error
  prow/plugins/updateconfig/BUILD.bazel
  prow/plugins/updateconfig/updateconfig.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/S

#17086 Fix sig-scalability release-branch jobs
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, kind/bug, lgtm, sig/release, sig/scalability, sig/testing, size/M

#16852 Remove --hyperkube and KUBE_BUILD_HYPERKUBE references
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-testing/coverage.yaml
  config/jobs/kubernetes/sig-testing/local-e2e.yaml
  kubetest/local.go
  scenarios/kubernetes_build.py
Labels: approved, area/config, area/kubetest, area/release-eng, area/scenarios, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#17085 Azure: add a presubmit job that runs Azure File CSI Driver e2e test on a Windows cluster
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/M

#17084 Remove unnecessary prefix from oauth volume/volumemount
  prow/pod-utils/decorate/podspec.go
  prow/pod-utils/decorate/podspec_test.go
Labels: approved, area/prow, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/XS

#17088 azure: add option to test secrets-store-csi-driver
  kubetest/aksengine.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/M

#17089 Fix scalability release branch jobs (take 2)
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#16889 Merge PR with base branch before checking OWNERS
  prow/plugins/verify-owners/verify-owners.go
  prow/plugins/verify-owners/verify-owners_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#17101 Add a bazelbuild 2.2.0 image variant
  images/bazelbuild/variants.yaml
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/XS

#17102 Kops - Update the image used for Ubuntu 18.04
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#17103 Kops - Switch Amazon Linux 2 e2e test to Docker runtime
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#16678 Allow kops tests to run with not yet supported versions of kubernetes
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#17105 Set CONCURRENT_SERVICE_SYNCS to 5 in gce 5k correctness tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#17106 Azure: split kubernetes_storage.json into in-tree volume plugins and csi proxy job template
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.15-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.16-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.17-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.18-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/M

#17108 Allow e2e-kops-aws-k8s-latest to run with too new k8s version
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#17100 Use upstream utilerrors instead of downstream copy
  maintenance/migratestatus/migrator/BUILD.bazel
  maintenance/migratestatus/migrator/migrator.go
  prow/BUILD.bazel
  prow/cmd/branchprotector/BUILD.bazel
  prow/cmd/branchprotector/protect.go
  prow/cmd/checkconfig/BUILD.bazel
  prow/cmd/checkconfig/main.go
  prow/cmd/checkconfig/main_test.go
  prow/cmd/deck/BUILD.bazel
  prow/cmd/deck/tide.go
  prow/cmd/peribolos/BUILD.bazel
  prow/cmd/peribolos/main.go
  prow/config/BUILD.bazel
  prow/config/config.go
  prow/crier/reporters/gcs/BUILD.bazel
  prow/crier/reporters/gcs/reporter.go
  prow/cron/BUILD.bazel
  prow/cron/cron.go
  prow/errorutil/BUILD.bazel
  prow/errorutil/aggregate.go
  prow/errorutil/doc.go
  prow/github/BUILD.bazel
  prow/github/client.go
  prow/github/types.go
  prow/plugins/BUILD.bazel
  prow/plugins/config.go
  prow/plugins/trigger/BUILD.bazel
  prow/plugins/trigger/pull-request.go
  prow/plugins/trigger/trigger.go
  prow/pod-utils/gcs/BUILD.bazel
  prow/pod-utils/gcs/upload.go
  prow/statusreconciler/BUILD.bazel
  prow/statusreconciler/controller.go
  prow/tide/BUILD.bazel
  prow/tide/tide.go
Labels: approved, area/prow, area/prow/branchprotector, area/prow/crier, area/prow/deck, area/prow/peribolos, area/prow/plugins, area/prow/pod-utilities, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/L

#17117 Expose prune repo defaults function
  prow/cmd/peribolos/main.go
  prow/cmd/peribolos/main_test.go
  prow/config/org/BUILD.bazel
  prow/config/org/org.go
  prow/config/org/org_test.go
Labels: approved, area/prow, area/prow/peribolos, cncf-cla: yes, lgtm, sig/testing, size/L

#17118 Add a verify-build job to scheduler-plugins presubmits
  config/jobs/kubernetes-sigs/scheduler-plugins/scheduler-plugins-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/scheduling, sig/testing, size/S

#17055 Add kind/regression label
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/testing, size/S

#17110 add windows e2e presubmit for csi-secrets-store
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#17109 Update the wmi exporter binary
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, sig/windows, size/XS

#17107 Enable timeout for SSH-ing to non-logexported nodes
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/scalability, sig/testing, size/S

#17116 Update command arguments for cluster-api-provider-gcp presubmit conformance job
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#17115 testgrid: Update OpenShift dashboards
  config/testgrids/openshift/groups.yaml
  config/testgrids/openshift/redhat-openshift-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.1-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.1-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.2-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.2-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.3-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.3-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.4-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.4-broken.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.4-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.5-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.5-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-informing.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.6-informing.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XXL

#17127 label_sync: remove wg/resource-management label
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/testing, size/XS

#17134 jobs: skip_report for pull-kubernetes-e2e-node-containerd
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#17135 ghpath: update matching
  ghproxy/ghmetrics/ghpath.go
  ghproxy/ghmetrics/ghpath_test.go
  prow/simplifypath/simplify.go
Labels: approved, area/ghproxy, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#17131 SDCICD-241 / Refresh OSD Testgrid Dashboards
  config/testgrids/openshift/dedicated.yaml
  config/testgrids/openshift/groups.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#17136 jobs: add sig/ labels to OWNERS for kubernetes/ jobs
  config/jobs/kubernetes/client-go/OWNERS
  config/jobs/kubernetes/cloud-provider-alibaba-cloud/OWNERS
  config/jobs/kubernetes/cloud-provider-aws/OWNERS
  config/jobs/kubernetes/cloud-provider-gcp/OWNERS
  config/jobs/kubernetes/cloud-provider-openstack/OWNERS
  config/jobs/kubernetes/cloud-provider-vsphere/OWNERS
  config/jobs/kubernetes/cluster-registry/OWNERS
  config/jobs/kubernetes/community/OWNERS
  config/jobs/kubernetes/kops/OWNERS
  config/jobs/kubernetes/node-problem-detector/OWNERS
  config/jobs/kubernetes/org/OWNERS
  config/jobs/kubernetes/publishing-bot/OWNERS
  config/jobs/kubernetes/repo-infra/OWNERS
  config/jobs/kubernetes/sig-api-machinery/OWNERS
  config/jobs/kubernetes/sig-apps/OWNERS
  config/jobs/kubernetes/sig-cli/OWNERS
  config/jobs/kubernetes/sig-instrumentation/OWNERS
  config/jobs/kubernetes/sig-network/OWNERS
  config/jobs/kubernetes/sig-node/OWNERS
  config/jobs/kubernetes/sig-scalability/OWNERS
  config/jobs/kubernetes/sig-scheduling/OWNERS
  config/jobs/kubernetes/sig-storage/OWNERS
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#17138 Make status-reconciler use ghproxy.
  prow/cluster/statusreconciler_deployment.yaml
Labels: approved, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#17140 Don't fail kubetest with leaked firewall rules
  kubetest/gke.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#17078 Update pipeline to v.011.0 (v1beta1)
  go.mod
  go.sum
  repos.bzl
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#17139 add presubmit build job for csi-secrets-store
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#17120 go.mod: pin latest aws-k8s-tester + aws-sdk-go
  go.mod
  go.sum
  kubetest2/kubetest2-eks/main.go
  repos.bzl
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/M

#17143 replace links to gubernator.k8s.io with prow.k8s.io
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/prow/config.yaml
  robots/issue-creator/sources/triage-filer.go
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#17141 Postsubmits must vote non-negatively
  prow/crier/reporters/gerrit/reporter.go
  prow/crier/reporters/gerrit/reporter_test.go
  prow/gerrit/client/client.go
Labels: approved, area/prow, area/prow/crier, area/prow/gerrit, cncf-cla: yes, lgtm, sig/testing, size/L

#17144 Remove kubemacs from apisnoop, move cloudbuild dir
  config/jobs/image-pushing/k8s-staging-apisnoop.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#16622 Add resource requests for smd benchmark jobs
  config/jobs/kubernetes-sigs/structured-merge-diff/structured-merge-diff-ci.yaml
  config/jobs/kubernetes-sigs/structured-merge-diff/structured-merge-diff-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#17066 Advance KIND version to 0.7.0
  kubetest/kind/kind.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#17137 Enable blockade for design-proposals
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#17130 prow/spyglass: preserve formatting in failures output
  prow/spyglass/lenses/junit/junit.css
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#17124 Kubeflow Pipeline: add presubmit, remove postsubmit
  config/jobs/kubeflow/kubeflow-postsubmits.yaml
  config/jobs/kubeflow/kubeflow-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/M

#17121 deck: use prow/github instead of go-github in oauth handlers
  prow/cmd/deck/BUILD.bazel
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
  prow/flagutil/BUILD.bazel
  prow/flagutil/git.go
  prow/flagutil/github.go
  prow/github/client.go
  prow/githuboauth/BUILD.bazel
  prow/githuboauth/githuboauth.go
  prow/githuboauth/githuboauth_test.go
Labels: approved, area/ghproxy, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/L

#17072 Build gcsweb image
  BUILD.bazel
  gcsweb/BUILD.bazel
  gcsweb/Dockerfile.in
  gcsweb/Makefile
  gcsweb/README.md
  gcsweb/build/build.sh
  gcsweb/build/test.sh
  gcsweb/cmd/gcsweb/BUILD.bazel
  gcsweb/passwd
  prow/BUILD.bazel
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L, ¯\_(ツ)_/¯

#16926 prow command to list possible tests on PR
  prow/plugins/trigger/generic-comment.go
  prow/plugins/trigger/generic-comment_test.go
  prow/plugins/trigger/trigger.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#17126 sig-contribex: update k/community and k/org OWNERS
  config/jobs/kubernetes/community/OWNERS
  config/jobs/kubernetes/org/OWNERS
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/contributor-experience, sig/testing, size/S

#17149 labels: add k/k8s.io manually-created labels
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/testing, size/M, wg/k8s-infra

#17154 don't use kind + bazel on 1.17
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#17155 still build in 1.17 presubmit (!)
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#17156 Remove ci-kubernetes-e2e-gce-min-node-permissions
  config/jobs/kubernetes/sig-cloud-provider/gcp/gce-misc.yaml
Labels: approved, area/config, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/S

#17150 reintroduce ci-k8sio-backup job
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  prow/cluster/trusted_serviceaccounts.yaml
Labels: approved, area/config, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#17158 use kind from newer commit
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#17159 bootstrap flags => podutils
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#17132 Azure: promote windows PR jobs for Azure Disk and Azure File CSI Driver
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/XS

#17152 Remove sig-instrumentation failing tests and empty dashboards
  config/jobs/kubernetes/sig-instrumentation/sig-instrumentation-config.yaml
  config/testgrids/kubernetes/sig-instrumentation/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/instrumentation, sig/testing, size/L

#17161 prow: fixup nil pointer introduced by s3 refactoring of gcs-upload
  pkg/io/BUILD.bazel
  pkg/io/option.go
  prow/pod-utils/gcs/metadata.go
  prow/pod-utils/gcs/metadata_test.go
  prow/pod-utils/gcs/upload.go
Labels: approved, area/prow, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/M

#17164 add getRepo function in the fake github client
  prow/github/fakegithub/fakegithub.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#17119 prow/plugins/config: Add DependentBugTargetReleases
  prow/plugins/bugzilla/BUILD.bazel
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
  prow/plugins/config.go
  prow/plugins/config_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#17165 Bugzilla: Fix a NPD
  prow/bugzilla/client.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#17170 Boskos: Avoid error-level logs if possible
  boskos/handlers/handlers.go
  boskos/handlers/handlers_test.go
  boskos/handlers/testdata/testacquirebystate-alreadyowned-response.golden
  boskos/handlers/testdata/testacquirebystate-nostate-response.golden
Labels: approved, area/boskos, cncf-cla: yes, lgtm, sig/testing, size/M

#17166 Replace the removed plugin log label.
  prow/plugins/plugins.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/XS

#17123 Allow image push for k8s dns images
  config/jobs/image-pushing/k8s-staging-dns.yaml
  config/testgrids/kubernetes/sig-network/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#17167 Add ServiceAccountIssuerDiscovery focus to alpha features tests
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#17173 GCSUpload: Remove special case for GCP
  prow/pod-utils/gcs/BUILD.bazel
  prow/pod-utils/gcs/upload.go
Labels: approved, area/prow, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/M

#17175 github: publish user info for token hashes
  ghproxy/ghcache/ghcache.go
  prow/github/BUILD.bazel
  prow/github/client.go
Labels: approved, area/ghproxy, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#17162 Move pkg/io to prow/io
  BUILD.bazel
  prow/BUILD.bazel
  prow/cmd/gerrit/BUILD.bazel
  prow/cmd/gerrit/main.go
  prow/cmd/gerrit/main_test.go
  prow/flagutil/BUILD.bazel
  prow/flagutil/storage.go
  prow/gcsupload/options.go
  prow/io/BUILD.bazel
  prow/io/opener.go
  prow/io/option.go
  prow/io/providers/BUILD.bazel
  prow/io/providers/providers.go
  prow/io/providers/providers_test.go
  prow/pod-utils/gcs/BUILD.bazel
  prow/pod-utils/gcs/metadata.go
  prow/pod-utils/gcs/metadata_test.go
  prow/pod-utils/gcs/upload.go
  prow/statusreconciler/BUILD.bazel
  prow/statusreconciler/controller.go
  prow/statusreconciler/status.go
  prow/statusreconciler/status_test.go
  prow/tide/BUILD.bazel
  prow/tide/history/BUILD.bazel
  prow/tide/history/history.go
  prow/tide/history/history_test.go
  prow/tide/status.go
  prow/tide/tide.go
Labels: approved, area/prow, area/prow/gcsupload, area/prow/gerrit, area/prow/pod-utilities, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/M

#17163 Add label for Ukrainian language
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/contributor-experience, sig/testing, size/XS

#17176 we have kind v0.7 as the stable version in kubetest / kubekins now, r…
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#17125 Skip SCTP test on alpha features job
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#17177 pull-k8sio-cip: bump promoter image
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#17051 Add activate Kubespray yamllint CI job and use Kubespray image
  config/jobs/kubernetes-sigs/kubespray/kubespray-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#17182 plugins/approve: do not approve empty PRs
  prow/plugins/approve/approvers/approvers_test.go
  prow/plugins/approve/approvers/owners.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/XS

#17178 jobs: remove [Unreleased] tag
  config/jobs/kubernetes/generated/generated.yaml
  releng/test_config.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#14122 Remove CI for service load balancer finalizer
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  config/testgrids/kubernetes/sig-network/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/network, sig/testing, size/S

#17184 Add testgrid for k/cp-gcp presubmits.
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-presubmits.yaml
  config/testgrids/kubernetes/sig-cloud-provider/gcp/config.yaml
  config/tests/testgrids/config_test.go
Labels: approved, area/config, area/provider/aws, area/provider/gcp, area/testgrid, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#17192 github: use 'Bearer' authentication type
  prow/github/client.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#17172 CAPZ add conformance periodic
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#17191 Fix cluster-api-provider-aws pull-cluster-api-provider-aws-make-conformance timeout
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#17179 jobs: move pull-kubernetes-{verify,dependencies} release-branch jobs
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-testing/dependencies.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/L

#17194 prow/config: fix typo in plank.report_template
  config/prow/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#17198 Gather junit results for k/cp-gcp presubmits.
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-presubmits.yaml
Labels: approved, area/config, area/provider/aws, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/S

#17199 Add missing path alias to k/cp-gcp presubmit.
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-presubmits.yaml
Labels: approved, area/config, area/provider/aws, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#17186 Add test procedure doc for images
  images/README.md
Labels: approved, area/images, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#17189 Update sig-scheduling owners
  config/jobs/kubernetes/sig-scheduling/OWNERS
  config/testgrids/kubernetes/sig-scheduling/OWNERS
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/scheduling, sig/testing, size/S

#17153 Add serathius to sig-instrumentation approvers
  config/jobs/kubernetes/sig-instrumentation/OWNERS
  config/testgrids/kubernetes/sig-instrumentation/OWNERS
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/instrumentation, sig/testing, size/S

#17202 [Scalability][Containerd] Enable logs for experimental job
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#17122 Tide: Don't create retests for unfinished or successful batch jobs
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/XL

#17203 add wg-api-expression label
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/testing, size/XS

#17157 Ghcache: partition by Authorization header
  ghproxy/README.md
  ghproxy/ghcache/BUILD.bazel
  ghproxy/ghcache/ghcache.go
  ghproxy/ghcache/partitioner.go
  ghproxy/ghcache/partitioner_test.go
  ghproxy/ghproxy.go
Labels: approved, area/ghproxy, cncf-cla: yes, lgtm, sig/testing, size/L

#17200 Scale up iis load test to 80 pods
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, sig/windows, size/XS

#17185 Add 1.18 kubernetes-csi CI jobs
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/external-resizer/external-resizer-config.yaml
  config/jobs/kubernetes-csi/external-snapshotter/external-snapshotter-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/livenessprobe/livenessprobe-config.yaml
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XL

#17204 releng: Update OWNERS
  OWNERS_ALIASES
  config/jobs/kubernetes/release/OWNERS
  config/jobs/kubernetes/sig-release/OWNERS
  config/testgrids/kubernetes/sig-release/OWNERS
  releng/OWNERS
Labels: approved, area/config, area/release-eng, area/testgrid, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#17206 Update ingress-nginx jobs
  config/jobs/kubernetes/sig-network/ingress-nginx.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/network, sig/testing, size/S

#17209 sig-cluster-lifecycle: remove 1.15 kubeadm/kinder jobs
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-etcd.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-upgrade.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-x-on-y.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/manifests.yaml
Labels: approved, area/config, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, sig/cluster-lifecycle, sig/testing, size/L

#17214 [Scalability][Containerd] Add containerd preset
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/S

#17216 Request from containerd/cri maintainers to mute the broken job
  config/jobs/containerd/cri/containerd-cri-presubmit-jobs.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#17213 jobs: remove jobs that use --gke-environment=test
  config/jobs/gke/containerd/gke-test-containerd.yaml
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-config.yaml
  config/jobs/kubernetes/sig-cli/sig-cli-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gke.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/README.md
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gcp-gpu-presubmits.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gke.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/upgrade-gke.yaml
  config/jobs/kubernetes/sig-instrumentation/sig-instrumentation-config.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/testgrids/config.yaml
  config/testgrids/generated-test-config.yaml
  config/testgrids/istio/gen-config.yaml
  config/testgrids/kubernetes/sig-api-machinery/config.yaml
  config/testgrids/kubernetes/sig-apps/config.yaml
  config/testgrids/kubernetes/sig-cli/config.yaml
  config/testgrids/kubernetes/sig-instrumentation/config.yaml
  config/testgrids/kubernetes/sig-network/config.yaml
  config/testgrids/kubernetes/sig-scheduling/config.yaml
  releng/test_config.yaml
Labels: approved, area/config, area/provider/gcp, area/release-eng, area/testgrid, cncf-cla: yes, lgtm, sig/cli, sig/cloud-provider, sig/instrumentation, sig/network, sig/release, sig/testing, size/XXL

#17221 labels: Set deletion for 'sig/pm' and add 'area/enhancements'
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/testing, size/S

#17114 Add metrics-server presubmits
  config/jobs/kubernetes-sigs/metrics-server/OWNERS
  config/jobs/kubernetes-sigs/metrics-server/metrics-server-presubmits.yaml
  config/testgrids/kubernetes/sig-instrumentation/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#17205 ghproxy: add token hash label to cache response metric
  ghproxy/ghcache/BUILD.bazel
  ghproxy/ghcache/coalesce.go
  ghproxy/ghcache/coalesce_test.go
  ghproxy/ghcache/ghcache.go
  ghproxy/ghmetrics/BUILD.bazel
  ghproxy/ghmetrics/ghmetrics.go
  ghproxy/ghmetrics/hash.go
Labels: approved, area/ghproxy, cncf-cla: yes, lgtm, sig/testing, size/L

#17211 Deprecate plank reporting.
  prow/ANNOUNCEMENTS.md
  prow/cmd/crier/main.go
  prow/cmd/plank/BUILD.bazel
  prow/cmd/plank/main.go
  prow/cmd/plank/reporter.go
  prow/flagutil/github.go
  prow/plank/BUILD.bazel
  prow/plank/controller.go
  prow/plank/controller_test.go
Labels: approved, area/prow, area/prow/crier, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/L

#17226 Added new google-osconfig dashboard
  config/testgrids/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#17228 Add ingress-nginx job for helm chart e2e tests
  config/jobs/kubernetes/sig-network/ingress-nginx.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/network, sig/testing, size/M

#17227 sig-pm: Transfer k/enhancements jobs to SIG Arch Enhancements subproject
  OWNERS_ALIASES
  config/jobs/kubernetes/enhancements/OWNERS
  config/jobs/kubernetes/enhancements/enhancements-presubmit.yaml
  config/jobs/kubernetes/sig-pm/OWNERS
Labels: approved, area/config, area/enhancements, cncf-cla: yes, lgtm, sig/architecture, sig/pm, sig/testing, size/M

#17233 Kops - Add periodic e2e for Ubuntu 20.04 (Focal)
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#17217 Adding bugzilla severity labels
  prow/labels/labels.go
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#17234 Add pull-cluster-api-apidiff
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#17224 [capz] Add conformance test as optional presubmit
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
Labels: approved, area/config, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#17225 Updated changes to testgrid for 4.5 and 4.6
  config/testgrids/openshift/redhat-openshift-ocp-release-4.5-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-informing.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#17243 k8s-jkns-ci-node-e2e is busted use boskos to pick run ci-kubernetes-node-kubelet
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/node, sig/testing, size/XS

#17242 Make csi 1.18 pull jobs required
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/external-resizer/external-resizer-config.yaml
  config/jobs/kubernetes-csi/external-snapshotter/external-snapshotter-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/livenessprobe/livenessprobe-config.yaml
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#17247 k8s-jkns-ci-node-e2e is busted switch to k8s-jkns-gke-gci-soak
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#17244 Update getting_started_deploy.md
  prow/getting_started_deploy.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#17246 add wg-k8s GCB job for kind
  config/jobs/image-pushing/k8s-staging-kind.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#17252 correct GCB bucket
  config/jobs/image-pushing/k8s-staging-kind.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, ¯\_(ツ)_/¯

#17251 jobs: pin ci-kubernetes-node-e2e-kubelet to spare project
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/node, sig/testing, size/XS

#17245 Update COS images used by node_e2e jobs
  jobs/e2e_node/benchmark-config.yaml
  jobs/e2e_node/containerd/containerd-master/image-config.yaml
  jobs/e2e_node/containerd/containerd-release-1.2/image-config.yaml
  jobs/e2e_node/containerd/containerd-release-1.3/image-config.yaml
  jobs/e2e_node/containerd/cri-master/benchmark-config.yaml
  jobs/e2e_node/containerd/cri-master/image-config-pr.yaml
  jobs/e2e_node/containerd/cri-master/image-config.yaml
  jobs/e2e_node/containerd/image-config.yaml
  jobs/e2e_node/image-config-serial-cpu-manager.yaml
  jobs/e2e_node/image-config-serial.yaml
  jobs/e2e_node/image-config.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/node, sig/testing, size/L

#17249 Remove GCE windows-prototype job
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, sig/windows, size/M

#17222 jobs: rm gke/containerd dir
  config/jobs/gke/containerd/OWNERS
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#17238 jobs: move pull-kubernetes-integration release-branch jobs
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-testing/integration.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/L

#17231 label_sync: migrate wg/apply to wg/api-expression
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/testing, size/S

#17256 pass the env we want
  config/jobs/image-pushing/k8s-staging-kind.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS
