Repository kubernetes/test-infra, pull requests merged in 2020-09, with the labels that each got.

#19075 Enable /override command in Cluster API projects
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#19076 Migrate kubernetes kubemark presubmits to k8s-infra-prow-build
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/tests/jobs/jobs_test.go
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/scalability, sig/testing, size/M

#19077 Move pull-kubernetes-bazel-build-canary to k8s-infra-prow-build
  config/jobs/kubernetes/sig-testing/kubetest-canaries.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#19079 Drop --gcp-project= flag from kubernetes network-proxy presubmits
  config/jobs/kubernetes/sig-api-machinery/sig-api-machinery-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/api-machinery, sig/testing, size/M

#19081 Tune release-blocking kind job resources down
  config/jobs/kubernetes-sigs/kind/kind-release-blocking.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#19064 add support for testing different windows runtimes to kubetest
  kubetest/aksengine_helpers.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/M

#18948 Plank: Allow startup even when there are defunct kubeconfigs
  prow/cmd/plank/main.go
  prow/cmd/prow-controller-manager/main.go
  prow/flagutil/kubernetes_cluster_clients.go
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/S

#19062 prow/plugins/override: normalize user before looking up in OWNERS
  prow/plugins/override/override.go
  prow/plugins/override/override_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#19071 Revert tag-match flag for image builder
  config/jobs/image-pushing/k8s-staging-descheduler.yaml
  images/builder/main.go
Labels: approved, area/images, cncf-cla: yes, lgtm, priority/critical-urgent, sig/testing, size/S

#19055 Return error when no artifacts found during fetching in spyglass
  prow/spyglass/lenses/common/common.go
  prow/spyglass/spyglass.go
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#18961 Add presubmit jobs for node-feature-discovery
  config/jobs/kubernetes-sigs/node-feature-discovery/OWNERS
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M

#19088 Change defunct kubeconfig error level to Error
  prow/cmd/plank/main.go
  prow/cmd/prow-controller-manager/main.go
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/XS

#19087 Sinker: Dont incorrectly declare pods orphaned due to outdated pj list
  prow/cmd/sinker/BUILD.bazel
  prow/cmd/sinker/main.go
  prow/cmd/sinker/main_test.go
Labels: approved, area/prow, area/prow/sinker, cncf-cla: yes, lgtm, sig/testing, size/M

#19093 Update aks-engine version to v0.55.1
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.16.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.17.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.18.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.19.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/sig-azure-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/M

#19096 Enable OOM tracking in all kubemark tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, kind/cleanup, lgtm, sig/scalability, sig/testing, size/XS

#19098 Fetch only object names from GCS
  prow/io/iterator.go
  prow/io/opener.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#19095 chore: update api model for single stack ipv6
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/XS

#19100 Bumper: Fix remote tree check to cope with absent branch
  experiment/autobumper/bumper/bumper.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#19101 Update testgrids for openshift
  config/testgrids/openshift/redhat-openshift-ocp-release-4.4-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.5-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.7-informing.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XL

#19006 ConfigUpdater: Allow targeting a named list of clusters
  prow/ANNOUNCEMENTS.md
  prow/cmd/checkconfig/main_test.go
  prow/plugins/BUILD.bazel
  prow/plugins/config.go
  prow/plugins/config_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/L

#18680 Update the deployment templates for serial jobs
  config/jobs/kubernetes-sigs/sig-windows/release-1.17-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.18-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#19103 [cluster-api] Skip running tests on docs
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#19092 [cluster-api] Enable smoke test for pre-submit job
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#19109 Fix oncall slack handle
  experiment/slack-oncall-updater/main.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#19113 [Cluster-api] Regex fix
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#19107 capz: Update milestone applier to v0.4.9
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#19117 switch aks-engine template url for ipv6 test
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/XS

#19118 Rely on default autorepair setting on GKE rapid channel
  kubetest/gke.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS

#19102 Allow relying on default GKE cluster shape
  kubetest/gke.go
  kubetest/main.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/S

#19119 Add requests/limits for golang jobs
  config/jobs/kubernetes/sig-scalability/sig-scalability-golang.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/L

#19121 cluster-api: Add go.sum to file matches
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#19090 Sinker: Use cache for pods
  config/prow/cluster/sinker_rbac.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  prow/cmd/prow-controller-manager/main.go
  prow/cmd/sinker/BUILD.bazel
  prow/cmd/sinker/main.go
  prow/cmd/sinker/main_test.go
  prow/flagutil/kubernetes_cluster_clients.go
Labels: approved, area/config, area/prow, area/prow/bump, area/prow/sinker, cncf-cla: yes, lgtm, sig/testing, size/L

#19044 sig-scalability: add scheduler 100-node kubemark test
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/scalability, sig/scheduling, sig/testing, size/M

#19125 image-pushing/k8s-staging-nfd: add PULL_BASE_SHA as a gcb substitution
  config/jobs/image-pushing/k8s-staging-nfd.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#19126 Update pull-boskos-build-test-verify to go1.15
  config/jobs/kubernetes-sigs/boskos/boskos-postsubmits.yaml
  config/jobs/kubernetes-sigs/boskos/boskos-presubmits.yaml
Labels: approved, area/boskos, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#19106 Add Readme to prow-controller-manager
  prow/cmd/prow-controller-manager/README.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#19127 prow/override: Trim whitespace in /override <context>
  prow/plugins/override/override.go
  prow/plugins/override/override_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#19011 Add k8s-staging-cluster-addons staging job
  config/jobs/image-pushing/k8s-staging-cluster-addons.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#19091 Optional CI jobs for containerd/containerd repo
  config/jobs/containerd/containerd/OWNERS
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
  config/prow/plugins.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
Labels: approved, area/config, area/jobs, area/testgrid, cncf-cla: yes, lgtm, sig/node, sig/testing, size/L

#19132 Change cilium periodic filter
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#19122 Log cmd in bumper in order to making debugging easier
  experiment/autobumper/bumper/bumper.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#19020 Plank: Mark jobs whose pod is deleted as done
  prow/plank/controller.go
  prow/plank/controller_test.go
  prow/plank/reconciler.go
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/L

#19111 Azure: add 1.19 jobs for Windows
  config/jobs/kubernetes-sigs/sig-windows/release-1.19-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-sac.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/L

#19136 Add service.kubernetes.io back in to the filter + flaky NodePort
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#19138 Replace inactive owners in kubernetes/cloud-provider-aws
  config/jobs/kubernetes/cloud-provider-aws/OWNERS
Labels: approved, area/config, area/jobs, area/provider/aws, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#19143 Add petr-muller to Prow reviewers
  prow/OWNERS
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#19134 Azure: point all aksaengine-download-url to a shorten URL
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.16-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.17-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.18-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.19-windows.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.16.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.17.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.18.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.19.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/sig-azure-config.yaml
  config/jobs/kubernetes/sig-network/dualstack-e2e.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/cloud-provider, sig/network, sig/testing, size/L

#19133 Update ingress-nginx jobs to use promoted images
  config/jobs/kubernetes/sig-network/ingress-nginx.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/network, sig/testing, size/M

#19145 Update openshift testgrid
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-informing.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/S

#18536 Fix ssh username for FCOS host
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/node, sig/testing, size/XS

#19137 Include spelling to transfigure.sh bazel tests
  testgrid/cmd/transfigure/transfigure.sh
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS

#19129 Fix broken GitHub search link in tide status
  prow/cmd/deck/static/tide/tide.ts
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#19131 Add postsubmit job for node-feature-discovery e2e testing
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-postsubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M

#19148 Use cos-lts-85 for containerd master
  jobs/e2e_node/containerd/containerd-master/image-config.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/node, sig/testing, size/XS

#19149 Fix prod-push make command for Kettle
  kettle/Makefile
Labels: approved, area/kettle, cncf-cla: yes, lgtm, sig/testing, size/XS

#19120 Add requests/limits for all sig-scalability presubmits
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/testgrids/conformance/conformance-all.yaml
  config/testgrids/kubernetes/presubmits/config.yaml
Labels: approved, area/config, area/jobs, area/testgrid, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/M

#19154 Bump gce-scale-correctness mem limit to 64 GBs
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#19144 Give some memory back for pull k8s typecheck job
  config/jobs/kubernetes/sig-testing/typecheck.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#19142 Update local-e2e.yaml
  config/jobs/kubernetes/sig-testing/local-e2e.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#19139 Add Prow useful talk from recent Kubecon EU virtual 2020
  prow/README.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#19164 [cluster-lifecycle] Removing v1.16 e2e jobs from manifest
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-discovery.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-etcd.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-kustomize.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, sig/testing, size/L

#18970 Include Junit result class in Junit Lens
  prow/spyglass/lenses/junit/template.html
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/S

#19167 Add Kubebuilder Maintainers to milestone command
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#19168 kind job updates
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#19171 Fix Crier handling of reporters that report multiple PJs.
  prow/crier/controller.go
Labels: approved, area/prow, area/prow/crier, cncf-cla: yes, lgtm, sig/testing, size/M

#19170 Migrate pull-kubernetes-bazel-test to k8s-infra-prow-build
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#19174 Update csi-driver-smb-config.yaml
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#19176 releng: Update build directory for kube-cross images
  config/jobs/image-pushing/k8s-staging-build-image.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#19177 Fix a typo in node-feature-discovery postsubmit job config
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-postsubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#19179 Bump cpu from 4 to 7 for pull-kubernetes-bazel-test
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#19175 Update TestGrid for istio
  config/testgrids/istio/gen-config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#19026 Add kettle unit tests for populate_finish
  kettle/make_json_test.py
Labels: approved, area/kettle, cncf-cla: yes, lgtm, sig/testing, size/M, tide/merge-method-squash

#19038 Add more jobs to kettle's garbage job list
  kettle/make_db.py
Labels: approved, area/kettle, cncf-cla: yes, lgtm, sig/testing, size/XS

#19183 Reduce ci-conformance-kind-ga-only cpu to 7
  config/jobs/kubernetes/sig-testing/conformance-e2e.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#18974 remove node-kubelet-serial-alpha as it doesn't contain any tests
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
Labels: approved, area/config, area/jobs, area/testgrid, cncf-cla: yes, kind/cleanup, lgtm, sig/node, sig/testing, size/M

#19130 Add build presubmit job for node-feature-discovery
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#19141 image-pushing: add config for nfd-operator
  config/jobs/image-pushing/k8s-staging-nfd-operator.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/node, sig/testing, size/M, ¯\_(ツ)_/¯

#19153 removes canary job that tested migration changes
  config/jobs/kubernetes/sig-api-machinery/sig-api-machinery-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/api-machinery, sig/testing, size/M

#19190 Revert "Update prow to v20200910-1f6f59015c, and other images as nece…
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/grandmatriarch.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/plank_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tot_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Labels: approved, area/config, area/jobs, area/label_sync, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/L

#19193 Ensure test-infra postsubmits only run on master.
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M

#19194 Revert "Sinker: Use cache for pods #19090"
  config/prow/cluster/sinker_rbac.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  prow/cmd/prow-controller-manager/main.go
  prow/cmd/sinker/BUILD.bazel
  prow/cmd/sinker/main.go
  prow/cmd/sinker/main_test.go
  prow/flagutil/kubernetes_cluster_clients.go
Labels: approved, area/config, area/prow, area/prow/bump, area/prow/sinker, cncf-cla: yes, lgtm, sig/testing, size/L

#19198 run e2e test on minimum k8s version
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/XS

#19199 set minimum version as 1.15 for azure tests
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/XS

#19197 add csi-driver-nfs test support on kubetest
  kubetest/aksengine.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS

#19201 Fix requests&limits for golang job
  config/jobs/kubernetes/sig-scalability/sig-scalability-golang.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#19202 Bump gce-scale-correctness mem limit to 120 GBs
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#19159 Bumper: Allow user to specify working directory for git push
  experiment/autobumper/bumper/bumper.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L, tide/merge-method-squash

#19185 add auto push for kube-storage-version-migrator
  config/jobs/image-pushing/k8s-staging-storage-migrator.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#19029 Make the order of test cases shown in JUnit deterministic
  prow/spyglass/lenses/junit/lens.go
  prow/spyglass/lenses/junit/lens_test.go
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/M

#19208 Decrease crier cache update check poll period to 100ms.
  prow/crier/controller.go
Labels: approved, area/prow, area/prow/crier, cncf-cla: yes, lgtm, sig/testing, size/XS

#19204 Sinker: Use cache for pods
  config/prow/cluster/sinker_rbac.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  prow/cmd/prow-controller-manager/main.go
  prow/cmd/sinker/BUILD.bazel
  prow/cmd/sinker/main.go
  prow/cmd/sinker/main_test.go
  prow/flagutil/kubernetes_cluster_clients.go
Labels: approved, area/config, area/prow, area/prow/bump, area/prow/sinker, cncf-cla: yes, lgtm, sig/testing, size/L

#19052 Add config job for running gce pd driver on win1909
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-windows.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M

#19212 Update Spyglass docs and configure buildlog lens to highlight start of bazel output.
  config/prow/config.yaml
  prow/spyglass/README.md
Labels: approved, area/config, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/M

#19200 Update Legacy Endpoints for Delete and Edit
  prow/cmd/peribolos/main.go
  prow/cmd/peribolos/main_test.go
  prow/github/client.go
  prow/github/client_test.go
Labels: approved, area/prow, area/prow/peribolos, cncf-cla: yes, kind/cleanup, lgtm, sig/testing, size/M, tide/merge-method-squash

#19214 Update kubernetes release team email
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-ci.yaml
  config/jobs/kubernetes-sigs/kind/kind-release-blocking.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
  config/jobs/kubernetes/sig-cli/sig-cli-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gce-conformance.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-upgrade.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-x-on-y.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder.yaml
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
  config/jobs/kubernetes/sig-testing/conformance-e2e.yaml
  config/jobs/kubernetes/sig-testing/integration.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, area/release-eng, cncf-cla: yes, lgtm, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/release, sig/scalability, sig/testing, size/L

#19196 Update TestGrid for istio
  config/testgrids/istio/gen-config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#19213 Fix nondeterminism in /prow/git squash merge unit test.
  prow/git/git_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#19221 Bump k8s Versions For Descheduler E2E Tests
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-master.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#19216 Add on demand e2e test for CAPI
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#19223 Add CI Jobs For Descheduler 1.19 Release Branch
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-release-1.19.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#19224 Bump COS LTS version, 77->81, 81->85
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-ci.yaml
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-presubmits.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
  jobs/e2e_node/containerd/image-config.yaml
  jobs/e2e_node/image-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/node, sig/testing, size/S

#19225 Remove comment referring to upstream PodPreset, they were removed
  prow/config/config.go
  prow/config/jobs.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#19219 Autobumper: Improve error message when multiple versions are found
  experiment/autobumper/bumper/bumper.go
  experiment/autobumper/bumper/bumper_test.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/M

#19218 Allow alvaroaleman to rerun post-test-infra-push-prow
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#19226 kind-conformance-image: use latest kind like the rest of CI
  experiment/kind-conformance-image-e2e.sh
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#19227 Set global cookiefile once, before running parallel clones.
  prow/clonerefs/run.go
  prow/clonerefs/run_test.go
  prow/pod-utils/clone/clone.go
  prow/pod-utils/clone/clone_test.go
Labels: approved, area/prow, area/prow/clonerefs, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/M

#19217 Adding kube dns benchmark to presubmit jobs
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/scalability, sig/testing, size/M

#19235 run migration tests on Windows for azure disk CSI driver
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/M

#19236 fix azure disk windows migration test config
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/XS

#19237 add azure file migration test config
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/M

#19116 releng(kubekins, krte): Update Golang versions to go1.15.2
  images/kubekins-e2e/variants.yaml
Labels: approved, area/images, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#19239 Bump CPU request and limit for linter presubmit job
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#19241 Upload dns presubmit logs to the right place
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#19230 Add Prometheus recording rules and grafana dashboards for SLO compliance.
  config/prow/cluster/monitoring/BUILD.bazel
  config/prow/cluster/monitoring/grafana_deployment.yaml
  config/prow/cluster/monitoring/mixins/dashboards_out/BUILD.bazel
  config/prow/cluster/monitoring/mixins/grafana_dashboards/BUILD.bazel
  config/prow/cluster/monitoring/mixins/grafana_dashboards/slo.jsonnet
  config/prow/cluster/monitoring/mixins/lib/config.libsonnet
  config/prow/cluster/monitoring/mixins/prometheus/prometheus.libsonnet
  config/prow/cluster/monitoring/mixins/prometheus/prow_prometheusrule.jsonnet
  config/prow/cluster/monitoring/mixins/prometheus/slo_recordrules.libsonnet
  config/prow/cluster/monitoring/mixins/prometheus/tide_alerts.libsonnet
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/L

#19245 Add breaking change announcement for new sinker list and watch rbac requirement
  prow/ANNOUNCEMENTS.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#19135 Add presubmit jobs for node-feature-discovery-operator
  config/jobs/kubernetes-sigs/node-feature-discovery-operator/OWNERS
  config/jobs/kubernetes-sigs/node-feature-discovery-operator/node-feature-discovery-operator-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#19220 enable udp tests on kind presubmits
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#19243 Update TestGrid for istio
  config/testgrids/istio/gen-config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#19234 update apisnoop image build to work with new apisnoop app structure
  config/jobs/image-pushing/k8s-staging-apisnoop.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#19246 Update absent alert to target prow-controller-manager instead of plank
  config/prow/cluster/monitoring/mixins/prometheus/ci_absent_alerts.libsonnet
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#19247 Alert if crier, horologium, prow-controller-manager are down.
  config/prow/cluster/monitoring/mixins/prometheus/ci_absent_alerts.libsonnet
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/S

#19249 Update plank dashboard to reference prow-controller-manager
  config/prow/cluster/monitoring/BUILD.bazel
  config/prow/cluster/monitoring/mixins/grafana_dashboards/plank.jsonnet
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/S

#19251 Dialing down spyglass artifact size limits.
  config/prow/config.yaml
  prow/spyglass/README.md
Labels: approved, area/config, area/prow, area/prow/deck, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/XS

#19252 Update TestGrid for istio
  config/testgrids/istio/gen-config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/S

#19215 Add Image Push Job For Scheduler Plugins
  config/jobs/image-pushing/k8s-staging-scheduler-plugins.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#19254 Update DNS image push yaml to trigger on new tags
  config/jobs/image-pushing/k8s-staging-dns.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#19255 Make component SLO graphs full width, omit component label.
  config/prow/cluster/monitoring/mixins/grafana_dashboards/slo.jsonnet
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#19244 Github: Add trace-level logging of curl command to easen debugging
  prow/github/BUILD.bazel
  prow/github/client.go
  prow/github/client_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#19261 Revert memory bump in ci-kubernetes-e2e-gce-scale-correctness
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#19240 community: Use slack-infra staging project images for tempelis jobs
  config/jobs/kubernetes/community/community-presubmit.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/contributor-experience, sig/testing, size/XS

#19260 disable pull-azurefile-csi-driver-e2e-migration
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/XS

#19025 Add unit tests for Kettle populate_start
  kettle/make_json_test.py
Labels: approved, area/kettle, cncf-cla: yes, lgtm, sig/testing, size/M, tide/merge-method-squash

#19250 Validate all Spyglass artifact requests against size limits
  prow/spyglass/lenses/lenses.go
  prow/spyglass/podlogartifact.go
  prow/spyglass/podlogartifact_test.go
  prow/spyglass/storageartifact.go
  prow/spyglass/storageartifact_test.go
Labels: approved, area/prow, area/prow/deck, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/L

#19262 adding link information for prow bot to containerd/containterd
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#19114 Allow gcsweb to use a GCS service account credentials for authentication
  gcsweb/cmd/gcsweb/BUILD.bazel
  gcsweb/cmd/gcsweb/gcsweb.go
  gcsweb/cmd/gcsweb/gcsweb_test.go
  gcsweb/cmd/gcsweb/templates.go
  go.mod
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XXL

#19187 Add exclusion list to buckets.yaml in Kettle
  kettle/README.md
  kettle/buckets.yaml
  kettle/make_db.py
  kettle/make_db_test.py
Labels: approved, area/kettle, cncf-cla: yes, kind/feature, lgtm, sig/testing, size/M

#19195 Add call timing and error dumping to kettle
  kettle/update.py
Labels: approved, area/kettle, cncf-cla: yes, lgtm, sig/testing, size/M

#19263 Setup metrics for crier and horologium
  config/prow/cluster/BUILD.bazel
  config/prow/cluster/crier_service.yaml
  config/prow/cluster/horologium_service.yaml
  config/prow/cluster/monitoring/prow_servicemonitors.yaml
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/L

#19231 Make clonerefs setup commands create a record.
  prow/clonerefs/run.go
  prow/clonerefs/run_test.go
  prow/pod-utils/clone/BUILD.bazel
  prow/pod-utils/clone/format.go
  prow/pod-utils/clone/format_test.go
  prow/pod-utils/clone/types.go
Labels: approved, area/prow, area/prow/clonerefs, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/L

#19267 Expose horologium metrics
  prow/cmd/horologium/BUILD.bazel
  prow/cmd/horologium/main.go
Labels: approved, area/prow, area/prow/horologium, cncf-cla: yes, lgtm, sig/testing, size/XS

#19266 Improve SLO dashboard layout and labeling.
  config/prow/cluster/monitoring/mixins/grafana_dashboards/slo.jsonnet
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#19268 Add containerd to managed_webhooks
  config/prow/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#19269 releng: Update k/release CI image to not use bazel and update presubmits
  config/jobs/image-pushing/k8s-staging-releng.yaml
  config/jobs/kubernetes/release/release-config.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#19258 Move dashpole to emeritus for node
  config/jobs/kubernetes/sig-node/OWNERS
  config/testgrids/kubernetes/sig-node/OWNERS
  jobs/e2e_node/OWNERS
Labels: approved, area/config, area/jobs, area/testgrid, cncf-cla: yes, lgtm, sig/node, sig/testing, size/S

#19273 Set ssh username with KUBE_SSH_USER if available
  kubetest/e2e.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#19279 Set KOPS_RUN_TOO_NEW_VERSION for pull-kubernetes-e2e-kops-aws
  config/jobs/kubernetes/kops/kubernetes-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#19278 bugzilla plugin: add StateAfterClosed config
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
  prow/plugins/config.go
  prow/plugins/config_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/L

#19281 Use the "ubuntu" SSH user for pull-kubernetes-e2e-kops-aws
  config/jobs/kubernetes/kops/kubernetes-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#19282 Use the "ubuntu" SSH user for pull-kubernetes-e2e-kops-aws (2)
  config/jobs/kubernetes/kops/kubernetes-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#19285 Use the "ubuntu" SSH user for pull-kubernetes-e2e-kops-aws (3)
  config/jobs/kubernetes/kops/kubernetes-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS
