Repository kubernetes/test-infra, pull requests merged in 2020-12, with the labels that each got.

#20072 Revert "Update image promo presubmit/periodic jobs to use v3.0.0 image"
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  config/jobs/kubernetes/wg-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#20070 Github: Plug through org information for project endpoints
  prow/github/client.go
  prow/github/fakegithub/fakegithub.go
  prow/plugins/project/project.go
  prow/plugins/projectmanager/projectmanager.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/M

#20074 [releng] 1.20: Add Slack exempt_branches rule for release-1.20 branch
  config/prow/plugins.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#20075 [releng] 1.20: Add 1.20 and remove 1.16 milestone_applier rules
  config/prow/plugins.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#20076 [releng] 1.20: Update kubekins-e2e variants.yaml with 1.20 config
  images/kubekins-e2e/variants.yaml
Labels: approved, area/images, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#20077 [releng] 1.20: Enable milestone restrictions for release-1.20 branch
  config/prow/config.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#19009 Prepare config-forker for unique names in prow
  releng/config-forker/BUILD.bazel
  releng/config-forker/README.md
  releng/config-forker/main.go
  releng/config-forker/main_test.go
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, ok-to-test, sig/release, sig/testing, size/L

#20083 capg: not run conformance for All PRs and make e2e mandatory
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#20084 capg: update interval for periodic conformance tests to 12 hours
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-ci.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#20069 Github: Plug through org information for teams endpoints
  prow/apis/prowjobs/v1/types.go
  prow/apis/prowjobs/v1/types_test.go
  prow/cmd/deck/main.go
  prow/cmd/peribolos/main.go
  prow/cmd/peribolos/main_test.go
  prow/github/client.go
  prow/github/client_test.go
  prow/github/fakegithub/fakegithub.go
  prow/plugins/lgtm/lgtm.go
  prow/plugins/milestone/milestone.go
  prow/plugins/milestonestatus/milestonestatus.go
  prow/plugins/override/override.go
  prow/plugins/override/override_test.go
  prow/plugins/project/project.go
Labels: approved, area/prow, area/prow/deck, area/prow/peribolos, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/L

#20073 Add adr-required label for CAPA
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#20080 Clean up label_sync useless code
  label_sync/main.go
  label_sync/main_test.go
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/testing, size/XS

#20065 Metrics also collects prow version timestamp
  prow/jenkins/controller.go
  prow/kube/BUILD.bazel
  prow/kube/metrics.go
  prow/plank/controller.go
  prow/plank/reconciler.go
  prow/version/BUILD.bazel
  prow/version/doc.go
  prow/version/doc_test.go
Labels: approved, area/prow, area/prow/jenkins-operator, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/L

#20086 Github: Add some app-related methods
  prow/github/client.go
  prow/github/types.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#20079 releng: Generate 1.20 release branch jobs
  config/jobs/kubernetes-sigs/sig-windows/release-1.16-windows.yaml
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.20.yaml
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
  config/testgrids/kubernetes/sig-release/config.yaml
  releng/config-forker/BUILD.bazel
  releng/config-forker/README.md
  releng/config-forker/main.go
  releng/config-forker/main_test.go
  releng/prepare_release_branch.py
  releng/test_config.yaml
Labels: approved, area/config, area/jobs, area/release-eng, area/testgrid, cncf-cla: yes, lgtm, priority/critical-urgent, sig/release, sig/testing, size/XXL

#20087 storage-migrator presubmit: use kubetest instead of kubernetes_e2e.py
  config/jobs/kubernetes-sigs/kube-storage-version-migrator/kube-storage-version-migrator-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#20090 releng: Manual kubekins-e2e bump to v20201124-be2d6d8-**
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.20.yaml
  releng/test_config.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/L

#20040 Tide: Degrade error writing http response to debug
  prow/tide/history/history.go
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/XS

#20062 Enabling logging k8s.io/perf-tests commit history
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#19852 kubeadm: add kinder test jobs for k8s 1.20
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-discovery.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-etcd.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-upgrade.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-x-on-y.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/L

#20093 prow: sidecar: allow ignoring interrupts
  prow/sidecar/options.go
  prow/sidecar/run.go
Labels: approved, area/prow, area/prow/pod-utilities, area/prow/sidecar, cncf-cla: yes, lgtm, sig/testing, size/M

#20089 azure: release-1.20 jobs for k/k and windows
  config/jobs/kubernetes-sigs/sig-windows/release-1.20-windows.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.20.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XL

#20102 storage migrator e2e: use latest k8s version
  config/jobs/kubernetes-sigs/kube-storage-version-migrator/kube-storage-version-migrator-ci.yaml
  config/jobs/kubernetes-sigs/kube-storage-version-migrator/kube-storage-version-migrator-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M

#20103 Register prow version for prometheus
  prow/kube/metrics.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#20107 Make sinker log the number of pods it sees in each cluster.
  prow/cmd/sinker/main.go
Labels: approved, area/prow, area/prow/sinker, cncf-cla: yes, lgtm, sig/testing, size/XS

#19775 Add crio periodic jobs
  config/jobs/kubernetes/sig-node/crio.yaml
Labels: approved, area/config, area/jobs, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/node, sig/testing, size/M

#20100 Switch kubernetes 1.20 bazel jobs to an image that exists
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.20.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#20110 Update Descheduler Master Branch Jobs To Use Go 1.15.5
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-master.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#20108 set gcp-project-type for crio periodic jobs
  config/jobs/kubernetes/sig-node/crio.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/node, sig/testing, size/XS

#20116 Bump containerd version to 1.4.3
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.20.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, area/release-eng, cncf-cla: yes, lgtm, sig/cloud-provider, sig/network, sig/release, sig/testing, size/S

#20022 Trigger oncall upon post submit failures
  config/jobs/kubeflow/kubeflow-postsubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#20111 labels: Add area/artifacts label to additional repos
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/testing, size/M

#20092 Add cri-tools postsubmit job to build test user images
  config/jobs/image-pushing/k8s-infra-staging-cri-tools.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/node, sig/testing, size/L

#20113 capg: update release branch to release-0.3
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#19829 prow/plugins/requiresig: remove plugin
  prow/ANNOUNCEMENTS.md
  prow/external-plugins/needs-rebase/plugin/plugin_test.go
  prow/hook/plugin-imports/BUILD.bazel
  prow/hook/plugin-imports/plugin-imports.go
  prow/labels/labels.go
  prow/plugins/BUILD.bazel
  prow/plugins/config.go
  prow/plugins/plugin-config-documented.yaml
  prow/plugins/require-matching-label/require-matching-label_test.go
  prow/plugins/requiresig/BUILD.bazel
  prow/plugins/requiresig/requiresig.go
  prow/plugins/requiresig/requiresig_test.go
Labels: approved, area/prow, area/prow/hook, area/prow/plugins, cncf-cla: yes, kind/cleanup, lgtm, sig/testing, size/L

#20109 Use an options to gather the flags for label_sync
  label_sync/main.go
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/testing, size/L

#20119 Add an alert when prow was not bumped for some time
  config/prow/cluster/monitoring/mixins/lib/config.libsonnet
  config/prow/cluster/monitoring/mixins/prometheus/prometheus.libsonnet
  config/prow/cluster/monitoring/mixins/prometheus/stale_alerts.libsonnet
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/S

#20120 renamed aws-alb-ingress-controller to be aws-load-balancer-controller
  config/jobs/kubernetes-sigs/aws-load-balancer-controller/OWNERS
  config/jobs/kubernetes-sigs/aws-load-balancer-controller/aws-alb-ingress-controller-presubmits.yaml
  config/testgrids/kubernetes/sig-cloud-provider/aws/config.yaml
Labels: approved, area/config, area/jobs, area/provider/aws, area/testgrid, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/S

#20031 Only run nfd postsubmit e2e tests for master branch
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-postsubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#20129 Add TiDB to Prow project list
  prow/README.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#20130 capdo: make e2e test required
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#20114 Add cluster-api-provider-gcp v0.4 and v0.3 milestone to plugins
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#20082 capg: add cpanato to the owners file
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/OWNERS
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#20121 GHProxy: Add metrics about cache entry age
  ghproxy/ghcache/coalesce.go
  ghproxy/ghcache/ghcache.go
  ghproxy/ghmetrics/ghmetrics.go
Labels: approved, area/ghproxy, cncf-cla: yes, lgtm, sig/testing, size/M

#20122 Bump go to 1.15
  WORKSPACE
  load.bzl
  testgrid/cmd/configurator/main.go
  testgrid/cmd/configurator/prow_test.go
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#20126 kops: create a one-off job to test ARM builds
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#20134 kops-grid scripts: use python3
  config/jobs/kubernetes/kops/Makefile
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#20132 image-pushing/k8s-staging-nfd: build images for release branches
  config/jobs/image-pushing/k8s-staging-nfd.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#20127 storage migrator: add a multizone job
  config/jobs/kubernetes-sigs/kube-storage-version-migrator/kube-storage-version-migrator-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M

#20135 image-pushing/k8s-staging-nfd: enable release tags
  config/jobs/image-pushing/k8s-staging-nfd.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#20125 Add job to push aws-ebs-csi-driver images
  config/jobs/image-pushing/k8s-staging-cloud-provider-aws.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#20138 capz: remove old release-0.2 bazel pr jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#20140 swith e2e test to run on eastus2
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/XS

#20097 Add tests for containerd
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XXL

#20117 Continue to test stable version of kops
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XXL

#20143 Add some API links for needs-rebase
  prow/external-plugins/needs-rebase/plugin/plugin.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#20136 kOps - Remove dependency on TravisCI
  config/prow/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#20142 capdo: add periodic job to clean DO account
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-periodics.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#20094 kubeadm jobs: update manifests.yaml to not use latest-master
  config/jobs/kubernetes/sig-cluster-lifecycle/manifests.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#20146 Skip SCTP test on k8sstable1 alpha features
  config/jobs/kubernetes/generated/generated.yaml
  releng/test_config.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#19966 Replace SingleCommit with RepositoryCommit
  prow/github/client.go
  prow/github/fakegithub/fakegithub.go
  prow/github/types.go
  prow/plugins/lgtm/lgtm.go
  prow/plugins/lgtm/lgtm_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#20150 Ghoproxy: Only set cache age header for non-304 responses
  ghproxy/ghcache/ghcache.go
  ghproxy/ghmetrics/ghmetrics.go
Labels: approved, area/ghproxy, cncf-cla: yes, lgtm, sig/testing, size/XS

#20098 azure: remove 1.20 containerd jobs
  config/jobs/kubernetes-sigs/sig-windows/release-1.20-windows.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/L

#20137 GHProxy: Add missing paths to simplifier
  ghproxy/ghmetrics/ghpath.go
  ghproxy/ghmetrics/ghpath_test.go
Labels: approved, area/ghproxy, cncf-cla: yes, lgtm, sig/testing, size/S

#20099 Github v3: Add apps authentication support
  ghproxy/ghcache/coalesce.go
  ghproxy/ghcache/ghcache.go
  go.mod
  go.sum
  prow/flagutil/BUILD.bazel
  prow/flagutil/github.go
  prow/github/BUILD.bazel
  prow/github/app_auth_roundtripper.go
  prow/github/app_auth_roundtripper_integration_test.go
  prow/github/app_auth_roundtripper_test.go
  prow/github/client.go
  prow/github/client_test.go
  repos.bzl
Labels: approved, area/ghproxy, area/prow, area/prow/deck, area/robots, cncf-cla: yes, lgtm, sig/testing, size/XXL

#20147 image-pushing/k8s-staging-nfd-operator: enable release branches and tags
  config/jobs/image-pushing/k8s-staging-nfd-operator.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#20151 Setting lgtm_acts_as_approve to false for service-apis
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#20154 Ghproxy: Simplify path in cache age metric
  ghproxy/ghmetrics/ghmetrics.go
Labels: approved, area/ghproxy, cncf-cla: yes, lgtm, sig/testing, size/XS

#20156 storage migrator: use kinder for HA test
  config/jobs/kubernetes-sigs/kube-storage-version-migrator/kube-storage-version-migrator-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M

#20158 azure: remove 2004 containerd hyperv jobs
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-sac.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/L

#20124 kops-grid: add one-off test for AWS External CloudController
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#20131 kops-grid: build annotations using code instead of templates
  config/jobs/kubernetes/kops/build-grid.py
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#20155 Resync RedHat SDCICD Dashboards
  config/testgrids/openshift/dedicated.yaml
  config/testgrids/openshift/groups.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XL

#20162 k-csi: remove jobs for csi-driver-flex repo
  config/jobs/kubernetes-csi/csi-driver-flex/csi-driver-flex-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M

#20153 Flagutil: Add Github enablement options
  prow/flagutil/BUILD.bazel
  prow/flagutil/github_enablement.go
  prow/flagutil/github_enablement_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#20167 Spyglass: Log an error when artifact fetching fails
  prow/spyglass/lenses/common/common.go
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/XS

#20172 releng: Kubernetes v1.20 Code Thaw
  config/prow/config.yaml
  config/prow/plugins.yaml
  images/kubekins-e2e/variants.yaml
Labels: approved, area/config, area/images, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#19576 Update Kettle Staging docs with more detail
  kettle/README.md
Labels: approved, area/kettle, cncf-cla: yes, lgtm, sig/testing, size/S, tide/merge-method-squash

#20157 Don't protect aws-ebs-csi-driver gh-pages branch
  config/prow/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#19990 Update testgrid to latest versions, and make changes to config files to support new configurator restrictions
  config/testgrids/config.yaml
  config/testgrids/conformance/conformance-all.yaml
  config/testgrids/kubernetes/kops/config.yaml
  go.mod
  go.sum
  repos.bzl
  testgrid/config.md
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, sig/testing, size/L

#20175 Test k8s 1.20 in cloud provider azure
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/M

#20173 kOps - Update AWS AMI names in periodic tests
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
  config/testgrids/kubernetes/kops/config.yaml
Labels: approved, area/config, area/jobs, area/testgrid, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XXL

#20176 Enable azure csi in-tree plugin presubmit test in out-of-tree ccm repo
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/M

#20177 kOps - Add periodic tests for k8s 1.20
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#20179 kOps - Fix typo in CentOS 8 image name
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#20163 Code cleanup in projectmanager
  prow/plugins/projectmanager/projectmanager.go
  prow/plugins/projectmanager/projectmanager_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/S

#20181 Run kops-grid-scenario-aws-cloud-controller-manager daily
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#20165 Update go-jira to avoid go mod checksum verification errors
  go.mod
  go.sum
  repos.bzl
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#20133 kops-grid: add metadata annotations to our test jobs
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XXL

#20185 Update config validation checks to be more correct
  prow/config/config.go
  prow/config/config_test.go
  prow/pod-utils/decorate/podspec.go
Labels: approved, area/prow, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/S

#20186 Crier: Allow enabling/disabling on org/repo level
  prow/cmd/crier/BUILD.bazel
  prow/cmd/crier/main.go
  prow/cmd/crier/main_test.go
  prow/crier/controller.go
  prow/crier/controller_test.go
  prow/flagutil/github_enablement.go
  prow/flagutil/github_enablement_test.go
Labels: approved, area/prow, area/prow/crier, cncf-cla: yes, lgtm, sig/testing, size/L

#20187 Statusreconciler: Don't panic on invalid orgrepo string
  prow/statusreconciler/controller.go
Labels: approved, area/prow, area/prow/status-reconciler, cncf-cla: yes, lgtm, sig/testing, size/S

#20039 Re-land "Make go autobumper configurable so it can work with more tools"
  config/jobs/kubernetes/test-infra/autobump-config.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  experiment/autobumper/BUILD.bazel
  experiment/autobumper/bumper/BUILD.bazel
  experiment/autobumper/bumper/bumper.go
  experiment/autobumper/bumper/bumper_test.go
  experiment/autobumper/main.go
  experiment/image-bumper/bumper/bumper.go
  go.mod
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XL

#20188 Fix secret token path to be absolute and move autobump config file
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/autobump-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#20161 Add support for defaulting Prow monitoring config, decouple from prow.k8s.io, and update README port-forwarding instructions to include grafana.
  config/prow/cluster/monitoring/README.md
  config/prow/cluster/monitoring/mixins/grafana_dashboards/ghproxy.jsonnet
  config/prow/cluster/monitoring/mixins/lib/config.libsonnet
  config/prow/cluster/monitoring/mixins/lib/config_util.libsonnet
  config/prow/cluster/monitoring/mixins/prometheus/boskos_alerts.libsonnet
  config/prow/cluster/monitoring/mixins/prometheus/ghproxy_alerts.libsonnet
  config/prow/cluster/monitoring/mixins/prometheus/tide_alerts.libsonnet
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/L

#20190 Adhoc 1000 node test for pohly@
  config/jobs/kubernetes/sig-scalability/sig-scalabilty-adhoc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/M

#20191 Fix timeouts in adhoc-1000 job
  config/jobs/kubernetes/sig-scalability/sig-scalabilty-adhoc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#20192 Fix typo in the scalability adhoc test filename
  config/jobs/kubernetes/sig-scalability/sig-scalability-adhoc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#20193 Added new entry in testgrid dashboard to publish s390x conformance results for v1.20
  config/testgrids/conformance/conformance-all.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#20196 config: continue improving volume mount validation
  prow/config/config.go
  prow/config/config_test.go
  prow/pod-utils/decorate/podspec.go
Labels: approved, area/prow, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/S

#19039 Remove job filtering from triage query, should be in kettle
  triage/update_summaries.sh
Labels: approved, area/triage, cncf-cla: yes, lgtm, lifecycle/stale, sig/testing, size/XS

#20200 Fix trigger for cri-tools jobs
  config/jobs/image-pushing/k8s-infra-staging-cri-tools.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#20199 Add debug message for image pusher
  prow/push.sh
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#20141 Kettle general overview
  kettle/OVERVIEW.md
  kettle/README.md
Labels: approved, area/kettle, cncf-cla: yes, lgtm, sig/testing, size/M, tide/merge-method-squash

#20180 Add a k8s conformance job to testgrid with containerd runtime on ppc64le
  config/testgrids/conformance/conformance-all.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#20202 Crier: Add github enablement flags
  prow/cmd/crier/main.go
Labels: approved, area/prow, area/prow/crier, cncf-cla: yes, lgtm, sig/testing, size/XS

#20210 Remove the pull-perf-tests-1000-adhoc job
  config/jobs/kubernetes/sig-scalability/sig-scalability-adhoc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/M

#20209 Kops - remove unnecessary verify-packages job
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/S

#20211 Fix cri-tools post summit job which is failing
  config/jobs/image-pushing/k8s-staging-cri-tools.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#20212 ncdc: move to emeritus for cluster-api*
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/OWNERS
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/OWNERS
  config/jobs/kubernetes-sigs/cluster-api/OWNERS
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#20214 Sypglass: Degrade failed to fetch error to debug
  prow/spyglass/lenses/common/common.go
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/XS

#20204 Github client: Make Bot{Name,User,Email} apps auth compatible
  prow/github/client.go
  prow/github/client_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#20205 Github: Add apps auth support for the v4 client
  prow/github/BUILD.bazel
  prow/github/app_auth_roundtripper.go
  prow/github/client.go
  prow/github/client_test.go
  prow/plugins/blunderbuss/blunderbuss.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/M

#20216 prow: allow configuring the liveness/readiness port
  gcsweb/cmd/gcsweb/BUILD.bazel
  gcsweb/cmd/gcsweb/gcsweb.go
  ghproxy/ghproxy.go
  prow/cmd/admission/main.go
  prow/cmd/admission/main_test.go
  prow/cmd/crier/main_test.go
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
  prow/cmd/exporter/main.go
  prow/cmd/gerrit/main_test.go
  prow/cmd/hook/main.go
  prow/cmd/hook/main_test.go
  prow/cmd/horologium/main_test.go
  prow/cmd/pipeline/main_test.go
  prow/cmd/plank/main_test.go
  prow/cmd/sinker/main_test.go
  prow/cmd/status-reconciler/main_test.go
  prow/cmd/tide/main_test.go
  prow/cmd/tot/main.go
  prow/external-plugins/cherrypicker/main.go
  prow/external-plugins/needs-rebase/main.go
  prow/external-plugins/refresh/main.go
  prow/flagutil/instrumentation.go
  prow/pjutil/health.go
Labels: approved, area/ghproxy, area/prow, area/prow/crier, area/prow/deck, area/prow/gerrit, area/prow/hook, area/prow/horologium, area/prow/plank, area/prow/sinker, area/prow/status-reconciler, area/prow/tide, area/prow/tot, cncf-cla: yes, lgtm, sig/testing, size/M

#20217 Bumper: Re-export bumper.PullRequestWithLabels
  experiment/autobumper/bumper/bumper.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#20220 Bump k8s version in slow test to 1.20
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/XS

#20222 Fix missing GitUser for git v2
  prow/git/v2/client_factory.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#20225 storage migrator: enable kind at prow preset
  config/jobs/kubernetes-sigs/kube-storage-version-migrator/kube-storage-version-migrator-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#20228 Add USE_TEST_INFRA_LOG_DUMPING env var to scalability presets
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#20227 Rename USE_KUBEKINS_LOG_DUMPING to USE_TEST_INFRA_LOG_DUMPING
  kubetest/e2e.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#20223 Update triggers for containerd and verify-hashes pre-submits
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#20203 Github flagutil: Prefix app-related flags names with github-
  prow/flagutil/github.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#20224 skip e2e test with hostNetwork pods
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/network, sig/testing, size/XS

#20219 Remove kubeadm-luxas jobs results that do not exist
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/S

#20232 pod-utils: expose mounts and volumes
  prow/pod-utils/decorate/podspec.go
Labels: approved, area/prow, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/M

#20230 Reference k/k in azure disk test
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/XS

#20237 kubeadm: remove 1.16 jobs, add missing 1.20 jobs
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-ca.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-patches.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-upgrade.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-x-on-y.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, kind/cleanup, kind/feature, lgtm, sig/cluster-lifecycle, sig/testing, size/L

#20226 Re-enable the pull-perf-tests-100-adhoc job
  config/jobs/kubernetes/sig-scalability/sig-scalability-adhoc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/M

#20241 Remove the in-tree env var for azure disk out-of-tree test
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/XS

#20242 Remove obsolete log dumping env var from scalability preset
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, kind/cleanup, lgtm, sig/scalability, sig/testing, size/XS

#20243 Change the aks-engine api model for the out-of-tree azuredisk test
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/XS

#20197 capz: add presubmit job for windows tests
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#20061 Parametrize gke instance group prefix
  kubetest/BUILD.bazel
  kubetest/gke.go
  kubetest/gke_test.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/L

#20245 Kops - allow newer k8s versions to be tested on kops-aws-k8s-1-20 job
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#20240 Update snapshot version to 3.0.3
  config/jobs/kubernetes-csi/OWNERS
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/csi-driver-iscsi/csi-driver-iscsi-config.yaml
  config/jobs/kubernetes-csi/csi-driver-nfs/csi-driver-nfs-config.yaml
  config/jobs/kubernetes-csi/csi-lib-utils/csi-lib-utils-config.yaml
  config/jobs/kubernetes-csi/csi-proxy/csi-proxy-config.yaml
  config/jobs/kubernetes-csi/csi-release-tools/csi-release-tools-config.yaml
  config/jobs/kubernetes-csi/csi-test/csi-test-config.yaml
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-health-monitor/external-health-monitor-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/external-resizer/external-resizer-config.yaml
  config/jobs/kubernetes-csi/external-snapshotter/external-snapshotter-config.yaml
  config/jobs/kubernetes-csi/livenessprobe/livenessprobe-config.yaml
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M

#20206 Hack: Cleanup tmp gocache after running codegen
  hack/update-codegen.sh
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#20182 Add branch protection and milestone applier for k/website 1.21
  config/prow/config.yaml
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/docs, sig/testing, size/S

#20247 Github flagutil: Add github apps private key to secret agent
  prow/flagutil/github.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#19305 Update TestGrid for istio
  config/testgrids/istio/gen-config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XXL

#20235 [Kettle] Use table ID over Name to avoid loss of transparency
  kettle/stream.py
  kettle/stream_test.py
Labels: approved, area/kettle, cncf-cla: yes, lgtm, sig/testing, size/XS

#20233 add post image build job for nfs-ganesha-server-and-external-provisioner
  config/jobs/image-pushing/k8s-staging-sig-storage.sh
  config/jobs/image-pushing/k8s-staging-sig-storage.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#20201 added periodical job for kfp functional e2e test
  config/jobs/kubeflow/kubeflow-periodics.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#19965 Add HelpGuidelinesURL configuration for help
  prow/plugins/config.go
  prow/plugins/config_test.go
  prow/plugins/help/help.go
  prow/plugins/help/help_test.go
  prow/plugins/plugin-config-documented.yaml
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#20246 Do not make logexporter logs public by default
  logexporter/cmd/Dockerfile
  logexporter/cmd/main.go
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/S

#20252 Use the new version of logexporter image
  logexporter/cluster/logexporter-daemonset.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#20253 Disable the adhoc-1000 test
  config/jobs/kubernetes/sig-scalability/sig-scalability-adhoc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/M

#20254 Fix self-detection for github reporting when using apps auth
  prow/github/client.go
  prow/github/client_test.go
  prow/github/fakegithub/fakegithub.go
  prow/github/report/report.go
  prow/github/report/report_test.go
  prow/jenkins/controller.go
  prow/jenkins/controller_test.go
Labels: approved, area/prow, area/prow/jenkins-operator, cncf-cla: yes, lgtm, sig/testing, size/L

#20255 test: added presubmit optional job for eks e2e tests
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#20251 Create a test-infra presubmit test job for interation testing prow
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#20258 kops arm64 scenario: pass zone explicitly using kops-zones flag
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/S
