Repository kubernetes/test-infra, pull requests merged in 2020-10, with the labels that each got.

#19375 Kettle dropping out of path population early
  kettle/make_json.py
Labels: approved, area/kettle, cncf-cla: yes, lgtm, sig/testing, size/XS

#19272 prow: add needs-triage and triage/accepted labels
  config/prow/plugins.yaml
  label_sync/labels.md
  label_sync/labels.yaml
  prow/labels/labels.go
  prow/plugins/label/BUILD.bazel
  prow/plugins/label/label.go
  prow/plugins/label/label_test.go
Labels: approved, area/config, area/label_sync, area/prow, area/prow/plugins, cncf-cla: yes, kind/feature, lgtm, sig/contributor-experience, sig/testing, size/L

#19417 Remove the cilium specific filters to see what is still broken
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#19418 Kops - Update Flatcar image to v2605.6.0
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#19421 Add read/liveness probes in all prow external plugins
  prow/external-plugins/cherrypicker/BUILD.bazel
  prow/external-plugins/cherrypicker/main.go
  prow/external-plugins/needs-rebase/BUILD.bazel
  prow/external-plugins/needs-rebase/main.go
  prow/external-plugins/refresh/main.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#19406 serve liveness/readness probes in ghproxy
  ghproxy/ghproxy.go
Labels: approved, area/config, area/ghproxy, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#19419 disable sctp connectivity tests on gce
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/network, sig/testing, size/XS

#19422 config/prow: add component-helpers staging repo
  config/prow/config.yaml
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#19415 Remove auto-update from gcloud run step from Kettle
  kettle/runner.sh
Labels: approved, area/kettle, cncf-cla: yes, lgtm, sig/testing, size/XS

#19429 Plank: Ignore NotFound when deleting pods
  prow/plank/reconciler.go
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/S

#19428 Fix a race in planks aborting and make it more robust
  prow/pjutil/BUILD.bazel
  prow/pjutil/abort.go
  prow/pjutil/abort_test.go
  prow/plank/controller.go
  prow/plank/controller_test.go
  prow/plank/reconciler.go
  prow/plank/reconciler_test.go
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/L

#19430 Fix typo in cilium test filter
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#19434 Update Descheduler Master Branch Jobs To Use Go 1.15.2
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-master.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#19433 Set interval for periodic cilium test back to 8h
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#19431 testgrid: Add initial openshift presubmit dashboard
  config/testgrids/openshift/groups.yaml
  config/testgrids/openshift/presubmits.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#19441 Add missing --context flag to merge_kubeconfig_secret.py
  gencred/merge_kubeconfig_secret.py
Labels: approved, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/XS

#19439 Make GenericCommentEvent synthesis aware of PR (un)locked actions.
  prow/github/types.go
  prow/hook/events.go
  prow/plugins/trigger/pull-request.go
  prow/plugins/trigger/pull-request_test.go
  prow/plugins/wip/wip-label.go
Labels: approved, area/prow, area/prow/hook, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/S, ¯\_(ツ)_/¯

#19445 Use CoreDNS for cilium periodics
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#19451 Do not return early on get-kube.sh errors in extract_k8s.go
  kubetest/extract_k8s.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS

#19424 Prepare Cluster API periodics and presubmit for v1alpha4
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-0-3.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-0-3.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/L

#19448 Kettle add option to limit number of builds pulled
  kettle/make_db.py
  kettle/make_db_test.py
Labels: approved, area/kettle, cncf-cla: yes, lgtm, sig/testing, size/M

#19306 Updated email for sig node release blocking jobs
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/node, sig/release, sig/testing, size/S

#19443 Revert "Crier github reporter: Don't block workers waiting for lock"
  prow/crier/reporters/github/BUILD.bazel
  prow/crier/reporters/github/reporter.go
  prow/crier/reporters/github/reporter_test.go
Labels: approved, area/prow, area/prow/crier, cncf-cla: yes, lgtm, sig/testing, size/L

#19354 post-test-infra-push-prow: run when GCSWeb changes
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#19454 Autobump: fail if not able to locate version updated to
  prow/cmd/autobump/autobump.sh
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#19452 Added alert email for node-critical e2e jobs
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/node, sig/testing, size/XS

#19450 Add configuration snippet to blockade plugin
  prow/plugins/blockade/blockade.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/S

#18942 autobumper also supports bumping up Boskos images
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow-staging/cluster/BUILD.bazel
  config/prow-staging/cluster/boskos-janitor.yaml
  config/prow-staging/cluster/boskos-reaper_deployment.yaml
  config/prow-staging/cluster/boskos-resources.yaml
  config/prow-staging/cluster/boskos.yaml
  experiment/autobumper/bumper/BUILD.bazel
  experiment/autobumper/bumper/bumper.go
  experiment/autobumper/bumper/bumper_test.go
  experiment/autobumper/bumper/testdata/dir/subdir1/test1-1.yaml
  experiment/autobumper/bumper/testdata/dir/subdir1/test1-2.yaml
  experiment/autobumper/bumper/testdata/dir/subdir2/test2-1.yaml
  experiment/autobumper/bumper/testdata/dir/subdir3/test3-1.yaml
  experiment/autobumper/bumper/testdata/dir/subdir3/test3-2
  experiment/autobumper/bumper/testdata/extra-file
  experiment/autobumper/main.go
  experiment/image-bumper/bumper/bumper.go
  experiment/image-bumper/main.go
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XL

#19446 run sctp tests in kind
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/network, sig/testing, size/XS

#19403 Add an integration test suite for k/release
  config/jobs/kubernetes/release/release-config.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#19464 Remove CAPA integration test
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#19467 Fix checkconfig cluster test to tolerate defaulted cluster field
  prow/cmd/checkconfig/BUILD.bazel
  prow/cmd/checkconfig/main.go
  prow/cmd/checkconfig/main_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#19465 Remove CAPZ integration test
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#19361 [CAPZ] cluster-api-provider-azure: not trigger e2e if there is a doc change
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#19442 Start tracking SLO for deck, hook, sinker, and the monitoring stack.
  config/prow/cluster/monitoring/mixins/lib/config.libsonnet
  config/prow/cluster/monitoring/mixins/prometheus/ci_absent_alerts.libsonnet
  config/prow/cluster/monitoring/mixins/prometheus/hook_alert.libsonnet
  config/prow/cluster/monitoring/mixins/prometheus/prober_alerts.libsonnet
  config/prow/cluster/monitoring/mixins/prometheus/prow_monitoring_absent_alerts.libsonnet
  config/prow/cluster/monitoring/mixins/prometheus/sinker_alerts.libsonnet
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#19460 Add a prometheus metric for missing pods in sinker.
  prow/cmd/sinker/main.go
  prow/cmd/sinker/main_test.go
Labels: approved, area/prow, area/prow/sinker, cncf-cla: yes, lgtm, sig/testing, size/M

#19457 Add some sig-node job reviewers
  config/jobs/kubernetes/sig-node/OWNERS
  jobs/e2e_node/OWNERS
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/node, sig/testing, size/XS

#19472 fix windows node os for 1909 test
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-windows.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#19462 Sync OWNERS_ALIASES for release engineering
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#19478 Tide: don't print error on user errors
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: approved, area/prow, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/S, tide/merge-method-squash

#19480 Omit empty override plugin config.
  prow/plugins/config.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/XS

#19470 Add a checkconfig ci job to use as a heartbeat for alerts.
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M

#19474 Add configuration snippet to heart, label, lgtm, milestoneapplier and…
  prow/plugins/blockade/blockade.go
  prow/plugins/heart/heart.go
  prow/plugins/label/label.go
  prow/plugins/lgtm/lgtm.go
  prow/plugins/milestoneapplier/milestoneapplier.go
  prow/plugins/override/override.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/M

#19482 Crier: don't print error message when failed to report status on commit disappeared due to force push
  prow/crier/reporters/github/reporter.go
  prow/crier/reporters/github/reporter_test.go
  prow/github/client.go
Labels: approved, area/prow, area/prow/crier, cncf-cla: yes, lgtm, sig/testing, size/S, tide/merge-method-squash

#19479 config/prow: enable needs-triage for issues in k/kubectl
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/cli, sig/testing, size/S

#19490 fix the modification time format in gcsweb tool
  gcsweb/cmd/gcsweb/gcsweb.go
  gcsweb/cmd/gcsweb/gcsweb_test.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#19491 prow/plugins: don't allow invalid keywords in PR titles
  prow/plugins/invalidcommitmsg/BUILD.bazel
  prow/plugins/invalidcommitmsg/invalidcommitmsg.go
  prow/plugins/invalidcommitmsg/invalidcommitmsg_test.go
  prow/plugins/retitle/BUILD.bazel
  prow/plugins/retitle/retitle.go
  prow/plugins/retitle/retitle_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/contributor-experience, sig/testing, size/L

#19495 Use nightly aks-engine builds for windows + hyper-v isolated container periodics
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-sac.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#19408 Add Gardener test results for kubernetes v1.19
  config/testgrids/conformance/conformance-all.yaml
  config/testgrids/gardener/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#19463 add sig-network ipvs jobs
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/network, sig/testing, size/L

#19497 Hook: Add title to generic comment event
  prow/github/types.go
  prow/hook/events.go
Labels: approved, area/prow, area/prow/hook, cncf-cla: yes, lgtm, sig/testing, size/XS

#19471 Add an alert to detect missing successful results from heartbeat jobs.
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
  config/prow/cluster/monitoring/mixins/lib/config.libsonnet
  config/prow/cluster/monitoring/mixins/prometheus/plank_alerts.libsonnet
  config/prow/cluster/monitoring/mixins/prometheus/prometheus.libsonnet
Labels: approved, area/config, area/jobs, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#19498 Clear env var so Azure e2e generates a local keypair
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
  config/prow/config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, sig/testing, size/S

#19489 Enable require-matching-label for k/kubectl and k/website
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#19496 add presubmit job for dualstack
  config/jobs/kubernetes/sig-network/dualstack-e2e.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/network, sig/testing, size/M

#19504 Deck: print debug instead of warning when prowjob not found
  prow/cmd/deck/main.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/XS

#19505 Hook: Don't print warning in the middle of retries
  prow/git/git.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#19500 Add a Jira plugin to prow
  go.mod
  go.sum
  prow/BUILD.bazel
  prow/cmd/hook/BUILD.bazel
  prow/cmd/hook/main.go
  prow/flagutil/BUILD.bazel
  prow/flagutil/jira.go
  prow/github/types.go
  prow/hook/events.go
  prow/hook/plugin-imports/BUILD.bazel
  prow/hook/plugin-imports/plugin-imports.go
  prow/jira/BUILD.bazel
  prow/jira/jira.go
  prow/jira/jira_test.go
  prow/plugins/BUILD.bazel
  prow/plugins/jira/BUILD.bazel
  prow/plugins/jira/jira.go
  prow/plugins/jira/jira_test.go
  prow/plugins/plugins.go
  repos.bzl
Labels: approved, area/prow, area/prow/hook, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/XL

#19508 sig-network jobs should test conformance too
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/network, sig/testing, size/S

#19513 Sum heartbeat job metrics across plank pods.
  config/prow/cluster/monitoring/mixins/prometheus/plank_alerts.libsonnet
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#19507 add optional ipvs presubmit job for dual stack
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
  config/testgrids/kubernetes/presubmits/config.yaml
Labels: approved, area/config, area/jobs, area/testgrid, cncf-cla: yes, lgtm, sig/network, sig/testing, size/M

#19487 create ci-kubernetes-build-fast canary job to validate job running in the cluster
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#17731 delete docker conformance test group
  config/testgrids/conformance/conformance-all.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
  kettle/buckets.yaml
Labels: approved, area/config, area/kettle, area/testgrid, cncf-cla: yes, lgtm, sig/node, sig/testing, size/M

#19494 Adds windows servercore cache image periodic job
  config/jobs/image-pushing/k8s-staging-e2e-test-images.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#19373 Remove required_status_checks travis for node-feature-discovery
  config/prow/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#19486 Remove useless code
  prow/external-plugins/needs-rebase/plugin/plugin.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#19515 Jira plugin: Preserve whitespaces when editing comments
  prow/plugins/jira/jira.go
  prow/plugins/jira/jira_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/L

#19518 ci-kubernetes-build-fast-canary: update gs bucket to use the same path as the original job
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#19455 capz: Update milestone applier to v0.4.10
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#19521 Fix some typos
  prow/plugins/lgtm/lgtm.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/S

#19509 Temporary increase memory for kubemark-500 job
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#19519 OWNERS_ALIASES: Add xmudrii to release-engineering-reviewers
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#19475 Update getting_started_deploy.md
  prow/getting_started_deploy.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS, tide/merge-method-squash

#19517 increase sig-network jobs timeouts
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/network, sig/testing, size/XS

#19399 Start to build infra around Kettle Staging
  kettle/Makefile
  kettle/README.md
  kettle/deployment-staging.yaml
  kettle/pv-staging.yaml
Labels: approved, area/kettle, cncf-cla: yes, lgtm, sig/testing, size/M, tide/merge-method-squash

#19528 Update deployment docs for Triage
  triage/README.md
Labels: approved, area/triage, cncf-cla: yes, lgtm, sig/testing, size/S

#19529 Make buildlimit max if set to 0 (per --help)
  kettle/make_db.py
Labels: approved, area/kettle, cncf-cla: yes, lgtm, sig/testing, size/XS

#19532 Enabling Windows + containerd + csi-proxy azure-disk/azure-file e2e jobs
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/L

#19526 Update containerd job
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
  jobs/e2e_node/containerd/containerd-master/image-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/node, sig/testing, size/S

#19531 Add BUILD_LIMIT env that can be set via kubectl
  kettle/deployment-staging.yaml
  kettle/make_db.py
Labels: approved, area/kettle, cncf-cla: yes, lgtm, sig/testing, size/XS

#19512 secrets-store-csi-driver: config for gcp provider tests
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-presets.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#19538 add iptables presubmit for dualstack
  config/jobs/kubernetes/sig-network/dualstack-e2e.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/network, sig/testing, size/M

#19525 Enable density test in load test for presubmits
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/scalability, sig/testing, size/XS

#19523 Kubeflow Pipleines - Disabled the python 3.5 tests
  config/jobs/kubeflow/kubeflow-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/S

#19545 Blunderbuss: log debug instead of warning when not enough reviewers
  prow/plugins/blunderbuss/blunderbuss.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/XS

#19543 [sig-scalability][kubemark-500] Increase timeout and decrease memory req/limit
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/scalability, sig/testing, size/S

#19527 Update kubebuilder go version from 1.13 to 1.15
  config/jobs/kubernetes-sigs/kubebuilder/kubebuilder-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#19524 Plank: Pass on error when pod can not be created
  prow/plank/controller.go
  prow/plank/reconciler.go
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/XS

#19552 Make Tide dashboard configurable.
  config/prow/cluster/monitoring/mixins/grafana_dashboards/tide.jsonnet
  config/prow/cluster/monitoring/mixins/lib/config.libsonnet
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/S

#19551 Parameterize prober alerts and boskos dashboard
  config/prow/cluster/monitoring/mixins/Makefile
  config/prow/cluster/monitoring/mixins/grafana_dashboards/boskos.jsonnet
  config/prow/cluster/monitoring/mixins/lib/config.libsonnet
  config/prow/cluster/monitoring/mixins/prometheus/prober_alerts.libsonnet
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#19549 Fix Typo introduced by myself on PR 19139
  prow/README.md
Labels: approved, area/prow, cncf-cla: yes, kind/documentation, lgtm, needs-ok-to-test, sig/testing, size/XS

#19550 Add labels to prow monitoring files
  config/prow/cluster/monitoring/additional-scrape-configs_secret.yaml
  config/prow/cluster/monitoring/alertmanager-prow_secret.yaml
  config/prow/cluster/monitoring/grafana_deployment.yaml
  config/prow/cluster/monitoring/grafana_expose.yaml
  config/prow/cluster/monitoring/grafana_secret.yaml
  config/prow/cluster/monitoring/mixins/prometheus/prometheus.libsonnet
  config/prow/cluster/monitoring/monitoring-prow-k8s-io_managedcertificate.yaml
  config/prow/cluster/monitoring/prow_servicemonitors.yaml
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/S

#19554 Make missing webhook alert interval configurable.
  config/prow/cluster/monitoring/mixins/lib/config.libsonnet
  config/prow/cluster/monitoring/mixins/prometheus/hook_alert.libsonnet
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#19432 update securityContext to postgres
  config/jobs/kubernetes/sig-arch/conformance-gate.yaml
Labels: approved, area/config, area/conformance, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/architecture, sig/testing, size/S

#19557 Replace plank with prow controller manager in monitoring
  config/prow/cluster/monitoring/mixins/lib/config.libsonnet
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#19539 Add configuration snippet to sigmention, size, slackevents, trigger a…
  prow/plugins/sigmention/sigmention.go
  prow/plugins/size/size.go
  prow/plugins/slackevents/BUILD.bazel
  prow/plugins/slackevents/slackevents.go
  prow/plugins/trigger/trigger.go
  prow/plugins/welcome/welcome.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/M

#19560 Update containerd jobs to use containerd image config
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
  jobs/e2e_node/containerd/containerd-master/image-config-pr.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/node, sig/testing, size/S

#19540 Enable density in load for all nonkubemark tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/scalability, sig/testing, size/S

#19562 Enable DinD for sanity test job in k-csi/csi-nfs-driver
  config/jobs/kubernetes-csi/csi-driver-nfs/csi-driver-nfs-unmanaged.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#19564 Azure: Fix the nil pointer when the api model is incomplete
  kubetest/aksengine.go
Labels: approved, area/kubetest, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/XS

#19476 Rename seccomp-operator to security-profiles-operator
  config/jobs/image-pushing/k8s-staging-seccomp-operator.yaml
  config/jobs/kubernetes-sigs/seccomp-operator/seccomp-operator-presubmits.yaml
  config/prow/config.yaml
  config/prow/plugins.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
Labels: approved, area/config, area/jobs, area/testgrid, cncf-cla: yes, lgtm, sig/node, sig/testing, size/M

#19533 Remove canary monitoring ingress since it's unused
  config/prow/cluster/monitoring/BUILD.bazel
  config/prow/cluster/monitoring/ing_ingress.yaml
  config/prow/cluster/monitoring/monitoring-prow-canary-k8s-io_managedcertificate.yaml
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/S

#19569 Delete wrong servicemonitor from monitoring
  config/prow/cluster/monitoring/prow_servicemonitors.yaml
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#19444 Various simplifications, bug fixes and removals of deprecated APIs
  config/tests/jobs/jobs_test.go
  config/tests/testgrids/config_test.go
  experiment/coverage/apicoverage.go
  experiment/slack-oncall-updater/main.go
  gcsweb/cmd/gcsweb/gcsweb_test.go
  greenhouse/eviction.go
  kubetest/aks.go
  kubetest/aksengine.go
  kubetest/stage.go
  kubetest/util/util.go
  maintenance/migratestatus/migrator/migrator.go
  prow/clonerefs/run.go
  prow/cmd/branchprotector/protect.go
  prow/cmd/crier/main_test.go
  prow/cmd/deck/job_history.go
  prow/cmd/deck/main_test.go
  prow/cmd/deck/pr_history.go
  prow/cmd/deck/tide.go
  prow/cmd/phaino/main.go
  prow/cmd/tackle/ingress_test.go
  prow/cmd/tackle/main.go
  prow/config/jobs.go
  prow/external-plugins/needs-rebase/plugin/plugin_test.go
  prow/flagutil/BUILD.bazel
  prow/flagutil/github.go
  prow/flagutil/github_test.go
  prow/git/git.go
  prow/github/client_test.go
  prow/github/helpers.go
  prow/github/types.go
  prow/hook/server.go
  prow/jenkins/jenkins_test.go
  prow/kube/client.go
  prow/kube/ratelimiter.go
  prow/logrusutil/logrusutil.go
  prow/pjutil/tot_test.go
  prow/plank/reconciler.go
  prow/pluginhelp/hook/hook.go
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/cherrypickunapproved/cherrypick-unapproved_test.go
  prow/plugins/golint/suggestion/golint_suggestion.go
  prow/plugins/lgtm/lgtm.go
  prow/plugins/override/override.go
  prow/plugins/projectmanager/projectmanager_test.go
  prow/plugins/trigger/generic-comment.go
  prow/pod-utils/gcs/upload_test.go
  prow/repoowners/repoowners.go
  prow/spyglass/api/spyglass.go
  prow/spyglass/lenses/lenses.go
  prow/spyglass/lenses/metadata/lens.go
  prow/spyglass/lenses/podinfo/podinfo.go
  prow/spyglass/storageartifact.go
  prow/tide/status.go
  prow/tide/tide.go
  robots/commenter/main.go
  robots/issue-creator/testowner/owner.go
  velodrome/fetcher/client.go
  velodrome/sql/mysql.go
  velodrome/token-counter/token-counter.go
Labels: approved, area/config, area/greenhouse, area/kubetest, area/prow, area/prow/branchprotector, area/prow/clonerefs, area/prow/crier, area/prow/deck, area/prow/hook, area/prow/jenkins-operator, area/prow/plank, area/prow/plugins, area/prow/pod-utilities, area/prow/spyglass, area/prow/tide, area/robots, area/velodrome, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#19573 Approve: Log missing owners on debug level
  prow/plugins/approve/approvers/owners.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/XS

#19542 Added entry in testgrid's conformance-all dashboard for publishing s390x conformance results
  config/testgrids/conformance/conformance-all.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#19570 JiraError: Don't shadow actual error with body read error
  prow/jira/jira.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#19577 Make heartbeat job run on trusted cluster to stabilize runtime.
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M

#19353 add BoundServiceAccountTokenVolume upgrade test config
  config/jobs/kubernetes/sig-auth/OWNERS
  config/jobs/kubernetes/sig-auth/serviceaccount-admission-controller-migration-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#19558 Split Kettle staging execution out
  kettle/deployment-staging.yaml
  kettle/deployment.yaml
  kettle/update.py
Labels: approved, area/kettle, cncf-cla: yes, lgtm, sig/testing, size/M, tide/merge-method-squash

#19579 Remove deprecated args
  prow/plugins/approve/approve.go
  prow/plugins/config.go
  prow/plugins/plugins_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#19591 stop passing boostrap args in config
  config/jobs/kubernetes/sig-auth/serviceaccount-admission-controller-migration-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/auth, sig/testing, size/S

#19584 make local-e2e-yaml pass and easy to read
  config/jobs/kubernetes/sig-testing/local-e2e.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#19578 Simplify sig-arch conformance gate
  config/jobs/kubernetes/sig-arch/conformance-gate.yaml
Labels: approved, area/config, area/conformance, area/jobs, cncf-cla: yes, lgtm, sig/architecture, sig/testing, size/S

#19599 releng/k8s-container-image-promoter: update presubmit job
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#19546 capz/conformance: update pull capz conformance job
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#19506 Add configuration snippet to project, projectmanager, require-matchin…
  prow/plugins/approve/approve.go
  prow/plugins/blockade/blockade.go
  prow/plugins/heart/heart.go
  prow/plugins/label/label.go
  prow/plugins/lgtm/lgtm.go
  prow/plugins/milestoneapplier/milestoneapplier.go
  prow/plugins/override/override.go
  prow/plugins/project/project.go
  prow/plugins/projectmanager/projectmanager.go
  prow/plugins/require-matching-label/require-matching-label.go
  prow/plugins/requiresig/requiresig.go
  prow/plugins/retitle/retitle.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/L

#19580 Add configuration snippet to bugzilla
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/L

#19595 use scenarios/kubernetes_e2e.py as kubetest doesn't work with gce
  config/jobs/kubernetes/sig-auth/serviceaccount-admission-controller-migration-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/auth, sig/testing, size/XS

#19611 Decrease heartbeat job period to 5mins.
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/monitoring/mixins/lib/config.libsonnet
Labels: approved, area/config, area/jobs, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#19502 Override audit policy for conformance informing jobs
  config/jobs/kubernetes/sig-cloud-provider/gcp/gce-conformance.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/L

#19614 typo leads to unexpected tests running
  config/jobs/kubernetes/sig-auth/serviceaccount-admission-controller-migration-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/auth, sig/testing, size/XS

#18777 Introduce layeredsets to reflect OWNERS hierarchy
  prow/BUILD.bazel
  prow/pkg/layeredsets/BUILD.bazel
  prow/pkg/layeredsets/string.go
  prow/plugins/approve/BUILD.bazel
  prow/plugins/approve/approve_test.go
  prow/plugins/approve/approvers/BUILD.bazel
  prow/plugins/approve/approvers/owners.go
  prow/plugins/approve/approvers/owners_test.go
  prow/plugins/blunderbuss/BUILD.bazel
  prow/plugins/blunderbuss/blunderbuss.go
  prow/plugins/blunderbuss/blunderbuss_test.go
  prow/plugins/lgtm/BUILD.bazel
  prow/plugins/lgtm/lgtm.go
  prow/plugins/lgtm/lgtm_test.go
  prow/plugins/override/BUILD.bazel
  prow/plugins/override/override_test.go
  prow/plugins/verify-owners/BUILD.bazel
  prow/plugins/verify-owners/verify-owners_test.go
  prow/repoowners/BUILD.bazel
  prow/repoowners/repoowners.go
  prow/repoowners/repoowners_test.go
Labels: approved, area/config, area/jobs, area/prow, area/prow/plugins, area/release-eng, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, sig/testing, size/L

#19565 add mdtoc presubmit jobs
  config/jobs/kubernetes-sigs/mdtoc/OWNERS
  config/jobs/kubernetes-sigs/mdtoc/mdtoc-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M

#19598 slack/mergewarnings: remove release-1.16 branch
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, kind/cleanup, lgtm, sig/testing, size/S

#19615 Increase memory for pull-kubernetes-node-e2e
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/node, sig/testing, size/XS

#19594 [sig-scalability] Run 5k performance test with e2-medium instances
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#19617 Remove presubmit job for Kubeflow pytorch-operator
  config/jobs/kubeflow/kubeflow-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#19618 Revert "Override audit policy for conformance informing jobs."
  config/jobs/kubernetes/sig-cloud-provider/gcp/gce-conformance.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/L

#19582 Enable slackevents prow plugin for kops
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#19548 secrets-store-csi-driver: remove preset creds
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#19572 Spyglass artifact fetcher: Swallow request cancelled errors
  prow/cmd/deck/main.go
  prow/spyglass/storageartifact_fetcher.go
Labels: approved, area/prow, area/prow/deck, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/XS

#19624 Add default to junit_xml for testsuites without 'name'
  kettle/make_json.py
Labels: approved, area/kettle, cncf-cla: yes, lgtm, sig/testing, size/XS

#19603 [sig-scalability] Migrate ci-kubernetes-e2e-gce-scale-correctness to E2
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#19623 Cluster API: set ignore_review_state to true
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#19621 Revert "Increase memory for pull-kubernetes-node-e2e"
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/node, sig/testing, size/XS

#19619 YAML cleanup: consistent indentation before list elements
  config/prow/cluster/deck_rbac.yaml
  config/prow/cluster/monitoring/grafana_deployment.yaml
  config/prow/cluster/monitoring/grafana_expose.yaml
  config/prow/cluster/monitoring/prometheus_operator_deployment.yaml
  config/prow/cluster/monitoring/prometheus_operator_rbac.yaml
  config/prow/cluster/monitoring/prometheus_rbac.yaml
  config/prow/cluster/monitoring/prow_prometheus.yaml
  config/prow/cluster/monitoring/prow_servicemonitors.yaml
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/L

#19596 kubernetes-sigs/k8s-container-image-promoter: add releng label
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/testing, size/S

#19620 Add --extract-{ci,release}-bucket flags to kubetest
  kubetest/extract_k8s.go
  kubetest/extract_test.go
  kubetest/main.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/L

#19632 Update ci-kubernetes-e2e-gci-gce to latest kubekins
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#19633 CAPZ: update CAPI periodic job to use cred-only preset
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#19634 Make ci-kubernetes-e2e-gci-gce use k8s-release-dev artifacts
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#19637 Create ci-audit-kind-conformance job
  config/jobs/kubernetes/sig-arch/conformance-audit.yaml
Labels: approved, area/config, area/conformance, area/jobs, cncf-cla: yes, lgtm, sig/architecture, sig/testing, size/M

#19638 Run ci-audit-kind-conformance hourly
  config/jobs/kubernetes/sig-arch/conformance-audit.yaml
Labels: approved, area/config, area/conformance, area/jobs, cncf-cla: yes, lgtm, sig/architecture, sig/testing, size/XS

#19639 Run ci-audit-conformance every ten minutes
  config/jobs/kubernetes/sig-arch/conformance-audit.yaml
Labels: approved, area/config, area/conformance, area/jobs, cncf-cla: yes, lgtm, sig/architecture, sig/testing, size/XS

#19640 Refactor multiline command: to single line by adding &&
  config/jobs/kubernetes/sig-arch/conformance-audit.yaml
Labels: approved, area/config, area/conformance, area/jobs, cncf-cla: yes, lgtm, sig/architecture, sig/testing, size/XS

#19461 Migrate log dumping from k/k to test-infra for gce and gke tests
  images/kubekins-e2e/Dockerfile
  images/kubekins-e2e/log-dump.sh
  images/kubekins-e2e/logexporter-daemonset.yaml
  kubetest/bash.go
  kubetest/e2e.go
  kubetest/gke.go
  kubetest/main.go
  kubetest/node.go
  kubetest/none.go
Labels: approved, area/images, area/kubetest, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/scalability, sig/testing, size/XL

#19636 Kettle parse_junit testing and format support
  kettle/BUILD.bazel
  kettle/make_json.py
  kettle/make_json_test.py
  kettle/testdata/failure_message.xml
  kettle/testdata/failure_text.xml
  kettle/testdata/junit_no_suite_name.xml
  kettle/testdata/malformed.xml
  kettle/testdata/standard.xml
Labels: approved, area/kettle, cncf-cla: yes, lgtm, sig/testing, size/L, tide/merge-method-squash

#19644 Modify the invalid commit comment to include hashtag
  prow/plugins/invalidcommitmsg/invalidcommitmsg.go
  prow/plugins/invalidcommitmsg/invalidcommitmsg_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/XS

#19649 Kettle Staging update-staging had wrong container name
  kettle/Makefile
Labels: approved, area/kettle, cncf-cla: yes, lgtm, sig/testing, size/XS
