Repository kubernetes/test-infra, pull requests merged in 2020-07, with the labels that each got.

#18132 Kops - Increase timeout on postsubmit job
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#18137 Add unit test presubmit for older perf-tests branches
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/S

#18130 update pull-kubernetes-e2e-gce-ubuntu-containerd-canary to use containerd 1.3.6
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#18139 Kops - Add ARM64 periodic e2e for CI builds
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#18127 Increase timeout in windows presubmit tests
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, sig/windows, size/XS

#18128 Add support for GCP zone in GCE deployer
  kubetest2/kubetest2-gce/deployer/common.go
  kubetest2/kubetest2-gce/deployer/deployer.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#18133 disable report for ipv6 presubmit
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#18143 releng: Use latest-{{.Version}}-cross version markers for build jobs
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#18131 Enable kubeflow/pipelines postsubmit tests for release branches
  config/jobs/kubeflow/kubeflow-postsubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#18124 GCE deployer supports the simplest build in k/k
  kubetest2/kubetest2-gce/deployer/build.go
  kubetest2/kubetest2-gce/deployer/deployer.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#18125 Update TestGrid for istio
  config/testgrids/istio/gen-config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#18095 Configure kubeflow org to require cla/google status context
  config/prow/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#18063 label_sync: Add WG Naming label
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/testing, size/XS

#17867 releng: Remove 1.15 branch jobs
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  releng/prepare_release_branch.py
Labels: approved, area/config, area/jobs, area/provider/gcp, area/release-eng, cncf-cla: yes, lgtm, sig/cloud-provider, sig/node, sig/release, sig/testing, size/XXL

#18149 Kops - Use different names for ARM64 test clusters
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#18135 Add periodic kops conformance test for Arm64
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#18140 SDCICD-336. Add in MOA dashboards.
  config/testgrids/openshift/dedicated.yaml
  config/testgrids/openshift/groups.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#18066 Update pull-client-go-build to go1.14.4
  config/jobs/kubernetes/client-go/client-go-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#18161 Azure: grant privileged context to azure disk verify test
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#18157 PlankV2: Fix max_concurrency handling
  prow/plank/controller_test.go
  prow/plank/reconciler.go
  prow/plank/reconciler_test.go
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/M

#18167 Extend scope of kops networking e2e presubmits
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/S

#18166 Run some kops presubmits on release branches as well
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/S

#18173 increase the time to run conformance
  config/jobs/kubernetes-sigs/kind/kind.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#18176 kubernetes-sigs/release-notes: switch to node 12
  config/jobs/kubernetes-sigs/release-notes/release-notes-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#18172 Don't run kops verify-terraform in branches where it doesn't exist
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#17934 kubeadm: add e2e test jobs for the --experimental-patches feature
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-patches.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, kind/feature, lgtm, priority/important-soon, sig/cluster-lifecycle, sig/testing, size/M

#18155 bugzilla: add new functions to identify certain bugzilla errors
  prow/bugzilla/client.go
  prow/bugzilla/client_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#18180 Update gubernator image
  images/pull-test-infra-gubernator/Dockerfile
  images/pull-test-infra-gubernator/runner
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/M

#18177 Add release team email to kinder jobs
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-upgrade.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-x-on-y.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/S

#18183 Manually bump gubernator to working image
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#18184 Update sig-storage-gce-config.yaml
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/storage, sig/testing, size/XS

#18188 Azure: grant privileged context to azure blobfuse verify test and unit-test
  config/jobs/kubernetes-sigs/blobfuse-csi-driver/blobfuse-csi-driver-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#18165 Cleanup Label Descriptions
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L, tide/merge-method-squash

#18156 gce-alpha-features: add CSIStorageCapacity feature
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#18194 Plank: Delete pods for jobs that fail due to pod pending timeout
  prow/plank/controller.go
  prow/plank/controller_test.go
  prow/plank/reconciler.go
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/M

#18187 Add area/github-management to labels_sync in test_infra
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#18198 Bump up CSI driver version in tests
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-postsubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M

#18200 Use go 1.13 for pull-publishing-bot-validate
  config/jobs/kubernetes/publishing-bot/publishing-bot-presubmits.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#18182 Migrate TestGrid config from Prow -> config yaml
  config/jobs/kubernetes/sig-testing/coverage.yaml
  config/testgrids/kubernetes/sig-testing/sig-testing.yaml
Labels: approved, area/config, area/jobs, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#18129 Add coverage Properties to xml for ci-kubernetes-coverage-unit
  config/jobs/kubernetes/sig-testing/coverage.yaml
Labels: area/config, area/jobs, cncf-cla: yes, needs-ok-to-test, sig/testing, size/XS

#18202 Make a bazel 2.1.0->2.2.0 image for testgrid
  images/bazel/variants.yaml
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/XS

#18201 Add whitespace for CSIStorageCapacity focus
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#18195 Update testing to Py3 image
  config/jobs/kubeflow/kubeflow-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#18205 Update Windows SAC version test timing
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#18204 Update testgrid bazel image to support 2.1.0->3.0.0
  images/bazel/variants.yaml
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/XS

#16664 Sanitize GIT TAG
  images/builder/main.go
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/XS

#18151 Fix missing $ in ${id} in "file bug" (on triage dashboard) causing wrong link in issue
  triage/render.js
Labels: approved, area/triage, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/S

#18170 kops: trigger builds on tag changes also
  config/jobs/image-pushing/k8s-staging-kops.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#18103 Specify message about adding presubmit in testgrid for future cleanup
  config/tests/testgrids/config_test.go
Labels: approved, area/config, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#18207 Also look for top-level comments in the /PATCHSET_LEVEL file.
  prow/gerrit/client/client.go
  prow/gerrit/client/client_test.go
Labels: approved, area/prow, area/prow/gerrit, cncf-cla: yes, lgtm, sig/testing, size/L

#18164 kops e2e: run the e2e pipeline for older kops branches also
  config/jobs/kubernetes/kops/Makefile
  config/jobs/kubernetes/kops/build-pipeline.py
  config/jobs/kubernetes/kops/kops-pipeline.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/L

#18212 Cluster API AWS Presubmits: Correct typo
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#18210 Default values in github event server options if they are nil to avoid panics
  prow/githubeventserver/options.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#17980 Add CI job for testing gce-pd-csi driver for windows
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-windows.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M

#18215 Refresh documented versions
  docs/kubernetes-versions.md
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/M

#18185 Update TestGrid for istio
  config/testgrids/istio/gen-config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/S

#18206 Remove non-alpha storage features from alpha job
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#18216 Cluster API Azure Presubmits: Correct typo
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, sig/cluster-lifecycle, sig/testing, size/XS

#18122 Setup periodic jobs for kubeflow1.1 branches
  config/jobs/kubeflow/kubeflow-periodics.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M

#18222 Kops - Build both AMD64 and ARM64 for Kubernetes presubmit
  config/jobs/kubernetes/kops/kubernetes-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#18224 Kops - Build both AMD64 and ARM64 for Kubernetes presubmit - 2
  config/jobs/kubernetes/kops/kubernetes-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#18225 Revert "Kops - Build both AMD64 and ARM64 for Kubernetes presubmit"
  config/jobs/kubernetes/kops/kubernetes-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#18227 Azure: modify aks-engine download URL to stabilize presubmit jobs
  config/jobs/kubernetes-sigs/sig-windows/release-1.16-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.17-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.18-windows.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/sig-azure-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/S

#16540 kubernetes-sigs/cluster-api-provider-vsphere: Dedupe tests
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, lifecycle/stale, sig/testing, size/M

#16290 Add seans3 and monopole to sig-cli testgrid OWNERS
  config/testgrids/kubernetes/sig-cli/OWNERS
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS

#18214 pull-kubernetes-e2e-gce-alpha-features: fix CSIStorageCapacity, add GenericEphemeralVolume
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#18053 Add the ability to pass commit messages in the git merge operations
  prow/git/v2/adapter.go
  prow/git/v2/interactor.go
  prow/git/v2/interactor_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#18094 [git v2 publisher] add the ability to push to central remote
  prow/external-plugins/cherrypicker/server.go
  prow/external-plugins/cherrypicker/server_test.go
  prow/git/v2/adapter.go
  prow/git/v2/client_factory.go
  prow/git/v2/publisher.go
  prow/git/v2/publisher_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#18092 add the fetch from remote method to interactor's interface
  prow/git/git.go
  prow/git/v2/adapter.go
  prow/git/v2/interactor.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#18228 Kops: make SELinux job more consistent
  config/jobs/kubernetes/sig-storage/sig-storage-kops-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/storage, sig/testing, size/XS

#18236 Kops - Force AMD64 for Kubernetes presubmit
  config/jobs/kubernetes/kops/kubernetes-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#18211 Disable ingress-nginx e2e jobs
  config/jobs/image-pushing/k8s-staging-ingress-nginx.yaml
  config/jobs/kubernetes/sig-network/ingress-nginx.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/network, sig/testing, size/M

#18174 add post image build job for sig-static-local-static-provisioner
  config/jobs/image-pushing/k8s-staging-sig-storage.sh
  config/jobs/image-pushing/k8s-staging-sig-storage.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#18229 [1.19] releng: Update Slack whitelisted Branch Managers
  config/prow/plugins.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#18230 [1.19] releng: Update milestoneappliers for 1.19
  config/prow/plugins.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#18220 Update presubmit gcepd csi driver presubmit job
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/config.yaml
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-windows.yaml
  config/tests/testgrids/config_test.go
Labels: approved, area/config, area/jobs, area/provider/gcp, area/testgrid, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/M

#18233 [1.19] prow/config: enabled code freeze for 1.19
  config/prow/config.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#18240 Make autobump only update gerrit PRs when there are changes.
  prow/cmd/autobump/autobump.sh
  prow/cmd/autobump/bump.sh
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#18208 Address a auth race condition.
  prow/cmd/gerrit/main.go
  prow/crier/reporters/gerrit/reporter.go
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
  prow/gerrit/client/client.go
Labels: approved, area/prow, area/prow/crier, area/prow/gerrit, cncf-cla: yes, lgtm, sig/testing, size/L

#18232 [1.19] images/kubekins-e2e: Update variants.yaml (add 1.19, drop 1.15)
  images/kubekins-e2e/variants.yaml
Labels: approved, area/images, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#18234 fejta-bot: update labels required for retesting
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#18235 config/jobs/image-pushing: Fix kube-state-metrics project and bucket
  config/jobs/image-pushing/k8s-staging-kube-state-metrics.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#18239 Run gopherage xmlparsing for Coverage tests
  config/jobs/kubernetes/sig-testing/coverage.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#18209 benchmark-config: use recommended Ubuntu images
  jobs/e2e_node/benchmark-config.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/node, sig/testing, size/M

#18223 CI tests: set up a few CI tests for kubernetes-csi/csi-driver-smb
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#18242 add csi-driver-smb/OWNERS
  config/jobs/kubernetes-csi/csi-driver-smb/OWNERS
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#18245 Kops - Reduce frequency of ARM64 tests to 8h
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/S

#18243 Kops - Use release/latest-1.19 in e2e presubmit
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#18246 CI tests: Change always_run in integration test to false
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#18241 Add some more information to the Local Prow Docs
  prow/build_test_update.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S, tide/merge-method-squash

#18247 fix: upgrade aks-engine version to v0.53.0
  config/jobs/kubernetes/sig-cloud-provider/azure/sig-azure-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/S

#18251 Kops - Add KOPS_RUN_TOO_NEW_VERSION to pipeline jobs
  config/jobs/kubernetes/kops/build-pipeline.py
  config/jobs/kubernetes/kops/kops-pipeline.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#18255 Revert "Kops - Add KOPS_RUN_TOO_NEW_VERSION to pipeline jobs"
  config/jobs/kubernetes/kops/build-pipeline.py
  config/jobs/kubernetes/kops/kops-pipeline.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#18262 Add presubmit for controller runtime release-0.5 and 0.6
  config/jobs/kubernetes-sigs/controller-runtime/controller-runtime-presubmits-release-0.5.yaml
  config/jobs/kubernetes-sigs/controller-runtime/controller-runtime-presubmits-release-0.6.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M

#18261 remove triming when passing the commit message option
  prow/git/v2/interactor.go
  prow/git/v2/interactor_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#18256 Kops - Fix kube-router tests
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#18265 Use kubekins-e2e 1.18 images for Cluster API
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#18219 add ksa for Container Image Promoter image vulnerability check
  config/prow/cluster/build_serviceaccounts.yaml
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#18213 Skip tests marked as [Deprecated] when running skew tests
  config/jobs/kubernetes/sig-cli/sig-cli-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cli, sig/testing, size/S

#18271 Add jingxu97 to owner file for gce pd csi driver
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/OWNERS
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#18254 Kops - Skip new tests on older branches
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/S

#18260 Kops - Fix branch names for release pipelines
  config/jobs/kubernetes/kops/build-pipeline.py
  config/jobs/kubernetes/kops/kops-pipeline.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/S

#18270 Fix prow config for gce pd driver windows test
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-windows.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#18197 Extend Kettle build fields to be used for determining flakes
  kettle/make_json.py
  kettle/model.py
Labels: approved, area/config, area/jobs, area/kettle, area/metrics, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#18263 Delete old Kyma TestGrid configuration file
  config/testgrids/kyma/kyma.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XL

#18274 Kops - Fix branch names for master pipeline
  config/jobs/kubernetes/kops/build-pipeline.py
  config/jobs/kubernetes/kops/kops-pipeline.yaml
  config/testgrids/kubernetes/kops/config.yaml
Labels: approved, area/config, area/jobs, area/testgrid, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/S

#18275 [CAPZ] Add devigned and nader-ziada as approvers, cpanato as reviewer
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/OWNERS
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#18259 milestone_applier: change default milestone for CAPIDO to v0.4
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#18203 Remove references to Velodrome and clean up old query filters
  metrics/BUILD.bazel
  metrics/README.md
  metrics/bigquery.py
  metrics/configs/build-stats.yaml
  metrics/configs/failures-config.yaml
  metrics/configs/flakes-config.yaml
  metrics/configs/flakes-daily-config.yaml
  metrics/configs/job-health.yaml
  metrics/configs/pr-consistency-config.yaml
  metrics/configs/presubmit-health.yaml
Labels: approved, area/metrics, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#18000 Update cloud.google.com/go past split into submodules
  experiment/logviewer/gcsreader/BUILD.bazel
  experiment/resultstore/BUILD.bazel
  go.mod
  go.sum
  prow/cmd/gerrit/BUILD.bazel
  prow/crier/reporters/pubsub/BUILD.bazel
  prow/io/BUILD.bazel
  prow/pubsub/subscriber/BUILD.bazel
  prow/tide/history/BUILD.bazel
  repos.bzl
  robots/coverage/cmd/downloader/BUILD.bazel
  robots/coverage/downloader/BUILD.bazel
  testgrid/cmd/configurator/BUILD.bazel
  testgrid/cmd/configurator/main.go
Labels: approved, area/prow, area/prow/crier, area/prow/gerrit, area/prow/pubsub, area/prow/tide, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XL

#18250 Autobumper - include Kops' build-pipeline.py script
  experiment/autobumper/main.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#18252 Use structured logging in gerrit packages.
  prow/cmd/gerrit/main.go
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
  prow/gerrit/adapter/trigger.go
  prow/gerrit/client/BUILD.bazel
  prow/gerrit/client/client.go
  prow/gerrit/client/client_test.go
  prow/pjutil/filter.go
Labels: approved, area/prow, area/prow/gerrit, cncf-cla: yes, lgtm, sig/testing, size/L

#18279 Checkconfig: Fail on duplicate refs
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#18277 Create testgrid bazelbuild variant
  images/bazelbuild/variants.yaml
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/XS

#18276 Add 5% pass threshold to highlight cells with next to no coverage
  config/jobs/kubernetes/sig-testing/coverage.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#18282 Update presubmit config for gce pd repo
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-windows.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#18258 Add saschagrunert and alejandrox1 as SIG Release admins
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#18284 Kops - Use release/stable marker for CNI presubmits
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/S

#18280 rename feature-gate-machine-pool to exp-machine-pool for cluster-api-provider-azure
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.16.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.17.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.18.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/sig-azure-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/cloud-provider, sig/cluster-lifecycle, sig/testing, size/S

#18286 config: remove jobs for testing_frameworks
  config/jobs/kubernetes-sigs/testing_frameworks/OWNERS
  config/jobs/kubernetes-sigs/testing_frameworks/testing-frameworks-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#18196 Run long tests in post-submit integration tests
  config/jobs/kubernetes/sig-testing/integration.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#18288 Trigger krte image push on kubekins-e2e variants change
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  images/krte/wrapper.sh
Labels: approved, area/config, area/images, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#18283 fix: skip logDumperWindows error
  kubetest/aksengine.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS

#18291 Temporarily switch 1.19 scalability jobs to use perf-tests master
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#17329 kubeadm: add kinder test jobs for k8s 1.19
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-discovery.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-etcd.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-kustomize.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-upgrade.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-x-on-y.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/L

#18292 prow: descheduler: deploy 1.18.2 cluster and run make test-e2e
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-master.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#18294 Fix typo: reviwer -> reviewer
  config/jobs/apache-spark-on-k8s/spark-integration/OWNERS
  config/jobs/cadvisor/OWNERS
  config/jobs/kubernetes-sigs/apiserver-network-proxy/OWNERS
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/OWNERS
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/OWNERS
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/OWNERS
  config/jobs/kubernetes-sigs/poseidon/OWNERS
  config/jobs/kubernetes-sigs/structured-merge-diff/OWNERS
  config/jobs/kubernetes/cloud-provider-vsphere/OWNERS
  config/jobs/kubernetes/repo-infra/OWNERS
  config/jobs/kubernetes/sig-cli/OWNERS
  config/jobs/kubernetes/sig-release/cip/OWNERS
  config/testgrids/kubernetes/sig-autoscaling/OWNERS
  config/testgrids/kubernetes/sig-cloud-provider/azure/OWNERS
  config/testgrids/kubernetes/sig-network/OWNERS
  jenkins/OWNERS
  prow/cmd/clonerefs/OWNERS
  prow/cmd/config-bootstrapper/OWNERS
  prow/cmd/entrypoint/OWNERS
  prow/cmd/gcsupload/OWNERS
  prow/cmd/initupload/OWNERS
  prow/cmd/mkpod/OWNERS
  prow/plugins/lgtm/lgtm.go
Labels: approved, area/config, area/jenkins, area/jobs, area/provider/azure, area/provider/vmware, area/prow, area/prow/clonerefs, area/prow/config-bootstrapper, area/prow/entrypoint, area/prow/gcsupload, area/prow/initupload, area/prow/mkpod, area/prow/plugins, area/prow/pod-utilities, area/release-eng, area/testgrid, cncf-cla: yes, lgtm, sig/cli, sig/cloud-provider, sig/release, sig/testing, size/M

#18289 Kops - Update required status checks for Kops GH jobs
  config/prow/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#18295 Use kubekins-e2e 1.18 images for Cluster API Providers AWS and vSphere
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-postsubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M

#18298 Set KIND_E2E env var for e2e test script
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-master.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#18297 remove spxtr/envoy from config
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#18299 [CAPZ] update milestone applier to new milestone
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#18296 Skip SCTP test on k8sbeta alpha features job
  config/jobs/kubernetes/generated/generated.yaml
  releng/test_config.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#18257 Skip ARM, use latest marker and new images in SELinux job
  config/jobs/kubernetes/sig-storage/sig-storage-kops-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/storage, sig/testing, size/S

#18303 Make descheduler e2e required
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-master.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#18306 Adding area/robots label in label_sync
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#18308 Use kubekins-e2e 1.18 images for Cluster API provider Azure
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#17779 prow: change job url prefix format for multiple concurrent storage providers
  prow/ANNOUNCEMENTS.md
  prow/config/config.go
  prow/config/config_test.go
  prow/crier/reporters/pubsub/BUILD.bazel
  prow/crier/reporters/pubsub/reporter.go
  prow/crier/reporters/pubsub/reporter_test.go
  prow/pjutil/pjutil.go
  prow/pjutil/pjutil_test.go
  prow/spyglass/lenses/common/common.go
  prow/spyglass/lenses/common/common_test.go
Labels: approved, area/prow, area/prow/crier, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/L, tide/merge-method-squash

#18310 Update kubetest(2) readmes with deprecation warnings.
  kubetest/README.md
  kubetest2/README.md
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/S

#18311 Remove Validate from Deserialize
  testgrid/cmd/configurator/BUILD.bazel
  testgrid/cmd/configurator/main.go
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS

#18269 Update TestGrid for istio
  config/testgrids/istio/gen-config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#17590 Adds prow jobs for new e2e test flow
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-postsubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/L

#18305 descheduler: k8s version matrix
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-master.yaml
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-release-1.17.yaml
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-release-1.18.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/L

#18318 descheduler: fix branches
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-release-1.17.yaml
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-release-1.18.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#17884 Give starter.yaml some love
  config/prow/cluster/BUILD.bazel
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  prow/cmd/tackle/main.go
  prow/getting_started_deploy.md
Labels: approved, area/config, area/prow, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XXL

#18285 cloud-provider-vsphere: remove inactive members from OWNERS
  config/jobs/kubernetes/cloud-provider-vsphere/OWNERS
Labels: approved, area/config, area/jobs, area/provider/vmware, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#18312 kubekins-e2e: Add justaugustus to approvers
  images/kubekins-e2e/OWNERS
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/XS

#18314 Add area/web-development label for kubernetes/website
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/docs, sig/testing, size/XS

#18320 Removed three references to sig-pm
  OWNERS_ALIASES
  config/prow/plugins.yaml
  jobs/validOwners.json
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#18330 Controller-Runtime: Bump CPU requests
  config/jobs/kubernetes-sigs/controller-runtime/controller-runtime-presubmits-master.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS
