Repository kubernetes/test-infra, pull requests merged in 2020-06, with the labels that each got.

#17634 Provide the job for e2e-node hugepages tests
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  jobs/e2e_node/image-config-serial-hugepages.yaml
  jobs/e2e_node/ubuntu-hugepages-1G-allocation.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/node, sig/testing, size/M

#17781 prow: deck: support for Github enterprise
  prow/cmd/deck/main.go
  prow/cmd/deck/pr_history.go
  prow/cmd/deck/pr_history_test.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/S

#17782 prow: cherrypicker: add Github enterprise support
  prow/git/git.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#17778 Kops - Verify package hashes for containerd and Docker
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/S

#17775 prow: fix GHE pagination
  prow/github/client.go
  prow/github/client_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#17785 Kops - Make pull-kops-verify-hashes pre-submit mandatory
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#17770 Bump COS image to latest version
  jobs/e2e_node/benchmark-config.yaml
  jobs/e2e_node/containerd/containerd-master/image-config.yaml
  jobs/e2e_node/containerd/containerd-release-1.2/image-config.yaml
  jobs/e2e_node/containerd/containerd-release-1.3/image-config.yaml
  jobs/e2e_node/containerd/cri-master/benchmark-config.yaml
  jobs/e2e_node/containerd/cri-master/image-config-pr.yaml
  jobs/e2e_node/containerd/cri-master/image-config.yaml
  jobs/e2e_node/image-config-serial-cpu-manager.yaml
  jobs/e2e_node/image-config-serial.yaml
  jobs/e2e_node/image-config.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#17786 Kops - Make pull-kops-verify-hashes pre-submit mandatory
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#17777 Update ingress-nginx jobs
  config/jobs/kubernetes/sig-network/ingress-nginx.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/network, sig/testing, size/S

#17789 Kops - Make pull-kops-verify-hashes pre-submit mandatory
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#17745 match up test runs to image config for node-kubelet-features
  config/testgrids/kubernetes/sig-node/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS

#17791 Skip the periodic SCTP related NetworkPolicy test
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/network, sig/testing, size/XS

#17792 *: Fix "jUnit" -> "JUnit" typos
  gubernator/README.md
  robots/coverage/docs/design.md
Labels: approved, area/gubernator, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#17795 Update node e2e OWNERS
  config/jobs/kubernetes/sig-node/OWNERS
  jobs/e2e_node/OWNERS
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/node, sig/testing, size/S

#17753 Sensitize Golang CI performance tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-golang.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#17796 Github: Add NewNotFound to aid in testing
  prow/github/client.go
  prow/github/client_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#17802 Kops - add release-1.18 E2E presubmit job
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#17799 Fix wrong override locations
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#17804 update redhat openshift dashboards
  config/testgrids/openshift/redhat-openshift-ocp-release-4.4-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.5-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.7-informing.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#17805 Kops - Use the release/stable marker until the next beta
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#17806 config/testgrids/openshift: include e2e-metal-ipi informers
  config/testgrids/openshift/redhat-openshift-ocp-release-4.4-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.5-informing.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#17741 image pushing: configure jobs for all Kubernetes-CSI repos
  config/jobs/image-pushing/k8s-staging-csi-gen.sh
  config/jobs/image-pushing/k8s-staging-csi.yaml
  config/testgrids/kubernetes/sig-storage/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#17769 PlankV2: Consider cache staleness for MaxConcurrency
  prow/plank/BUILD.bazel
  prow/plank/controller_test.go
  prow/plank/reconciler.go
  prow/plank/reconciler_test.go
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/L

#17721 Update go deps: k8s.io/test-infra/boskos -> sigs.k8s.io/boskos
  config/prow/cluster/BUILD.bazel
  config/prow/cluster/boskos_test.go
  go.mod
  go.sum
  kubetest/BUILD.bazel
  kubetest/main.go
  repos.bzl
Labels: approved, area/boskos, area/config, area/kubetest, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/M

#17773 prow: deck: add local dev doc
  prow/cmd/deck/README.md
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/M

#17703 Move filteringProwJobLister into JobAgent
  prow/cmd/deck/BUILD.bazel
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
  prow/deck/jobs/BUILD.bazel
  prow/deck/jobs/jobs.go
  prow/deck/jobs/jobs_test.go
  prow/spyglass/BUILD.bazel
  prow/spyglass/spyglass_test.go
Labels: approved, area/prow, area/prow/deck, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/XL

#17811 Stop warning about the lack of a credentials file.
  prow/cmd/gerrit/main.go
  prow/cmd/gerrit/main_test.go
Labels: approved, area/prow, area/prow/gerrit, cncf-cla: yes, lgtm, sig/testing, size/S

#17813 update crier flags.
  config/prow/cluster/crier_deployment.yaml
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/S

#17800 run sig-windows tests on windows file change too
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#17812 Add new job to run sig-storage tests with SELinux enabled
  config/jobs/kubernetes/sig-storage/sig-storage-kops-config.yaml
  config/testgrids/kubernetes/sig-storage/config.yaml
Labels: approved, area/config, area/jobs, area/testgrid, cncf-cla: yes, lgtm, sig/storage, sig/testing, size/M

#17817 add missing space from typo
  jobs/e2e_node/containerd/cri-master/image-config.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/node, sig/testing, size/XS

#17820 Promote pull-kubernetes-e2e-gce-ubuntu-containerd to presubmit blocking
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#17822 Add AWS CSI 4.6 and 4.7 jobs as informing
  config/testgrids/openshift/redhat-openshift-ocp-release-4.3-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.4-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.7-informing.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#17787 Add jobs for kubernetes-sigs/ingress-controller-conformance
  config/jobs/kubernetes-sigs/ingress-controller-conformance/OWNERS
  config/jobs/kubernetes-sigs/ingress-controller-conformance/ingress-controller-conformance.yaml
  config/testgrids/kubernetes/sig-network/config.yaml
Labels: approved, area/config, area/jobs, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/L

#17807 image-builder: support uploading the .git directory to GCB
  images/builder/README.md
  images/builder/main.go
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/S

#17827 kops post-submit: Add --git-dir
  config/jobs/image-pushing/k8s-staging-kops.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#17830 Update kubernetes-sigs/ingress-controller-conformance jobs
  config/jobs/kubernetes-sigs/ingress-controller-conformance/ingress-controller-conformance.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#17831 add missing scenario flag to ci-docker-node-legacy job
  config/jobs/kubernetes/sig-node/node-docker.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/node, sig/testing, size/XS

#17833 Update triage more frequently
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#17832 add missing medatadata field to benchmark cosstable2-density4
  jobs/e2e_node/benchmark-config.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/node, sig/testing, size/XS

#17834 Kops - Use the release/latest marker for master
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#17803 Kops - update milestone applier settings for release-1.18 branch
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#17839 Publish the prow-controller-manager
  prow/BUILD.bazel
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#17783 prow: add constants for finished.json and started.json
  experiment/resultstore/BUILD.bazel
  experiment/resultstore/main.go
  prow/apis/prowjobs/v1/types.go
  prow/cmd/deck/job_history.go
  prow/crier/reporters/gcs/reporter.go
  prow/crier/reporters/gcs/reporter_test.go
  prow/initupload/run.go
  prow/sidecar/BUILD.bazel
  prow/sidecar/run.go
  prow/spyglass/artifacts_test.go
  prow/spyglass/lenses/metadata/lens.go
  prow/spyglass/spyglass.go
  prow/spyglass/storageartifact_fetcher_test.go
  prow/spyglass/storageartifact_test.go
  robots/coverage/downloader/BUILD.bazel
  robots/coverage/downloader/downloader.go
Labels: approved, area/prow, area/prow/crier, area/prow/deck, area/prow/initupload, area/prow/pod-utilities, area/prow/sidecar, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/M

#17809 Push automation for alpine, git images
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  images/alpine-bash/cloudbuild.yaml
  images/alpine/Dockerfile
  images/alpine/cloudbuild.yaml
  images/git/Dockerfile
  images/git/cloudbuild.yaml
Labels: approved, area/config, area/images, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/L

#17838 Add a debug log in updateconfig plugin
  prow/plugins/updateconfig/updateconfig.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/XS

#17829 CAPZ: add additional periodic jobs w/ MachinePool
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.16.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.17.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.18.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/sig-azure-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/L

#17821 promote ci-kubernetes-e2e-ubuntu-gce-containerd to release blocking
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#17836 kops build-grid: stop the autobumper getting confused
  config/jobs/kubernetes/kops/build-grid.py
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#17814 update sig-node testgrid OWNERS
  config/testgrids/kubernetes/sig-node/OWNERS
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#17835 kops e2e: only publish latest-ci-green from one test
  config/jobs/kubernetes/kops/kops-periodics-gce.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#17846 Fix updateconfig plugin bug: return nil when it could return error
  prow/plugins/updateconfig/updateconfig.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/XS, tide/merge-method-squash

#17845 remove planter from docs/dep.md
  docs/dep.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#17850 Remove kops-aws-k8s-1.10 e2e job
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#17851 kops gce: try not using specified service account
  config/jobs/kubernetes/kops/kops-periodics-gce.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#17801 Enable containerd for k/k 500 node presubmit
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#17848 Create an org variant of the bazel image.
  images/bazel/variants.yaml
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/XS

#17849 Fix alpine and git cloudbuild configuration.
  images/alpine/Makefile
  images/alpine/cloudbuild.yaml
  images/git/Makefile
  images/git/cloudbuild.yaml
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/M

#17826 Stop bumping things in prow's codebase.
  config/prow/experimental/controller_manager.yaml
  prow/cmd/branchprotector/cronjob.yaml
  prow/cmd/checkconfig/testdata/combined.yaml
Labels: approved, area/config, area/prow, area/prow/branchprotector, cncf-cla: yes, lgtm, sig/testing, size/M

#17859 gcsupload: Don't force optional credentials file to be provided
  prow/gcsupload/options.go
  prow/gcsupload/options_test.go
Labels: approved, area/prow, area/prow/gcsupload, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/S

#17861 Remove -build-dir flag from alpine, git cloudbuilds.
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, area/images, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#17860 PlankV2: Couple of small bugs
  prow/cmd/prow-controller-manager/main.go
  prow/plank/reconciler.go
  prow/plank/reconciler_test.go
Labels: approved, area/prow, area/prow/plank, cncf-cla: yes, lgtm, sig/testing, size/L

#17864 Update tests after changing default image to Ubuntu 20.04
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presets.yaml
  config/jobs/kubernetes/kops/kops-presubmits.yaml
  config/testgrids/kubernetes/kops/config.yaml
Labels: approved, area/config, area/jobs, area/testgrid, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XXL

#17865 Kops - Add back "--kops-ssh-user"
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presets.yaml
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/L

#17866 Use "ubuntu" user explicitly for branches 1.18 and master
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#17797 match up test-runs for sig-node-kubelet dashboard tabs
  config/testgrids/kubernetes/sig-node/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#17871 cherrypicker: wait longer for forks, comment on failure
  prow/external-plugins/cherrypicker/server.go
  prow/external-plugins/cherrypicker/server_test.go
  prow/github/client.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#17873 Fix deck error handling with %w wrapping error
  prow/cmd/deck/job_history.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/XS

#17872 CAPZ: decrease MachinePool job frequency
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.16.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.17.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.18.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/sig-azure-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/S

#17874 Remove CAPI pr-integration presubmit
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#17863 Update to latest alpine and git images
  containers.bzl
  images/alpine-bash/Dockerfile
  images/git/Dockerfile
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/S

#17788 rename windows upgrade e2e test
  config/testgrids/config.yaml
  config/testgrids/conformance/conformance-all.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/S

#17875 Updated the prow install docs
  config/jobs/README.md
  prow/getting_started_deploy.md
Labels: approved, area/config, area/jobs, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#17876 Run rules_k8s PRs concurrently
  config/jobs/bazelbuild/rules_k8s/rules_k8s_config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#17676 Don't mix approvers and reviewers in blunderbuss
  prow/plugins/blunderbuss/blunderbuss.go
  prow/plugins/blunderbuss/blunderbuss_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/M

#17868 releng: Update bot comment for patch releases
  OWNERS_ALIASES
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#17883 Wrap one error in deck when reading symlink
  prow/cmd/deck/job_history.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/XS

#17880 Added clear manual creation of Webhooks
  prow/getting_started_deploy.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/S

#16519 testgrid config for arm64 conformance-containerd-stable tests
  config/testgrids/conformance/conformance-all.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/node, sig/testing, size/XS

#17633 Publishing arm64 conformance test results on packet.net
  config/testgrids/conformance/conformance-all.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS

#17756 Upgraded latest aws-go-sdk to catch up with k/k
  go.mod
  go.sum
  repos.bzl
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#17847 Honor .bazelversion in trusted jobs
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M

#16604 update link to TestGrid's config.proto from configurator
  testgrid/cmd/configurator/README.md
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#17808 image pushing: enhance Kubernetes-CSI generator script
  config/jobs/image-pushing/k8s-staging-csi-gen.sh
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#17887 Migrate ci-kubernetes-e2e-ubuntu-gce jobs to k8s-infra-prow-build
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#17828 add note about setting $HOME=/root for buildx
  config/jobs/image-pushing/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS

#17879 Add kubeflow-pipeline-multiuser-test as optional
  config/jobs/kubeflow/kubeflow-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/S

#17886 Migrate 100 node release-branch blocking jobs to k8s-infra-prow-build
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.15.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#17870 remove deprecated bots in approve plugin
  prow/plugins/approve/approve.go
  prow/plugins/approve/approve_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/S

#17891 Crier: Fix a bug where it waits for the wrong change
  prow/crier/controller.go
Labels: approved, area/prow, area/prow/crier, cncf-cla: yes, lgtm, sig/testing, size/XS

#17885 Add announcement for plankv2
  prow/ANNOUNCEMENTS.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#17892 github: fix the fork name field we read
  prow/external-plugins/cherrypicker/server.go
  prow/github/client.go
  prow/github/client_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#17877 Add presubmit for cluster-addons repo
  config/jobs/kubernetes-sigs/cluster-addons/OWNERS
  config/jobs/kubernetes-sigs/cluster-addons/cluster-addons-presubmits.yaml
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Labels: approved, area/config, area/jobs, area/testgrid, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#17888 Owners cleanup
  OWNERS_ALIASES
  config/testgrids/kubernetes/sig-testing/OWNERS
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XS, ¯\_(ツ)_/¯

#17897 Fix bump.sh by checking the correct images
  prow/cmd/autobump/bump.sh
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#17680 Update test-infra to bazel 3.0.0.
  .bazelversion
  images/bazel/variants.yaml
  images/bazelbuild/variants.yaml
  images/gcloud-bazel/push.sh
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/S

#17896 Updated setup/getting started.
  prow/getting_started_deploy.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#17902 Add missing SELinux config to storage job
  config/jobs/kubernetes/sig-storage/sig-storage-kops-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/storage, sig/testing, size/XS

#17899 Specify redundant version when autobump.sh fails
  prow/cmd/autobump/autobump.sh
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#17857 Add Kops required status checks
  config/prow/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#17188 hmac auto-rotation phase2
  experiment/BUILD.bazel
  experiment/add-hook/main.go
  experiment/update-hook/BUILD.bazel
  experiment/update-hook/main.go
  prow/BUILD.bazel
  prow/cmd/hmac/BUILD.bazel
  prow/cmd/hmac/OWNERS
  prow/cmd/hmac/README.md
  prow/cmd/hmac/fakeghhook/BUILD.bazel
  prow/cmd/hmac/fakeghhook/fakeghhook.go
  prow/cmd/hmac/main.go
  prow/cmd/hmac/main_test.go
  prow/config/config.go
  prow/getting_started_deploy.md
  prow/ghhook/BUILD.bazel
  prow/ghhook/ghhook.go
  prow/ghhook/ghhook_test.go
  prow/github/client.go
  prow/github/fakegithub/fakegithub.go
  prow/github/hmac.go
Labels: approved, area/boskos, area/config, area/gubernator, area/images, area/jobs, area/kubetest, area/label_sync, area/provider/aws, area/provider/azure, area/provider/gcp, area/provider/openstack, area/provider/vmware, area/prow, area/prow/branchprotector, area/prow/bump, area/prow/crier, area/prow/deck, area/prow/gerrit, area/prow/hook, area/prow/plank, area/prow/pod-utilities, area/prow/spyglass, area/release-eng, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/api-machinery, sig/apps, sig/cli, sig/cloud-provider, sig/cluster-lifecycle, sig/instrumentation, sig/multicluster, sig/network, sig/node, sig/release, sig/scalability, sig/storage, sig/testing, sig/windows, size/XXL

#17910 CAPZ: update reviewers to match CAPZ repo
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/OWNERS
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#17913 Add manual presubmit to allow running the GA-only conformance job on kind PRs
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M

#17908 Update github.com/sirupsen/logrus to v1.6.0
  go.mod
  go.sum
  repos.bzl
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S

#17914 Kops - Adjust ssh user to "ubuntu"
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/S

#17912 Prevent release note duplicate messages
  prow/plugins/releasenote/releasenote.go
  prow/plugins/releasenote/releasenote_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M, tide/merge-method-squash

#17909 Alert earlier on ci-kubernetes-e2e-gce-device-plugin-gpu failures
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#17918 changes project type on ci-kubernetes-e2e-gci-gce
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#17919 Show more info in the crier retry log
  prow/crier/controller.go
Labels: approved, area/prow, area/prow/crier, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/S

#17916 Add kube-state-metrics to image-pushing job
  config/jobs/image-pushing/k8s-staging-kube-state-metrics.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#17924 Switch slow jobs to use docker due to containerd performance regression
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/storage, sig/testing, size/XS

#17898 Put image builder messages to console
  images/builder/main.go
Labels: approved, area/images, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#17926 image pushing: k8s-staging-csi -> k8s-staging-sig-storage
  config/jobs/image-pushing/k8s-staging-sig-storage.sh
  config/jobs/image-pushing/k8s-staging-sig-storage.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#17928 Setup prow jobs for Kubeflow GCP blueprints.
  config/jobs/kubeflow/kubeflow-periodics.yaml
  config/jobs/kubeflow/kubeflow-postsubmits.yaml
  config/jobs/kubeflow/kubeflow-presubmits.yaml
  config/testgrids/kubeflow/kubeflow.yaml
Labels: approved, area/config, area/jobs, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#17931 Adjust kops periodic for launch templates default change
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#17932 Add kops e2e test for the legacy etcd provider
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#17935 Fix typo in e2e-kops-aws-misc-legacy-etcd image name
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#17937 Try e2e-kops-aws-misc-legacy-etcd arg without quotes
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#17938 Allow kops canaries to run new versions of Kubernetes
  config/jobs/kubernetes/sig-testing/kubetest-canaries.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#17933 kubeadm: increase job timeout to 60 minutes
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-addons.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-discovery.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-etcd.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-kustomize.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-upgrade.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-x-on-y.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, kind/bug, lgtm, priority/important-soon, sig/cluster-lifecycle, sig/testing, size/M

#17941 Add an optional gce-correctness 100 node presubmit
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/M

#17944 CAPZ: unify K8s E2E and cluster version
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#17858 GCE Deployer for Kubetest2: Build()
  go.mod
  go.sum
  kubetest2/BUILD.bazel
  kubetest2/kubetest2-gce/BUILD.bazel
  kubetest2/kubetest2-gce/deployer/BUILD.bazel
  kubetest2/kubetest2-gce/deployer/build.go
  kubetest2/kubetest2-gce/deployer/build_test.go
  kubetest2/kubetest2-gce/deployer/deployer.go
  kubetest2/kubetest2-gce/main.go
  kubetest2/pkg/exec/exec.go
  kubetest2/pkg/exec/local.go
  repos.bzl
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#17940 Added k8sio-dns-update postsubmit k/k8s.io prowjob
  config/jobs/kubernetes/wg-k8s-infra/trusted/wg-k8s-infra-trusted.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#17947 Update triage OWNERS
  triage/OWNERS
Labels: approved, area/triage, cncf-cla: yes, lgtm, sig/testing, size/XS

#17882 Automatically run network proxy presubmit if images change
  config/jobs/kubernetes/sig-api-machinery/sig-api-machinery-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/api-machinery, sig/testing, size/XS

#17890 Add --yes to kops create cluster
  kubetest/kops.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/S

#17837 kubetest: allow explicitly specifying kops ssh public key
  kubetest/kops.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS

#17954 Fix pull kubernetes e2e gce correctness
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#17957 Crier github: Stop retrying on max sha error
  prow/crier/reporters/github/reporter.go
  prow/crier/reporters/github/reporter_test.go
  prow/github/fakegithub/fakegithub.go
  prow/github/report/report.go
Labels: approved, area/prow, area/prow/crier, cncf-cla: yes, lgtm, sig/testing, size/M

#17772 prow: configurable metrics and pprof port
  ghproxy/BUILD.bazel
  ghproxy/ghproxy.go
  prow/cmd/admission/BUILD.bazel
  prow/cmd/admission/main.go
  prow/cmd/admission/main_test.go
  prow/cmd/crier/main.go
  prow/cmd/crier/main_test.go
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
  prow/cmd/exporter/main.go
  prow/cmd/gerrit/BUILD.bazel
  prow/cmd/gerrit/main.go
  prow/cmd/gerrit/main_test.go
  prow/cmd/hook/main.go
  prow/cmd/hook/main_test.go
  prow/cmd/horologium/BUILD.bazel
  prow/cmd/horologium/main.go
  prow/cmd/horologium/main_test.go
  prow/cmd/jenkins-operator/main.go
  prow/cmd/pipeline/BUILD.bazel
  prow/cmd/pipeline/main.go
  prow/cmd/pipeline/main_test.go
  prow/cmd/plank/main.go
  prow/cmd/plank/main_test.go
  prow/cmd/prow-controller-manager/main.go
  prow/cmd/sinker/main.go
  prow/cmd/sinker/main_test.go
  prow/cmd/status-reconciler/main.go
  prow/cmd/status-reconciler/main_test.go
  prow/cmd/sub/main.go
  prow/cmd/tide/main.go
  prow/cmd/tide/main_test.go
  prow/cmd/tot/BUILD.bazel
  prow/cmd/tot/main.go
  prow/flagutil/BUILD.bazel
  prow/flagutil/instrumentation.go
  prow/metrics/BUILD.bazel
  prow/metrics/metrics.go
  prow/metrics/metrics_test.go
  prow/pjutil/pprof.go
Labels: approved, area/ghproxy, area/prow, area/prow/crier, area/prow/deck, area/prow/gerrit, area/prow/hook, area/prow/horologium, area/prow/jenkins-operator, area/prow/plank, area/prow/sinker, area/prow/status-reconciler, area/prow/tide, area/prow/tot, cncf-cla: yes, lgtm, sig/testing, size/L, tide/merge-method-squash

#17930 Fix bugs of hmac tool and add more logs
  prow/cmd/checkconfig/main.go
  prow/cmd/checkconfig/main_test.go
  prow/cmd/hmac/README.md
  prow/cmd/hmac/main.go
  prow/cmd/hmac/main_test.go
  prow/config/config.go
  prow/config/config_test.go
  prow/github/hmac.go
  prow/github/hmac_test.go
  prow/github/types.go
Labels: approved, area/prow, area/prow/hook, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#17959 [CAPZ] Add CAPI e2e optional presubmit
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#17920 Make autobump create Gerrit PRs and support repos hosting multiple Prow instances.
  prow/cmd/autobump/autobump.sh
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#17889 Bugzilla: Add functions to get all clones across multi levels
  prow/bugzilla/BUILD.bazel
  prow/bugzilla/client.go
  prow/bugzilla/client_test.go
  prow/bugzilla/fake.go
  prow/bugzilla/types.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#17963 ci-kubernetes-e2e-gce-device-plugin-gpu-beta needs docker as default runtime
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#17962 Notify release team on master-informing CAPI job failures
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-ci.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#17960 GitHub GetRef: Better handle the case of getting multiple result
  prow/github/client.go
  prow/github/client_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#17917 Move kops actions to master only
  config/prow/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#17965 Kops - Add verify-terraform presubmit job
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/S

#17951 Fix ubuntu image name for iSCSI tests
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/storage, sig/testing, size/XS

#17968 Kops - Revert #17917
  config/prow/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#17969 Set kubeflow-pipeline-multiuser-test skip_report to false
  config/jobs/kubeflow/kubeflow-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#17961 Adding periodic for kfctl v1.1-branch
  config/jobs/kubeflow/kubeflow-periodics.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/S

#17903 Rollout containerd to remaining jobs
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/M

#17967 Kops - update verify-terraform presubmit to be required
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#17971 prow: spyglass: fix rendering of remote lenses
  prow/spyglass/spyglass.go
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/M

#17974 GHProxy: log token usage
  prow/github/client.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#17975 Github GetRef: If possible, return exact match from multiple results
  prow/github/client.go
  prow/github/client_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#17976 Add a severity field to logrus JSON output by default
  prow/logrusutil/logrusutil.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS
