Repository kubernetes/test-infra, pull requests merged in 2020-08, with the labels that each got.

#18575 Fix wheel spinner to be centered
  prow/cmd/deck/static/kubernetes-wheel.svg
  prow/cmd/deck/static/style.css
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/XS

#18576 Add test to enforce critical jobs run on k8s-infra-prow-build
  config/tests/jobs/jobs_test.go
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#18603 Revert "Add python3, python3-distutils, and python3-pip to the bootstrap image"
  images/bootstrap/Dockerfile
Labels: approved, area/images, cncf-cla: yes, lgtm, priority/critical-urgent, sig/testing, size/XS

#18605 Bump bootstrap base image in kubekins to v20200801-23e4b0e
  images/kubekins-e2e/Dockerfile
Labels: approved, area/images, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#18609 kops grid: fix substitution of kops_version
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/L

#18612 Cleanup cross
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
  config/testgrids/config.yaml
Labels: approved, area/config, area/jobs, area/release-eng, area/testgrid, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#18608 Supply get-kube.sh with correct fast build source URL
  kubetest/extract_k8s.go
  kubetest/extract_test.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, priority/critical-urgent, sig/testing, size/M

#18607 Alter bazel-test-canary to run on k8s-infa-prow-build
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#18615 Use again fast builds for scalability jobs
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#18616 Increase memory limit for 5k correctness test to 64Gi
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#18571 Make PR Process link configurable
  prow/plugins/approve/approve.go
  prow/plugins/approve/approve_test.go
  prow/plugins/approve/approvers/approvers_test.go
  prow/plugins/approve/approvers/owners.go
  prow/plugins/config.go
  prow/plugins/config_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#18610 Add resource requests and limits for pull-kubernetes-verify presubmits
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#18400 Add presubmit job to verify gherkin files
  config/jobs/kubernetes-sigs/ingress-controller-conformance/ingress-controller-conformance.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#18354 Update TestGrid for istio
  config/testgrids/istio/gen-config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XXL

#18278 Sidecar Support for Multiple Containers in Parallel
  prow/entrypoint/run.go
  prow/pod-utils/decorate/podspec.go
  prow/pod-utils/decorate/podspec_test.go
  prow/pod-utils/wrapper/options.go
  prow/sidecar/run.go
  prow/sidecar/run_test.go
Labels: approved, area/prow, area/prow/entrypoint, area/prow/pod-utilities, area/prow/sidecar, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#18273 Port triage/summarize.py to Go
  triage/BUILD.bazel
  triage/main.go
  triage/summarize/BUILD.bazel
  triage/summarize/cluster.go
  triage/summarize/files.go
  triage/summarize/map_abstractions.go
  triage/summarize/output.go
  triage/summarize/summarize.go
  triage/summarize/text.go
  triage/utils/utils.go
  triage/utils/utils_test.go
Labels: approved, area/triage, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XXL, tide/merge-method-squash

#18558 releng: Move Debian base image postsubmits to k/release
  config/jobs/image-pushing/k8s-staging-build-image.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#18619 Make critical jobs Guaranteed Pod QOS for ci-kubernetes-build-fast
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, ok-to-test, sig/release, sig/testing, size/XS

#18630 critical jobs Guaranteed Pod QOS: periodic-kubernetes-bazel-test
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#18620 Make critical jobs Guaranteed Pod QOS for ci-kubernetes-build-*
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, ok-to-test, sig/release, sig/testing, size/M

#18623 Test using kubetest2 uses go get instead of build from source
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-presubmits.yaml
Labels: approved, area/config, area/jobs, area/provider/aws, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/S

#18627 critical jobs Guaranteed Pod QOS: ci-kubernetes-e2e-gci-gce-ingress
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/network, sig/testing, size/XS

#18629 critical jobs Guaranteed Pod QOS: periodic-kubernetes-bazel-build
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#18632 Add amwat to OWNERS for cloud provider gcp jobs.
  config/jobs/kubernetes/cloud-provider-gcp/OWNERS
Labels: approved, area/config, area/jobs, area/provider/aws, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#18611 Report error if job fails due to pod scheduling timeout
  prow/spyglass/lenses/metadata/lens.go
  prow/spyglass/lenses/metadata/lens_test.go
  prow/spyglass/lenses/metadata/template.html
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/M

#18634 Job to test Multiple Containers
  config/jobs/kubernetes/test-infra/test-infra-canaries.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#18621 Make critical jobs Guaranteed Pod QOS for ci-kubernetes-e2e-gce-devic…
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, area/release-eng, cncf-cla: yes, lgtm, ok-to-test, sig/cloud-provider, sig/release, sig/testing, size/M

#18637 Give k8s-infra-prow-build cluster time to scale-up
  config/prow/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS, wg/k8s-infra

#18638 delete fake deck_deployment file
  prow/cluster/deck_deployment.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#18639 Adds preset-windows-repo-list to master-windows-containerd job
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#18641 Set memory limit for 5k correctness test to 48Gi
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#18636 Make critical jobs Guaranteed Pod QOS for pull-kubernetes-bazel-build
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, ok-to-test, sig/release, sig/testing, size/M

#18642 Revised entrypoint to create subdirectory inside of logs/ mount
  prow/entrypoint/run.go
Labels: approved, area/prow, area/prow/entrypoint, area/prow/pod-utilities, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/S

#18644 Set resource limits for pull-kubernetes-e2e-gce
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, area/release-eng, cncf-cla: yes, lgtm, sig/cloud-provider, sig/release, sig/testing, size/M

#18646 Try containerd v1.4.0-rc.0 in canary job
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#18648 adds resource limits/requests to pull-kubernetes-typecheck #18596
  config/jobs/kubernetes/sig-testing/typecheck.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#18645 Configure Guaranteed Pod QoS for pull-kubernetes-dependencies
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#18633 Create a parallel triage instance in Go for testing
  triage/Dockerfile-go
  triage/cloudbuild.yaml
  triage/update_summaries-go.sh
Labels: approved, area/config, area/jobs, area/triage, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#18657 Raise ci-kubernetes-build-fast timeout to 40min
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#18654 prow: hook: approve default of commandHelpLink for repos without approve plugin config
  prow/plugins/config.go
  prow/plugins/config_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/M

#18658 Revert "Fix seccomp-operator bucket name"
  config/jobs/image-pushing/k8s-staging-seccomp-operator.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#18635 Decoration Utils: Pass on decoration config
  prow/pod-utils/decorate/BUILD.bazel
  prow/pod-utils/decorate/podspec_test.go
  prow/pod-utils/decorate/testdata/TestProwJobToPod_0.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_1.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_2.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_3.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_4.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_5.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_6.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_7.yaml
  prow/pod-utils/downwardapi/jobspec.go
Labels: approved, area/prow, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/XXL

#18643 capz: Update milestone applier to v0.4.8
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#18663 Add job to test out k8s-infra-e2e-ingress-project
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/network, sig/testing, size/M

#18664 Add job to test out k8s-infra-e2e-gpu-project
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/M

#18659 critical jobs Guaranteed Pod QOS: pull-kubernetes-e2e-gce-ubuntu-containerd
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, area/release-eng, cncf-cla: yes, lgtm, sig/cloud-provider, sig/release, sig/testing, size/S

#18626 Azure: bump aks-engine version to v0.54.0
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blobfuse-csi-driver/blobfuse-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.16-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.17-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.18-windows.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.16.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.17.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.18.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/sig-azure-config.yaml
  config/jobs/kubernetes/sig-network/dualstack-e2e.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/cloud-provider, sig/network, sig/testing, size/L

#18523 Enable cgroup v2 on Fedora CoreOS Host
  jobs/e2e_node/crio/fcos_cgroupv2.ign
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/node, sig/testing, size/S

#18676 Implements 18592 QoS Guarantee for pull-kubernetes-files-remake
  config/jobs/kubernetes/sig-testing/files-remake.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#18671 Implements 18585 Guarantees QoS
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#18674 critical jobs Guaranteed Pod QOS: pull-kubernetes-e2e-gce-100-performance
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/scalability, sig/testing, size/M

#18665 critical jobs Guaranteed Pod QOS: pull-kubernetes-integration
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-testing/integration.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#18670 Implements #18584 sets pull-kubernetes-bazel-test pod to Guaranteed QoS
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#18683 Guaranteed Pod QOS: pull-kubernetes-e2e-gce-network-proxy-http-connect
  config/jobs/kubernetes/sig-api-machinery/sig-api-machinery-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/api-machinery, sig/testing, size/XS

#18682 update job template for windows tests
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#18686 Add presets to the 1.16-1.18 releases jobs
  config/jobs/kubernetes-sigs/sig-windows/release-1.16-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.17-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.18-windows.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, sig/windows, size/S

#18681 Adds the WS 20.04 jobs for containerd and hyperv
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-sac.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XL

#18675 Attempt to fix Go Triage builds
  triage/Dockerfile-go
  triage/cloudbuild.yaml
Labels: approved, area/triage, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#18381 report ipv6 status on presubmits
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#18661 Drop quotes in resources for pull-kubernetes-dependencies
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#18689 Add chaodaiG as oncall
  OWNERS_ALIASES
  experiment/slack-oncall-updater/main.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#18693 Add slack ID to oncall map.
  experiment/slack-oncall-updater/main.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#18613 Swap periodic-kubernetes-bazel-test-master for canary
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S, wg/k8s-infra

#18694 Move gpu canary job to k8s-infra-prow-build
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#18403 Revert "Revert "Azure: remove Azure CLI installation step""
  kubetest/aksengine.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/S

#18696 Add an environment variable for azure loadbalancer sku
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/XS

#18655 Move ubuntu/containerd jobs to newer containerd v1.4.0-rc.0
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#18569 remove ci-cri-containerd tests failing continually over past 400 days
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/testgrids/config.yaml
Labels: approved, area/config, area/jobs, area/testgrid, cncf-cla: yes, lgtm, sig/node, sig/testing, size/L

#18700 kubeadm: remove jobs that use 1.15
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-upgrade.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-x-on-y.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, kind/cleanup, lgtm, priority/important-soon, sig/cluster-lifecycle, sig/testing, size/M

#18703 Attempt to fix Go Triage builds, take 2
  triage/cloudbuild.yaml
Labels: approved, area/triage, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#18704 switch kind presubmit jobs to make targets
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#18604 Ensure pyyaml is available for python3
  images/bootstrap/Dockerfile
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/XS

#18673 critical jobs Guaranteed Pod QOS: pull-kubernetes-cross
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#18666 Kettle, boyscout err and clean away custom mapping
  kettle/stream.py
  kettle/stream_test.py
Labels: approved, area/kettle, cncf-cla: yes, kind/cleanup, lgtm, sig/testing, size/M

#18705 Attempt to fix Go Triage builds, take 3
  triage/Dockerfile-go
  triage/cloudbuild.yaml
Labels: approved, area/triage, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#18672 Add Go version of Triage to test-infra-periodics
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#18712 Add kube-up/down and dump logs dependencies to KRTE
  images/krte/Dockerfile
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/XS

#18699 Add podman label to the kind project
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/testing, size/S

#18709 fix projectID in built image logs
  images/builder/main.go
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/S

#18713 fix summarize.go flag binding
  triage/summarize/summarize.go
Labels: approved, area/triage, cncf-cla: yes, lgtm, sig/testing, size/S

#18707 Print output of push build call
  scenarios/kubernetes_build.py
Labels: approved, area/scenarios, cncf-cla: yes, lgtm, sig/testing, size/XS

#18715 s/previous/tests in triage flags
  triage/update_summaries-go.sh
Labels: approved, area/triage, cncf-cla: yes, lgtm, sig/testing, size/XS

#18716 bufio => streaming decoder
  triage/summarize/files.go
Labels: approved, area/triage, cncf-cla: yes, lgtm, sig/testing, size/S

#18719 Add lb sku env to cloud provider azure e2e tests
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/XS

#18724 Kops - remove updown jobs for kops 1.16 and 1.17
  config/jobs/kubernetes/kops/build-pipeline.py
  config/jobs/kubernetes/kops/kops-pipeline.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/L

#18722 config/prow: cleanup config for kubernetes-incubator
  config/prow/config.yaml
Labels: approved, area/config, cncf-cla: yes, kind/cleanup, lgtm, sig/testing, size/S

#18723 Fix service catalog job config
  config/jobs/kubernetes-sigs/service-catalog/service-catalog-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#18718 make pull-kubernetes-e2e-kind-ipv6 required
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
  config/testgrids/config.yaml
Labels: approved, area/config, area/jobs, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/S

#18728 demote pull-kuberentes-e2e-gce-device-plugin-gpu from merge-blocking
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gcp-gpu-presubmits.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, area/release-eng, cncf-cla: yes, lgtm, sig/cloud-provider, sig/release, sig/testing, size/S

#18732 Intall python2 yaml module as well
  images/bootstrap/Dockerfile
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/XS

#18714 Add periodic conformance test run against cloud-provider-gcp using kubetest2
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-periodics.yaml
  config/testgrids/kubernetes/sig-cloud-provider/gcp/config.yaml
Labels: approved, area/config, area/jobs, area/provider/aws, area/provider/gcp, area/testgrid, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/M, tide/merge-method-squash

#18735 preload python2/3 gflags
  images/bootstrap/Dockerfile
Labels: approved, area/images, cncf-cla: yes, lgtm, sig/testing, size/XS

#18734 Migrate release-blocking ingress jobs to k8s-infra-prow-build
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  config/tests/jobs/jobs_test.go
  releng/test_config.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/network, sig/release, sig/testing, size/S

#18736 keep mkpj up to date in mkpj.sh
  config/mkpj.sh
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS, ¯\_(ツ)_/¯

#18733 auto-push triage static files
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  triage/Makefile
Labels: approved, area/config, area/jobs, area/triage, cncf-cla: yes, lgtm, sig/testing, size/M

#18737 Bump bootstrap image to v20200807-a5e1e50
  config/jobs/cadvisor/cadvisor.yaml
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-golang.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  images/kubekins-e2e/Dockerfile
Labels: approved, area/config, area/images, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/scalability, sig/testing, size/S

#18721 fix kind ipv6 network job regex
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/network, sig/testing, size/XS

#18730 Use relative paths when fetching triage results
  triage/interactive.js
Labels: approved, area/triage, cncf-cla: yes, lgtm, sig/testing, size/XS

#18741 Stop exporting results to resultstore.
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#18742 use an image with make
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#18740 Add k8s-infra gpu-project pool to boskos dashboard
  config/prow/cluster/monitoring/mixins/grafana_dashboards/boskos.jsonnet
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#18739 add jobs to deploy k8s-infra prow-build resources
  config/jobs/kubernetes/wg-k8s-infra/trusted/wg-k8s-infra-trusted.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#18744 Migrate release-blocking gpu jobs to k8s-infra
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  releng/test_config.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, area/release-eng, cncf-cla: yes, lgtm, sig/cloud-provider, sig/release, sig/testing, size/S

#18745 Clean up bazel build/test jobs
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M

#18510 Update HNC presubmits to use Go 1.14
  config/jobs/kubernetes-sigs/wg-multi-tenancy/hnc-presubmit.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#18697 Guaranteed Pod QOS: pull-kubernetes-e2e-gce-network-proxy-grpc
  config/jobs/kubernetes/sig-api-machinery/sig-api-machinery-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/api-machinery, sig/testing, size/XS

#18747 Add resources limits to pull-kubernetes-bazel-build
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#18748 Add resources for pull-kubernetes-dependencies (non relase-branch)
  config/jobs/kubernetes/sig-testing/dependencies.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#18698 Make pull-kubernetes-kubemark-e2e-gce-big job guaranteed Pod QOS
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, ok-to-test, sig/release, sig/scalability, sig/testing, size/M

#18749 Add resources for pull-kubernetes-bazel-test (release branches)
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-testing/bazel-build-test.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#18750 Add resources to pull-kubernetes-typecheck (release branches)
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#18746 Set azure loadbanacer sku to basic when enabling public IP address in agentpool
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, kind/bug, lgtm, sig/testing, size/XS

#18752 Update pull-kubernetes-files-remake 1.19 job to non-blocking
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#18751 Enforce release-blocking jobs must be Pod QOS Guaranteed
  config/tests/jobs/jobs_test.go
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#18725 image-pushing: add config for nfd
  config/jobs/image-pushing/k8s-staging-nfd.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/node, sig/testing, size/M

#18731 Re-enable support for SIG labeling in Triage
  triage/summarize/output.go
  triage/summarize/summarize.go
Labels: approved, area/triage, cncf-cla: yes, lgtm, sig/testing, size/M

#18753 Kops - remove optional verify presubmit job
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#18717 Sync started.json with testgrid schema in Pod-Util
  docs/tests/node-e2e-ci.md
  prow/initupload/run.go
  prow/initupload/run_test.go
Labels: approved, area/prow, area/prow/initupload, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/M

#18684 Update Triage README
  triage/README.md
  triage/logo.svg
Labels: approved, area/triage, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#18755 Bump pull-kubernetes-verify memory limits to accomodate for govet test
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#18758 releng(kubekins, krte): Update Golang versions
  images/kubekins-e2e/variants.yaml
Labels: approved, area/images, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#18761 cloud-provider-vsphere: move abrarshivani to emeritus_approvers
  config/jobs/kubernetes/cloud-provider-vsphere/OWNERS
Labels: approved, area/config, area/jobs, area/provider/vmware, cncf-cla: yes, kind/cleanup, lgtm, sig/cloud-provider, sig/testing, size/XS

#18759 Fix typo in resource requests for files-remake
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-testing/files-remake.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#17979 remove duplicate image config for e2e_node benchmark
  jobs/e2e_node/benchmark-config.yaml
  jobs/e2e_node/containerd/cri-master/benchmark-config.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/node, sig/testing, size/M

#18763 Kops - add a skip list of grid jobs
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#18765 testgrids: update OpenShift content
  config/testgrids/openshift/redhat-openshift-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-3.11-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.1-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.1-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.2-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.2-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.3-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.3-broken.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.3-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.4-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.4-broken.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.4-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.5-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.5-broken.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.5-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-broken.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.6-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.7-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.7-broken.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.7-informing.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.3-informing.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.4-informing.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.5-blocking.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.5-informing.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.6-blocking.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.6-informing.yaml
  config/testgrids/openshift/redhat-openshift-okd-release-4.7-informing.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/XXL

#18766 Fix nil map assignment that was causing panics
  triage/summarize/summarize.go
Labels: approved, area/triage, cncf-cla: yes, lgtm, sig/testing, size/XS

#18625 Update interval to 12h for sig-cli periodic e2e tests.
  config/jobs/kubernetes/sig-cli/sig-cli-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cli, sig/testing, size/S

#18738 bump new container image promoter image
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, ok-to-test, sig/release, sig/testing, size/S

#18756 rename blobfuse repo
  config/jobs/kubernetes-sigs/blob-csi-driver/OWNERS
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M

#18754 Fix ingress-controller-conformance pip dependency
  config/jobs/kubernetes-sigs/ingress-controller-conformance/ingress-controller-conformance.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#18668 Sets sig-node-presubmit Pod QoS to Guaranteed
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/node, sig/release, sig/testing, size/M

#18764 Kops - Skip additional jobs that are known to be unsupported
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XXL

#18667 Use rebase merge method for k-sigs/seccomp-operator
  config/prow/config.yaml
  gubernator/config.yaml
Labels: approved, area/config, area/gubernator, cncf-cla: yes, lgtm, sig/testing, size/XS

#18772 Fix "Invalid Date" constantly coming up on Triage Go results page
  triage/summarize/output.go
Labels: approved, area/triage, cncf-cla: yes, lgtm, sig/testing, size/S

#18490 Port tests for triage/summarize.py
  triage/summarize/BUILD.bazel
  triage/summarize/cluster_test.go
  triage/summarize/output_test.go
  triage/summarize/summarize_test.go
  triage/summarize/text_test.go
Labels: approved, area/triage, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XL

#18773 bugzilla plugin: do not run bugzilla actions on non-bz cherrypicks
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/M

#18775 azure blobfuse driver rename
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
  kubetest/aksengine.go
Labels: approved, area/config, area/jobs, area/kubetest, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/S

#18776 add csi-driver-smb test support on kubetest
  kubetest/aksengine.go
Labels: approved, area/kubetest, cncf-cla: yes, lgtm, sig/testing, size/XS

#18711 Remove ProwMultipleContainerSupport annotation config requirement
  prow/config/config.go
  prow/config/config_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#18778 add pull-csi-driver-smb-e2e
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M

#18779 Update Triage SIGs
  triage/index.html
  triage/style.css
Labels: approved, area/triage, cncf-cla: yes, lgtm, sig/testing, size/M

#18771 Try to catch gubernator-breaking job changes at presubmit time
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  hack/verify-all.sh
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#18783 Move Go triage to prod
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  triage/BUILD.bazel
  triage/Dockerfile
  triage/Dockerfile-go
  triage/Makefile
  triage/berghelroach.py
  triage/cloudbuild.yaml
  triage/summarize.py
  triage/update_summaries-go.sh
  triage/update_summaries.sh
Labels: approved, area/config, area/jobs, area/triage, cncf-cla: yes, lgtm, sig/testing, size/XXL

#18787 cloud-provider-gcp conformance periodic does not download ginkgo
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-periodics.yaml
Labels: approved, area/config, area/jobs, area/provider/aws, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#18774 Added a mirror of the k/k pull-kubernetes-e2e-gce using kubetest2
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/M

#18792 don't write docker pull to stdout
  config/mkpj.sh
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#18791 Use multi os hyperv aks-engine package
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-sac.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, sig/windows, size/XS

#18691 Configure Guaranteed Pod QoS for pull-kubernetes-e2e-kind
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.16.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.17.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S

#18762 [scalability][presubmits][k/k] Update resources
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/M
