Repository kubernetes/test-infra, pull requests merged in 2021-10, with the labels that each got.

#23847 config/jobs: remove some defunct sig-testing-canaries jobs
  config/jobs/kubernetes/sig-testing/kubetest-canaries.yaml
  config/jobs/kubernetes/test-infra/test-infra-canaries.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#23850 triage: rm k8s-testimages from Makefile
  triage/Makefile
Labels: lgtm, area/triage, cncf-cla: yes, size/XS, approved, sig/testing

#23863 Update CAPA milestone appliers
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#23845 Remove non-alpha features from jobs.
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config, ok-to-test

#23848 fix sig-testing janitor jobs
  experiment/ci-janitor/main.go
  scenarios/kubernetes_janitor.py
Labels: lgtm, cncf-cla: yes, area/scenarios, size/S, approved, sig/testing

#23860 updating kubetest2 version
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, ok-to-test, area/release-eng

#23854 Print a sorted and unique lists on test help message
  prow/pjutil/filter.go
  prow/pjutil/help.go
  prow/plugins/trigger/generic-comment_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/plugins

#23872 kOps - Remove unnecessary triggers for Flannel pre-submits
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#23875 releng: Re-enable `ci-k8sio-gcr-prod-backup` job
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, priority/critical-urgent, sig/release, area/release-eng

#23874 releng(kpromo): Bump images to v3.3.0-beta.0-1
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng, area/artifacts, sig/k8s-infra

#23877 added 2 pull-kubernetes-node-e2e-...-kubetest2 jobs
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  config/testgrids/kubernetes/presubmits/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, needs-ok-to-test, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#23881 enable e2e-provider test in release-1.* branch and set it as required for csi-secrets-store
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#23880 config/prow/cluster: remove gke-project boskos pool
  config/prow/cluster/boskos-janitor.yaml
  config/prow/cluster/boskos-reaper_deployment.yaml
  config/prow/cluster/boskos-resources.yaml
  config/prow/cluster/monitoring/mixins/lib/config.libsonnet
  releng/test_config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/release, area/config, area/prow/bump, area/release-eng

#23882 OWNERS_ALIASES: update sig-testing-leads
  OWNERS_ALIASES
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#23885 images/bootstrap: allow disabling mtu workaround via env var
  images/bootstrap/runner.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#23884 amending repo-root for kubetest2 jobs
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#23861 Refactor configurators to be separate packages
  config/tests/testgrids/BUILD.bazel
  config/tests/testgrids/config_test.go
  testgrid/BUILD.bazel
  testgrid/cmd/configurator/BUILD.bazel
  testgrid/cmd/configurator/main.go
  testgrid/pkg/configurator/configurator/BUILD.bazel
  testgrid/pkg/configurator/configurator/client.go
  testgrid/pkg/configurator/configurator/client_test.go
  testgrid/pkg/configurator/options/BUILD.bazel
  testgrid/pkg/configurator/options/options.go
  testgrid/pkg/configurator/options/options_test.go
  testgrid/pkg/configurator/prow/BUILD.bazel
  testgrid/pkg/configurator/prow/prow.go
  testgrid/pkg/configurator/prow/prow_test.go
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XXL, approved, sig/testing, area/config

#23886 images/kubekins: bump bootstrap FROM
  images/kubekins-e2e/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#23890 config/jobs: add pull-kubernetes-integration-1-22-canary
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.22.yaml
  config/testgrids/kubernetes/presubmits/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#22507 Add systemd cgroup v1 periodic job to release informing
  config/jobs/kubernetes/sig-node/crio.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#23892 adding `pull-kubernetes-node-kubelet-serial-kubetest2` job
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, sig/release, area/jobs, area/images, area/config, ok-to-test, area/release-eng

#23894 Revert "Merge pull request #23874 from justaugustus/kpromo"
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, priority/critical-urgent, sig/testing, sig/release, area/jobs, area/config, area/release-eng, area/artifacts, sig/k8s-infra

#22557 Remove directxman12 from OWNERS, sub in
  OWNERS_ALIASES
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#23896 releng(kpromo): Bump images to v3.3.0-beta.0-2
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, priority/critical-urgent, sig/testing, sig/release, area/jobs, area/config, area/release-eng, area/artifacts, sig/k8s-infra

#23899 config/jobs: disable mtu workaround for secrets-store-csi-driver presubmits
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#23867 include containerd-extra-script in cos-cgroupv2-containerd-e2e
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#23901 Create ci-fuzz image
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  experiment/ci-fuzz/Dockerfile
  experiment/ci-fuzz/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#23908 Change ci-fuzz base from latest to version hash
  experiment/ci-fuzz/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#23910 Delete prow-staging configs
  config/BUILD.bazel
  config/prow-staging/BUILD.bazel
  config/prow-staging/cluster/BUILD.bazel
  config/prow-staging/cluster/boskos-janitor.yaml
  config/prow-staging/cluster/boskos-reaper_deployment.yaml
  config/prow-staging/cluster/boskos-resources.yaml
  config/prow-staging/cluster/boskos.yaml
  config/prow-staging/cluster/crier_deployment.yaml
  config/prow-staging/cluster/crier_rbac.yaml
  config/prow-staging/cluster/deck_deployment.yaml
  config/prow-staging/cluster/deck_rbac.yaml
  config/prow-staging/cluster/deck_service.yaml
  config/prow-staging/cluster/gce-ssd-retain_storageclass.yaml
  config/prow-staging/cluster/ghproxy.yaml
  config/prow-staging/cluster/hook_deployment.yaml
  config/prow-staging/cluster/hook_rbac.yaml
  config/prow-staging/cluster/hook_service.yaml
  config/prow-staging/cluster/horologium_deployment.yaml
  config/prow-staging/cluster/horologium_rbac.yaml
  config/prow-staging/cluster/ing_ingress.yaml
  config/prow-staging/cluster/mem-limit-range_limitrange.yaml
  config/prow-staging/cluster/plank_deployment.yaml
  config/prow-staging/cluster/plank_rbac.yaml
  config/prow-staging/cluster/plank_service.yaml
  config/prow-staging/cluster/prow-staging-k8s-io_managedcertificate.yaml
  config/prow-staging/cluster/prowjob_customresourcedefinition.yaml
  config/prow-staging/cluster/sinker_deployment.yaml
  config/prow-staging/cluster/sinker_rbac.yaml
  config/prow-staging/cluster/sinker_service.yaml
  config/prow-staging/cluster/test-pods_namespace.yaml
  config/prow-staging/cluster/tide_deployment.yaml
  config/prow-staging/cluster/tide_rbac.yaml
  config/prow-staging/cluster/tide_service.yaml
  config/prow-staging/cluster/tls-ing_ingress.yaml
  config/prow-staging/config.yaml
  config/prow-staging/jobs/config.yaml
  config/prow-staging/plugins.yaml
  config/prow/autobump-config/prow-component-autobump-config.yaml
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing, area/config

#23913 releng: Artifact promotion job updates
  config/jobs/kubernetes/sig-k8s-infra/releng/OWNERS
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng, area/artifacts, sig/k8s-infra

#24170 Add checkconfig flag to force inclusion of default warning set.
  prow/cmd/checkconfig/main.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing

#24178 Gerrit client ensure authenticated at startup
  prow/gerrit/adapter/adapter.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/gerrit

#24180 Create serviceaccount with access to cifuzz test bucket
  config/prow/cluster/build/build_serviceaccounts.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config, area/prow/bump

#24183 kops Cilium IPv6 no longer masquerades (missed one)
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#24184 kOps - Switch Calico IPv6 jobs to run on Debian 11
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#24185 kops IPv6 no longer requires internal LB
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config
