Repository kubernetes/test-infra, pull requests merged in 2021-09, with the labels that each got.

#23429 Clickable hyperlinks in Spyglass Build log view
  prow/cmd/deck/static/spyglass/lens.ts
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/deck, ok-to-test

#23432 Make the rerun button more obvious.
  prow/cmd/deck/static/common/common.ts
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/deck

#23430 releng: Tidy `kpromo` job configs
  config/jobs/image-pushing/releng/k8s-staging-artifact-promoter.yaml
  config/jobs/kubernetes/release/release-config.yaml
  config/jobs/kubernetes/wg-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#23427 Labels: Allow to set up restricted labels not everyone can set
  prow/github/client.go
  prow/github/fakegithub/fakegithub.go
  prow/plugins/config.go
  prow/plugins/label/BUILD.bazel
  prow/plugins/label/label.go
  prow/plugins/label/label_test.go
  prow/plugins/plugin-config-documented.yaml
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/plugins

#23295 sig-node: skip serial and conformance tests under the orphans job
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#23422 Move autobump back 15 min so it does not interfere with auto-deploy autobump job
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#23420 prow sub shutdown returns nil instead of error
  prow/pubsub/subscriber/server.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/pubsub

#23440 Update image-builder azure-sig presubmit triggers
  config/jobs/kubernetes-sigs/image-builder/image-builder-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#23342 Override branch protected required status checks
  prow/plugins/override/override.go
  prow/plugins/override/override_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, ok-to-test, area/prow/plugins

#23442 Fix spyglass hyperlink href path
  prow/cmd/deck/static/spyglass/lens.ts
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/deck, ok-to-test

#23426 Merge Istio's Config
  config/mergelists/canary.yaml
  config/mergelists/prod.yaml
  config/testgrids/istio/OWNERS
  config/testgrids/istio/gen-config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XXL, approved, sig/testing, area/config

#23445 Add permissions step to merging tutorial
  testgrid/merging.md
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XS, approved, sig/testing

#23441 Don't use deprecated vars of MinIO in starter
  config/prow/cluster/starter-s3.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/S, approved, sig/testing, area/config, area/prow/bump

#23251 Consolidate containerd testgrid tabs
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#23448 Improve the performance of spyglass createHyperlinks
  prow/cmd/deck/static/spyglass/lens.ts
Labels: lgtm, area/prow, cncf-cla: yes, needs-ok-to-test, size/S, approved, sig/testing, area/prow/deck

#23451 config/jobs: move secrets-store-csi-driver to main branch
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#23444 Switch bazelbuild/rules-k8s from Service Account to Workload Identity
  config/jobs/bazelbuild/rules_k8s/rules_k8s_config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#23452 update kubernetes base_ref for secrets-store-csi-driver
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#23454 update secrets-store-csi-driver jobs post default-branch-rename
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#23457 config/jobs: add kubekins-e2e k8s-infra canary image build
  config/jobs/image-pushing/k8s-staging-test-infra.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved

#16329 Enable cherrypick plugin for k-sigs/{cluster-api,controller-tools,controller-runtime}
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/cherrypicker_service.yaml
  config/prow/plugins.yaml
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, lifecycle/rotten, area/config, area/prow/bump

#23458 kubetest: update README.md
  kubetest/README.md
Labels: lgtm, cncf-cla: yes, area/kubetest, size/XS, approved, sig/testing

#23437 Fix PJs not being labled with tenantIDs
  prow/pjutil/pjutil.go
  prow/test/data/kubernetes-defaulted-decoration-prow-job.yaml
  prow/test/data/kubernetes-explicit-decoration-prow-job.yaml
  prow/test/data/kubernetes-no-decoration-prow-job.yaml
  prow/test/integration/test/BUILD.bazel
  prow/test/integration/test/horologium_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing

#23376 Unprotect the gh-pages branch in nfs-ganesha-server-and-external-provisioner for helm chart release action
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config, ok-to-test

#23339 Remove double listed release-blocking jobs.
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.20.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.21.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.22.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, sig/release, area/jobs, area/config, ok-to-test, area/release-eng

#23465 config/jobs: use k8s-infra hosted kubekins-e2e in canary jobs
  config/jobs/kubernetes/sig-testing/integration.yaml
  config/jobs/kubernetes/sig-testing/kubetest-canaries.yaml
  config/jobs/kubernetes/sig-testing/make-test.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#23467 wg-k8s-infra: auto-deploy prowjob for k8s-infra-prow
  config/jobs/kubernetes/wg-k8s-infra/trusted/wg-k8s-infra-prow.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#23468 Fix kettle image canary build
  config/jobs/image-pushing/k8s-staging-test-infra.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#23462 Add temp config for csi hostpath 1.22
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config-1-22.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/storage, area/jobs, area/config

#23455 Image push job for aws-iam-authenticator
  config/jobs/image-pushing/k8s-staging-cloud-provider-aws.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved

#23479 kOps - Use default AWS IPv6 DNS endpoints
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#23480 kOps - Use latest staging image for AWS CCM
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#23487 install Azure CSI drivers by default on k8s 1.23 tests
  config/jobs/kubernetes/sig-cloud-provider/azure/release-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, sig/cloud-provider, area/config

#23488 Update release-master.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, sig/cloud-provider, area/config

#23489 releng: Update job command arguments for `kpromo`
  config/jobs/kubernetes/wg-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/release, area/release-eng

#23482 Update getting_started_deploy with info on needed PersistentVolumes
  prow/getting_started_deploy.md
Labels: lgtm, area/prow, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing

#23491 releng(kpromo): Periodic interval to 1h / add non-blocking presubmit
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  config/jobs/kubernetes/wg-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#23490 Update ha and version of e2e test runner images
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/network, sig/testing, area/jobs, area/config, ok-to-test

#23493 releng: `kpromo` config cleanups
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  config/jobs/kubernetes/wg-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#23434 Add cloud-provider-openstack cinder csi sanity tests
  config/jobs/kubernetes/cloud-provider-openstack/release-master-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/openstack, sig/testing, area/jobs, sig/cloud-provider, area/config

#23496 releng(kpromo): Drop `--use-service-account` flag
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  config/jobs/kubernetes/wg-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#23497 Add containerd WS2022 ltsc to testgrid
  config/testgrids/kubernetes/sig-windows/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, sig/windows, area/config

#23485 commenter: seed pseudorandom generator and use `rand.Shuffle`
  robots/commenter/main.go
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/robots

#23486 gh: handle pagination in `FindIssues`
  prow/github/client.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing

#23472 Label config: Add sharding support
  prow/plugins/config.go
  prow/plugins/config_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/plugins

#23481 Mount the OAuth token secret by keeping the name from the secret's key
  prow/pod-utils/decorate/podspec.go
  prow/pod-utils/decorate/podspec_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/pod-utilities

#23478 Add ingress-nginx debian image generation
  config/jobs/image-pushing/k8s-staging-ingress-nginx.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved

#23494 Push image for kubernetes-sigs/cluster-api-provider-ibmcloud repo
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved

#23501 Pluginconfig: Add some omitempties for optional properties
  prow/plugins/config.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/plugins

#23502 Fix plugins.label config sharding
  prow/cmd/checkconfig/main_test.go
  prow/plugins/config.go
  prow/plugins/config_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/plugins

#23505 enable avset setting for capz test on standalone vm pool
  config/jobs/kubernetes/sig-cloud-provider/azure/release-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, sig/cloud-provider, area/config

#23507 Update log key configuration name to reflect the change in kind.
  config/jobs/kubernetes/sig-instrumentation/sig-instrumentation-kind-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/instrumentation, area/jobs, area/config, ok-to-test

#23471 add cherrypicker deployment in bazel prow configuration
  config/prow/cluster/BUILD.bazel
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config, area/prow/bump

#23456 Enable prow transfer-issue plugin for kubernetes org
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#23509 Add serviceAccount to bazelbuild/rules-k8s job
  config/jobs/bazelbuild/rules_k8s/rules_k8s_config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#23513 KubernetesOptions: use $KUBECONFIG only if it is not empty
  prow/flagutil/kubernetes_cluster_clients.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing

#23508 Add EKS Anywhere to list of projects using Prow
  prow/README.md
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, ok-to-test

#23515 releng(kpromo): Bump images to v0.2.1-2
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  config/jobs/kubernetes/wg-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#23512 Add custom-error-pages to ingress-nginx postsubmits
  config/jobs/image-pushing/k8s-staging-ingress-nginx.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, ok-to-test

#23517 Remove non-existent and unnecessary cherrypicker service account.
  config/prow/cluster/cherrypicker_deployment.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config, area/prow/bump

#23438 Regenerate the CSI prow jobs to use kubernetes v1.20, v1.21 and v1.22
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config-1-22.yaml
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/csi-driver-iscsi/csi-driver-iscsi-config.yaml
  config/jobs/kubernetes-csi/csi-driver-nfs/csi-driver-nfs-config.yaml
  config/jobs/kubernetes-csi/csi-lib-utils/csi-lib-utils-config.yaml
  config/jobs/kubernetes-csi/csi-proxy/csi-proxy-config.yaml
  config/jobs/kubernetes-csi/csi-release-tools/csi-release-tools-config.yaml
  config/jobs/kubernetes-csi/csi-test/csi-test-config.yaml
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-health-monitor/external-health-monitor-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/external-resizer/external-resizer-config.yaml
  config/jobs/kubernetes-csi/external-snapshotter/external-snapshotter-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/lib-volume-populator/lib-volume-populator-config.yaml
  config/jobs/kubernetes-csi/livenessprobe/livenessprobe-config.yaml
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
  config/jobs/kubernetes-csi/volume-data-source-validator/volume-data-source-validator-config.yaml
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing, area/jobs, area/config

#23522 [sig-windows-networking] Remove WS 1909 SAC jobs
  config/testgrids/kubernetes/sig-windows/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, needs-ok-to-test, size/S, approved, sig/testing, sig/windows, area/config

#23523 wg-k8s-infra: Add canary jobs for kops-periodics-pipeline* jobs
  config/jobs/kubernetes/wg-k8s-infra/canaries/kops-periodics-pipeline-canary.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config, wg/k8s-infra

#23524 Enable image preloading in master periodic jobs
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#23514 Add missing descheduler branch configs
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-release-1.21.yaml
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-release-1.22.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#23521 Add KubeVirt to Prow in the wild list
  prow/README.md
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#23528 Don't warn when user cancelled gethistory from UI
  prow/cmd/deck/job_history.go
  prow/cmd/deck/main.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/deck

#23529 Fix cherrypicker by explicitly set SA to be empty
  config/prow/cluster/cherrypicker_deployment.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config, area/prow/bump

#23530 Fix cherrypicker deployment
  config/prow/cluster/cherrypicker_deployment.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config, area/prow/bump

#23532 config/prow: setup autobumping of community-hosted kubekins
  config/prow/autobump-config/prow-job-autobump-config.yaml
  kubetest/README.md
Labels: lgtm, cncf-cla: yes, area/kubetest, size/S, approved, sig/testing, area/config

#23534 wg-k8s-infra: add presubmit for k8s-infra-public-pii
  config/jobs/kubernetes/wg-k8s-infra/k8sio-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config, wg/k8s-infra

#23447 Fix wrong symlinks of utility images for multiarch
  prow/cmd/clonerefs/BUILD.bazel
  prow/cmd/entrypoint/BUILD.bazel
  prow/cmd/initupload/BUILD.bazel
  prow/cmd/sidecar/BUILD.bazel
  prow/def.bzl
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/entrypoint, area/prow/initupload, area/prow/pod-utilities, area/prow/clonerefs, area/prow/sidecar, ok-to-test

#23466 kubetest: run post-test-cmd under the same conditions as pre-test-cmd
  kubetest/e2e.go
Labels: lgtm, cncf-cla: yes, area/kubetest, size/XS, approved, sig/testing

#23399 Configure milestone applier for kops release-1.22 branch
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#23525 Enable prow transfer-issue plugin for kubernetes-sigs org
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#23536 Update azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#23520 [CPO] Add manila csi sanity tests
  config/jobs/kubernetes/cloud-provider-openstack/release-master-presubmits.yaml
  config/testgrids/kubernetes/sig-cloud-provider/openstack/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, area/provider/openstack, sig/testing, area/jobs, sig/cloud-provider, area/config

#23484 Change retest help message to indicate optional jobs
  prow/cmd/crier/BUILD.bazel
  prow/cmd/crier/README.md
  prow/cmd/crier/main.go
  prow/cmd/jenkins-operator/BUILD.bazel
  prow/cmd/jenkins-operator/main.go
  prow/crier/reporters/github/BUILD.bazel
  prow/crier/reporters/github/reporter.go
  prow/crier/reporters/github/reporter_test.go
  prow/external-plugins/refresh/BUILD.bazel
  prow/external-plugins/refresh/main.go
  prow/external-plugins/refresh/server.go
  prow/github/report/BUILD.bazel
  prow/github/report/report.go
  prow/github/report/report_test.go
  prow/jenkins/BUILD.bazel
  prow/jenkins/controller.go
  prow/jenkins/controller_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/jenkins-operator, ok-to-test, area/prow/crier

#23387 Crier readme: mention pubsub required IAM permission
  prow/cmd/crier/README.md
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/crier

#23543 config/jobs: clean up stale kubekins tags
  config/jobs/README.md
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  config/prow/autobump-config/prow-job-autobump-config.yaml
  prow/spyglass/lenses/metadata/lens_test.go
  releng/test_config.yaml
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, sig/release, area/jobs, area/config, area/prow/spyglass, area/release-eng

#23539 Job-history page: log on debug level instead of warning when director…
  prow/cmd/deck/job_history.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/deck

#23541 Deck: log debug instead of warning when started.json not exist
  prow/cmd/deck/job_history.go
  prow/cmd/deck/pr_history.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/deck

#19522 Generate a schema for the ProwJob crd
  config/prow/cluster/BUILD.bazel
  config/prow/cluster/crier_service.yaml
  config/prow/cluster/deck_service.yaml
  config/prow/cluster/hook_service.yaml
  config/prow/cluster/horologium_service.yaml
  config/prow/cluster/prow_controller_manager_service.yaml
  config/prow/cluster/prowjob_customresourcedefinition.yaml
  config/prow/cluster/prowjob_customresourcedefinition_schemaless.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/tide_service.yaml
  go.mod
  go.sum
  hack/BUILD.bazel
  hack/tools.go
  hack/update-codegen.sh
  prow/ANNOUNCEMENTS.md
  prow/apis/prowjobs/v1/types.go
  prow/getting_started_deploy.md
  prow/test/integration/prow/cluster/100_starter.yaml
  prow/test/integration/prow/cluster/50_crd.yaml
  prow/test/integration/prow/cluster/deck_tenant_deployment.yaml
  prow/test/integration/prow/cluster/fakeghserver.yaml
  prow/test/integration/prow/cluster/sinker.yaml
  prow/test/integration/setup-cluster.sh
  repos.bzl
Labels: lgtm, area/prow, cncf-cla: yes, size/XXL, approved, sig/testing, lifecycle/rotten, area/config, tide/merge-method-squash, area/prow/bump

#23546 config/jobs: add pull-enhancements-test
  config/jobs/kubernetes/enhancements/enhancements-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/architecture, area/jobs, area/config, area/enhancements

#23547 Revert "Generate a schema for the ProwJob crd (#19522)"
  config/prow/cluster/BUILD.bazel
  config/prow/cluster/crier_service.yaml
  config/prow/cluster/deck_service.yaml
  config/prow/cluster/hook_service.yaml
  config/prow/cluster/horologium_service.yaml
  config/prow/cluster/prow_controller_manager_service.yaml
  config/prow/cluster/prowjob_customresourcedefinition.yaml
  config/prow/cluster/prowjob_customresourcedefinition_schemaless.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/tide_service.yaml
  go.mod
  go.sum
  hack/BUILD.bazel
  hack/tools.go
  hack/update-codegen.sh
  prow/ANNOUNCEMENTS.md
  prow/apis/prowjobs/v1/types.go
  prow/getting_started_deploy.md
  prow/test/integration/prow/cluster/100_starter.yaml
  prow/test/integration/prow/cluster/50_crd.yaml
  prow/test/integration/prow/cluster/deck_tenant_deployment.yaml
  prow/test/integration/prow/cluster/fakeghserver.yaml
  prow/test/integration/prow/cluster/sinker.yaml
  prow/test/integration/setup-cluster.sh
  repos.bzl
Labels: lgtm, area/prow, cncf-cla: yes, size/XXL, approved, sig/testing, area/config, area/prow/bump

#23542 Sub: log debug instead of error when job is not found
  prow/pubsub/subscriber/subscriber.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/pubsub

#23548 [scheduler-plugins] Add a presubmit CI job to verify crd manifests
  config/jobs/kubernetes-sigs/scheduler-plugins/scheduler-plugins-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#23551 config/prow: add cherrypicker github token
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/kubernetes_external_secrets.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config, area/prow/bump

#23550 config/prow/cluster: group build cluster components together
  config/prow/cluster/BUILD.bazel
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/config, area/prow/bump

#23552 config/jobs: push more k8s-testimages to k8s-infra
  config/jobs/image-pushing/k8s-staging-test-infra.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#23473 Make release notes editable with prow
  prow/plugins/releasenote/releasenote.go
  prow/plugins/releasenote/releasenote_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/plugins

#23555 images: add or update READMEs to trigger some image builds
  images/bigquery/README.md
  images/bootstrap/README.md
  images/builder/README.md
  images/gcloud/README.md
  images/krte/README.md
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/images

#23556 config/prow/cluster: fix typo in cherrypicker secret
  config/prow/cluster/cherrypicker_deployment.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config, area/prow/bump

#23557 releng(kpromo): Switch to `k8s-infra-promoter` svc acct for prod jobs
  config/jobs/kubernetes/wg-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/release, area/release-eng

#23560 releng(kpromo): Bump images to v0.2.2-1
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  config/jobs/kubernetes/wg-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#23537 run csi driver tests against 1.22
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config

#23564 Update azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#23565 kOps - Update IPv6 tests
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#23569 releng(kpromo): Bump images to v0.2.3-1
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  config/jobs/kubernetes/wg-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#23571 releng(kpromo): Bump images to v0.2.4-1
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  config/jobs/kubernetes/wg-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#23570 descheduler: alter kindest/node:version based on docker hub
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-master.yaml
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-release-1.21.yaml
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-release-1.22.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#23572 run azure disk test on CSI enabled cluster
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#23574 Enable image preloading in all periodics
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#23575 Update release-master-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#23577 jenkins-operator: use git-base image
  prow/cmd/jenkins-operator/BUILD.bazel
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/jenkins-operator

#23561 Run ContainerLogRotation test during windows containerd serial slow tests
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#23580 config/jobs: fix k8s-infra canary image build jobs
  config/jobs/image-pushing/k8s-staging-test-infra.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/images

#23579 images: README update to trigger image builds
  images/bigquery/README.md
  images/bootstrap/README.md
  images/builder/README.md
  images/gcloud/README.md
  images/krte/README.md
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/images

#23581 config/jobs: mv job image autobump job to k8s-infra
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/jobs/kubernetes/wg-k8s-infra/trusted/wg-k8s-infra-test-infra.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#23585 releng: Add presubmits for sigs.k8s.io/release-sdk
  config/jobs/kubernetes-sigs/release-sdk/OWNERS
  config/jobs/kubernetes-sigs/release-sdk/release-sdk-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#23182 Add metrics-server high availability e2e tests
  config/jobs/kubernetes-sigs/metrics-server/metrics-server-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#23586 Prow sub: logs level lower than warning when context cancelled
  prow/pubsub/subscriber/server.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/pubsub

#23495 [CPO] Add release branch jobs
  config/jobs/kubernetes/cloud-provider-openstack/provider-openstack-presubmits-release-master-config.yaml
  config/jobs/kubernetes/cloud-provider-openstack/provider-openstack-presubmits-release-v1.21-config.yaml
  config/jobs/kubernetes/cloud-provider-openstack/provider-openstack-presubmits-release-v1.22-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/openstack, sig/testing, area/jobs, sig/cloud-provider, area/config

#23590 capdo: lock the images in the 1.21 tag that uses go 1.16.x
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#23584 config/prow: slack warnings for k/k go to github-management
  config/prow/plugins.yaml
  prow/plugins/slackevents/slackevents_test.go
Labels: lgtm, area/prow, cncf-cla: yes, kind/bug, size/S, approved, sig/testing, sig/release, priority/important-soon, sig/contributor-experience, area/config, area/github-management, area/prow/plugins

#23589 Crier github reporter uses cached git client for reporting to github
  prow/cmd/crier/main.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/crier

#23567 create image pushing job for kube-scheduler-simulator
  config/jobs/image-pushing/k8s-staging-sched-simulator.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved

#23591 releng(promo-tools): Bump images to v3.2.0
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
  config/jobs/kubernetes/wg-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#23592 releng(kubekins, krte): Update Golang versions to go1.17.1
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#23593 releng(test-infra): Bump image promoter to v3.2.0
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#23583 Update test version for cloud-provider-gcp periodics test
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#23597 config/prow: fix prow job autobump config
  config/prow/autobump-config/prow-job-autobump-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#23598 releng(promo-tools): Update OWNERS for presubmits
  OWNERS_ALIASES
  config/jobs/kubernetes/sig-release/cip/OWNERS
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#23599 Revert "Change retest help message to indicate optional jobs #23484"
  prow/cmd/crier/BUILD.bazel
  prow/cmd/crier/README.md
  prow/cmd/crier/main.go
  prow/cmd/jenkins-operator/BUILD.bazel
  prow/cmd/jenkins-operator/main.go
  prow/crier/reporters/github/BUILD.bazel
  prow/crier/reporters/github/reporter.go
  prow/crier/reporters/github/reporter_test.go
  prow/external-plugins/refresh/BUILD.bazel
  prow/external-plugins/refresh/main.go
  prow/external-plugins/refresh/server.go
  prow/github/report/BUILD.bazel
  prow/github/report/report.go
  prow/github/report/report_test.go
  prow/jenkins/BUILD.bazel
  prow/jenkins/controller.go
  prow/jenkins/controller_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/jenkins-operator, area/prow/crier

#23595 prow/cmd: Add all components to README
  prow/cmd/README.md
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing

#23601 Defer pod deletion until after ProwJob status updates to prevent pods from being replaced after deletion.
  prow/plank/reconciler.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/plank

#23602 config/jobs: add ci-test-infra-autobump-prowjobs-for-auto-deploy
  config/jobs/kubernetes/wg-k8s-infra/trusted/wg-k8s-infra-test-infra.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved

#23606 Add configuration to allow opting out of PJ failure comments created by Crier on GitHub.
  prow/config/config.go
  prow/config/prow-config-documented.yaml
  prow/crier/reporters/github/reporter.go
  prow/external-plugins/refresh/server.go
  prow/github/report/report.go
  prow/jenkins/controller.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/jenkins-operator, area/prow/crier

#23608 releng(kubekins, krte): Update Golang versions to go1.16.8
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#23610 config/prow: bump all community test-infra images
  config/prow/autobump-config/prow-job-autobump-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config

#23611 config/jobs: rm some k8s-testimages push jobs
  config/jobs/image-pushing/k8s-staging-test-infra.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#23613 prow/cmd: remove deprecated autobump cmd
  containers.bzl
  prow/ANNOUNCEMENTS.md
  prow/BUILD.bazel
  prow/cmd/README.md
  prow/cmd/autobump/BUILD.bazel
  prow/cmd/autobump/OWNERS
  prow/cmd/autobump/README.md
  prow/cmd/autobump/autobump.sh
  prow/cmd/autobump/bump.sh
  prow/cmd/autobump/example-periodic.yaml
  prow/getting_started_deploy.md
  prow/more_prow.md
Labels: lgtm, area/prow, cncf-cla: yes, size/XL, approved, sig/testing

#23605 releng: Update references to CIP repo to sigs.k8s.io/promo-tools
  OWNERS_ALIASES
  config/jobs/image-pushing/releng/k8s-staging-artifact-promoter.yaml
  config/jobs/kubernetes/sig-release/promo-tools/OWNERS
  config/jobs/kubernetes/sig-release/promo-tools/promo-tools.yaml
  config/prow/plugins.yaml
  label_sync/labels.md
  label_sync/labels.yaml
  prow/cip-manifest.yaml
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, sig/release, area/jobs, area/config, area/label_sync, area/release-eng, area/artifacts

#23618 config/jobs: migrate some straggling k8s-testimages/kubekins jobs
  config/jobs/kubernetes/cloud-provider-openstack/provider-openstack-presubmits-release-v1.21-config.yaml
  config/jobs/kubernetes/cloud-provider-openstack/provider-openstack-presubmits-release-v1.22-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/openstack, sig/testing, area/jobs, sig/cloud-provider, area/config

#23616 config/jobs: add more k8s-staging-test-infra canary push jobs
  config/jobs/image-pushing/k8s-staging-test-infra.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved

#23617 images: remove unused images
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  containers.bzl
  images/alpine-bash/Dockerfile
  images/alpine-bash/cloudbuild.yaml
  images/bazel-krte/Dockerfile
  images/bazel-krte/Makefile
  images/bazel-krte/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/images, area/config

#23626 releng: Post-rename tasks for sigs.k8s.io/promo-tools
  config/jobs/image-pushing/releng/k8s-staging-artifact-promoter.yaml
  config/jobs/kubernetes-sigs/promo-tools/OWNERS
  config/jobs/kubernetes-sigs/promo-tools/promo-tools.yaml
  config/jobs/kubernetes/wg-k8s-infra/releng/OWNERS
  config/jobs/kubernetes/wg-k8s-infra/releng/artifact-promotion-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/release, area/jobs, area/config, wg/k8s-infra, area/release-eng

#23629 [Bugzilla] Allow the bugzilla client to use a Bearer Authorization token
  prow/bugzilla/client.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#23631 Increase timeout for PD CSI driver-latest k8s-master
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-postsubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#23632 Update ingress-nginx e2e-test-runner images
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/network, sig/testing, area/jobs, area/config

#23140 Extend the help plugin to include summary of issue guidelines
  prow/plugins/config.go
  prow/plugins/help/help.go
  prow/plugins/help/help_test.go
  prow/plugins/plugin-config-documented.yaml
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, sig/contributor-experience, area/config, area/prow/plugins

#23633 Update PD CSI owners file
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#23634 Tell tide to ignore EasyCLA on k8s.io/org
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#23638 Fetch the validate branch before checkout
  config/jobs/kubernetes/sig-security/cvelist-public.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/security

#23623 bugzilla: handle slightly incorrect external PRs better
  prow/bugzilla/client.go
  prow/bugzilla/client_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing

#23640 Re-Add prowjob crd with schema
  config/prow/cluster/BUILD.bazel
  config/prow/cluster/crier_service.yaml
  config/prow/cluster/deck_service.yaml
  config/prow/cluster/hook_service.yaml
  config/prow/cluster/horologium_service.yaml
  config/prow/cluster/prow_controller_manager_service.yaml
  config/prow/cluster/prowjob-schemaless_customresourcedefinition.yaml
  config/prow/cluster/prowjob_customresourcedefinition.yaml
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
  config/prow/cluster/tide_service.yaml
  go.mod
  go.sum
  hack/BUILD.bazel
  hack/tools.go
  hack/update-codegen.sh
  prow/ANNOUNCEMENTS.md
  prow/apis/prowjobs/v1/types.go
  prow/getting_started_deploy.md
  prow/test/integration/prow/cluster/100_starter.yaml
  prow/test/integration/prow/cluster/50_crd.yaml
  prow/test/integration/prow/cluster/deck_tenant_deployment.yaml
  prow/test/integration/prow/cluster/fakeghserver.yaml
  prow/test/integration/prow/cluster/sinker.yaml
  prow/test/integration/setup-cluster.sh
  repos.bzl
Labels: lgtm, area/prow, cncf-cla: yes, size/XXL, approved, sig/testing, area/config, area/prow/bump

#23627 Push image for kubernetes-sigs/ibm-vpc-block-csi-driver repo
  config/jobs/image-pushing/k8s-staging-cloud-provider-ibm.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved

#23644 config/prow: allow k8s-infra-ci-robot to skip-review
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config

#23648 Ignore EasyCLA context in any repo
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#23645 Change retest help message to indicate optional jobs
  prow/github/report/BUILD.bazel
  prow/github/report/report.go
  prow/github/report/report_test.go
  prow/kube/prowjob.go
  prow/pjutil/pjutil.go
Labels: lgtm, area/prow, cncf-cla: yes, needs-ok-to-test, size/L, approved, sig/testing
