Repository kubernetes/test-infra, pull requests merged in 2021-01, with the labels that each got.

#20345 Remove deprecated configs `WhiteList` and `BranchWhiteList` in `Slack.MergeWarnings`
  prow/ANNOUNCEMENTS.md
  prow/plugins/config.go
  prow/plugins/plugin-config-documented.yaml
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M, tide/merge-method-squash

#20347 GithubV4: Properly set User-Agent header
  prow/github/BUILD.bazel
  prow/github/client.go
  prow/github/client_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#20033 Update nfd e2e test config
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-postsubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#20050 Change k/release block regex to only include push-build.sh
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S

#20366 Update ingress-nginx test image
  config/jobs/kubernetes/sig-network/ingress-nginx.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/network, sig/testing, size/S

#20352 Explicitly disable device manager test for windows
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, sig/windows, size/S

#20344 Fix job description typo
  config/jobs/kubernetes/test-infra/fejta-bot-periodics.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#20368 GHProxy: Manage cache metrics for v4 api
  ghproxy/ghcache/coalesce.go
Labels: approved, area/ghproxy, cncf-cla: yes, lgtm, sig/testing, size/S

#20323 Don't protect aws-{fsx/efs}-csi-driver gh-pages branches
  config/prow/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#19846 Add pull-ova-all ci prow job for image-builder
  config/jobs/kubernetes-sigs/image-builder/image-builder-ova-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#20367 Decreasing netpol parallel jobs
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/network, sig/testing, size/S

#20373 Kops - Add miscelaneous grid jobs to kops-misc dashboard
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XXL

#20376 Change the aks-engine api model manifest of azuredisk test
  config/jobs/kubernetes/sig-cloud-provider/azure/sig-azure-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#20370 Update ingress-nginx test image
  config/jobs/kubernetes/sig-network/ingress-nginx.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/network, sig/testing, size/S

#20380 prow: bugzilla: try to digest Bugzilla error message
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/L

#20379 Update env file to reflect the changes in the containerd release
  jobs/e2e_node/containerd/containerd-master/env
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/node, sig/testing, size/XS

#20382 azure: remove --ginkgo.flakeAttempts=2
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-sac.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#20381 use bazel:latest-kubernetse-master in repo-infra
  config/jobs/kubernetes/repo-infra/repo-infra-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#20385 Add a metric for client creation failures
  prow/flagutil/BUILD.bazel
  prow/flagutil/kubernetes_cluster_clients.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#20375 test: Avoid running e2e tests on doc change
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#20388 don't run test if there is only doc change
  config/jobs/kubernetes-csi/csi-driver-nfs/csi-driver-nfs-unmanaged.yaml
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/M

#20384 Trigger: Retry ProwJob creation
  prow/plugins/trigger/BUILD.bazel
  prow/plugins/trigger/push.go
  prow/plugins/trigger/trigger.go
  prow/plugins/trigger/trigger_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/L

#20389 Fix CAPI e2e-k8s-latest-main using env variables
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-main.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#20353 Change autobumper to allow it to create multiple PRs without overriding
  config/prow/autobump-config.yaml
  experiment/autobumper/README.md
  experiment/autobumper/bumper/bumper.go
  experiment/autobumper/bumper/bumper_test.go
  robots/pr-creator/updater/updater.go
Labels: approved, area/config, area/robots, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#20387 Skip presubmits for gh-pages branch in fsx, efs csi repos
  config/jobs/kubernetes-sigs/aws-efs-csi-driver/aws-efs-csi-driver-presubmits.yaml
  config/jobs/kubernetes-sigs/aws-fsx-csi-driver/aws-fsx-csi-driver-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#20309 add StorageVersionAPI test to alpha jobs
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#20398 Revert "Change the aks-engine api model manifest of azuredisk test"
  config/jobs/kubernetes/sig-cloud-provider/azure/sig-azure-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#20399 Kops - try increasing job retention to 30 days on a few jobs
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#20400 Kops - increase retention on all grid jobs to 90 days
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XL

#20361 [Kettle] Make staging PubSub that mirrors kettle subscription
  kettle/update.py
Labels: approved, area/kettle, cncf-cla: yes, lgtm, sig/testing, size/XS

#20378 Change image pull policy: Always -> IfNotPresent
  config/jobs/kubernetes/sig-instrumentation/verify-govet-levee.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/instrumentation, sig/testing, size/XS

#20401 Kops - Increase job retention to 30 days and remove irrelevant jobs
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-gce.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/L

#20339 Tide: Allow constructing per-org queries
  prow/config/tide.go
  prow/config/tide_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#20402 Bugzilla: Fix recognizing known errors
  prow/bugzilla/fake.go
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/M

#20393 capz: update to run Windows tests on PRs
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#20396 sig-windows: Do not run device test on jobs that don't have gpu
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, sig/windows, size/XS

#20394 sig-windows: Remove windows tests for 1.16
  config/jobs/kubernetes-sigs/sig-windows/release-1.16-windows.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, sig/windows, size/L

#20276 Make it possible to override --logexporter-gcs-path
  scenarios/kubernetes_e2e.py
Labels: approved, area/scenarios, cncf-cla: yes, lgtm, sig/testing, size/XS

#20326 Update cloud-provider-aws-config.yaml
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-config.yaml
  config/prow/config.yaml
Labels: approved, area/config, area/jobs, area/provider/aws, cncf-cla: yes, lgtm, ok-to-test, sig/cloud-provider, sig/testing, size/XS

#20392 Add git to the image for the generic autobumper
  experiment/autobumper/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#20407 Adding additional presets to get correct VMC creds with extra permissions
  config/jobs/kubernetes-sigs/image-builder/image-builder-ova-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#20409 triage: avoid index out of range for empty builds
  triage/summarize/output.go
  triage/summarize/output_test.go
Labels: approved, area/triage, cncf-cla: yes, lgtm, sig/testing, size/S

#20405 [Kettle] Make subscription path a deployment variable
  kettle/deployment-staging.yaml
  kettle/deployment.yaml
  kettle/update.py
Labels: approved, area/kettle, cncf-cla: yes, lgtm, sig/testing, size/S

#20410 Revert "don't run test if there is only doc change"
  config/jobs/kubernetes-csi/csi-driver-nfs/csi-driver-nfs-unmanaged.yaml
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/M

#20411 Use contained for ARM64 tests
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/S

#20413 kOps - Update instance image for ARM64 tests
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/S

#20408 Crier, Deck, Prow-CM, Tide: Restart on kubeconfig changes
  prow/cmd/crier/main.go
  prow/cmd/deck/main.go
  prow/cmd/prow-controller-manager/main.go
  prow/cmd/tide/main.go
Labels: approved, area/prow, area/prow/crier, area/prow/deck, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/M

#20416 jobs: kubernetes merge-blocking jobs must run in k8s-infra-prow-build
  config/tests/jobs/jobs_test.go
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#20341 Improve use of contexts/timeouts in Crier.
  prow/crier/OWNERS
  prow/crier/controller.go
  prow/crier/controller_test.go
  prow/crier/reporters/gcs/kubernetes/reporter.go
  prow/crier/reporters/gcs/kubernetes/reporter_test.go
  prow/crier/reporters/gcs/reporter.go
  prow/crier/reporters/gcs/reporter_test.go
  prow/crier/reporters/gerrit/reporter.go
  prow/crier/reporters/gerrit/reporter_test.go
  prow/crier/reporters/github/reporter.go
  prow/crier/reporters/github/reporter_test.go
  prow/crier/reporters/pubsub/reporter.go
  prow/crier/reporters/pubsub/reporter_test.go
  prow/crier/reporters/slack/reporter.go
  prow/crier/reporters/slack/reporter_test.go
  prow/pubsub/subscriber/subscriber.go
  prow/pubsub/subscriber/subscriber_test.go
Labels: approved, area/prow, area/prow/crier, area/prow/pubsub, cncf-cla: yes, lgtm, sig/testing, size/L

#20369 sig-cloud-provider: Add APIServerTracing focus to pull-kubernetes-e2e-gce-alpha-features
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#20425 Remove gh-pages branch protection for ingress-nginx
  config/prow/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#20420 azure: rename 1903 API model
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-sac.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#20429 Revert "test: Avoid running e2e tests on doc change"
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/S

#20430 enable docker in docker
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#20426 Remove gh-pages branch protection for kube-state-metrics
  config/prow/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#20433 Switch some ARM64 tests to release/stable
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#20423 Allow setting JobURLPRefix in the decoration config
  prow/apis/prowjobs/v1/types.go
  prow/apis/prowjobs/v1/types_test.go
  prow/config/config.go
  prow/config/config_test.go
  prow/config/prow-config-documented.yaml
  prow/crier/reporters/pubsub/reporter.go
  prow/pjutil/pjutil.go
  prow/spyglass/lenses/common/common.go
Labels: approved, area/prow, area/prow/crier, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/M

#20431 record failed then skipped tests in both sections
  prow/spyglass/lenses/junit/lens.go
  prow/spyglass/lenses/junit/lens_test.go
Labels: approved, area/prow, area/prow/spyglass, cncf-cla: yes, lgtm, sig/testing, size/M

#20221 downloadkubernetes: add job to validate the downloadkubernetes index and general checks
  config/jobs/kubernetes-sigs/downloadkubernetes/OWNERS
  config/jobs/kubernetes-sigs/downloadkubernetes/downloadkubernetes-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M

#20295 Always run the containerd pre-submit job on master
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#20414 add zeitgeist presubmits prow jobs
  config/jobs/kubernetes-sigs/zeitgeist/OWNERS
  config/jobs/kubernetes-sigs/zeitgeist/zeitgeist-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M

#20438 Fetch more Golang CI job runs in perfdash
  config/jobs/kubernetes/sig-scalability/sig-scalability-golang.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#20281 Add test job for service-api tests
  config/jobs/kubernetes-sigs/service-apis/service-apis-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#20412 Add initial config for KubeVirt TestGrid
  config/testgrids/kubevirt/gen-config.yaml
  config/tests/testgrids/config_test.go
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#20445 Update README.md
  prow/README.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#20444 JobURLPrefix: Derive org/repo from extra_ref if refs is unset
  prow/config/config.go
  prow/config/config_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#20448 Show last 270 builds of 5k test in perf-dash
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#20415 Scrape node exporter in 5k tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#20351 Renaming containerd gci tabs to cos
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
Labels: approved, area/config, area/jobs, area/testgrid, cncf-cla: yes, lgtm, sig/node, sig/testing, size/M

#20198 Removes the --test-suite=conformance flag from node-kubelet-conformance job
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/node, sig/testing, size/XS

#20440 Decrease prometheus retention to 90 days from 180 days
  config/prow/cluster/monitoring/prow_prometheus.yaml
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#20456 Upgrade promethues and alertmanager to latest
  config/prow/cluster/monitoring/prow_alertmanager.yaml
  config/prow/cluster/monitoring/prow_prometheus.yaml
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#20457 Revert "Upgrade promethues and alertmanager to latest"
  config/prow/cluster/monitoring/prow_alertmanager.yaml
  config/prow/cluster/monitoring/prow_prometheus.yaml
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#20462 Set container runtime to Docker for main e2e presubmit
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#20435 Add external e2e k8s test in CI pipeline and enhance kubetest to run the same
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  kubetest/aksengine.go
  kubetest/e2e.go
  kubetest/e2e/interfaces.go
  kubetest/e2e/runner.go
  kubetest/main.go
Labels: approved, area/config, area/jobs, area/kubetest, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#20467 vulndash: remove debug logs from the job
  config/jobs/kubernetes/wg-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS

#20446 Add RepoLink at refs on push event
  prow/plugins/trigger/push.go
  prow/plugins/trigger/push_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#20466 Make Golang performance job use N1 nodes
  config/jobs/kubernetes/sig-scalability/sig-scalability-golang.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/M

#20465 prune deleted remote branches on git fetch
  prow/git/git.go
  prow/git/v2/interactor.go
  prow/git/v2/interactor_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S, tide/merge-method-squash

#20470 List app installations: Support pagination
  prow/github/client.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#20469 Update KubeVirt TestGrid config.
  config/testgrids/kubevirt/gen-config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#20472 [Kettle] Api end points changed, update
  kettle/deployment-staging.yaml
  kettle/deployment.yaml
Labels: approved, area/kettle, cncf-cla: yes, lgtm, sig/testing, size/S

#20244 chore: update with additional CAPA maintainers
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/OWNERS
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#20454 Add rerun_auth_config for post-kubernetes-push-e2e-*-test-images
  config/jobs/image-pushing/k8s-staging-e2e-test-images.sh
  config/jobs/image-pushing/k8s-staging-e2e-test-images.yaml
Labels: approved, cncf-cla: yes, lgtm, size/L

#20473 Use projected token source to dynamically refresh SA token
  prow/cmd/pipeline/main.go
  prow/flagutil/kubernetes_cluster_clients.go
  prow/kube/config.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S

#20428 Add check to make sure fork exists for autobump and if not create the fork
  experiment/autobumper/bumper/bumper.go
  prow/external-plugins/cherrypicker/server.go
  prow/external-plugins/cherrypicker/server_test.go
  prow/github/client.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#20460 Fix bash script autobumper to use new branch based EnsurePR
  hack/autodeps.sh
  prow/cmd/autobump/autobump.sh
  robots/pr-creator/main.go
  testgrid/cmd/transfigure/transfigure.sh
Labels: approved, area/prow, area/robots, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#20476 Fix performance presubmit test job to release-1.20 branch of k/k
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.20.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/scalability, sig/testing, size/XS

#20471 GitHub: Improve error message when PR creation fails
  prow/github/client.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#20477 Update azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/XS

#20459 Allow jobs to skip_fetch_head and only fetch the base ref.
  prow/apis/prowjobs/v1/types.go
  prow/config/jobs.go
  prow/pjutil/BUILD.bazel
  prow/pjutil/pjutil.go
  prow/pjutil/pjutil_test.go
  prow/pod-utils/clone/BUILD.bazel
  prow/pod-utils/clone/clone.go
  prow/pod-utils/clone/clone_test.go
Labels: approved, area/prow, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/L

#20256 Prow alert: make stale prow image alert configurable and set it to fire only when the staleness discovered a whole day
  config/prow/cluster/monitoring/alertmanager-prow_secret.yaml
  config/prow/cluster/monitoring/mixins/lib/config.libsonnet
  config/prow/cluster/monitoring/mixins/lib/config_util.libsonnet
  config/prow/cluster/monitoring/mixins/prometheus/stale_alerts.libsonnet
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/S

#20372 Update sig-release-leads OWNERS_ALIASES
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#20488 Setup milestoneapplier for kubernetes/k8s.io
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/S, wg/k8s-infra

#20493 vulndash: increase page size to get the vulnerabilities and increase the resource spec
  config/jobs/kubernetes/wg-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS

#20494 Update AMI for Flatcar periodics
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/L

#20496 sidecar: allow configuring interrupt behavior
  prow/pod-utils/decorate/podspec.go
Labels: approved, area/prow, area/prow/pod-utilities, cncf-cla: yes, lgtm, sig/testing, size/S

#20489 Switch from yaml.load() to safe_load()
  gubernator/main.py
  gubernator/update_config.py
Labels: approved, area/gubernator, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#20495 vulndash: add new flag to filter the vulnerabilities only for the registry hostname us.gcr.io
  config/jobs/kubernetes/wg-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS

#20498 Prow integration test job report to github
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#20486 add OWNERS file for Knative testgrid
  config/testgrids/knative/OWNERS
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#20487 Add chaodaiG to OWNERS of a few prow components
  prow/cmd/crier/OWNERS
  prow/cmd/deck/OWNERS
  prow/cmd/gerrit/OWNERS
  prow/cmd/horologium/OWNERS
  prow/crier/OWNERS
  prow/deck/OWNERS
  prow/gerrit/OWNERS
Labels: approved, area/prow, area/prow/crier, area/prow/deck, area/prow/gerrit, area/prow/horologium, cncf-cla: yes, lgtm, sig/testing, size/M

#20250 Fix cri-tools image pushing failing jobs
  config/jobs/image-pushing/k8s-staging-cri-tools.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#20475 Missing multi-line on f-string
  kettle/update.py
Labels: approved, area/kettle, cncf-cla: yes, lgtm, sig/testing, size/XS

#20499 Fix query to support PodUtil Flakes with pr:
  metrics/configs/flakes-experiment-config.yaml
Labels: approved, area/metrics, cncf-cla: yes, lgtm, sig/testing, size/XS

#20451 First prow integration test: sinker
  prow/BUILD.bazel
  prow/test/integration/prow/cluster/100_starter.yaml
  prow/test/integration/prow/cluster/sinker.yaml
  prow/test/integration/prow/config.yaml
  prow/test/integration/setup-cluster.sh
  prow/test/integration/setup-prow.sh
  prow/test/integration/test.sh
  prow/test/integration/test/BUILD.bazel
  prow/test/integration/test/overall_test.go
  prow/test/integration/test/setup.go
  prow/test/integration/test/sinker_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XL

#20501 Make prow integration test as required presubmit test
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#20483 Update kube dependencies to 1.20.2
  go.mod
  go.sum
  prow/cmd/sinker/BUILD.bazel
  prow/cmd/sinker/main_test.go
  prow/crier/BUILD.bazel
  prow/crier/controller_test.go
  prow/crier/reporters/gerrit/BUILD.bazel
  prow/crier/reporters/gerrit/reporter_test.go
  prow/deck/jobs/BUILD.bazel
  prow/deck/jobs/jobs_test.go
  prow/pjutil/BUILD.bazel
  prow/pjutil/abort_test.go
  prow/plank/BUILD.bazel
  prow/plank/controller_test.go
  prow/plank/reconciler_test.go
  prow/plugins/trigger/trigger.go
  prow/plugins/trigger/trigger_test.go
  prow/tide/BUILD.bazel
  prow/tide/status_test.go
  prow/tide/tide_test.go
  repos.bzl
Labels: approved, area/prow, area/prow/crier, area/prow/deck, area/prow/plank, area/prow/plugins, area/prow/sinker, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/XL

#20502 Add debugging output to autobumper
  experiment/autobumper/bumper/bumper.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#20500 Clean up and update the prod flake query to support PodUtil
  metrics/README.md
  metrics/configs/flakes-config.yaml
  metrics/configs/flakes-experiment-config.yaml
Labels: approved, area/metrics, cncf-cla: yes, lgtm, sig/testing, size/L

#20504 Fix defaultUpstreamURLBase being used when not wanted in generic autobumper
  experiment/autobumper/bumper/bumper.go
  experiment/autobumper/bumper/bumper_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#20479 Update TestGrid for istio
  config/testgrids/istio/gen-config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XXL

#20508 kOps tests cleanup
  config/jobs/kubernetes/kops/build-pipeline.py
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-pipeline.yaml
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#20509 kOps tests cleanup - 2
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#20510 Kops - create initial periodic upgrade test
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#20511 Kops - fix path typo in new upgrade test
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#20507 Deck: Support filtering periodics by repo
  prow/cmd/deck/static/api/prow.ts
  prow/cmd/deck/static/prow/prow.ts
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, sig/testing, size/S

#20515 Disable branch protection on gh-pages for cloud-provider-openstack
  config/prow/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#20516 kOps - Skip RuntimeClass and RuntimeHandler for e2e presubmits
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/S

#20478 Deprecate 'preset-e2e-scalability-containerd' as containerd is defauft CRI
  config/jobs/kubernetes/sig-scalability/sig-scalability-adhoc.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/S

#20513 prow/cmd/exporter fix prow_job_runtime_seconds metric and docs
  prow/cmd/exporter/README.md
  prow/cmd/exporter/main.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#20505 Move prow version prometheus metrics out of prowjob metrics, more prow components report this metric
  prow/cmd/sinker/BUILD.bazel
  prow/cmd/sinker/main.go
  prow/kube/BUILD.bazel
  prow/kube/metrics.go
  prow/plank/BUILD.bazel
  prow/plank/controller.go
  prow/plank/reconciler.go
  prow/tide/BUILD.bazel
  prow/tide/tide.go
  prow/version/BUILD.bazel
  prow/version/metrics.go
Labels: approved, area/prow, area/prow/plank, area/prow/sinker, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/M

#20297 optimization in git clone using --depth
  images/kubemci/Dockerfile
Labels: approved, area/images, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#20432 add post image build job for nfs-subdir-external-provisioner
  config/jobs/image-pushing/k8s-staging-sig-storage.sh
  config/jobs/image-pushing/k8s-staging-sig-storage.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#20427 Match extract and build strategy for no-stage canary job.
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#19388 Add parameters to shift_nodepool_capacity script
  experiment/maintenance/shift_nodepool_capacity.py
Labels: approved, area/kettle, cncf-cla: yes, lgtm, lifecycle/stale, sig/testing, size/M, tide/merge-method-squash

#20261 etcdadm: create job to push builds to staging
  config/jobs/image-pushing/k8s-staging-etcdadm.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#19535 really remove kubetest2
  kubetest2/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#19604 Remove recommended skips in conformance README.
  testgrid/conformance/README.md
Labels: approved, area/testgrid, cncf-cla: yes, lgtm, lifecycle/stale, sig/testing, size/S

#20453 Unprotect the gh-pages branch in nfs-subdir-external-provisioner for helm chart release action
  config/prow/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#20490 Switch ruamel.yaml.load() to safe_load()
  experiment/migrate_testgrid_tabs.py
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#20512 Kops - make the Windows GitHub Actions job blocking
  config/prow/config.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#20517 Add Gardener test results for kubernetes v1.20
  config/testgrids/conformance/conformance-all.yaml
  config/testgrids/gardener/config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#20506 Update autobump description to correctly handle commits past a tag.
  experiment/autobumper/bumper/bumper.go
  experiment/autobumper/bumper/bumper_test.go
  experiment/image-bumper/bumper/bumper.go
  experiment/image-bumper/bumper/bumper_test.go
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/L

#20461 Support directory retrieval in Prow's Github client
  prow/github/client.go
  prow/github/client_test.go
  prow/github/fakegithub/fakegithub.go
  prow/github/types.go
Labels: approved, area/prow, cncf-cla: yes, kind/feature, lgtm, ok-to-test, sig/testing, size/L

#20450 Wrap up licensing subproject
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/testing, size/XS

#20528 kops - Set cluster name in upgrade test
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#20529 Kops - use AWS EBS CSI driver in external CCM test job
  config/jobs/kubernetes/kops/build-grid.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#20519 Remove KUBEMARK_NODE_OBJECT_SIZE_BYTES env var
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/scalability, sig/testing, size/XS

#20533 Revert "Merge pull request #20519 from lyzs90/clean-up-node-size-anno…
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/scalability, sig/testing, size/XS

#20532 Skip gh-pages branch for nfd presubmit jobs
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#20531 sig-cluster-lifecycle: remove 1.17 kubeadm/kinder jobs
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-discovery.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-etcd.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, kind/cleanup, lgtm, sig/cluster-lifecycle, sig/testing, size/L

#20525 Add Windows containerd job to release-informing dashboard
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/release, sig/testing, sig/windows, size/XS

#20536 Add fork per release annotation
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/release, sig/testing, sig/windows, size/XS

#20336 Migrate Network Policy testjob to podutils
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/network, sig/testing, size/XS

#20520 Prow integration test: add more scenarios for sinker test
  prow/test/integration/test/sinker_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L

#20458 Improve autobump documentation
  experiment/autobumper/README.md
  experiment/autobumper/bumper/bumper.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#20530 kubernetes-sigs/kubebuilder: bump existing patch versions, add k8s v1.19.4
  config/jobs/kubernetes-sigs/kubebuilder/kubebuilder-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#20526 Add image pushing job for Image Builder
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#20540 Remove leading args forgotten while migrating to podutils
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, kind/bug, lgtm, sig/network, sig/testing, size/XS
