Repository kubernetes/test-infra, pull requests merged in 2021-07, with the labels that each got.

#22748 Kops - remove --skip-regex flag to use kubetest2-tester-kops' default
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#22750 kOps - Use IRSA for Calico IPv6 test
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/S

#22752 kOps - Update frequency of IPv6 jobs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/S

#22753 replacing master with main for k/k8s.io links
  config/jobs/image-pushing/README.md
  docs/contributing-test-results.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#22701 Phaino use grace and timeout from job
  prow/cmd/phaino/BUILD.bazel
  prow/cmd/phaino/local.go
  prow/cmd/phaino/local_test.go
  prow/cmd/phaino/main.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/L

#22661 [cluster-api-provider-aws] Add blocking test to cluster-api-provider-aws
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics-release-0-6.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-postsubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits-release-0.6.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M

#22640 cvelist-public: grab the validation script from the validate branch
  config/jobs/kubernetes/sig-security/cvelist-public.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, committee/product-security, lgtm, sig/security, sig/testing, size/XS

#22760 Align job history with tide history view
  prow/cmd/deck/job_history.go
  prow/cmd/deck/static/BUILD.bazel
  prow/cmd/deck/static/common/common.ts
  prow/cmd/deck/static/job-history/job-history.ts
  prow/cmd/deck/static/prow/prow.ts
  prow/cmd/deck/template/job-history.html
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/L

#22746 Gerrit postsubmit jobs: clone the commit exactly for the PR
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
Labels: approved, area/prow, area/prow/gerrit, cncf-cla: yes, lgtm, sig/testing, size/L

#22745 Add capz presubmit job for exp folder changes
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#22765 Prow sub: interface supports presubmit and postsubmit jobs
  prow/cmd/sub/main.go
  prow/pubsub/subscriber/subscriber.go
  prow/pubsub/subscriber/subscriber_test.go
Labels: approved, area/prow, area/prow/pubsub, cncf-cla: yes, lgtm, sig/testing, size/L

#22693 Crier slack reporter: use pointers for merging configs
  prow/apis/prowjobs/v1/types.go
  prow/apis/prowjobs/v1/types_test.go
  prow/config/config.go
  prow/config/config_test.go
  prow/crier/reporters/slack/reporter.go
  prow/crier/reporters/slack/reporter_test.go
Labels: approved, area/prow, area/prow/crier, cncf-cla: yes, lgtm, sig/testing, size/L

#22762 remove google-unit dashboard
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.20.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.21.yaml
  config/jobs/kubernetes/sig-testing/integration.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
  config/testgrids/config.yaml
Labels: approved, area/config, area/jobs, area/release-eng, area/testgrid, cncf-cla: yes, lgtm, sig/release, sig/testing, size/M

#22768 Fix job history PR revision links
  prow/cmd/deck/job_history.go
  prow/cmd/deck/static/job-history/job-history.ts
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/S

#22766 cloud-provider-azure: make capz test required
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/XS

#22767 try reducing ci-kubernetes-unit dashboard to one week of results to a…
  config/jobs/kubernetes/sig-testing/make-test.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#22774 Netpol regex optimization for skipping LoadBalancer tests
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/network, sig/testing, size/XS

#22763 move shyamjvs to emeritus approvers
  config/jobs/kubernetes/sig-cloud-provider/aws/OWNERS
  config/jobs/kubernetes/sig-scalability/OWNERS
  config/testgrids/OWNERS
  config/testgrids/kubernetes/sig-cloud-provider/aws/OWNERS
  config/testgrids/kubernetes/sig-scalability/OWNERS
  kubetest/OWNERS
  logexporter/OWNERS
  logexporter/cmd/main.go
  testgrid/OWNERS
Labels: approved, area/config, area/jobs, area/kubetest, area/provider/aws, area/testgrid, cncf-cla: yes, lgtm, sig/cloud-provider, sig/scalability, sig/testing, size/M

#22772 wg-k8s-infra: Adjust memory for scalability canary job
  config/jobs/kubernetes/wg-k8s-infra/canaries/sig-scalability.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS, wg/k8s-infra

#22771 Remove pr blocking test
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics-release-0-6.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-postsubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits-release-0.6.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M

#22776 drop days of results to 1 for unit job
  config/jobs/kubernetes/sig-testing/make-test.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#22780 drop caps and set runAsGroup in unit-experimental
  config/jobs/kubernetes/sig-testing/make-test.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#22781 Export konnectivity-agent.log for tests.
  logexporter/cluster/log-dump.sh
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS

#22784 make security context actually parse for pull-kubernetes-unit-experim…
  config/jobs/kubernetes/sig-testing/make-test.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#22787 Kops - extract templates and helper fns into their own files
  config/jobs/kubernetes/kops/Makefile
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/helpers.py
  config/jobs/kubernetes/kops/templates/periodic.yaml.jinja
  config/jobs/kubernetes/kops/templates/presubmit.yaml.jinja
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XL

#22778 Run pre-submitts on Windows e2e tests
  config/jobs/kubernetes-sigs/sig-windows/generate-presubmits.sh
  config/jobs/kubernetes-sigs/sig-windows/release-1.18-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.19-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.20-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.21-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, sig/windows, size/S

#22789 kOps - Add optional pre-submit test for k8s ci/latest
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#22786 User runner.sh with kubekins-e2e container images
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-v2-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#22751 Kops - Add build_jobs.py support for scenario periodic jobs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
  config/jobs/kubernetes/kops/templates/periodic-scenario.yaml.jinja
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XXL

#22756 snyk-periodic: Fix style and jq nits
  config/jobs/kubernetes/wg-k8s-infra/trusted/wg-k8s-infra-trusted.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S

#22791 kOps - Focus on conformance for the k8s ci/latest pre-submit
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#22261 Add cluster-api-provider-azure milestone v0.4.16
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#22792 Update azure disk & azure file windows e2e test config
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/testing, size/XS

#22782 Generic autobumper tells more detail when images are not bumped consi…
  prow/cmd/generic-autobumper/main.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#22794 Update csi-driver-nfs-unmanaged.yaml
  config/jobs/kubernetes-csi/csi-driver-nfs/csi-driver-nfs-unmanaged.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#21706 [Kettle] Encode error string to avoid Unicode failure
  kettle/cloudbuild.yaml
  kettle/stream.py
Labels: approved, area/kettle, cncf-cla: yes, lgtm, sig/testing, size/XS

#22798 Kops - migrate presubmit scenario jobs to build_jobs.py
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits.yaml
  config/jobs/kubernetes/kops/templates/presubmit-scenario.yaml.jinja
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XL

#22716 cluster-api: Version update in coreDNS
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-main.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS, tide/merge-method-squash

#22618 add: labels for kubernetes-sigs/contributor-tweets
  label_sync/labels.md
  label_sync/labels.yaml
Labels: approved, area/label_sync, cncf-cla: yes, lgtm, sig/testing, size/S

#22805 Use release/latest marker for HA pre-submit
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/S

#22806 kOps - Focus on conformance for the containerd HA pre-submit
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#22790 releng: Build job fixups
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.20.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.21.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, needs-rebase, sig/release, sig/testing, size/L

#22807 prow/config: don't log every file watched
  prow/config/agent.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#20296 use `--no-cache-dir` flag to `pip` in dockerfiles to save space
  images/bazelbuild/Dockerfile
  images/bigquery/Dockerfile
  images/bootstrap/Dockerfile
  images/kubekins-e2e/Dockerfile
  kettle/Dockerfile
Labels: approved, area/images, area/kettle, area/release-eng, cncf-cla: yes, lgtm, ok-to-test, sig/release, sig/testing, size/S

#22712 Make spyglass URL links from deck relative to host
  prow/cmd/deck/static/prow/prow.ts
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#22813 Close rerun command with pressing the escape button
  prow/cmd/deck/static/common/common.ts
  prow/cmd/deck/static/prow/prow.ts
  prow/cmd/deck/static/spyglass/spyglass.ts
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/S

#22810 Fix vended id overflows
  prow/cmd/deck/job_history.go
  prow/cmd/deck/job_history_test.go
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, kind/bug, lgtm, ok-to-test, sig/testing, size/M

#22758 Add e2e lock contention job
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/node, sig/testing, size/M

#22818 releng: Use `releng-ci` go1.16 image variant for CIP verify tests
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#22821 pull-security-profiles-operator-test-e2e: add `hostPID` and `/var/log volume`
  config/jobs/kubernetes-sigs/security-profiles-operator/seccomp-operator-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#22651 Add STS minReadySeconds to alpha
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#22362 prow: build images for arm64
  containers.bzl
  def/image.bzl
  prow/BUILD.bazel
  prow/cmd/clonerefs/BUILD.bazel
  prow/cmd/entrypoint/BUILD.bazel
  prow/cmd/initupload/BUILD.bazel
  prow/cmd/sidecar/BUILD.bazel
  prow/def.bzl
Labels: approved, area/prow, area/prow/clonerefs, area/prow/entrypoint, area/prow/initupload, area/prow/pod-utilities, area/prow/sidecar, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#22803 Override: Support test names
  prow/plugins/override/override.go
  prow/plugins/override/override_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/L

#22820 Pin latest kubekins image on sig-node job
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/node, sig/testing, size/XS

#22824 custom-metrics-apiserver: bump golang to 1.16
  config/jobs/kubernetes-sigs/custom-metrics-apiserver/custom-metrics-apiserver-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#22819 Fix path of image-builder ova-ci script
  config/jobs/kubernetes-sigs/image-builder/image-builder-ova-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#22822 Cluster API Provider AWS cleanup
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-postsubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/L

#22815 Ensure cloud-provider-gcp E2E tests run against k8s v1.21.0
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-presubmits.yaml
Labels: approved, area/config, area/jobs, area/provider/aws, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#22826 Add MemoryQoS on cgrpv2 presubmit
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/node, sig/testing, size/M

#22698 feat: adds upgrade test for azure
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M, tide/merge-method-squash

#22827 Add docker-in-docker to pull-cip-verify
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, ok-to-test, sig/release, sig/testing, size/XS

#22828 AlertManager: Redirect AWS account alerts to a different Slack channel
  config/prow/cluster/monitoring/alertmanager-prow_secret.yaml
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/S

#22788 Do not run automatic presubmit Prow jobs if the Gerrit change revision is draft
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
  prow/gerrit/adapter/trigger.go
  prow/gerrit/adapter/trigger_test.go
  prow/gerrit/client/client.go
  prow/pjutil/filter.go
Labels: approved, area/prow, area/prow/gerrit, cncf-cla: yes, lgtm, sig/testing, size/L

#22817 Reply help information to run presubmit Prow jobs for Gerrit changes if requested
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
  prow/gerrit/adapter/trigger.go
  prow/pjutil/BUILD.bazel
  prow/pjutil/filter.go
  prow/pjutil/help.go
  prow/plugins/trigger/generic-comment.go
  prow/plugins/trigger/generic-comment_test.go
Labels: approved, area/prow, area/prow/gerrit, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/L

#22779 Update TestGrid for istio
  config/testgrids/istio/gen-config.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#22832 Fix alertmanager config to not use 'matchers' field.
  config/prow/cluster/monitoring/alertmanager-prow_secret.yaml
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#22454 [sig-node] Remove failing, unused NodeConformance job
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
Labels: approved, area/config, area/jobs, area/testgrid, cncf-cla: yes, lgtm, sig/node, sig/testing, size/M

#22775 Kubernetes v1.22 Code Freeze
  config/prow/config.yaml
Labels: approved, area/config, area/release-eng, cncf-cla: yes, lgtm, priority/critical-urgent, sig/release, sig/testing, size/S

#22830 Revert "Add docker-in-docker to pull-cip-verify"
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, ok-to-test, sig/release, sig/testing, size/XS, tide/merge-method-squash

#22835 Kops - Stop skipping KMS key tests now that their fix is in 1.21.2
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/L

#22834 Reset git in case the depstat utility made some changes to go.mod/sum
  config/jobs/kubernetes/sig-arch/kubernetes-depstat.yaml
Labels: approved, area/config, area/conformance, area/jobs, cncf-cla: yes, lgtm, sig/architecture, sig/testing, size/XS

#22825 Update controller-runtime milestones, 0.10. is the current dev version
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#22838 jobs: add summary lines to jobs tests
  config/tests/jobs/jobs_test.go
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#22841 prow: remove a race in secret agent startup
  prow/config/secret/agent.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#22843 Cluster API Provider AWS: Really disable PR blocking
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#21637 [Gopherage] Clean up and expand gopherage metadata json
  gopherage/cmd/metadata/BUILD.bazel
  gopherage/cmd/metadata/metadata.go
  gopherage/cmd/metadata/metadata_test.go
Labels: approved, area/gopherage, cncf-cla: yes, lgtm, sig/testing, size/L

#22837 Adding new pre-submit 'pull-cip-verify-archives' to CIP
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, ok-to-test, sig/release, sig/testing, size/S

#22840 use gs://k8s-release-dev for kubernetes CI builds
  config/jobs/kubernetes/kops/helpers.py
  config/jobs/kubernetes/kops/kops-periodics-gce.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits.yaml
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.20.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.21.yaml
  config/jobs/kubernetes/sig-testing/coverage.yaml
  config/tests/jobs/jobs_test.go
  images/kubekins-e2e/kops-e2e-runner.sh
  kubetest/extract_test.go
  kubetest/main.go
  scenarios/kubernetes_bazel.py
  scenarios/kubernetes_build.py
Labels: approved, area/config, area/images, area/jobs, area/kubetest, area/release-eng, area/scenarios, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/release, sig/testing, size/M

#22848 Add old branch to release ingress-nginx image
  config/jobs/image-pushing/k8s-staging-ingress-nginx.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#22842 Fix a bug to skip presubmit tests for WorkInProgress Gerrit changes correctly
  go.mod
  go.sum
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
  repos.bzl
Labels: approved, area/prow, area/prow/gerrit, cncf-cla: yes, lgtm, sig/testing, size/M

#22849 bump bootstrap image references
  config/jobs/cadvisor/cadvisor.yaml
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.20.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.21.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-golang.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  images/kubekins-e2e/Dockerfile
Labels: approved, area/config, area/images, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/scalability, sig/testing, size/S

#22811 Fix konnectivity agent test logs export.
  logexporter/cluster/log-dump.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#22854 releng: Invoke wrapper script for `pull-cip-verify-archives` job
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#22855 Add presubmit for building container image
  config/jobs/kubernetes-sigs/image-builder/image-builder-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/S

#22823 pull-security-profiles-operator-test-e2e: switch `/var/log` to `/var/log/audit`
  config/jobs/kubernetes-sigs/security-profiles-operator/seccomp-operator-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#22847 Crier: Don't error if pod got deleted by the time we add the finalizer
  prow/crier/reporters/gcs/kubernetes/reporter.go
  prow/crier/reporters/gcs/kubernetes/reporter_test.go
Labels: approved, area/prow, area/prow/crier, cncf-cla: yes, lgtm, sig/testing, size/S

#22850 Trigger: Add /retest-required that excludes optional jobs
  prow/github/report/report.go
  prow/pjutil/filter.go
  prow/pjutil/filter_test.go
  prow/plugins/trigger/generic-comment.go
  prow/plugins/trigger/generic-comment_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/L

#22845 Bugzilla: Retain manully-added valid bug labels
  prow/github/client.go
  prow/github/fakegithub/fakegithub.go
  prow/plugins/approve/approve.go
  prow/plugins/approve/approve_test.go
  prow/plugins/bugzilla/bugzilla.go
  prow/plugins/bugzilla/bugzilla_test.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/L

#22833 Update scanning to triage privately
  config/jobs/kubernetes/wg-k8s-infra/trusted/wg-k8s-infra-trusted.yaml
Labels: approved, area/config, area/jobs, area/testgrid, cncf-cla: yes, lgtm, sig/security, sig/testing, size/S

#22844 Enable OVA CI for image-builder
  config/jobs/kubernetes-sigs/image-builder/image-builder-ova-presubmits.yaml
  config/jobs/kubernetes-sigs/image-builder/image-builder-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#22861 azure: use kubekins-e2e master instead of release branches
  config/jobs/kubernetes/sig-cloud-provider/azure/generate.sh
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.18.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.19.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.20.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.21.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/M

#22777 Prow pubsub: supports presubmit jobs
  prow/cmd/sub/BUILD.bazel
  prow/cmd/sub/main.go
  prow/config/config.go
  prow/pubsub/subscriber/BUILD.bazel
  prow/pubsub/subscriber/subscriber.go
Labels: approved, area/prow, area/prow/pubsub, cncf-cla: yes, lgtm, sig/testing, size/L, ¯\_(ツ)_/¯

#21666 Use pre-existing kubetest2 binaries in pull-kubernetes-e2e-gce-kubetest2
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/M

#22783 Prow pubsub: allow restricting clusters for project
  prow/config/config.go
  prow/config/config_test.go
  prow/config/prow-config-documented.yaml
  prow/pubsub/subscriber/server.go
  prow/pubsub/subscriber/subscriber.go
  prow/pubsub/subscriber/subscriber_test.go
Labels: approved, area/prow, area/prow/pubsub, cncf-cla: yes, lgtm, sig/testing, size/L

#22863 Fix env quoting on pull-kubernetes-e2e-gce-kubetest2
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#22862 CAPZ: Update milestone applier plugin
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/XS

#22864 config/jobs: fix kubernetes deprecated build jobs
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.20.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.21.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#22188 remove SuspendJob from alpha e2e tests
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/apps, sig/cloud-provider, sig/testing, size/XS

#22866 Revert "Gerrit postsubmit jobs: clone the commit exactly for the PR"
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
Labels: approved, area/prow, area/prow/gerrit, cncf-cla: yes, lgtm, sig/testing, size/L

#22867 Drop explicit repo-root from pull-kubernetes-e2e-gce-kubetest2
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#22757 Testgrid - Add OpenShift 4.9 Single-Node Serial periodics to OpenShift Single-Node dashboard
  config/testgrids/openshift/single-node.yaml
Labels: approved, area/config, area/testgrid, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/S

#22871 fix missing watch permissions for horologium in starter Prow config
  config/prow/cluster/starter-gcs.yaml
  config/prow/cluster/starter-s3.yaml
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#22802 sig-node: Add pull-kubernetes-node-e2e-containerd-features
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  config/testgrids/kubernetes/presubmits/config.yaml
Labels: approved, area/config, area/jobs, area/testgrid, cncf-cla: yes, lgtm, sig/node, sig/testing, size/M

#22870 Trigger pull-cip-image-cip for every PR against CIP
  config/jobs/kubernetes/sig-release/cip/container-image-promoter.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, needs-ok-to-test, sig/release, sig/testing, size/XS

#22868 fix prow/getting_started_deploy.md typo
  prow/getting_started_deploy.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, needs-ok-to-test, sig/testing, size/XS

#22869 Fix typo - update loop device count in the comment
  config/prow/cluster/create-loop-devs_daemonset.yaml
Labels: approved, area/config, area/prow/bump, cncf-cla: yes, lgtm, sig/testing, size/XS

#22872 Set the DynamicKubeletConfig feature gate to true for the memory manager
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/node, sig/testing, size/XS

#22856 Deck: Search PRs and authors in batch jobs
  prow/cmd/deck/static/prow/prow.ts
Labels: approved, area/prow, area/prow/deck, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/M

#22876 Prow sub: create git client only when token is supplied
  prow/cmd/sub/main.go
  prow/pubsub/subscriber/subscriber.go
Labels: approved, area/prow, area/prow/pubsub, cncf-cla: yes, lgtm, sig/testing, size/S

#22874 Prow sub: support postsubmit jobs
  prow/config/config.go
  prow/pubsub/subscriber/subscriber.go
Labels: approved, area/prow, area/prow/pubsub, cncf-cla: yes, lgtm, sig/testing, size/M

#22879 Block PRs in client-go except updates to README
  config/prow/plugins.yaml
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/api-machinery, sig/testing, size/XS

#22884 Retest required: Actually omit optional jobs
  prow/pjutil/filter.go
  prow/pjutil/filter_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS

#22878 Bump kubekins-e2e 1.16 variants to golang 1.16.6
  images/kubekins-e2e/variants.yaml
Labels: approved, area/images, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#22892 config/jobs: drop --stage from kubernetes/kubernetes merge-blocking presubmits
  config/jobs/kubernetes/sig-api-machinery/sig-api-machinery-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.20.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.21.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, area/release-eng, cncf-cla: yes, lgtm, sig/api-machinery, sig/cloud-provider, sig/release, sig/scalability, sig/testing, size/S

#22890 config/tests: jobs should not use gs://kubernetes-release-pull
  config/tests/jobs/jobs_test.go
Labels: approved, area/config, cncf-cla: yes, lgtm, sig/testing, size/M

#22809 Add swap periodics for node
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/node, sig/testing, size/M

#22858 update csi-secrets-store k8s version to 1.21 for windows
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#22875 Allow workload-identity scripts to use region
  workload-identity/bind-service-accounts.sh
  workload-identity/enable-workload-identity.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#22894 Revert "Merge pull request #22892 from spiffxp/no-stage-for-merge-blo…
  config/jobs/kubernetes/sig-api-machinery/sig-api-machinery-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.20.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.21.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, area/release-eng, cncf-cla: yes, lgtm, sig/api-machinery, sig/cloud-provider, sig/release, sig/scalability, sig/testing, size/S

#22162 add csi-secrets-store periodic, postsubmit to sig-auth
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
  config/testgrids/config.yaml
Labels: approved, area/config, area/jobs, area/testgrid, cncf-cla: yes, lgtm, sig/testing, size/M

#22899 Update kubekins-e2e 1.15 variants to 1.15.14
  images/kubekins-e2e/variants.yaml
Labels: approved, area/images, area/release-eng, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XS

#22898 config: add all image-pushing jobs to a wg-k8s-infra-gcb testgrid dashboard
  config/jobs/image-pushing/k8s-staging-apiserver-network-proxy.yaml
  config/jobs/image-pushing/k8s-staging-apisnoop.yaml
  config/jobs/image-pushing/k8s-staging-boskos.yaml
  config/jobs/image-pushing/k8s-staging-cloud-provider-aws.yaml
  config/jobs/image-pushing/k8s-staging-cloud-provider-gcp.yaml
  config/jobs/image-pushing/k8s-staging-cluster-addons.yaml
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
  config/jobs/image-pushing/k8s-staging-cri-tools.yaml
  config/jobs/image-pushing/k8s-staging-csi-secrets-store.yaml
  config/jobs/image-pushing/k8s-staging-descheduler.yaml
  config/jobs/image-pushing/k8s-staging-dns.yaml
  config/jobs/image-pushing/k8s-staging-e2e-test-images.sh
  config/jobs/image-pushing/k8s-staging-e2e-test-images.yaml
  config/jobs/image-pushing/k8s-staging-etcdadm.yaml
  config/jobs/image-pushing/k8s-staging-external-dns.yaml
  config/jobs/image-pushing/k8s-staging-gateway-api.yaml
  config/jobs/image-pushing/k8s-staging-infra-tools.yaml
  config/jobs/image-pushing/k8s-staging-ingress-controller-conformance.yaml
  config/jobs/image-pushing/k8s-staging-ingress-nginx.yaml
  config/jobs/image-pushing/k8s-staging-k8s-gsm-tools.yaml
  config/jobs/image-pushing/k8s-staging-kind.yaml
  config/jobs/image-pushing/k8s-staging-kops.yaml
  config/jobs/image-pushing/k8s-staging-kube-state-metrics.yaml
  config/jobs/image-pushing/k8s-staging-kubetest2.yaml
  config/jobs/image-pushing/k8s-staging-kustomize.yaml
  config/jobs/image-pushing/k8s-staging-metrics-server.yaml
  config/jobs/image-pushing/k8s-staging-multitenancy.yaml
  config/jobs/image-pushing/k8s-staging-nfd-operator.yaml
  config/jobs/image-pushing/k8s-staging-nfd.yaml
  config/jobs/image-pushing/k8s-staging-node-problem-detector.yaml
  config/jobs/image-pushing/k8s-staging-prometheus-adapter.yaml
  config/jobs/image-pushing/k8s-staging-provider-azure.yaml
  config/jobs/image-pushing/k8s-staging-scheduler-plugins.yaml
  config/jobs/image-pushing/k8s-staging-seccomp-operator.yaml
  config/jobs/image-pushing/k8s-staging-sig-docs.yaml
  config/jobs/image-pushing/k8s-staging-sig-storage.sh
  config/jobs/image-pushing/k8s-staging-sig-storage.yaml
  config/jobs/image-pushing/k8s-staging-slack-infra.yaml
  config/jobs/image-pushing/k8s-staging-storage-migrator.yaml
  config/jobs/image-pushing/releng/k8s-staging-artifact-promoter.yaml
  config/jobs/image-pushing/releng/k8s-staging-build-image.yaml
  config/jobs/image-pushing/releng/k8s-staging-kubernetes.yaml
  config/jobs/image-pushing/releng/k8s-staging-releng.yaml
  config/testgrids/kubernetes/wg-k8s-infa/config.yaml
  config/tests/jobs/jobs_test.go
  experiment/edit-prowjobs.py
Labels: approved, area/config, area/release-eng, area/testgrid, cncf-cla: yes, lgtm, sig/release, sig/testing, size/XXL, wg/k8s-infra

#22882 Enable huge services in tests with less than 1k nodes
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/scalability, sig/testing, size/S

#22904 secrets-store-csi-driver: add upgrade test to periodic dashboard
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#22905 Switch SIG release informing branch of Cluster API Provider AWS to main branch
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics-release-0-6.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#22553 Skip eviction tests on serial tests on systemd
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/node, sig/testing, size/XS

#22677 Duplicate tags for [Node(Alpha|Special)Feature:Foo] deprecation
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
  config/jobs/containerd/cri/containerd-cri-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/crio.yaml
  config/jobs/kubernetes/sig-node/node-docker.yaml
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.19.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.20.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.21.yaml
  config/jobs/kubernetes/wg-k8s-infra/canaries/sig-node-containerd.yaml
  releng/test_config.yaml
Labels: approved, area/config, area/jobs, area/release-eng, cncf-cla: yes, lgtm, ok-to-test, priority/backlog, sig/node, sig/release, sig/testing, size/M, wg/k8s-infra

#22901 Revert "skip_report flag in prowjob only used by crier reporters that…
  prow/crier/controller.go
  prow/crier/reporters/gerrit/reporter.go
  prow/crier/reporters/gerrit/reporter_test.go
  prow/crier/reporters/github/reporter.go
Labels: approved, area/prow, area/prow/crier, cncf-cla: yes, lgtm, sig/testing, size/L

#22910 secrets-store-csi-driver: add secondary dashboards
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#22886 Branchprotector: Update status contexts if there is at least one optional job
  prow/cmd/branchprotector/request.go
  prow/config/branch_protection.go
  prow/config/branch_protection_test.go
  prow/config/config.go
  prow/config/prow-config-documented.yaml
Labels: approved, area/prow, area/prow/branchprotector, cncf-cla: yes, lgtm, sig/testing, size/M

#22912 Fix triggering presubmit Prow jobs for Gerrit change if it's changed from draft to active
  prow/gerrit/adapter/trigger.go
  prow/gerrit/adapter/trigger_test.go
  prow/gerrit/client/client.go
Labels: approved, area/prow, area/prow/gerrit, cncf-cla: yes, lgtm, sig/testing, size/M

#22914 Update Prow jobs for ingress-nginx and update owners
  config/jobs/image-pushing/k8s-staging-ingress-nginx.yaml
  config/jobs/kubernetes/sig-network/ingress-nginx/OWNERS
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-periodics-dev-v1.yaml
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-periodics-main.yaml
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-presubmit.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/network, sig/testing, size/L

#22916 run CAPI/CAPV/CAPA/CAPZ jobs with kubekins-e2e 1.21
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-postsubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-postsubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-main.yaml
Labels: approved, area/config, area/jobs, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/L

#22918 Remove omitempty from job_state_to_report
  prow/apis/prowjobs/v1/types.go
  prow/config/jobs_test.go
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M

#22919 Fix flaky TestWhoCanUse
  prow/plugins/override/override.go
Labels: approved, area/prow, area/prow/plugins, cncf-cla: yes, lgtm, sig/testing, size/XS

#22915 Clean up upgrade/downgrade test configs
  config/jobs/kubernetes/sig-cli/sig-cli-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gcp-gpu-upgrade-downgrade.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/upgrade-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cli, sig/cloud-provider, sig/testing, size/L

#22920 Remove e2e-eks-cleanup step
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#22922 Commenter: Replace \n with space as the former started to break searches
  robots/commenter/main.go
  robots/commenter/main_test.go
Labels: approved, area/robots, cncf-cla: yes, lgtm, sig/testing, size/XS

#22924 Prow sub: fix a runtime npe
  prow/pubsub/subscriber/subscriber.go
Labels: approved, area/prow, area/prow/pubsub, cncf-cla: yes, lgtm, sig/testing, size/XS

#22926 Prow sub: fix a simple pointer reuse bug
  prow/pubsub/subscriber/subscriber.go
Labels: approved, area/prow, area/prow/pubsub, cncf-cla: yes, lgtm, sig/testing, size/XS

#22928 Lint for exported loop var pointers and fix occurences
  .golangci.yml
  prow/cmd/deck/main.go
  prow/plugins/bugzilla/bugzilla_test.go
  prow/plugins/cla/cla_test.go
  prow/pubsub/subscriber/subscriber.go
  prow/tide/tide_test.go
Labels: approved, area/prow, area/prow/deck, area/prow/plugins, area/prow/pubsub, area/prow/tide, cncf-cla: yes, lgtm, sig/testing, size/S

#22927 Kops - add keypair rotation scenario job
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/M

#22930 fix pull-kubernetes-e2e-gce-ubuntu
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: approved, area/config, area/jobs, area/provider/gcp, cncf-cla: yes, lgtm, sig/cloud-provider, sig/testing, size/XS

#22932 Kops - Increase job timeout for keypair rotation test
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#22936 Kops - temporarily increase keypair rotation job run frequency
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/testing, size/XS

#22938 Commenter: Re-add query logging
  robots/commenter/main.go
Labels: approved, area/robots, cncf-cla: yes, lgtm, sig/testing, size/XS

#22939 run peridoc sig-network tests every 6 hours
  config/jobs/kubernetes/sig-network/ingress-gce-e2e.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/network, sig/testing, size/M

#22931 Add e2e-eks-cleanup
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS

#22940 update csi-secrets-store k8s version to 1.20 for windows
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/XS

#22933 Add presubmit Prow jobs for kubetest2 gke deployer
  config/jobs/kubernetes-sigs/kubetest2/kubetest2-gke-presubmits.yaml
Labels: approved, area/config, area/jobs, cncf-cla: yes, lgtm, sig/testing, size/M
