Repository kubernetes/test-infra, pull requests merged in 2022-05, with the labels that each got.

#26157 kOps - Run networking tests on containerd changes and ignore template functions
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26158 kOps - More cleanup of networking pre-submits
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26151 deck: simplify path /view/gs/:bucket/logs/:job/:build
  prow/cmd/deck/main.go
  prow/simplifypath/simplify_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/deck

#26159 Migrate off of bazel-bin for kops presubmit jobs
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-presubmits.yaml
  config/jobs/kubernetes/kops/templates/presubmit.yaml.jinja
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26161 Kops - remove bazel presets
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-presubmits.yaml
  config/jobs/kubernetes/kops/templates/periodic-scenario.yaml.jinja
  config/jobs/kubernetes/kops/templates/presubmit-scenario.yaml.jinja
  config/jobs/kubernetes/kops/templates/presubmit.yaml.jinja
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26162 Bump k/org jobs to go1.18
  config/jobs/kubernetes/org/kubernetes-org-jobs.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/contributor-experience, area/jobs, area/config

#26163 [CPO] Disable e2e conformance test
  config/jobs/kubernetes/cloud-provider-openstack/provider-openstack-presubmits-release-master-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/openstack, sig/testing, area/jobs, sig/cloud-provider, area/config

#26164 disable peridic test runs for azuredisk v2 driver
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-v2-periodics-config.yaml
  config/testgrids/kubernetes/sig-cloud-provider/azure/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, area/jobs, sig/cloud-provider, area/config

#26140 Leave helpful message on gerrit PRs when InRepoConfig fails
  prow/gerrit/adapter/adapter.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/gerrit

#26167 apiserver-network-proxy: kubekins e2e image should use v1.23 image with go v1.17
  config/jobs/kubernetes-sigs/apiserver-network-proxy/apiserver-network-proxy-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#26166 Remove PD CSI Driver migration tests in Windows
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-windows.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#26170 Configure deck to display pod link from trusted cluster
  config/prow/config.yaml
  prow/spyglass/README.md
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/config, area/prow/spyglass

#26172 Use the GCS credential for cloud-provider-vsphere for the E2E CI.
  config/jobs/kubernetes/cloud-provider-vsphere/cloud-provider-vsphere-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/provider/vmware, sig/cloud-provider, area/config

#26173 Fix invalid config for kubernetes-sigs/metrics-server.
  config/jobs/kubernetes-sigs/metrics-server/metrics-server-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#26171 Switch image bucket to k8s-staging-apisnoop
  config/jobs/kubernetes/sig-arch/conformance-gate.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/architecture, area/jobs, area/config, area/conformance, ok-to-test

#26174 kOps - Add distro test for Ubuntu 22.04 with ARM64
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26175 kOps - Fix distro test for Ubuntu 22.04 with ARM64
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26176 kOps - Add back tests for Ubuntu 20.04
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/helpers.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/testgrids/kubernetes/kops/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26048 jira, fakejira: add new functions to the jira client
  prow/jira/fakejira/fake.go
  prow/jira/jira.go
  prow/jira/jira_test.go
  prow/plugins/jira/jira.go
  prow/plugins/jira/jira_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XL, approved, sig/testing, tide/merge-method-squash, area/prow/plugins

#26169 Clickable pod link on job result page
  prow/spyglass/lenses/podinfo/template.html
  prow/spyglass/lenses/podinfo/testdata/test_base.html
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/spyglass

#26177 Adds private registry preset for Windows GCE jobs
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.22.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.23.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.24.yaml
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, sig/windows, area/jobs, area/config, area/release-eng

#26182 config/prow: remove branch restrictions for Kubernetes 1.24 Code Freeze
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, priority/critical-urgent, sig/testing, kind/feature, area/config

#26183 cloud-provider-gcp presubmit: invoke bazel directly.
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#26188 Enable auto fast-forward job in nomock mode
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/release, area/release-eng

#26189 CAPI Operator: Add github token to e2e config
  config/jobs/kubernetes-sigs/cluster-api-operator/cluster-api-operator-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-operator/cluster-api-operator-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#26190 Make testfreeze plugin work with auto fast-forward
  prow/plugins/testfreeze/checker/checker.go
  prow/plugins/testfreeze/checker/checker_test.go
  prow/plugins/testfreeze/checker/checkerfakes/fake_checker.go
  prow/plugins/testfreeze/testfreeze.go
  prow/plugins/testfreeze/testfreeze_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/plugins

#26194 Update path_alias for the perf_tests repository
  config/jobs/kubernetes-sigs/sig-windows/soak-tests.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#26186 windows: Adds -prepull-images=true for a few Windows jobs
  config/jobs/kubernetes-sigs/sig-windows/generate-presubmits.sh
  config/jobs/kubernetes-sigs/sig-windows/release-1.23-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/windows, area/jobs, area/config

#26198 Update perf-tests path
  config/jobs/kubernetes-sigs/sig-windows/soak-tests.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config, ok-to-test

#26197 CAPZ: Update milestone plugin for v1.3 release
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#26201 Minor fixes
  prow/crier/reporters/gerrit/reporter_test.go
  prow/plank/reconciler_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/plank, area/prow/crier

#26208 Add presubmit job for release-0.2 branch
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits-release-0.2.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#26212 node: re-enable device plugin tests
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#26206 Add README.md for git image
  images/git/README.md
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/S, approved, sig/testing, area/images

#26199 More examples, support creating a CSV dataset
  experiment/ml/prowlog/annotations.tsv
  experiment/ml/prowlog/csv/generate-dataset.go
  experiment/ml/prowlog/generate-dataset.go
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing

#26213 kOps - Make AWS VPC CNI pre-submit optional
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
  config/jobs/kubernetes/kops/templates/presubmit-scenario.yaml.jinja
  config/jobs/kubernetes/kops/templates/presubmit.yaml.jinja
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26214 Add `RequestedTeams` to github `PullRequest` type
  prow/github/types.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#26203 Update README.md to reflect Go version bump from v1.13 to v1.16 in gcloud-in-go image
  images/gcloud-in-go/README.md
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, area/images

#26204 Add Alpine Image README
  images/alpine/README.md
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/S, approved, sig/testing, area/images

#26218 reword comment
  hack/prowimagebuilder/main.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#26178 gcb-docker-gcloud: update buildx to v0.8.0
  images/gcb-docker-gcloud/Dockerfile
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, area/images

#26223 Fix podinfo lens to allow empty config.
  prow/spyglass/lenses/podinfo/podinfo.go
  prow/spyglass/lenses/podinfo/podinfo_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/spyglass

#26215 Update TG config to use new OSS-Prow domain.
  config/testgrids/config.yaml
  config/testgrids/google/OWNERS
  config/testgrids/google/google.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/config

#26226 Add lzhecheng martinforreal and nilo19 to owners of cloud-provider-azure team.
  config/jobs/kubernetes-sigs/cloud-provider-azure/OWNERS
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config

#26228 Update azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, area/jobs, area/config

#26230 Update azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#26231 Mention that fast forwards happen every 6 hours
  prow/plugins/testfreeze/testfreeze.go
  prow/plugins/testfreeze/testfreeze_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/plugins

#26239 ci-kubernetes-node-swap-fedora-serial: fix bootstrap
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#26225 Add broken column threshold annotation.
  testgrid/pkg/configurator/prow/prow.go
  testgrid/pkg/configurator/prow/prow_test.go
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing

#26237 Fix gcloud-terraform image build with up-to-date terraform version
  images/gcloud-terraform/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#26136 Add a robot reopening important triaged bugs
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved

#26238 Drop aks-engine jobs from main branch for Windows
  config/jobs/kubernetes-sigs/sig-windows/generate-presubmits.sh
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/windows, area/jobs, area/config

#26242 azure: remove Windows + dockershim conformance test job
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26195 azure: Skip GPU test in CAPZ v1alpha4 release 0.5 test
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-release-v1alpha4.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config, ok-to-test

#26245 Remove GCE prow job for SMB CSI Driver
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#26251 Fix failure in pull-kubernetes-conformance-image-test with new registry
  experiment/kind-conformance-image-e2e.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#26254 bump containerd version used in the CI jobs
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.24.yaml
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/network, area/provider/gcp, sig/testing, sig/release, sig/storage, area/jobs, sig/cloud-provider, area/config, area/release-eng

#26253 switch to cronjob v1 for scalability testing
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#26255 Build gencred as part of prow images
  .ko.yaml
  prow/.prow-images.yaml
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#26248 Add broken threshold to some test-infra jobs.
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#26257 removed DIND
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#26258 1.24 will be the last supported release for 20H2
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-sac.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/windows, area/jobs, area/config

#26243 Add apidiff pre-submit for CAPV
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config, ok-to-test

#26260 Revert "Leave helpful message on gerrit PRs when InRepoConfig fails"
  prow/gerrit/adapter/adapter.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/gerrit

#26265 presubmit for kind and k/k1.24
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#26261 provider-openstack: stop use bazel remote cache
  config/jobs/kubernetes/cloud-provider-openstack/provider-openstack-presubmits-release-master-config.yaml
  config/jobs/kubernetes/cloud-provider-openstack/provider-openstack-presubmits-release-v1.23-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/openstack, sig/testing, area/jobs, sig/cloud-provider, area/config

#26264 Updating env vars for windows soak test jobs
  config/jobs/kubernetes-sigs/sig-windows/soak-tests.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/windows, area/jobs, area/config

#26266 🌱 Change running apidiff job to optional
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#26271 boskos: fix projects id for cleanup
  config/prow/cluster/build/boskos-resources/boskos-resources.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config, area/prow/bump

#26269 Revert "removed DIND"
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#26274 kOps - Increase timeout for bazel-build job
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26276 Create an optional pull-kubernetes-coverage-unit presubmit
  config/jobs/kubernetes/sig-testing/coverage.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#25945 Adding periodic e2e jobs that run windows azuredisk tests on capz clusters
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/windows, area/jobs, area/config

#26282 Remove presubmit GCE iscsi jobs
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
  config/testgrids/kubernetes/presubmits/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, sig/storage, area/jobs, area/config

#26286 soak-tests - Replace REPORTS_DIR variable with ARTIFACTS
  config/jobs/kubernetes-sigs/sig-windows/soak-tests.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config, ok-to-test

#26222 Sub component reloads when subscription changed
  prow/pubsub/subscriber/server.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/pubsub

#26288 bump krte to bullseye
  images/krte/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#26246 Gencred supports running continuously, and store output in GSM
  gencred/cmd/gencred/main.go
  gencred/cmd/gencred/main_test.go
  gencred/pkg/secretmanager/secretmanager.go
  gencred/pkg/serviceaccount/serviceaccount.go
  gencred/pkg/serviceaccount/serviceaccount_test.go
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing

#26289 update python packages
  images/krte/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#26227 Add branch cleaner plugin for cloud-provider-azure and enable trigger github workflow
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config

#26280 Disable `ci-cri-containerd-e2e-cos-gce-alpha-features` temporarily
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#26295 capi-gcp: stop use bazel remote cache
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-periodics-release-0-4.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-periodics-release-1-0.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits-release-0-4.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits-release-1-0.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/gcp, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26283 fix sig-windows pre-submit jobs for 1.24 and main
  config/jobs/kubernetes-sigs/sig-windows/README.md
  config/jobs/kubernetes-sigs/sig-windows/generate-presubmits.sh
  config/jobs/kubernetes-sigs/sig-windows/release-1.24-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.24-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-sac.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/windows, area/jobs, area/config

#26221 Remove SIG Service Catalog label
  label_sync/labels.md
  label_sync/labels.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/label_sync

#26277 Return reasonable slug when using CreateTeam in dry mode
  prow/github/client.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#26263 cherrypicker better support for cherry-pick within a cherry-pick PR
  prow/external-plugins/cherrypicker/server.go
  prow/external-plugins/cherrypicker/server_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, ok-to-test

#26297 remove kubemci jobs that are failing permanently
  config/jobs/GoogleCloudPlatform/k8s-multicluster-ingress/k8s-multicluster-ingress-config.yaml
  config/testgrids/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#26256 Prow job for rotating generated build clusters kubeconfigs
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/trusted_serviceaccounts.yaml
  config/prow/gencred-config/gencred-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, area/prow/bump

#26307 Use a single windows node for Winodws soak test PR job
  config/jobs/kubernetes-sigs/sig-windows/soak-tests.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#26301 Use `labelY1` label on ghproxy.jsonnet
  config/prow/cluster/monitoring/mixins/grafana_dashboards/ghproxy.jsonnet
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config, ok-to-test, area/prow/bump

#26309 Remove sig-windows/generate-presubmits from autobump
  config/prow/autobump-config/prow-job-autobump-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#26308 Gencred: capture list secret error
  gencred/cmd/gencred/main.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#26209 Merge cert-manager's testgrid config
  config/mergelists/canary.yaml
  config/mergelists/prod.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config, ok-to-test

#26310 Gencred change also trigger prow images build
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#26314 kOps - Add pre-submit jobs for testing AWS CCM
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26302 Prow dashboard: drop `instance` fields finally
  config/prow/cluster/monitoring/mixins/lib/config.libsonnet
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config, ok-to-test, area/prow/bump

#26318 Remove pre-submit job for testing AWS CCM with k8s 1.21
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26270 cap-openstack: stop use bazel remote cache
  config/jobs/kubernetes-sigs/cluster-api-provider-openstack/cluster-api-provider-openstack-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-openstack/cluster-api-provider-openstack-postsubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-openstack/cluster-api-provider-openstack-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#26316 Update Go version on `pull-community-verify`
  config/jobs/kubernetes/community/community-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/contributor-experience, area/jobs, area/config, ok-to-test

#26311 fixing ci-kubernetes-e2e-azuredisk-capz-windows-2019
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/windows, area/jobs, area/config

#26322 Don't warn anonymous client when using GH app
  prow/flagutil/github.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#26293 Onboarding build cluster rotating gencred
  prow/create-build-cluster.sh
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, area/prow/bump

#26320 Sync prow kubeconfig from GSM for hmac usage
  config/prow/cluster/kubernetes_external_secrets.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config, area/prow/bump

#26324 Remove GoogleCloudPlatform/netd from Kubernetes's Prow
  config/prow/config.yaml
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config, ok-to-test

#26304 chore: Bring E2E testing to parity with V1
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-v2-config.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, area/jobs, area/config, ok-to-test

#26326 releng: update kubekins/krte to go1.18.2 and go1.17.10 and add 1.25 config
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/images, area/release-eng

#26315 [cloud-providera-azure] Add release-1.24 and remove release-0.7
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.24.yaml
  config/testgrids/kubernetes/sig-cloud-provider/azure/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, area/jobs, sig/cloud-provider, area/config

#26327 chore: Add more worker nodes for e2e tests with replicas
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-v2-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config, ok-to-test

#26273 chore(secrets-store-csi): support v1.24.0 kind cluster version
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-release-1.1-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#26291 set the testGroup's num_failures_to_alert, also apply dashboard tab's…
  testgrid/pkg/configurator/prow/prow.go
  testgrid/pkg/configurator/prow/prow_test.go
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, ok-to-test

#26338 Gencred job not trigger on job change
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#26340 chore: Make new e2e tests optional while working through setup issues
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-v2-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config, ok-to-test

#26290 Moving aks-engine based azure dualstack jobs to target release-1.24
  config/jobs/kubernetes/sig-network/dualstack-e2e.yaml
  config/testgrids/kubernetes/sig-cloud-provider/azure/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/network, area/provider/azure, sig/testing, area/jobs, sig/cloud-provider, area/config

#26329 fix assisted-installer dashboard after jobs rename
  config/testgrids/openshift/assisted-installer.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/config, ok-to-test

#26294 capi-aws: stop use bazel remote cache
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits-release-0.6.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits-release-0.7.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#26349 Use AutoML to select a page to highlight
  experiment/ml/analyze/client.go
  experiment/ml/analyze/main.go
  experiment/ml/analyze/predict.go
  prow/external-plugins/cherrypicker/server_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XL, approved, sig/testing

#26350 Sync CAPZ owners with Azure provider project
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/OWNERS
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26352 Break glass target for gencred refresher
  config/prow/Makefile
  gencred/cmd/gencred/main.go
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/config

#26354 disable auto run of sanity test
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#26355 Update the set of upgrade tests
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26336 Prow components reference k8s-prow-builds cluster as separate secret
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/config, area/prow/bump

#26359 Gencred generated default build cluster should be named default
  config/prow/gencred-config/gencred-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#26358 Windows capz azuredisk: ci-entrypoint assumes that k8s is checkout to path
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#26347 Add optional presubmit with 5k nodes for perf-tests repo
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/scalability, area/jobs, area/config

#26362 Unadd optional presubmit with 5k nodes for perf-tests repo
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/scalability, area/jobs, area/config

#26361 Upgrade hostpath-driver to v1.8.0
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/csi-release-tools/csi-release-tools-config.yaml
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/external-resizer/external-resizer-config.yaml
  config/jobs/kubernetes-csi/external-snapshotter/external-snapshotter-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/livenessprobe/livenessprobe-config.yaml
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#26366 periodic-cluster-api-e2e-main workload identity setting on correct level
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#26360 Add a --port analyze option to do this over HTTP
  experiment/ml/analyze/http.go
  experiment/ml/analyze/main.go
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing

#26370 Fix use of PROW_SECRET_ACCESOR_SA in create-build-cluster.sh
  prow/create-build-cluster.sh
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#26371 Add analysis image to ko release
  .ko.yaml
  prow/.prow-images.yaml
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing

#26374 Migrate periodic-cluster-api-e2e-mink8s-main to use workload identity
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#26299 Delete kubernetes-versions.md file
  docs/kubernetes-versions.md
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, ok-to-test

#26375 Tide caches prefetched HEAD OID while picking batches
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/tide

#26373 azure: use latest k8s releases for capz ccm jobs
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.0.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.1.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.23.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.24.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#26200 azure: use release-1.3 branch for capz v1beta1
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.0.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.1.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.23.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.24.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-release-v1beta1.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.21.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.22.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.23.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-master.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, sig/cloud-provider, area/config

#26379 Revert "azure: use latest k8s releases for capz ccm jobs"
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.0.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.1.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.23.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.24.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#26363 [cloud-provider-azure] Add vmss jobs
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.0.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.1.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.23.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.24.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, area/jobs, area/config

#26381 Update Descheduler Jobs To Use Go 1.18.2
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-master.yaml
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-release-1.24.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, kind/cleanup, area/config

#26382 Configure plugins for kubernetes-sigs/prow.
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#26300 Remove unused `K8S_AZURE_*` vars
  kubetest/aksengine.go
Labels: lgtm, cncf-cla: yes, area/kubetest, size/S, approved, sig/testing, ok-to-test

#26386 Add redhat-quay tab to testgrid
  config/testgrids/openshift/groups.yaml
  config/testgrids/openshift/redhat-quay.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing, area/config, ok-to-test

#26376 git base image: install git-daemon package
  images/git/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#26180 add jira search method and fake client
  prow/jira/fakejira/fake.go
  prow/jira/fakejira/fake_test.go
  prow/jira/jira.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, ok-to-test

#26236 PR History yellow pending and gray aborted
  prow/cmd/deck/template/pr-history.html
Labels: lgtm, area/prow, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, area/prow/deck

#26378 Provide instruction for how to migrate a prow job to use workload ide…
  workload-identity/README.md
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing

#26390 Add ACK to Prow in the wild list
  prow/README.md
Labels: lgtm, area/prow, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing

#26392 Doc cleanup
  prow/test/integration/README.md
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing

#26387 Fix running tests in transfigure.sh
  testgrid/cmd/transfigure/transfigure.sh
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XS, approved, sig/testing, ok-to-test

#26325 Change CCM approver configuration
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#26149 Tide makes decision based on common code review struct instead of directly accessing PullRequest
  prow/cmd/deck/main.go
  prow/cmd/deck/static/api/github.ts
  prow/cmd/deck/static/api/pr.ts
  prow/cmd/deck/static/api/tide.ts
  prow/cmd/deck/static/pr/pr.ts
  prow/cmd/deck/tide.go
  prow/cmd/tide/main.go
  prow/tide/codereview.go
  prow/tide/codereview_test.go
  prow/tide/search.go
  prow/tide/search_test.go
  prow/tide/status.go
  prow/tide/status_test.go
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XXL, approved, sig/testing, area/prow/deck, area/prow/tide
