Repository kubernetes/test-infra, pull requests merged in 2022-08, with the labels that each got.

#26982 Drop ci-containerd-e2e-ubuntu-gce-1-6
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#26983 Use ubuntu for ci-containerd-e2e-ubuntu-gce
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#26980 auto build if NGINX_BASE changed.
  config/jobs/image-pushing/k8s-staging-ingress-nginx.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved

#26973 Fix CAPA release-1.5 job
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits-release-1.5.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#26985 Revert "Use ubuntu for ci-containerd-e2e-ubuntu-gce"
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#26896 [KEP-3203] Prow job to Push CVE feed to GCS bucket
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-security-trusted.yaml
  config/testgrids/kubernetes/sig-security/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing, area/config, tide/merge-method-squash, sig/security

#26988 Fix typo for image:tag on k8s-cve-feed job
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-security-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/security, sig/k8s-infra

#26918 `label_sync`: validate gh options in order to populate throttle by org
  label_sync/main.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/label_sync

#26503 Ignore merges by github-actions user in kops-dev
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#26961 Log duration spent on inrepoconfig fetch
  prow/cache/cache.go
  prow/cache/cache_test.go
  prow/config/cache.go
  prow/config/cache_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing

#26936 Allow gerrit to make repo cache in a configured volume
  prow/cmd/gerrit/main.go
  prow/gerrit/adapter/adapter.go
  prow/test/integration/config/prow/cluster/gerrit.yaml
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/gerrit

#26990 Updates to fix k8s-cve-feed prow job failures
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-security-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/security, sig/k8s-infra

#26993 azure: add capz csi migration e2e job
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26995 Update cloud-provider-azure serial job to 3 parallel testing node
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#26984 clean up unused jobs and conditions
  config/jobs/image-pushing/k8s-staging-ingress-nginx.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved

#26986 enable require matching label plugin in CAPI
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#26998 crio: Symlink runc before installing crio
  jobs/e2e_node/crio/crio.ign
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node

#26994 Remove CustomResourceValidationExpressions from alpha test
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#26934 migrate to eslint & update dependencies
  .gitignore
  Makefile
  eslintrc.js
  gopherage/cmd/html/static/browser.ts
  gopherage/cmd/html/static/parser.ts
  gopherage/cmd/html/static/utils.ts
  hack/make-rules/verify/all.sh
  hack/make-rules/verify/eslint.sh
  hack/run-in-node-container.sh
  package.json
  prow/cmd/deck/static/api/pr.ts
  prow/cmd/deck/static/api/tide-history.ts
  prow/cmd/deck/static/command-help/command-help.ts
  prow/cmd/deck/static/common/common.ts
  prow/cmd/deck/static/common/rerun.ts
  prow/cmd/deck/static/plugin-help/plugin-help.ts
  prow/cmd/deck/static/plugin-help/prettify.ts
  prow/cmd/deck/static/pr/pr.ts
  prow/cmd/deck/static/prow/fuzzy-search.ts
  prow/cmd/deck/static/prow/histogram.ts
  prow/cmd/deck/static/prow/prow.ts
  prow/cmd/deck/static/spyglass/lens.ts
  prow/cmd/deck/static/spyglass/spyglass.ts
  prow/cmd/deck/static/tide-history/tide-history.ts
  prow/cmd/deck/static/tide/tide.ts
  prow/cmd/deck/static/vendor.d.ts
  prow/spyglass/lenses/buildlog/buildlog.ts
  prow/spyglass/lenses/html/html.ts
  prow/spyglass/lenses/junit/lens.ts
  prow/spyglass/lenses/lens.d.ts
  prow/spyglass/lenses/links/links.ts
  prow/spyglass/lenses/metadata/metadata.ts
  prow/spyglass/lenses/restcoverage/restcoverage.ts
  yarn.lock
Labels: lgtm, area/prow, cncf-cla: yes, size/XXL, approved, sig/testing, area/prow/deck, area/prow/spyglass, ok-to-test, area/gopherage, tide/merge-method-merge

#27008 add benkazemi to github-slack mapping for oncall
  experiment/slack-oncall-updater/main.go
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing

#26997 config/prow: set branch restrictions for 1.25 code freeze
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, priority/critical-urgent, sig/testing, sig/release, area/config

#27009 Temporarily run cloud-provider-azure serial tests every 3h and set parallel nodes to 2
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#27010 CAPG: use 1.24 image with go 1.18 for main tests
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27011 crio_serial: Symlink runc before installing crio
  jobs/e2e_node/crio/crio_serial.ign
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node

#27016 Use stable required CI job for kube-openapi
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#26944 Modernize sub options handling
  prow/cmd/sub/main.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing

#27023 Adding debug info to cloud-provider-azure serial tests temporarily
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#27022 Remove excludeConfigPaths for govet-levee test image
  config/prow/autobump-config/prow-job-autobump-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#27026 node-e2e-serial-crio: extend ginkgo timeout to 4h
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, priority/important-soon, area/jobs, area/config

#27024 releng: update kubekins/krte to go1.18.5 and go1.17.13
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#27027 crio: fix rest of crio ign to have the correct runc path
  jobs/e2e_node/crio/crio-with-1G-hugepages.ign
  jobs/e2e_node/crio/crio_cgrpv2.ign
  jobs/e2e_node/crio/crio_cgrpv2_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/crio_k8s_infra_prow_build.ign
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, priority/important-soon

#27030 Update all variants from 1.19rc2 -> 1.19 golang
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#27031 kubekins: fix go build ldflags in cloudbuild.yaml
  images/kubekins-e2e/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, priority/critical-urgent, sig/testing, sig/release, area/images, area/release-eng

#27028 fix typo in cloud-provider-azure serial test
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#27033 Bump verify and verify-govet-levee presubmits to new kubekins-e2e with 1.19 golang GA
  config/jobs/kubernetes/sig-instrumentation/verify-govet-levee.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/instrumentation, area/jobs, area/config

#27014 Bump CRI-O jobs to commit `a560c8d`
  jobs/e2e_node/crio/crio-with-1G-hugepages.ign
  jobs/e2e_node/crio/crio.ign
  jobs/e2e_node/crio/crio_cgrpv2.ign
  jobs/e2e_node/crio/crio_cgrpv2_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/crio_cgrpv2_serial.ign
  jobs/e2e_node/crio/crio_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/crio_serial.ign
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node

#27015 Add go-vet to structured-merge-diff PR tests
  config/jobs/kubernetes-sigs/structured-merge-diff/structured-merge-diff-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#26667 Create prow jobs for Cluster-API-Provider-Cloudstack sig repo
  config/jobs/kubernetes-sigs/cluster-api-provider-cloudstack/OWNERS
  config/jobs/kubernetes-sigs/cluster-api-provider-cloudstack/capi-provider-cloudstack-presumbit.yaml
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config, ok-to-test

#26597 Tide Controller interacts with GitHub by interfaces
  prow/config/prow-config-documented.yaml
  prow/config/tide.go
  prow/tide/codereview.go
  prow/tide/search.go
  prow/tide/search_test.go
  prow/tide/status.go
  prow/tide/status_test.go
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XL, approved, sig/testing, area/prow/tide

#27043 Add tests for upgrading from stable to latest and to ci
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27042 Add e2e test with cpuManagerPolicy: static
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27045 Clean up Golang job configs
  config/jobs/kubernetes/sig-scalability/sig-scalability-golang.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/scalability, area/jobs, area/config

#27044 kubernetes-csi: more realistic pre-merge testing of csi-release-tools
  config/jobs/kubernetes-csi/csi-release-tools/csi-release-tools-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#27048 kubernetes-csi: fix mistake from PR #27044
  config/jobs/kubernetes-csi/csi-release-tools/csi-release-tools-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#26743 Add MinimumInterval option to periodic jobs
  prow/cmd/horologium/main.go
  prow/cmd/horologium/main_test.go
  prow/config/config.go
  prow/config/config_test.go
  prow/config/jobs.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/horologium, ok-to-test

#27049 config: update custom-metrics-apiserver to go 1.18
  config/jobs/kubernetes-sigs/custom-metrics-apiserver/custom-metrics-apiserver-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#27047 Revert "Bump CRI-O jobs to commit `a560c8d`"
  jobs/e2e_node/crio/crio-with-1G-hugepages.ign
  jobs/e2e_node/crio/crio.ign
  jobs/e2e_node/crio/crio_cgrpv2.ign
  jobs/e2e_node/crio/crio_cgrpv2_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/crio_cgrpv2_serial.ign
  jobs/e2e_node/crio/crio_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/crio_serial.ign
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node

#27052 Revert "Tide Controller interacts with GitHub by interfaces"
  prow/config/prow-config-documented.yaml
  prow/config/tide.go
  prow/tide/codereview.go
  prow/tide/search.go
  prow/tide/search_test.go
  prow/tide/status.go
  prow/tide/status_test.go
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XL, approved, sig/testing, area/prow/tide

#27040 Fetch CAPV CI secret from GCP project
  config/prow/cluster/build/build_kubernetes-external-secrets_customresource.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config, area/prow/bump

#27050 delete minor unreachable code caused by t.Fatalf
  prow/spyglass/podlogartifact_fetcher_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/spyglass

#27037 Add openshift stackrox testgrids
  config/testgrids/openshift/groups.yaml
  config/testgrids/openshift/redhat-stackrox-merge.yaml
  config/testgrids/openshift/redhat-stackrox-nightly.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/config, tide/merge-method-squash, ok-to-test

#27051 flaky test fix: moving prow job to a different build cluster
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#27053 kubernetes-csi: don't override snapshotter version for csi-test
  config/jobs/kubernetes-csi/csi-release-tools/csi-release-tools-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#27054 Revert "Revert "Tide Controller interacts with GitHub by interfaces""
  prow/config/prow-config-documented.yaml
  prow/config/tide.go
  prow/tide/codereview.go
  prow/tide/search.go
  prow/tide/search_test.go
  prow/tide/status.go
  prow/tide/status_test.go
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XL, approved, sig/testing, area/prow/tide

#27057 Try older version of COS image for ci-containerd-e2e-ubuntu-gce test
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#27020 Webhook Integration Tests and Validation
  prow/cmd/webhook-server/clients.go
  prow/cmd/webhook-server/helpers.go
  prow/cmd/webhook-server/main.go
  prow/cmd/webhook-server/main_test.go
  prow/cmd/webhook-server/validation.go
  prow/test/integration/config/prow/cluster/200_ingress.yaml
  prow/test/integration/config/prow/cluster/webhook_server_deployment.yaml
  prow/test/integration/config/prow/cluster/webhook_server_rbac.yaml
  prow/test/integration/config/prow/cluster/webhook_server_service.yaml
  prow/test/integration/lib.sh
  prow/test/integration/test/testdata/invalid_prowjob.yaml
  prow/test/integration/test/testdata/valid_prowjob.yaml
  prow/test/integration/test/webhook_server_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XL, approved, sig/testing, ok-to-test

#27058 kubernetes-csi: don't override snapshotter for repo pull jobs
  config/jobs/kubernetes-csi/csi-driver-iscsi/csi-driver-iscsi-config.yaml
  config/jobs/kubernetes-csi/csi-driver-nfs/csi-driver-nfs-config.yaml
  config/jobs/kubernetes-csi/csi-driver-nvmf/csi-driver-nvmf-config.yaml
  config/jobs/kubernetes-csi/csi-lib-utils/csi-lib-utils-config.yaml
  config/jobs/kubernetes-csi/csi-proxy/csi-proxy-config.yaml
  config/jobs/kubernetes-csi/csi-release-tools/csi-release-tools-config.yaml
  config/jobs/kubernetes-csi/csi-test/csi-test-config.yaml
  config/jobs/kubernetes-csi/external-health-monitor/external-health-monitor-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/lib-volume-populator/lib-volume-populator-config.yaml
  config/jobs/kubernetes-csi/volume-data-source-validator/volume-data-source-validator-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#27038 Add integration test for latest rerun
  prow/cmd/deck/rerun.go
  prow/test/integration/config/prow/cluster/deck_deployment.yaml
  prow/test/integration/config/prow/config.yaml
  prow/test/integration/test/deck_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/deck

#26999 Add APISelfSubjectReview to e2e-gce-alpha-features
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#27056 Liveness and readiness probes for webhook server
  prow/cmd/webhook-server/main.go
  prow/test/integration/config/prow/cluster/webhook_server_deployment.yaml
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config, ok-to-test

#27063 k8s-infra: move oci-proxy tests to community infrastructure
  config/jobs/kubernetes/sig-k8s-infra/oci-proxy/sig-k8s-infra-oci-proxy-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#27064 sig-node: fix resources for containerd-performance-test
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#27067 Run cloud-provider-azure serial tests 19UTC per day and remove aks-engine basiclb test
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config, ok-to-test

#27065 containerd-performance-test: remove project name
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#27068 update test image to use go1.18
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#27069 add jobs for capg release-1.2 branch
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-periodics-release-1-2.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits-release-1-2.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/gcp, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27074 Move tide functions to be closer to where structs were defined
  prow/tide/codereview.go
  prow/tide/github.go
  prow/tide/github_test.go
  prow/tide/search.go
  prow/tide/search_test.go
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XXL, approved, sig/testing, area/prow/tide

#27039 Add CI settings for k-sigs/kwok
  config/jobs/kubernetes-sigs/kwok/OWNERS
  config/jobs/kubernetes-sigs/kwok/kwok-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#27055 Deflake integration test by adding 30 more seconds of wait time on cl…
  prow/test/integration/test/pod-utils_test.go
  prow/test/integration/test/sub_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing

#27062 Clean up deck rerun integration test, add the original config scenario
  prow/test/integration/test/deck_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing

#27078 chore: remove aks-engine Windows 20H2 SAC jobs
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-sac.yaml
  config/testgrids/kubernetes/sig-windows/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/windows, area/jobs, area/config

#27075 Add pull-cluster-api-provider-ibmcloud-apidiff job config
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#27081 Bump go version to 1.18 in kwok CI
  config/jobs/kubernetes-sigs/kwok/kwok-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#27012 Renamed special-resource-operator --> kernel-module-management.
  config/jobs/kubernetes-sigs/kernel-module-management/OWNERS
  config/jobs/kubernetes-sigs/kernel-module-management/kernel-module-management-presubmits.yaml
  config/jobs/kubernetes-sigs/special-resource-operator/special-resource-operator-presubmits.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#27017 Add support for overriding checks generated by GitHub's Checks Run API
  prow/ANNOUNCEMENTS.md
  prow/github/client.go
  prow/plugins/override/override.go
  prow/plugins/override/override_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, tide/merge-method-squash, area/prow/plugins

#26303 Add joelanford as approver for kubebuilder/controller-runtime/controller-tools
  OWNERS_ALIASES
  config/jobs/kubernetes-sigs/controller-tools/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#26485 Remove unused cloud-provider-openstack dashboard
  config/testgrids/conformance/conformance-all.yaml
  config/testgrids/kubernetes/sig-cloud-provider/openstack/config.yaml
  config/testgrids/kubernetes/sig-release/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, area/provider/openstack, sig/testing, sig/release, sig/cloud-provider, area/config, area/release-eng

#26942 Tide configuration divided into shared vs. GitHub specific
  prow/cmd/checkconfig/main_test.go
  prow/cmd/deck/main_test.go
  prow/config/config.go
  prow/config/config_test.go
  prow/config/prow-config-documented.yaml
  prow/config/tide.go
  prow/config/tide_test.go
  prow/plugins/merge-method-comment/merge-method-comment_test.go
  prow/tide/status_test.go
  prow/tide/tide_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/deck, area/prow/tide, area/prow/plugins

#27091 Paginate `ListCheckRuns` request
  prow/github/client.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing

#27090 Gerrit supports query with branches filters
  prow/cmd/deck/rerun.go
  prow/cmd/deck/rerun_test.go
  prow/config/config.go
  prow/config/config_test.go
  prow/crier/reporters/gerrit/reporter.go
  prow/crier/reporters/gerrit/reporter_test.go
  prow/crier/reporters/github/reporter.go
  prow/crier/reporters/github/reporter_test.go
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
  prow/gerrit/adapter/syncer.go
  prow/gerrit/adapter/syncer_test.go
  prow/gerrit/client/client.go
  prow/gerrit/client/client_test.go
  prow/kube/prowjob.go
  prow/pubsub/subscriber/subscriber.go
  prow/pubsub/subscriber/subscriber_test.go
  prow/test/integration/test/gerrit_test.go
  prow/test/integration/test/sub_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XL, approved, sig/testing, area/prow/gerrit, area/prow/deck, area/prow/pubsub, area/prow/crier

#27080 chore: Update Windows CAPZ jobs to use containerd v1.6.8
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#26802 Removing K8s v1.21 sig-windows test jobs
  config/jobs/kubernetes-sigs/sig-windows/release-1.21-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.21-windows.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.21.yaml
  config/testgrids/kubernetes/sig-windows/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/release, sig/windows, area/jobs, area/config, area/release-eng

#27070 Throttling algorithm description
  ghproxy/README.md
  ghproxy/throttling-algorithm.md
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/ghproxy

#27096 releng: Update sig-release jobs for 1.25
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.22.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.23.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.24.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.25.yaml
  config/testgrids/kubernetes/presubmits/config.yaml
  config/testgrids/kubernetes/sig-release/config.yaml
  gubernator/config.yaml
  releng/test_config.yaml
Labels: lgtm, area/gubernator, area/testgrid, cncf-cla: yes, size/XXL, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#27087 Add versions 4.10, 4.11 and 4.12 to OpenShift Virtualization on TestGrid
  config/testgrids/openshift/openshift-virtualization.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/config, ok-to-test

#27102 Fix static cpu management test. Its a template, not a scenario
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27101 Fix a typo in `CreateCheckRun` method
  prow/github/client.go
  prow/github/client_test.go
  prow/plugins/override/override.go
  prow/plugins/override/override_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, tide/merge-method-squash, area/prow/plugins

#27092 Deflake integration test by enforcing faster configmap loading
  prow/test/integration/config/prow/config.yaml
  prow/test/integration/test/deck_test.go
  prow/test/integration/test/horologium_test.go
  prow/test/integration/test/setup.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing

#27104 kubernetes-sigs/nfd: update e2e test config
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-postsubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#27100 Use kubekins-e2e in kwok CI
  config/jobs/kubernetes-sigs/kwok/kwok-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#26630 descheduler: remove helm tests from prow
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config, ok-to-test

#27105 Add preset-dind-enabled for kwok CI
  config/jobs/kubernetes-sigs/kwok/kwok-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#27099 Fix generated release branch presubmit names
  releng/config-forker/main.go
  releng/config-forker/main_test.go
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/release-eng

#26978 gcsweb directory download instructions
  gcsweb/cmd/gcsweb/gcsweb.go
  gcsweb/cmd/gcsweb/gcsweb_test.go
  gcsweb/cmd/gcsweb/templates.go
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, ok-to-test

#27108 add AWS IAM Authenticator end-to-end test
  config/jobs/kubernetes-sigs/aws-iam-authenticator/aws-iam-authenticator-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config, ok-to-test

#27110 Patch to AWS IAM Authenticator e2e test
  config/jobs/kubernetes-sigs/aws-iam-authenticator/aws-iam-authenticator-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#27106 kubernetes-sigs/nfd: update e2e test config
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-postsubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#27112 config/jobs: update prometheus-adapter to go 1.18
  config/jobs/kubernetes-sigs/prometheus-adapter/prometheus-adapter-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#27113 config/jobs: add prometheus-adapter test job
  config/jobs/kubernetes-sigs/prometheus-adapter/prometheus-adapter-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#27082 Mutating Webhook and Integration Tests
  go.mod
  prow/cmd/webhook-server/helpers.go
  prow/cmd/webhook-server/helpers_test.go
  prow/cmd/webhook-server/main.go
  prow/cmd/webhook-server/main_test.go
  prow/cmd/webhook-server/mutation.go
  prow/cmd/webhook-server/validation.go
  prow/config/config.go
  prow/test/integration/config/prow/cluster/webhook_server_rbac.yaml
  prow/test/integration/config/prow/cluster/webhook_server_service.yaml
  prow/test/integration/test/testdata/valid_bare_prowjob.yaml
  prow/test/integration/test/webhook_server_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XL, approved, sig/testing, ok-to-test

#27117 move some inactive to emeritus_approvers, update oncall and build-adm…
  OWNERS
  OWNERS_ALIASES
  config/jobs/kubernetes-sigs/e2e-framework/OWNERS
  config/jobs/kubernetes-sigs/kubetest2/OWNERS
  config/jobs/kubernetes/repo-infra/OWNERS
  gopherage/OWNERS
  kettle/OWNERS
  kubetest/OWNERS
  scenarios/OWNERS
  triage/OWNERS
Labels: lgtm, area/triage, cncf-cla: yes, area/kubetest, area/scenarios, size/M, approved, sig/testing, area/jobs, area/kettle, area/config, area/gopherage

#27114 add smg247 to prow/cmd/deck reviewers
  prow/cmd/deck/OWNERS
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/deck

#27125 Remove redundant jobs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27129 Update kcp testgrid
  config/testgrids/kcp/groups.yaml
  config/testgrids/kcp/kcp.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/config

#27131 Fix kcp gcs links
  config/testgrids/kcp/kcp.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#27134 Tide: remove CanBeRebased from common provider struct
  prow/tide/codereview.go
  prow/tide/github.go
  prow/tide/tide.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/tide

#27135 Tide: move refsForJob out of interface
  prow/tide/codereview.go
  prow/tide/github.go
  prow/tide/tide.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/tide

#26916 Sync Images from GCR to AR
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-gcr-to-ar-sync.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/release, area/release-eng

#27140 GCR to AR Sync Job Typo Fix
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-gcr-to-ar-sync.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/release, area/release-eng

#27141 GCR to AR Sync Job Typo Fix 2
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-gcr-to-ar-sync.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/release, area/release-eng

#27142 Remove prow jobs for release-0.6 in CAPA
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics-release-0-6.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits-release-0.6.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#27145 GCR to AR Sync Job Typo Fix 3
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-gcr-to-ar-sync.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/release, area/release-eng

#27149 config/prow: fix boskos dashboard
  config/prow/cluster/monitoring/mixins/grafana_dashboards/boskos.jsonnet
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config, area/prow/bump

#27155 Increase grid coverage for cilium
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27154 Remove traige/needed label from PRs in CAPA
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#27156 Move Cluster API presubmits-main to workload-id
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#27159 Remove preset-service-account label from CAPI presubmit main
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#27161 drop preset-service-account from containerd presubmit jobs
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#27163 Revert "drop preset-service-account from containerd presubmit jobs"
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#26312 Update kubernetes-sigs/gcp-compute-persistent-disk-csi-driver presubmit configuration
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/config.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/S, approved, sig/testing, area/jobs, lifecycle/stale, area/config

#27164 Revert "Revert "drop preset-service-account from containerd presubmit jobs
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#27167 Decorate containerd presubmit to use WI
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#27169 Switch containerd config back to original
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#26992 Prow build cluster onboarding script saves some prompts
  prow/create-build-cluster.sh
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing

#27128 Add kwok release job
  config/jobs/image-pushing/k8s-staging-kwok.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved

#27158 Enable dind for pull-cluster-api-verify-main
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#27174 CAPI: Use workload identity across jobs
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-0-3.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-0-4-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-0-4.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-0-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-0.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-1-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-1.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-2-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-2.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-0-3.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-0-4.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-1-0.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-1-1.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-1-2.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#27175 `label_sync`: use `FindIssuesWithOrg` to find issues
  label_sync/main.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/label_sync

#27151 Refactor gerrit client so that auth logic can be reused
  prow/crier/reporters/gerrit/reporter.go
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
  prow/gerrit/client/client.go
  prow/gerrit/client/syncer.go
  prow/gerrit/client/syncer_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/gerrit, area/prow/crier

#27130 add K8s 1.25 windows presubmit and release job configs
  config/jobs/kubernetes-sigs/sig-windows/release-1.25-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.25-windows.yaml
  config/testgrids/kubernetes/sig-windows/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/release, sig/windows, area/jobs, area/config, ok-to-test, area/release-eng

#27185 Gerrit client accepts org/repo from different sources
  prow/cmd/crier/main.go
  prow/crier/reporters/gerrit/reporter.go
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
  prow/gerrit/client/client.go
  prow/gerrit/client/client_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/gerrit, area/prow/crier

#27152 Deflake TestUpdateSecret
  prow/cmd/webhook-server/helpers_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing

#27181 Add git client method to determine if the utilized app is installed in a repo
  prow/github/app_auth_roundtripper.go
  prow/github/client.go
  prow/github/client_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing

#27187 Deflake podutils integration test with 90 seconds timeout
  prow/test/integration/test/pod-utils_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#27190 post-test-infra-push-prow: explicitly disable GCS credentials secret
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#27184 Move audit-kind-conformance to k8s-infra
  config/jobs/kubernetes/sig-arch/conformance-audit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/architecture, area/jobs, area/config, area/conformance

#27179 Enable GODEBUG=gctrace=1 in kube-apiserver in scalability tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#27188 Change CAPZ presubmit main to use workload identity instead of preset-service-account
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config, ok-to-test

#27171 Make tests optional until we can import the codebase
  config/jobs/kubernetes-sigs/kernel-module-management/OWNERS
  config/jobs/kubernetes-sigs/kernel-module-management/kernel-module-management-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#27200 Adding push-images for Windows Operational Readiness
  config/jobs/image-pushing/k8s-staging-win-op-rdnss.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved

#27146 Gerrit controller for tide, implement provider interface for Gerrit
  prow/config/config.go
  prow/config/prow-config-documented.yaml
  prow/config/tide.go
  prow/gerrit/client/client.go
  prow/tide/codereview.go
  prow/tide/codereview_test.go
  prow/tide/gerrit.go
  prow/tide/gerrit_test.go
  prow/tide/github.go
  prow/tide/tide.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XXL, approved, sig/testing, area/prow/gerrit, area/prow/tide

#27201 Fix main branch no k8s-staging-win-op-rdnss
  config/jobs/image-pushing/k8s-staging-win-op-rdnss.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#27202 Service account key used for default build cluster stored in GCP secr…
  config/prow/cluster/build/build_kubernetes_external_secrets.yaml
  config/prow/cluster/kubernetes_external_secrets.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config, area/prow/bump

#27204 use workload identity for various trusted jobs
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#27206 hook: reduce log level for unrecognized PR actions
  prow/hook/events.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/hook

#27176 add jobs for release-1.2 branch
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-periodics-release-1-2.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-presubmits-release-1-2.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#27194 Remove traige/needed label from PRs in CAPA
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#27197 Move some tests to k8s-infra
  config/jobs/kubernetes-sigs/structured-merge-diff/structured-merge-diff-ci.yaml
  config/jobs/kubernetes/sig-arch/kubernetes-depstat-periodical.yaml
  config/jobs/kubernetes/sig-testing/coverage.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/architecture, area/jobs, area/config, tide/merge-method-squash, area/conformance

#27124 apiserver-network-proxy-presubmits: use Go 1.18
  config/jobs/kubernetes-sigs/apiserver-network-proxy/apiserver-network-proxy-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#27186 Remove 1.21 job
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-manual-job-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config
