Repository kubernetes/test-infra, pull requests merged in 2022-02, with the labels that each got.

#25057 Add Gerrit adapter metrics for query and processing results.
  prow/cmd/gerrit/BUILD.bazel
  prow/cmd/gerrit/main.go
  prow/gerrit/adapter/BUILD.bazel
  prow/gerrit/adapter/adapter.go
  prow/gerrit/client/BUILD.bazel
  prow/gerrit/client/client.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/gerrit

#25073 [CPO] Let config jobs run on all branches
  config/jobs/kubernetes/cloud-provider-openstack/cloud-provider-openstack-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/openstack, sig/testing, area/jobs, sig/cloud-provider, area/config

#24965 Adds srm09 to capv maintainers list
  OWNERS_ALIASES
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#25058 crier: gerrit reporter: use emoji to draw attention to the retest com…
  prow/crier/reporters/gerrit/reporter.go
  prow/crier/reporters/gerrit/reporter_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/crier

#25068 Additional CSI Proxy working directory setup for LVP
  config/jobs/kubernetes-sigs/sig-storage-local-static-provisioner/sig-storage-local-static-provisioner.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#25079 sig-node: change ssh user for pull-kubernetes-node-kubelet-serial-crio-cgroupv1
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#24933 Make Sub include a "https://" prefix when looking up presubmit/postsubmit jobs for gerrit.
  prow/pubsub/subscriber/BUILD.bazel
  prow/pubsub/subscriber/subscriber.go
  prow/pubsub/subscriber/subscriber_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/pubsub

#25083 Add some documentation about triggering gerrit jobs via pubsub.
  prow/cmd/sub/README.md
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing

#25081 Warn about planned change to default value of 'prow.k8s.io/gerrit-report-label'.
  prow/gerrit/adapter/adapter.go
  prow/gerrit/client/client.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/gerrit

#25074 Enbable docker for ci-test
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config, ok-to-test

#25082 Ensure windows nodes provision for pull-cluster-api-provider-azure-ci-entrypoint jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#25076 Removing self from test-infra-oncall
  OWNERS_ALIASES
  experiment/slack-oncall-updater/main.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#25078 Add petr-muller to Prow approvers
  prow/OWNERS
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#25086 Generic typescript rollup with make rule, source control generated ts bundle file
  .ts-packages
  hack/make-rules/update/codegen.sh
  hack/make-rules/update/ts-rollup.sh
  hack/make-rules/verify/codegen.sh
  hack/rollup-js.sh
  hack/ts.rollup_bundle.min.minify_options.json
  make-rollup.config.js
  make-tsconfig.json
  prow/cmd/deck/static/job-history/tsconfig.json
  prow/cmd/deck/static/job-history/zz.bundle.min.js
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/deck, area/prow/bazel-deprecation

#25063 Remove containerd e2e and node e2e duplicate jobs
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/testgrids/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#25090 cluster-api: increase alert failure limit across capi test files
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-0-3.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-0-4-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-0-4.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-0-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-0.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, ok-to-test

#25089 update clusterctl versions to latest patches
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-0.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-1.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#25101 updates for CAPG
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config

#25106 sig-k8s-infra: change container image for node throughput tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#25104 update e2e-framework to use go 1.17
  config/jobs/kubernetes-sigs/e2e-framework/e2e-framework-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#25107 Fix crier gerrit reporter duplicated reporting postsubmit job
  prow/crier/reporters/gerrit/reporter.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/crier

#24775 Add a `/check-required-labels` command
  prow/plugins/require-matching-label/require-matching-label.go
  prow/plugins/require-matching-label/require-matching-label_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, ok-to-test, area/prow/plugins

#25113 kops-grid-scenario-gcr-mirror: use containerProxy
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#25103 update capdo jobs for release-0.5 to use go1.16
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-periodics-release-0-5.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-presubmits-release-0-5.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#25091 sidecar/censor: handle empty files gracefully
  prow/sidecar/censor.go
  prow/sidecar/testdata/input/artifacts/empty
  prow/sidecar/testdata/output/artifacts/empty
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/pod-utilities, area/prow/sidecar

#25051 label_sync: disable retries on 404 responses
  label_sync/main.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/label_sync, ok-to-test

#25097 Typescript rollup packages under prow/cmd/deck/static and gopherage/cmd/html/static/
  .ts-packages
  gopherage/cmd/html/static/tsconfig.json
  gopherage/cmd/html/static/zz.browser.bundle.min.js
  hack/make-rules/update/ts-rollup.sh
  hack/rollup-js.sh
  prow/cmd/deck/static/command-help/tsconfig.json
  prow/cmd/deck/static/command-help/zz.command-help.bundle.min.js
  prow/cmd/deck/static/job-history/zz.job-history.bundle.min.js
  prow/cmd/deck/static/plugin-help/tsconfig.json
  prow/cmd/deck/static/plugin-help/zz.plugin-help.bundle.min.js
  prow/cmd/deck/static/pr/tsconfig.json
  prow/cmd/deck/static/pr/zz.pr.bundle.min.js
  prow/cmd/deck/static/prow/tsconfig.json
  prow/cmd/deck/static/prow/zz.prow.bundle.min.js
  prow/cmd/deck/static/spyglass/tsconfig.json
  prow/cmd/deck/static/spyglass/zz.lens.bundle.min.js
  prow/cmd/deck/static/spyglass/zz.spyglass.bundle.min.js
  prow/cmd/deck/static/tide-history/tsconfig.json
  prow/cmd/deck/static/tide-history/zz.tide-history.bundle.min.js
  prow/cmd/deck/static/tide/tsconfig.json
  prow/cmd/deck/static/tide/zz.tide.bundle.min.js
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/deck, area/gopherage

#25118 crier: GenerateReport: don't report blank URLs
  prow/crier/reporters/gerrit/reporter.go
  prow/crier/reporters/gerrit/reporter_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/crier

#25114 kops-grid-scenario-gcr-mirror: use k8s 1.23 to avoid staging dependency
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#25122 Release to branch tests
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#24901 Add SIG Release k/k fast-forward job
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#25125 Move upgrade tests to a dedicated dashboard
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
  config/testgrids/kubernetes/kops/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#25108 populate bool as true when omitempty
  pkg/genyaml/populate_struct.go
  pkg/genyaml/populate_struct_test.go
  prow/config/prow-config-documented.yaml
  prow/plugins/plugin-config-documented.yaml
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, ok-to-test, area/prow/plugins

#25128 Typescript: roll up everything else with make rule
  .ts-packages
  hack/make-rules/update/ts-rollup.sh
  prow/spyglass/lenses/buildlog/tsconfig.json
  prow/spyglass/lenses/buildlog/zz.buildlog.bundle.min.js
  prow/spyglass/lenses/coverage/coverage.ts
  prow/spyglass/lenses/coverage/tsconfig.json
  prow/spyglass/lenses/coverage/zz.coverage.bundle.min.js
  prow/spyglass/lenses/html/tsconfig.json
  prow/spyglass/lenses/html/zz.html.bundle.min.js
  prow/spyglass/lenses/junit/tsconfig.json
  prow/spyglass/lenses/junit/zz.lens.bundle.min.js
  prow/spyglass/lenses/lens.d.ts
  prow/spyglass/lenses/links/tsconfig.json
  prow/spyglass/lenses/links/zz.links.bundle.min.js
  prow/spyglass/lenses/metadata/tsconfig.json
  prow/spyglass/lenses/metadata/zz.metadata.bundle.min.js
  prow/spyglass/lenses/podinfo/tsconfig.json
  prow/spyglass/lenses/podinfo/zz.podinfo.bundle.min.js
  prow/spyglass/lenses/restcoverage/tsconfig.json
  prow/spyglass/lenses/restcoverage/zz.restcoverage.bundle.min.js
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/spyglass, area/prow/bazel-deprecation

#25133 Prow integration test uses deck image built during test
  prow/test/integration/prow/cluster/deck_deployment.yaml
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#25132 Fix a go lint error in experiment/gerrit-onboarder
  experiment/gerrit-onboarder/onboarder_test.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#25134 Prow integration test: mac friendly by using port 5001
  BUILD.bazel
  prow/BUILD.bazel
  prow/test/integration/README.md
  prow/test/integration/prow/cluster/crier_deployment.yaml
  prow/test/integration/prow/cluster/deck_deployment.yaml
  prow/test/integration/prow/cluster/fakeghserver.yaml
  prow/test/integration/prow/cluster/hook_deployment.yaml
  prow/test/integration/prow/cluster/horologium_deployment.yaml
  prow/test/integration/prow/cluster/prow_controller_manager_deployment.yaml
  prow/test/integration/prow/cluster/sinker.yaml
  prow/test/integration/prow/cluster/tide_deployment.yaml
  prow/test/integration/prow/jobs/periodics.yaml
  prow/test/integration/setup-cluster.sh
  prow/test/integration/setup-local-registry.sh
  prow/test/integration/test/sinker_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing

#25135 kOps - Increase frequency of Ubuntu 22.04 IPv6 jobs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#25121 capdo: use kubekins instead of golangci image and let the capdo decide on the golangci version
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-presubmits-release-0-5.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-presubmits-release-1-0.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#24844 cla: Switch over to EasyCLA
  config/prow/config.yaml
  prow/plugins/cla/cla.go
  prow/plugins/cla/cla_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, sig/contributor-experience, area/config, area/github-management, area/prow/plugins

#25136 Fix a couple more instances of old CLA context
  config/prow/config.yaml
  prow/plugins/cla/cla.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/config, area/prow/plugins

#25140 sig-release: fix location for ci-fast-forward
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#25124 Update CAPI version for periodic upgrade job
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#25023 kubernetes-sigs/nfd: verify job for old release branches
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#25141 capg: update jobs to have go 1.17
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/gcp, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#25144 update sig-cl / kubeadm OWNERS
  config/jobs/kubernetes/kubeadm/OWNERS
  config/jobs/kubernetes/sig-cluster-lifecycle/OWNERS
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, kind/cleanup, area/config

#25126 cluster-api: fix branches config of postsubmit image push
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#24991 Add test coverage pipeline for Cloud Provider Vsphere
  config/jobs/kubernetes/cloud-provider-vsphere/cloud-provider-vsphere-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/provider/vmware, sig/cloud-provider, area/config, ok-to-test

#25123 Use 1.23 kubekins variant for CAPV
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config, ok-to-test

#25084 Add support for Cached InRepoConfig for Gerrit with fallback
  prow/cmd/gerrit/main.go
  prow/cmd/gerrit/main_test.go
  prow/gerrit/adapter/BUILD.bazel
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/gerrit

#25143 cluster-api change alert failures threshold to 4
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-1-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-1.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#25148 create jobs that explicitly enable beta APIs to support new beta APIs…
  releng/test_config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/release, area/release-eng

#25149 Add e2e/upgrade/conformance presubmit and periodic tests
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config, ok-to-test

#25151 Wrap grandmatriarch with Go program
  prow/cmd/grandmatriarch/BUILD.bazel
  prow/cmd/grandmatriarch/main.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing

#25119 Building deck and sinker images with ko
  .ko.yaml
  gopherage/.ts-packages
  hack/make-rules/update/codegen.sh
  hack/make-rules/update/ts-rollup.sh
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
  prow/.prow-images
  prow/cmd/deck/.gitignore
  prow/cmd/deck/.ts-packages
  prow/cmd/deck/gather-static.sh
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
  prow/cmd/deck/static-map
  prow/prow-images.sh
  prow/test/integration/integration-test.sh
  prow/test/integration/prow/cluster/200_ingress.yaml
Labels: lgtm, area/prow, cncf-cla: yes, size/XL, approved, sig/testing, area/prow/deck, area/gopherage

#25105 hook: fixes event dispatch for external plugins
  prow/hook/BUILD.bazel
  prow/hook/server.go
  prow/hook/server_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/hook, ok-to-test

#25159 Separate prow images built with ko from integration test
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  prow/test/integration/integration-test.sh
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, area/prow/bazel-deprecation

#25160 Fix prow autobumping by excluding .ko.yaml
  config/prow/autobump-config/prow-component-autobump-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#25161 default branch is main
  config/jobs/kubernetes-sigs/krm-functions-registry/krm-functions-registry-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#25164 ~double kettle PV sizes
  kettle/pv-staging.yaml
  kettle/pv.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/kettle

#25127 releng: Add pull-release-sdk-integration-test job
  config/jobs/kubernetes-sigs/release-sdk/release-sdk-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#25156 Push prow images with make rules to staging registry
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  prow/Makefile
  prow/prow-images.sh
  prow/test/integration/integration-test.sh
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config, area/prow/bazel-deprecation

#25167 Add more detailed warning when InRepoConfig fails
  prow/gerrit/adapter/adapter.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/gerrit

#24937 Add reward-owners plugin
  prow/plugins/BUILD.bazel
  prow/plugins/approve/approve_test.go
  prow/plugins/blunderbuss/blunderbuss_test.go
  prow/plugins/lgtm/lgtm_test.go
  prow/plugins/override/override_test.go
  prow/plugins/reward-owners/BUILD.bazel
  prow/plugins/reward-owners/reward-owners.go
  prow/plugins/reward-owners/reward-owners_test.go
  prow/plugins/verify-owners/verify-owners_test.go
  prow/repoowners/repoowners.go
  prow/repoowners/repoowners_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/plugins

#24935 Support pull-cloud-provider-azure-e2e tests on capz
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-0.7.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.0.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.1.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.23.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, area/jobs, area/config, ok-to-test

#25169 enable dind
  config/jobs/kubernetes-sigs/krm-functions-registry/krm-functions-registry-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#25170 Preset anonymous-pull for azure-e2e-capz tests
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-0.7.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.0.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.1.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.23.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config, ok-to-test

#25163 result of releng/generate_tests.py --yaml-config ./releng/test_config.yaml
  config/jobs/kubernetes/generated/generated.yaml
  config/testgrids/generated-test-config.yaml
  releng/test_config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#25155 kops: test alternative registry for periodics-distros
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#25166 Always run pull-release-sdk-integration-test
  config/jobs/kubernetes-sigs/release-sdk/release-sdk-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#25176 Revert experimental-prometheus-snapshot-to-report-dir in ci-golang-tip-k8s-1-23
  config/jobs/kubernetes/sig-scalability/sig-scalability-golang.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#25154 Cloneref reads default GitHub fingerprint without reading files at ru…
  prow/clonerefs/run.go
  prow/clonerefs/run_test.go
  prow/cmd/clonerefs/BUILD.bazel
  prow/cmd/clonerefs/github_known_hosts
  prow/cmd/clonerefs/ssh_config
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/pod-utilities, area/prow/clonerefs, area/prow/bazel-deprecation

#25179 Standardize the lgtm/approve workflow for bom, release-sdk, and release-utils repositories
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#25174 Remove --non-masquerade-cidr from crio jobs
  config/jobs/kubernetes/sig-node/crio.yaml
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#25172 use image that has docker and go
  config/jobs/kubernetes-sigs/krm-functions-registry/krm-functions-registry-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#25178 Changed Golang image version from 1.13.10 to 1.17.1 for sig-storage-lib-external-provisioner.yaml
  config/jobs/kubernetes-sigs/sig-storage-lib-external-provisioner/sig-storage-lib-external-provisioner.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#25185 reduce frequency of CAPV conformance from 12 to 24h
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#25080 sig-node: set ssh private key for crio-cgroupv1 presubmit
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#24809 OWNERS: Update aliases with latest release managers
  OWNERS_ALIASES
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#25188 run wrapper.sh first to set up DinD
  config/jobs/kubernetes-sigs/krm-functions-registry/krm-functions-registry-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#25183 cluster-api: enable dind ipv6
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#25190 Revert "Cloneref reads default GitHub fingerprint without reading fil…
  prow/clonerefs/run.go
  prow/clonerefs/run_test.go
  prow/cmd/clonerefs/BUILD.bazel
  prow/cmd/clonerefs/github_known_hosts
  prow/cmd/clonerefs/ssh_config
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/pod-utilities, area/prow/clonerefs

#25184 update capz release for Pre-submit jobs to fix cert-manager
  config/jobs/kubernetes/sig-cloud-provider/azure/generate.sh
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.20.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.21.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.22.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.23.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-master.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, sig/cloud-provider, area/config

#25189 chore: reducing the parallelization for eks e2e ci temporarily
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-postsubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#25193 azure: use correct capz release branches for cloud-provider-azure tests
  config/jobs/kubernetes/sig-cloud-provider/azure/generate.sh
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.20.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.21.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.22.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.23.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-master.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, area/provider/azure, sig/testing, area/jobs, sig/cloud-provider, area/config

#25199 Remove github-token-path requirement for Deck when using InRepoConfig
  prow/cmd/deck/main.go
  prow/cmd/deck/pr_history.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/deck

#25201 azure: use capz 1.0 release branch for in-tree azure tests
  config/jobs/kubernetes/sig-cloud-provider/azure/generate.sh
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.20.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.21.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.22.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.23.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-master.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, area/jobs, sig/cloud-provider, area/config

#25202 azure-cloud-provider: skip test if only config or docs are updated
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-0.7.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.0.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.1.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.23.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config, ok-to-test

#25175 fix a typo in test_config.yaml
  releng/test_config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, ok-to-test, area/release-eng

#25203 OpenShift testgrid - Add OCP 4.10 and 4.11 single-node testgrid
  config/testgrids/openshift/single-node.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/config, ok-to-test

#25198 Cloneref logs full command + env + dir
  prow/pod-utils/clone/clone.go
  prow/pod-utils/clone/clone_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/pod-utilities

#25191 cluster-api: enable dind ipv6 for all CAPI jobs
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-0-4.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-1-0.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-1-1.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#25186 add unit tests around pr_status_base_urls
  prow/config/config_test.go
  prow/tide/status_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/tide, ok-to-test

#25207 Gerrit image based on git base image
  prow/cmd/gerrit/BUILD.bazel
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/gerrit

#25204 Cloneref mounts default GitHub fingerprint at runtime
  prow/clonerefs/BUILD.bazel
  prow/clonerefs/options.go
  prow/clonerefs/run.go
  prow/clonerefs/run_test.go
  prow/cmd/clonerefs/BUILD.bazel
  prow/cmd/clonerefs/github_known_hosts
  prow/cmd/clonerefs/ssh_config
  prow/pod-utils/decorate/podspec.go
  prow/pod-utils/decorate/testdata/TestProwJobToPod_1.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_2.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_3.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_4.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_7.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_8.yaml
  prow/pod-utils/decorate/testdata/zz_fixture_TestDecorate_basic_happy_case.yaml
  prow/pod-utils/decorate/testdata/zz_fixture_TestDecorate_censor_secrets_in_sidecar.yaml
  prow/pod-utils/decorate/testdata/zz_fixture_TestDecorate_ignore_interrupts_in_sidecar.yaml
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config, area/prow/pod-utilities, area/prow/clonerefs

#25214 Move httpCookiefile authentication to after mkdir
  prow/git/v2/client_factory.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing

#25218 Revert "Update Prow to v20220210-0a80d45fa2"
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-prow.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/build/grandmatriarch.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter/starter-azure.yaml
  config/prow/cluster/starter/starter-gcs.yaml
  config/prow/cluster/starter/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
  prow/test/integration/prow/cluster/deck_tenant_deployment.yaml
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config, area/label_sync, area/prow/bump

#24839 Include trigger github feature in announcements
  prow/ANNOUNCEMENTS.md
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, ok-to-test

#24300 There are no Feature:Performance tests any longer
  config/jobs/kubernetes/sig-testing/kubetest-canaries.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, priority/backlog, sig/scalability, area/jobs, kind/cleanup, area/config

#25182 capg: pass the git directory to be able to get some information to build the image
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#25224 kubetest: GKE: wait for operation to complete before trying to delete cluster.
  kubetest/gke.go
Labels: lgtm, cncf-cla: yes, area/kubetest, size/S, approved, sig/testing

#24847 Add additional, optional time throttling mechanism to ghproxy
  ghproxy/ghcache/BUILD.bazel
  ghproxy/ghcache/ghcache.go
  ghproxy/ghcache/ghcache_test.go
  ghproxy/ghmetrics/ghmetrics.go
  ghproxy/ghproxy.go
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/ghproxy, ok-to-test

#25227 Update CLA triage bot message to include /easycla
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#25228 Prow sub component exits when there is a failure
  prow/cmd/sub/main.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#25231 Prow sub don't fail the world when a topic failed auth
  prow/pubsub/subscriber/server.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/pubsub

#25222 hook: fixes flaky test
  prow/hook/server_test.go
Labels: lgtm, area/prow, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, area/prow/hook

#25211 Support highlighting multiple build log lines
  prow/cmd/deck/runlocal
  prow/spyglass/lenses/buildlog/buildlog.ts
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/deck, area/prow/spyglass

#25233 Pass git dir into CAPZ image push job
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, ok-to-test

#24919 add swap serial test for pull requests
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, priority/important-soon, area/jobs, area/config, tide/merge-method-squash

#25235 kOps - Add presubmits for Amazon Linux 2 and Debian 10
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#25236 Pass git dir into CAPDO post image job
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#25220 Specify K8s 1.23 for pull-cloud-provider-azure-e2e-capz
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config, ok-to-test

#24979 sig-node: migrate away from GCP project: cri-containerd-node-e2e
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#24980 sig-node: migrate away from GCP project: k8s-jkns-pr-node-e2e
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#25238 capg: add new capg job to test e2e workload k8s upgrade
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#25242 capg: add missing boskos env var
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#25208 Image pushing logic all in prow/Makefile
  Makefile
  hack/make-rules/go-run/arbitrary.sh
  hack/prowimagebuilder/main.go
  prow/Makefile
  prow/test/integration/integration-test.sh
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing

#25213 Add runlocal options for deck
  hack/run-in-node-container.sh
  prow/.gitignore
  prow/cmd/deck/runlocal
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/deck

#25192 Always run filestore k8s integration test
  config/jobs/kubernetes-sigs/gcp-filestore-csi-driver/gcp-filestore-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#25239 releng: update kubekins/krte to Go 1.17.7 / 1.16.14
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/images, area/release-eng

#24697 add externalsecret for capdo quay
  config/prow/cluster/kubernetes_external_secrets.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config, area/prow/bump

#25253 Change cookiefile config to be global
  prow/git/v2/client_factory.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#25245 Separate out prow image build check to a separate job
  Makefile
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#25258 Upgrade Go to 1.17.7
  .go-version
  WORKSPACE
  go.sum
  prow/apis/prowjobs/v1/zz_generated.deepcopy.go
  prow/config/zz_generated.deepcopy.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XL, approved, sig/testing

#25252 Update test package version
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#25240 feat: enable priviliged mode for CAPA verify jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#25256 Add mattcary & saikat-royc to filestore approvers
  config/jobs/kubernetes-sigs/gcp-filestore-csi-driver/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#25259 Require prow image build check job
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#25263 skip e2e test when doc change
  config/jobs/kubernetes-csi/csi-driver-nfs/csi-driver-nfs-config.yaml
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#25264 fix: ensure verify runs with runner.sh
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#25246 Update to latest ko
  hack/make-rules/verify/all.sh
  hack/make-rules/verify/file-perms.sh
  hack/make-rules/verify/misspell.sh
  hack/tools/go.mod
  hack/tools/go.sum
Labels: lgtm, area/prow, cncf-cla: yes, size/XXL, approved, sig/testing

#25266 [CAPA] fix: add dind label
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#25221 prow.k8s.io: add skip reason to Spyglass JUnit lens
  prow/spyglass/lenses/junit/lens.go
  prow/spyglass/lenses/junit/template.html
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/spyglass

#25270 kubernetes-sigs/cluster-capacity: bump the 1.20 jobs to 1.20.15
  config/jobs/kubernetes-sigs/cluster-capacity/cluster-capacity-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#25250 Support expanding up and down
  prow/cmd/deck/runlocal
  prow/spyglass/lenses/BUILD.bazel
  prow/spyglass/lenses/buildlog/BUILD.bazel
  prow/spyglass/lenses/buildlog/buildlog.css
  prow/spyglass/lenses/buildlog/buildlog.ts
  prow/spyglass/lenses/buildlog/lens.go
  prow/spyglass/lenses/buildlog/lens_test.go
  prow/spyglass/lenses/buildlog/template.html
  prow/spyglass/lenses/fake/BUILD.bazel
  prow/spyglass/lenses/fake/fake.go
  prow/spyglass/lenses/lenses_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XL, approved, sig/testing, area/prow/deck, area/prow/spyglass

#24755 kOps GCE: Pass --gce-service-account=default to hand-coded tests
  config/jobs/kubernetes/kops/kops-periodics-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#25276 Migrate ci-golang-tip-k8s-1-23 to k8s-infra-prow-build cluster
  config/jobs/kubernetes/sig-scalability/sig-scalability-golang.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#25243 Add default Github know host file in base git image
  images/git/Dockerfile
  images/git/github-known-hosts
  images/git/ssh-config
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/images, area/config

#25280 kops: add missing envs for Leader Migration test.
  config/jobs/kubernetes/kops/kops-periodics-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#25278 Use updated git image with default github fingerprint
  .ko.yaml
  containers.bzl
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing

#25279 Changes in .ko.yaml and prow image builder also trigger image buildin…
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#25273 prow image builder supports retry
  hack/prowimagebuilder/main.go
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing

#25254 Moving Docker-based SIG Node performance test job to Containerd
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#25223 Add option to change kubemark scripts path
  kubetest/e2e.go
  kubetest/gke.go
Labels: lgtm, cncf-cla: yes, area/kubetest, size/S, approved, sig/testing

#25288 Move ci-golang-tip-k8s-1-23 to default cluster
  config/jobs/kubernetes/sig-scalability/sig-scalability-golang.yaml
Labels: lgtm, cncf-cla: yes, size/XS, do-not-merge/hold, approved, sig/testing, sig/scalability, area/jobs, area/config

#25293 Migrate Golang build job to use community-owned GCS bucket
  config/jobs/kubernetes/sig-scalability/sig-scalability-golang.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#25290 Remove jobs for deprecated distro/kops combinations
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#25296 Migrate Golang performance job to use community-owned GCS bucket
  config/jobs/kubernetes/sig-scalability/sig-scalability-golang.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#25298 Update jobs to use containerd 1.6.0
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/network, area/provider/gcp, sig/testing, sig/storage, area/jobs, sig/cloud-provider, area/config

#25301 Clonerefs, initupload, sidecar images use default entrypoints
  prow/pod-utils/decorate/podspec.go
  prow/pod-utils/decorate/podspec_test.go
  prow/pod-utils/decorate/testdata/TestProwJobToPod_1.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_2.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_3.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_4.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_5.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_6.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_7.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_8.yaml
  prow/pod-utils/decorate/testdata/zz_fixture_TestDecorate_basic_happy_case.yaml
  prow/pod-utils/decorate/testdata/zz_fixture_TestDecorate_censor_secrets_in_sidecar.yaml
  prow/pod-utils/decorate/testdata/zz_fixture_TestDecorate_ignore_interrupts_in_sidecar.yaml
  prow/pod-utils/decorate/testdata/zz_fixture_TestSidecar_basic_case.yaml
  prow/pod-utils/decorate/testdata/zz_fixture_TestSidecar_with_secrets.yaml
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/pod-utilities
