Repository kubernetes/test-infra, pull requests merged in 2022-12, with the labels that each got.

#28150 CAPZ: run conformance PR jobs when test suite changes
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28152 Fix data race in pubsub annotations
  prow/pubsub/subscriber/subscriber.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/pubsub

#28153 releng: bump kpromo to v3.4.10
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng, area/artifacts, sig/k8s-infra

#28155 Use release-1.6 branch CAPZ instead of main
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config

#28158 Disable sanity tests for pd driver
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/config.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, area/jobs, area/config

#28149 Upgrade sig-storage-lib-external-provisioner.yaml to golang:1.19
  config/jobs/kubernetes-sigs/sig-storage-lib-external-provisioner/sig-storage-lib-external-provisioner.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#28141 Update hypershift testgrids to match renamed jobs
  config/testgrids/openshift/hypershift.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XS, approved, sig/testing, area/config, ok-to-test

#28165 Updates CAPV main jobs to use go-1.19 images
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-ci.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#28112 Order the args for in-place resize pull job in the same order as alpha-features pull job
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#28164 Bump PD CSI Driver win timeout to 360 min
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-windows.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, area/jobs, area/config

#28170 Updating windows soak tests to use K8s v1.26 clusters
  config/jobs/kubernetes-sigs/sig-windows/soak-tests.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#28172 kops: sync OWNERS file
  config/jobs/kubernetes/kops/OWNERS
  config/testgrids/kubernetes/kops/OWNERS
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28173 kops: Make cilium-ipv6 presubmit mandatory
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28183 Use `kubekins-e2e` image for `aws-encryption-provider`
  config/jobs/kubernetes-sigs/aws-encryption-provider/presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#28182 release testing for Kueue and Kubernetes
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#28157 [cloud-provider-azure] Add an IPv6 single stack job
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#28180 Use job queue for image promotion jobs
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/config, area/release-eng

#28184 node test: In place resize job
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#28163 Re-enable sanity tests in pd driver
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/config.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, area/jobs, area/config

#28191 Replacing CAPZ 1.21->1.22 upgrade job with 1.24 -> 1.25
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main-upgrades.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config, tide/merge-method-squash

#28135 Update windows 1.26 jobs
  config/jobs/kubernetes-sigs/sig-windows/release-1.26-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.26-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/windows-unit.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.26.yaml
  config/testgrids/kubernetes/sig-windows/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/release, sig/windows, area/jobs, area/config, tide/merge-method-squash, area/release-eng

#28187 Update aws-enc-provider maintainers
  config/jobs/kubernetes-sigs/aws-encryption-provider/OWNERS
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#28119 Updated generated test config to include `stable4` tests
  config/testgrids/generated-test-config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/config

#28197 kops: run upgrade-many-addons presubmit if addons changed
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28193 node: Disable In Place Resize CI jobs
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#28195 node: Resize job add containerd logs
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#28194 node: Update image for gpu plugin job
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#27920 sig-scalability: Enable contention profiling for control plane components
  config/jobs/kubernetes/sig-scalability/sig-scalability-adhoc.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-golang.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/scalability, area/jobs, kind/cleanup, area/config

#28202 Gerrit query includes LABELS
  prow/gerrit/client/client.go
  prow/tide/gerrit.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/gerrit, area/prow/tide

#28204 kOps: trigger cilium-eni and cilium-etcd e2e tests on cliium changes
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28206 kOps: update k8s/kops version for the many addons pull test
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28198 Adding branch_protection to the kernel-module-management project.
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#28209 Enable contention profiling for apiserver
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/scalability, area/jobs, area/config

#28186 Add Gardener test results for K8s v1.25
  config/testgrids/conformance/conformance-all.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, needs-ok-to-test, size/M, approved, sig/testing, area/config

#28212 Stops faking status context for Gerrit jobs in Tide
  prow/tide/gerrit.go
  prow/tide/gerrit_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/tide

#28192 Adds new images with gke-gcloud-auth plugin.
  images/git-gke-gcloud-auth/Dockerfile
  images/git-gke-gcloud-auth/Makefile
  images/git-gke-gcloud-auth/README.md
  images/git-gke-gcloud-auth/cloudbuild.yaml
  images/git-gke-gcloud-auth/github-known-hosts
  images/git-gke-gcloud-auth/ssh-config
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/M, approved, sig/testing, area/images

#28214 Adds postsubmit to push git-gke-gcloud-auth image.
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config, ok-to-test

#27940 [release-1.26] Lift 1.26 Code Freeze #27940
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, priority/important-soon, area/config

#28176 Change presubmit names on master to better reflect images
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.26.yaml
  config/testgrids/kubernetes/presubmits/config.yaml
  gubernator/config.yaml
Labels: lgtm, area/gubernator, area/testgrid, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, sig/node, sig/release, area/jobs, sig/cloud-provider, area/config, area/release-eng

#28217 (secrets-store-csi-driver): add presubmit job for kubernetes v1.26.0
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#27893 Removing 1.22 Windows jobs
  config/jobs/kubernetes-sigs/sig-windows/release-1.22-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.22-windows.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.22.yaml
  config/testgrids/kubernetes/sig-windows/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XL, approved, sig/testing, sig/release, sig/windows, area/jobs, area/config, area/release-eng

#28124 crio_cgroupv2_serial: Symlink runc before installing crio
  jobs/e2e_node/crio/crio_cgrpv2_serial.ign
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node

#28219 kops: Add k8s 1.26 into the matrix
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/testgrids/kubernetes/kops/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28221 capo: only run PR-Blocking e2e tests in periodics and postsubmits
  config/jobs/kubernetes-sigs/cluster-api-provider-openstack/cluster-api-provider-openstack-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-openstack/cluster-api-provider-openstack-postsubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#28222 Bump k8s version to 1.25
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics-clusterclass.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-postsubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits-clusterclass.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#28223 tejolote: streamline review `/approve` `/lgtm` behavior
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#28225 [CAPA] Bump k8s version to 1.25 in PR blocking prow job
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#28224 cri-tools: streamline review `/approve` `/lgtm` behavior
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#28227 remove ingress-scale test
  config/jobs/kubernetes/sig-network/ingress-gce-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/network, sig/testing, area/jobs, area/config

#28188 use systemd cgroup driver in containerd
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-ci.yaml
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-presubmits.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  jobs/e2e_node/containerd/image-config-systemd.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#28215 Trigger postsubmit for image upload.
  images/git-gke-gcloud-auth/Dockerfile
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, area/images

#27236 Swap test fixes
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  jobs/e2e_node/swap/crio_swap1g.ign
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#28228 Trigger git image push.
  images/git/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images, ok-to-test

#28230 Remove 1.22 jobs
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.22.yaml
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#28231 config/prow: bump milestone_applier config
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config

#28229 Update run_if_changed on in place resize job
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#28234 Add docker config file needed for Windows private registry
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#28235 kcp: add release-0.10
  config/testgrids/kcp/kcp.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/config

#28199 NFD: retain LGTM through squashes
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#28241 Change the release 1.2 upgrade jobs frequency
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-2-upgrades.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#28240 gcb-docker-gcloud: bump dependencies
  images/gcb-docker-gcloud/Dockerfile
  images/gcb-docker-gcloud/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images, tide/merge-method-squash

#28244 Skip tests if changes are in .pipelines
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.1.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.23.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.24.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.25.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#28220 fix cos-cgroupv1-containerd-node-e2e-serial
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#28246 remove LocalStorageCapacityIsolation feature gate
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/crio.yaml
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, kind/failing-test, sig/node, area/jobs, area/config, ok-to-test

#28249 Add release-0.14 presubmits for controller-runtime
  config/jobs/kubernetes-sigs/controller-runtime/controller-runtime-presubmits-release-0.14.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#27636 Delete unused jobs
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, priority/critical-urgent, sig/testing, kind/failing-test, sig/node, area/jobs, area/config, triage/accepted

#28250 releng: Update kpromo to v3.4.11
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng, area/artifacts, sig/k8s-infra

#28251 making kubernetes-integration test mandatory
  config/jobs/kubernetes-sigs/gcp-filestore-csi-driver/gcp-filestore-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#28252 chore: add release-1.26 presubmit test for cloud provider azure
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.26.yaml
  config/testgrids/kubernetes/sig-cloud-provider/azure/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, area/jobs, kind/cleanup, sig/cloud-provider, area/config

#28256 capz: allow 4 hours for AKS tests
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28243 Revert changes to CAPI v1.2 upgrade tests
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-2-upgrades.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#28160 Windows presubmit should use PR ref and logs
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-windows.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#28236 integration test: add waits for RBACs
  config/prow/cluster/sinker_service.yaml
  prow/test/integration/config/prow/cluster/sinker.yaml
  prow/test/integration/config/prow/cluster/sinker_rbac.yaml
  prow/test/integration/config/prow/cluster/sinker_service.yaml
  prow/test/integration/lib.sh
  prow/test/integration/setup-prow-components.sh
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/config, area/prow/bump

#28253 use only cgroupv2 images for gke ubuntu
  jobs/e2e_node/containerd/image-config-serial-resource-managers.yaml
  jobs/e2e_node/containerd/image-config-serial.yaml
  jobs/e2e_node/containerd/image-config-systemd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, ok-to-test

#28259 Out tree gcp provider
  config/jobs/kubernetes/sig-network/ingress-gce-e2e.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#28261 Add CAPZ storage account keys to preset
  config/prow/cluster/build/build_kubernetes-external-secrets_customresource.yaml
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/config, area/prow/bump

#28255 Update CSI tests to run on k8s 1.26
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-manual-job-config.yaml
  config/jobs/kubernetes-csi/csi-release-tools/csi-release-tools-config.yaml
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-manual-job-config.yaml
  config/jobs/kubernetes-csi/external-resizer/external-resizer-config.yaml
  config/jobs/kubernetes-csi/external-snapshotter/external-snapshotter-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/livenessprobe/livenessprobe-config.yaml
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, area/jobs, area/config

#28267 Allow go-canary jobs to run on release branches
  config/jobs/kubernetes/sig-testing/dependencies.yaml
  config/jobs/kubernetes/sig-testing/integration.yaml
  config/jobs/kubernetes/sig-testing/make-test.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#28269 sub: move test-only code to test file
  prow/pubsub/subscriber/subscriber.go
  prow/pubsub/subscriber/subscriber_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/pubsub

#22663 Retain LGTM through squashes for kubernetes/kubernetes repo
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/contributor-experience, area/config, tide/merge-method-squash, ok-to-test

#28268 Add presubmit job for branch release-1.24
  config/jobs/kubernetes-sigs/scheduler-plugins/scheduler-plugins-presubmits-release-1.24.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#28265 Add postsubmit job to build cloud-provider-gcp images
  config/jobs/image-pushing/k8s-staging-cloud-provider-gcp.yaml
  config/testgrids/kubernetes/sig-cloud-provider/gcp/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, sig/cloud-provider, area/config

#28273 Added (at)bobbypage to the list of reviewers and finished clean up
  config/jobs/kubernetes/sig-node/OWNERS
  config/testgrids/kubernetes/sig-node/OWNERS
  jobs/e2e_node/OWNERS
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, kind/cleanup, area/config

#28278 [k8s.io/cloud-provider-gcp] Add cloud-provider-gcp-verify-up-to-date
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#28279 [cloud-provider-gcp] Make cloud-provider-gcp-verify-up-to-date mandatory
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#28274 Revert "Add CAPZ storage account keys to preset"
  config/prow/cluster/build/build_kubernetes-external-secrets_customresource.yaml
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, priority/critical-urgent, sig/testing, area/config, area/prow/bump

#28275 set the nodeipam mode on ingress canary job
  config/jobs/kubernetes/sig-network/ingress-gce-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#28280 upload .git to gcb for cloud-provider-gcp
  config/jobs/image-pushing/k8s-staging-cloud-provider-gcp.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#28286 Add pull-kops-e2e-aws-node-local-dns
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28283 Bump go version to 1.19
  config/jobs/kubernetes-sigs/scheduler-plugins/scheduler-plugins-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#28281 `generic-autobumper`: unit test and cleanup for PRTitleBody
  experiment/bumpmonitoring/main.go
  prow/cmd/generic-autobumper/bumper/bumper.go
  prow/cmd/generic-autobumper/main.go
  prow/cmd/generic-autobumper/main_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/hook

#28295 set minimum testing cluster as k8s 1.21
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config

#28296 kOps: Use --set instead of deprecated --override flag
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28297 kubernetes-sigs/nfd: add presubmit jobs for v0.12 release branch
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-release-0-12.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#28298 kOps: Add GCE pre-submit for clusters without DNS
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28293 Update 1.23 ci to go1.19.4
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, kind/feature, area/images, area/release-eng

#28294 Trigger git-gke-gcloud-auth image build again.
  images/git-gke-gcloud-auth/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images, ok-to-test

#28304 mark e2e tests as mandatory
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#28306 kOps: Fix GCE pre-submit for clusters without DNS
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27512 Disable stalebot in ingress-nginx
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, lifecycle/stale

#28311 freeze prow deployments
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#28307 Add optional canary job to all CSI sidecar repos
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/external-resizer/external-resizer-config.yaml
  config/jobs/kubernetes-csi/external-snapshotter/external-snapshotter-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/livenessprobe/livenessprobe-config.yaml
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#28312 kubekins-e2e: Bump Go version to 1.20rc1 for canary jobs
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#28313 Specify CSI hostpath version to master for canary jobs
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/external-resizer/external-resizer-config.yaml
  config/jobs/kubernetes-csi/external-snapshotter/external-snapshotter-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/livenessprobe/livenessprobe-config.yaml
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#28317 Dynamic bazel
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-periodics.yaml
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#28318 [cloud-provider-gcp] Add REPO_ROOT parameter
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#28319 kops: update e23 tests for 1.26.0-beta.1
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/testgrids/kubernetes/kops/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28320 Update kops milestones for new release branch
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#28300 `operator-sdk` installation moved to KMM's Makefile.
  config/jobs/kubernetes-sigs/kernel-module-management/kernel-module-management-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#28322 kops: Fix addons tests to be HA
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28325 add blobfuse v2 external test
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#28326 update jobs for CAPDO main branch
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#28327 Update jobs capg
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-periodics-release-0-4.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-periodics-release-1-0.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits-release-0-4.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits-release-1-0.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/gcp, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28328 apiserver-network-proxy: support release-0.0 branch.
  config/jobs/image-pushing/k8s-staging-apiserver-network-proxy.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#28308 CAPI: Retain LGTM through squash
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#28329 update golang in the capdo-janitor job
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-periodics-janitor.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#28330 use correct releng-ci image
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-periodics-janitor.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#28332 move ingress-nginx jobs to gh actions
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/network, sig/testing, area/jobs, area/config
