Repository kubernetes/test-infra, pull requests merged in 2022-07, with the labels that each got.

#26727 Add jobs for distroless-iptables image
  config/jobs/image-pushing/releng/k8s-staging-build-image.yaml
  config/jobs/kubernetes/release/release-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#26660 Update Ubuntu image to `ubuntu-gke-2204-1-24-v20220623` and latest family
  config/jobs/kubernetes/sig-node/containerd.yaml
  jobs/e2e_node/containerd/containerd-main/image-config.yaml
  jobs/e2e_node/containerd/containerd-main/perf-image-config.yaml
  jobs/e2e_node/containerd/containerd-release-1.5/image-config.yaml
  jobs/e2e_node/containerd/containerd-release-1.6/image-config.yaml
  jobs/e2e_node/containerd/image-cadvisor.yaml
  jobs/e2e_node/containerd/image-config-serial-hugepages.yaml
  jobs/e2e_node/containerd/image-config-serial-resource-managers.yaml
  jobs/e2e_node/containerd/image-config-serial.yaml
  jobs/e2e_node/containerd/image-config.yaml
  jobs/e2e_node/dockershim/image-config.yaml
  jobs/e2e_node/image-config-serial-cpu-manager.yaml
  jobs/e2e_node/image-config-serial-hugepages.yaml
  jobs/e2e_node/image-config-serial.yaml
  jobs/e2e_node/swap/image-config-swap.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#26732 Kops - Skip in-tree volume tests for karpenter jobs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26733 testfreeze: switch to golang native error wrapping
  prow/plugins/testfreeze/testfreeze.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/plugins

#26738 Add unit test presubmit for windows
  config/jobs/kubernetes-sigs/sig-windows/windows-unit-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/windows, area/jobs, area/config

#26740 Update windows-unit-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/windows-unit-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#26742 chore: add ginkgo v2 label filter for cloud provider azure IP LB test
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, kind/cleanup, sig/cloud-provider, area/config

#26734 Avoid using github.com/pkg/errors
  go.mod
  maintenance/migratestatus/migratestatus.go
  maintenance/migratestatus/migrator/migrator_test.go
  prow/plugins/retitle/retitle_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/plugins

#26751 Fix master basic lb test
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#26664 Add jprzychodzen as OWNER to config/jobs/kubernetes/cloud-provider-gcp
  config/jobs/kubernetes/cloud-provider-gcp/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#26755 CAPZ: fix kubernetes version in apiversion test
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26750 Update CAPI version for periodic upgrade jobs
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#26759 Update azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config

#26760 Kubetest2 is incompatible with presets
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-periodics.yaml
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-presets.yaml
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#26741 Add new optional presubmit to validate cloud-provider-gcp for bumping
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#26761 Fix typo in error message
  experiment/ml/analyze/client.go
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing

#26747 Added periodic test run to measure broken tests.
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#26757 CAPZ: update Kubernetes upgrade tests with newer versions
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main-upgrades.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26766 bugzilla client: check for statusCode 401 when validating if access is denied
  prow/bugzilla/client.go
Labels: lgtm, area/prow, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing

#26771 Windows: fix commit ids for temp comparison jobs
  config/jobs/kubernetes-sigs/sig-windows/release-1.22-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.23-windows.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#26729 Add testgrid-json-exporter container image build job
  config/jobs/image-pushing/k8s-staging-tg-exporter.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved

#26772 [cloud-provider-gcp] Support new test package
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-periodics.yaml
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#26763 CAPZ: add v1.5 release milestone
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#26769 add kubekins translation for new bazel version
  images/kubekins-e2e/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#26780 Temporarily use release-1.24 for k/k test in master branch
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config

#26778 kops - Skip volume limits test in karpenter jobs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26775 Azure: Update CAPZ testing branch to release-1.4
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-v2-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.0.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.1.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.23.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.24.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-release-v1beta1.yaml
  config/jobs/kubernetes-sigs/sig-windows/soak-tests.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/generate.sh
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.21.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.22.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.23.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.24.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-master.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, sig/windows, area/jobs, sig/cloud-provider, area/config

#26782 Update cloud-provider-azure jobs
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.0.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.1.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.23.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.24.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#26783 fix: use ginkgo v2 cli args to replace go test args
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, kind/failing-test, area/jobs, area/config

#26785 chore: add CLUSTER_PROVISIONING_TOOL environment variable for capz-ba…
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#26786 fix: use environment variable to controle ginkgo parallel
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, kind/failing-test, area/jobs, area/config

#26787 Add timeout for deleting logexporter namespace
  logexporter/cluster/log-dump.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#26774 Add testgrid for hypershift proxy conformance
  config/testgrids/openshift/hypershift.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#26777 Force Redirect Registry URL because of redirect failures
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-security-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#26789 Crier doesn't log error when pubsub topic doesn't exist
  prow/crier/controller.go
  prow/crier/reporters/criercommonlib/errors.go
  prow/crier/reporters/pubsub/reporter.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/crier

#26792 Adding a test job to validate windows PR jobs use binaries built from PR
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/windows, area/jobs, area/config

#26793 Gerrit processes instances in parallel
  prow/gerrit/adapter/adapter.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/gerrit

#26794 Collect the time spent for gerrit processing each host
  prow/gerrit/adapter/adapter.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/gerrit

#26556 add manual presubmit job to run serial tests
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#26773 Link to instructions for updating docs
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#26784 Back to use master for k/k test in master branch
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#25798 SELinux: turn off label separation instead of relabelling
  config/mkpj.sh
  hack/make-rules/verify/yamllint.sh
  hack/run-in-node-container.sh
  hack/run-in-python-container.sh
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config, ok-to-test

#26656 Add ProwJob required annotations validation to `prow/cmd/checkconfig`
  prow/cmd/checkconfig/main.go
  prow/cmd/checkconfig/main_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, kind/feature, ok-to-test

#26798 Update azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#26800 Replace prometheus labels named instance with org
  prow/gerrit/adapter/adapter.go
  prow/gerrit/client/client.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/gerrit

#26691 Add rerun with latest configuration option.
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
  prow/cmd/deck/rerun.go
  prow/cmd/deck/rerun_test.go
  prow/config/jobs.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XXL, approved, sig/testing, area/prow/deck, ok-to-test

#26806 Some nit fixes in prometheus help message
  ghproxy/ghcache/ghcache.go
  ghproxy/ghproxy.go
  greenhouse/prometheus.go
  prow/flagutil/kubernetes_cluster_clients.go
  prow/githubeventserver/metrics.go
  prow/kube/metrics.go
  prow/metrics/http.go
  prow/metrics/http_test.go
  prow/version/metrics.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/greenhouse, area/ghproxy, ok-to-test

#26804 Parallel processing gerrit instances
  prow/cmd/gerrit/main.go
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
  prow/gerrit/client/client.go
  prow/test/integration/config/prow/config.yaml
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/gerrit

#26817 Removing pull-kubernetes-e2e-capz-windows-containerd-test job
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/windows, area/jobs, area/config

#26810 Switch to `github.com/blang/semver/v4`
  experiment/cluster-upgrader/main.go
  go.mod
  go.sum
  prow/plugins/testfreeze/checker/checker.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/plugins

#26825 More realistic metric buckets for GH Rate limiting algorithm
  ghproxy/ghmetrics/ghmetrics.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/ghproxy

#26731 Check report field on the right ProwJob
  prow/crier/reporters/github/reporter.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, ok-to-test, area/prow/crier

#26816 Parallelize change processing in gerrit adapter
  prow/cmd/gerrit/main.go
  prow/cmd/gerrit/main_test.go
  prow/gerrit/adapter/adapter.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/gerrit

#26829 adding manual containerd/containerd e2e node for wip sandboxed feature
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#26830 Add gmsa presubmit for validation
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/windows, area/jobs, area/config

#26658 CA Cert and Server Implementation
  prow/.prow-images.yaml
  prow/cmd/webhook-server/helpers.go
  prow/cmd/webhook-server/main.go
  prow/cmd/webhook-server/main_test.go
  prow/cmd/webhook-server/validation.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, ok-to-test

#26837 remove e2e metal assisted-installer 4.8 and 4.9 jobs from testgrid configuration
  config/testgrids/openshift/assisted-installer.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.10-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.11-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.12-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.8-informing.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.9-informing.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/config

#26752 Add Gardener test results for K8s v1.24
  config/testgrids/conformance/conformance-all.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/config, ok-to-test

#26779 use clusterctl v1.2.0 for upgrade tests
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#26840 `rerun`: use extra_refs to allow rerunning periodics
  prow/cmd/deck/main.go
  prow/cmd/deck/rerun.go
  prow/cmd/deck/rerun_test.go
  prow/config/config.go
  prow/config/config_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/deck

#26843 fix skip value so defaults aren't applied
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#26845 Trigger Prow image build job when ts-rollup package is changed
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#26788 Add rerun with latest configuration UI.
  prow/cmd/deck/static/command-help/command-help.ts
  prow/cmd/deck/static/common/common.ts
  prow/cmd/deck/static/common/rerun.ts
  prow/cmd/deck/static/prow/prow.ts
  prow/cmd/deck/static/spyglass/spyglass.ts
  prow/cmd/deck/static/style.css
  prow/cmd/deck/template/base.html
Labels: lgtm, area/prow, cncf-cla: yes, needs-ok-to-test, size/L, approved, sig/testing, area/prow/deck

#26832 Spyglass junit: Display stderr for failures if present
  prow/spyglass/lenses/junit/lens.ts
  prow/spyglass/lenses/junit/lens_test.go
  prow/spyglass/lenses/junit/template.html
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/spyglass

#26814 Enable abort job functionality.
  prow/cmd/deck/abort.go
  prow/cmd/deck/abort_test.go
  prow/cmd/deck/main.go
  prow/cmd/deck/rerun.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/deck, ok-to-test

#26844 Typescript rollup always logs stderr
  hack/prowimagebuilder/main.go
  hack/ts-rollup/main.go
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing

#26849 Kops - Revert #26669 use IMDSv2 for Flatcar tests
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26850 kOps - Update DO pre-submits
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26851 Update cloud-provider-azure windows job to support conformance tests
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#26841 Adjust max-requests-inflight in scalability presubmits
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#26796 Update approval bot comment
  prow/plugins/approve/approve_test.go
  prow/plugins/approve/approvers/approvers_test.go
  prow/plugins/approve/approvers/owners.go
Labels: lgtm, area/prow, cncf-cla: yes, kind/bug, size/M, approved, sig/testing, ok-to-test, area/prow/plugins

#26855 Continue if name doesn't match in the rerun.
  prow/cmd/deck/rerun.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/deck

#26860 [go1.19] kubekins/krte: Build go-canary variant using go1.19rc2
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#26861 Update go-canary image to golang 1.19rc2
  config/jobs/kubernetes/sig-testing/verify.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#26866 Add comment explaining timeout in kubectl delete
  logexporter/cluster/log-dump.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#26858 Do not retry inRepoConfig if hit merge conflict
  prow/gerrit/adapter/adapter.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/gerrit

#26872 setup containerd config.env for supporting sbsandbox mode testing
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#26873 Windows WS2022 Serial jobs need to run on single ginkgo node
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#26876 Pubsub logs on info level instead of debug with user errors
  prow/pubsub/subscriber/subscriber.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/pubsub

#26875 Windows jobs cleanup
  config/jobs/kubernetes-sigs/sig-windows/release-1.22-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.23-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/windows, area/jobs, area/config

#26862 Update cloud-provider-azure serial job to lower parallel testing nodes
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#26879 Revert "setup containerd config.env for supporting sbsandbox mode testing"
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#26869 Dial down gerrit query log levels from info to debug
  prow/gerrit/client/client.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/gerrit

#26885 Improve logging
  prow/gerrit/adapter/adapter.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/gerrit

#26889 Switch rerun options.
  prow/cmd/deck/static/common/rerun.ts
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/deck

#26883 Add presubmit job for branch `release-1.23`
  config/jobs/kubernetes-sigs/scheduler-plugins/scheduler-plugins-presubmits-release-1.23.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#26894 Add another timeout for another kubectl delete command
  logexporter/cluster/log-dump.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#26895 Add marseel to sig-scalability-leads
  OWNERS_ALIASES
Labels: lgtm, cncf-cla: yes, ¯\_(ツ)_/¯, size/XS, approved, sig/testing

#26864 CAPZ: use 1.24 image with go 1.18 for main and v1beta1 tests
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-release-v1beta1.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config, ok-to-test

#26899 [DigitalOcean] Add kops e2e test for in FQDN mode
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26901 Kops - Bump flatcar AMIs
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26848 remove 1.21 test jobs for secrets-store-csi-driver
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#26902 Fix deck image build flakiness unique intermittent filename
  hack/ts-rollup/main.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#26903 Add presubmit job for branch release-1.23
  config/jobs/kubernetes-sigs/scheduler-plugins/scheduler-plugins-presubmits-release-1.23.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#26908 Update cloud-provider-azure serial job to 1 parallel testing node
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#26897 Remove v1.24 => latest upgrade test jobs for CAPI v1.1
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-1-upgrades.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#26906 Fix typos in READMEs
  README.md
  triage/README.md
Labels: lgtm, area/triage, cncf-cla: yes, size/XS, approved, sig/testing, ok-to-test

#26847 test: Bump GCE jobs to Ubuntu 22.04 Jammy
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#26910 Do not fetch SHA if we do not need to on inRepoConfig
  prow/config/inrepoconfig.go
  prow/git/v2/adapter.go
  prow/git/v2/interactor.go
  prow/git/v2/interactor_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing

#26912 chore: move chewong to emeritus_approvers
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/OWNERS
  config/jobs/kubernetes-sigs/azurefile-csi-driver/OWNERS
  config/jobs/kubernetes-sigs/blob-csi-driver/OWNERS
  config/jobs/kubernetes-sigs/cloud-provider-azure/OWNERS
  config/jobs/kubernetes-sigs/sig-windows/OWNERS
  config/jobs/kubernetes/sig-cloud-provider/azure/OWNERS
  config/jobs/kubernetes/sig-windows/OWNERS
  config/testgrids/kubernetes/sig-cloud-provider/azure/OWNERS
  config/testgrids/kubernetes/sig-windows/OWNERS
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/windows, area/jobs, sig/cloud-provider, area/config

#26914 Add retry in the serial test
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#26874 [go1.19] kubekins/krte: Build main/master variants using go1.19rc2
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#26920 Update to 1.19rc2 versions built today
  config/jobs/kubernetes/sig-testing/verify.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#26922 fix: add build-dir for ingress-nginx job to allow shared variable
  config/jobs/image-pushing/k8s-staging-ingress-nginx.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, ok-to-test

#26418 Remove cncf/apisnoop prow interactions apart from #sig-arch + #sig-release supporting jobs
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config

#26919 Fix rerun with original bug.
  prow/cmd/deck/static/common/rerun.ts
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/deck

#26923 fix: add build-dir for all ingress-nginx jobs
  config/jobs/image-pushing/k8s-staging-ingress-nginx.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, ok-to-test

#26924 pin kubekins-e2e image to v1.24 for secrets-store-csi-driver
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-release-1.1-config.yaml
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-release-1.2-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#26930 [testgrid] remove deprecated references from single node dashboard
  config/testgrids/openshift/redhat-openshift-ocp-release-4.12-blocking.yaml
  config/testgrids/openshift/redhat-openshift-ocp-release-4.12-informing.yaml
  config/testgrids/openshift/single-node.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/config

#26931 verify-govet-levee: revert test image bump to use go1.18.3
  config/jobs/kubernetes/sig-instrumentation/verify-govet-levee.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/instrumentation, area/jobs, area/config

#26932 Don't autobump govet-levee test image
  config/prow/autobump-config/prow-job-autobump-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#26929 chore: do not use master image for capa jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics-clusterclass.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-postsubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#26933 Provide more resources for Cloud-provider-azure check jobs
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.0.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.1.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.23.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.24.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config

#26928 Add postsbumit for generating KEPs manifest
  config/jobs/kubernetes/sig-k8s-infra/trusted/enhancements-postsubmit.yaml
  config/testgrids/kubernetes/sig-arch/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing, sig/architecture, area/jobs, area/config, area/conformance, area/enhancements

#26826 Add presubmit job for CAPA ClusterClass test
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits-clusterclass.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#26857 Add abort UI to Prow UI and Spyglass.
  prow/cmd/deck/abort.go
  prow/cmd/deck/main.go
  prow/cmd/deck/rerun.go
  prow/cmd/deck/static/common/abort.ts
  prow/cmd/deck/static/common/common.ts
  prow/cmd/deck/static/common/rerun.ts
  prow/cmd/deck/static/prow/prow.ts
  prow/cmd/deck/static/spyglass/spyglass.ts
  prow/cmd/deck/static/style.css
  prow/cmd/deck/template/index.html
  prow/cmd/deck/template/spyglass.html
  prow/spyglass/spyglass.go
  prow/spyglass/spyglass_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/deck, area/prow/spyglass

#26941 Updating the golang version for the cosi pipelines
  config/jobs/kubernetes-sigs/container-object-storage-interface/container-object-storage-interface-api.yaml
  config/jobs/kubernetes-sigs/container-object-storage-interface/container-object-storage-interface-controller.yaml
  config/jobs/kubernetes-sigs/container-object-storage-interface/container-object-storage-interface-csi-adapter.yaml
  config/jobs/kubernetes-sigs/container-object-storage-interface/container-object-storage-interface-provisioner-sidecar.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config, ok-to-test

#26886 Enable Webhook server to use FileSystem in case project id is not specified
  prow/cmd/webhook-server/clients.go
  prow/cmd/webhook-server/helpers.go
  prow/cmd/webhook-server/main.go
  prow/cmd/webhook-server/main_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XL, approved, sig/testing, ok-to-test

#26939 Update boskos dependency to latest
  go.mod
  go.sum
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing

#26926 Inrepoconfig cache client supports concurrently processing multiple r…
  prow/cmd/gerrit/main.go
  prow/cmd/gerrit/main_test.go
  prow/cmd/sub/main.go
  prow/config/cache.go
  prow/config/cache_test.go
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
  prow/pubsub/subscriber/subscriber.go
  prow/pubsub/subscriber/subscriber_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/gerrit, area/prow/pubsub

#26946 Temporarily set win conformance tests to run every 2h
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#26949 Add resources limits to check jobs
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.0.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.1.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.23.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.24.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config

#26950 Lower windows conformance parallel nodes
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#26951 Add periodics run of the resource tracking scenario
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26781 Use 1.24.0 in upgrade tests
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26948 Add key rotation test on a HA control plane
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26955 kOps - Fix key rotation test on a HA control plane
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26960 Add a ci-containerd-e2e-ubuntu-gce for containerd 1.6 (with k8s 1.24)
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#26962 Fix paths for ci-containerd-e2e-ubuntu-gce-1-6 CI job
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#26964 Fix typo in ci-containerd-e2e-ubuntu-gce-1-6 CI job
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#26965 Temporarily run windows conformance tests every 3h and set parallel nodes to 3
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#26952 releng: update kubekins/krte to go1.18.4 and go1.17.12
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/images, area/release-eng

#26954 Add CAPA jobs for release-1.5
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics-release-1.5.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits-release-1.5.yaml
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26967 [ci-containerd-e2e-ubuntu-gce-1-6] build 1.24.x locally and switch main image to ubuntu
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#26968 node-e2e-serial-containerd: fix ginkgo timeout
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#26865 CAPG: use 1.24 image with go 1.18 for main tests
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/S, approved, area/provider/gcp, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26963 wrapper.sh: wait for child after signaling in exit handler
  images/krte/wrapper.sh
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/images

#26956 Remove go.mod replace for client-go by extracting required parts of boskos
  config/prow/cluster/build/boskos-resources/boskos_test.go
  go.mod
  go.sum
  kubetest/boskos/README.md
  kubetest/boskos/client/README.md
  kubetest/boskos/client/client.go
  kubetest/boskos/common/common.go
  kubetest/boskos/common/config.go
  kubetest/boskos/common/mason_config.go
  kubetest/boskos/storage/storage.go
  kubetest/main.go
Labels: lgtm, cncf-cla: yes, area/kubetest, area/boskos, size/XXL, approved, sig/testing, area/config, area/prow/bump

#26975 kOps - Add grid jobs for Ubuntu 22.04
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26976 enable dind for ci-containerd-e2e-ubuntu-gce-1-6
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#26966 Let windows conformance tests run at 17 UTC every day
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#26979 Kops - Remove k8s 1.19 upgrade job with many addons
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26970 Add needs-triage message to Cluster API
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config
