Repository kubernetes/test-infra, pull requests merged in 2022-10, with the labels that each got.

#27667 Add an optional presubmit to test disabling in-tree cloud providers fully
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#27668 Missed setting the stage gcs directory for the pull-e2e-gce-cloud-provider-disabled job
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#27670 sig node: dump kind cluster logs in DRA job
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#27672 kOps: Use Ubuntu 22.04 as default distro for periodic tests
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27673 Adding the first e2e pre-submit job to KMM.
  config/jobs/kubernetes-sigs/kernel-module-management/kernel-module-management-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#27677 bump pj-on-kind.sh to latest version
  prow/pj-on-kind.sh
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#27679 Cloud provider disable testing improvements.
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#27683 Kops - Bump Flatcar AMIs
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27682 Presubmit job for building the ccm image
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ccm-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#27687 Label plugin posts more helpful comment when a label is not registere…
  prow/plugins/label/label.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/plugins

#27689 update OWNERS
  OWNERS_ALIASES
  SECURITY_CONTACTS
  config/jobs/bazelbuild/rules_k8s/OWNERS
  config/jobs/kubernetes/org/OWNERS
  gencred/OWNERS
  images/pull-test-infra-gubernator/OWNERS
  jenkins/OWNERS
  kettle/buckets.yaml
  kettle/stream_test.py
  label_sync/OWNERS
  pkg/benchmarkjunit/OWNERS
  prow/OWNERS
  prow/cmd/crier/OWNERS
  prow/cmd/gerrit/OWNERS
  prow/cmd/horologium/OWNERS
  prow/crier/OWNERS
  prow/gerrit/OWNERS
  robots/OWNERS
Labels: lgtm, area/gubernator, area/jenkins, area/prow, cncf-cla: yes, size/M, approved, sig/testing, sig/contributor-experience, area/jobs, area/kettle, area/images, area/config, area/label_sync, area/prow/gerrit, area/prow/horologium, area/prow/crier, area/robots

#27688 drop references to generated_files / REMAKE for k/k master
  config/jobs/kubernetes/sig-instrumentation/verify-govet-levee.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.25.yaml
  config/jobs/kubernetes/sig-testing/files-remake.yaml
  config/jobs/kubernetes/sig-testing/update.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
  scenarios/kubernetes_verify.py
Labels: lgtm, cncf-cla: yes, area/scenarios, size/L, approved, sig/testing, sig/instrumentation, sig/release, area/jobs, area/config, area/release-eng

#27692 kOps: Remove stale branches and k8s versions
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/testgrids/kubernetes/kops/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27696 kcp: add release-0.9
  config/testgrids/kcp/kcp.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/config

#27633 Add Squash Merge Commit Options to Peribolos
  prow/cmd/peribolos/main.go
  prow/cmd/peribolos/main_test.go
  prow/config/org/org.go
  prow/github/types.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/peribolos, tide/merge-method-squash

#27665 azure: don’t run extra capz coverage presubmit job
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27649 Allow setting default memory request on prowjobs
  config/prow/cluster/prowjob-crd/prowjob_customresourcedefinition.yaml
  prow/apis/prowjobs/v1/types.go
  prow/apis/prowjobs/v1/zz_generated.deepcopy.go
  prow/config/prow-config-documented.yaml
  prow/pod-utils/decorate/podspec.go
  prow/pod-utils/decorate/podspec_test.go
  prow/pod-utils/decorate/testdata/zz_fixture_TestDecorate_default_memory_request.yaml
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/config, area/prow/pod-utilities, area/prow/bump

#27701 Making some jobs mandatory.
  config/jobs/kubernetes-sigs/kernel-module-management/kernel-module-management-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#27691 Remove failing dualstack e2e tests
  config/jobs/kubernetes/sig-network/dualstack-e2e.yaml
  config/testgrids/kubernetes/sig-cloud-provider/azure/config.yaml
  config/testgrids/kubernetes/sig-network/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/network, area/provider/azure, sig/testing, area/jobs, sig/cloud-provider, area/config

#27703 Remove deprecated infra-commit column header from defaults.
  config/testgrids/default.yaml
  testgrid/config.md
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#27599 add lead-opted-in label and updated tracked/* label docs
  label_sync/labels.md
  label_sync/labels.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/label_sync

#27704 GCS reporter works with S3
  prow/crier/reporters/gcs/kubernetes/reporter.go
  prow/crier/reporters/gcs/reporter.go
  prow/crier/reporters/gcs/reporter_test.go
  prow/io/providers/providers.go
  prow/io/providers/providers_test.go
  prow/plank/reconciler.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/plank, area/prow/crier

#27378 Readd gsutil to gcb-docker-gcloud image
  images/gcb-docker-gcloud/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#27350 Updated Doc (contributing-test-results)
  docs/contributing-test-results.md
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, ok-to-test

#27711 Disable automatic self-approvals for aws-ebs-csi-driver
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#27712 Update kubekins/krte to Go 1.19.2 and Go 1.18.7
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/images, area/release-eng

#27641 Log debug when there are Gerrit jobs missing patchset label
  prow/crier/reporters/gerrit/reporter.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/crier

#27681 Explain how to upload .git to GCB
  config/jobs/image-pushing/README.md
Labels: lgtm, cncf-cla: yes, size/XS, approved

#27713 Only run e2e on master
  config/jobs/kubernetes-sigs/aws-iam-authenticator/aws-iam-authenticator-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#27709 k8s-infra: remove presets for registry.k8s.io
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.24.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.25.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/network, area/provider/gcp, sig/testing, sig/release, area/jobs, sig/cloud-provider, area/config, area/release-eng

#27143 clonerefs: include duration of cloning in logs
  prow/pod-utils/clone/clone.go
  prow/pod-utils/clone/format.go
  prow/pod-utils/clone/format_test.go
  prow/pod-utils/clone/types.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/pod-utilities

#27292 kompose: remove travis-ci from branch protection
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#27716 k8s-infra: preset for registry-sandbox.k8s.io
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-k8s-infra/oci-proxy/canaries.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config, sig/k8s-infra

#27257 Implement or for Labels in query
  prow/tide/status.go
  prow/tide/status_test.go
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/tide

#26981 fix typo with manually deploying prow
  prow/getting_started_deploy.md
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, ok-to-test

#27293 chore: remove tslint.json as it's not being used now
  tslint.json
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, ok-to-test

#27388 docs(prow/inrepoconfig.md): fix yaml indentation syntax error
  prow/inrepoconfig.md
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, ok-to-test

#27612 Officially stop voting on Code-Review label for Gerrit
  prow/ANNOUNCEMENTS.md
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XL, approved, sig/testing, area/prow/gerrit

#27720 OWNERS_ALIASES: update sig-testing-leads
  OWNERS_ALIASES
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#27721 Allow release-team-leads to set the lead-opted-in label
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#27722 move jobs to k8s-infra
  config/jobs/kubernetes/sig-k8s-infra/k8sio-presubmit.yaml
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng, area/artifacts, sig/k8s-infra

#27695 Tide history page contains correct links for Gerrit
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
  prow/cmd/deck/static/common/common.ts
  prow/cmd/deck/static/tide-history/tide-history.ts
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/deck

#27702 Remove GCR to AR sync jobs
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-gcr-to-ar-sync.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/release, area/release-eng

#26736 Enable GCP quotas measurement in scalability master periodics
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#27728 Correctly matching repo name for Gerrit repos
  prow/cmd/deck/static/tide-history/tide-history.ts
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/deck

#27729 Remove unused label - area/dependency
  label_sync/labels.md
  label_sync/labels.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/label_sync

#27732 update jobs to use go1.19
  config/jobs/kubernetes-sigs/bom/bom-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#25547 Remove branch protection from gh-pages for sig-storage-local-static-provisioner
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config, ok-to-test

#27733 Do GMSA provisioning for capz serial-slow tests run with run-capz-e2e.sh
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#27726 Inc golang-tip-k8s-1-23 kubemark timeout to 210m
  config/jobs/kubernetes/sig-scalability/sig-scalability-golang.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#27727 Turn on GCP API quotas measurement for all non-Kubemark tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#27735 Bump presubmit containers
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#27736 Downgrade golangci-lint to match Go 1.18
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#27571 Enables prow plugins for CAPV repo
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#27739 Update openshift testgrids ownwers file
  config/testgrids/openshift/OWNERS
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing, area/config, ok-to-test

#27742 run 2 nodes per zone for kind multizone jobs
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
  experiment/kind-multizone-e2e.sh
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/network, sig/testing, area/jobs, area/config

#27745 use a current yamllint image
  hack/make-rules/verify/yamllint.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#27743 increase allocation for image promotion jobs, tune number of worker g…
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/release, area/release-eng

#27747 Add missing RegexpChangeMatcher documentation about AlwaysRun
  prow/config/jobs.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, ok-to-test

#27724 Add job to run e2e test for KubeletCredentialProviders feature using GCE provider
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#27752 Tide history: consistent poolKey to repo branch conversion
  prow/cmd/deck/static/tide-history/tide-history.ts
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/deck

#27753 Fix formatting of approve comment
  prow/plugins/approve/approve_test.go
  prow/plugins/approve/approvers/approvers_test.go
  prow/plugins/approve/approvers/owners.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/plugins

#27731 e2e test for ReadWriteOncePod PV access mode
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, sig/storage, area/jobs, sig/cloud-provider, area/config

#27756 only run asn-matcher build when asn-matcher changes
  config/jobs/image-pushing/k8s-staging-infra-tools.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#27760 kops: drop e2e tests running cilium + kops 1.23 + u2204
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27392 Switch to ADC authentication for image-promoter
  config/jobs/kubernetes-sigs/promo-tools/promo-tools.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng, area/artifacts

#27763 Replacing "latest" KUBERNETES_VERSION with an hard-coded version.
  config/jobs/kubernetes-sigs/kernel-module-management/kernel-module-management-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#27765 double cip workers
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/release, area/release-eng

#27764 bump to node container to node 18
  hack/run-in-node-container.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, ok-to-test

#27767 Adding the BAZEL_VERSION to KMM's job.
  config/jobs/kubernetes-sigs/kernel-module-management/kernel-module-management-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#27768 kOps: Bump AMIs to latest version
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27770 Revert "Officially stop voting on Code-Review label for Gerrit"
  prow/ANNOUNCEMENTS.md
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XL, approved, sig/testing, area/prow/gerrit

#27771 Adds main.go as trigger to run CAPV pipelines
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits-release-1.3.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#27777 releng: bump kpromo version to v3.4.6
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng, area/artifacts, sig/k8s-infra

#27775 Replace deprecated `deadcode` with `unused` lint check from `golangci-lint`
  .golangci.yml
  gcsweb/cmd/gcsweb/gcsweb.go
  greenhouse/diskcache/cache.go
  kubetest/conformance/conformance.go
  kubetest/extract_k8s.go
  kubetest/kops.go
  kubetest/main.go
  prow/cmd/crier/main.go
  prow/cmd/generic-autobumper/bumper/bumper.go
  prow/cmd/mkpj/main.go
  prow/cmd/pipeline/main.go
  prow/cmd/prow-controller-manager/main.go
  prow/cmd/sinker/main.go
  prow/external-plugins/cherrypicker/server_test.go
  prow/gerrit/adapter/adapter.go
  prow/gerrit/client/syncer_test.go
  prow/github/client.go
  prow/jenkins/jenkins_test.go
  prow/kube/ratelimiter.go
  prow/plugins/cat/cat.go
  prow/plugins/goose/goose.go
  prow/plugins/jira/jira_test.go
  prow/plugins/slackevents/slackevents_test.go
  prow/spyglass/lenses/html/html_test.go
  prow/spyglass/storageartifact_fetcher.go
  prow/tide/gerrit_test.go
  robots/commenter/main.go
  robots/issue-creator/sources/triage-filer.go
Labels: lgtm, area/prow, cncf-cla: yes, area/kubetest, size/L, approved, sig/testing, area/greenhouse, area/prow/sinker, area/prow/hook, area/prow/gerrit, area/prow/plank, area/prow/mkpj, area/prow/tide, area/prow/jenkins-operator, area/prow/spyglass, ok-to-test, area/prow/crier, area/prow/plugins, area/robots

#27784 Update boskos/cmd/janitor/gcp_janitor.py to python3
  boskos/cmd/janitor/gcp_janitor.py
Labels: lgtm, area/prow, cncf-cla: yes, area/boskos, size/M, approved, sig/cli, sig/network, area/provider/openstack, sig/api-machinery, sig/apps, area/provider/azure, area/provider/gcp, sig/testing, sig/cluster-lifecycle, sig/node, sig/instrumentation, sig/scalability, sig/release, area/provider/aws, sig/windows, sig/storage, area/jobs, area/provider/vmware, sig/cloud-provider, area/config, area/label_sync, area/prow/gerrit, area/prow/deck, ok-to-test, area/prow/bump, area/release-eng, area/artifacts, sig/k8s-infra

#27789 Deck: fix tide gerrit url on tide-history page
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/deck

#27792 update janitor broken tests due to python version mismatch
  scenarios/kubernetes_janitor.py
Labels: lgtm, cncf-cla: yes, area/scenarios, size/XS, approved, sig/testing, ok-to-test

#27782 Add benchmark periodic
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/scalability, area/jobs, area/config

#27794 Move gce-benchmark-requests-1 to sig-scalability-benchmarks testgrid dashboard
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#27796 Bump node machine type for scalability benchmark
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#27797 Remove unused volume from cluster-api-operator config
  config/jobs/kubernetes-sigs/cluster-api-operator/cluster-api-operator-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#27798 Add Fedosin to cluster-api-operator owners
  config/jobs/kubernetes-sigs/cluster-api-operator/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#27749 Tide for Gerrit: comment on batch merges
  prow/tide/gerrit.go
  prow/tide/gerrit_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/tide

#27785 Tide for Gerrit: allow a repo to opt in all PRs by default
  prow/config/config.go
  prow/config/prow-config-documented.yaml
  prow/tide/gerrit.go
  prow/tide/gerrit_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/tide

#27741 Prowjob can be required by tide only
  prow/config/jobs.go
  prow/tide/gerrit.go
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/tide

#27802 jobs: bump timeout for ci-k8sio-audit
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-k8sio.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#27793 feat: add ignore invitees option to peribolos
  prow/cmd/peribolos/main.go
  prow/cmd/peribolos/main_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/peribolos, ok-to-test

#27799 Add "reinstate" OrgPermissionLevel
  prow/github/types.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, ok-to-test

#27804 test: use `T.TempDir` to create temporary test directory
  experiment/bumpmonitoring/main_test.go
  greenhouse/diskcache/cache_test.go
  kubetest/aksengine_test.go
  kubetest/dump_test.go
  kubetest/extract_test.go
  kubetest/main_test.go
  prow/clonerefs/run_test.go
  prow/cmd/checkconfig/main_test.go
  prow/cmd/cm2kc/main_test.go
  prow/cmd/generic-autobumper/bumper/bumper_test.go
  prow/cmd/generic-autobumper/main_test.go
  prow/cmd/phaino/local_test.go
  prow/config/config_test.go
  prow/entrypoint/run_test.go
  prow/gcsupload/run_test.go
  prow/gerrit/client/syncer_test.go
  prow/pod-utils/clone/clone_test.go
  prow/repoowners/repoowners_test.go
  prow/sidecar/run_test.go
  testgrid/pkg/configurator/configurator/client_test.go
  triage/summarize/summarize_test.go
Labels: lgtm, area/testgrid, area/prow, area/triage, cncf-cla: yes, area/kubetest, size/L, approved, sig/testing, area/greenhouse, area/prow/hook, area/prow/entrypoint, area/prow/gerrit, area/prow/pod-utilities, area/prow/clonerefs, area/prow/sidecar, area/prow/gcsupload, ok-to-test

#27808 Adds CAPV jobs for 1.4 release line
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-periodics-release-1.4.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits-release-1.4.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#27809 [cloud-provider-azure][vmssflex] Add a periodical test pipeline to test cloud-provider-azure on vmss flex cluster
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, area/testgrid, area/prow, area/triage, cncf-cla: yes, area/kubetest, size/M, approved, sig/cli, sig/network, area/provider/openstack, sig/api-machinery, sig/apps, area/provider/azure, area/provider/gcp, sig/testing, sig/cluster-lifecycle, sig/node, sig/instrumentation, sig/scalability, sig/release, area/provider/aws, sig/windows, sig/storage, area/jobs, area/images, area/greenhouse, area/provider/vmware, sig/cloud-provider, area/config, area/label_sync, area/prow/hook, area/prow/entrypoint, area/prow/gerrit, area/prow/pod-utilities, area/prow/clonerefs, area/prow/tide, area/prow/peribolos, area/prow/sidecar, area/prow/gcsupload, ok-to-test, area/prow/bump, area/release-eng, area/artifacts, sig/k8s-infra

#27815 Add pre-submit for clusters without DNS
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27820 delete dead code
  Makefile
  hack/make-rules/update/proto.sh
  hack/make-rules/verify/proto.sh
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing

#27823 [cloud-provider-gcp] Read --test-package-version version from env file
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-periodics.yaml
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#27830 Cleanup E2E jobs for 1.22
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-discovery.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-ca.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-etcd.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-x-on-y.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, kind/cleanup, area/config

#27833 Bump gcloud-in-go to go1.19
  images/gcloud-in-go/Dockerfile
  images/gcloud-in-go/README.md
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#27837 releng: bump kpromo version to v3.4.7
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng, area/artifacts, sig/k8s-infra

#27838 kOps: Add pre-submit for AWS clusters with loadbalancer
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27839 kOps: Fix pre-submit for AWS clusters with loadbalancer
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27842 kops: Add ipv6 periodic with private topology
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27840 Use newest images for testing cluster-api-operator
  config/jobs/kubernetes-sigs/cluster-api-operator/cluster-api-operator-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-operator/cluster-api-operator-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#27826 jobs: actually bump ci-k8sio-audit timeout
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-k8sio.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#27827 Fix kettle monitor
  images/bigquery/Dockerfile
  kettle/Dockerfile
  kettle/monitor.py
  metrics/README.md
  requirements3.txt
Labels: lgtm, cncf-cla: yes, area/metrics, size/M, approved, sig/testing, area/kettle, area/images
