Repository kubernetes/test-infra, pull requests merged in 2022-11, with the labels that each got.

#27855 Use `--use-prow-manifest-diff` for `kpromo cip` jobs
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng, area/artifacts, sig/k8s-infra

#27858 Explicitly skip SCTPConnectivity tests on network-policy job
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#27786 delete 100% failing job - maintenance-pull-scale-janitor
  config/jobs/kubernetes/test-infra/janitors.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/scalability, area/jobs, area/config

#27831 kettle: combine failure message and backtrace
  kettle/make_json.py
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/kettle

#27811 Add droslean as a reviewer/approver in prow
  prow/OWNERS
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#27867 releng: bump kpromo to v3.4.8
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng, area/artifacts, sig/k8s-infra

#27860 sig-network-policy-api prow jobs
  config/jobs/kubernetes-sigs/network-policy-api/OWNERS
  config/jobs/kubernetes-sigs/network-policy-api/network-policy-api-config.yaml
  config/testgrids/kubernetes/sig-network/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, ok-to-test

#27872 move to grid-gcr-mirror-canary to k8s-infra
  config/jobs/kubernetes/sig-k8s-infra/oci-proxy/canaries.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#27873 capz: new AKS job, less frequent “full E2E” periodicity
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27875 remove KUBE_TEST_IGNORE_CLOUDPROVIDER_TAINT in pull-e2e-gce-cloud-provider-disabled
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#27876 Enable cherrypicker for Cluster API provider vSphere
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#27874 Record merge metrics regardless of code review provider.
  prow/tide/codereview.go
  prow/tide/gerrit.go
  prow/tide/gerrit_test.go
  prow/tide/github.go
  prow/tide/tide.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/tide

#27836 remove PD CSI Migration tests that are no longer needed
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-postsubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#27881 set ENABLE_AUTH_PROVIDER_GCP=true for pull-e2e-gce-cloud-provider-disabled
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#27853 Add pull variants of node-e2e cos-containerd cgroupv1/cgroupv2 jobs
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#27879 ci: Update COS version for containerd jobs
  config/jobs/kubernetes/sig-node/containerd.yaml
  jobs/e2e_node/containerd/containerd-main/cgroupv1/image-config-cgroupv1.yaml
  jobs/e2e_node/containerd/containerd-main/cgroupv2/image-config-cgroupv2-serial.yaml
  jobs/e2e_node/containerd/containerd-main/image-config.yaml
  jobs/e2e_node/containerd/containerd-main/perf-image-config.yaml
  jobs/e2e_node/containerd/containerd-main/systemd/image-config.yaml
  jobs/e2e_node/containerd/image-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#27886 kOps: Add pre-submit for clusters with API servers and without DNS
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27887 Remove `kpromo cip --threads` flag from jobs
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/release, area/release-eng

#27888 update pull-cip-verify job to use go 1.19
  config/jobs/kubernetes-sigs/promo-tools/promo-tools.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng, area/artifacts

#27891 Also skip SCTPConnectivity tests in network-policy presubmit
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#27890 testgrids: add new jobs for kcp-dev/kcp
  config/testgrids/kcp/kcp.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing, area/config

#27894 CAPZ: update container images to use v1.25 in main/v1beta1 tests
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-release-v1beta1.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26890 Enable in-tree gcepd driver for e2e tests
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#27854 Add a daily job to exercise in-place pod resize feature with AllAlpha features enabled
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#27870 Report the correct field and fix typo in log messages.
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/tide, ok-to-test

#27885 test: Add node e2e serial cgroupv1 job
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#27884 Fix pull job config for containerd cgroupv2 and cgroupv1 jobs
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#27903 test: gpu: Bump to COS 97 image
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#27904 Set DisableCloudProviders and InTreePluginGCEUnregister to false
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#27905 ci: update containerd presubmit job cos image
  jobs/e2e_node/containerd/containerd-main-presubmit/image-config-presubmit.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, sig/node

#27906 kops: Add periodic job for IPv4 private topology
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27907 kops: kubenet doesn't support private topology
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27908 add tejolote prow jobs
  config/jobs/kubernetes-sigs/tejolote/OWNERS
  config/jobs/kubernetes-sigs/tejolote/tejolote-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#27909 kops: Include tests for gce networking
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27910 kops: suppress containerd suffix in test names
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27914 update canary-e2e-gce-cloud-provider-disabled to set ENABLE_AUTH_PROVIDER_GCP=true
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#27898 capv: Add verify-gen job
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config, ok-to-test

#27926 Fix ci-kubernetes-kubemark-100-gce-scheduler-highqps test
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: lgtm, cncf-cla: yes, kind/bug, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#27902 Prow controller always recreates pods on eviction event
  go.mod
  go.sum
  prow/plank/reconciler.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/plank

#27929 kcp: add pr-e2e-shared, pr-e2e-sharded
  config/testgrids/kcp/kcp.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing, area/config

#27418 Add image pushing job for capc
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved

#27859 Remove ehashman from sig-node roles
  config/jobs/kubernetes/sig-node/OWNERS
  config/testgrids/kubernetes/sig-node/OWNERS
  jobs/e2e_node/OWNERS
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, kind/cleanup, area/config

#27917 Increase the test frequency of pipeline cloud-provider-azure-e2e-ccm-vmssflex-capz
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config, ok-to-test

#27934 Use capz release-1.5 branch for sig-windows jobs instead of main
  config/jobs/kubernetes-sigs/sig-windows/release-1.24-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.24-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.25-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.25-windows.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/windows, area/jobs, area/config

#27925 k8s-infra: move pull-oci-proxy-build to k8s-infra
  config/jobs/kubernetes/sig-k8s-infra/oci-proxy/sig-k8s-infra-oci-proxy-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#27937 Updating image repo lists used for Windows tests for 1.24 clusters and below
  config/jobs/kubernetes-sigs/sig-windows/presets.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.22-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.22-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.23-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.23-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.24-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-misc.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.22.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.23.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.24.yaml
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/release, sig/windows, area/jobs, area/config, area/release-eng

#27856 feat(prow/config): add support for jenkins jobs in folder
  prow/config/config.go
  prow/config/config_test.go
  prow/jenkins/jenkins.go
  prow/jenkins/jenkins_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/jenkins-operator, ok-to-test

#27923 Update golang to 1.19
  config/jobs/kubernetes-sigs/ibm-powervs-block-csi-driver/ibm-powervs-block-csi-driver.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#27938 Pin OS version for e2e-gce-device-plugin job
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.22.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.23.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.24.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.25.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/gcp, sig/testing, sig/release, area/jobs, sig/cloud-provider, area/config, area/release-eng

#27939 [release-1.26] Enforce Code Freeze
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, priority/critical-urgent, sig/testing, area/config

#27924 stackrox: update merge dashboard to reflect reality
  config/testgrids/openshift/redhat-stackrox-merge.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/config, ok-to-test

#27936 Add detail to assign plugin error message
  prow/plugins/assign/assign.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, ok-to-test, area/prow/plugins

#27945 Point ci-kubernetes-build jobs to correct version markers
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.22.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.25.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#27946 Move post-test-cmd to run as deferred step
  kubetest/e2e.go
Labels: lgtm, cncf-cla: yes, area/kubetest, size/S, approved, sig/testing

#27871 capz: run AKS test if test configuration is changed
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27895 capz: separate self-managed, AKS jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-release-v1beta1.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27950 Enable override plugin on kubernetes/k8s.io
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#27816 Re-enable ci-cri-containerd-e2e-cos-gce-alpha-features with Alpha fea…
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#27912 ci: separarte pull-containerd-node-e2e for 1.5 branch
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
  jobs/e2e_node/containerd/containerd-main-presubmit/env
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#27952 Removing capz-windows-containerd-1.25 because it is actually testing master
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.25.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/release, sig/windows, area/jobs, area/config, area/release-eng

#27955 Kettle repair
  kettle/make_db.py
  kettle/make_db_test.py
  kettle/pv.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/kettle

#27959 kops: deploy a bastion when using private topology
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27933 Allow config-sharding of Slack reporter configs
  prow/cmd/checkconfig/main_test.go
  prow/config/config.go
  prow/config/config_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, ok-to-test

#27927 enable kube-proxy feature-gates=MinimizeIPTablesRestore on scalabilit…
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.22.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.23.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.24.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.25.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/scalability, sig/release, area/jobs, area/config, area/release-eng

#27957 Disable APIServerTracing for inplace resize e2e and add missing flags from pull alpha features job
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#27963 releng: bump kpromo version to v3.4.9
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng, area/artifacts, sig/k8s-infra

#27965 secrets-store: remove kubernetes version 1.22 (EOL)
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#27964 Enable only InPlacePodVerticalScaling feature for inplace-pod-resize CI jobs
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#27878 Bump containerd and runc used in CI
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/network, area/provider/gcp, sig/testing, sig/storage, area/jobs, sig/cloud-provider, area/config

#27953 Splitting windows serial slow hpa tests into new job
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/windows, area/jobs, area/config

#27954 Add a pull test job focussing on InPlacePodVerticalScaling feature with containerd-main
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#27967 kops: change default networking to cilium
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27968 kops: Run ipv6-private job on Ubuntu
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27969 Add env viarable ENABLE_VMSS_FLEX
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config, ok-to-test

#27970 Add build=quick parameter to pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2 job
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#27845 command-help: Fixed 27844 Command output does not complete
  prow/plugins/testfreeze/testfreeze.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, ok-to-test, area/prow/plugins, sig/k8s-infra

#27974 add post job for tejolote
  config/jobs/image-pushing/k8s-staging-tejolote.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved

#27979 kops: include "kubenet" in name of kubenet grid tests
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27977 update ingress image to use nightly
  config/jobs/kubernetes/sig-network/ingress-gce-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#27983 boskos: prune misconfigured gce-projects
  config/prow/cluster/build/boskos-resources/boskos-resources.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config, area/prow/bump

#27984 kops: make Ubuntu 22.04 the default for IPv6 tests
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27985 kops: use private topology for all IPv6 tests
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27986 kops: add IPv6 Flatcar periodics
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27989 kops: run several misc periodics on ARM
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27991 kops: Various misc tests now need ARM instance types
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27992 kops: Move ipv6 flatcar tests to arm64
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/helpers.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/testgrids/kubernetes/kops/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27993 kops: c7g.large not available in all regions
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27996 kops: default presubmits to Ubuntu 22.04 as well
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27998 Enable using EPS for endpoint updates
  config/jobs/kubernetes/sig-network/ingress-gce-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#27897 Add pull configuration for PodDisruptionConditions tests
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#27976 Clone pull-kubernetes-e2e-gce-alpha-features and modify for containerd/main
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/network, sig/testing, sig/cluster-lifecycle, sig/node, area/jobs, area/config, area/label_sync, ok-to-test, area/prow/bump

#28004 kops: Fix the name of some presubmits to be consistent
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28006 Use Ubuntu 20.04 for AWS VPC CNI tests
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28005 Add a presubmit pipeline to test CSI Driver on vmss flex cluster
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config, ok-to-test

#28007 add more env variables for the azure CSI vmssflex E2E test
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config, ok-to-test

#28008 Skip Feature: tests in e2e-gce-storage-disruptive
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/storage, area/jobs, area/config

#27981 do not apply lifecycle bot to "help wanted" or "good first issue" issues
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#28009 Update milestoner applier for Cluster API v1.3 / v1.4
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#27995 plugins/jira: Modify to not replace strings starting with dash
  prow/plugins/jira/jira.go
  prow/plugins/jira/jira_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, tide/merge-method-squash, ok-to-test, area/prow/plugins

#27980 config/prow: add dynamic-resource-allocation staging repo
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#28014 capz: update approvers
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#27971 capz: update test configurations following v1.6.0 release
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-v2-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.1.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.23.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.24.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.25.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-release-v1beta1.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.24-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.24-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.25-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.25-windows.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/generate.sh
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.22.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.23.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.24.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.25.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-master.yaml
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, sig/windows, area/jobs, sig/cloud-provider, area/config

#28016 releng 1.26: Update kubekins-e2e variants
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#28019 kops: Reduce frequency of rotation tests
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28023 Add a presubmit pipeline for cloud-provider-azure
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, area/jobs, area/config, ok-to-test

#28015 releng 1.26: Add 1.26 milestone_applier rules
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/config, area/release-eng

#28024 fix pull-containerd-node-e2e-1-5
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
  jobs/e2e_node/containerd/containerd-release-1.5-presubmit/env
  jobs/e2e_node/containerd/containerd-release-1.5-presubmit/image-config-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#28025 update containerd release 1.5 image to cos-93
  jobs/e2e_node/containerd/containerd-release-1.5/image-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, ok-to-test

#28027 Upgrade kubekins-e2e image to master
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.24.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#28029 do not run unsupported tests on kind-ipv6
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#28030 remove ingress-cos job
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#28022 [1.26] releng: Update release branch jobs for 1.26
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.23.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.24.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.25.yaml
  config/testgrids/kubernetes/sig-release/config.yaml
  releng/test_config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XL, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#28031 use the right skip for ipv6
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#27999 testgrids: remove bunk CRI-O links
  config/testgrids/config.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/config

#28018 Tide run_before_merge jobs don't block PRs when not ran
  prow/tide/gerrit.go
  prow/tide/tide.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/tide

#28011 Fix the pull-kubernetes-node-kubelet-serial-pod-disruption-conditions configuration
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#28017 Add e2e presubmit with RUNNER=kind
  config/jobs/kubernetes-sigs/aws-iam-authenticator/aws-iam-authenticator-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#28039 Random (small) fixes
  hack/boilerplate/verify_boilerplate.py
  hack/make-rules/verify/misspell.sh
  prow/git/v2/remote.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#26905 capz: add v1beta1 presubmit workload-upgrade test
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, lifecycle/stale, area/config

#28041 Add Env variables to vmssflex pipeline
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config

#28043 Update kustomize-presubmit-master to Go 1.19
  config/jobs/kubernetes-sigs/kustomize/kustomize-presubmit-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#28044 Add cloud-provider-azure repo to CSI Driver E2E pipeline
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config, ok-to-test

#28045 Cloud-provider-azure: skip e2e test for kubetest2-aks and azureclient v2
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config

#28046 Cloud provider azure:update skip test if change rule for cloud provider azure
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config

#28047 don't run loadbalancer tests on dns jobs
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#28048 Removing the prow e2e test using gcp.
  config/jobs/kubernetes-sigs/kernel-module-management/kernel-module-management-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#28052 Update github username for oncall script
  experiment/slack-oncall-updater/main.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#27990 config/jobs/README: Update deprecated and broken URLs
  config/jobs/README.md
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#27982 Log how much time each step takes for a Gerrit event
  prow/gerrit/adapter/adapter.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/gerrit

#28056 remove TEST_CCM
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config, ok-to-test

#27795 [IBM VPC Block] disable auto run of sanity test
  config/jobs/kubernetes-sigs/ibm-vpc-block-csi-driver/ibm-vpc-block-csi-driver.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#27899 Multizone
  experiment/kind-multizone-e2e.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#28053 Create a cron job rotating legacy sa key
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/trusted_serviceaccounts.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, area/prow/bump

#28058 kops: remove CloudFormation presubmit
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28059 kops: increase frequncy of LBC scenario
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28057 Add TEST_CCM flag for CSI VMSS Flex pipeline
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config, ok-to-test

#28062 kops: remove obsolete presubmits
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28061 Miscellaneous kops test changes
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/helpers.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/testgrids/kubernetes/kops/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28063 kops: Remove the 1.23 conformance tests
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28064 kops: add more deb11 CNI tests
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28065 kops: skip udp loadbalancer tests in karpenter jobs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28066 kops: replace kops 1.23 with 1.25 in the grid
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/testgrids/kubernetes/kops/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28067 kops: update kops versions in upgrade grid
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28068 kops: remove Debian IPv6 tests
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28069 always run vmss flex e2e test
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#28070 kops: always use release-version kops 1.23
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28034 Update csi tests to run on k8s 1.25
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-manual-job-config.yaml
  config/jobs/kubernetes-csi/csi-release-tools/csi-release-tools-config.yaml
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-manual-job-config.yaml
  config/jobs/kubernetes-csi/external-resizer/external-resizer-config.yaml
  config/jobs/kubernetes-csi/external-snapshotter/external-snapshotter-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/livenessprobe/livenessprobe-config.yaml
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, area/jobs, area/config

#28074 Make run_before_merge field emptiable
  prow/config/jobs.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, ok-to-test

#28054 capz: ensure upgrade test runs on release branches
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28049 [1.26] releng: Update release branch jobs for 1.26
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.26.yaml
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng
