Repository kubernetes/test-infra, pull requests merged in 2022-01, with the labels that each got.

#24761 chore: add presubmit test jobs for cloud provider azure 1.1
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.23.yaml
  config/testgrids/kubernetes/sig-cloud-provider/azure/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, area/jobs, sig/cloud-provider, area/config

#24735 Exclude 'kubetest.Test' row from ci-kubernetes-e2e-gce-scale-correctness test
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config, ok-to-test

#24762 Changed base option to exclude Overall row from ci-kubernetes-e2e-gce-scale-correctness test
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config, ok-to-test

#24763 Use correct release branch for 1.23 Windows jobs
  config/jobs/kubernetes-sigs/sig-windows/release-1.23-windows.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#24764 Update cluster-api azure v1beta1 jobs to use the release-1.1 branch
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-release-v1beta1.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#24757 Use containerd in Ubuntu swap job
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  jobs/e2e_node/swap/image-config-swap.yaml
  jobs/e2e_node/swap/ubuntu-swap-1G-allocation.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, priority/important-soon, area/jobs, kind/cleanup, area/config

#24706 Azure: use 1.22 kubekins image for CCM CAPZ jobs
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-0.7.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.0.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#24767 Make Gerrit client include response body in error messages.
  prow/gerrit/client/client.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/gerrit

#24689 Removing remaining Windows SAC 2004 jobs targeting master
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-windows.yaml
  config/testgrids/kubernetes/sig-windows/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, sig/windows, area/jobs, area/config

#24770 Crier gerrit reporter: truncate when there are too many jobs
  prow/crier/reporters/gerrit/reporter.go
  prow/crier/reporters/gerrit/reporter_test.go
  prow/gerrit/adapter/adapter_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/gerrit, area/prow/crier

#24773 Gerrit maxCommentSizeLimit defined as a number instead of math expression
  prow/crier/reporters/gerrit/reporter.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/crier

#24736 update tide docs and github client link
  prow/cmd/tide/config.md
  prow/github/client.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/tide, ok-to-test

#24772 Inrepoconfig: cached client fetches with --prune
  prow/config/inrepoconfig.go
  prow/config/inrepoconfig_test.go
  prow/git/git.go
  prow/git/v2/adapter.go
  prow/git/v2/interactor.go
  prow/git/v2/interactor_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing

#24784 cluster-api: ensure we're upgrading to corresponding upstream CoreDNS version
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-0-4-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-0-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-0-4.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-1-0.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#24785 Gerrit comment size limit corrected to 16k instead of 5000
  prow/crier/reporters/gerrit/reporter.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/crier

#24781 Fixes typo and wrong link in Prow Announcements.md
  prow/ANNOUNCEMENTS.md
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#24726 Trigger GitHub actions from prow
  prow/github/client.go
  prow/github/fakegithub/fakegithub.go
  prow/github/types.go
  prow/plugins/config.go
  prow/plugins/trigger/generic-comment.go
  prow/plugins/trigger/trigger.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, kind/feature, ok-to-test, area/prow/plugins

#24765 chore: bump orchestrator release to 1.23 for dualstack
  config/jobs/kubernetes/sig-network/dualstack-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/network, sig/testing, area/jobs, area/config

#24787 prow/plugins: Improve cherry pick tooltip to trigger RelMgr reviews
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#24469 add csi-driver-iscsi sanity test pipeline
  config/jobs/kubernetes-csi/csi-driver-iscsi/OWNERS
  config/jobs/kubernetes-csi/csi-driver-iscsi/csi-driver-iscsi-unmanaged.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#24793 remove all Docker-based jobs from node presubmits
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#24691 Run python linter in docker
  .gitignore
  config/jobs/kubernetes/kops/build_jobs.py
  hack/make-rules/py-test/activate-python_venv.sh
  hack/make-rules/py-test/lint-test.sh
  hack/make-rules/verify/all.sh
  hack/make-rules/verify/pylint.sh
  hack/run-in-python-container.sh
  kettle/stream_test.py
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/kettle, area/config

#24794 chore(kubebuilder): upgrade golang docker image to 1.17
  config/jobs/kubernetes-sigs/kubebuilder/kubebuilder-presubmits.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, area/jobs, area/config

#24462 sig-node: migrate away from GCP project : cri-containerd-node-e2e
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#24797 fixes problem with \ in presubmits
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#24791 Gerrit reporter: sort results also consider error state
  prow/crier/reporters/gerrit/reporter.go
  prow/crier/reporters/gerrit/reporter_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/crier

#24800 Configurable timeout initializing deck
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/deck

#24806 Fix gerrit reporter log to print names instead of pointers.
  prow/crier/reporters/gerrit/reporter.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/crier

#24808 Change the image version of cluster-api-provider-ibmcom-presubmits job
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#24807 Bump containerd to 1.5.9 and runc to 1.0.3
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/network, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#24812 test-infra unit test job runs with DinD
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#24803 Overrides value of server URL for CAPV prow jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#24815 CAPZ: use 1.23 image with go 1.17 for main and v1beta1 tests
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-release-v1beta1.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#24810 Stop pylint from automatic bazel test
  hack/BUILD.bazel
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#24789 Crier gerrit reporter: ensure reports all jobs
  prow/crier/reporters/gerrit/reporter.go
  prow/crier/reporters/gerrit/reporter_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/crier

#24804 Switch cgroupv2 COS jobs to cos-dev image family
  config/jobs/kubernetes/sig-node/containerd.yaml
  jobs/e2e_node/containerd/containerd-master/cgroupv2/image-config-cgroupv2-serial.yaml
  jobs/e2e_node/containerd/containerd-master/cgroupv2/image-config-cgroupv2.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#24734 add main branch for presubmit jobs and update some generate scripts
  config/jobs/image-pushing/k8s-staging-e2e-test-images.sh
  config/jobs/image-pushing/k8s-staging-e2e-test-images.yaml
  config/jobs/kubernetes-sigs/sig-windows/generate-presubmits.sh
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/generate.sh
  config/jobs/kubernetes/sig-cloud-provider/azure/release-master.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-network/dualstack-e2e.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
  config/jobs/kubernetes/sig-testing/local-e2e.yaml
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/network, area/provider/azure, area/provider/gcp, sig/testing, sig/node, sig/scalability, sig/windows, sig/storage, area/jobs, sig/cloud-provider, area/config

#24730 Use containerd as the container runtime in the Windows storage jobs
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-windows.yaml
  config/jobs/kubernetes-sigs/sig-storage-local-static-provisioner/sig-storage-local-static-provisioner.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#24547 k8s-ci-robot bypass for security-profiles-operator
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#24824 Update ingress-nginx e2e-test-runner images
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/network, sig/testing, area/jobs, area/config

#24640 prow: Update kpromo to v3.3.0-1
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#24768 Add cluster api operator CI jobs
  config/jobs/kubernetes-sigs/cluster-api-operator/OWNERS
  config/jobs/kubernetes-sigs/cluster-api-operator/cluster-api-operator-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-operator/cluster-api-operator-presubmits-main.yaml
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config, ok-to-test

#24816 Use locked time to avoid any time.time race
  kettle/make_db_test.py
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/kettle

#24819 Gerrit comment parser: ignore lines containing error messages
  prow/crier/reporters/gerrit/reporter.go
  prow/crier/reporters/gerrit/reporter_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/crier

#24754 Increased JSON periodic job time interval to 12h
  config/jobs/kubernetes/sig-instrumentation/sig-instrumentation-kind-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/instrumentation, area/jobs, area/config

#24830 Hyperv doesn't support hostprocess containers
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-containerd-hyperv.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#24802 [CAPA] Update dashboard to show the coverage results
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#24759 Refactor log_dump_custom_get_instances into get-node-names
  logexporter/cluster/log-dump.sh
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing

#24828 Add capz containerd nightly job for windows
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/windows, area/jobs, area/config

#24833 add sig-scheduling multizone job with kind
  config/jobs/kubernetes/sig-scheduling/sig-scheduling-config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, sig/scheduling, area/jobs, area/config

#24834 Add alculquicondor to SIG Scheduling OWNERS
  config/jobs/kubernetes/sig-scheduling/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scheduling, area/jobs, area/config

#24837 Crier gerrit reporter: log contains the job to be reported
  prow/crier/reporters/gerrit/reporter.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/crier

#24838 Crier gerrit reporter: jobNames returns both name and uuid
  prow/crier/reporters/gerrit/reporter.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/crier

#24829 CSI Proxy presubmit integration tests
  config/jobs/kubernetes-csi/csi-proxy/csi-proxy-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/storage, area/jobs, area/config

#24760 Dump more node info in log-dump.sh
  logexporter/cluster/log-dump.sh
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing

#24849 Make windows capz job more frequent
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#24850 Remove duplicate key in gateway-api/OWNERS
  config/jobs/kubernetes-sigs/gateway-api/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#24848 Update pull-enhancements-verify image to golang:1.17
  config/jobs/kubernetes/enhancements/enhancements-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/architecture, area/jobs, area/config, area/enhancements

#24852 Drop configs for deprecated RHEL tests
  config/testgrids/conformance/conformance-all.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
  docs/tests/node-e2e-ci.md
  kettle/buckets.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/kettle, area/config

#24855 skip pod cidrs test for azure dual-stack
  config/jobs/kubernetes/sig-network/dualstack-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#24858 Make the GCP Zone and env var in the csi proxy integration config
  config/jobs/kubernetes-csi/csi-proxy/csi-proxy-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#24856 capz: fix AKS regex so that jobs run appropriately
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1alpha4.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#24859 Set gcp-zone to us-west1-b without an envvar
  config/jobs/kubernetes-csi/csi-proxy/csi-proxy-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#24861 chore: bump the kubekins image in azuredisk windows docker shim 1.22 …
  config/jobs/kubernetes-sigs/sig-windows/release-1.22-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/windows, area/jobs, kind/cleanup, area/config

#24862 chore: bump the kubekins image in azuredisk windows docker shim 1.21 …
  config/jobs/kubernetes-sigs/sig-windows/release-1.21-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/windows, area/jobs, kind/cleanup, area/config

#24864 fix 1.20 test failure, should test against azure disk csi driver release-1.9 branch
  config/jobs/kubernetes-sigs/sig-windows/release-1.20-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#24865 Update release-1.21-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.21-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.22-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#24868 bugzilla: improve identifierNotForPull error
  prow/bugzilla/client.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#24873 Update cloud-provider-vsphere-config to run staticcheck when go.mod is updated.
  config/jobs/kubernetes/cloud-provider-vsphere/cloud-provider-vsphere-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/provider/vmware, sig/cloud-provider, area/config

#24874 Validate OWNERS files - remove sections about emeritus reviewers
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/OWNERS
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/OWNERS
  config/jobs/kubernetes-sigs/cluster-api/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, priority/important-soon, area/jobs, area/config

#24853 Add support to gitClientFactory for CloneURI Remote Resolver
  prow/git/v2/client_factory.go
  prow/git/v2/remote.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing

#24880 kubernetes-sigs/nfd: update e2e test config
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-postsubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#24881 Fix a typo in Makefiles
  experiment/Makefile
  hack/Makefile
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing

#24878 Add support for http.cookiefile authentication for the git client
  prow/git/v2/client_factory.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing

#24879 Kops removed support for k8s 1.18
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
  config/testgrids/kubernetes/kops/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#24709 Bump Go version for cli-utils build
  config/jobs/kubernetes-sigs/cli-utils/cli-utils-presubmit-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#24887 use correct set of images for windows 1.20 presubmit
  config/jobs/kubernetes-sigs/sig-windows/generate-presubmits.sh
  config/jobs/kubernetes-sigs/sig-windows/release-1.20-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#24744 Add prow configs for kube-scheduler-simulator
  config/jobs/kubernetes-sigs/kube-scheduler-simulator/OWNERS
  config/jobs/kubernetes-sigs/kube-scheduler-simulator/kube-scheduler-simulator-presubmits-master.yaml
  config/jobs/kubernetes-sigs/kube-scheduler-simulator/kube-scheduler-simulator-presubmits-test-backend.yaml
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#24092 kubernetes-sigs/nfd: enable prow override plugin
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#24884 prow/plugins: enable cherrypicker for nfd
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config

#24888 Don't use the secret for private images in 1.20 jobs
  config/jobs/kubernetes-sigs/sig-windows/generate-presubmits.sh
  config/jobs/kubernetes-sigs/sig-windows/release-1.20-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/windows, area/jobs, area/config

#24885 Crier: collects prometheus metrics for times spent reporting
  prow/crier/BUILD.bazel
  prow/crier/controller.go
  prow/crier/controller_test.go
  prow/crier/metrics.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/crier

#24894 Crier delay metrics more granular between 10 and 60 minutes
  prow/crier/metrics.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/crier

#24890 sig-cloud-provider: drop ci-kubernetes-e2e-ubuntu-gce
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#24897 Do not use irsa for networking grid
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#24899 set minimum test run on 1.20
  config/jobs/kubernetes-csi/csi-driver-nfs/csi-driver-nfs-unmanaged.yaml
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#24883 Migrate performance and correctness tests to boskos pool
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#24826 Added test case for preparing test environment and getting deployer
  kubetest/main.go
Labels: lgtm, cncf-cla: yes, area/kubetest, size/XS, approved, sig/testing, ok-to-test

#24903 remove redundant slash in directory name
  README.md
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing

#24905 tide: Add some debugging logs
  prow/tide/status.go
  prow/tide/tide.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/tide

#24908 Update prow configs for kube-scheduler-simulator
  config/jobs/kubernetes-sigs/kube-scheduler-simulator/kube-scheduler-simulator-presubmits-master.yaml
  config/jobs/kubernetes-sigs/kube-scheduler-simulator/kube-scheduler-simulator-presubmits-test-backend.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#24841 Crier gerrit reporter: worker can be more than 1
  prow/cmd/crier/main.go
  prow/cmd/crier/main_test.go
  prow/crier/BUILD.bazel
  prow/crier/controller.go
  prow/crier/reporters/criercommonlib/BUILD.bazel
  prow/crier/reporters/criercommonlib/shardedlock.go
  prow/crier/reporters/criercommonlib/shardedlock_test.go
  prow/crier/reporters/criercommonlib/updatereportstatus.go
  prow/crier/reporters/gerrit/BUILD.bazel
  prow/crier/reporters/gerrit/reporter.go
  prow/crier/reporters/gerrit/reporter_test.go
  prow/crier/reporters/github/BUILD.bazel
  prow/crier/reporters/github/reporter.go
  prow/crier/reporters/github/reporter_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XXL, approved, sig/testing, area/prow/crier

#24913 Add juanfescobar github-slack mapping for oncall.
  experiment/slack-oncall-updater/main.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, ok-to-test

#24891 Verify boilerplate with makerule
  Makefile
  hack/BUILD.bazel
  hack/Makefile
  hack/boilerplate/boilerplate.Dockerfile.txt
  hack/boilerplate/boilerplate.Makefile.txt
  hack/boilerplate/boilerplate.bzl.txt
  hack/boilerplate/boilerplate.go.txt
  hack/boilerplate/boilerplate.py.txt
  hack/boilerplate/boilerplate.sh.txt
  hack/boilerplate/test/fail.go
  hack/boilerplate/test/fail.py
  hack/boilerplate/test/pass.go
  hack/boilerplate/test/pass.py
  hack/boilerplate/verify_boilerplate.py
  hack/boilerplate/verify_boilerplate_test.py
  hack/make-rules/verify/all.sh
  hack/make-rules/verify/boilerplate.sh
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing

#24866 migrated sig-storage-gce presubmits to containerd
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/storage, area/jobs, area/config

#24909 releng: update kubekins/krte to Go 1.17.6 and Go 1.16.13
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/images, area/release-eng

#24923 fix broken coredns upgrade in tests for Cluster API 0.4 and 1.0
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-0-4-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-0-upgrades.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#24916 Clean up reviewers for sig node owners files
  config/jobs/kubernetes/sig-node/OWNERS
  config/testgrids/kubernetes/sig-node/OWNERS
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#24900 Update crio commit to 74583d26406963ba150004f343bc36c16a861164
  jobs/e2e_node/crio/crio.ign
  jobs/e2e_node/crio/crio_cgrpv2.ign
  jobs/e2e_node/swap/crio_swap1g.ign
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node

#24889 PD CSI Driver presubmit windows e2e tests do the same as linux
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-windows.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#24926 Update Hypershift testgrig to reflect job name change
  config/testgrids/openshift/hypershift.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#24929 Removed more Windows flags in the PD CSI Driver presubmit config to make it like the linux job
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-windows.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#24920 Add prow configs for cloud-provider-azure
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config, ok-to-test

#24934 Update default kubelet flags used in windows jobs target k/k master
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-containerd-hyperv.yaml
  config/jobs/kubernetes-sigs/sig-windows/sig-windows-sac.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/windows, area/jobs, area/config

#24924 Fix typo in presubmit Prow job of kube-scheduler-simulator
  config/jobs/kubernetes-sigs/kube-scheduler-simulator/kube-scheduler-simulator-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#24940 Fix go-fmt so no more failures when running locally
  kubetest/main.go
Labels: lgtm, cncf-cla: yes, area/kubetest, size/XS, approved, sig/testing

#24893 Allow Gerrit formatted Repos for InRepoConfig Config Validation
  prow/cmd/mkpj/main.go
  prow/cmd/mkpj/main_test.go
  prow/config/config.go
  prow/config/config_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/mkpj

#24857 Fix failing job using GH issue lookup
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-security-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, kind/feature, sig/security

#24944 Increase context timeout for reporting gerrit prowjobs
  prow/crier/reporters/gerrit/reporter.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/crier

#24945 Crier gerrit reporter: rename ctx instead of overriding existing one
  prow/crier/reporters/gerrit/reporter.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/crier

#24942 Update Windows PD CSI Driver CI jobs to be the same as the Linux ones
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-windows.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#24948 remove misc buckets from kettle
  kettle/buckets.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/kettle

#24952 Remove pytest image
  config/jobs/image-pushing/k8s-staging-test-infra.yaml
  images/pytest/Dockerfile
  images/pytest/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/images

#24953 emeritus amwat
  OWNERS_ALIASES
  config/jobs/kubernetes-sigs/kind/OWNERS
  config/jobs/kubernetes-sigs/kubetest2/OWNERS
  config/jobs/kubernetes/cloud-provider-gcp/OWNERS
  gopherage/OWNERS
  greenhouse/OWNERS
  images/bootstrap/OWNERS
  images/krte/OWNERS
  images/kubekins-e2e/OWNERS
  kettle/OWNERS
  kubetest/OWNERS
  prow/cmd/gerrit/OWNERS
  scenarios/OWNERS
Labels: lgtm, area/prow, cncf-cla: yes, area/kubetest, area/scenarios, size/M, approved, area/provider/gcp, sig/testing, sig/release, area/jobs, area/kettle, area/images, area/greenhouse, sig/cloud-provider, area/config, area/prow/gerrit, area/gopherage, area/release-eng

#24951 upgrade pip before using pip
  kettle/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/kettle

#24959 Update OWNERS
  config/jobs/kubernetes-sigs/node-feature-discovery/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#24960 kubernetes-sigs/nfd: add build-image-cross presubmit job
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#24961 kubernetes-sigs/nfd: enable build-image-cross for release-0.10
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#24954 fix updating pip3
  kettle/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/kettle

#24964 Fixing cluster provisioning for aks-engine dualstack jobs after some dockershim flags were removed
  config/jobs/kubernetes/sig-network/dualstack-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/network, sig/testing, area/jobs, area/config

#24966 Rollup gopherage typescript bundle with make rule
  gopherage/Makefile
  gopherage/cmd/html/static/.gitignore
  gopherage/cmd/html/static/tsconfig.json
  gopherage/rollup-js.sh
  gopherage/rollup.config.js
  package.json
  yarn.lock
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/gopherage

#24967 pip3 is a pip alias, upgrade pip package, not pip3 (which doesn't exist)
  kettle/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/kettle

#24968 Make the PD CSI Windows CI --repo flag the same as Linux
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-windows.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#24972 build kubetest binary with current go version instead of kubernetes g…
  images/kubekins-e2e/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#24956 add juanfescobar to build-admins
  OWNERS_ALIASES
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#24976 Delete python related bazel rules
  WORKSPACE
  experiment/BUILD.bazel
  hack/BUILD.bazel
  jenkins/BUILD.bazel
  kettle/BUILD.bazel
  load.bzl
  metrics/BUILD.bazel
  py.bzl
  releng/BUILD.bazel
  scenarios/BUILD.bazel
Labels: lgtm, area/jenkins, cncf-cla: yes, area/metrics, area/scenarios, size/L, approved, sig/testing, sig/release, area/kettle, area/release-eng

#24936 fix: containerd was installed under /home/containerd/usr/local/bin/containerd
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#24983 Create jobs for CAPI release 1.1
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-1-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-1.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-1-1.yaml
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#24989 Add a new optional CI job to trigger make update
  config/jobs/kubernetes/sig-testing/update.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#24973 Crier gerrit reporter: don't report pjs that were replaced by newer ones
  prow/crier/reporters/gerrit/reporter.go
  prow/crier/reporters/gerrit/reporter_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/crier

#24955 CAPV secret overrides
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
  config/prow/cluster/build/build_kubernetes-external-secrets_customresource.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, area/prow/bump

#24988 Update milestone applier for CAPI
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#24994 Collates all CAPV overrides into a single external secret
  config/prow/cluster/build/build_kubernetes-external-secrets_customresource.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config, area/prow/bump

#24927 Use prow/flagutil to replace old GitHub client
  label_sync/main.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/label_sync, ok-to-test

#24995 CAPV: Fixes namespace for ExternalSecret -> Secret
  config/prow/cluster/build/build_kubernetes-external-secrets_customresource.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config, area/prow/bump

#24918 Clean up deprecated flag --container-runtime
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
  config/jobs/containerd/cri/containerd-cri-presubmit-jobs.yaml
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/crio.yaml
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
  experiment/kind-multizone-e2e.sh
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/network, area/provider/gcp, sig/testing, sig/node, sig/scalability, sig/windows, sig/storage, area/jobs, sig/cloud-provider, area/config

#24981 kube-scheduler-simulator: update frontend-presubmit config
  config/jobs/kubernetes-sigs/kube-scheduler-simulator/kube-scheduler-simulator-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#25002 run ingress conformance tests on CI
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#25006 Makefile: remove deprecated `test` target
  prow/Makefile
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing

#25005 Updating KES from 6.4.0 to 8.5.1
  config/prow/cluster/kubernetes-external-secrets_crd.yaml
  config/prow/cluster/kubernetes-external-secrets_deployment.yaml
  config/prow/cluster/kubernetes-external-secrets_rbac.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/config, area/prow/bump

#25009 Parameterize go unit.sh
  hack/make-rules/go-test/unit.sh
  prow/crier/reporters/gerrit/reporter.go
  prow/crier/reporters/gerrit/reporter_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/crier

#24999 Use containerd directly as the PidOf can recognize
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#25000 [CPO] Add jobs for release-1.23 branch
  config/jobs/kubernetes/cloud-provider-openstack/provider-openstack-presubmits-release-v1.23-config.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/openstack, sig/testing, area/jobs, sig/cloud-provider, area/config

#24985 Switch scalability periodic tests to the new huge-service config
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/scalability, sig/release, area/jobs, area/config, area/release-eng

#25015 config: update custom-metrics-apiserver to go 1.17
  config/jobs/kubernetes-sigs/custom-metrics-apiserver/custom-metrics-apiserver-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#25017 Replace amazonvpc with cilium for karpenter tests
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#25010 Verify-codegen includes prowjob CRD
  config/prow/cluster/prowjob-crd/prowjob_customresourcedefinition.yaml
  hack/make-rules/verify/codegen.sh
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, area/config, area/prow/bump

#25019 Add preserveUnknowFields: false in prowjob schema CRD
  config/prow/cluster/prowjob-crd/prowjob_customresourcedefinition.yaml
  hack/make-rules/update/codegen.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config, area/prow/bump

#25016 Do not add `needs-ok-to-test` if PR already has `ok-to-test`
  prow/plugins/trigger/BUILD.bazel
  prow/plugins/trigger/pull-request.go
  prow/plugins/trigger/pull-request_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/plugins

#24134 Re-request reviewers when LGTM is removed
  prow/github/fakegithub/fakegithub.go
  prow/plugins/lgtm/lgtm.go
  prow/plugins/lgtm/lgtm_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/plugins
