Repository kubernetes/test-infra, pull requests merged in 2022-04, with the labels that each got.

#25688 chore: Setup periodic test runs for azuredisk driver main_v2
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-v2-periodics-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config, ok-to-test

#25790 Update Azure Disk Driver V2 test k8s version and test triggers.
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-v2-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config, ok-to-test

#25840 kubernetes-csi: distributed provisioning with Kubernetes master
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-manual-job-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-manual-job-config.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#25844 Flagutil: Fix condition for when to check on failing build clusters
  prow/flagutil/kubernetes_cluster_clients.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#25843 Tide: Consider PRs that are being retested as serial-retest eligible
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/tide

#25846 fixing node-kubelet-containerd-performance-test job
  config/jobs/kubernetes/sig-node/containerd.yaml
  jobs/e2e_node/perf-image-config.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#25848 skip test for feature ProxyTerminatingEndpoints
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#25644 Enable `testfreeze` plugin for k/k
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#25850 add canary job to test the kpromo with signatures in the bom repo
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/release, area/release-eng

#25851 remove testing svc account and use the default one
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/release, area/release-eng

#25852 Bump bom canay build to image promoter at HEAD
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/release, area/release-eng

#25853 Sidecar: Improve debuggability
  prow/pod-utils/decorate/podspec.go
  prow/pod-utils/decorate/testdata/zz_fixture_TestDecorate_basic_happy_case.yaml
  prow/pod-utils/decorate/testdata/zz_fixture_TestDecorate_censor_secrets_in_sidecar.yaml
  prow/pod-utils/decorate/testdata/zz_fixture_TestDecorate_ignore_interrupts_in_sidecar.yaml
  prow/pod-utils/decorate/testdata/zz_fixture_TestSidecar_basic_case.yaml
  prow/pod-utils/decorate/testdata/zz_fixture_TestSidecar_with_secrets.yaml
  prow/sidecar/censor.go
  prow/sidecar/run.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/pod-utilities, area/prow/sidecar

#25857 releng: Update canary image promotion jobs
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/release, area/release-eng

#25858 Use latest rather than CI for more jobs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#25355 kubekins/krte: Add `main` variant
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#25861 Use latest k8s version for ipv6 presubmit rather than ci version
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#25860 kOps - Make cilium ipv6 job optional
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#25753 add pull-k8sio-dns-validate-config job
  config/jobs/kubernetes/sig-k8s-infra/k8sio-presubmit.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-dns.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#25863 chore(secrets-store-csi-driver): remove 1.20 presubmit job
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#25814 Inject SSH key for CRI-O presubmits
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  jobs/e2e_node/crio/crio_cgrpv2_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/crio_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/latest/image-config-cgrpv1-k8s-infra-prow-build.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv2-k8s-infra-prow-build.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#25832 Hook: Jira plugin does not update PR links when the title changes
  prow/jira/jira.go
  prow/plugins/jira/jira.go
  prow/plugins/jira/jira_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, tide/merge-method-squash, ok-to-test, area/prow/plugins

#25866 Add stress test presubmit for cli-utils
  config/jobs/kubernetes-sigs/cli-utils/cli-utils-presubmit-master.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#25819 Add hypershift 4.11 aws conformance to testgrid
  config/testgrids/openshift/hypershift.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing, area/config

#25865 Create periodic swap serial jobs
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, priority/important-soon, area/jobs, area/config, triage/accepted

#25869 add missing maintainers_friendly_name
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#25685 Tide flowchart documentation
  prow/cmd/tide/README.md
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/tide

#25873 Update service account credential helper for 1.21+
  gencred/README.md
  gencred/pkg/serviceaccount/BUILD.bazel
  gencred/pkg/serviceaccount/serviceaccount.go
  gencred/pkg/serviceaccount/serviceaccount_test.go
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing

#25868 Fix CRI-O kubetest2 tests
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#25881 Update README, chances -> changes.
  kettle/README.md
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/kettle

#25885 update job image to use latest-go1.17-bullseye instead of latest-go1.17 that is not maintained
  config/jobs/kubernetes-sigs/zeitgeist/zeitgeist-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#25886 correct repo for ci-kubernetes-node-swap-(fedora|ubuntu)-serial
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#25882 Move CRI-O periodics to k8s-infra cluster
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#25847 Allow buildlog to configure a highlighting service
  config/prow/config.yaml
  prow/cmd/deck/job_history.go
  prow/spyglass/lenses/buildlog/buildlog.ts
  prow/spyglass/lenses/buildlog/lens.go
  prow/spyglass/lenses/buildlog/lens_test.go
  prow/spyglass/lenses/buildlog/template.html
Labels: lgtm, area/prow, cncf-cla: yes, area/kubetest, size/XL, approved, sig/testing, area/config, area/prow/deck, area/prow/spyglass

#25876 [Digital Ocean] Add new test for KOPS non-gossip cluster
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#25891 releng: Update kpromo to v3.4.0-1
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng, area/artifacts, sig/k8s-infra

#25890 Prow integration tests: Collect previous logs
  prow/test/integration/cleanup.sh
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#25821 Add support for InRepoConfig on gerrit with PubSub
  prow/cmd/sub/main.go
  prow/pubsub/subscriber/subscriber.go
  prow/pubsub/subscriber/subscriber_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/pubsub

#25894 Remove GCP project from k8s-infra jobs
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#25883 chore: Remove upgrade test and add periodic e2e tests for azuredisk main_v2
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-v2-periodics-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config, ok-to-test

#25888 Added job to build and push ibm power vs cloud provider image
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved

#25901 Revert "allow pr status to work with apps auth (#25673)"
  prow/cmd/deck/main.go
  prow/prstatus/prstatus.go
  prow/prstatus/prstatus_test.go
Labels: lgtm, area/prow, cncf-cla: yes, needs-ok-to-test, size/L, approved, sig/testing, area/prow/deck

#25897 Announce highlight and pin feature
  prow/ANNOUNCEMENTS.md
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#25906 Add some debugging logs for helping debugging pubsub + inrepoconfig
  prow/config/cache.go
  prow/pubsub/subscriber/subscriber.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/pubsub

#25905 fix: Indentation fixes for the azuredisk v2 periodic test runs
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-v2-periodics-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config, ok-to-test

#25898 [cloud provider azure] Enhance skip_if_only_changed
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-0.7.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.0.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.1.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.23.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config

#25904 azure: use latest supported k8s version for capz ccm PR test
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#25911 [cloud provider azure] Skip in-tree testcases for some jobs
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#25484 jira: move fake client to jira client package
  prow/github/fakegithub/fakegithub.go
  prow/jira/BUILD.bazel
  prow/jira/fakejira/fake.go
  prow/plugins/jira/BUILD.bazel
  prow/plugins/jira/jira_test.go
Labels: lgtm, area/testgrid, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/config, area/prow/tide, area/prow/peribolos, area/prow/pubsub, area/prow/spyglass, area/prow/plugins

#25721 Add Used() method with delegate to jira client
  prow/hook/hook_test.go
  prow/jira/fakejira/fake.go
  prow/jira/jira.go
  prow/plugins/plugins.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/hook, ok-to-test, area/prow/plugins

#25899 Update prow job to build powers cloud provider yaml
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#25919 Use stable k8s versions in presubmits by default
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#25921 Remove updown test for kops 1.21
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#25922 Remove bazel jobs from master
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#25923 Make ci default k8s version for periodics
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#25931 Add fakegerritserver to PROW_COMPONENTS in integration test cleanup
  prow/test/integration/cleanup.sh
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#25928 Adjust buckets of github_request_wait_duration_seconds metric
  ghproxy/ghmetrics/ghmetrics.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/ghproxy

#25913 Add possibility to extract latest version from channel in gke
  kubetest/extract_k8s.go
  kubetest/util.go
Labels: lgtm, cncf-cla: yes, area/kubetest, size/L, approved, sig/testing, ok-to-test

#25942 releng: Update kpromo to v3.4.1-1
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng, area/artifacts, sig/k8s-infra

#25944 Add postsubmit to kueue release branches
  config/jobs/image-pushing/k8s-staging-kueue.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#25652 Bump NFD-Operator Go to 1.18
  config/jobs/kubernetes-sigs/node-feature-discovery-operator/node-feature-discovery-operator-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#25651 Bump NFD Go to 1.18
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#25943 Adding PR job for azuredisk-csi-driver with Windows Server 2022
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/windows, area/jobs, area/config

#25948 Update azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#25949 Specify K8s version for azuredisk capz windows jobs
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#25946 azure: add periodic job using capz at main
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#25941 k8s-infra: Add a canary for e2e-kops-grid-scenario-gcr-mirror
  config/jobs/kubernetes/sig-k8s-infra/oci-proxy/canaries.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#25947 Add vsphere-cpi e2e test as a presubmit job.
  config/jobs/kubernetes/cloud-provider-vsphere/cloud-provider-vsphere-config.yaml
Labels: lgtm, area/prow, cncf-cla: yes, area/kubetest, size/M, approved, sig/testing, area/jobs, area/provider/vmware, sig/cloud-provider, area/config

#25952 Fix testgrid config for Hypeshift
  config/testgrids/openshift/hypershift.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#25951 releng: update kubekins/krte to go1.18.1 and go1.17.9
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/images, area/release-eng

#25878 Kustomize required statuses + Go 1.18
  config/jobs/kubernetes-sigs/kustomize/OWNERS
  config/jobs/kubernetes-sigs/kustomize/kustomize-presubmit-master.yaml
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#25955 fixing KUBENERETES_VERSION env vars for azuredisk windows capz jobs
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#25957 Fix metric error: took_action always false as run before plugin handler
  prow/hook/events.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/hook

#25839 add preset-use-new-registry label
  config/jobs/kubernetes/sig-cli/sig-cli-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/cli, sig/network, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config, ok-to-test

#25599 Run cloud-provider-vsphere tests for release branches.
  config/jobs/kubernetes/cloud-provider-vsphere/cloud-provider-vsphere-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/provider/vmware, sig/cloud-provider, area/config

#25766 Added CAPA alerts email
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#25412 Remove gce presubmit using dockershim
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.23.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, sig/release, area/jobs, sig/cloud-provider, area/config, area/release-eng

#25961 Fix reference for hypershift 4.11 conformance
  config/testgrids/openshift/hypershift.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#24708 prow/plugins/verify-owners: Default join-org URL to orgs/*/people
  prow/plugins/verify-owners/verify-owners.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, ok-to-test, area/prow/plugins

#25960 Drop cached-make-test and generate-make-test-cache
  config/jobs/kubernetes/sig-testing/make-test.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#25958 Update azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-periodics-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, area/jobs, area/config

#25867 Update blob-csi-driver-config.yaml
  config/jobs/kubernetes-csi/csi-driver-nfs/csi-driver-nfs-unmanaged.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#25964 k8s-infra: Add testgrid dashboard for oci-proxy
  config/jobs/kubernetes/sig-k8s-infra/oci-proxy/canaries.yaml
  config/testgrids/kubernetes/sig-k8s-infra/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#25970 Switch to newer images for CI jobs
  jobs/e2e_node/containerd/image-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node

#25972 Switch to newer images for some flaky CI jobs
  jobs/e2e_node/containerd/containerd-master/image-config.yaml
  jobs/e2e_node/containerd/containerd-master/systemd/image-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node

#25973 bump etcd version 3.5.3 for CAPI
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-0-4-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-0-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-1-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-0-4.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-1-0.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-1-1.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#25971 Fix flake in bugzilla config merging
  prow/plugins/config_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/plugins

#25636 Remove google-gce-compute-image-tools
  config/testgrids/config.yaml
  config/testgrids/conformance/conformance-all.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/config, ok-to-test

#25974 Switch to newer image for swap CI job
  jobs/e2e_node/swap/image-config-swap.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node

#25979 windows alpha job has GAed feature flag WindowsGMSA - need to remove
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, sig/windows, area/jobs, area/config

#25980 specify DisableCloudProviders=false for gci-gce-alpha-enabled-default job
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#25977 Drop support for Containerd 1.4
  config/jobs/containerd/cri/OWNERS
  config/jobs/containerd/cri/containerd-cri-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/testgrids/config.yaml
  jobs/e2e_node/containerd/containerd-release-1.4/env
  jobs/e2e_node/containerd/containerd-release-1.4/image-config.yaml
  jobs/e2e_node/containerd/cri-master/benchmark-config.yaml
  jobs/e2e_node/containerd/cri-master/env
  jobs/e2e_node/containerd/cri-master/image-config-pr.yaml
  jobs/e2e_node/containerd/cri-master/image-config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XL, approved, sig/testing, sig/node, area/jobs, area/config

#25982 Add CI jobs for containerd 1.6.x branch
  config/jobs/kubernetes/sig-node/containerd.yaml
  jobs/e2e_node/containerd/containerd-release-1.6/env
  jobs/e2e_node/containerd/containerd-release-1.6/image-config.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#25983 Revive perma failing ci-kubernetes-e2e-node-canary CI job
  config/jobs/kubernetes/sig-testing/kubetest-canaries.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#25984 Add path to jq for metrics-bigquery job
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#25969 Deck: Sort consistently
  prow/deck/jobs/jobs.go
  prow/deck/jobs/jobs_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/deck

#25985 Remove preset-use-new-registry label from sig-cli
  config/jobs/kubernetes/sig-cli/sig-cli-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/cli, sig/testing, area/jobs, area/config

#25986 Fix default path of jq to what is in the image
  metrics/bigquery.py
Labels: lgtm, cncf-cla: yes, area/metrics, size/XS, approved, sig/testing

#25989 kOps - Make cilium ipv6 job optional
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#25909 Make gerrit inRepoConfig use mergeIfNecessary by default
  prow/config/config.go
  prow/config/inrepoconfig.go
  prow/config/tide.go
  prow/config/tide_test.go
  prow/git/git.go
  prow/git/git_test.go
  prow/git/types/types.go
  prow/git/v2/adapter.go
  prow/git/v2/interactor.go
  prow/github/types.go
  prow/plugins/merge-method-comment/merge-method-comment.go
  prow/plugins/merge-method-comment/merge-method-comment_test.go
  prow/plugins/verify-owners/verify-owners.go
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/tide, area/prow/plugins

#25991 removing gce-windows-2004 jobs - Windows Server 2004 is no longer being serviced
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.21.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.22.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.23.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/release, sig/windows, area/jobs, area/config, area/release-eng

#25995 Avoid build cluster onboarding with short-lived kubeconfig
  prow/create-build-cluster.sh
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#25996 Kops - cleanup failing kopeio jobs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#24703 Added entry in testgrid for v1.23 conformance results of s390x
  config/testgrids/conformance/conformance-all.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing, area/config, ok-to-test

#25738 Add Gardener test results for K8s v1.23
  config/testgrids/conformance/conformance-all.yaml
  config/testgrids/gardener/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/config, ok-to-test

#25997 kubeadm: add dryrun e2e test job
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-dryrun.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#25994 Drop perma failing vsphere related CI jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-periodics.yaml
  config/jobs/kubernetes/cloud-provider-vsphere/cloud-provider-vsphere-config.yaml
  config/testgrids/config.yaml
  config/testgrids/conformance/conformance-all.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/provider/vmware, sig/cloud-provider, area/config

#26005 Drop perma-fail ci-kubernetes-e2e-gce-taint-evict CI job
  config/jobs/kubernetes/sig-apps/sig-apps-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/apps, sig/testing, area/jobs, area/config

#25874 Add a new periodic job to test CAPA e2e with ClusterClass
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics-clusterclass.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#26001 chore: remove failing ipv6 and windows dual-stack jobs
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes/sig-network/dualstack-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/network, area/provider/azure, sig/testing, area/jobs, area/config

#26007 Drop ci-kubemci-ingress-conformance CI job
  config/jobs/GoogleCloudPlatform/k8s-multicluster-ingress/k8s-multicluster-ingress-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#26008 Downgrade deck to v20220414-949f7bddd3
  config/prow/cluster/deck_deployment.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config, area/prow/bump

#26011 Revert deck sorting
  config/prow/cluster/deck_deployment.yaml
  prow/deck/jobs/jobs.go
  prow/deck/jobs/jobs_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/config, area/prow/deck, area/prow/bump

#26014 Kops - remove grid jobs for deprecated distros
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/helpers.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/testgrids/kubernetes/kops/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26013 Revert "Revert "Deck: Sort consistently""
  prow/deck/jobs/jobs.go
  prow/deck/jobs/jobs_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/deck

#25981 Prefer to build Ginkgo V2
  experiment/kind-conformance-image-e2e.sh
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing

#26017 switch performance tests to use containerd master instead of pre-inst…
  config/jobs/kubernetes/sig-node/containerd.yaml
  jobs/e2e_node/containerd/containerd-master/perf-image-config.yaml
  jobs/e2e_node/perf-image-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, kind/failing-test, sig/node, area/jobs, area/config

#26020 Create a script to find recently annotated builds
  experiment/ml/prowlog/collect-annotations.sh
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing

#26021 Disabled greenhouse
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#26022 Create script to collect from k8s-prow
  experiment/ml/prowlog/annotations.tsv
  experiment/ml/prowlog/collect-annotations.sh
  experiment/ml/prowlog/collect-k8s.sh
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing

#26015 releng: Branch job generator fixes
  releng/README.md
  releng/config-rotator/main.go
  releng/config-rotator/main_test.go
  releng/test_config.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#26002 [release-1.24] Update kubekins e2e image variants
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, priority/critical-urgent, sig/testing, sig/release, area/images, area/release-eng

#26026 kOps - Increase the time needed for pull-kops-bazel-build
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26027 kOps - Increase the time needed for pull-kops-bazel-build
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26032 Kops - remove unrecognized ipv6 feature flag
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26012 Drop perma-failing kops based ci-kubernetes-e2e-storage-selinux CI job
  config/jobs/kubernetes/sig-storage/sig-storage-kops-config.yaml
  config/testgrids/kubernetes/sig-storage/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, sig/storage, area/jobs, area/config

#26033 Add more assisted service jobs to openshift assisted-installer testgrid
  config/testgrids/openshift/assisted-installer.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XL, approved, sig/testing, area/config, ok-to-test

#26035 Remove kops 1.22 grid jobs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#25999 Remove microbenchmarks job
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/scalability, area/jobs, area/config

#26036 AllAlpha based job needs a tweak for DisableKubeletCloudCredentialProviders feature
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#25903 Updated the k8s version used in the ci test (e2e) done with prow
  config/jobs/kubernetes-sigs/kubebuilder/kubebuilder-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#26025 Remove extra "-update" from prow-controller-manager
  config/prow/cluster/prow_controller_manager_rbac.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config, ok-to-test, area/prow/bump

#26000 sig-node: add endocrimes as test-infra approver
  config/jobs/kubernetes/sig-node/OWNERS
  config/testgrids/kubernetes/sig-node/OWNERS
  jobs/e2e_node/OWNERS
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#26004 [release-1.24] Update release branch jobs
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.20.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.21.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.23.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.24.yaml
  config/testgrids/kubernetes/presubmits/config.yaml
  config/testgrids/kubernetes/sig-release/config.yaml
  config/testgrids/kubernetes/sig-windows/config.yaml
  gubernator/config.yaml
  releng/test_config.yaml
Labels: lgtm, area/gubernator, area/testgrid, cncf-cla: yes, size/XXL, approved, priority/critical-urgent, sig/testing, sig/release, sig/windows, area/jobs, area/config, area/release-eng

#26003 prow/plugins: update milestone-applier rules to reflect 1.24 release
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, priority/critical-urgent, sig/testing, sig/release, area/config, area/release-eng

#26038 Fix GINKGO_ARGS for cluster-api-provider-aws-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#25930 Deck: allow app auth
  prow/cmd/deck/main.go
  prow/flagutil/github.go
  prow/prstatus/prstatus.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/deck, tide/merge-method-squash, ok-to-test

#25841 run-in-node-container: support rootless mode
  hack/run-in-node-container.sh
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, ok-to-test

#26047 Annotate some prow failures.
  experiment/ml/prowlog/annotations.tsv
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing

#25917 Prow secret agent: Add secret parsing hook mechanism
  .go-version
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  prow/config/secret/agent.go
  prow/config/secret/agent_test.go
  prow/config/secret/reloader.go
  prow/config/secret/secret.go
  prow/flagutil/github.go
  prow/plugins/golint/suggestion/golint_suggestion.go
  prow/prstatus/prstatus.go
  prow/spyglass/lenses/links/links.go
  testgrid/cmd/transfigure/cmd/transfigure.go
Labels: lgtm, area/testgrid, area/prow, cncf-cla: yes, size/XL, approved, sig/testing, area/prow/spyglass, area/prow/plugins

#26016 fix: Periodic e2e tests for azuredisk main_v2
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-v2-periodics-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config, ok-to-test

#26051 add label matcher for cloud-provider-azure
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#26043 pull containerd as I switched to use containerd main branch
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#25779 kubeadm: add kinder test jobs for k8s 1.24
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-discovery.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-dryrun.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-ca.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-etcd.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-kubelet-x-on-y.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-patches.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-upgrade.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-x-on-y.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder.yaml
Labels: lgtm, cncf-cla: yes, area/kubetest, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26054 Windows GCE: Use containerd for containerd jobs
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.22.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.23.yaml
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, sig/windows, area/jobs, area/config, area/release-eng

#26046 Add labels to `ConfigMaps` created by `updateconfig`
  prow/cmd/config-bootstrapper/main_test.go
  prow/plugins/updateconfig/updateconfig.go
  prow/plugins/updateconfig/updateconfig_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, ok-to-test, area/prow/config-bootstrapper, area/prow/plugins

#26049 azure: use release-1.2 branch for capz v1beta1 periodic tests
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-release-v1beta1.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26063 Kops - use stable Ubuntu 22.04 AMIs
  config/jobs/kubernetes/kops/helpers.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#26058 don't create linux worker nodes for some capz windows test clusters
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#26052 Fix the flaking issue for the job `pull-kubernetes-e2e-gce-storage-slow`
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/storage, area/jobs, area/config

#26066 Implement github client method FindIssuesWithOrg
  prow/github/client.go
  prow/github/client_test.go
Labels: lgtm, area/prow, cncf-cla: yes, needs-ok-to-test, size/M, approved, sig/testing, tide/merge-method-squash
