Repository kubernetes/test-infra, pull requests merged in 2023-10, with the labels that each got.

#30925 peribolos: bump ci jobs timeout to 150m
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/contributor-experience, area/jobs, area/config

#30926 Split disruptive and serial kops e2e tests
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30917 gcp: migrate pull-kubernetes-e2e-gce-device-plugin-gpu
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gcp-gpu-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#30867 Feature: Add 1.28 cluster for job generation
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/csi-release-tools/csi-release-tools-config.yaml
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/external-resizer/external-resizer-config.yaml
  config/jobs/kubernetes-csi/external-snapshotter/external-snapshotter-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/livenessprobe/livenessprobe-config.yaml
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, area/jobs, area/config, ok-to-test

#30909 Increase pdcsi prow integration test timeout to 120m
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#30918 fix community cluster jobs that require no new ignition files
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#30919 community cluster test job
  config/jobs/kubernetes/sig-node/crio.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#30924 Unify v1 and v2 git clients.
  prow/cmd/config-bootstrapper/main_test.go
  prow/config/inrepoconfig_test.go
  prow/external-plugins/cherrypicker/server_test.go
  prow/flagutil/git.go
  prow/flagutil/github.go
  prow/git/git.go
  prow/git/git_test.go
  prow/git/git_unit_test.go
  prow/git/localgit/localgit.go
  prow/git/v2/adapter.go
  prow/git/v2/client_factory.go
  prow/git/v2/remote.go
  prow/git/v2/remote_test.go
  prow/plugins/buildifier/buildifier_test.go
  prow/plugins/golint/golint_test.go
  prow/plugins/mergecommitblocker/mergecommitblocker_test.go
  prow/plugins/reward-owners/reward-owners_test.go
  prow/plugins/updateconfig/updateconfig_test.go
  prow/plugins/verify-owners/verify-owners_test.go
  prow/repoowners/repoowners_test.go
  prow/tide/tide_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XXL, approved, sig/testing, area/prow/tide, area/prow/config-bootstrapper, area/prow/plugins

#30861 Cleanup K8S v1.22 and v1.23 dashboards for Gardener
  config/testgrids/conformance/conformance-all.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, kind/cleanup, area/config, ok-to-test

#30932 Fix path alias
  config/jobs/kubernetes-sigs/gcp-filestore-csi-driver/gcp-filestore-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#30933 Add CAPZ presubmit for ipv6 ci conformance
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30939 k8s-infra: Add ExternalSecret for kOps build cluster
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/config, area/prow/bump

#30941 kubernetes-sigs/nfd-operator: bump Go version to v1.21
  config/jobs/kubernetes-sigs/node-feature-discovery-operator/node-feature-discovery-operator-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#30942 typo in branch name for containerd
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#30944 CAPZ: add dual stack ci test and fix ipv6 variables
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30934 Add Prow repo sparse checkout metrics
  prow/git/v2/client_factory.go
  prow/git/v2/interactor.go
  prow/git/v2/interactor_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing

#30945 Fix broken alpha kops test
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30948 Add sig/etcd label into all Kubernetes Issues and PRs
  label_sync/labels.md
  label_sync/labels.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/contributor-experience, area/label_sync

#30940 kubernetes-sigs/nfd: bump Go version to v1.21
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-postsubmits.yaml
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#30950 kOps: Increase resources for DigitalOcean pre-submits
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30951 update tejolote jobs to use go1.21
  config/jobs/kubernetes-sigs/tejolote/tejolote-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#30953 Add a new AWS kubeup to kops test
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30936 DRA e2e: exclude serial tests
  config/jobs/kubernetes/sig-node/dynamic-resource-allocation.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#30954 update BOM jobs to use Go1.21
  config/jobs/kubernetes-sigs/bom/bom-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#30955 kubernetes-sigs/nfd: update e2e test config
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-postsubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#30956 Fix: Gerrit adapter does not skip processing postsubmit jobs
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/gerrit

#30790 Update prow jobs and image builds for latest COSI KEP changes
  config/jobs/image-pushing/k8s-staging-sig-storage.sh
  config/jobs/image-pushing/k8s-staging-sig-storage.yaml
  config/jobs/kubernetes-sigs/container-object-storage-interface/container-object-storage-interface-csi-adapter.yaml
  config/jobs/kubernetes-sigs/container-object-storage-interface/container-object-storage-interface-provisioner-sidecar.yaml
  config/testgrids/kubernetes/sig-storage/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config, ok-to-test

#30961 run kind alpha presubmit with all tests
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#30960 pull-kubernetes-e2e-kind-alpha-features: enable also beta features
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#30964 CAPZ: remove workaround for ipv6 issue
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30962 Move controlplane instances to amd arch
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config, ok-to-test

#30966 feat: adding missing jobs for CAPA v2.2.x release series
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics-release-2.2.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits-release-2.2.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, area/jobs, area/config

#30943 k8s-infra: Add a test prowjobs for kOps CI
  config/jobs/kubernetes/sig-k8s-infra/periodics.yaml
  config/tests/jobs/jobs_test.go
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, tide/merge-method-squash, sig/k8s-infra

#30967 kubernetes-sigs/nfd: update e2e test config
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-postsubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#30965 Disable enhancements project board job for 1.29 Enhancement Freeze
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-release-release-team-jobs/release-team-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#30969 Migrate kops GCE presubmits to community cluster
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30970 Reduce the size of controlplane for small scale test
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config, ok-to-test

#30666 migrate additional `sig-cli` job to community cluster
  config/jobs/kubernetes/sig-cli/sig-cli-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/cli, sig/testing, area/jobs, area/config

#30974 Create the kubeup to kops test suite for AWS & AL2023
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30971 Implement PushToNamedFork in the git v2 client.
  prow/git/v2/fakes.go
  prow/git/v2/publisher.go
  prow/git/v2/publisher_test.go
  prow/git/v2/remote.go
  prow/git/v2/remote_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing

#30977 Pin AL2023 to a working image
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30978 Pin AL2023 to a working image - part two
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30982 Use latest k8s for OOT credential provider job
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#30983 run external e2e test on capz cluster
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#30985 Update kubekins-e2e to Go 1.20.9 and 1.21.2
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/images, area/release-eng

#30986 Add nfs package to slow AWS kops tests
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30988 Remove capg-conformance-main-ci-artifacts from sig-release-master-informing dashboard
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30989 add ubuntu kops aws jobs and mark some presubmits as optional
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30410 prow components: use newer version of git
  .ko.yaml
  prow/config/inrepoconfig.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XL, approved, sig/testing

#30987 run external e2e tests on capz cluster
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, area/jobs, area/config

#30995 Remove kubepkg related jobs
  config/jobs/image-pushing/releng/k8s-staging-releng.yaml
  config/jobs/kubernetes/release/release-config.yaml
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#30998 add python3-venv to bootstrap image
  images/bootstrap/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#31000 bump bootstrap to v20231010-bd36d53e9f
  images/kubekins-e2e/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#31001 Rolling Gateway API forward to kubekins-e2e image with venv
  config/jobs/kubernetes-sigs/gateway-api/gateway-api-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#30996 update make command
  config/jobs/kubernetes/cloud-provider-alibaba-cloud/cloud-provider-alibaba-cloud-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, sig/cloud-provider, area/config

#31004 disable a few e2e tests by default
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31003 Move to newer COS image versions
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gcp-gpu-presubmits.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/gcp, sig/testing, sig/node, area/jobs, sig/cloud-provider, area/config

#31007 [ci-containerd-e2e-ubuntu-gce] Switch to newer LTS for ubuntu
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#31008 [sig-network/sig-network-misc] update usages of ubuntu focal to jammy in GCE images
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/network, sig/testing, area/jobs, area/config

#30949 Add all CRI-O jobs to `sig-node-cri-o` dashboard
  config/jobs/kubernetes/sig-node/dynamic-resource-allocation.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#31006 Disable pprof debug endpoint
  experiment/ml/analyze/http.go
  gcsweb/cmd/gcsweb/gcsweb.go
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing

#30959 Log primary clone failures
  prow/git/v2/client_factory.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing

#31012 Update k8s-staging-cloud-provider-gcp.yaml
  config/jobs/image-pushing/k8s-staging-cloud-provider-gcp.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#30957 convert crio periodics to communinity clusters
  config/jobs/kubernetes/sig-node/crio.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#31016 bump cos version to 109 due to libgc issue
  config/jobs/kubernetes/sig-node/containerd.yaml
  jobs/e2e_node/containerd/k8s-release-branches/image-config-1.25.yaml
  jobs/e2e_node/containerd/k8s-release-branches/image-config-1.26.yaml
  jobs/e2e_node/containerd/k8s-release-branches/image-config-1.27.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#31018 Update kubekins-e2e to Go 1.20.10 and 1.21.3
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/images, area/release-eng

#31017 use 109 for release 1.28 rather than beta
  jobs/e2e_node/containerd/k8s-release-branches/image-config-1.28.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node

#31022 Bump timeout on pull snapshot jobs as they're very close to the limit.
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/storage, area/jobs, area/config

#31023 Build kubernetes from scratch using kops
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31024 match on gcp tags to build images
  config/jobs/image-pushing/k8s-staging-cloud-provider-gcp.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31027 pull-containerd-legacy-cri-node-e2e is not needed anymore
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#31031 enable dind for kops/kube build job
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31033 Update API review project links
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/architecture, sig/contributor-experience

#31035 gcloud-terraform: update terraform to latest version
  images/gcloud-terraform/Dockerfile
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/images

#31029 update capdo janitor job
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-periodics-janitor.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31030 Update jobs for capdo
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-periodics-release-1-4.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-presubmits-release-1-2.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-presubmits-release-1-4.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, area/jobs, area/config

#31025 Add periodic azure ipv6 and dual stack jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/generate.sh
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.25.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.26.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.27.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.28.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-master.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, sig/cloud-provider, area/config

#31036 Update csi-driver-host-path version to 1.12
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/csi-release-tools/csi-release-tools-config.yaml
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/external-resizer/external-resizer-config.yaml
  config/jobs/kubernetes-csi/external-snapshotter/external-snapshotter-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/livenessprobe/livenessprobe-config.yaml
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#31037 Work around bug in gcloud when downloading logs
  logexporter/cluster/log-dump.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#31032 increase timeout for windows host process test
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#30990 verify: simplify and rename golangci-lint PR jobs
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.27.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.28.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
  gubernator/config.yaml
Labels: lgtm, area/gubernator, cncf-cla: yes, size/M, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#31011 update oncall github slack associations
  experiment/slack-oncall-updater/main.go
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, ok-to-test

#31028 Move all other CRI-O jobs to k8s-infra-prow-build
  config/jobs/kubernetes/sig-node/crio.yaml
  config/jobs/kubernetes/sig-node/dynamic-resource-allocation.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  jobs/e2e_node/crio/crio-with-1G-hugepages.ign
  jobs/e2e_node/crio/crio.ign
  jobs/e2e_node/crio/templates/crio-with-1G-hugepages.yaml
  jobs/e2e_node/crio/templates/crio.yaml
  jobs/e2e_node/crio/templates/generate
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#31043 drop project type from community migrated jobs
  config/jobs/kubernetes/sig-node/crio.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#31021 swap fedora jobs use crio so should display in crio testgrid tab
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#31047 Cleanup CRI-O ignition config generation
  config/jobs/kubernetes/sig-node/crio.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  jobs/e2e_node/crio/README.md
  jobs/e2e_node/crio/crio_cgroupsv1.ign
  jobs/e2e_node/crio/crio_cgroupsv1_eventedpleg.ign
  jobs/e2e_node/crio/crio_cgroupsv1_hugepages.ign
  jobs/e2e_node/crio/crio_cgroupsv2.ign
  jobs/e2e_node/crio/crio_cgroupsv2_swap1g.ign
  jobs/e2e_node/crio/crio_cgrpv2.ign
  jobs/e2e_node/crio/crio_cgrpv2_serial.ign
  jobs/e2e_node/crio/crio_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/crio_serial.ign
  jobs/e2e_node/crio/latest/image-config-cgrpv1-evented-pleg.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv1-hugepages.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv1-k8s-infra-prow-build-kubetest2.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv1-k8s-infra-prow-build.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv1-resource-managers.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv1-serial.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv1.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv2-k8s-infra-prow-build-kubetest2.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv2-k8s-infra-prow-build.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv2-serial.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv2-swap1g.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv2.yaml
  jobs/e2e_node/crio/templates/base/authorized-key.yaml
  jobs/e2e_node/crio/templates/base/eventedpleg.yaml
  jobs/e2e_node/crio/templates/base/hugepages.yaml
  jobs/e2e_node/crio/templates/base/root.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1_eventedpleg.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1_hugepages.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2_swap1g.yaml
  jobs/e2e_node/crio/templates/crio_cgrpv2.yaml
  jobs/e2e_node/crio/templates/crio_cgrpv2_serial.yaml
  jobs/e2e_node/crio/templates/crio_k8s_infra_prow_build.yaml
  jobs/e2e_node/crio/templates/crio_serial.yaml
  jobs/e2e_node/crio/templates/generate
  jobs/e2e_node/swap/image-config-swap-fedora.yaml
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing, sig/node, area/jobs, area/config

#31019 Add timeout to test args for CRIO Eviction
  config/jobs/kubernetes/sig-node/crio.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#31055 Cleanup and also run controlplane on amd instance types for cl2
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31056 CAPZ: use main branch for dual stack jobs
  config/jobs/kubernetes/sig-cloud-provider/azure/generate.sh
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.25.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.26.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.27.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.28.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-master.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, sig/cloud-provider, area/config

#31059 kOps: Switch from c6g to c5 instances for periodic scale test
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-ec2.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#30476 New presubmits using kubetest2-ec2 on arm64
  config/jobs/kubernetes/sig-testing/ec2-e2e.yaml
  config/testgrids/kubernetes/presubmits/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#31066 APIServer SLOs for 5k
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31053 verify: enable verify-golangci-lint in separate job
  config/jobs/kubernetes/sig-testing/verify.yaml
  gubernator/config.yaml
Labels: lgtm, area/gubernator, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#31065 node: resource-mgrs: Run resource manager tests on multi-NUMA
  jobs/e2e_node/containerd/image-config-serial-resource-managers.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node

#31034 serial jobs for fedora and crio should have similar timeouts
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#31051 add containerd to huge pages for containerd job
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#31054 Clone containerd for ci-cos-cgroupv2-containerd-node-e2e
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#31067 Add new test-infra oncallers
  OWNERS_ALIASES
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#30997 GeneralizeComment function - github client
  prow/github/helpers.go
  prow/hook/events.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/hook, ok-to-test

#31069 add an extra character to extra log to avoid parse issue
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#31070 add a periodic kind job to get signal on alpha features
  config/jobs/kubernetes/sig-testing/kubernetes-kind.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#31073 conformance e2e jobs run already fro kubernetes folder
  config/jobs/kubernetes/sig-testing/conformance-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31042 Respect terminated_pod_ttl for periodic ProwJobs
  prow/cmd/sinker/main.go
Labels: lgtm, area/prow, cncf-cla: yes, kind/bug, size/XS, approved, sig/testing, priority/important-longterm, area/prow/sinker

#31045 CAPZ: add presubmit for custom k8s build conformance
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31078 add coverage for alpha, beta and alpha and beta
  config/jobs/kubernetes/sig-testing/kubernetes-kind.yaml
  config/testgrids/kubernetes/presubmits/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#31080 Use release-1.11 CAPZ for credential provivder job
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31077 crio: move get script to new location
  jobs/e2e_node/crio/crio_cgroupsv1.ign
  jobs/e2e_node/crio/crio_cgroupsv1_eventedpleg.ign
  jobs/e2e_node/crio/crio_cgroupsv1_hugepages.ign
  jobs/e2e_node/crio/crio_cgroupsv2.ign
  jobs/e2e_node/crio/crio_cgroupsv2_swap1g.ign
  jobs/e2e_node/crio/templates/base/root.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1_eventedpleg.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1_hugepages.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2_swap1g.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node

#31083 Bump golang to 1.20.10 to address CVE-2023-44487
  config/jobs/kubernetes-sigs/cluster-capacity/cluster-capacity-presubmits-release-1.27.yaml
  config/jobs/kubernetes-sigs/cluster-capacity/cluster-capacity-presubmits-release-1.28.yaml
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-release-1.27.yaml
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-release-1.28.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#31084 fix conformance e2e image jobs
  config/jobs/kubernetes/sig-testing/conformance-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31087 Log more information on scp attempts in log-dump.sh
  logexporter/cluster/log-dump.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#31088 Revert "crio: move get script to new location"
  jobs/e2e_node/crio/crio_cgroupsv1.ign
  jobs/e2e_node/crio/crio_cgroupsv1_eventedpleg.ign
  jobs/e2e_node/crio/crio_cgroupsv1_hugepages.ign
  jobs/e2e_node/crio/crio_cgroupsv2.ign
  jobs/e2e_node/crio/crio_cgroupsv2_swap1g.ign
  jobs/e2e_node/crio/templates/base/root.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1_eventedpleg.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1_hugepages.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2_swap1g.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node

#31076 Reduce curl calls to GH by eliminating duplicate CVEs
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-security-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test, sig/k8s-infra

#31089 mark build k/k in kops job as required and fix serial test
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presets.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits.yaml
  config/jobs/kubernetes/kops/templates/periodic.yaml.jinja
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30322 migrate `apiserver-network-proxy` to community cluster
  config/jobs/kubernetes-sigs/apiserver-network-proxy/apiserver-network-proxy-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, ok-to-test

#31091 Revert "conformance e2e jobs run already fro kubernetes folder"
  config/jobs/kubernetes/sig-testing/conformance-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31092 fix typo on kind alpha beta jobs
  config/jobs/kubernetes/sig-testing/kubernetes-kind.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31099 kOps: Bump AMIs
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31095 migrate `cloud-provider-gcp` jobs to community cluster
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#31100 migrate `sig-auth` kms jobs to community cluster
  config/jobs/kubernetes/sig-auth/sig-auth-encryption-at-rest.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/auth, area/jobs, area/config

#31096 add `release` job canary to community cluster
  config/jobs/kubernetes/release/release-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#31103 migrate `sig-insturmentation` jobs to community cluster
  config/jobs/kubernetes/sig-instrumentation/sig-instrumentation-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/instrumentation, area/jobs, area/config

#31094 Create the canary kops version of `pull-kubernetes-e2e-gce` job for k/k
  config/jobs/kubernetes/kops/kubernetes-presubmits.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.25.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.26.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.27.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.28.yaml
  config/testgrids/kubernetes/presubmits/config.yaml
  gubernator/config.yaml
  metrics/configs/pr-consistency-config.yaml
  metrics/configs/weekly-consistency-config.yaml
Labels: lgtm, area/gubernator, area/testgrid, cncf-cla: yes, area/metrics, size/L, approved, area/provider/gcp, sig/testing, sig/cluster-lifecycle, sig/release, area/jobs, sig/cloud-provider, area/config, area/release-eng

#31114 CAPI: Drop release-1.3 1.18-> 1.19 test
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-3-upgrades.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#31115 crio: wait for network manager online service
  jobs/e2e_node/crio/crio_cgroupsv2.ign
  jobs/e2e_node/crio/crio_cgroupsv2_swap1g.ign
  jobs/e2e_node/crio/templates/base/root.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2_swap1g.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node

#31106 CAPZ: add windows custom builds presubmit
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31116 move gcp jobs for vSphere CSI Driver to default cluster
  config/jobs/kubernetes-sigs/vsphere-csi-driver/vsphere-csi-driver.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31107 split serial jobs to serial & disruptive and add nfs-common pkg
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#31121 Add a dry run scp step in log-dump
  logexporter/cluster/log-dump.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#31124 CRI-O: add link to testgrid dashboard
  jobs/e2e_node/crio/README.md
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node

#31120 kOps: Make Cilium ENI test optional
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31126 CAPZ: shorten job names for windows custom builds
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31123 skip test 'Should be able to support the 1.17 Sample API Server using the current Aggregator'
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config, tide/merge-method-squash, ok-to-test

#31127 CAPZ: fix typo in job name
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31112 Add kind/gep label for kubernetes-sigs/gateway-api PRs
  label_sync/labels.md
  label_sync/labels.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/contributor-experience, area/label_sync, ok-to-test

#31131 Increase verbosity of scp in log-dump
  logexporter/cluster/log-dump.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#31130 Measure APIServer SLOs using CL2 Periodic Jobs on AWS
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-ec2.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/scalability, area/jobs, area/config

#31134 fix swap feature toggles
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#31128 Add presubmits and milestone for release-0.5 branch
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-5.yaml
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#31137 skip PodHostIPs on dual stack tests
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#30783 Sync node serial test on arm64 with periodic job
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#31142 Golang update to 1.20
  config/jobs/kubernetes-sigs/ibm-vpc-block-csi-driver/ibm-vpc-block-csi-driver.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, area/jobs, area/config

#31143 kOps: Increase post-submit job memory
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31144 Update capg jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-periodics-release-1-5.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits-release-1-5.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/gcp, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31145 drop lint job for CAPDO release-1.4 branch
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-presubmits-release-1-4.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/gcp, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31146 adding a windows presubmit job to validate updates to our PR job templates
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/windows, area/jobs, area/config

#31136 Prevent race that allows concurrency to exceed the configured JobQueueCapacity.
  prow/plank/reconciler.go
  prow/plank/reconciler_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/plank

#31148 Create the kops version of `ci-kubernetes-e2e-gci-gce-reboot` job
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31153 Increase logging around log-dump
  logexporter/cluster/log-dump.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#31156 Add email in kueue periodic testgrids
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#31152 Cloudprovider-azure: skip ci test if only go.sum changed
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config
