Repository kubernetes/test-infra, pull requests merged in 2023-12, with the labels that each got.

#31346 [kops] Pin cilium-eni jobs to Ubuntu 20.04
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31348 switch aks-engine tests to capz tests
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31336 Enable `cherry-pick-approved` prow plugin
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config

#31344 karpenter: run per-version PR presubmit tests
  config/jobs/kubernetes-sigs/karpenter/karpenter-presubmit-main.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#31352 sig-windows: Adjust GINKGO_SKIP to allow running NodeLogQuery tests
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#31353 [kubetest2-ec2] simplify the ci job definitions by moving code into a script
  config/jobs/kubernetes/sig-testing/ec2-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#31354 Update sig-windows OWNERS
  OWNERS_ALIASES
  config/jobs/kubernetes-sigs/sig-windows/OWNERS
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/windows, area/jobs, area/config

#31355 azure: use new cloud-provider-azure templates for CAPZ tests
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.25.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.26.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.27.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.28.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31356 azure: update CAPZ-dependent tests to latest v1.12 release
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-v2-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.25.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.26.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.27.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.28.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-v1beta1-release-1.11.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.26-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.26-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.27-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.27-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.28-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.28-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/soak-tests.yaml
  config/jobs/kubernetes-sigs/sig-windows/windows-experimental.yaml
  config/jobs/kubernetes-sigs/sig-windows/windows-op-tests.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.29.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, sig/release, sig/windows, area/jobs, area/config, area/release-eng

#31357 Switch to the regular janitor for aws
  config/jobs/kubernetes/sig-testing/ec2-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#31358 clean only us-east-1 as we do not use other regions
  config/jobs/kubernetes/sig-testing/ec2-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31359 Enable gofailpoint for e2e test
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#31361 Specify node-os-arch for al2023 ci jobs
  config/jobs/kubernetes/sig-testing/ec2-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31366 Bump go version to 1.21 for controller-runtime
  config/jobs/kubernetes-sigs/controller-runtime/controller-runtime-periodics-main.yaml
  config/jobs/kubernetes-sigs/controller-runtime/controller-runtime-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31363 disable aks-engine tests and enable capz tests for smb csi driver
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#31369 Bump jobset presubmit resources
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#31368 fix job optional for metrics-server
  config/jobs/kubernetes-sigs/metrics-server/metrics-server-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/instrumentation, area/jobs, area/config

#31201 The prow-controller-manager role is missing get permissions
  config/prow/cluster/starter/starter-azure.yaml
  config/prow/cluster/starter/starter-gcs.yaml
  config/prow/cluster/starter/starter-s3-kind.yaml
  config/prow/cluster/starter/starter-s3.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config, ok-to-test, area/prow/bump

#31371 Increase interval for 5k nodes test on AWS
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-ec2.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#31373 k8s-infra: Add a prowjob to investigate EKS Pod identity
  config/jobs/kubernetes/sig-k8s-infra/periodics.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#31375 fix broken capz tests on csi-driver-smb repo
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31301 inrepoconfig: advance the base branch HEAD
  go.mod
  go.sum
  prow/cmd/deck/pr_history.go
  prow/config/cache.go
  prow/config/cache_test.go
  prow/config/config.go
  prow/config/config_test.go
  prow/config/inrepoconfig.go
  prow/config/inrepoconfig_test.go
  prow/config/tide.go
  prow/config/tide_test.go
  prow/gangway/gangway.go
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
  prow/git/v2/client_factory.go
  prow/git/v2/interactor.go
  prow/moonraker/client.go
  prow/moonraker/moonraker.go
  prow/plugins/override/override.go
  prow/plugins/skip/skip.go
  prow/plugins/trigger/trigger.go
  prow/plugins/trigger/trigger_test.go
  prow/pubsub/subscriber/subscriber_test.go
  prow/test/integration/config/prow/cluster/moonraker_deployment.yaml
  prow/test/integration/config/prow/config.yaml
  prow/test/integration/test/moonraker_test.go
  prow/test/integration/test/setup.go
  prow/tide/codereview.go
  prow/tide/gerrit.go
  prow/tide/github.go
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XL, approved, sig/testing, area/prow/gerrit, area/prow/deck, area/prow/tide, area/prow/pubsub, area/prow/plugins

#31378 change default merge method for Karpenter to squash
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#31379 fix typo
  prow/test/integration/test/moonraker_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#31367 add image build job for k-sigs/cluster-api-ipam-provider-in-cluster
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#31383 Add post-k8sio-deploy-app-k8s-io-packages job
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-apps.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#31350 Prevent clients created with `GitHubOptions.GitClientFactory` from leaking secrets
  prow/flagutil/github.go
Labels: lgtm, area/prow, cncf-cla: yes, kind/bug, size/XS, approved, sig/testing, ok-to-test

#31376 migrate cluster-api 1.6 jobs to community clusters
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-6-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-6.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-1-6.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config, ok-to-test

#30813 Add ResultStore Reporter to Crier
  config/prow/cluster/prowjob-crd/prowjob_customresourcedefinition.yaml
  prow/apis/prowjobs/v1/types.go
  prow/apis/prowjobs/v1/zz_generated.deepcopy.go
  prow/cmd/crier/main.go
  prow/cmd/crier/main_test.go
  prow/crier/reporters/gcs/util/util.go
  prow/crier/reporters/resultstore/reporter.go
  prow/crier/reporters/resultstore/reporter_test.go
  prow/resultstore/client.go
  prow/resultstore/files.go
  prow/resultstore/files_test.go
  prow/resultstore/payload.go
  prow/resultstore/payload_test.go
  prow/resultstore/uploader.go
  prow/resultstore/writer/writer.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XXL, approved, sig/testing, area/config, ok-to-test, area/prow/bump, area/prow/crier

#31385 Make duplicate job error messages more readable and actionable.
  prow/config/config.go
  prow/config/config_test.go
  prow/config/inrepoconfig_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing

#31388 Dang! bump parallel tests - no wonder arm64 job took longer
  config/jobs/kubernetes/sig-testing/ec2-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31395 Add Serial/Slow/Disruptive tests for AL2023 (both amd64 + arm64)
  config/jobs/kubernetes/sig-cloud-provider/aws/ec2-e2e.yaml
  config/jobs/kubernetes/sig-cloud-provider/aws/periodic-eks-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#31394 Use `review_acts_as_lgtm` for `release-actions` repo
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#31302 integration test: mount git-gc configuration example
  prow/test/integration/config/prow/cluster/git-config-system.yaml
  prow/test/integration/config/prow/cluster/moonraker_deployment.yaml
  prow/test/integration/lib.sh
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing

#31396 Add notifications to alert AWS Team on failures and Release blocking Sig
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-ec2.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#31398 Update kubekins to Go 1.20.12
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#31397 Fix resultstore token encoding and narrow retries
  prow/resultstore/writer/writer.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing

#31402 Bump K8s version for ipv6 and dualstack jobs
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31403 add windows host process test for smb csi driver
  config/jobs/kubernetes-csi/csi-driver-iscsi/csi-driver-iscsi-unmanaged.yaml
  config/jobs/kubernetes-csi/csi-driver-nfs/csi-driver-nfs-unmanaged.yaml
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config, tide/merge-method-squash

#31410 Remove Ids from resultstore resource protos
  prow/resultstore/writer/writer.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing

#31411 enable external cloud provider for the al2023 slow ci jobs
  config/jobs/kubernetes/sig-cloud-provider/aws/periodic-eks-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#31413 kOps: Switch state and discovery store
  config/jobs/kubernetes/sig-k8s-infra/periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#31414 [kubetest2-ec2] Add external load balancer for the slow/loadbalancer related CI jobs
  config/jobs/kubernetes/sig-cloud-provider/aws/periodic-eks-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#31412 fix CSI driver test failure due to incorrect path_alias setting
  config/jobs/kubernetes-csi/csi-driver-nfs/csi-driver-nfs-unmanaged.yaml
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#31417 Specify the aws provider for slow jobs (to prevent some tests from running)
  config/jobs/kubernetes/sig-cloud-provider/aws/periodic-eks-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#31416 run azure disk e2e test with VMSS uniform config
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31419 run azure disk e2e test with VMSS uniform config
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31420 run external e2e tests on capz 1.28 clusters
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31423 drop 1.24 from jobset as its out of support
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#31408 sig-windows: add annual-channel job
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/windows, area/jobs, area/config

#31415 Correct copy of ResultStore ConfigurationId
  prow/resultstore/writer/writer.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#31426 Disable DNS advance tests
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31425 openshift: hypershift: add 4.16 jobs
  config/testgrids/openshift/hypershift.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/config

#31427 Disable Statefulsets in Load jobs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31432 run capz vmss test for azure disk csi driver
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31433 [sig-windows] Add WS label to annual channel
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#29282 Unify build cluster status checking
  prow/cmd/prow-controller-manager/main.go
  prow/flagutil/kubernetes_cluster_clients.go
  prow/plank/controller_test.go
  prow/plank/reconciler.go
  prow/plank/reconciler_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/plank

#31409 Fix: increase gcsK8sReporter report timeout to 20 seconds
  prow/crier/reporters/gcs/kubernetes/reporter.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/crier

#31436 Sync flags from large scale for small scale test run
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31300 fix triage spyglass links for PR runs
  triage/render.js
  triage/script_test.js
Labels: lgtm, area/triage, cncf-cla: yes, size/S, approved, sig/testing

#31431 Resultstore alpha fixes
  prow/resultstore/payload.go
  prow/resultstore/payload_test.go
  prow/resultstore/uploader.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XL, approved, sig/testing

#31439 run pull-blob-csi-driver-external-e2e-nfs on aks 1.28
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31440 Increase pod limits as pods are getting deleted intermittently
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-ec2.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, sig/scalability, area/jobs, area/config

#31434 [release-1.29] Code Thaw and milestone applier for 1.30
  config/prow/config.yaml
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/config

#31444 [aws][janitor] exclude resources tagged with "Shared=True"
  config/jobs/kubernetes/test-infra/janitors.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31443 Add Gardener conformance test results for K8s v1.28
  config/testgrids/conformance/conformance-all.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/config, ok-to-test

#31450 CAPI: bump main presubmits kubekins image to v1.29
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31447 Fix containerd jobs failure: version `GLIBC_2.34' not found
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#31445 karpenter: debug make toolchain integration
  config/jobs/kubernetes-sigs/karpenter/karpenter-presubmit-main.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#31451 CAPI: bump main periodics kubekins image to v1.29
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31455 Add jobs for the release-0.7 branch
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits-release-0.7.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#31458 kOps: specify protocol for the S3 used for pod-identity-sandbox
  config/jobs/kubernetes/sig-k8s-infra/periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#31406 Add new updown-legacy test for kubetest2
  config/jobs/kubernetes-sigs/kubetest2/kubetest2-canaries.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#31418 Don't set node-os-distro flag on kops jobs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31453 Resultstore alpha fixes
  prow/crier/reporters/gcs/reporter.go
  prow/crier/reporters/gcs/util/util.go
  prow/crier/reporters/resultstore/reporter.go
  prow/resultstore/files.go
  prow/resultstore/files_test.go
  prow/resultstore/payload.go
  prow/resultstore/payload_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/crier

#31461 ResultStore: fix trivial bug in defaultFiles
  prow/crier/reporters/resultstore/reporter.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/crier

#31463 2nd attempt to fix 'version GLIBC_2.34 not found' failure
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#31466 pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2: fix 'GLIBC_2.34 not found' failure
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#31464 Skip cloud-provider-aws e2e presubmits on meta file changes
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#31442 Bump gcb-docker-gcloud go version to 1.21.5
  images/gcb-docker-gcloud/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#31470 Fix failing scalability tests
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.27.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.28.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.29.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, sig/release, area/jobs, area/config, area/release-eng

#31471 chore: update CAPO maintainers
  config/jobs/kubernetes-sigs/cluster-api-provider-openstack/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31472 Fix gce conformance jobs
  config/jobs/kubernetes/sig-cloud-provider/gcp/gce-conformance.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#31469 chore: Add e2e test for shared health probe feature in cloud provider…
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, kind/cleanup, area/config

#31456 `gcsweb`: Add bucket alias
  gcsweb/cmd/gcsweb/gcsweb.go
  gcsweb/cmd/gcsweb/gcsweb_test.go
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing

#31468 Use default cos image
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-ci.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gcp-gpu-presubmits.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/gcp, sig/testing, sig/node, area/jobs, sig/cloud-provider, area/config

#31474 fix a typo in release-blocking conformance job
  config/jobs/kubernetes/sig-cloud-provider/gcp/gce-conformance.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#31475 ResultStore: determine content type from filenames
  prow/crier/reporters/resultstore/reporter.go
  prow/resultstore/files.go
  prow/resultstore/files_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/crier

#31476 Fix another conformance typo
  config/jobs/kubernetes/sig-cloud-provider/gcp/gce-conformance.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#31480 add jobset e2e tests on k8 1.29
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#31482 ResultStore: Add .txt mime content type
  prow/resultstore/files.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#31441 CAPI: bump jobs for v1.29
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-6-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-1-6.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31486 Use latest instead of latest-fast for gce conformance
  config/jobs/kubernetes/sig-cloud-provider/gcp/gce-conformance.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#31485 drop jobs from release 0.3 for kueue
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-3.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#31488 ResultStore: correct Repo property
  prow/resultstore/payload.go
  prow/resultstore/payload_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing

#31489 Create dev kops scale test on GCP
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
  config/jobs/kubernetes/kops/templates/presubmit-scenario.yaml.jinja
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31437 Include the registry_package events to the GitHub event server
  prow/github/types.go
  prow/githubeventserver/githubeventserver.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing

#31491 Delete config/testgrids/kyma directory
  config/testgrids/kyma/OWNERS
  config/testgrids/kyma/gen-config.yaml
  config/tests/testgrids/config_test.go
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/config, ok-to-test

#31448 gerrit: trigger jobs coming out of WIP status
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/gerrit

#31490 Unify Gerrit code URL determination
  prow/cmd/deck/main.go
  prow/gerrit/adapter/adapter.go
  prow/gerrit/source/source.go
  prow/gerrit/source/source_test.go
  prow/resultstore/payload.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/gerrit, area/prow/deck

#31494 Fix various kops jobs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31498 Correct typo from 'kubenetes_e2e' to 'kubernetes_e2e'
  config/tests/jobs/jobs_test.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#31500 kubernetes-sigs/nfd: create presubmit for v0.15
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-release-0-15.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#31481 add 1.29 to kueue presubmits
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-5.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#31497 descheduler: update presubmits for 1.29 release
  config/jobs/image-pushing/k8s-staging-descheduler.yaml
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-master.yaml
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-release-1.29.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#31493 Avoid suppressing inrepo config error comments when only processing relevant events.
  prow/config/config.go
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/gerrit

#31505 Comment out the autobump job that auto-deploys Prow for the holidays.
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#31503 don't require pull k/k build job presubmit on the kops repo
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31507 kubernetes-sigs/nfd: add missing cluster field to presubmit config
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31508 kubernetes-sigs/nfd: remove cluster field from presubmit config
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31511 kOps: Use Kubernetes CI version for kube-router tests
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31512 kOps: Make Calico dns=none optional
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31514 don't run NodeFeature on dns jobs
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#31516 use managed identity in capz test
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31515 Add 1.28&1.29 to kind e2e presubmits
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, ok-to-test

#31517 revert to sp based capz cluster
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31364 Fix gcsweb anonymous auth
  gcsweb/cmd/gcsweb/gcsweb.go
  gcsweb/cmd/gcsweb/gcsweb_test.go
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, ok-to-test

#31518 set default merge method to squash for ingress2gateway
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#31519 Update k8s version in several CAPZ tests
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31521 bugfix(config): race condition in TestGetProwYAMLCached
  prow/config/cache_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing
