Repository kubernetes/test-infra, pull requests merged in 2023-02, with the labels that each got.

#28602 cluster-api: use runner for periodic tests
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#28353 capz: Group v1beta1 periodics by release
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-v1beta1-release-1.5.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-v1beta1-release-1.6.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28600 Refactor: extract refs validations in a function
  prow/gangway/gangway.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, ok-to-test

#28314 fix(prow/jenkins-operator): fix log fetching for jenkins job in folder
  prow/cmd/jenkins-operator/logs.go
  prow/cmd/jenkins-operator/logs_test.go
Labels: lgtm, area/prow, cncf-cla: yes, ¯\_(ツ)_/¯, size/M, approved, sig/testing, area/prow/jenkins-operator, ok-to-test

#28579 sig-node: also trigger pull-kubernetes-kind-dra when API changes
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#28606 Update ClusterFuzzLite to latest version
  experiment/clusterfuzzlite/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#28605 Fixes Jira CreateIssue() failing with Internal Server Error
  prow/jira/jira.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, ok-to-test

#28608 Fixes to windows-service-proxy job
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#28611 crio swap: sync the swap configuration
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  jobs/e2e_node/swap/crio_swap1g.ign
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#28615 Switch to go 1.20 for Security Profiles Operator jobs
  config/jobs/kubernetes-sigs/security-profiles-operator/security-profiles-operator-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#28618 Fix `kubelet-gce-e2e-swap-fedora` ci job
  jobs/e2e_node/swap/crio_swap1g.ign
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, ok-to-test

#28619 Revert "kOps: Make ipv6 pre-submits optional"
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28620 add project.yaml file to .clusterfuzzlite
  .clusterfuzzlite/project.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#28621 Add language env var to coverage report CFL job
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#28592 Add a periodic CI job to test the Evented PLEG feature
  config/jobs/kubernetes/sig-node/crio.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, priority/important-soon, area/jobs, area/config, ok-to-test, triage/accepted

#27883 Update pj-on-kind.sh to use `go install`
  prow/pj-on-kind.sh
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, lifecycle/stale, ok-to-test

#28622 crio swap: sync swap jobs, and use prow user
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  jobs/e2e_node/swap/crio_swap1g.ign
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#28624 Add LANGUAGE param to both other fuzz demo jobs
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#28574 kubeadm: add e2e test for etcd learner mode
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-learner-mode.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28631 Remove linter jobs for CAPV releases
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits-release-1.5.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#28628 upgrade back to stable gcloud sdk, now that gsutil 4.19 is included
  images/bootstrap/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#28629 revert to 20230117 testing image for azure csi driver v2 e2e test
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-v2-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config, ok-to-test

#28636 Add autoscaling hpa e2e tests to presubmit checks
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#28635 kubekins-e2e: Bump go canary to 1.20
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#28637 Fix evented pleg periodic ci job
  config/jobs/kubernetes/sig-node/crio.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#28626 Add optional go compatibility unit and integration presubmits
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.23.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.24.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.25.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.26.yaml
  config/jobs/kubernetes/sig-testing/integration.yaml
  config/jobs/kubernetes/sig-testing/make-test.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#28640 capz: test Windows 2022 in ci-entrypoint presubmit
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28641 add unit tests for gangway config
  prow/config/gangway_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing

#28643 gangway: use autogenerated getters to avoid possible panics
  prow/gangway/gangway.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing

#28644 gangway: do not re-initialize logger from scratch
  prow/gangway/gangway.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing

#28645 Chore: reduce logging level for deck and spyglass from warn to debug
  prow/cmd/deck/main.go
  prow/spyglass/artifacts.go
Labels: lgtm, area/prow, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, area/prow/deck, area/prow/spyglass

#28571 gangway Go client and cloud endpoints integration
  hack/make-rules/update/codegen.sh
  prow/cmd/gangway/main.go
  prow/cmd/sub/main.go
  prow/examples/gangway/main.go
  prow/gangway/api_descriptor.pb
  prow/gangway/client/common.go
  prow/gangway/client/google/google.go
  prow/gangway/gangway.go
  prow/pubsub/subscriber/subscriber.go
  prow/test/integration/test/gangway_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XL, approved, sig/testing, area/prow/pubsub

#28451 Add presubmit job for Cluster API Add-on Provider for Helm
  config/jobs/kubernetes-sigs/cluster-api-addon-provider-helm/OWNERS
  config/jobs/kubernetes-sigs/cluster-api-addon-provider-helm/cluster-api-addon-provider-helm-presubmits-main.yaml
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28646 gangway: fix error message
  prow/gangway/gangway.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing

#28649 Bump docker buildx to v0.10.2 for gcb-docker-gcloud
  images/gcb-docker-gcloud/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#28639 upgrade kubekins-e2e to bootstrap with stable gcloud
  images/kubekins-e2e/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#28651 Update kubekins/krte to Go 1.20
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#28519 Use butane generation for `crio.ign`
  jobs/e2e_node/crio/Makefile
  jobs/e2e_node/crio/crio.ign
  jobs/e2e_node/crio/templates/90-disable-auto-updates.toml
  jobs/e2e_node/crio/templates/crio.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node

#28594 Add perf-dash tags for hourly-soak-tests-capz-windows-2019
  config/jobs/kubernetes-sigs/sig-windows/soak-tests.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#28653 Create job to update Prow's ClusterfuzzLite image twice a month
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  experiment/clusterfuzzlite/Dockerfile
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#28656 normalize docker install, install buildx package
  images/bootstrap/Dockerfile
  images/krte/Dockerfile
  images/krte/cloudbuild.yaml
  images/kubekins-e2e/Dockerfile
  images/kubekins-e2e/cloudbuild.yaml
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/images, area/release-eng

#28660 use current go tarball urls, quote 1.20
  images/krte/Dockerfile
  images/kubekins-e2e/Dockerfile
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/images, area/release-eng

#28662 publish gangway images to gcr.io/k8s-prow
  prow/.prow-images.yaml
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#28638 chore: revert capz to 1.6
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-v2-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config, ok-to-test

#28658 skip integration tests for more paths
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#28663 kubekins-e2e: update bootstrap to v20230206-22f4807bdc
  images/kubekins-e2e/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#28642 Remove ignore_skip default.
  config/testgrids/default.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#28657 CAPZ: fix release branch periodics
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-v1beta1-release-1.5.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-v1beta1-release-1.6.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-v1beta1-release-1.7.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28667 Fix sig-auth OWNERS
  config/jobs/kubernetes/sig-auth/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/auth, area/jobs, area/config

#28266 Don't auto-close triaged issues, require re-triage after 1yr
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/contributor-experience, tide/merge-method-squash

#27505 Don't specify exact approver assignment command in approval-required …
  prow/plugins/approve/approve_test.go
  prow/plugins/approve/approvers/approvers_test.go
  prow/plugins/approve/approvers/owners.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/plugins

#28610 capz: clarify ci-entrypoint.sh env vars
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-v2-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.23.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.24.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.25.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.26.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/generate.sh
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.23.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.24.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.25.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.26.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-master.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, area/provider/azure, sig/testing, area/jobs, sig/cloud-provider, area/config

#28590 Add myself as a sig-cluster-lifecycle job approver
  config/jobs/kubernetes/sig-cluster-lifecycle/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28603 Cloud-provider-azure:add branch cleaner and update branch protection policy
  config/prow/config.yaml
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config

#28666 Clarify the plugins field in the configuration
  prow/plugins/config.go
  prow/plugins/plugin-config-documented.yaml
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/plugins

#28675 Add dedicated approvers for `jobs/e2e_node/crio`
  jobs/e2e_node/crio/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node

#28678 Fixed operation filtering in kubetest Down method for gke
  kubetest/gke.go
Labels: lgtm, cncf-cla: yes, area/kubetest, size/XS, approved, sig/testing

#28492 Create jobs to push images to staging for kubernetes/examples
  config/jobs/image-pushing/k8s-staging-examples.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved

#28684 openshift: update hypershift dashboard
  config/testgrids/openshift/hypershift.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/config

#28680 cloud-provider-gcp verify crd presubmit jobs
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#28683 Fix ci-k8s-triage-robot-stale-prs job
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#28685 fix bash error
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#28676 artifacts.k8s.io: presubmit job that includes mirrors
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng, area/artifacts, sig/k8s-infra

#28686 pull-k8sio-file-promo presubmit should guard entire artifacts tree
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng, area/artifacts, sig/k8s-infra

#28687 run pull-kubernetes-cross when a PR likely impacts cross builds
  config/jobs/kubernetes/sig-release/kubernetes-builds.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#28688 clonerefs: mark cloned repositories safe
  prow/pod-utils/clone/clone.go
  prow/pod-utils/clone/clone_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/pod-utilities

#28690 artifacts presubmit job: use current latest image
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng, area/artifacts, sig/k8s-infra

#28695 Revert "Merge pull request #28688 from stevekuznetsov/skuznets/safe-d…
  prow/pod-utils/clone/clone.go
  prow/pod-utils/clone/clone_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/pod-utilities

#28696 Revert "Update Prow to v20230208-c9357f253d"
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-prow.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/build/grandmatriarch.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/halogen.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter/starter-azure.yaml
  config/prow/cluster/starter/starter-gcs.yaml
  config/prow/cluster/starter/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config, area/label_sync, area/prow/bump

#28703 use absolute path
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#28705 Add jobs for the release-0.4 branch
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits-release-0.4.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#28702 Generate CRI-O jobs for serial and prow build
  jobs/e2e_node/crio/crio_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/crio_serial.ign
  jobs/e2e_node/crio/templates/generate
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node

#28706 Fix CRI-O SSH key injection
  jobs/e2e_node/crio/crio_evented_pleg.ign
  jobs/e2e_node/crio/crio_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/crio_serial.ign
  jobs/e2e_node/crio/templates/base/authorized-key.yaml
  jobs/e2e_node/crio/templates/crio_evented_pleg.yaml
  jobs/e2e_node/crio/templates/crio_k8s_infra_prow_build.yaml
  jobs/e2e_node/crio/templates/crio_serial.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node

#28704 artifacts.k8s.io presubmits: bump kpromo to latest CI
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng, area/artifacts, sig/k8s-infra

#28693 sub test: refactor for readability
  prow/test/integration/test/sinker_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing

#28694 codegen.sh: reduce stuttering
  hack/make-rules/update/codegen.sh
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing

#28699 [prow label plugin] Add associated needs-* labels when removing a label category
  prow/plugins/label/label.go
  prow/plugins/label/label_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/plugins

#28672 gangway: add grpc-native healthcheck
  prow/cmd/gangway/main.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing

#28711 fix bigquery image build
  images/bigquery/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#28673 porche postsubmit: include the git dir
  config/jobs/image-pushing/k8s-staging-infra-tools.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#28718 only run verify on master
  config/jobs/kubernetes/sig-network/ingress-gce-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#28714 Enable further CRI-O job generation
  jobs/e2e_node/crio/crio-with-1G-hugepages.ign
  jobs/e2e_node/crio/crio_cgrpv2.ign
  jobs/e2e_node/crio/crio_cgrpv2_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/crio_cgrpv2_serial.ign
  jobs/e2e_node/crio/templates/crio_cgrpv2_k8s_infra_prow_build.yaml
  jobs/e2e_node/crio/templates/crio_cgrpv2_serial.yaml
  jobs/e2e_node/crio/templates/crio_evented_pleg.yaml
  jobs/e2e_node/crio/templates/crio_k8s_infra_prow_build.yaml
  jobs/e2e_node/crio/templates/crio_serial.yaml
  jobs/e2e_node/crio/templates/generate
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node

#28715 Bump crio for fixed handling of oom with cgroupv2
  jobs/e2e_node/crio/crio-with-1G-hugepages.ign
  jobs/e2e_node/crio/crio.ign
  jobs/e2e_node/crio/crio_cgrpv2.ign
  jobs/e2e_node/crio/crio_cgrpv2_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/crio_cgrpv2_serial.ign
  jobs/e2e_node/crio/crio_evented_pleg.ign
  jobs/e2e_node/crio/crio_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/crio_serial.ign
  jobs/e2e_node/crio/templates/base/crio-install.yaml
  jobs/e2e_node/crio/templates/crio-with-1G-hugepages.yaml
  jobs/e2e_node/crio/templates/crio.yaml
  jobs/e2e_node/crio/templates/crio_cgrpv2.yaml
  jobs/e2e_node/crio/templates/crio_cgrpv2_k8s_infra_prow_build.yaml
  jobs/e2e_node/crio/templates/crio_cgrpv2_serial.yaml
  jobs/e2e_node/crio/templates/crio_evented_pleg.yaml
  jobs/e2e_node/crio/templates/crio_k8s_infra_prow_build.yaml
  jobs/e2e_node/crio/templates/crio_serial.yaml
  jobs/e2e_node/swap/crio_swap1g.ign
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node

#28723 crio: finish adding core user to swap and serial jobs
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#28724 Redhat - Remove the Openshift/redhat-osd dash
  config/testgrids/openshift/dedicated.yaml
  config/testgrids/openshift/groups.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/config, ok-to-test

#28729 CRI-O jobs: Make CRI-O systemd unit fail if install fails
  jobs/e2e_node/crio/crio-with-1G-hugepages.ign
  jobs/e2e_node/crio/crio.ign
  jobs/e2e_node/crio/crio_cgrpv2.ign
  jobs/e2e_node/crio/crio_cgrpv2_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/crio_cgrpv2_serial.ign
  jobs/e2e_node/crio/crio_evented_pleg.ign
  jobs/e2e_node/crio/crio_k8s_infra_prow_build.ign
  jobs/e2e_node/crio/crio_serial.ign
  jobs/e2e_node/crio/crio_swap1g.ign
  jobs/e2e_node/crio/templates/base/crio-install.yaml
  jobs/e2e_node/crio/templates/crio-with-1G-hugepages.yaml
  jobs/e2e_node/crio/templates/crio.yaml
  jobs/e2e_node/crio/templates/crio_cgrpv2.yaml
  jobs/e2e_node/crio/templates/crio_cgrpv2_k8s_infra_prow_build.yaml
  jobs/e2e_node/crio/templates/crio_cgrpv2_serial.yaml
  jobs/e2e_node/crio/templates/crio_evented_pleg.yaml
  jobs/e2e_node/crio/templates/crio_k8s_infra_prow_build.yaml
  jobs/e2e_node/crio/templates/crio_serial.yaml
  jobs/e2e_node/crio/templates/crio_swap1g.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node

#28728 [KMSv2] Add presubmit job with kubetest2-kind for kms
  config/jobs/kubernetes/sig-auth/sig-auth-encryption-at-rest.yaml
  config/testgrids/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, sig/auth, area/jobs, area/config, triage/accepted

#28734 [KMSv2] build e2e.test, ginkgo binaries and move to _output/dockerized
  config/jobs/kubernetes/sig-auth/sig-auth-encryption-at-rest.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/auth, area/jobs, area/config, triage/accepted

#28581 kubeadm: enable dry-run e2e tests for historical versions
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-dryrun.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28669 `deck`: differentiate merge queries in pr status card
  prow/cmd/deck/static/pr/pr.ts
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/deck

#28741 Fix typo appearing in CI jobs
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#28722 Update HNC presubmit to Go 1.20
  config/jobs/kubernetes-sigs/wg-multi-tenancy/hnc-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#28616 add test for LocalStorageCapacityIsolationQuota
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#28731 go.mod,genyaml: update yaml.v3 dependency
  go.mod
  go.sum
  hack/gen-prow-documented/main_test.go
  pkg/genyaml/testdata/embedded_structs/embedded_structs.yaml
  pkg/genyaml/testdata/multiline_comments/multiline_comments.yaml
  pkg/genyaml/testdata/nested_structs/nested_structs.yaml
  pkg/genyaml/testdata/no_tags/no_tags.yaml
  pkg/genyaml/testdata/omit_if_empty/omit_if_empty.yaml
  pkg/genyaml/testdata/pointer_types/pointer_types.yaml
  pkg/genyaml/testdata/primitive_types/primitive_types.yaml
  pkg/genyaml/testdata/sequence_items/sequence_items.yaml
  prow/config/prow-config-documented.yaml
  prow/plugins/plugin-config-documented.yaml
Labels: lgtm, area/prow, cncf-cla: yes, size/XXL, approved, sig/testing, area/prow/plugins

#28739 kops-jobs: bump cloud image versions
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28743 Updating windows kpng job to use az capi to deploy cluster
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/windows, area/jobs, area/config

#28736 Fix CRI-O kubetest2 ignition locations
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv1-k8s-infra-prow-build-kubetest2.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv2-k8s-infra-prow-build-kubetest2.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#28713 artifacts.k8s.io: Create periodic jobs to copy to mirrors
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng, area/artifacts, sig/k8s-infra

#28725 Revert back to CAPZ release-1.7 for all Azure jobs
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-v2-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.23.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.24.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.25.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.26.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#28752 kOps: Use larger instance type for Karpenter control plane
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28754 Bump CAPZ to 1.7 in master branch
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#28756 Enable windows host-process cases
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, area/jobs, area/config

#28740 Create job to test artifacts-sandbox.k8s.io
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28737 Add Cluster API operator image build
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved

#28755 Add CRI-O job verification presubmit
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  jobs/e2e_node/crio/Makefile
  jobs/e2e_node/crio/tree_status
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#28759 kops-grid: automatic EC2 image update
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28757 Fix CRI-O verification presubmit
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#28745 Add executor duration log for metrics
  prow/git/v2/executor.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#28700 Feat: do not create Prow jobs for Gerrit patch set with no code change
  go.mod
  go.sum
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
  prow/gerrit/client/client.go
  prow/pjutil/filter.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/gerrit, ok-to-test

#28749 Refactor prow-controller-manager
  prow/cmd/prow-controller-manager/main.go
  prow/flagutil/kubernetes_cluster_clients.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/plank

#28652 Add jobs for new AR registry and private GCR registry
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-gcr-to-ar-sync.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/release, area/release-eng

#28758 kops-artifacts-sandbox: actually run the upgrade-ab scenario
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28766 Bump containerd version to v1.6.18
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/network, area/provider/gcp, sig/testing, sig/storage, area/jobs, sig/cloud-provider, area/config

#28772 kOps: Export an env variable with extra flags that can be used by scenarios
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28691 Retriage critical issues after 1 month of innactivity
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#28762 Update metrics stability doc link
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#28773 releng: Update kpromo to 3.4.12
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng, area/artifacts, sig/k8s-infra

#28742 controller-runtime: change jobs to main
  config/jobs/kubernetes-sigs/controller-runtime/controller-runtime-periodics-main.yaml
  config/jobs/kubernetes-sigs/controller-runtime/controller-runtime-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#28770 Bump NFD presumbit go images to 1.20
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-postsubmits.yaml
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#28775 controller-runtime: remove master after branch rename
  config/jobs/kubernetes-sigs/controller-runtime/controller-runtime-periodics-main.yaml
  config/jobs/kubernetes-sigs/controller-runtime/controller-runtime-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#28776 Bump NFD-O presumbit go images to 1.20
  config/jobs/kubernetes-sigs/node-feature-discovery-operator/node-feature-discovery-operator-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#28764 clone kubernetes manually
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#28747 Update prow with k/website milestone applier and add branch protection for k/website release-1.25
  config/prow/config.yaml
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#28774 kops-artifacts-sandbox: simplify test job
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28777 Don't use parallel for the global gcr registry
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-gcr-to-ar-sync.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/release, area/release-eng

#28780 Pin the cloud-provider-vsphere-config image from master to 1.25
  config/jobs/kubernetes/cloud-provider-vsphere/cloud-provider-vsphere-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/provider/vmware, sig/cloud-provider, area/config

#28769 Use Windows 2019 for conformance Windows test
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#28771 add 1.26 presubmits for cloudprovider openstack
  config/jobs/kubernetes/cloud-provider-openstack/provider-openstack-presubmits-release-v1.26-config.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/openstack, sig/testing, area/jobs, sig/cloud-provider, area/config

#28781 Update kubekins/krte to Go 1.20.1/1.19.5
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/images, area/release-eng

#28750 ci-k8sio-file-promo-mirrors: allocate more CPU
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/release, area/release-eng

#28784 run windows-service-proxy periodic job every 12 hours
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#28782 Enable release notes plugin for CAPA
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#28785 (secrets-store-csi-driver): use kubekins-e2e 1.25 image
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#28786 fix legacy SA key rotation cronjob
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#28753 Add test coverage job for CAPV
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, ok-to-test

#28789 Protect all website branches
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/config

#28792 fix conformance kubetest params for periodic cloud-provider-gcp job
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#28788 update publishing bot jobs to use go1.20
  config/jobs/kubernetes/publishing-bot/publishing-bot-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#28668 Move the sync script to the registry.k8s.io repo
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-gcs-to-aws-sync.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/release, area/release-eng

#28797 Revert "Move the sync script to the registry.k8s.io repo"
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-gcs-to-aws-sync.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/release, area/release-eng

#28798 Removed the job - pull-kubebuilder-e2e-k8s-1-23-13
  config/jobs/kubernetes-sigs/kubebuilder/kubebuilder-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, ok-to-test

#28799 update runner image to use go1.19 for capdo janitor job
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-periodics-janitor.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#27997 updates for dynamic resource allocation being alpha in 1.26
  config/jobs/kubernetes/sig-node/dynamic-resource-allocation.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#28804 Fix Cluster API operator repo name
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#28811 kubekins-e2e: test-infra variant: update KIND version
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#28802 Upgrade ci-kubernetes-node-e2e-containerd to be release blocking
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#28808 CAPI: Remove jobs for unsupported release branches
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-0-3.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-0-4-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-0-4.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-0-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-0.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-0-3.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-0-4.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-1-0.yaml
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#28815 Add sairameshv to CRI-O job owners
  jobs/e2e_node/crio/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node

#28818 `deck`: PR Status: null check the tidePools prior to filter
  prow/cmd/deck/static/pr/pr.ts
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/deck

#28816 [sig-windows-networking] Remove Docker prowjobs
  config/testgrids/kubernetes/sig-windows/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing, sig/windows, area/config, ok-to-test
