Repository kubernetes/test-infra, pull requests merged in 2023-04, with the labels that each got.

#29128 kubeadm: add e2e jobs for kubernetes 1.27
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-discovery.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-dryrun.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-ca.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-etcd.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-kubelet-x-on-y.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-upgrade.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-x-on-y.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#29207 add periodic job for e2e-framework
  config/jobs/kubernetes-sigs/e2e-framework/e2e-framework-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#29200 bump golang version for descheduler for 1.27.0-rc
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#29203 Fix failing testgrid job for vulnerability scanning
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-security-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/architecture, sig/release, sig/security, sig/k8s-infra

#29211 Match cgroup driver between containerd and kubelet
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#29212 Try ipv6/kind and kubeadm/kind CI jobs on EKS
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.27.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, sig/release, area/jobs, area/config, area/release-eng

#29204 Add JobSet presubmit for unit tests
  config/jobs/kubernetes-sigs/jobset/OWNERS
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#29218 log archeio build to prow logs
  config/jobs/image-pushing/k8s-staging-infra-tools.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#29220 Set the feature gate for the HPA metrics for Windows upstream tests
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#29118 add new job to test publishing bot
  config/jobs/kubernetes/publishing-bot/publishing-bot-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#29222 Fix crash in Gangway when gcp headers are missing
  prow/config/gangway.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing

#29226 CAPV: Remove thumbprint from e2e config
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#29227 rename oci-proxy to registry and bump golang-job limits
  config/jobs/image-pushing/k8s-staging-infra-tools.yaml
  config/jobs/kubernetes/sig-k8s-infra/registry.k8s.io/canaries.yaml
  config/jobs/kubernetes/sig-k8s-infra/registry.k8s.io/sig-k8s-infra-registry-presubmits.yaml
  config/testgrids/kubernetes/sig-k8s-infra/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#29229 For CPV, Include test/e2e folder for triggering e2e test
  config/jobs/kubernetes/cloud-provider-vsphere/cloud-provider-vsphere-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/provider/vmware, sig/cloud-provider, area/config

#29217 Update prometheus-adapter images to go 1.19
  config/jobs/kubernetes-sigs/prometheus-adapter/prometheus-adapter-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#29231 Add host process feature gates to CAPZ apiversion tests
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#29232 PCM: document rationale behind requiredTestPodVerbs
  prow/cmd/prow-controller-manager/main.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/plank

#29221 releng: Bump kpromo jobs to v3.5.2
  config/jobs/kubernetes/sig-k8s-infra/releng/artifact-promotion-presubmits.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng, area/artifacts, sig/k8s-infra

#29228 Updating sig-windows jobs so they get forker per release correctly
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/windows-experimental.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/windows, area/jobs, area/config

#29237 use env to set env as args
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/windows-experimental.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/windows, area/jobs, area/config

#29239 Update kubekins/krte to Go 1.20.3/1.19.8
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/images, area/release-eng

#29234 refactor flag validation
  prow/cmd/deck/main.go
  prow/cmd/horologium/main.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/deck, area/prow/horologium

#29236 checkAuthorizations: return all detected errors
  prow/flagutil/kubernetes_cluster_clients.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#29214 Disabling job to add items to v1.27 enhancements board
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-release-release-team-jobs/release-team-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#29215 make cachesync timeout configurable
  prow/cmd/deck/main.go
  prow/cmd/deck/main_test.go
  prow/cmd/horologium/main.go
  prow/cmd/horologium/main_test.go
  prow/cmd/tide/main.go
  prow/cmd/tide/main_test.go
  prow/flagutil/controller_manager.go
Labels: lgtm, area/testgrid, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/sinker, area/prow/hook, area/prow/gerrit, area/prow/deck, area/prow/tide, area/prow/horologium, area/prow/crier, area/prow/status-reconciler

#29249 add registry e2e tests
  config/jobs/kubernetes/sig-k8s-infra/registry.k8s.io/canaries.yaml
  config/jobs/kubernetes/sig-k8s-infra/registry.k8s.io/sig-k8s-infra-registry-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#29251 add registry e2e job on AWS
  config/jobs/kubernetes/sig-k8s-infra/registry.k8s.io/canaries.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#29247 Add JobSet presubmit for integration tests
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#29252 CAPZ: Run CAPI e2e tests if test files changed
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#29254 kops: add presubmit job to test we can run with boskos
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
  config/jobs/kubernetes/kops/templates/presubmit-scenario.yaml.jinja
  config/jobs/kubernetes/kops/templates/presubmit.yaml.jinja
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#29250 Update kubekins image to 1.26
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ccm-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#29256 Update azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#29257 Add new contribex leads to k/community job OWNERS
  config/jobs/kubernetes/community/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/contributor-experience, area/jobs, area/config

#29260 Adding windows private registry credentials for 1.27 SIG-Windows release job
  config/jobs/kubernetes-sigs/sig-windows/release-1.27-windows.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#29155 Add a check to ensure integrity of cache to gitClientFactory
  prow/git/v2/adapter.go
  prow/git/v2/client_factory.go
  prow/git/v2/interactor.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing

#29261 Adding PR job to run HPA tests on Windows
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/windows, area/jobs, area/config

#29240 use systemd cgroup driver in kubelet for containerd-e2e-ubuntu
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#29225 Bump Kueue golang to 1.20
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#29265 Add json enable_backporting to bugzilla conf
  prow/plugins/config.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/plugins

#29258 update cgroup driver in pull-kubernetes-node-e2e-containerd
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#29277 Switching Windows 1.27 tests to use run-capz-e2e.sh instead of ci-conformance.sh
  config/jobs/kubernetes-sigs/sig-windows/release-1.27-windows.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#29209 kubernetes-sigs/nfd: add presubmit jobs for v0.13 release branch
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-release-0-13.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#29279 enable azwi secret preset on ci jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#29276 prow/plugins: enable milestone plugins for nfd
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#29082 nfd: add nfd e2e test infra server and codecov keys
  config/prow/cluster/build/build_kubernetes-external-secrets_customresource.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config, area/prow/bump

#29275 Enable milestone and cherrypick plugins to k8s-sigs/Kueue
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config

#29259 [release-1.27] Lift Kubernetes 1.27 code freeze
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, priority/important-soon, area/config

#29248 Revert of 29011 plus more fixups
  config/jobs/kubernetes-sigs/sig-windows/release-1.24-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.24-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.25-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.25-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.26-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.26-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.27-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.27-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/windows-op-tests.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/windows, area/jobs, area/config

#29255 sidecar: Match cgroup drivers between kubelet and container runtime
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#29271 kubernetes-e2e-gce-cos-alpha-features: add e2e tests containing Feature:WatchList
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#29273 Add a PR job to test with PodAndContainerStatsFromCRI
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/windows, area/jobs, area/config, ok-to-test

#29291 Revert "Feat: skip presubmit tests for revisions without code change"
  go.mod
  go.sum
  prow/gerrit/adapter/adapter.go
  prow/gerrit/adapter/adapter_test.go
  prow/gerrit/client/client.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/gerrit

#29280 nfd: export codecov token as environment variable
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-master.yaml
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, area/prow/deck, area/prow/plugins

#29289 `label_sync`: improve error description when updating labels
  label_sync/main.go
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/label_sync

#29210 Run a ingress-gce script
  config/jobs/kubernetes/sig-network/ingress-gce-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/network, sig/testing, area/jobs, area/config, ok-to-test

#29296 Revert "nfd: export codecov token as environment variable"
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#29297 openshift/hypershift: update dashboard after renamed tests
  config/testgrids/openshift/hypershift.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/config

#29263 changed cos-89-lts to cos-stable for pull-npd-e2e-test
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#29267 Add entries for s390x conformance for v1.27/1.26/1.25
  config/testgrids/conformance/conformance-all.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/config, ok-to-test

#29306 Reverting sig-windows 1.24 jobs to use capz release-1.7
  config/jobs/kubernetes-sigs/sig-windows/release-1.24-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.24-windows.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#29307 Azure: install CSI drivers for k8s 1.23+
  config/jobs/kubernetes/sig-cloud-provider/azure/generate.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, sig/cloud-provider, area/config

#29266 sig-instrumentation: add pre-submit jobs for logging
  config/jobs/kubernetes/sig-instrumentation/sig-instrumentation-presubmit.yaml
  config/testgrids/kubernetes/sig-instrumentation/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/instrumentation, area/jobs, area/config

#29310 sig-instrumentation: fix pre-submit jobs for logging
  config/jobs/kubernetes/sig-instrumentation/sig-instrumentation-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/instrumentation, area/jobs, area/config

#29312 sig-instrumentation: fix pre-submit jobs for text logging
  config/jobs/kubernetes/sig-instrumentation/sig-instrumentation-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/instrumentation, area/jobs, area/config

#29300 Add mmiranda96 as reviewer for NPD jobs
  config/jobs/kubernetes/node-problem-detector/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#29325 increase azdisk e2e test timeout
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config, ok-to-test

#27812 remove e2e RetroactiveDefaultStorageClass feature flag
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, sig/node, area/jobs, sig/cloud-provider, area/config

#29301 create provider-azure-1.27-signal
  config/jobs/kubernetes/sig-cloud-provider/azure/README.md
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.27.yaml
  config/testgrids/kubernetes/sig-cloud-provider/azure/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, sig/cloud-provider, area/config

#29293 secrets-store: add presubmit with v1.27
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#29309 Expose PR head ref name to prow jobs
  config/prow/cluster/prowjob-crd/prowjob_customresourcedefinition.yaml
  experiment/manual-trigger/manual-trigger.go
  prow/apis/prowjobs/v1/types.go
  prow/cmd/mkpj/main.go
  prow/cmd/pipeline/controller_test.go
  prow/github/report/report_test.go
  prow/pjutil/pjutil.go
  prow/pjutil/pjutil_test.go
  prow/plugins/plugin-config-documented.yaml
  prow/pod-utils/decorate/podspec_test.go
  prow/pod-utils/decorate/testdata/TestProwJobToPod_0.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_1.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_2.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_3.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_4.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_6.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_7.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_8.yaml
  prow/pod-utils/downwardapi/jobspec.go
  prow/pod-utils/downwardapi/jobspec_test.go
  prow/tide/tide.go
Labels: lgtm, area/prow, cncf-cla: yes, needs-ok-to-test, size/L, approved, sig/testing, area/config, area/prow/pod-utilities, area/prow/mkpj, area/prow/tide, area/prow/bump, area/prow/plugins

#29330 Remove inline SSH credentials for job pull-npd-e2e-node
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#29336 update kind-repo CI jobs for 1.27
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#29324 prow/clone: Retry git fetch for longer
  prow/pod-utils/clone/clone.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/prow/pod-utilities, ok-to-test

#29320 Change GitHub reviews from approval to lgtm for aws-ebs-csi-driver
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#29337 registry.k8s.io presubmit: don't call defunct install-shellcheck script
  config/jobs/kubernetes/sig-k8s-infra/registry.k8s.io/sig-k8s-infra-registry-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#29338 deploy staging registry on k8s.io terraform changes
  config/jobs/image-pushing/k8s-staging-infra-tools.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved

#29340 add iproute2 to KRTE
  images/krte/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#29347 add with git dir to cloudbuild builder
  config/jobs/image-pushing/k8s-staging-provider-os.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#29350 :sparkles: Kubebuilder: Update go version to use 1.20 instead of 1.19
  config/jobs/kubernetes-sigs/kubebuilder/kubebuilder-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#29313 Upgrade cluster-api kubekins-e2e version for persubmits-main (v20230406-23cb1879e3-1.26 - v20230406-23cb1879e3-1.27)
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#29314 Upgrade cluster-api kubekins-e2e version for periodics-main (v20230406-23cb1879e3-1.26 - v20230406-23cb1879e3-1.27)
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#29354 Promote ArangoGutierrez to NFD Approver
  config/jobs/kubernetes-sigs/node-feature-discovery/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#29348 Pop up errors in GetRef
  prow/github/client.go
  prow/github/client_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing

#29343 cluster-addons: dholbach steps down
  config/jobs/kubernetes-sigs/cluster-addons/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#29358 update controller-runtime jobs to support go 1.20
  config/jobs/kubernetes-sigs/controller-runtime/controller-runtime-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#29356 update controller-tools jobs to support go 1.20
  config/jobs/kubernetes-sigs/controller-tools/controller-tools-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#29357 Bump gcb-docker-gcloud go version to 1.20.3
  images/gcb-docker-gcloud/README.md
  images/gcb-docker-gcloud/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#29360 Set up prow job to automatically build and push JobSet image to GCR
  config/jobs/image-pushing/k8s-staging-jobset.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved

#29355 update CAPZ kubekins to 1.27
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-v1beta1-release-1.7.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-v1beta1-release-1.8.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#29359 Azure: Add CCM ref for presubmit k/k jobs
  config/jobs/kubernetes/sig-cloud-provider/azure/generate.sh
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.24.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.25.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.26.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.27.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-master.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, area/jobs, sig/cloud-provider, area/config

#29362 Create release-03 presubmits for Kueue
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-2.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-3.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#29364 Kueue: remove always run rule
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-2.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-3.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#29365 nfd: add temporary verify job
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#29366 Set up JobSet presubmits for e2e tests
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#29363 Update controller-runtime and controller-tools owners
  OWNERS_ALIASES
  config/jobs/kubernetes-sigs/controller-runtime/OWNERS
  config/jobs/kubernetes-sigs/controller-tools/OWNERS
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#29369 nfd: revert "add temporary verify job (#29365)"
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#29371 use standard image pushing job
  config/jobs/image-pushing/k8s-staging-ingress-gce.yaml
  config/jobs/kubernetes/sig-network/ingress-gce-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/network, sig/testing, area/jobs, area/config

#29372 gate on e2e tests ingress-gce
  config/jobs/kubernetes/sig-network/ingress-gce-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/network, sig/testing, area/jobs, area/config

#29323 Changes kops vpc plugin to amazonvpc for presubmit scale job
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-scale.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config, ok-to-test

#29374 add presubmit kops gce networking
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-scale.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#29378 Add periodic-cluster-api-provider-aws-e2e-eks-canary job
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#29373 Fixing windows pr job by added repo ref for cloud-provider-azure
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/windows, area/jobs, area/config

#29385 kubernetes-sigs/nfd: add postsubmit verify job
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-postsubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#29386 logging pre merge: use customized script with larger -container-log-max-size
  config/jobs/kubernetes/sig-instrumentation/sig-instrumentation-presubmit.yaml
  experiment/kind-logs-e2e-k8s.sh
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/instrumentation, area/jobs, area/config

#29380 add verify check to jobset to check that configs were committed
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#29381 Updating windows PR hpa job to use az capi
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/windows, area/jobs, area/config

#29387 Remove Kubernetes 1.23 jobs
  config/jobs/kubernetes-sigs/sig-windows/release-1.23-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.23-windows.yaml
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.23.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.24.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.25.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.26.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.27.yaml
  config/testgrids/generated-test-config.yaml
  config/testgrids/kubernetes/presubmits/config.yaml
  config/testgrids/kubernetes/sig-network/config.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
  config/testgrids/kubernetes/sig-release/config.yaml
  config/testgrids/kubernetes/sig-windows/config.yaml
  releng/README.md
  releng/test_config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XXL, approved, sig/testing, sig/node, sig/release, sig/windows, area/jobs, area/config, area/release-eng

#29392 Adjust limits and GOMAXPROCS for periodic-cluster-api-provider-aws-e2e-eks-canary
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#29264 Enable `lgtm_acts_as_approve` for k-sigs/testgrid-json-exporter
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#29393 Reduce periodic-capa-e2e-eks-canary to 24 hours
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config
