Repository kubernetes/test-infra, pull requests merged in 2023-09, with the labels that each got.

#30581 Add more metrics and increase bucket granularity
  prow/gerrit/adapter/adapter.go
  prow/git/v2/client_factory.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/gerrit

#30584 Switch to go 1.21 for release-sdk jobs
  config/jobs/kubernetes-sigs/release-sdk/release-sdk-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#30585 use go1.21 for release-utils jobs
  config/jobs/kubernetes-sigs/release-utils/release-utils-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#30586 use go1.21 for mdtoc jobs
  config/jobs/kubernetes-sigs/mdtoc/mdtoc-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#30571 Bump Golang version to 1.21
  .go-version
  experiment/gerrit-onboarder/onboarder.go
  gcsweb/cmd/gcsweb/gcsweb.go
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  kubetest/kops.go
  kubetest/main.go
  robots/commenter/main.go
  triage/go.mod
Labels: lgtm, area/triage, cncf-cla: yes, area/kubetest, size/XL, approved, sig/testing, area/robots

#30588 config/prow add new external secret for CAPV
  config/prow/cluster/build/build_kubernetes-external-secrets_customresource.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/config, area/prow/bump

#30578 Add yussufsh as an approver
  config/jobs/kubernetes-sigs/ibm-powervs-block-csi-driver/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#30592 Consistently set cloudprovider and its flags in various jobs
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-k8s-infra/periodics.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.28.yaml
  releng/test_config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/gcp, sig/testing, sig/release, area/jobs, sig/cloud-provider, area/config, area/release-eng, sig/k8s-infra

#30593 Use the older "gce" in-tree provider for release related jobs
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/network, area/provider/gcp, sig/testing, sig/scalability, area/jobs, sig/cloud-provider, area/config

#30594 Use the older "gce" in-tree provider for scalability job
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#30596 Switch ci-kubernetes-gce-conformance-latest-kubetest2 to old-style "gce" cloud provider
  config/jobs/kubernetes/sig-cloud-provider/gcp/gce-conformance.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#30595 external-dns: require self-approval, lgtm doesn't act as approve
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#30566 security-profiles-operator: switch to go 1.21
  config/jobs/kubernetes-sigs/security-profiles-operator/security-profiles-operator-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#30597 Revert switch to old style in tree gce provider (use "external" cloud provider which is the default)
  config/jobs/kubernetes/sig-cloud-provider/gcp/gce-conformance.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/network, area/provider/gcp, sig/testing, sig/scalability, area/jobs, sig/cloud-provider, area/config

#30599 kops: update tests for new release-1.28 branch
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
  config/testgrids/kubernetes/kops/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30600 kops: update karpenter skip regexes
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30601 kOps: Update milestones for release-1.28 branch
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#30602 CAPV: move v1.6 release jobs to new preset
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-periodics-release-1.6.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presets.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits-release-1.6.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#30473 Add Gardener test results for K8s v1.27
  config/testgrids/conformance/conformance-all.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/config, ok-to-test

#30604 Use defaults for CLOUD_PROVIDER_FLAG and related Disable flags from kube-up harness
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-k8s-infra/periodics.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.28.yaml
  releng/test_config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, sig/release, area/jobs, sig/cloud-provider, area/config, area/release-eng, sig/k8s-infra

#30256 migrate `client-haskell` to community cluster
  config/jobs/kubernetes-client/haskell/client-haskell-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#30556 migrate `cvelist-public` job to community cluster
  config/jobs/kubernetes/sig-security/cvelist-public.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/security

#30606 CAPV: create second e2e job for v1.6 release branch to run on k8s gke infra
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-periodics-release-1.6.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#30379 migrate `k8s.io` jobs to EKS cluster
  config/jobs/kubernetes/sig-k8s-infra/k8sio-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#30608 Revert "CAPV: create second e2e job for v1.6 release branch to run on k8s gke infra"
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-periodics-release-1.6.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#30610 kops: remove e2e-kops-gce-leader-migration test
  config/jobs/kubernetes/kops/kops-periodics-gce.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30611 unrestrict scheduler throughhput; measure apiserver slos; increase Cl2 create/update/delete throughput
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30613 Increase memory for `pull-k8sio-groups-test`
  config/jobs/kubernetes/sig-k8s-infra/k8sio-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#30617 CPO: Remove 1.24 jobs
  config/jobs/kubernetes/cloud-provider-openstack/provider-openstack-presubmits-release-v1.24-config.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/openstack, sig/testing, area/jobs, sig/cloud-provider, area/config

#30609 Fix kubetest2 flakes
  config/jobs/kubernetes-sigs/kubetest2/kubetest2-canaries.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#30455 migrate `etcdadm` jobs to community cluster
  config/jobs/kubernetes-sigs/etcdadm/etcdadm-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30619 Focus on just pod slos now
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30281 Add pull-kubernetes-node-kubelet-serial-containerd-alpha-features job
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#30516 Update minikube prow job to point to v0.0.5 image
  config/jobs/kubernetes/minikube/minikube.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30620 Use unique name for the periodic scale test
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-ec2.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#30568 fix cluster-migration formatting and add allowed properties for eligibility
  hack/cluster-migration/main.go
  hack/cluster-migration/main_test.go
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing

#30621 Increase scale test node count
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config, ok-to-test

#30624 :bug: Fix up ci-kubernetes-e2e-gci-gce-alpha-features and ci-kubernetes-e2e-gci-gce-alpha-enabled-default
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#30623 openshift/hypershift: add new test groups after 4.15 branch
  config/testgrids/openshift/hypershift.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/config

#30430 migrate `aws-encryption-provider` jobs to community cluster
  config/jobs/kubernetes-sigs/aws-encryption-provider/presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#30627 remove capdo lint job in favor of gh actions and update owners file for capdo
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/OWNERS
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#30614 Add pull-kubernetes-node-e2e-containerd-1-7-dra job
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
  jobs/e2e_node/dra/image-config-containerd-1.7.yaml
  jobs/e2e_node/dra/init-containerd-1.7.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#30626 Run ci-test-infra-triage more often
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#30632 ci-kubernetes-e2e-gci-gce-alpha-enabled-default using wrong k8s version
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#30631 Update kubekins-e2e to Go 1.21.0 and drop config for k8s 1.24
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/images, area/release-eng

#30633 sig-cloud-provider/gcp/gcp-gce: update FGs for gce-cos-alpha-features
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#30545 node e2e: fix CPUManager related jobs.
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  jobs/e2e_node/containerd/image-config-serial-resource-managers.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#30635 fix pull-kubernetes-node-e2e-containerd-1-7-dra job
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  jobs/e2e_node/dra/image-config-containerd-1.7.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#30636 e2e-containerd-1-7-dra: fix missing double quote
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#30639 [cloud-provider-azure] Use k8s 1.28 for master
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config

#30638 CAPV: rename presets to use the new secrets
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-periodics-release-1.6.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presets.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits-release-1.6.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#30642 [cloud-provider-azure] Use k8s 1.28 for master
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#30641 Revert "[cloud-provider-azure] Use k8s 1.28 for master"
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config

#30643 NFD Create presubmit for v0.14
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-release-0-14.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#30637 Specify image-family/project for NPD/ubuntu CI jobs
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-ci.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#30629 Fix multinuma tests for Topology Manager and Memory Manager
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  jobs/e2e_node/image-config-serial-multi-numa.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#30647 Move endpointslice flags to kcm specific var
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#30640 Add prow job for release-0.6 branch
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits-release-0.6.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#30418 Update hack tools go.mod (ko and go)
  .ko.yaml
  hack/make-rules/update/go-deps.sh
  hack/tools/go.mod
  hack/tools/go.sum
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing

#30649 Update testrunner image
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#30645 node-e2e: fix CPU manager related jobs patch 2
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#30648 Enable periodic GH Bug Triage project board syncing for v1.29
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-release-release-team-jobs/release-team-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#30654 Fix the branch name
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits-release-0.6.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#30657 Update kubekins-e2e to Go 1.20.7 and 1.21.1
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/images, area/release-eng

#30655 `entrypoint`: attempt to make interrupt tests less flaky
  prow/entrypoint/run_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/entrypoint, area/prow/pod-utilities, ok-to-test

#30658 kubeadm: update k/kubeadm presubmits and plugin config
  config/jobs/kubernetes/kubeadm/kubeadm-presubmits.yaml
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30651 Try removing replace directives from go.mod.
  ghproxy/ghcache/ghcache.go
  go.mod
  go.sum
  prow/plugins/golint/golint_test.go
Labels: lgtm, area/prow, cncf-cla: yes, area/kubetest, size/M, approved, sig/testing, area/ghproxy, area/prow/plugins

#30644 containerd-1-7-dra: add cos image
  jobs/e2e_node/dra/image-config-containerd-1.7.yaml
  jobs/e2e_node/dra/init-containerd-1.7.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node

#30662 Add periodic CI jobs for cloud-provider-aws
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-periodics.yaml
  config/testgrids/kubernetes/sig-cloud-provider/aws/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#30663 Add the new cloud-provider-aws periodics to amazon-ec2 dashboard
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#30664 kOps: Deduplicate --node-size flag for Cilium ENI test
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30668 migrate `repo-infra` job to community cluster
  config/jobs/kubernetes/repo-infra/repo-infra-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#30669 Add optional presubmits to test external-cloud-provider option
  config/jobs/kubernetes/sig-testing/ec2-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#30672 capv: remove test which used the old presets
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#30417 [kubernetes-sigs/kueue] Change the default merge-method
  config/prow/config.yaml
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#30589 :sparkles: Update kubebuilder-presubmits.yaml to add tests against 1.28 and remove the tests against 1.25
  config/jobs/kubernetes-sigs/kubebuilder/kubebuilder-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#30673 Add janitor for EKS scalability account
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-ec2.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/scalability, area/jobs, area/config

#30674 Use KUBE_CONTROLLER_MANAGER_TEST_ARGS in pull-kubernetes-e2e-gce-scale-performance-manual
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#30675 Revert "Windows ctrd update version"
  config/jobs/kubernetes-sigs/sig-windows/presets.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#30671 capv: remove old presets and unused external secrets
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presubmits-main.yaml
  config/prow/cluster/build/build_kubernetes-external-secrets_customresource.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config, area/prow/bump

#30491 Update COS references to cos-beta family
  jobs/e2e_node/containerd/containerd-main-presubmit/image-config-presubmit.yaml
  jobs/e2e_node/containerd/containerd-main/cgroupv1/image-config-cgroupv1.yaml
  jobs/e2e_node/containerd/containerd-main/cgroupv2/image-config-cgroupv2-serial.yaml
  jobs/e2e_node/containerd/containerd-main/image-config.yaml
  jobs/e2e_node/containerd/containerd-main/perf-image-config.yaml
  jobs/e2e_node/containerd/containerd-release-1.6-presubmit/image-config-presubmit.yaml
  jobs/e2e_node/containerd/containerd-release-1.6/image-config.yaml
  jobs/e2e_node/containerd/containerd-release-1.7-presubmit/image-config-presubmit.yaml
  jobs/e2e_node/containerd/containerd-release-1.7/image-config.yaml
  jobs/e2e_node/containerd/image-cadvisor.yaml
  jobs/e2e_node/containerd/image-config-serial-eviction.yaml
  jobs/e2e_node/containerd/image-config-serial-resource-managers.yaml
  jobs/e2e_node/containerd/image-config-systemd.yaml
  jobs/e2e_node/image-config-serial-cpu-manager.yaml
  jobs/e2e_node/image-config-serial.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node

#30680 Add kubetest2-ec2 based presubmits to cloud-provider-aws
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-config.yaml
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#30682 Run ci-cloud-provider-aws-e2e-kubetest2* in the eks cluster
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#30685 cpu-manager-presubmit: Add upload & service account fields
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#30687 Build and inject the cloud-provider-aws image into kubetest2 presubmits
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#30691 Switch roles, avoid mixing node-e2e and kubetest2 roles
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-periodics.yaml
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#30692 [sig-windows] Use known good image during investigation
  config/jobs/kubernetes-sigs/sig-windows/release-1.25-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.26-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.28-windows.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/windows, area/jobs, area/config

#30693 Add building cloud-provider-aws image to periodic jobs
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-periodics.yaml
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#30681 Add periodic job ci-node-e2e-containerd-1-7-dra
  config/jobs/kubernetes/sig-node/dynamic-resource-allocation.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#30684 kube-state-metrics: push images on changes to main
  config/jobs/image-pushing/k8s-staging-metrics-server.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved

#30690 k8s-infra: drop postsubmit deployment for sippy
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-apps.sh
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-apps.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved

#30694 Update kube-state-metrics version to compatible version with v1.24.
  config/prow/cluster/kube-state-metrics_deployment.yaml
  config/prow/cluster/kube-state-metrics_rbac.yaml
  config/prow/cluster/kube-state-metrics_service.yaml
  config/prow/cluster/monitoring/kube-state-metrics_servicemonitors.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config, area/prow/bump

#30695 images/bootstrap: Allow pip an external python installation
  images/bootstrap/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#30630 Add `pr-node-kubelet-serial-containerd-sidecar-containers`
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#30665 migrate additional `sig-node` job to community cluster
  config/jobs/kubernetes/sig-node/dynamic-resource-allocation.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#30697 Increase scale of cl2 tests to 3000 nodes i.e; 90,000 pods
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config, ok-to-test

#30689 Fix extra_refs in CAPO periodics
  config/jobs/kubernetes-sigs/cluster-api-provider-openstack/cluster-api-provider-openstack-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#30696 Add cloud-provider-aws periodics to more boards
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-periodics.yaml
  config/testgrids/amazon/amazon.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#30700 update COSI controller build test to use named make target
  config/jobs/kubernetes-sigs/container-object-storage-interface/container-object-storage-interface-controller.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#30701 images/bootstrap: update Docker installation
  images/bootstrap/Dockerfile
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/images

#30702 prow: COSI: controller: use docker image for build presubmit
  config/jobs/kubernetes-sigs/container-object-storage-interface/container-object-storage-interface-controller.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#30698 ci-node-e2e-containerd-1-7-dra: fix crio leftovers
  config/jobs/kubernetes/sig-node/dynamic-resource-allocation.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#30704 New secret to migrate from a legacy AWS account
  config/jobs/kubernetes/sig-cloud-provider/aws/sig-aws-credentials.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#30573 Updating sig cloud provider leads and chairs
  OWNERS_ALIASES
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#30705 Switch to new secret to migrate from a legacy AWS account
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-periodics.yaml
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#30708 Create and use a new shared role in cloud-provider-aws CI jobs
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-periodics.yaml
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#30709 CAPI: Make most presubmits blocking
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-1-3.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-1-4.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-1-5.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#30710 npd: Increase timeout and resources to fix failing tests
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#30712 Drop the old preset-service-account from cloud-provider-aws jobs
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-periodics.yaml
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#30715 Switch to a shared s3 bucket from a legacy AWS owned bucket
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-periodics.yaml
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#30717 fix the path for AWS credentials file
  config/jobs/kubernetes/sig-cloud-provider/aws/sig-aws-credentials.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#30719 Add a new COS gce grid test
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-scale.yaml
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
  config/jobs/kubernetes/kops/templates/periodic-scenario.yaml.jinja
  config/jobs/kubernetes/kops/templates/periodic.yaml.jinja
  config/jobs/kubernetes/kops/templates/presubmit-scenario.yaml.jinja
  config/jobs/kubernetes/kops/templates/presubmit.yaml.jinja
  config/testgrids/kubernetes/kops/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30722 Switch over aws-load-balancer-controller and aws-iam-authenticator to new community account
  config/jobs/kubernetes-sigs/aws-iam-authenticator/aws-iam-authenticator-presubmits.yaml
  config/jobs/kubernetes-sigs/aws-load-balancer-controller/aws-alb-ingress-controller-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#30721 Add janitor for shared AWS jobs
  config/jobs/kubernetes/test-infra/janitors.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#30723 Run aws-load-balancer-controller and aws-iam-authenticator on EKS prow cluster
  config/jobs/kubernetes-sigs/aws-iam-authenticator/aws-iam-authenticator-presubmits.yaml
  config/jobs/kubernetes-sigs/aws-load-balancer-controller/aws-alb-ingress-controller-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#30726 Switch AWS CSI drivers (except ebs) to new community AWS account
  config/jobs/kubernetes-sigs/aws-efs-csi-driver/aws-efs-csi-driver-presubmits.yaml
  config/jobs/kubernetes-sigs/aws-fsx-csi-driver/aws-fsx-csi-driver-presubmits.yaml
  config/jobs/kubernetes-sigs/aws-fsx-openzfs-csi-driver/aws-fsx-openzfs-csi-driver-presubmits.yaml
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#30724 capg: migrate prowjobs to k8s-infra-prow-build
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/gcp, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30729 Update aws-ebs-csi-driver to use the new shared AWS community account
  config/jobs/kubernetes-sigs/aws-ebs-csi-driver/aws-ebs-csi-driver-periodics.yaml
  config/jobs/kubernetes-sigs/aws-ebs-csi-driver/aws-ebs-csi-driver-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#30728 Set a higher timeout for pull-aws-load-balancer-controller-e2e-test
  config/jobs/kubernetes-sigs/aws-load-balancer-controller/aws-alb-ingress-controller-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#30730 Add service account to pull-aws-ebs-csi-driver-test-helm-chart
  config/jobs/kubernetes-sigs/aws-ebs-csi-driver/aws-ebs-csi-driver-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#30732 Remove the legacy AWS owned test account 607362164682
  config/jobs/kubernetes-sigs/aws-ebs-csi-driver/aws-ebs-csi-driver-presubmits.yaml
  config/jobs/kubernetes/sig-cloud-provider/aws/sig-aws-credentials.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#30731 migrate `sig-cloud-provider` jobs to community cluster
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#30725 AddLabelsWithContext Funcs - fakegithub
  prow/github/fakegithub/fakegithub.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, tide/merge-method-squash, ok-to-test

#30735 Use the correct image project id for COS kOps test
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30734 remove sippy label
  label_sync/labels.md
  label_sync/labels.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/contributor-experience, area/label_sync

#30739 make k8s version consistent in Azure CSI driver e2e test
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config

#30678 Add entries for s390x conformance for v1.28
  config/testgrids/conformance/conformance-all.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing, area/config, ok-to-test

#30321 migrate `controller-tools` to community cluster
  config/jobs/kubernetes-sigs/controller-tools/controller-tools-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#30718 images/kubekins-e2e: bump base image
  images/kubekins-e2e/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#30742 Bump COS job frequency and skip running flannel tests for k8s version newer than 1.28
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-scale.yaml
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30740 run some e2e test on k8s 1.28
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#30746 prow: cosi: re-enable build test with docker build
  config/jobs/kubernetes-sigs/container-object-storage-interface/container-object-storage-interface-controller.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#30749 Increase cpu/mem limits
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
  config/jobs/kubernetes/kops/templates/presubmit-scenario.yaml.jinja
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config, ok-to-test

#30747 kubeadm: update OWNERS for 1.29
  config/jobs/kubernetes/kubeadm/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, kind/cleanup, area/config

#30751 run azure file capz test on 1.26
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#30755 Bump presubmit EC2/AWS scalability job to 5000 nodes
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#30738 feat: export PR Title EnvVar constant
  prow/cmd/pipeline/controller_test.go
  prow/pod-utils/decorate/podspec_test.go
  prow/pod-utils/decorate/testdata/TestProwJobToPod_0.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_1.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_2.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_3.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_4.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_6.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_7.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_8.yaml
  prow/pod-utils/decorate/testdata/TestProwJobToPod_9.yaml
  prow/pod-utils/downwardapi/jobspec.go
  prow/pod-utils/downwardapi/jobspec_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/pod-utilities, ok-to-test

#30720 add crio-presubmits that were already periodics.
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#30757 migrate gcp pd driver to k8s-infra-prow-build
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/config.yaml
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-postsubmits.yaml
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-windows.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#30758 migrate gcp firestore driver to k8s-infra-prow-build
  config/jobs/kubernetes-sigs/gcp-filestore-csi-driver/gcp-filestore-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#30754 Bump EC2/AWS periodic scalability job to 4200 nodes
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-ec2.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/scalability, area/jobs, area/config

#30554 migrate `krm-functions-registry` job to community cluster
  config/jobs/kubernetes-sigs/krm-functions-registry/krm-functions-registry-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#30555 migrate `kube-storage-version-migrator` jobs to community cluster
  config/jobs/kubernetes-sigs/kube-storage-version-migrator/kube-storage-version-migrator-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#30557 migrate `cloud-provider-alibaba-cloud` jobs to community cluster
  config/jobs/kubernetes/cloud-provider-alibaba-cloud/cloud-provider-alibaba-cloud-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, sig/cloud-provider, area/config

#30750 prow: cosi: use dind for build test
  config/jobs/kubernetes-sigs/container-object-storage-interface/container-object-storage-interface-controller.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config, ok-to-test

#30760 Adding support for retrieving Jira Project Versions
  prow/jira/fakejira/fake.go
  prow/jira/fakejira/fake_test.go
  prow/jira/jira.go
Labels: lgtm, area/prow, cncf-cla: yes, needs-ok-to-test, size/M, approved, sig/testing

#30764 npd: Increase resources for build job
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#30763 decode the urlopen output
  jenkins/bootstrap.py
Labels: lgtm, area/jenkins, cncf-cla: yes, size/XS, approved, sig/testing

#30761 migrate `sig-network` jobs to community cluster
  config/jobs/kubernetes/sig-network/ingress-gce-e2e.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/network, sig/testing, area/jobs, area/config

#30745 capv: extend external secret to split credentials per project
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presets.yaml
  config/prow/cluster/build/build_kubernetes-external-secrets_customresource.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config, area/prow/bump
