Repository kubernetes/test-infra, pull requests merged in 2023-11, with the labels that each got.

#31164 Enforce 1.29 code freeze
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, priority/critical-urgent, sig/testing, area/config

#30616 CPO: Make playbook changes trigger tests
  config/jobs/kubernetes/cloud-provider-openstack/provider-openstack-presubmits-release-master-config.yaml
  config/jobs/kubernetes/cloud-provider-openstack/provider-openstack-presubmits-release-v1.25-config.yaml
  config/jobs/kubernetes/cloud-provider-openstack/provider-openstack-presubmits-release-v1.26-config.yaml
  config/jobs/kubernetes/cloud-provider-openstack/provider-openstack-presubmits-release-v1.27-config.yaml
  config/jobs/kubernetes/cloud-provider-openstack/provider-openstack-presubmits-release-v1.28-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/openstack, sig/testing, area/jobs, sig/cloud-provider, area/config

#31161 kubeadm: add new test job for super-admin.conf
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-discovery.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-kubelet-x-on-y.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-super-admin.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-upgrade.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31168 run blob csi driver proxy tests on capz cluster
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31169 update zeitgeist jobs to use go1.21
  config/jobs/kubernetes-sigs/zeitgeist/zeitgeist-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#31117 Allow Configuring Spyglass Lens Buildlog Max Line Length
  prow/spyglass/lenses/buildlog/lens.go
  prow/spyglass/lenses/buildlog/lens_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, tide/merge-method-squash, area/prow/spyglass, ok-to-test

#31167 npd: Use cos-109 image for periodic tests
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-ci.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#31014 prow: query github organization add node_id support
  prow/github/types.go
Labels: lgtm, area/prow, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing

#31175 Spyglass: use UTF-8 character encoding on JUnit Logs page
  prow/spyglass/lenses/junit/lens.ts
Labels: lgtm, area/prow, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, area/prow/spyglass

#31179 Self Nominating to be a owner for the crio jobs.
  jobs/e2e_node/crio/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node

#31180 Only run kustomize presubmit on release-* branches
  config/jobs/kubernetes-sigs/aws-ebs-csi-driver/aws-ebs-csi-driver-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31184 desheduler: add a7i and knelasevero to approvers
  config/jobs/kubernetes-sigs/descheduler/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31187 Skip constantly failing tests based on EKS images
  config/jobs/kubernetes/sig-node/ec2-containerd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#29589 Add kmod to bootstrap docker image
  images/bootstrap/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#31157 Update versions to be compatible with k8s 1.25+
  config/prow/cluster/kube-state-metrics_deployment.yaml
  config/prow/cluster/kube-state-metrics_rbac.yaml
  config/prow/cluster/kube-state-metrics_service.yaml
  config/prow/cluster/monitoring/kube-state-metrics_servicemonitors.yaml
  label_sync/cluster/label_sync_cron_job.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/contributor-experience, area/config, area/label_sync, area/prow/bump

#31086 capv: add kubetest jobs to replicate k8s e2e tests
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-periodics-main-kubetest.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#31191 fix failure(s) in ci-kubernetes-node-arm64-e2e-containerd-ec2
  config/jobs/kubernetes/sig-node/ec2-containerd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#31090 update gcb-docker-gcloud image to latest 1.20 version
  images/gcb-docker-gcloud/README.md
  images/gcb-docker-gcloud/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#31196 Fix presubmit for K8s-sigs/ANP.
  config/jobs/kubernetes-sigs/apiserver-network-proxy/apiserver-network-proxy-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31197 Validate if the kubekins change broke logdumping
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#31193 kubeadm-presubmits: remove EKS canary jobs
  config/jobs/kubernetes/kubeadm/kubeadm-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, kind/cleanup, area/config

#30938 Rename the function name
  prow/github/client.go
  prow/github/client_test.go
  prow/github/fakegithub/fakegithub.go
  prow/plugins/dco/dco.go
  prow/plugins/invalidcommitmsg/invalidcommitmsg.go
  prow/plugins/lifecycle/close.go
  prow/plugins/lifecycle/close_test.go
  prow/plugins/lifecycle/reopen.go
  prow/plugins/lifecycle/reopen_test.go
Labels: lgtm, area/prow, cncf-cla: yes, needs-ok-to-test, size/M, approved, sig/testing, area/prow/plugins

#31204 rebuild alpine image
  images/alpine/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#31205 Bump alpine image to latest
  .ko.yaml
  images/gcloud-terraform/Dockerfile
  images/gcloud-terraform/README.md
  images/git/Dockerfile
  images/git/README.md
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/images

#31210 config/jobs/k-sigs/cluster-api: update OWNERS
  config/jobs/kubernetes-sigs/cluster-api/OWNERS
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, kind/cleanup, area/config

#31215 [kops] Update AMIs
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31216 Fix typos in k/k kops presubmits
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#31219 add a filter to get cgroupv2
  jobs/e2e_node/swap/image-config-swap.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node

#31225 skip alpha serviceCIDR tests for kind cloud provider
  config/jobs/kubernetes-sigs/cloud-provider-kind/cloud-provider-kind-periodic.yaml
  config/jobs/kubernetes-sigs/cloud-provider-kind/cloud-provider-kind-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#30444 migrate `sig-arch` jobs to community cluster
  config/jobs/kubernetes/sig-arch/conformance-gate.yaml
  config/jobs/kubernetes/sig-arch/kubernetes-depstat.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/architecture, area/jobs, area/config, area/conformance

#31098 migrate `sig-autoscaling` jobs to community cluster
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31226 migrate `k-csi` canary job to community cluster
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/external-resizer/external-resizer-config.yaml
  config/jobs/kubernetes-csi/external-snapshotter/external-snapshotter-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/livenessprobe/livenessprobe-config.yaml
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31223 migrate `sig-storage-local-static-provisioner` jobs tp community cluster
  config/jobs/kubernetes-sigs/sig-storage-local-static-provisioner/sig-storage-local-static-provisioner.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#31200 Revert logdump changes
  logexporter/cluster/log-dump.sh
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing

#31228 generic-autobumper: expose call options to push func
  prow/cmd/generic-autobumper/bumper/bumper.go
  prow/cmd/generic-autobumper/bumper/bumper_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/hook

#31195 Bump `ci-k8sio-audit` job timeout
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-k8sio.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#31231 moonraker: fix metric name typo
  prow/cmd/moonraker/main.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#31109 Revert "Merge pull request #30642 from lzhecheng/cpa-master-k8s-ver-1.28"
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31218 Bootstrap etcd jobs on prow
  config/jobs/etcd/OWNERS
  config/jobs/etcd/etcd-periodics.yaml
  config/jobs/etcd/etcd-postsubmits.yaml
  config/jobs/etcd/etcd-presubmits.yaml
  config/prow/config.yaml
  config/prow/plugins.yaml
  config/testgrids/kubernetes/sig-etcd/OWNERS
  config/testgrids/kubernetes/sig-etcd/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#31234 Update kubekins-e2e to Go 1.20.11 and 1.21.4 and drop eol 1.25 config
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/images, area/release-eng

#31235 use go1.21 for promo-tools job
  config/jobs/kubernetes-sigs/promo-tools/promo-tools.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng, area/artifacts

#31220 Remove simplelru dep from prow
  go.mod
  prow/cache/cache.go
  prow/cache/cache_test.go
  prow/config/cache.go
  prow/config/cache_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing

#31217 [sig-windows-networking] Update CAPZ Flannel Prowjobs
  config/testgrids/kubernetes/sig-windows/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing, sig/windows, area/config, ok-to-test

#31238 Removing azuredisk job from sig-windows jobs
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/windows, area/jobs, area/config

#31237 Skip kubeup tests when running e2e tests with kops
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/gcp, sig/testing, sig/cluster-lifecycle, area/jobs, sig/cloud-provider, area/config

#31239 add skip-review label to k/k8s.io repo
  label_sync/labels.md
  label_sync/labels.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/contributor-experience, area/label_sync

#31243 Skip 2 tests for cloud-provider-azure-conformance-serial-vmss-capz
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31244 migrate `capg` jobs to community cluster
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-periodics-release-1-4.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-periodics-release-1-5.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits-release-1-4.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits-release-1-5.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/gcp, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31245 Validate N/w programming latency slo, In cluster N/w latency, DNS lookup Latency
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31246 Azure: remove 1.25 periodic jobs
  config/jobs/kubernetes/sig-cloud-provider/azure/README.md
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.25.yaml
  config/testgrids/kubernetes/sig-cloud-provider/azure/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XL, approved, area/provider/azure, sig/testing, area/jobs, sig/cloud-provider, area/config, tide/merge-method-squash

#31085 [sig-testing] Add `ci-kubernetes-e2e-kind-rootless`
  config/jobs/kubernetes/sig-testing/kubernetes-kind.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#31248 Revert "Revert "Merge pull request #30642 from lzhecheng/cpa-master-k8s-ver-1.28""
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31250 update k/release prow jobs to use go1.21
  config/jobs/kubernetes/release/release-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#31249 fix prow clusters where the capg jobs should run
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-periodics-release-1-4.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-periodics-release-1-5.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits-release-1-4.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits-release-1-5.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/gcp, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31252 Unify memory for kubemark-100 jobs
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#31254 log-dump: switch to gcloud ssh --command tar.
  logexporter/cluster/log-dump.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#31255 Add cluster-api-provider-azure v1.13 milestone to plugins
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#31259 Bump cloud-provider-azure non vmss PR jobs
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31262 Bump jobs with standard VMSS uniform templates to k8s latest
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31257 add e2e etcd presubmit
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/etcd

#31264 log-dump.sh: set 5s connectTimeout
  logexporter/cluster/log-dump.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#31260 Add presubmit job for branch release-1.27
  config/jobs/kubernetes-sigs/scheduler-plugins/scheduler-plugins-presubmits-release-1.27.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#31256 Updating ci-kubernetes-e2e-capz-master-windows-alpha to set more feature gates and run VPA tests
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/windows, area/jobs, area/config

#31172 adding imagefs configuration and two presubmits
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  jobs/e2e_node/crio/crio_cgroupsv2_imagefs.ign
  jobs/e2e_node/crio/latest/image-config-cgrpv2-imagefs.yaml
  jobs/e2e_node/crio/templates/base/50-storage.conf
  jobs/e2e_node/crio/templates/base/imagefs.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2_imagefs.yaml
  jobs/e2e_node/crio/templates/generate
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#31139 Removing 1.25 jobs
  config/jobs/kubernetes-sigs/sig-windows/release-1.25-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.25-windows.yaml
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.25.yaml
  config/testgrids/generated-test-config.yaml
  config/testgrids/kubernetes/presubmits/config.yaml
  config/testgrids/kubernetes/sig-release/config.yaml
  config/testgrids/kubernetes/sig-windows/config.yaml
  releng/test_config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, sig/release, sig/windows, area/jobs, area/config, area/release-eng

#31270 create 1.26 instead of 1.25 for capz cluster tests
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31265 Kops - Update Terraform version used in e2e tests
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31272 Kops - Cleanup jobs for old k8s+kops versions
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
  config/testgrids/kubernetes/kops/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31275 Bump k8s version to latest for customized templates
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31276 CloudProvider-azure:Skip e2e test if only go.sum changes in cloudprovider-azure
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.25.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.26.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.27.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.28.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31277 Add presbumit/periodic jobs to test conformance using AL2 images
  config/jobs/kubernetes/sig-testing/ec2-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#31251 update e2e-framework to use go1.21
  config/jobs/kubernetes-sigs/e2e-framework/e2e-framework-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31278 kops: remove deprecated-cni tests pin for kube-router
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31284 CRI-O: pin fedora-coreos images to v38
  jobs/e2e_node/crio/latest/image-config-cgrpv1-evented-pleg.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv1-hugepages.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv1-resource-managers.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv1-serial.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv1.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv2-imagefs.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv2-serial.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv2.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node

#31132 support triggering only failed jobs in a github workflow
  prow/github/client.go
  prow/github/fakegithub/fakegithub.go
  prow/plugins/trigger/generic-comment.go
  prow/plugins/trigger/trigger.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing, area/prow/plugins

#31283 Add presbumit/periodic jobs to test conformance using AL2023 images
  config/jobs/kubernetes/sig-testing/ec2-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#31288 [provider-aws-test-infra] Change hardcoded region for new AL2023 jobs
  config/jobs/kubernetes/sig-testing/ec2-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#31280 azure: update k/k jobs to use CAPZ release-1.12 branch
  config/jobs/kubernetes/sig-cloud-provider/azure/generate.sh
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.26.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.27.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.28.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-master.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, area/jobs, sig/cloud-provider, area/config

#31281 Revert "Skip 2 tests for cloud-provider-azure-conformance-serial-vmss-capz"
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31293 [releng] 1.29: Update kubekins-e2e variants.yaml with 1.29 config
  images/kubekins-e2e/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#31289 [releng] Add 1.29 milestone_applier rule and drop 1.25 and less
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/config, area/release-eng

#31203 CAPI: Update milestone applier config for v1.7
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#31208 Add jobs for CAPI release 1.6
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-6-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-6.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-1-6.yaml
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config, ok-to-test

#31297 [Kops] Update AMIs
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31294 releng: manually add 1.29 jobs
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.29.yaml
  config/testgrids/generated-test-config.yaml
  config/testgrids/kubernetes/sig-network/config.yaml
  config/testgrids/kubernetes/sig-release/config.yaml
  releng/README.md
  releng/test_config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XXL, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#30365 migrate capi-1-4 jobs to community cluster
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-4-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-4.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-1-4.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config, ok-to-test

#31209 Remove CAPI release-1.3 branch jobs and dashboards
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-3-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-3.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-1-3.yaml
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config, ok-to-test

#31295 Enable dind for aws-iam-authenticator integration
  config/jobs/kubernetes-sigs/aws-iam-authenticator/aws-iam-authenticator-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31303 Revert "Revert "Skip 2 tests for cloud-provider-azure-conformance-serial-vmss-capz""
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31306 Bump CAPZ 1.12 for non-pr jobs with CAPZ templates
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31307 Lookup instead of hard coding k8s version (AL2023 ci jobs)
  config/jobs/kubernetes/sig-testing/ec2-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31308 Migrate the remaining kops gce e2e jobs to community cluster
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-gce.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31310 Remove OOT credential provider job
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31285 CRI-O: use Fedora 39
  jobs/e2e_node/crio/crio_cgroupsv1.ign
  jobs/e2e_node/crio/crio_cgroupsv1_eventedpleg.ign
  jobs/e2e_node/crio/crio_cgroupsv1_hugepages.ign
  jobs/e2e_node/crio/crio_cgroupsv2.ign
  jobs/e2e_node/crio/crio_cgroupsv2_imagefs.ign
  jobs/e2e_node/crio/crio_cgroupsv2_swap1g.ign
  jobs/e2e_node/crio/latest/image-config-cgrpv1-evented-pleg.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv1-hugepages.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv1-resource-managers.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv1-serial.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv1.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv2-imagefs.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv2-serial.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv2.yaml
  jobs/e2e_node/crio/templates/base/root.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1_eventedpleg.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1_hugepages.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2_imagefs.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2_swap1g.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node

#31312 don't enable node-problem-local detector on dns jobs
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#31311 Fix spelling in CRI-O config README
  jobs/e2e_node/crio/README.md
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node

#31241 Add S3 support in gcsweb
  gcsweb/cmd/gcsweb/gcsweb.go
  gcsweb/cmd/gcsweb/gcsweb_test.go
  gcsweb/cmd/gcsweb/templates.go
  prow/apis/prowjobs/v1/types.go
  prow/cmd/deck/main.go
  prow/io/iterator.go
  prow/io/opener.go
  prow/io/providers/providers.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XL, approved, sig/testing, kind/feature, area/prow/deck, tide/merge-method-squash, ok-to-test

#31318 fix: Update ci-kubernetes-e2e-gce-cos-k8sbeta-alphafeatures config to work with external cloud provider flag
  config/jobs/kubernetes/generated/generated.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#31321 Add conformance CI job for arm64/al2023 image
  config/jobs/kubernetes/sig-testing/ec2-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#31323 tide: quote individual labels in search `or` clause
  prow/config/tide.go
  prow/config/tide_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing

#31242 switching sig-windows master presubmit job to using run-capz-e2e.sh
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/windows, area/jobs, area/config

#31247 containerd: enable additional plugins
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config, ok-to-test

#31322 azure: prime cloud-provider-azure to use new templates for CAPZ v1.12
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31328 replace multi-zone e2e tests in Azure File CSI driver
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31329 Add a couple of more al2023 based periodic jobs
  config/jobs/kubernetes/sig-testing/ec2-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#31331 Add al2023 aws-cni/cilium conformance test
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31332 Separate dashboard for al2023 related CI jobs
  config/jobs/kubernetes/sig-node/ec2-containerd.yaml
  config/jobs/kubernetes/sig-testing/ec2-e2e.yaml
  config/testgrids/amazon/amazon.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#31325 karpenter: add presubmit job for main UT
  config/jobs/kubernetes-sigs/karpenter/karpenter-presubmit-main.yaml
  config/testgrids/kubernetes/sig-autoscaling/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#31333 karpenter: make PR test job optional while we debug
  config/jobs/kubernetes-sigs/karpenter/karpenter-presubmit-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31330 Update azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31335 Add al2023 based kops jobs to amazon-ec2-al2023 dashboard
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#31320 azure: update CAPZ custom template jobs to use new templates for CAPZ v1.12
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.25.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.26.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.27.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.28.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, area/jobs, area/config

#31286 Add cherry-pick-approved prow plugin
  config/prow/plugins.yaml
  prow/hook/plugin-imports/plugin-imports.go
  prow/plugins/cherrypickapproved/OWNERS
  prow/plugins/cherrypickapproved/cherrypickapproved.go
  prow/plugins/cherrypickapproved/cherrypickapproved_test.go
  prow/plugins/cherrypickapproved/cherrypickapprovedfakes/fake_impl.go
  prow/plugins/cherrypickapproved/tools/tools.go
  prow/plugins/config.go
  prow/plugins/plugin-config-documented.yaml
Labels: lgtm, area/prow, cncf-cla: yes, size/XL, approved, sig/testing, area/config, area/prow/hook, area/prow/plugins

#31298 ci-kubernetes-e2e-kind-rootless: Fix `/root/.ssh/google_compute_engine.pub: no such file or directory`
  config/jobs/kubernetes/sig-testing/kubernetes-kind.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31316 migrate capi 1.5 jobs
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-5-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-periodics-release-1-5.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-presubmits-release-1-5.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config, ok-to-test

#31342 karpenter: use kubekins image w/ go 1.21
  config/jobs/kubernetes-sigs/karpenter/karpenter-presubmit-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31268 sig-windows: add job to test NodeLogQuery
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/windows, area/jobs, area/config
