Repository kubernetes/test-infra, pull requests merged in 2024-07, with the labels that each got.

#32880 [sig-autoscaling] Reduce frequency of perma-failing job
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/autoscaling, sig/testing, area/jobs, sig/cloud-provider, area/config

#32882 add service account to the preset with workload ID
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presets.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32883 move prow sa to azure optional testconfig from the preset
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presets.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32885 Kops - Migrate remaining upgrade jobs to k8s infra prow clusters
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32890 dind: always enable ipv6 in kernel
  images/bootstrap/runner.sh
  images/krte/wrapper.sh
  images/kubekins-e2e-v2/runner.sh
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/release, area/images, area/release-eng

#32887 Move all NFD Prow jobs to Community cluster
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-postsubmits.yaml
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-master.yaml
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-release-0-16.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#32891 bump bootstrap to pickup ipv6 changes
  images/kubekins-e2e/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#32842 Revert "Update gcp-pd-csi pull-gcp-compute-persistent-disk-csi-driver-e2e to use prow-build ServiceAccount"
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32892 update job migration todo
  docs/job-migration-todo.md
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing

#32886 Move pull-kubernetes-e2e-ec2-alpha-features to sig-node-presubmits
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#32895 move modules mount to all dind jobs now that we modprobe ipv6
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config

#32889 Revert frequency of CLA bot
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/contributor-experience, ok-to-test

#32800 Update sig-release jobs to CAPZ 1.15
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.29.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.30.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#32661 Update golang image to 1.22 for ibm-powervs-block-csi-driver jobs
  config/jobs/kubernetes-sigs/ibm-powervs-block-csi-driver/ibm-powervs-block-csi-driver.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#32893 Migrate current NPD CI Build job to k8s-infra-prow-build
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-ci.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#32900 install git for ci-kubernetes-e2e-al2023-aws-serial-canary ci job
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32899 crio: use separate yaml to configure crun and rename default crio.conf
  jobs/e2e_node/crio/crio_cgroupsv1.ign
  jobs/e2e_node/crio/crio_cgroupsv1_eventedpleg.ign
  jobs/e2e_node/crio/crio_cgroupsv1_hugepages.ign
  jobs/e2e_node/crio/crio_cgroupsv2.ign
  jobs/e2e_node/crio/crio_cgroupsv2_hugepages.ign
  jobs/e2e_node/crio/crio_cgroupsv2_imagefs.ign
  jobs/e2e_node/crio/crio_cgroupsv2_splitfs.ign
  jobs/e2e_node/crio/crio_cgroupsv2_swap1g.ign
  jobs/e2e_node/crio/crio_cgroupsv2_userns.ign
  jobs/e2e_node/crio/templates/base/20-crio.conf
  jobs/e2e_node/crio/templates/base/99-crun.conf
  jobs/e2e_node/crio/templates/base/crun-enabled.yaml
  jobs/e2e_node/crio/templates/base/root.yaml
  jobs/e2e_node/crio/templates/base/userns.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1_eventedpleg.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1_hugepages.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2_hugepages.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2_imagefs.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2_splitfs.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2_swap1g.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2_userns.yaml
  jobs/e2e_node/crio/templates/generate
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node

#32901 Updating windows presubmit jobs to use capz@master
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#32902 fixing windows pr jobs
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#32871 feat: adds image scan job for Secrets Store Sync Controller
  config/jobs/kubernetes-sigs/secrets-store-sync-controller/secrets-store-sync-controller-config.yaml
  config/testgrids/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#32898 sig-testing: *-canary job uses LABEL_FILTER instead of FOCUS
  config/jobs/kubernetes/sig-testing/kubernetes-kind.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#32903 Kops: Migrate some presubmits to community infra
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32725 Add lgtm, approve plugins for etcd-io projects
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#32909 Update kubekins to Go 1.22.5 and 1.21.12
  images/kubekins-e2e-v2/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/images, area/release-eng

#32910 kubernetes-sigs/nfd: add presubmit e2e-test job
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#32913 kubernetes-sigs/nfd: use runner.sh in presubmit e2e-test job
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32914 kubernetes-sigs/nfd: run presubmit e2e-test in privileged container
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32918 Kops - Createa a presubmit job on community infra
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32919 Kops - Migrate remaining presubmit jobs to k8s-infra-kops-prow-build
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config, tide/merge-method-squash

#32920 [e2e-ci-kubernetes-e2e-al2023-aws-serial-canary] Redo specifying multiple packages
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32915 kubernetes-sigs/nfd: always run presubmit e2e-test
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32916 kubernetes-sigs/nfd: drop the common build-image job
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-generic.yaml
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-release-0-15.yaml
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-release-0-16.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#32921 kubernetes-sigs/nfd: update e2e-postsubmit job
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-postsubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#32923 k8s-infra: Add label for Azure infrastructure
  label_sync/labels.md
  label_sync/labels.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/contributor-experience, area/label_sync

#32924 Updating windows master jobs to all use the same reference for capz
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#32904 Test job to migrate to azure cncf sub
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, sig/windows, area/jobs, area/config, ok-to-test

#32926 stop running WI optional test automatically on every CAPZ PR
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32927 update job migration todo
  docs/job-migration-todo.md
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing

#32928 move tempelis postsubmit to k8s infra
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-tempelis.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/contributor-experience, area/jobs, area/config

#32929 post-community-tempelis-apply is succesfully migrated
  docs/job-migration-todo.md
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#32931 Add Gardener test results for K8s v1.30
  config/testgrids/conformance/conformance-all.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, needs-ok-to-test, size/M, approved, sig/testing, area/config

#32933 kubernetes-sigs/nfd: increase resources for e2e jobs
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-postsubmits.yaml
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#32868 Drop dedicated testing lane as PodDisruptionConditions are going GA
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#32934 Increase timeout of gcp-pdcsi pull-gcp-compute-persistent-disk-csi-driver-verify
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32937 [sig-windows] Remove pre-sets not needed and don't run on PR's unless needed
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#32935 kops: Migrate pipeline and misc tests.
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32945 [kueue] Decrease resource requests for e2e.
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-7.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, ok-to-test

#32946 disable `pull-community-tempelis-check` as discussed with slack admins
  config/jobs/kubernetes/community/community-presubmit.yaml
  docs/job-migration-todo.md
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/contributor-experience, area/jobs, area/config

#32942 migrate presubmit e2e test to use WI
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32944 migrate presubmit capz tests to wi
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32940 k8s-infra: Add azure credential plugin
  images/git-custom-k8s-auth/Dockerfile
  images/git-custom-k8s-auth/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/images

#32950 [sig-windows] Add docker in docker preset back to the windows job
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#32951 capv: fix ip for boskos
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presets.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32953 add missing preset to the wi tests
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32954 Bump timeout for kubelet-gce-e2e-swap-ubuntu-serial
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#32932 Add e2e test ci jobs for secrets store sync controller
  config/jobs/kubernetes-sigs/secrets-store-sync-controller/secrets-store-sync-controller-config.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config, ok-to-test

#32956 migrate some of the CAPZ presubmit jobs to use wi
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32958 k8s-infra: Drop postsubmit for k8s-infra-prow
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-apps.sh
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-apps.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#32955 add missing azure storage account to the preset
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presets.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32943 change nodefeature label from SplitDisk to KubeletSeparateDiskGC
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#32939 kubernetes-sigs/nfd: convert postsubmit jobs to periodics
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#32966 Set ginkgo timeout explicitly for ci-kubernetes-node-swap-ubuntu-serial
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#32952 sig node: support different API versions in DRA presubmit
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#32967 CAPV: migrate to new boskos instance
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presets.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32969 optional presubmit job to track down OOMKiller issues with cgroupv1 (AL2)
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#32948 migrate label sync
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-testing-label-sync.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-testing-metrics.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  docs/job-migration-todo.md
  label_sync/README.md
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/contributor-experience, area/jobs, area/config, area/label_sync, sig/k8s-infra

#32961 Update periodic main test jobs to use WI credentials
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32963 Update periodic main upgrades test jobs to use WI credentials
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main-upgrades.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32971 sync label-config to k8s-infra-prow-build-trusted
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#32968 sig node: support different API versions in DRA presubmit, II
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#32972 trivial label_sync config change (comment only) to trigger config syncing
  label_sync/labels.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/contributor-experience, area/label_sync

#32973 Increase timeout of pull-kubernetes-node-swap-fedora-serial
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#32974 capz: use workload-identity for CAPZ CI presubmit jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32962 Kops - Migrate e2e-kops-aws-k8s-latest to k8s infra
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32979 Kops - Migrate default build_cluster param to k8s infra clusters
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32980 sig node: fix support for different API versions in DRA presubmit
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#32858 kubeadm: add test workflow for testing ControlPlaneKubeletLocalMode feature gate
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-control-plane-local-kubelet-mode.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32977 Add canaries for test-infra image push jobs.
  config/jobs/image-pushing/k8s-staging-test-infra.yaml
  config/testgrids/kubernetes/sig-testing/sig-testing.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#32985 Update cluster autoscaler Azure test to use WI credentials
  config/jobs/kubernetes/sig-autoscaling/azure/cluster-autoscaler-azure-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32986 image-builder: add optional job to test workload ID auth
  config/jobs/kubernetes-sigs/image-builder/image-builder-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#32970 add contribex leads to label sync alert
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-testing-label-sync.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#32189 Kops - Migrate kops DO jobs to community-owned prow clusters
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32988 Kops - fix digitalocean S3 endpoint for aws-sdk-go-v2
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32990 update job to use go1.22
  config/jobs/kubernetes-sigs/release-sdk/release-sdk-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#32984 sig-node: update DRA jobs for 1.31
  config/jobs/kubernetes/sig-node/dynamic-resource-allocation.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#32991 CAPI/CAPV: Set prow job timeouts explicitly
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-10-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-10-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-10-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-7-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-7-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-8-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-8-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-9-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-9-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-9-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-periodics-upgrades.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-periodics.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-presubmits.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-5-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-5-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-5-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-6-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-6-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-6-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-7-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-7-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-7-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/templates/cluster-api-periodics-upgrades.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api/templates/cluster-api-periodics.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api/templates/cluster-api-presubmits.yaml.tpl
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32982 Add presubmit job with SELinux
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, sig/storage, area/jobs, area/config

#32993 Archive kubernetes-sigs/etcdadm
  config/jobs/image-pushing/k8s-staging-etcdadm.yaml
  config/jobs/kubernetes-sigs/etcdadm/OWNERS
  config/jobs/kubernetes-sigs/etcdadm/etcdadm-presubmits.yaml
  config/prow/plugins.yaml
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32994 Add skip plugin to containerd/containerd
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#32995 Fix typo in pull-kubernetes-e2e-aws-storage-selinux job
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/storage, area/jobs, area/config

#32989 Increasing memory for GCE PD driver E2E tests
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32996 Trigger image-building with trivial updates.
  images/alpine/README.md
  images/git-custom-k8s-auth/README.md
  images/git/README.md
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#32997 secrets-store: move manifest test job to eks prow cluster
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#32987 Update cloud-provider-azure jobs with CAPZ main branch workload ID
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/generate.sh
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.26.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.27.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.28.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-master.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, area/jobs, sig/cloud-provider, area/config

#32999 secrets-store: move upgrade jobs to eks prow cluster
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-release-1.3-config.yaml
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-release-1.4-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#33001 fix typo in CAPZ workload ID config
  config/jobs/kubernetes/sig-cloud-provider/azure/generate.sh
  config/jobs/kubernetes/sig-cloud-provider/azure/release-master.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, sig/cloud-provider, area/config

#33002 update service account for CAPZ main cloud-provider jobs
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/generate.sh
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.26.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.27.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.28.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-master.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, sig/cloud-provider, area/config

#32992 migrate capi digitalocean jobs to community cluster
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-periodics-janitor.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-periodics-release-1-5.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-periodics-release-1-6.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-presubmits-release-1-5.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-presubmits-release-1-6.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-digitalocean/cluster-api-provider-digitalocean-presubmits.yaml
  docs/job-migration-todo.md
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config, tide/merge-method-squash

#33007 Drop sig-windows 1.27 jobs
  config/jobs/kubernetes-sigs/sig-windows/release-1.27-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.27-windows.yaml
  config/testgrids/kubernetes/sig-windows/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/windows, area/jobs, area/config

#32998 Adding preset to use Azure resources, moving 2022 master job to azure
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presets.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, sig/windows, area/jobs, area/config, ok-to-test

#33008 Removing windows-service-proxy job
  config/jobs/kubernetes-sigs/sig-windows/windows-experimental.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/windows, area/jobs, area/config

#33012 Fix a typo on the preset
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presets.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33009 Bump golang from 1.22.2 to 1.22.3 on apiserver-network-proxy test runner
  config/jobs/kubernetes-sigs/apiserver-network-proxy/apiserver-network-proxy-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#33010 Update image-builder jobs to use new Azure creds preset
  config/jobs/kubernetes-sigs/image-builder/image-builder-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#33014 bump pull-kubernetes-e2e-gce-device resources to match pull-kubernetes-e2e-gce
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gcp-gpu-presubmits.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.28.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.29.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.30.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, sig/release, area/jobs, sig/cloud-provider, area/config, area/release-eng

#33013 Update CAPZ jobs to use community cluster.
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33017 add missing stage flag to 1.29 gpu job
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.29.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#33015 move npd to k8s-infra-prow-builds
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#33003 Rename pull-kubernetes-e2e-storage-kind-alpha-features to pull-kubernetes-e2e-storage-kind-alpha-beta-features
  config/jobs/kubernetes/sig-storage/sig-storage-kind.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/storage, area/jobs, area/config

#33018 Bump CAPA to use k8s 1.30
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-postsubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#33019 Update to containerd v1.7.20 + runc 1.1.3
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/network, area/provider/gcp, sig/testing, sig/node, sig/storage, area/jobs, sig/cloud-provider, area/config

#32978 kOps: add testing for kOps 1.30
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/testgrids/kubernetes/kops/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32983 Bump golang version for gcb-docker-gcloud.
  images/gcb-docker-gcloud/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images, ok-to-test

#33005 Add CAPZ v1.17 milestone to plugins
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#33020 Update CAPV jobs for 1.11
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-prowjob-gen.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-11-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-11-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-11-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing, area/jobs, area/config

#33023 skipping failing procmount and private registry pull tests in windows master jobs until issues get resolved
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#33025 Testing EKS cluster configuration for Azure sub
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/windows, area/jobs, area/config

#33026 Migration updates
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-presubmits.yaml
  docs/job-migration-todo.md
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#32960 Update presubmit v1beta1 release tests to use WI credentials
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33029 Migrate Azure image-builder jobs to EKS infra
  config/jobs/kubernetes-sigs/image-builder/image-builder-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#32965 Create periodics v1beta1 release 1.16 using community infra for testing
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-v1beta1-release-1.16.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33030 migrate capz presubmit main jobs to eks community infra
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32964 Update periodics v1beta1 release 1.15 jobs to use community infra
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-v1beta1-release-1.15.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33027 migrates some of the azure periodics main upgrades tests to eks infra
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main-upgrades.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32867 sig-testing: uses LABEL_FILTER instead of FOCUS
  config/jobs/kubernetes/sig-testing/kubernetes-kind.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#33033 Update Kueue milestones with v0.9
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#33037 capz: final periodic job migrations to community infra
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33032 kOps: create latest-ci-updown-green job for 1.30
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/testgrids/kubernetes/kops/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33038 Switch some builds to k8s-staging-test-infra images.
  .ko.yaml
  config/jobs/image-pushing/README.md
  images/alpine/cloudbuild.yaml
  images/git-custom-k8s-auth/cloudbuild.yaml
  images/git/README.md
  images/git/cloudbuild.yaml
  kettle/Makefile
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/kettle, area/images, area/config

#33011 sig-windows - moving 1.29 / 1.30 jobs, adding serial-slow jobs, and adding presubmit jobs
  config/jobs/kubernetes-sigs/sig-windows/release-1.29-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.29-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.30-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.30-windows.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.29.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.30.yaml
  config/testgrids/kubernetes/sig-windows/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/release, sig/windows, area/jobs, area/config, area/release-eng

#33041 kOps: use new bucket (k8s-staging-kops) for markers, for 1.30
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33046 Fix unknown api groups alpha,beta
  config/jobs/kubernetes/sig-node/dynamic-resource-allocation.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#33048 chore: test community cluster for cloud-provider-azure
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/XXL, approved, area/provider/azure, sig/testing, area/jobs, sig/cloud-provider, area/config

#33045 prow job for release-0.7 branch
  config/jobs/kubernetes-sigs/ibm-powervs-block-csi-driver/ibm-powervs-block-csi-driver-release-0.7.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#33050 chore: update to capz release-1.16
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, kind/cleanup, area/config

#33052 image-builder: make pull-ova-all job optional
  config/jobs/kubernetes-sigs/image-builder/image-builder-ova-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33042 [sig-windows] July patches are causing networking issues on WS 2022
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#33054 Revert "CRI-O: bump cgroupv2 tests to `6cc20abf0f`"
  jobs/e2e_node/crio/crio_cgroupsv2.ign
  jobs/e2e_node/crio/templates/base/root-v2.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2.yaml
  jobs/e2e_node/crio/templates/generate
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node

#33056 k8s-infra: Drop AR sync jobs
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/sync-ar-repos.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/sync-ar.sh
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/release, area/release-eng

#33058 secrets-store: add test jobs to validate migration to community cluster
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#33060 CAPZ jobs running on EKS Community infra should use default sa
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33059 added the presubmit for ResourceHealthStatus
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#33063 migrate ci-kubernetes-e2e-gci-gce-flaky
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#33057 update CAPZ 1.16 cloud-provider-azure job with new template version
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#33061 fix? kops staging registry job
  config/jobs/kubernetes/sig-k8s-infra/registry.k8s.io/canaries.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#33062 update cluster migration TODO to latest
  docs/job-migration-todo.md
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing

#33064 migrate pull-kubernetes-e2e-autoscaling-vpa-full
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33068 Drop external cloud provider from ci-kubernetes-e2e-ec2-alpha-enabled-default
  config/jobs/kubernetes/sig-cloud-provider/periodic-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, sig/cloud-provider, area/config

#33053 fix timeout for crio cgroupv1 by making it equivalent to cgroupv2
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#33069 added containerd refs to ResourceHealthStatus presubmit job
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config
