Repository kubernetes/test-infra, pull requests merged in 2024-10, with the labels that each got.

#33548 Ingress NGINX: Remove NGINX v1.21.
  config/jobs/image-pushing/k8s-staging-ingress-nginx.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#33568 [kueue] Skip slow and redundant integration test in PR builds.
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33570 Add mimowo to owners for kueue
  config/jobs/kubernetes-sigs/kueue/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33569 Test the upcoming containerd 2.0.0 (rc5)
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#33567 Add new E2E job for volume group snapshots in KIND cluster
  config/jobs/kubernetes/sig-storage/sig-storage-kind.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/storage, area/jobs, area/config, ok-to-test

#33572 Add CAPZ PR job to run 100 node azure custom k8s build test
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33577 Ingress NGINX: Bump `e2e-test-runner` to v20241004-114a6abb.
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#33580 Updating CAPZ master informing job to Windows 2022
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#33581 drop run_if_changed for pull-cluster-api-provider-azure-load-test-custom-builds
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33582 Fix template name in CAPZ custom k8s PR job
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33579 apidiff: enable trial build with controller-manager
  config/jobs/kubernetes/sig-testing/apidiff.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#33583 Kops - Downgrade thet AWS VPC CNI and cilium-eni jobs to 22.04
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33585 apidiff: fix controller-runtime branch
  config/jobs/kubernetes/sig-testing/apidiff.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33586 apidiff: fix multiline string
  config/jobs/kubernetes/sig-testing/apidiff.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33587 Migrate to community-owned S3 bucket for discovery store
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33551 replicate pull-kubernetes-node-crio-cgrpv2-imagevolume-e2e using kubetest2
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#33565 chore: update owners & reviewers for capa jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33537 add azure-community preset to cloud-provider-azure-master-capz-main job
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#33584 Update OWNERS
  config/jobs/kubernetes-sigs/apiserver-network-proxy/OWNERS
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#33534 test(compatibility-versions): adds test script and periodic prow job for testing kubernetes feature compatibility versions
  config/jobs/kubernetes/sig-testing/compatibility-versions-e2e.yaml
  experiment/compatibility-versions/OWNERS
  experiment/compatibility-versions/e2e-k8s-compatibility-versions.sh
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#33592 fix: resolve issue with ci-kubernetes-e2e-kind-compatibility-versions where expected kubernetes was not present + change config to not use GOPATH
  config/jobs/kubernetes/sig-testing/compatibility-versions-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33595 fix: use bash instead of sh to resolve popd: not found issue in ci-kubernetes-e2e-kind-compatibility-versions
  experiment/compatibility-versions/e2e-k8s-compatibility-versions.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#33547 add presubmit and preiodic jobs for cri proxy
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#33596 Kops - Request more resources for digitalocean jobs
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33597 Kops - partially revert discovery store migration
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33599 Use squash merge method for cloud-provider-azure
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config, ok-to-test

#33593 Drop unnecessary client-go presubmits
  config/jobs/kubernetes/client-go/OWNERS
  config/jobs/kubernetes/client-go/client-go-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#33600 Remove kops 1.27 + 1.28 pipeline jobs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33602 Temporarily reduce CAPZ load test nodes to 80
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33603 containerd: pull-containerd-node-e2e-1-7-sandboxed
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
  jobs/e2e_node/containerd/containerd-release-1.7-sandboxed-presubmit/env
  jobs/e2e_node/containerd/containerd-release-1.7-sandboxed-presubmit/image-config-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#33604 containerd: add samuelkarp to approvers
  config/jobs/containerd/containerd/OWNERS
  jobs/e2e_node/containerd/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#33606 containerd: use correct env for presubmit jobs
  jobs/e2e_node/containerd/containerd-release-1.7-presubmit/image-config-presubmit.yaml
  jobs/e2e_node/containerd/containerd-release-1.7-sandboxed-presubmit/image-config-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node

#33601 [label-sync] Revert recent updates to linkify()
  label_sync/labels.md
  label_sync/main.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/contributor-experience, area/label_sync

#33607 containerd: new presubmit job for 1.6 with systemd
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
  jobs/e2e_node/containerd/containerd-release-1.6-systemd-cgroup-presubmit/env
  jobs/e2e_node/containerd/containerd-release-1.6-systemd-cgroup-presubmit/image-config-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#33608 bump label_sync to v20241009-8bb28ed95b
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/contributor-experience, area/jobs, area/config, area/label_sync, sig/k8s-infra

#33613 Kops - Update upgrade and conformance jobs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/testgrids/kubernetes/kops/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33614 pull-kubernetes-node-e2e-cri-proxy-serial is not updated to `test`
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#33615 set ci-k8sio-file-promo-mirrors to 3h
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/release, area/release-eng

#33617 remove branch for presubmit node e2e cri proxy
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#33620 Bump CAPZ perf test job nodes back to 100
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33619 Add periodic jobs for CAPZ release 1.17 branch
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-v1beta1-release-1.17.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33550 replicate crio presubmits using kubetest2
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#33610 Setup release-0.14 branch jobs for CAPI Operator
  config/jobs/kubernetes-sigs/cluster-api-operator/cluster-api-operator-periodics-release-0-14.yaml
  config/jobs/kubernetes-sigs/cluster-api-operator/cluster-api-operator-presubmits-release-0-14.yaml
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33621 filter out swap tests on sig-node presubmits
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#33626 etcd: mark etcd arm integration presubmits as blocking
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#33624 Disable periodic enhancements sync
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-release-release-team-jobs/release-team-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#33618 DRA: prepare for beta and new alpha features
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#33625 Cri proxy CI fix
  config/jobs/kubernetes/sig-node/ec2-containerd-presubmit.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/node, area/jobs, area/config

#33303 Add `external-snapshot-metadata` repo to CSI jobs
  config/jobs/image-pushing/k8s-staging-sig-storage.sh
  config/jobs/image-pushing/k8s-staging-sig-storage.yaml
  config/jobs/kubernetes-csi/external-snapshot-metadata/external-snapshot-metadata-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/testgrids/kubernetes/sig-storage/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XL, approved, sig/testing, area/jobs, area/config, ok-to-test

#33628 Kettle subscribes to gs://kubernetes-ci-logs changes.
  kettle/deployment.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/kettle

#33611 Switch logs destination from kubernetes-jenkins to kubernetes-ci-logs
  config/prow/config.yaml
  config/tests/jobs/jobs_test.go
  images/bigquery/runner
  images/bootstrap/entrypoint.sh
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/images, area/config

#33631 allow old bucket to viewed in deck
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#33633 evented-pleg presubmit: fix image-config-file option
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#33637 upgrade k8s version for running blob csi driver tests
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config

#33636 update ci-kubernetes-e2e-gce-scale-correctness days_of_results to 60
  config/testgrids/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#33632 Sleep for 5 min before running CL2 test
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33640 Synchronized pull and ci arm64-e2e-containerd-ec2 job configs
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#33641 skip NodeSwap pull-kubernetes-node-arm64-ubuntu-serial-gce
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#33642 disabled EventedPLEG standalone-mode-all-alpha
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#33643 set up blob csi driver e2e test on arm64 node
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#33616 CAPV: set limits for deactivated periodics
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-periodics-kubetest.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-periodics-upgrades.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-periodics.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-presubmits.yaml.tpl
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#33645 Kueue: upgrade Go version to 1.23
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#33644 synchronized pull and ci arm64-e2e-containerd-ec2-canary job configs
  config/jobs/kubernetes/sig-node/ec2-containerd-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#33647 fix dra kubetest failures
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#33650 Add additional context for kOps
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#33651 Remove Azure disk CSI install env var from CAPZ load job
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33655 Remove prometheus env vars from CAPZ load test
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33598 Turn off branch protection for weekly shared dev branches in LWKD.
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#33648 remove timeout from dra kube tests
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#33658 kubetest2 fix dra presubmit test by adding ginkgo.
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#33634 Clean up most references to kubernetes-jenkins.
  config/jobs/README.md
  images/builder/README.md
  kettle/OVERVIEW.md
  kettle/deployment-staging.yaml
  kettle/stream.py
  robots/commenter/main_test.go
  testgrid/config.md
  testgrid/conformance/design.md
  triage/script_test.js
Labels: lgtm, area/testgrid, area/triage, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/kettle, area/images, area/config, area/robots

#33590 Remove secrets-store-csi-driver-gcp and use rental project
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#33663 Add report dir for CAPZ PR load test job and remove prometheus args
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33659 disable Evented PLEG for ci-kubernetes-node-e2e-containerd-standalone-mode-all-alpha
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#33664 LWS: update go version to 1.23
  config/jobs/kubernetes-sigs/lws/lws-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33667 cluster-api-provider-aws: bump requests/limits for verify job
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits-release-2.4.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#33671 Update kubekins / krte to Go 1.23.2
  images/kubekins-e2e-v2/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#33674 run azure disk e2e test on supported k8s versions
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config

#33576 kubespray: allow to manage ci labels with /label
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#33668 Increase pull-azure-sig timeout
  config/jobs/kubernetes-sigs/image-builder/image-builder-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#33638 testgrid: Placeholder for prowjobs
  config/jobs/kubernetes-sigs/testgrid/README.md
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33680 Kops - Remove many-addons upgrade tests for kops 1.28 and 1.29
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33684 Use URL-escaped filter in scale-correctness job.
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#33688 DRA: replace classic DRA periodic job
  config/jobs/kubernetes/sig-node/dynamic-resource-allocation.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#33687 Add pull-kubernetes-e2e-gce-relaxed-environment-variable-validation job in sig-nodes presubmit tests
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, sig/node, area/jobs, sig/cloud-provider, area/config

#33689 Upgrade golang to 1.23 for JobSet
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-main.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit-main.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#33690 Add timeout for node-arm64-ubuntu-serial-gce job
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#33691 disable broken vmssflex test by default
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#33693 fix pull-kubernetes-e2e-kind-alpha-features
  config/jobs/kubernetes/sig-testing/kubernetes-kind.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33694 increase ginkgo timeout for serial jobs on kubetest2
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#33697 rename tab name from ci-kind-classic-dra to ci-kind-dra-all
  config/jobs/kubernetes/sig-node/dynamic-resource-allocation.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#33698 Expand env variables in extract flag
  kubetest/extract_k8s.go
Labels: lgtm, cncf-cla: yes, area/kubetest, size/XS, approved, sig/testing, ok-to-test

#33692 Update kubekins to Go 1.22.8
  images/kubekins-e2e-v2/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/images, ok-to-test, area/release-eng

#33678 Removing Windows Server 2019 jobs for K8s@master and updating container version used in prow jobs to v1.7.23
  config/jobs/kubernetes-sigs/sig-windows/presets.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/windows, area/jobs, area/config

#33695 Add ci-kubernetes-e2e-relaxed-environment-variable-validation job in sig-nodes periodics tests
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#33682 Add job to run TestGrid UI tests.
  config/jobs/kubernetes-sigs/testgrid/testgrid-presubmits.yaml
  config/testgrids/kubernetes/sig-testing/sig-testing.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#33701 Bump CAPZ load test control plane replicas to 7
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33696 typo fix for kubetest2 migration jobs
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#33702 Update capg jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-periodics-release-1-8.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits-release-1-8.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/gcp, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33705 Increase CAPZ control plane node size to D16s
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33703 Run all workloads in pull-kubernetes-scheduler-perf presubmit
  config/jobs/kubernetes/sig-scheduling/sig-scheduling-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scheduling, area/jobs, area/config

#33704 Disable kOps default StorageClass for `e2e-ci-kubernetes-e2e-cos-gce-serial-canary`
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33709 jobs: change frequency for CAPO periodic jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-openstack/cluster-api-provider-openstack-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33708 node-e2e-containerd-alpha-features: disable EventedPLEG
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#33710 openshift: hypershift: add aks periodics
  config/testgrids/openshift/hypershift.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/config, ok-to-test

#33712 Bump CAPZ KCP to 5 nodes
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33711 chore: added jobs for CAPA release-2.6 branch
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics-release-2.6.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits-release-2.6.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, area/jobs, area/config

#33715 Add new sig-etcd job for raft arm64 presubmits
  config/jobs/etcd/etcd-raft-presubmits.yaml
  config/testgrids/kubernetes/sig-etcd/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/etcd

#33716 Enable cgo for raft arm64 presubmit
  config/jobs/etcd/etcd-raft-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#33721 Add missing arm64 nodeselector for new raft presubmit
  config/jobs/etcd/etcd-raft-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#33718 Kops - Don't publish the latest-ci marker from periodics
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33720 etcd: add 1 cpu unit test bbolt presubmit
  config/jobs/etcd/etcd-bbolt-presubmits.yaml
  config/testgrids/kubernetes/sig-etcd/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/etcd

#33722 pre-submit/network: e2e kind ipvs
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/network, sig/testing, area/jobs, area/config

#33724 openshift: remove jeremyeder and add sjenning to OWNERS
  config/testgrids/openshift/OWNERS
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#33717 Update kettle image to match that in k8s.io deployment file.
  kettle/deployment.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/kettle

#33726 etcd: add bbolt remaining presubmits
  config/jobs/etcd/etcd-bbolt-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/etcd

#33727 etcd: import bbolt arm64 robustness tests
  config/jobs/etcd/etcd-bbolt-periodics.yaml
  config/jobs/etcd/etcd-bbolt-presubmits.yaml
  config/testgrids/kubernetes/sig-etcd/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/etcd

#33728 etcd: run bbolt robustness tests in privileged mode
  config/jobs/etcd/etcd-bbolt-periodics.yaml
  config/jobs/etcd/etcd-bbolt-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#33713 Remove alculquicondor from kueue and sched-simulator OWNERS
  config/jobs/kubernetes-sigs/kube-scheduler-simulator/OWNERS
  config/jobs/kubernetes-sigs/kueue/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33729 etcd: make bbolt robustness test optional
  config/jobs/etcd/etcd-bbolt-periodics.yaml
  config/jobs/etcd/etcd-bbolt-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#33675 kubernetes-sigs/nfd: bump golang in release-0.15 to v1.22
  config/jobs/kubernetes-sigs/node-feature-discovery/node-feature-discovery-presubmits-release-0-15.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33733 Migrate release-3.5 arm64 integration tests to prow
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#33734 Migrate etcd release-3.5 arm64 smoke presubmit to prow
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/etcd

#33725 Increase timeout of scheduler_perf jobs
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scheduling/sig-scheduling-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/scalability, sig/scheduling, area/jobs, area/config

#33735 etcd: don't run robustness and race bbolt presubmits until stable
  config/jobs/etcd/etcd-bbolt-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#33707 Bump CAPZ KCP node size to D64s
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33738 Remove killianmuldoon from CAPI and CAPV owners
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/OWNERS
  config/jobs/kubernetes-sigs/cluster-api/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33740 Kops - Migrate k/k jobs to k8s-infra-kops-prow-build prow
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33743 ipvs jobs
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/network, sig/testing, area/jobs, kind/flake, area/config

#33744 Migrate last ci-kubernetes AWS job to k8s-infra-kops-prow-build
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33700 Use correct main branch in image publishing of external-snapshot-metadata
  config/jobs/image-pushing/k8s-staging-sig-storage.sh
  config/jobs/image-pushing/k8s-staging-sig-storage.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, ok-to-test
