Repository kubernetes/test-infra, pull requests merged in 2024-03, with the labels that each got.

#32116 [pull-containerd-k8s-e2e-ec2] Use the latest prebuilt k8s from master
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#32119 Add cloud provider vsphere test infra code owner
  config/jobs/kubernetes/cloud-provider-vsphere/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/provider/vmware, sig/cloud-provider, area/config

#31977 feat: migrate pull-kubernetes-e2e-gce-storage-slow job into community cluster
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/storage, area/jobs, area/config, ok-to-test

#32122 Allow pull-containerd-k8s-e2e-ec2 in older 1.7 branch
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#32124 Trigger pull-containerd-k8s-e2e-ec2 if files in directory named cri or cri-api are touched
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#32123 update jobs to use go1.22
  config/jobs/kubernetes-sigs/downloadkubernetes/downloadkubernetes-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#32126 update tejolote jobs to use go1.22
  config/jobs/kubernetes-sigs/tejolote/tejolote-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#32131 prow: squash gateway-api PRs
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#32133 Add more dashboards for pull-containerd-k8s-e2e-ec2
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#32134 Add integration test to lws
  config/jobs/kubernetes-sigs/lws/lws-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#32138 Add alpha-features related CI jobs using kubetest2 ec2
  config/jobs/kubernetes/sig-cloud-provider/periodic-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, sig/cloud-provider, area/config

#32139 Update to newer COS image versions for m109
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.29.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, priority/critical-urgent, area/provider/gcp, sig/testing, sig/node, sig/release, area/jobs, sig/cloud-provider, area/config, area/release-eng

#32140 Typo! line continuations for ci-kubernetes-e2e-ec2-alpha* jobs
  config/jobs/kubernetes/sig-cloud-provider/periodic-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, sig/cloud-provider, area/config

#32141 copy pasta in ci-kubernetes-e2e-ec2-alpha-enabled-default job
  config/jobs/kubernetes/sig-cloud-provider/periodic-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, sig/cloud-provider, area/config

#32105 Add job to run e2e test suite on latest k8s version
  config/jobs/kubernetes/cloud-provider-vsphere/cloud-provider-vsphere-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/provider/vmware, sig/cloud-provider, area/config

#32137 Migrate cluster-api-addon-provider-helm-periodics-main to the community infra
  config/jobs/kubernetes-sigs/cluster-api-addon-provider-helm/cluster-api-addon-provider-helm-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config, ok-to-test

#32144 fix run on latest k8s version fail
  config/jobs/kubernetes/cloud-provider-vsphere/cloud-provider-vsphere-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/provider/vmware, sig/cloud-provider, area/config

#28990 Use prowflagutil.KubernetesOptions in pipeline tool with exit callback
  prow/cmd/pipeline/main.go
  prow/cmd/pipeline/main_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing

#32147 Revert "Switch the T4 GPUs for the GPU tests"
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gcp-gpu-presubmits.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
  jobs/e2e_node/containerd/image-config-serial.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, sig/node, area/jobs, sig/cloud-provider, area/config

#32128 add disk partition rather than use /tmp.
  jobs/e2e_node/crio/crio_cgroupsv2_imagefs.ign
  jobs/e2e_node/crio/crio_cgroupsv2_splitfs.ign
  jobs/e2e_node/crio/templates/base/50-storage.conf
  jobs/e2e_node/crio/templates/base/60-storage-split-disk.conf
  jobs/e2e_node/crio/templates/base/imagefs.yaml
  jobs/e2e_node/crio/templates/base/splitfs.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2_imagefs.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2_splitfs.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node

#32148 `gcs-upload`: add a couple of enhancements to upload compression logic
  prow/pod-utils/gcs/testdata/graph.json
  prow/pod-utils/gcs/testdata/log.txt
  prow/pod-utils/gcs/testdata/really-a-zip.log
  prow/pod-utils/gcs/testdata/small.json
  prow/pod-utils/gcs/testdata/something.log
  prow/pod-utils/gcs/upload.go
  prow/pod-utils/gcs/upload_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/pod-utilities

#32150 Increase requests and limits for kueue integration tests
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#32136 Change CI Image for Kueue
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#32151 Revert "Suspend Prow auto deployment for March 1"
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32154 EC2 based GPU job - same as ci-kubernetes-e2e-gce-device-plugin-gpu
  config/jobs/kubernetes/sig-cloud-provider/periodic-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, sig/cloud-provider, area/config

#32156 move some of the non-e2e kubernetes presubmits to EKS prow build cluster
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.26.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.27.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.28.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.29.yaml
  config/jobs/kubernetes/sig-testing/typecheck.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#32159 feat: migrate pull-kubernetes-node-arm64-ubuntu-serial-gce-1.29 into community cluster
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.29.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, ok-to-test, area/release-eng

#32161 device-plugin-gpu: decrease number of GPU nodes
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#31659 add presubmit jobs for loadbalancers with kind cloud-provider
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/network, sig/testing, area/jobs, area/config

#32121 Add E2E for CAPV using vcsim
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-presubmits.yaml.tpl
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#32163 fix image and parameters for kind lb
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#32143 Fix typo in e2e-kops-aws-selinux skips
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32164 don´t run kindlb until it is working
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#32166 capz: remove non-working prowjob-default-sa
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32165 `gcs-upload`: perform additional checks to see if data/file is valid for compression at write time
  prow/pod-utils/gcs/testdata/graph.json
  prow/pod-utils/gcs/testdata/log.txt
  prow/pod-utils/gcs/testdata/really-a-zip.log
  prow/pod-utils/gcs/testdata/small.json
  prow/pod-utils/gcs/testdata/something.log
  prow/pod-utils/gcs/upload.go
  prow/pod-utils/gcs/upload_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/pod-utilities, tide/merge-method-squash

#32084 dra: test DRA with SchedulerQueueingHints enabled
  config/jobs/kubernetes/sig-node/dynamic-resource-allocation.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#32170 add quote to splitfs e2e tests
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#32085 scheduler: add `scheduler` config and enable scheduling in `trigger` plugin
  prow/apis/prowjobs/v1/types.go
  prow/config/config.go
  prow/config/config_test.go
  prow/config/prow-config-documented.yaml
  prow/config/scheduler.go
  prow/pjutil/pjutil.go
  prow/pjutil/pjutil_test.go
  prow/plugins/trigger/trigger.go
  prow/plugins/trigger/trigger_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XL, approved, sig/testing, area/prow/plugins

#32127 Enforce 1.30 code freeze
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, priority/critical-urgent, sig/testing, area/config

#32174 Increase requests and limits for kueue 0.6 integrations tests
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-6.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#32173 scheduler: handle scheduling everywhere
  prow/cmd/deck/rerun.go
  prow/cmd/deck/rerun_test.go
  prow/cmd/horologium/main.go
  prow/cmd/horologium/main_test.go
  prow/cmd/mkpj/main.go
  prow/gangway/gangway.go
  prow/gerrit/adapter/adapter.go
  prow/pubsub/subscriber/subscriber.go
  prow/pubsub/subscriber/subscriber_test.go
  prow/tide/tide.go
  prow/tide/tide_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/gerrit, area/prow/deck, area/prow/mkpj, area/prow/tide, area/prow/horologium, area/prow/pubsub

#32169 feat: migrate pull-kubernetes-node-arm64-ubuntu-serial-gce-1,28 into community cluster
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.28.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, ok-to-test, area/release-eng

#32168 Added cluster migration todo job and first document
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
  docs/job-migration-todo.md
  hack/cluster-migration/main.go
  hack/cluster-migration/update_todo.sh
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#32176 migrate periodics of cluster-api-addon-provider-helm to community infra
  config/jobs/kubernetes-sigs/cluster-api-addon-provider-helm/cluster-api-addon-provider-helm-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, sig/release, area/jobs, area/config, ok-to-test, area/release-eng

#32178 Migrate cluster-api-addon-provider-helm presubmits to community infra
  config/jobs/kubernetes-sigs/cluster-api-addon-provider-helm/cluster-api-addon-provider-helm-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config, ok-to-test

#32185 bump machine to n1-standard-4 to test if larger machine fixes oom
  jobs/e2e_node/crio/latest/image-config-cgrpv1-serial.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv2-serial.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node

#32155 add cgroupv2 crio performance test
  config/jobs/kubernetes/sig-node/crio.yaml
  jobs/e2e_node/crio/latest/image-config-cgrpv2-performance.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#32183 kOps: migrate network-plugins tests to community infra
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32031 Add flaky serial kubelet test
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#32181 add presubmit CI job for ec2+GPU scenario
  config/jobs/kubernetes/sig-cloud-provider/aws/ec2-e2e.yaml
  config/jobs/kubernetes/sig-cloud-provider/periodic-e2e.yaml
Labels: lgtm, area/gubernator, cncf-cla: yes, size/M, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#32186 picked wrong instance type for nvidia in ec2/aws
  config/jobs/kubernetes/sig-cloud-provider/aws/ec2-e2e.yaml
  config/jobs/kubernetes/sig-cloud-provider/periodic-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#32188 Allow tweaking number of GPU containers using TEST_MAX_GPU_COUNT
  config/jobs/kubernetes/sig-cloud-provider/aws/ec2-e2e.yaml
  config/jobs/kubernetes/sig-cloud-provider/periodic-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#32187 Kops - Migrate kops distro and conformance jobs to community prow clusters
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/helpers.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32177 Add E2E for CAPV using vcsim in supervisor mode
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-presubmits.yaml.tpl
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#32193 Introduce T4 to GPU canary test
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#32184 Run Prow test for main branch as privileged
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, sig/node, area/provider/aws, area/jobs, sig/cloud-provider, area/config, tide/merge-method-squash, ok-to-test

#32197 kOps: migrate specific scenarios to community infra
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32182 jobs: migrated remaining k/k jobs into community cluster
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.26.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.27.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.28.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/jobs, area/config, ok-to-test, area/release-eng

#32198 Enable `preset-dind-enabled` to `true`
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#32202 Fix update_todo.sh for periodic job
  hack/cluster-migration/update_todo.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#32204 kOps: Migrate periodics pipeline and versions to community infra
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32203 fix vsphere cpi post merge job fail because of docker unavailable
  config/jobs/kubernetes/cloud-provider-vsphere/cloud-provider-vsphere-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/provider/vmware, sig/cloud-provider, area/config

#32205 kOps: migrate periodics grid to community infra
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32200 Waiting 30 seconds for pods stopped with terminationGracePeriod:30
  images/bootstrap/runner.sh
  images/krte/wrapper.sh
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, sig/node, area/images

#32206 Skip AMI check as we use a fixed AMI in ec2/gpu periodic job
  config/jobs/kubernetes/sig-cloud-provider/periodic-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, sig/cloud-provider, area/config

#32208 Switch to the fast builds given we use linux/amd64 only in this CI job
  config/jobs/kubernetes/sig-cloud-provider/periodic-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, sig/cloud-provider, area/config

#32210 kOps: migrate periodics conformance to community infra
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32212 [ec2][gpu] Switch to using e2e.test from ci/fast/latest-fast.txt
  config/jobs/kubernetes/sig-cloud-provider/periodic-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, sig/cloud-provider, area/config

#32065 Create branchs job for apiserver-network-proxy.
  config/jobs/kubernetes-sigs/apiserver-network-proxy/apiserver-network-proxy-presubmits-0.28.yaml
  config/jobs/kubernetes-sigs/apiserver-network-proxy/apiserver-network-proxy-presubmits-0.29.yaml
  config/jobs/kubernetes-sigs/apiserver-network-proxy/apiserver-network-proxy-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config, ok-to-test

#32217 etcd: add periodic tests ci-etcd-unit-test-amd64 and ci-etcd-robustness-amd64
  config/jobs/etcd/etcd-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/etcd

#31749 Add config to autobump k8s-staging-apisnoop
  config/prow/autobump-config/prow-job-autobump-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config

#29269 Remove old jetstack cert-manager results from testgrid
  config/testgrids/jetstack/OWNERS
  config/testgrids/jetstack/gen-config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XL, approved, sig/testing, area/config

#32220 :bug: ci-kubernetes-e2e-ec2-alpha-enabled-default needs --external-cloud-provider
  config/jobs/kubernetes/sig-cloud-provider/periodic-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, sig/cloud-provider, area/config

#32222 Move NPD CI job to k8s-infra-prow-build
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-ci.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#32224 Specify image-family/project for NPD/ubuntu presubmit jobs
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#32225 Fix NPD ubuntu presubmit test config typo
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#32223 Cleanup K8S `v1.24` dashboards for Gardener
  config/testgrids/conformance/conformance-all.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, needs-ok-to-test, size/M, approved, sig/testing, kind/cleanup, area/config

#32221 remove periodic-conformance-main-k8s-main from master informing board
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32228 Move NPD presubmit jobs to k8s-infra-prow-build
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#32211 scheduler: update ProwJob CRD
  config/prow/cluster/prowjob-crd/legacy/prowjob-schemaless_customresourcedefinition.yaml
  config/prow/cluster/prowjob-crd/prowjob_customresourcedefinition.yaml
  prow/apis/prowjobs/v1/types.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XS, approved, sig/testing, area/config, area/prow/bump

#32230 Revert "Move NPD CI job to k8s-infra-prow-build"
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-ci.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#32231 Revert "Move NPD presubmit jobs to k8s-infra-prow-build"
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#32233 Update apisnoop audit-logger image
  config/jobs/kubernetes/sig-arch/conformance-gate.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/architecture, area/jobs, area/config, area/conformance

#31920 Migrate pull-secrets-store-csi-driver-e2e-provider-* jobs to community cluster
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#32235 etcd: increase robustness test timeout to 200m.
  config/jobs/etcd/etcd-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#31806 migrate ci-kubernetes-e2e-snapshot to community cluster
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/storage, area/jobs, area/config, ok-to-test

#32216 Update gcp-guest dashboard tabs and set alerting options
  config/testgrids/gcp-guest/gcp-guest.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, needs-ok-to-test, size/S, approved, sig/testing, area/config

#32239 Switch to ci/fast for ec2 CI jobs
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-periodics.yaml
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-presubmit.yaml
  config/jobs/kubernetes/sig-cloud-provider/aws/ec2-e2e.yaml
  config/jobs/kubernetes/sig-cloud-provider/periodic-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#32209 Move CAPV vcsim jobs to the community cluster + Add periodics
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-periodics.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-presubmits.yaml.tpl
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#32234 Add presubmit for CAPV supervisor mode
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-presubmits.yaml.tpl
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#32238 kops: migrate presubmits to community infra
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32190 Enable alpha feature flag for 'Service.spec.trafficDistribution' field in multizone kind cluster
  experiment/kind-multizone-e2e.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing

#32241 Drop ci-kubernetes-e2e-gce-device-plugin-gpu-canary as duplicate
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#32243 Revert "kops: migrate presubmits to community infra"
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32213 add job to run ff for k/website
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-trusted.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/release, area/release-eng

#32215 Prevent Prow from depending on most* test-infra packages outside the prow/ directory.
  experiment/image-bumper/README.md
  experiment/image-bumper/main.go
  ghproxy/ghproxy.go
  maintenance/migratestatus/.gitignore
  maintenance/migratestatus/README.md
  maintenance/migratestatus/migrate-many.sh
  maintenance/migratestatus/migratestatus.go
  maintenance/migratestatus/migratestatus_test.go
  prow/cmd/generic-autobumper/bumper/bumper.go
  prow/cmd/generic-autobumper/helper.go
  prow/cmd/generic-autobumper/imagebumper/imagebumper.go
  prow/cmd/generic-autobumper/imagebumper/imagebumper_test.go
  prow/cmd/generic-autobumper/main.go
  prow/cmd/generic-autobumper/updater/updater.go
  prow/cmd/generic-autobumper/updater/updater_test.go
  prow/cmd/gerrit/main.go
  prow/cmd/moonraker/main.go
  prow/cmd/webhook-server/clients.go
  prow/cmd/webhook-server/main.go
  prow/cmd/webhook-server/secretmanager/secretmanager.go
  prow/diskutil/diskutil.go
  prow/statusreconciler/controller.go
  prow/statusreconciler/migrator/migrator.go
  prow/statusreconciler/migrator/migrator_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XL, approved, sig/testing, area/ghproxy, area/prow/hook, area/prow/gerrit, area/prow/status-reconciler

#32247 [kubetest2-ec2] fix missing and duplicate test-package-* CLI parameters
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-cloud-provider/periodic-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, sig/cloud-provider, area/config

#32248 Move myself to emeritus in various OWNERs files
  config/jobs/kubernetes-sigs/cluster-api/OWNERS
  config/jobs/kubernetes/sig-cloud-provider/azure/OWNERS
  config/jobs/kubernetes/sig-cluster-lifecycle/OWNERS
  config/testgrids/kubernetes/sig-cloud-provider/azure/OWNERS
  config/testgrids/kubernetes/sig-cluster-lifecycle/OWNERS
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, sig/cloud-provider, area/config

#32251 Kops - Migrate upgrade tests of newer k/k versions to new prow cluster
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32226 scheduler: add `failover` strategy
  prow/config/prow-config-documented.yaml
  prow/config/scheduler.go
  prow/scheduler/strategy/default.go
  prow/scheduler/strategy/failover.go
  prow/scheduler/strategy/failover_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/plank

#32250 Allow exceptions to consistent images in autobumper.
  prow/cmd/generic-autobumper/helper.go
  prow/cmd/generic-autobumper/helper_test.go
  prow/cmd/generic-autobumper/main.go
  prow/cmd/generic-autobumper/main_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/config, area/prow/hook

#32249 Split Prow image publishing job to distinguish non-prow images.
  .k8s-prow-images.yaml
  Makefile
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  prow/.prow-images.yaml
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#32260 Kops - migrate more periodic jobs to community-owned prow clusters
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-scale.yaml
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32262 Update to latest containerd version - v1.7.14
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/network, area/provider/gcp, sig/testing, sig/storage, area/jobs, sig/cloud-provider, area/config

#31974 Update kustomize presubmit to Go 1.21
  config/jobs/kubernetes-sigs/kustomize/kustomize-presubmit-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32254 Fix canary kops k/k jobs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/gcp, sig/testing, sig/cluster-lifecycle, area/jobs, sig/cloud-provider, area/config

#32265 Bump go version to 1.22 for controller-runtime
  config/jobs/kubernetes-sigs/controller-runtime/controller-runtime-periodics-main.yaml
  config/jobs/kubernetes-sigs/controller-runtime/controller-runtime-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, area/jobs, area/config

#32258 csi-secrets-store: bump k8s versions test matrix
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#32257 Exempt non-Prow images from autobump consistency check.
  config/prow/autobump-config/prow-component-autobump-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#32263 Add swap-specific (a.k.a. swap conformance) jobs
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#32264 yet another timeout increase for CRI-O serial
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#32266 Fix spelling validation and updating.
  config/testgrids/kubernetes/sig-cloud-provider/ibm/config.yaml
  hack/make-rules/update/misspell.sh
  hack/make-rules/verify/misspell.sh
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing, sig/cloud-provider, area/config

#32269 Remove post-k8sio-deploy-app-k8s-io-packages job
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-apps.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#32273 update jobs to use go1.22
  config/jobs/kubernetes/release/release-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#32270 Test ci-kubernetes-e2e-gci-gce-alpha-enabled-default with newer containerd/runc
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#32113 sig-autoscaling: add azure presubmit e2e
  config/jobs/kubernetes/sig-autoscaling/azure/OWNERS
  config/jobs/kubernetes/sig-autoscaling/azure/cluster-autoscaler-azure-presubmits.yaml
  config/tests/jobs/jobs_test.go
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#32284 Remove Deck dependencies on gopherage to ease source migration.
  prow/spyglass/lenses/coverage/coverage.ts
  prow/spyglass/lenses/coverage/parser.ts
  prow/spyglass/lenses/coverage/tsconfig.json
  prow/spyglass/lenses/coverage/utils.ts
Labels: lgtm, area/prow, cncf-cla: yes, size/L, approved, sig/testing, area/prow/spyglass

#32283 Remove gcp-guest testgrid
  config/testgrids/gcp-guest/gcp-guest.yaml
  config/testgrids/google/google.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/config, ok-to-test

#32287 increase azure file e2e test timeout as 3 hours
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#32288 Update cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#32281 scheduler: logrus logger in reconciler
  prow/scheduler/reconciler.go
Labels: lgtm, area/prow, cncf-cla: yes, size/S, approved, sig/testing

#32289 Remove JoelSpeed from CAPIO reviewers and approvers
  config/jobs/kubernetes-sigs/cluster-api-operator/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32292 Increase memory request/limit for `pull-aws-ebs-csi-driver-verify`
  config/jobs/kubernetes-sigs/aws-ebs-csi-driver/aws-ebs-csi-driver-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32293 cluster-autoscaler: Azure E2E builds from source
  config/jobs/kubernetes/sig-autoscaling/azure/cluster-autoscaler-azure-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32294 drop kube 1-26 from jobset presubmits
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#32295 1.26 is out of support
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-4.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-5.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-6.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#32296 JobSet: bump Go container image version to 1.22
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32297 etcd: increase resources of etcd-robustness test.
  config/jobs/etcd/etcd-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#32298 Add ProwJobs for the kubernetes-sigs/prow repo
  config/jobs/kubernetes-sigs/prow/prow-periodics.yaml
  config/jobs/kubernetes-sigs/prow/prow-postsubmits.yaml
  config/jobs/kubernetes-sigs/prow/prow-presubmits.yaml
  config/testgrids/kubernetes/sig-testing/sig-testing.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#32279 Adjust resources for CAPO build job
  config/jobs/kubernetes-sigs/cluster-api-provider-openstack/cluster-api-provider-openstack-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#32299 [kueue] Test importer image build.
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32301 Bump golang to 1.22 for Kueue
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#32302 add builder-image for jobset
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32282 plank: Do not handle ProwJobs in scheduling
  prow/plank/controller_test.go
  prow/plank/reconciler.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing, area/prow/plank

#32300 scheduler: schedule with respect to `.spec.agent`
  prow/scheduler/reconciler.go
  prow/scheduler/reconciler_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/M, approved, sig/testing

#32303 Migrate lws go version to 1.22
  config/jobs/kubernetes-sigs/lws/lws-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32306 Remove (most) symlinks under the 'prow' directory.
  prow/crier/README.md
  prow/test/integration/config/prow/cluster/crier_rbac.yaml
  prow/test/integration/config/prow/cluster/crier_service.yaml
  prow/test/integration/config/prow/cluster/deck_rbac.yaml
  prow/test/integration/config/prow/cluster/deck_service.yaml
  prow/test/integration/config/prow/cluster/hook_rbac.yaml
  prow/test/integration/config/prow/cluster/hook_service.yaml
  prow/test/integration/config/prow/cluster/horologium_rbac.yaml
  prow/test/integration/config/prow/cluster/horologium_service.yaml
  prow/test/integration/config/prow/cluster/prow_controller_manager_rbac.yaml
  prow/test/integration/config/prow/cluster/prow_controller_manager_service.yaml
  prow/test/integration/config/prow/cluster/sinker_rbac.yaml
  prow/test/integration/config/prow/cluster/sinker_service.yaml
  prow/test/integration/config/prow/cluster/tide_rbac.yaml
  prow/test/integration/config/prow/cluster/tide_service.yaml
  prow/tide/README.md
Labels: lgtm, area/prow, cncf-cla: yes, size/XL, approved, sig/testing, area/prow/tide, area/prow/crier

#32311 Avoid K8s-Prow specific unit tests in the prow/ directory.
  config/tests/jobs/from_prow_test.go
  config/tests/jobs/jobs_test.go
  prow/cmd/hook/main_test.go
  prow/config/jobs_test.go
  prow/config/jobtests/job_config_test.go
  prow/plugins/approve/approve_test.go
  prow/plugins/config.go
  prow/plugins/welcome/welcome_test.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XL, approved, sig/testing, area/config, area/prow/hook, area/prow/plugins

#32312 Deprecate Phaino since it does not support decorated jobs which have been the standard for years now.
  config/jobs/README.md
  prow/cmd/mkpj/main.go
  prow/cmd/phaino/local.go
  prow/cmd/phaino/local_test.go
  prow/cmd/phaino/main.go
Labels: lgtm, area/prow, cncf-cla: yes, size/XXL, approved, sig/testing, area/jobs, area/config, area/prow/mkpj

#32316 Update cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#32274 Add CAPV periodic E2E test with supervisor mode
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-periodics.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-presubmits.yaml.tpl
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#32309 Make RequireSelfApproval documentation less ambiguous
  prow/plugins/config.go
Labels: lgtm, area/prow, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, area/prow/plugins

#32318 [releng] Add 1.30 and remove 1.26 milestone_applier rules
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/config, area/release-eng

#32285 Restore prow job ci-kubernetes-gce-conformance-latest
  config/jobs/kubernetes/sig-cloud-provider/gcp/gce-conformance.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#32324 Use Go1.22 for kube-scheduler-simulator
  config/jobs/kubernetes-sigs/kube-scheduler-simulator/kube-scheduler-simulator-presubmits-master.yaml
  config/jobs/kubernetes-sigs/kube-scheduler-simulator/kube-scheduler-simulator-presubmits-test-backend.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, area/jobs, area/config

#32326 update mdtoc jobs to use go1.22
  config/jobs/kubernetes-sigs/mdtoc/mdtoc-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32327 update bom jobs to use go1.22
  config/jobs/kubernetes-sigs/bom/bom-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#32325 Run multikueue e2e tests in a separate job
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, ok-to-test

#32331 update release-utils to use go1.22
  config/jobs/kubernetes-sigs/release-utils/release-utils-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#32322 Create Minio secret for credentials to protect exposure in env
  config/prow/cluster/starter/starter-azure.yaml
  config/prow/cluster/starter/starter-s3-kind.yaml
  config/prow/cluster/starter/starter-s3.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/config, ok-to-test, area/prow/bump
