Repository kubernetes/test-infra, pull requests merged in 2024-08, with the labels that each got.

#33182 Fix misc-image push to have git directory.
  .gcloudignore
  config/jobs/image-pushing/k8s-staging-test-infra.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33186 Bump ci-boskos-build-test-verify to use golang 1.22.5
  config/jobs/kubernetes-sigs/boskos/boskos-postsubmits.yaml
Labels: lgtm, cncf-cla: yes, area/boskos, size/XS, approved, sig/testing, area/jobs, area/config

#33178 Latest k8s master does not have Disable feature gates for cloud/credential providers
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33189 chore: Switch cluster templates to use release-1.30 from master
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.27.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.28.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.29.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.30.yaml
Labels: lgtm, cncf-cla: yes, size/XXL, approved, area/provider/azure, sig/testing, kind/failing-test, area/jobs, area/config

#33192 Change ASG name to reflect 5k
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-ec2.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#33193 Removing the old alpine image push job.
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/tests/jobs/jobs_test.go
  docs/job-migration-todo.md
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#33195 migrate periodic-cluster-api-provider-azure-coverage to eks cluster
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33155 [releng] Add 1.31 and remove 1.27 milestone_applier rules
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/config, area/release-eng

#33196 kops: Add a test for EKS Pod Identity
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33199 descheduler: bump(go)=1.22.5/1.21.12
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-master.yaml
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-release-1.29.yaml
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-release-1.30.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#33200 fix vmssflex test failure
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#33202 CAPV: add k8s.io/kubernetes repo to extra refs
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-periodics-kubetest.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-10-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-10-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-10-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-11-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-11-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-11-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-7-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-7-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-8-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-8-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-9-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-9-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-9-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-periodics-kubetest.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-periodics-upgrades.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-periodics.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-presubmits.yaml.tpl
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, area/jobs, area/config

#33194 Removing the old git image push job.
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/tests/jobs/jobs_test.go
  docs/job-migration-todo.md
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#33197 capz: remove windows conformance slow test
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33205 Increase resource available for periodic CAPZ main jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-v1beta1-release-1.15.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-v1beta1-release-1.16.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33206 Replace use of old misc images with new ones.
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-testing-label-sync.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/cluster/halogen.yaml
  label_sync/cluster/label_sync_cron_job.yaml
  label_sync/cluster/label_sync_job.yaml
  testgrid/config-merger-prowjob-example.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, sig/contributor-experience, area/jobs, area/config, area/label_sync, area/prow/bump, sig/k8s-infra

#33209 mark all cgroupv2 jobs with the fail-cgroupv1=true
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/crio.yaml
  config/jobs/kubernetes/sig-node/ec2-containerd.yaml
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#33198 Use latest bootstrap in kubekins-e2e
  images/kubekins-e2e/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#33201 releng: Add jobs for the release-1.31 branch
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.27.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.28.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.29.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.30.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.31.yaml
  config/testgrids/generated-test-config.yaml
  config/testgrids/kubernetes/presubmits/config.yaml
  config/testgrids/kubernetes/sig-release/config.yaml
  gubernator/config.yaml
  releng/README.md
  releng/test_config.yaml
Labels: lgtm, area/gubernator, area/testgrid, cncf-cla: yes, size/XXL, approved, priority/critical-urgent, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#33214 Add a 100 node e2e-kops-aws-small-scale CI job
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-ec2.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/scalability, area/jobs, area/config

#33215 Ensure we test al2023 with amazon-vpc on all PRs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33213 fix windows test infra
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#33218 [ci-kubernetes-e2e-gce-cos-k8sbeta-alphafeatures] Drop unused/removed feature gates
  config/jobs/kubernetes/generated/generated.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#33216 Configure a dedicated service account for Azure Jobs
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-v1beta1-release-1.15.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-v1beta1-release-1.16.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
  config/jobs/kubernetes-sigs/image-builder/image-builder-presubmits.yaml
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.28-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.28-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.29-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.29-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.30-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.30-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/soak-tests.yaml
  config/jobs/kubernetes-sigs/sig-windows/windows-experimental.yaml
  config/jobs/kubernetes-sigs/sig-windows/windows-op-tests.yaml
  config/jobs/kubernetes-sigs/sig-windows/windows-unit.yaml
  config/jobs/kubernetes/sig-autoscaling/azure/cluster-autoscaler-azure-presubmits.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.31.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, sig/release, sig/windows, area/jobs, area/config, area/release-eng

#33181 Exclude NodeSwap on cgroup v1 serial jobs
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#33221 Switch e2e-ci-kubernetes-e2e-al2023-aws-disruptive-canary from kubenet to amazonvpc
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33222 Skip sig-cloud-provider-gcp labelled tests after in-tree cloud provider removal
  config/jobs/kubernetes/generated/generated.yaml
  releng/test_config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#33223 Update e2e-ci-kubernetes-e2e-al2023-aws-disruptive-canary with correct amazon-vpc-cni
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33210 Use new location for Prow images instead of old.
  Makefile
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-prow.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-testing-branchprotector.yaml
  config/jobs/kubernetes/test-infra/test-infra-checkconfig.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/mkpj.sh
  config/prow/autobump-config/prow-component-autobump-config.yaml
  config/prow/cluster/build/grandmatriarch.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/starter/starter-azure.yaml
  config/prow/cluster/starter/starter-gcs.yaml
  config/prow/cluster/starter/starter-s3-kind.yaml
  config/prow/cluster/starter/starter-s3.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/config.yaml
  config/prow/experimental/controller_manager.yaml
  prow/README.md
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config, area/prow/bump, sig/k8s-infra

#33212 Remove old Prow image pushing job.
  config/jobs/kubernetes-sigs/prow/prow-postsubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#33224 Create an initial set of arm64 etcd jobs
  config/jobs/etcd/etcd-periodics.yaml
  config/jobs/etcd/etcd-postsubmits.yaml
  config/jobs/etcd/etcd-presubmits.yaml
  config/testgrids/kubernetes/sig-etcd/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config, sig/etcd

#33228 Fix node-kubelet-cgroupv1-serial-cri-o job by dropping extra quote
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#33229 remove unmigrated scalability presubmits
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/scalability, area/jobs, area/config

#33231 remove umigrated secrets store CSI jobs, cleanup TODO
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
  config/tests/jobs/jobs_test.go
  docs/job-migration-todo.md
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#33232 drop remaining umigrated secrets-store-csi-driver job
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-presets.yaml
  config/tests/jobs/jobs_test.go
  docs/job-migration-todo.md
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#33219 chore: Migrate azure jobs on release branches to community clusters
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.27.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.28.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.29.yaml
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.30.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, area/provider/azure, sig/testing, kind/failing-test, area/jobs, area/config

#33236 fix windows test failure
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#33238 descheduler: set new timeouts and bump existing
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#33237 Use gcr.io/k8s-staging-test-infra/kubekins-e2e image on pull-kueue-test-kjobctl test.
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#33234 cleanup legacy GCP janitor jobs
  config/jobs/kubernetes/sig-scalability/sig-scalability-cleanup.yaml
  config/jobs/kubernetes/test-infra/janitors.yaml
  config/tests/jobs/jobs_test.go
  docs/job-migration-todo.md
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/scalability, area/jobs, area/config

#33243 update jobs TODO
  config/tests/jobs/jobs_test.go
  docs/job-migration-todo.md
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/config

#33244 Clean up names/locations of image-pushing jobs.
  config/jobs/image-pushing/k8s-staging-test-infra.yaml
  images/README.md
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/images, area/config

#33241 drop vsphere-related non-migrated jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-periodics-kubetest.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-10-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-10-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-10-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-11-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-11-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-11-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-7-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-7-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-8-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-8-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-9-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-9-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-9-presubmits.yaml
  config/jobs/kubernetes-sigs/vsphere-csi-driver/vsphere-csi-driver.yaml
  config/jobs/kubernetes/cloud-provider-vsphere/cloud-provider-vsphere-config.yaml
  config/testgrids/config.yaml
  config/tests/jobs/jobs_test.go
  docs/job-migration-todo.md
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XXL, approved, sig/testing, area/jobs, area/provider/vmware, sig/cloud-provider, area/config

#33245 Remove pull-ova-all from default cluster
  config/jobs/kubernetes-sigs/image-builder/image-builder-ova-presubmits.yaml
  config/tests/jobs/jobs_test.go
  docs/job-migration-todo.md
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#33246 remove vsphere janitor job
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-periodics.yaml
  config/tests/jobs/jobs_test.go
  docs/job-migration-todo.md
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#32373 set up image-pushing for node-ipam-controller.
  config/jobs/image-pushing/k8s-staging-node-ipam-controller.yaml
  config/testgrids/kubernetes/sig-network/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, lifecycle/rotten, area/config, ok-to-test

#33233 Migrate etcd arm64 robustness jobs to prow
  config/jobs/etcd/etcd-periodics.yaml
  config/jobs/etcd/etcd-presubmits.yaml
  config/testgrids/kubernetes/sig-etcd/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config, sig/etcd

#33242 Periodic arm64 kind CI job that runs once a day
  config/jobs/kubernetes/sig-testing/kubernetes-kind.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#33250 Drop job sync from GCR to AR.
  config/jobs/kubernetes/sig-k8s-infra/trusted/releng/releng-gcr-to-ar-sync.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/release, area/release-eng

#33252 Add optional presubmit to debug ci-kubernetes-e2e-gci-gce-alpha-enabled-default
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#33248 Migrate off the sig-scalability-logs GCS bucket in SIG Scalability jobs
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.27.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.28.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.29.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.30.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.31.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-adhoc.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/scalability, sig/release, area/jobs, area/config, area/release-eng

#33254 Migrate AWS CI janitor to community infra
  config/jobs/kubernetes/test-infra/janitors.yaml
  config/tests/jobs/jobs_test.go
  docs/job-migration-todo.md
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33256 Build locally for pull-e2e-gci-gce-alpha-enabled-default
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#33257 migrate pull-kubernetes-e2e-gce-pull-through-cache off of gs://kubernetes-release-pull
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#33258 Add missing stage in pull-e2e-gci-gce-alpha-enabled-default
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#33261 Drop both --extract and --stage from pull-e2e-gci-gce-alpha-enabled-default
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#33259 drop staging from some optional presubmit jobs
  config/jobs/kubernetes/release/release-config.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.27.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.28.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.29.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.30.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.31.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/scalability, sig/release, sig/storage, area/jobs, area/config, area/release-eng

#33260 delete legacy boskos deployment
  config/prow/Makefile
  config/prow/cluster/build/boskos-janitor.yaml
  config/prow/cluster/build/boskos-reaper_deployment.yaml
  config/prow/cluster/build/boskos.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/config, area/prow/bump

#33263 migrate nfs csi driver e2e tests
  config/jobs/kubernetes-csi/csi-driver-nfs/csi-driver-nfs-unmanaged.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33264 migrate nfs csi driver e2e tests#2
  config/jobs/kubernetes-csi/csi-driver-nfs/csi-driver-nfs-unmanaged.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33265 migrate nfs csi driver e2e tests#3
  config/jobs/kubernetes-csi/csi-driver-nfs/csi-driver-nfs-unmanaged.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#32066 Enable trigger github workflow for apiserver-network-proxy.
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, lifecycle/stale, area/config, ok-to-test

#33266 Looks like we need to use runner.sh in kubekins v2
  config/jobs/kubernetes/sig-testing/kubernetes-kind.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33269 migrate nfs csi driver e2e tests#4
  config/jobs/kubernetes-csi/csi-driver-nfs/csi-driver-nfs-unmanaged.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33255 Self-nominate Kevin Hannon (kannon92) as an approver for sig-node jobs
  config/jobs/containerd/containerd/OWNERS
  config/jobs/kubernetes/sig-node/OWNERS
  config/testgrids/kubernetes/sig-node/OWNERS
  jobs/e2e_node/OWNERS
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#33272 Drop remaining jobs, update migration report doc, enforce not adding any new default cluster jobs
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-v2-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/windows-unit-presubmits.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.26.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.27.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-1.28.yaml
  config/jobs/kubernetes/sig-cloud-provider/azure/release-master.yaml
  config/testgrids/kubernetes/sig-cloud-provider/azure/config.yaml
  config/tests/jobs/jobs_test.go
  docs/job-migration-todo.md
  hack/cluster-migration/update_todo.sh
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XXL, approved, area/provider/azure, sig/testing, sig/windows, area/jobs, sig/cloud-provider, area/config

#33273 Document testgrid-create-test-group annotation
  testgrid/config.md
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XS, approved, sig/testing

#33270 add release 1.31 to node conformance tests
  config/jobs/kubernetes/sig-node/k8s-release-branches.yaml
  jobs/e2e_node/containerd/k8s-release-branches/image-config-1.31.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#33274 drop legacy service account rotation job
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/tests/jobs/jobs_test.go
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#33276 drop staging from all jobs using k8s-release-pull
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.27.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.28.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.29.yaml
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
  config/jobs/kubernetes/sig-testing/coverage.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, sig/storage, area/jobs, area/config, area/release-eng

#33277 drop providerless job from 1.31, 1.31.0 will not contain the provider…
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.30.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.31.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#33278 removing remaining optional job --stage=gs://kubernetes-release-pull
  config/jobs/kubernetes/sig-api-machinery/sig-api-machinery-config.yaml
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-presubmits.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gcp-gpu-presubmits.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.27.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.28.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.29.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.30.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.31.yaml
  config/tests/jobs/jobs_test.go
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/network, sig/api-machinery, area/provider/gcp, sig/testing, sig/node, sig/release, area/jobs, sig/cloud-provider, area/config, area/release-eng

#33281 migrate csi driver e2e tests
  config/jobs/kubernetes-csi/csi-driver-nfs/csi-driver-nfs-unmanaged.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#33282 migrate csi driver e2e tests
  config/jobs/kubernetes-csi/csi-driver-nfs/csi-driver-nfs-unmanaged.yaml
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#33283 migrate azure csi drver e2e tests
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, area/provider/azure, sig/testing, area/jobs, area/config

#33284 migrate Azure CSI drver e2e tests
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, area/provider/azure, sig/testing, area/jobs, area/config

#33207 secrets-store: enable tests with v1.30
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-release-1.3-config.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#33285 Add banner about Prow migration.
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#33275 etcd: import e2e 386 and arm64 presubmit jobs
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/etcd

#33287 add windows 2019 e2e test for smb csi driver
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#33292 Fix typo in etcd e2e arm64 periodic job tab name
  config/jobs/etcd/etcd-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#33293 create one linux node for smb driver windows tests
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33302 fix gengo indent
  config/jobs/kubernetes/gengo/gengo-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33291 Ingress NGINX: Rework image pushing configuration.
  config/jobs/image-pushing/k8s-staging-ingress-nginx.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#33280 drop --stage from pull-kubernetes-e2e-gce
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.27.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.28.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.29.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.30.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.31.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/gcp, sig/testing, sig/release, area/jobs, sig/cloud-provider, area/config, area/release-eng

#33296 migrate azure csi driver e2e tests
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#33299 [JobSet] Change prow merge method to squash
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#33307 kubeadm: add 1.31 test jobs
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-discovery.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-dryrun.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-ca.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-etcd.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-kubelet-x-on-y.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-upgrade.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-x-on-y.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33305 CAPV: Bump tests for k8s v1.31.0
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-prowjob-gen.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33294 CAPI: adjust jobs due to v1.31 GA
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-prowjob-gen.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-8-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-8-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33310 migrate azure csi drver e2e tests
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#33311 [release-1.31] Code Thaw and milestone applier for 1.32
  config/prow/config.yaml
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/release, area/config

#33314 CAPI: Bump CoreDNS version of 1.32 tests to 1.11.3
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-prowjob-gen.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33021 Update milestone applier config for CAPV v1.11
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#33318 chore: update external-dns maintainers
  config/jobs/kubernetes-sigs/external-dns/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#31804 Add building of verify conformance image
  config/jobs/image-pushing/k8s-staging-apisnoop.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#33322 fix blob csi driver sanity test
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#33321 remove prow images stale alert ahead of migration
  config/prow/cluster/monitoring/mixins/prometheus/stale_alerts.libsonnet
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config, area/prow/bump

#33323 controller-tools: change branch to main
  config/jobs/kubernetes-sigs/controller-tools/controller-tools-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33325 use the same image in device-plugin-gpu-1-28 job that was in 1-29
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.28.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#33324 add azure disk driver external e2e test
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config, tide/merge-method-squash

#33326 Fix broken ci job ci kubernetes e2e gce cos k8sstable2 alphafeatures
  config/jobs/kubernetes/generated/generated.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#33115 feat: make ssc infra jobs mandatory
  config/jobs/kubernetes-sigs/secrets-store-sync-controller/secrets-store-sync-controller-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#33327 fix stale ref to stale alerts
  config/prow/cluster/monitoring/mixins/prometheus/prometheus.libsonnet
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config, area/prow/bump

#33328 chore: updates trigger branch
  config/jobs/image-pushing/k8s-staging-secrets-store-sync.yaml
  config/jobs/kubernetes-sigs/secrets-store-sync-controller/secrets-store-sync-controller-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#33332 Change to kubekins image for COSI API CI
  config/jobs/kubernetes-sigs/container-object-storage-interface/container-object-storage-interface-api.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#33335 Update Kops milestone for v1.31
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#33331 migrate off of deprecated KIND flags
  experiment/kind-conformance-image-e2e.sh
  kubetest/kind/kind.go
Labels: lgtm, cncf-cla: yes, area/kubetest, size/XS, approved, sig/testing

#33337 use go 1.22 in scheduler-plugins CI jobs
  config/jobs/kubernetes-sigs/scheduler-plugins/scheduler-plugins-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33338 Remove lualint from prow
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/network, sig/testing, area/jobs, area/config

#33336 :sparkles: Update kubebuilder-presubmits.yaml - Replace k8s version 1.28 with 1.31
  config/jobs/kubernetes-sigs/kubebuilder/kubebuilder-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33316 kubeadm: remove learner-mode test job
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-learner-mode.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33343 add BlaineEXE to object stg interface owners
  config/jobs/kubernetes-sigs/container-object-storage-interface/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33345 security-profiles-operator: switch to go 1.23
  config/jobs/kubernetes-sigs/security-profiles-operator/security-profiles-operator-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33349 delete hmac reconcile job
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/prow/config.yaml
  config/tests/jobs/jobs_test.go
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#33346 remove usage of k8s 1.26 from CAPZ jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33353 remove halogen from config
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#33352 Drop remaining trusted jobs
  config/jobs/kubernetes/test-infra/test-infra-trusted.yaml
  config/tests/jobs/jobs_test.go
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#33351 Scale k8s-prow components to 0.
  config/prow/cluster/build/grandmatriarch.yaml
  config/prow/cluster/cherrypicker_deployment.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/ghproxy.yaml
  config/prow/cluster/halogen.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/kube-state-metrics_deployment.yaml
  config/prow/cluster/kubernetes-external-secrets_deployment.yaml
  config/prow/cluster/needs-rebase_deployment.yaml
  config/prow/cluster/pipeline_deployment.yaml
  config/prow/cluster/prow_controller_manager_deployment.yaml
  config/prow/cluster/pushgateway_deployment.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/tide_deployment.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/config, area/prow/bump

#33344 enable drop-infra-ctr for pull-kubernetes-node-crio-cgrpv2-e2e
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  jobs/e2e_node/crio/crio_cgroupsv2_drop_infra_ctr.ign
  jobs/e2e_node/crio/latest/image-config-cgrpv2-drop-infra-ctr.yaml
  jobs/e2e_node/crio/templates/base/20-crio-drop-infra-ctr.conf
  jobs/e2e_node/crio/templates/base/drop-infra-ctr.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2_drop_infra_ctr.yaml
  jobs/e2e_node/crio/templates/generate
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#33342 run 1.31 e2e tests with kueue and drop 1.27
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#33356 Update presubmit SELinux job
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/storage, area/jobs, area/config

#33268 Prow: Fix `ingress-nginx-maintainers` friendly name.
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#33358 update cni plugins from 0.7.5 to 1.0.1 for ubuntu huge pages and swap.
  jobs/e2e_node/containerd/ubuntu-init-hugepages-1G-allocation.yaml
  jobs/e2e_node/swap/ubuntu-swap-1G-allocation.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node

#33341 JobSet: drop 1.27 and add 1.31 e2e tests
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit-main.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#33333 etcd: Add etcd-website lint presubmit job
  config/jobs/etcd/etcd-website-presubmits.yaml
  config/testgrids/kubernetes/sig-etcd/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/etcd

#33360 Update container-object-storage-interface owners file
  config/jobs/kubernetes-sigs/container-object-storage-interface/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33340 Migrate GCP driver provider jobs to k8s-infra-prow-build
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, tide/merge-method-squash, ok-to-test

#33361 add cluster-autoscaler 1.30 Azure e2e job
  config/jobs/kubernetes/sig-autoscaling/azure/cluster-autoscaler-azure-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#33359 delete pushgateway and update prow announcement
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#33363 Update gengo-config.yaml to use Makefile
  config/jobs/kubernetes/gengo/gengo-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33315 Update milestone applier for k/website dev-1.32 release branch
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#33364 Ingress NGINX: Rework pre-submit jobs.
  config/jobs/kubernetes/sig-network/ingress-nginx/OWNERS
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/network, sig/testing, area/jobs, area/config

#33367 cluster-api: Bump kubekins to 1.31 for main
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-prowjob-gen.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33366 remove one last usage of k8s 1.26 from CAPZ jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33368 Drop CAPV release-1.7 & release-1.8 jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-prowjob-gen.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-7-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-7-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-8-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-8-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#33370 register pull-cluster-autoscaler-e2e-azure-master for all branches
  config/jobs/kubernetes/sig-autoscaling/azure/cluster-autoscaler-azure-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33355 Add entries for s390x conformance for v1.31
  config/testgrids/conformance/conformance-all.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing, area/config, ok-to-test

#33371 etcd: install gawk in website presubmit
  config/jobs/etcd/etcd-website-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#33373 Upgrade golang version
  config/jobs/kubernetes-sigs/ibm-vpc-block-csi-driver/ibm-vpc-block-csi-driver.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, area/jobs, area/config

#33288 Add CAPI jobs for main latest
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/templates/cluster-api-periodics.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api/templates/cluster-api-presubmits.yaml.tpl
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33378 Fix CRI-O swap fedora config
  jobs/e2e_node/swap/image-config-swap-fedora.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node

#33379 Adjust CRI-O job readme to match current state
  jobs/e2e_node/crio/README.md
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node

#33380 openshift: hypershift: update for 4.18
  config/testgrids/openshift/hypershift.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/config

#33372 add image publishing job for vsphere csi
  config/jobs/image-pushing/k8s-staging-csi-vsphere.yaml
  config/testgrids/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#33230 chore: remove apisnoop gh-pages branch protection
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#33385 Update kubekins to Go 1.22.6
  images/kubekins-e2e-v2/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/images, area/release-eng

#33383 descheduler: update presubmits for 1.31 release
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-master.yaml
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-release-1.29.yaml
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-release-1.30.yaml
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-release-1.31.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#33388 Ingress NGINX: Update `e2e-test-runner` to v20240829-2c421762.
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#33390 Update all CRI-O jobs to f97ec69
  jobs/e2e_node/crio/crio_cgroupv1.ign
  jobs/e2e_node/crio/crio_cgroupv1_eventedpleg.ign
  jobs/e2e_node/crio/crio_cgroupv1_hugepages.ign
  jobs/e2e_node/crio/crio_cgroupv2_hugepages.ign
  jobs/e2e_node/crio/crio_cgroupv2_imagefs.ign
  jobs/e2e_node/crio/crio_cgroupv2_splitfs.ign
  jobs/e2e_node/crio/crio_cgroupv2_swap1g.ign
  jobs/e2e_node/crio/crio_cgroupv2_userns.ign
  jobs/e2e_node/crio/templates/base/root-v2.yaml
  jobs/e2e_node/crio/templates/base/root.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv1.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv1_eventedpleg.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv1_hugepages.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv2_hugepages.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv2_imagefs.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv2_splitfs.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv2_swap1g.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv2_userns.yaml
  jobs/e2e_node/crio/templates/generate
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node
