Repository kubernetes/test-infra, pull requests merged in 2024-11, with the labels that each got.

#33660 SIG Instrumentation: fix JSON logging periodic
  config/jobs/kubernetes/sig-instrumentation/sig-instrumentation-kind-periodics.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.31.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/instrumentation, sig/release, area/jobs, area/config, area/release-eng

#33747 Switch to newest versions of Containerd and Runc for master CI jobs
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/network, area/provider/gcp, sig/testing, sig/storage, area/jobs, sig/cloud-provider, area/config

#33749 Add presubmit job for branch release-1.30
  config/jobs/kubernetes-sigs/scheduler-plugins/scheduler-plugins-presubmits-release-1.30.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#33750 JSON logging: disable additional features like DRA
  config/jobs/kubernetes/sig-instrumentation/sig-instrumentation-kind-periodics.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.31.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/instrumentation, sig/release, area/jobs, area/config, area/release-eng

#33751 chore: add CAPA jobs for v2.7.x release series
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics-release-2.7.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits-release-2.7.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, area/jobs, area/config

#33741 update cri proxy timeout to 2h
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#33752 chore: remove old CAPA jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics-release-2.0.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics-release-2.2.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits-release-2.0.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits-release-2.2.yaml
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33755 Set artifacts and data-items-dir in pull-kubernetes-scheduler-perf
  config/jobs/kubernetes/sig-scheduling/sig-scheduling-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scheduling, area/jobs, area/config

#33757 Ingress NGINX: Bump `e2e-test-runner` to v20241104-02a3933e.
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#33758 Add the new 2.0 branch in containerd to pull-containerd-*
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#33759 Update Kueue milestones with v0.10
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#33761 Update to latest containerd version - v2.0.0
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/network, area/provider/gcp, sig/testing, sig/storage, area/jobs, sig/cloud-provider, area/config

#33760 Add presubmits for the Kueue release-0.9
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-9.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#33742 update cloud provider vsphere maintainer
  config/jobs/kubernetes/cloud-provider-vsphere/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/provider/vmware, sig/cloud-provider, area/config

#33765 reduce the period of time to run the kind alpha and beta features jobs
  config/jobs/kubernetes/sig-testing/kubernetes-kind.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, priority/critical-urgent, sig/testing, area/jobs, area/config

#33764 kubeadm: change name in kubeadm-kinder-addons.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-addons.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33768 Add post-build job and configs for containerd 2.0
  config/jobs/containerd/containerd/containerd-postsubmit-jobs.yaml
  jobs/e2e_node/containerd/containerd-release-2.0/env
  jobs/e2e_node/containerd/containerd-release-2.0/image-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#33767 Adding Presubmit job to run pod-level resources e2e
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, sig/node, area/jobs, sig/cloud-provider, area/config

#33769 missed a spot for containerd 2.0 branch - adding ci-containerd-build-2-0
  config/jobs/containerd/containerd/containerd-periodic-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#33770 sig-auth: add branch protection for externaljwt
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#33771 Try a arm64 build for containerd 2.0 branch
  config/jobs/containerd/containerd/containerd-periodic-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#33772 Whoops! fix image in ci-containerd-arm64-build-2-0
  config/jobs/containerd/containerd/containerd-periodic-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#33773 remove myself from kind OWNERS
  config/jobs/kubernetes-sigs/kind/OWNERS
  config/testgrids/conformance/kind/OWNERS
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33774 Add MOAR arm64 builds for containerd
  config/jobs/containerd/containerd/containerd-periodic-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#33776 Run the containerd amd64/arm64 jobs at the same time
  config/jobs/containerd/containerd/containerd-periodic-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#33778 enforce 1.32 code freeze
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, priority/critical-urgent, sig/testing, area/config

#33779 Remove HPAContainerMetrics feature gate from autoscaling jobs
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-config.yaml
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#33766 run presubmit jobs for alpha and beta features if the features folder…
  config/jobs/kubernetes/sig-testing/kubernetes-kind.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33780 mising timeouts on failing crio jobs migration to kubetest2
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#33782 Drop unused/failing job - examples-push-images
  config/jobs/image-pushing/k8s-staging-examples.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#33784 Increase timeout for post-kubetest2-push-binaries
  config/jobs/image-pushing/k8s-staging-kubetest2.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33785 update gcb-docker-gcloud to use go1.22.9
  images/gcb-docker-gcloud/README.md
  images/gcb-docker-gcloud/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#33783 Kubelet needs KubeletCrashLoopBackOffMax feature gate for dra feature jobs
  config/jobs/kubernetes/sig-node/dynamic-resource-allocation.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#33787 Add git-dir for ci-kubetest2-push-binaries
  config/jobs/image-pushing/k8s-staging-kubetest2.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33775 Use Go `slices` package instead of `k8s.io/utils/strings/slices`
  config/tests/jobs/jobs_test.go
  go.mod
  hack/cluster-migration/main.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config, ok-to-test

#33790 Bump timeout for post-release-push-image-go-runner
  config/jobs/image-pushing/releng/k8s-staging-build-image.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/release, area/release-eng

#33791 Sync CAPZ approvers with Azure provider project
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33794 use the k8s-staging-images project to build cloud-provider-kind images
  config/jobs/image-pushing/k8s-staging-cloud-provider-kind.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33795 run windows 2022 Azure File driver tests by default
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#33798 make one test pipeline run as optional
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#33799 disable one windows test pipeline by default
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#33801 Update descheduler-presubmits-release-1.30.yaml | update golang to 1.22.7
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-release-1.30.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#33806 enable postsubmit jobs
  config/jobs/etcd/etcd-postsubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, ok-to-test, sig/etcd

#33809 pull-kubernetes-scheduler-perf: fix and enhance JUnit upload
  config/jobs/kubernetes/sig-scheduling/sig-scheduling-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scheduling, area/jobs, area/config

#33810 promote kind alpha, beta and alpha-beta jobs to release-informing
  config/jobs/kubernetes/sig-testing/kubernetes-kind.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33813 filter out cri-proxy from serial jobs
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/ec2-containerd.yaml
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#33814 fix: update owners to sync with the k/k ones
  config/jobs/kubernetes/sig-scheduling/OWNERS
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/scheduling, area/jobs, area/config

#33818 descheduler: bump e2e timeout
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33763 Fix run_if_changed for image credential provider jobs
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#33825 use gingko timeout for containerd-serial-kubetest
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#33831 add --with-git-dir for post-release-push-image-kube-cross
  config/jobs/image-pushing/releng/k8s-staging-build-image.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/release, area/release-eng

#33826 sig-scalability: keep more detailed JUnit for scheduler_perf job
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#33821 Upgrade ANP test to use golang 1.22.7
  config/jobs/kubernetes-sigs/apiserver-network-proxy/apiserver-network-proxy-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33835 use release-7.0 for jobset release branch for release-0.7
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-release-0-7.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#33836 fix golang 1.23 errors on 0.7 release for jobset periodics.
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-release-0-7.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#33839 fix release 0.6 integration test failure due to golang version
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-release-0-6.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33841 [releng] 1.32: Update kubekins-e2e variants.yaml with 1.32 config
  images/kubekins-e2e-v2/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/images, area/release-eng

#33843 provider-aws: fail fast in presubmits
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#33844 provider-aws: fix image tag in presubmits
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#33847 cleanup krte/kubekins-e2e/kubekins-e2e-v2
  config/jobs/kubernetes-sigs/prow/prow-periodics.yaml
  config/jobs/kubernetes-sigs/prow/prow-postsubmits.yaml
  config/jobs/kubernetes-sigs/prow/prow-presubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-periodics.yaml
  config/jobs/kubernetes/test-infra/test-infra-postsubmits.yaml
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  images/kubekins-e2e-v2/OWNERS
  images/kubekins-e2e-v2/variants.yaml
  images/kubekins-e2e/OWNERS
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/release, area/jobs, area/images, area/config, area/release-eng

#33848 Kops - Update job testing a specific k/k issue
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33850 Set data-items-dir to ARTIFACTS directly in scheduler_perf presubmit job
  config/jobs/kubernetes/sig-scheduling/sig-scheduling-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scheduling, area/jobs, area/config

#33816 :seedling: Add jobs for CAPI release 1.9 and remove 1.6 jobs
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-prowjob-gen.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-9-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-9-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-9-presubmits.yaml
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33852 Use pnpm build/test in TestGrid UI tests.
  config/jobs/kubernetes-sigs/testgrid/testgrid-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33853 Also install pnpm globally in test.
  config/jobs/kubernetes-sigs/testgrid/testgrid-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#33854 experiment: limit concurrency of test-infra image push postsubmits
  config/jobs/image-pushing/k8s-staging-test-infra.yaml
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#33858 [Kueue] Upgrade to k8s 1.31+ for multikueue e2e tests
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#33857 remove pull-kubernetes-verify-lint
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.29.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.30.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.31.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
  config/testgrids/kubernetes/presubmits/config.yaml
  gubernator/config.yaml
Labels: lgtm, area/gubernator, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#33856 images/ - remove _OLD_BAZEL_VERSION
  images/krte/cloudbuild.yaml
  images/kubekins-e2e-v2/variants.yaml
  images/kubekins-e2e/Dockerfile
  images/kubekins-e2e/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/images

#33859 🌱 Add jobs for CAPV release 1.12 and remove 1.9 jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-prowjob-gen.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-12-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-12-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-9-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#33863 drop lingering OLD_BAZEL_VERSION ref
  images/kubekins-e2e/Dockerfile
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#33864 sig network kops job for beta features
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33840 [releng] Add v1.32 and remove v1.28 milestone_applier rules
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/config, area/release-eng

#33869 Update kubekins to Go 1.22.9
  images/kubekins-e2e-v2/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#33867 add mising timeouts for imagefs and splitfs jobs on kubetest2 migration
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#33871 k8s-infra: Test scheduling on AKS cluster.
  config/jobs/kubernetes/sig-k8s-infra/periodics.yaml
  config/tests/jobs/jobs_test.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#33865 Make it possible to update AMIs separately from updating jobs
  config/jobs/kubernetes/kops/Makefile
  config/jobs/kubernetes/kops/helpers.py
  config/jobs/kubernetes/kops/pinned.list
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#33873 Add more canary jobs to AKS
  config/jobs/kubernetes/sig-k8s-infra/periodics.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/k8s-infra
