Repository kubernetes/test-infra, pull requests merged in 2024-05, with the labels that each got.

#32549 Removing 1.26 sig-windows jobs
  config/jobs/kubernetes-sigs/sig-windows/release-1.26-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.26-windows.yaml
  config/testgrids/kubernetes/sig-windows/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/windows, area/jobs, area/config

#32180 Disable VAP test from alpha/beta since it is GA
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-cloud-provider/periodic-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#32553 Add support for triage bot for `kubernetes-sigs/karpenter`
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config

#32556 Add kubernetes-sigs/karpenter support for require-matching-label plugin
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#32540 apiserver-network-proxy: support go version 1.22 in master branch.
  config/jobs/kubernetes-sigs/apiserver-network-proxy/apiserver-network-proxy-presubmits-0.28.yaml
  config/jobs/kubernetes-sigs/apiserver-network-proxy/apiserver-network-proxy-presubmits-0.29.yaml
  config/jobs/kubernetes-sigs/apiserver-network-proxy/apiserver-network-proxy-presubmits-0.30.yaml
  config/jobs/kubernetes-sigs/apiserver-network-proxy/apiserver-network-proxy-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#32560 Update label_sync OWNERS
  label_sync/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/contributor-experience, area/label_sync

#32559 WG/serving label
  label_sync/labels.md
  label_sync/labels.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/contributor-experience, area/label_sync

#32562 Fix prow pj-on-kind.sh location
  config/pj-on-kind.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config, ok-to-test

#32565 Bump Containerd to latest version v1.7.16
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.30.yaml
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/network, area/provider/gcp, sig/testing, sig/release, sig/storage, area/jobs, sig/cloud-provider, area/config, area/release-eng

#32563 Add pipefail for etcd verify presubmit
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#32534 CAPI Operator: Bump release branch jobs to track the release-0.10 branch
  config/jobs/kubernetes-sigs/cluster-api-operator/cluster-api-operator-periodics-release-0-10.yaml
  config/jobs/kubernetes-sigs/cluster-api-operator/cluster-api-operator-presubmits-release-0-10.yaml
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32568 support 20 loadbalancer services in parallel on scalability tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#32570 CAPV: drop release-1.6 prowjobs
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-prowjob-gen.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-6-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-6-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-periodics-upgrades.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-periodics.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-presubmits.yaml.tpl
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#32483 update Prow Go dependency to 20240419142743-3cb2506c2ff3
  config/pj-on-kind.sh
  config/tests/jobs/from_prow_test.go
  config/tests/jobs/jobs_test.go
  config/tests/testgrids/config_test.go
  experiment/bumpmonitoring/main.go
  experiment/ci-janitor/main.go
  experiment/ci-janitor/main_test.go
  experiment/gerrit-onboarder/onboarder.go
  experiment/manual-trigger/manual-trigger.go
  experiment/prowjob-report/main.go
  experiment/service-account-creator/main.go
  experiment/update-hook/main.go
  gcsweb/cmd/gcsweb/gcsweb.go
  gcsweb/cmd/gcsweb/gcsweb_test.go
  gcsweb/cmd/gcsweb/templates.go
  gencred/cmd/gencred/main.go
  go.mod
  go.sum
  greenhouse/main.go
  hack/cluster-migration/main.go
  hack/cluster-migration/main_test.go
  hack/gen-prow-documented/main.go
  hack/prowimagebuilder/main.go
  hack/prowimagebuilder/main_test.go
  kubetest/boskos/client/client.go
  label_sync/main.go
  releng/config-forker/main.go
  releng/config-forker/main_test.go
  releng/config-rotator/main.go
  robots/commenter/main.go
  robots/commenter/main_test.go
  robots/coverage/downloader/downloader.go
  robots/pr-creator/main.go
  robots/pr-creator/main_test.go
  robots/pr-creator/updater/updater.go
  robots/pr-creator/updater/updater_test.go
  robots/pr-labeler/main.go
  testgrid/pkg/configurator/configurator/client.go
  testgrid/pkg/configurator/options/options.go
  testgrid/pkg/configurator/options/options_test.go
  testgrid/pkg/configurator/prow/prow.go
  testgrid/pkg/configurator/prow/prow_test.go
Labels: lgtm, area/testgrid, cncf-cla: yes, area/kubetest, size/L, approved, sig/testing, sig/release, sig/contributor-experience, area/greenhouse, area/config, area/label_sync, area/release-eng, area/robots

#32571 Kueue: set gomaxprocs and resources consistently for integration-based
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-6.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#32575 [kops] Migrate aws-updown job back to default prow cluster
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32455 cert-manger: renamed the testgrid bucket
  config/mergelists/canary.yaml
  config/mergelists/prod.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#32578 Drop typecheck-providerless verification
  config/jobs/kubernetes/sig-testing/typecheck.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32569 Kueue: run the scheduler scalability test periodically
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#32579 Add tosi3k to kubetest/OWNERS
  kubetest/OWNERS
Labels: lgtm, cncf-cla: yes, area/kubetest, size/XS, approved, sig/testing

#32577 Add flag to skip dumping cluster logs
  kubetest/e2e.go
  kubetest/main.go
Labels: lgtm, cncf-cla: yes, area/kubetest, size/XS, approved, sig/testing, ok-to-test

#31872 Remove containerd deprecated registry options
  jobs/e2e_node/containerd/config-systemd.toml
  jobs/e2e_node/containerd/config.toml
  jobs/e2e_node/containerd/image-cadvisor.yaml
  jobs/e2e_node/containerd/image-config-serial-eviction.yaml
  jobs/e2e_node/containerd/image-config-serial-hugepages.yaml
  jobs/e2e_node/containerd/image-config-serial-resource-managers.yaml
  jobs/e2e_node/containerd/image-config-serial.yaml
  jobs/e2e_node/containerd/image-config-systemd.yaml
  jobs/e2e_node/containerd/image-config.yaml
  jobs/e2e_node/containerd/init.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node

#32580 Run `[Feature:LoadBalancer]` on GCE periodics
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/network, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#32585 run load balancer tests on scalability jobs
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-release-blocking-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#32583 kOps: Add tests for Ubuntu 24.04 (Noble Numbat)
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/helpers.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/testgrids/kubernetes/kops/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32525 test policy enforcement
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#32545 CAPI: Merge dualstack and default e2e tests
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-5-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-5-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-6-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-6-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-7-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-7-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/templates/cluster-api-periodics.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api/templates/cluster-api-presubmits.yaml.tpl
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32587 CAPZ: sync maintainers
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32589 enabled owners-label/verify-owners plugin for etcd-io
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, area/config, sig/etcd

#32586 Drop pull-kubernetes-e2e-gce-providerless CI job for master ONLY
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.30.yaml
  config/testgrids/kubernetes/presubmits/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, sig/release, area/jobs, sig/cloud-provider, area/config, area/release-eng

#32573 chore: add optional presubmit for conjur provider with secrets-store-csi
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, ok-to-test

#32591 remove InTreePluginGCEUnregister from jobs
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-cloud-provider/periodic-e2e.yaml
  config/jobs/kubernetes/sig-node/crio.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/gcp, sig/testing, sig/node, area/jobs, sig/cloud-provider, area/config

#32584 CAPV: adjust resource consumption for jobs on community cluster
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-10-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-10-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-7-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-7-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-8-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-8-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-9-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-9-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-periodics.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-presubmits.yaml.tpl
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#32599 kubeadm: remove e2e test for UpgradeAddonsBeforeControlPlane feature gate
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-upgrade-addons-before-controlplane.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32602 fix: Use apt -o APT::Update::Error-Mode=any for updating package lists
  config/jobs/etcd/etcd-periodics.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#32603 run e2e tests as presubmit for cloud-provider-gcp
  config/jobs/kubernetes/cloud-provider-gcp/cloud-provider-gcp-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#32605 Update kubekins to Go 1.22.3 and add 1.31 config
  images/kubekins-e2e-v2/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/images, area/release-eng

#32604 🌱 Enable periodic GH Bug Triage project board syncing for v1.31
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-release-release-team-jobs/release-team-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#32606 CAPV: fix vcsim / supervisor GINKGO_FOCUS
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-10-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-10-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32609 Enable periodic enhancements sync for v1.31
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-release-release-team-jobs/release-team-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#32465 Improve CAPI triage
  config/prow/plugins.yaml
  label_sync/labels.md
  label_sync/labels.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/contributor-experience, area/config, area/label_sync

#32532 add JobSet periodic release and main tests
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-main.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-release-0-4.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-release-0-5.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit-main.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit-release-0.4.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit-release-0.5.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, area/jobs, area/config, ok-to-test

#32607 Fix repository for VPA presubmit tests
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32598 cluster-api: drop unused template paths for ipv6 / v1.4
  config/jobs/kubernetes-sigs/cluster-api/templates/cluster-api-periodics.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api/templates/cluster-api-presubmits.yaml.tpl
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32616 Fix base_ref in periodics-release Jobset
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-release-0-4.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-release-0-5.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/S, approved, sig/testing, area/jobs, area/config

#32617 sig-windows: Add NodeLogQuery optional presubmit
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/windows, area/jobs, area/config

#32613 Update autoscaler OWNERS to include kwiesmueller@
  config/jobs/kubernetes/sig-autoscaling/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32610 CAPV: Add 1.31 tests
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-prowjob-gen.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-10-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-10-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-9-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-9-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-periodics.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-presubmits.yaml.tpl
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#32590 Add image pushing job for cloud provider vsphere
  config/jobs/image-pushing/k8s-staging-cloud-provider-vsphere.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#32615 Publish prow images to a new location
  config/jobs/image-pushing/k8s-infra-prow.yaml
  config/jobs/kubernetes-sigs/prow/prow-postsubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#32597 Add gke option to create nat before the cluster
  kubetest/gke.go
Labels: lgtm, cncf-cla: yes, area/kubetest, size/XS, approved, sig/testing, ok-to-test

#32621 Update kubekins to Go 1.21.10 and 1.22.3 for the release branches
  images/kubekins-e2e-v2/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#32619 CAPV: drop gcs cred preset
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-periodics-kubetest.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-presets.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-10-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-10-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-10-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-7-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-7-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-8-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-8-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-9-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-9-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-9-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-periodics-kubetest.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-periodics-upgrades.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-periodics.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-presubmits.yaml.tpl
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#32623 kubebuilder : upgrade k8s to 1.30 and go to 1.22
  config/jobs/kubernetes-sigs/kubebuilder/kubebuilder-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32624 Update the alert URL for Triage.
  config/prow/cluster/monitoring/mixins/lib/config.libsonnet
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config, area/prow/bump

#32629 k-s/prow: restrict postsubmits to main branch
  config/jobs/image-pushing/k8s-infra-prow.yaml
  config/jobs/kubernetes-sigs/prow/prow-postsubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32631 j/e2e_node/containerd/image-config.yaml: Fix Typo
  jobs/e2e_node/containerd/image-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node

#32633 descheduler: update presubmits for 1.30 release
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-master.yaml
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-release-1.27.yaml
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-release-1.30.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#32612 kubespray: enable plugins release-note, cherrypicker, mergecommitblocker, override
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config

#32634 bump to to 1.22.3 to address CVE-2024-24788
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-master.yaml
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-release-1.30.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#32628 Remove kubemark 1.26 test
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.26.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#32635 replace k80 with t4
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gcp-gpu-presubmits.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
  jobs/e2e_node/containerd/image-config-serial.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, sig/node, area/jobs, sig/cloud-provider, area/config

#32638 add nftables proxymode to kind presubmit job
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#32636 cleanup merge warning config
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config

#32640 ci gce gpu: dump containerd logs
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#32643 etcd: add ci-etcd-robustness-release36-amd64
  config/jobs/etcd/etcd-periodics.yaml
  config/testgrids/kubernetes/sig-etcd/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/etcd

#32646 capz: require api upgrade test if trigger files are updated
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32642 Remove AKS 1.26 and add 1.29 Sig Windows Networking Tests
  config/testgrids/kubernetes/sig-windows/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing, sig/windows, area/config, ok-to-test

#32647 Update image-builder to go 1.23
  images/builder/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#32645 crio: bump to 1.30.1
  jobs/e2e_node/crio/crio_cgroupsv1.ign
  jobs/e2e_node/crio/crio_cgroupsv1_eventedpleg.ign
  jobs/e2e_node/crio/crio_cgroupsv1_hugepages.ign
  jobs/e2e_node/crio/crio_cgroupsv2.ign
  jobs/e2e_node/crio/crio_cgroupsv2_hugepages.ign
  jobs/e2e_node/crio/crio_cgroupsv2_imagefs.ign
  jobs/e2e_node/crio/crio_cgroupsv2_splitfs.ign
  jobs/e2e_node/crio/crio_cgroupsv2_swap1g.ign
  jobs/e2e_node/crio/crio_cgroupsv2_userns.ign
  jobs/e2e_node/crio/templates/base/root.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1_eventedpleg.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv1_hugepages.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2_hugepages.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2_imagefs.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2_splitfs.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2_swap1g.yaml
  jobs/e2e_node/crio/templates/crio_cgroupsv2_userns.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node

#32649 Update image-builder to go 1.22 (NOT 1.23!!)
  images/builder/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#32651 Upgrade go version for Kueue 0.6 presubmits to 1.22
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-6.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#32652 Switch to latest golang in 1.22 series for gcb-docker-gcloud
  images/gcb-docker-gcloud/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#32653 Add nathanperkins to oncall
  experiment/slack-oncall-updater/main.go
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing

#32656 CAPI e2e-mink8s jobs: Drop image shas
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-prowjob-gen.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-6-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-6-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-7-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-7-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32654 capz: use windows-2019 for Windows conformance tests
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32659 Add integration-1-cpu job to etcd presubmits
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/etcd

#32668 remove cloud provider tests that are permanently failing
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, area/provider/gcp, sig/testing, area/jobs, kind/cleanup, sig/cloud-provider, area/config

#32673 Add 1.30 jobs for CPO
  config/jobs/kubernetes/cloud-provider-openstack/provider-openstack-presubmits-release-v1.30-config.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/openstack, sig/testing, area/jobs, sig/cloud-provider, area/config

#32675 Increase requests for Kueue verify job in release-0.6
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-6.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#32677 [JobSet] Change Kind node container image tag
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-main.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-release-0-4.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-release-0-5.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#32663 Use v1.26.15 to test CAPZ apiversion upgrade
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32664 remove pushing image to vmware registry post-job
  config/jobs/kubernetes/cloud-provider-vsphere/cloud-provider-vsphere-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/provider/vmware, sig/cloud-provider, area/config

#32680 Fix make command in jobset-presubmit-release-0.5.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit-release-0.5.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#32679 Update the k8s versions used in Kueue e2e tests.
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#32682 Update BUILDER_IMAGE to golang:1.22
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit-release-0.4.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit-release-0.5.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#32662 fix: fix miss makezero bug
  gopherage/cmd/merge/merge.go
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, ok-to-test, area/gopherage

#32672 Add multiarch build support for etcd
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#32681 Update config/OWNERS
  config/OWNERS
  config/prow/OWNERS
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config

#32685 Tune etcd integration 1 cpu presubmit job
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/etcd

#32694 CAPZ: remove 1.25 upgrade job, add 1.29
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main-upgrades.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#32695 crio userns: add yaml file so tests run
  jobs/e2e_node/crio/latest/image-config-cgrpv2-userns.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node
