Repository kubernetes/test-infra, pull requests merged in 2025-04, with the labels that each got.

#34631 disable pull-azuredisk-csi-driver-e2e-migration-windows
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#34635 Setup release-0.18 branch jobs for CAPI Operator
  config/jobs/kubernetes-sigs/cluster-api-operator/cluster-api-operator-periodics-release-0-18.yaml
  config/jobs/kubernetes-sigs/cluster-api-operator/cluster-api-operator-presubmits-release-0-18.yaml
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34641 Add CAPZ perf test for testing API server availability
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34645 Runs e2e-node tests using kubetest2 on IBM powervs
  config/jobs/kubernetes/cloud-provider-ibmcloud/cloud-provider-ibmcloud-periodics.yaml
  config/testgrids/kubernetes/sig-cloud-provider/ibm/config.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, sig/cloud-provider, area/config

#34648 Change instance type due to capacity constraint
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-ec2.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#34649 Fix typo in ci-kubernetes-ppc64le-e2e-node-latest-kubetest2 job
  config/jobs/kubernetes/cloud-provider-ibmcloud/cloud-provider-ibmcloud-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, sig/cloud-provider, area/config

#34654 Use CAPZ copy of load test config.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34655 secrets-store: bump kubernetes versions for tests
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#34656 Fixing job intervals and timeouts for some sig-windows jobs
  config/jobs/kubernetes-sigs/sig-windows/release-1.30-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.31-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.32-windows.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, kind/cleanup, area/config

#34657 Add require-matching-label prow plugin for secrets-store-*
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#34650 [releng] Add v1.33 and remove v1.29 milestone_applier rules
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/config, area/release-eng

#34651 [releng] 1.33: Update kubekins-e2e variants.yaml with 1.33 config
  images/kubekins-e2e-v2/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#34661 CAPV: add jobs for release-1.13 branch
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-prowjob-gen.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-13-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-13-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-presubmits.yaml.tpl
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#34660 prow: add milestone applier config for CAPV v1.14
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#34658 Try ci-kubernetes-gce-conformance-latest-kubetest2 without k/k git clone
  config/jobs/kubernetes/sig-cloud-provider/gcp/gce-conformance.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#34665 Move remaining configs for load test to CAPZ test folder
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34659 Allow all API in node serial alpha job
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#34666 Revert "Try ci-kubernetes-gce-conformance-latest-kubetest2 without k/k git clone"
  config/jobs/kubernetes/sig-cloud-provider/gcp/gce-conformance.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#34652 Remove sig-windows 1.29 jobs
  config/jobs/kubernetes-sigs/sig-windows/release-1.29-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.29-windows.yaml
  config/testgrids/kubernetes/sig-windows/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/windows, area/jobs, kind/cleanup, area/config

#34653 Updating capz branch used in Windows jobs
  config/jobs/kubernetes-sigs/sig-windows/release-1.30-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.30-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.31-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.31-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.32-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/windows, area/jobs, kind/cleanup, area/config

#34670 Removing misleading comment in sig-windows/release-master-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#34483 Added PodLifecycleSleepActionAllowZero to sig-node-presubmit jobs
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-node/crio.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, sig/node, area/jobs, sig/cloud-provider, area/config

#34672 drop 1.29 jobs as 1.29 is EOL
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.29.yaml
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#34674 drop 1.29 from image variants, 1.29 is EOL
  images/kubekins-e2e-v2/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#34642 sig-testing: move canaries tests to dedicated nodepool
  config/jobs/kubernetes/test-infra/test-infra-canaries.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#34676 do not run pull-azurefile-csi-driver-e2e-migration-windows by default
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#34663 increase timeout for pull-kubernetes-conformance-kind-ga-only
  config/jobs/kubernetes/sig-testing/kubernetes-kind.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34677 Kueue: Add E2E_K8S_VERSION env variable to jobs config
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-10.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-11.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking-0.10.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking-0.11.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking-main.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#34680 give more mem and cpu for tejolote jobs
  config/jobs/kubernetes-sigs/tejolote/tejolote-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#34683 Kueue: remove E2E_KIND_VERSION variable
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-10.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-11.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking-0.10.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking-0.11.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking-main.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#34682 Add prow job config for building and pushing vpa images
  config/jobs/image-pushing/k8s-staging-autoscaling.yaml
  config/testgrids/kubernetes/sig-autoscaling/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#34687 block PR on presubmits
  config/jobs/kubernetes-sigs/kube-network-policies/kube-network-policies-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34685 kubeadm: add test jobs for for 1.33
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-discovery.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-dryrun.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-ca.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-etcd.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-instance-config.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-kubelet-x-on-y.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-upgrade.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-x-on-y.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34694 Use newer kubekins-e2e image for kubeadm CI jobs
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-discovery.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-dryrun.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-ca.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-external-etcd.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-kubelet-x-on-y.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-upgrade.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-x-on-y.yaml
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34696 Remove all archived wg-multi-tenancy config
  config/jobs/image-pushing/k8s-staging-multitenancy.yaml
  config/jobs/kubernetes-sigs/wg-multi-tenancy/OWNERS
  config/jobs/kubernetes-sigs/wg-multi-tenancy/hnc-e2e.yaml
  config/jobs/kubernetes-sigs/wg-multi-tenancy/hnc-presubmit.yaml
  config/jobs/kubernetes-sigs/wg-multi-tenancy/mtb-presubmit.yaml
  config/prow/plugins.yaml
  config/testgrids/kubernetes/wg-multi-tenancy/OWNERS
  config/testgrids/kubernetes/wg-multi-tenancy/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#34504 bump prow config correctly
  config/prow/autobump-config/prow-component-autobump-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#34702 Upgrade golang 1.24
  config/jobs/kubernetes-sigs/ibm-powervs-block-csi-driver/ibm-powervs-block-csi-driver.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34703 Update kubekins-v2 to Go 1.24.2
  images/kubekins-e2e-v2/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#34704 etcd: include pull-etcd-markdown-lint checks
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/images, area/config, ok-to-test, sig/etcd

#34709 Add test-multikueue-integration in periodic.
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking-0.11.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking-main.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, ok-to-test

#34707 config/jobs: update go to 1.24 in custom-metrics-apiserver
  config/jobs/kubernetes-sigs/custom-metrics-apiserver/custom-metrics-apiserver-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34705 Remove CAPI 1.7 jobs and related logic
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-prowjob-gen.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-7-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-7-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-7-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/templates/cluster-api-periodics-upgrades.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api/templates/cluster-api-periodics.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api/templates/cluster-api-presubmits.yaml.tpl
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34706 fix: change to downloading the prev k/k repo in a tmp dir instead of into the workdir
  experiment/compatibility-versions/e2e-k8s-compatibility-versions.sh
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing

#34711 Setup release-0.19 branch jobs for CAPI Operator
  config/jobs/kubernetes-sigs/cluster-api-operator/cluster-api-operator-periodics-release-0-19.yaml
  config/jobs/kubernetes-sigs/cluster-api-operator/cluster-api-operator-presubmits-release-0-19.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#34693 releng: release-1.33 Code Thaw and milestone applier for 1.34
  config/prow/config.yaml
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/release, area/config

#34713 fix: resolve issue where if k8s git version is bumped but it is alpha0 then there is no n-1 image and it the HEAD version should be treated as n-1
  experiment/compatibility-versions/e2e-k8s-compatibility-versions.sh
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing

#34204 cosi-driver-sample: added sample driver to image-pushing
  config/jobs/image-pushing/k8s-staging-sig-storage.sh
  config/jobs/image-pushing/k8s-staging-sig-storage.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, lifecycle/stale, area/config

#34715 build kind image before kueue-viz
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34689 Bump CAPI K8s 1.33
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-prowjob-gen.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-10-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-10-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34688 CAPV: Bump prowjob-gen config to v1.33
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-prowjob-gen.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34708 Create separate configuration for extended integration tests.
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-10.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-11.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config, ok-to-test

#34718 Fix test-integration-extended.
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-10.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-11.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#34717 kOps: add k8s 1.33 for testing and conformance
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
  config/jobs/kubernetes/kops/pinned.list
  config/testgrids/kubernetes/kops/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config, tide/merge-method-squash

#34714 Adding 1.33 Windows test passes
  config/jobs/kubernetes-sigs/sig-windows/release-1.33-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.33-windows.yaml
  config/testgrids/kubernetes/sig-windows/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/windows, area/jobs, area/config

#34722 fix: attempt to use n-1 test binary vs HEAD test binary for compatibility-versions test
  experiment/compatibility-versions/e2e-k8s-compatibility-versions.sh
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing

#34719 Job to run E2E default tests on IBM powervs
  config/jobs/kubernetes/cloud-provider-ibmcloud/cloud-provider-ibmcloud-periodics.yaml
  config/testgrids/kubernetes/sig-cloud-provider/ibm/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, sig/cloud-provider, area/config

#34716 Update milestone applier for k/website dev-1.34 release branch
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#34721 Update image for build jobs for cluster-api-provider-cloudstack
  config/jobs/kubernetes-sigs/cluster-api-provider-cloudstack/capi-provider-cloudstack-presumbit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#34720 Switching to Kubekins Image for Tests
  config/jobs/kubernetes-sigs/sig-storage-lib-external-provisioner/sig-storage-lib-external-provisioner.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#34728 kOps: Add pre-submit for v1.32
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34727 Ingress NGINX: Bump Test Runner to v2.0.3.
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#34729 Unhide fips and image tests for aws-ebs-csi-driver
  config/jobs/kubernetes-sigs/aws-ebs-csi-driver/aws-ebs-csi-driver-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34730 switch kind ivp6 canaries to focus filter
  config/jobs/kubernetes/sig-testing/kubernetes-kind.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34725 fix: resolve issue where WORKSPACE_STATUS was not properly set in compatibility versions test and fix alpha.0 regex
  experiment/compatibility-versions/e2e-k8s-compatibility-versions.sh
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing

#34731 switch most kind CI jobs for the kubernetes master branch to ginkgo v2 label filter and no* hardcoded skips
  config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml
  config/jobs/kubernetes/sig-testing/kubernetes-kind.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#34724 prow: drop obsolete announcement
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#34732 chore: change compatibility-version test to have 1 hr interval (from 6hr)
  config/jobs/kubernetes/sig-testing/compatibility-versions-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34733 add kueueviz periodic job
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#34735 [CAPZ] Bump up min K8s upgrade versions in CAPZ upgrade tests
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main-upgrades.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34734 [CAPZ] Update min k8s version in periodic, presubmit & v1beta1 to v1.28.15
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config, tide/merge-method-squash

#34738 Add presubmit job for branch release-1.31
  config/jobs/kubernetes-sigs/scheduler-plugins/scheduler-plugins-presubmits-release-1.31.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#34736 Bump kubekins image for main to 1.33
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-prowjob-gen.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34743 Change test-infra owners for fsx openzfs
  config/jobs/kubernetes-sigs/aws-fsx-openzfs-csi-driver/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34745 cosi: raise cpu for presubmit jobs
  config/jobs/kubernetes-sigs/container-object-storage-interface/container-object-storage-interface.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#34741 Update OWNERS for sig-autoscaling testgrid directory
  config/testgrids/kubernetes/sig-autoscaling/OWNERS
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#34737 etcd: enable pull-etcd-govulncheck for release-3.4 branch
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test, sig/etcd

#34747 [CAPZ] Use k8s version v1.30.8 instead of v1.30.11
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config, tide/merge-method-squash

#34746 welcome message: link to kubernetes.dev rendered guidance instead of github
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#34221 chore: update prow plugins for CAPA
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, lifecycle/stale, area/config

#34752 [CAPZ] Use k8s version v1.30.3 instead of v1.30.8
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34753 descheduler: update presubmits for 1.33 release
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-master.yaml
  config/jobs/kubernetes-sigs/descheduler/descheduler-presubmits-release-1.33.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#34754 Add cert-manager enabled e2e testing in LWS
  config/jobs/kubernetes-sigs/lws/lws-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#34742 Delete dedicated InPlacePodVerticalScaling jobs
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#34740 Update pull-etcd-release-tests to use make test-release
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config, ok-to-test, sig/etcd
