Repository kubernetes/test-infra, pull requests merged in 2025-10, with the labels that each got.

#35618 Kueue: CI for 0.14
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-release-0-14.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-s390x-ppc64le-release-0.14.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-14.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#35620 sig-testing: remove KUBE_GORUNNER_IMAGE override
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#35624 Update SELinux jobs to RHEL9
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35626 bump cpu requests for agent-sandbox presubmits
  config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#35630 Remove tekton shard from TestGrid merged config.
  config/mergelists/canary.yaml
  config/mergelists/prod.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#35635 csi-driver: use latest CAPZ release
  config/jobs/kubernetes-csi/csi-driver-nfs/csi-driver-nfs-unmanaged.yaml
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#35637 blob-csi-driver: use CAPZ 1.21
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config

#35640 Setup release-0.24 branch jobs for CAPI Operator
  config/jobs/kubernetes-sigs/cluster-api-operator/cluster-api-operator-periodics-release-0-24.yaml
  config/jobs/kubernetes-sigs/cluster-api-operator/cluster-api-operator-presubmits-release-0-24.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#35631 fix device-plugin-gpu job
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#35634 azure: user CAPZ 1.21 for k/k presubmits
  config/jobs/kubernetes/sig-cloud-provider/azure/release-master.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, sig/cloud-provider, area/config

#35623 compat-ver: fix 2 step upgrade tests.
  experiment/compatibility-versions/common.sh
  experiment/compatibility-versions/e2e-k8s-compatibility-versions.sh
  experiment/compatibility-versions/e2e-skip-version-testing.sh
  experiment/compatibility-versions/e2e-two-steps-upgrade.sh
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing

#35644 autoscaling: use sig name for prow job prefix
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, tide/merge-method-squash

#35652 remove all containerd 1.6 jobs as it is EoL now
  config/jobs/containerd/containerd/containerd-periodic-jobs.yaml
  config/jobs/containerd/containerd/containerd-postsubmit-jobs.yaml
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
  jobs/e2e_node/containerd/containerd-release-1.6-presubmit/env
  jobs/e2e_node/containerd/containerd-release-1.6-presubmit/image-config-presubmit.yaml
  jobs/e2e_node/containerd/containerd-release-1.6-systemd-cgroup-presubmit/env
  jobs/e2e_node/containerd/containerd-release-1.6-systemd-cgroup-presubmit/image-config-presubmit.yaml
  jobs/e2e_node/containerd/containerd-release-1.6/env
  jobs/e2e_node/containerd/containerd-release-1.6/image-config.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#35654 kOps: setup new credentials for tests
  config/jobs/kubernetes/kops/presets-kops.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35650 create a pull-kubernetes-e2e-gce-kubetest2 job
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#35659 kOps: use new preset for periodic scenarios on AWS
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-nftables.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
  config/jobs/kubernetes/kops/pinned.list
  config/jobs/kubernetes/kops/templates/periodic-scenario.yaml.jinja
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35658 use workload identity and create a presubmit job using the latest ubuntu lts
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config
