Repository kubernetes/test-infra, pull requests merged in 2025-07, with the labels that each got.

#35064 Pin DRA scalability jobs to CAPZ 1.20
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-periodic-dra.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config, wg/device-management

#35026 feat: Add tests with higher version skew for compatibility version
  config/jobs/kubernetes/sig-testing/compatibility-versions-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config, ok-to-test

#35068 use KUBE_SSH_USER of core for kubetest jobs for swap conformance
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#35065 DRA canary: switch to testing with test/integration/dra/cluster
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra.generate.conf
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#35070 DRA: add pull-kubernetes-kind-dra-all-slow
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra-presubmit.yaml
  config/jobs/kubernetes/sig-node/dra.generate.conf
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#35075 update DRA jobs with latest kubekins e2e image
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/images, area/config

#35081 DRA canary: debug containerd setup
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#35082 DRA canary: debug containerd setup, II
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#34945 Add 1.33 sig node tests and remove 1.29/1.30
  config/jobs/kubernetes/sig-node/k8s-release-branches.yaml
  jobs/e2e_node/containerd/k8s-release-branches/image-config-1.30.yaml
  jobs/e2e_node/containerd/k8s-release-branches/image-config-1.33.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#35087 Debug: DRA: canary: enable CDI for the integration job
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#35088 DRA: debug: forcibly stop docker
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#35090 use proper --test-args flag for ci-kubernetes-node-release-branch-1-33
  config/jobs/kubernetes/sig-node/k8s-release-branches.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#35096 add to ci jobs with an equivalent presubmit
  config/jobs/kubernetes/sig-node/crio.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#35097 upgrading k8s to 1.33 and hostpath driver to v1.17.0
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/csi-release-tools/csi-release-tools-config.yaml
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/external-resizer/external-resizer-config.yaml
  config/jobs/kubernetes-csi/external-snapshot-metadata/external-snapshot-metadata-config.yaml
  config/jobs/kubernetes-csi/external-snapshotter/external-snapshotter-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/lib-volume-populator/lib-volume-populator-config.yaml
  config/jobs/kubernetes-csi/livenessprobe/livenessprobe-config.yaml
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
  config/jobs/kubernetes-csi/volume-data-source-validator/volume-data-source-validator-config.yaml
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing, area/jobs, area/config, ok-to-test

#35073 use containerd 2.0 in presubmit scalability jobs
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#35098 etcd: Add release-test presubmit job for release-3.5 branch
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#35083 scalability: use CAPZ release branch for Azure test
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-azure.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#35104 Increase DRA load test repeats and api avail threshold
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-periodic-dra.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config, wg/device-management

#35105 Update DRA scalability job with CL2 with more logs
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-periodic-dra.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config, wg/device-management

#34923 Add script for kind with kubelet server certs CSRs
  experiment/kubelet-serving-certificates/OWNERS
  experiment/kubelet-serving-certificates/e2e-k8s.sh
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing

#35106 Sync Azure DRA presubmit with periodic
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-periodic-dra.yaml
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-presubmit-dra-capz.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/scalability, area/jobs, area/config, wg/device-management

#35107 Drop CI jobs that use BUILD_EKS_*
  config/jobs/kubernetes/sig-cloud-provider/aws/ec2-e2e.yaml
  config/jobs/kubernetes/sig-cloud-provider/aws/periodic-eks-e2e.yaml
  config/jobs/kubernetes/sig-node/ec2-containerd-presubmit.yaml
  config/jobs/kubernetes/sig-node/ec2-containerd.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  config/testgrids/amazon/amazon.yaml
  config/testgrids/kubernetes/sig-node/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XXL, approved, sig/testing, sig/node, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#35110 Deploy only one worker node for cloud-provider-ibmcloud-presubmits
  config/jobs/kubernetes/cloud-provider-ibmcloud/cloud-provider-ibmcloud-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, sig/cloud-provider, area/config

#35108 Revert the test images back to latest
  config/jobs/kubernetes-sigs/sig-windows/release-1.32-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.32-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.33-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.33-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/windows, area/jobs, area/config

#35115 Add CAPZ PR job to run 100 node perf test with DRA enabled
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35117 add dra-baseline tests
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-periodic-dra.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/scalability, area/jobs, area/config, wg/device-management

#35121 kOps: Add pre-submit for v1.33
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35124 [kjob] Remove E2E tests for k8s 1.30.
  config/jobs/kubernetes-sigs/kjob/kjob-periodics-main.yaml
  config/jobs/kubernetes-sigs/kjob/kjob-periodics-release-0.1.yaml
  config/jobs/kubernetes-sigs/kjob/kjob-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kjob/kjob-presubmits-release-0.1.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#35126 e2 machine type does not support GPUS, these jobs need to be reverted…
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#35128 Re-enable compaction conformance tests in kind-alpha-beta test suites
  config/jobs/kubernetes/sig-network/sig-network-kind.yaml
  config/jobs/kubernetes/sig-testing/kubernetes-kind-ci.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/network, sig/testing, area/jobs, area/config

#35127 pull-test-infra-gubernator is not optional
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#35111 use focus regex form e2e-resource-managers presubmits .
  config/jobs/kubernetes/sig-node/crio.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#35131 use contains any label-filter to match only reosurce manager tests
  config/jobs/kubernetes/sig-node/crio.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#35132 revert scability master back to n1 machines
  config/jobs/kubernetes/sig-scalability/sig-scalability-presets.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#35146 [CAPI] Add duplicate job for cluster-api-e2e-main on GKE cluster for testing.
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35149 crio: bump userns commit to pickup upstream fix
  jobs/e2e_node/crio/crio_cgroupv2_userns.ign
  jobs/e2e_node/crio/templates/crio_cgroupv2_userns.yaml
  jobs/e2e_node/crio/templates/generate
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node

#35145 Adding myself as a reviewer and approver
  config/jobs/kubernetes-csi/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#35154 Add windows graceful shutdown case into serial slow test
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#35157 Update kubekins-v2 to Go 1.24.5/1.23.11 and drop config for release-1.30
  images/kubekins-e2e-v2/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/images

#35151 DRA: promote integration testing
  config/jobs/kubernetes/sig-node/dra-ci.yaml
  config/jobs/kubernetes/sig-node/dra-presubmit.yaml
  config/jobs/kubernetes/sig-node/dra.generate.conf
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#35071 Tune resource requests for cluster-api-provider-aws-build-docker
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#35160 kOps: define Pod service account for azure prebsubmit
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35163 kOps: changes Azure creds for presubmit
  config/jobs/kubernetes/kops/kops-presets.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35165 kOps: Update presubmit for Azure to use Cilium
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35166 kOps: Update presubmit for Azure to set the feature flag
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35167 kOps: Update presubmit for Azure remove unneeded flags
  config/jobs/kubernetes/kops/kops-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35168 add empty skip regex to avoid default skips
  config/jobs/kubernetes/sig-node/crio.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#35170 add crio periodic canaries
  config/jobs/kubernetes/sig-node/crio.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#35161 DRA integration: fix periodic job
  config/jobs/kubernetes/sig-node/dra-ci.yaml
  config/jobs/kubernetes/sig-node/dra.generate.conf
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#35176 Fix crio periodic canary jobs
  config/jobs/kubernetes/sig-node/crio.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#35182 update sig-scalability-presubmit-dra-capz.yaml to allow scraping kubelets
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-presubmit-dra-capz.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config, wg/device-management

#34647 kubekins-e2e-v2 multiarch support for s390x
  images/kubekins-e2e-v2/Dockerfile
  images/kubekins-e2e-v2/README.md
  images/kubekins-e2e-v2/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images, ok-to-test

#35184 DRA: focus on kubelet tests in kubelet version skew tests
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra-ci.yaml
  config/jobs/kubernetes/sig-node/dra-presubmit.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#35188 DRA: Use 1k node presubmit test configuration
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-presubmit-dra-capz.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/scalability, area/jobs, area/config, wg/device-management

#35194 Update sig-scalability-periodic-dra.yaml to bump gce test pod resources
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-periodic-dra.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config, wg/device-management

#35196 update sig-scalability-periodic-dra.yaml to add gcp-project type for dra-scale test
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-periodic-dra.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config, wg/device-management

#35200 skip tests for alpha features for sig-node test job
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/crio.yaml
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#35207 Enable target group cleanup on AWS CI account
  config/jobs/kubernetes/test-infra/janitors.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#35210 DRA scalability: separate node for prometheus, canadacentral azure region
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-periodic-dra.yaml
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-presubmit-dra-capz.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/scalability, area/jobs, area/config, wg/device-management

#35212 DRA: use VMSS infra for azure presubmit tests
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-presubmit-dra-capz.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config, wg/device-management

#35171 Enforce 1.34 code freeze
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, priority/critical-urgent, sig/testing, area/config

#35215 kOps: Add periodic test for Azure
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35217 kOps: Update periodic test for Azure
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35218 kOps: Update periodic test for Azure
  config/jobs/kubernetes/kops/kops-periodics-misc.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35221 dra scalability: azure vmss for periodics
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-periodic-dra.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config, wg/device-management

#35222 Update CAPZ 1k DRA scale test with more Prometheus CPU
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-presubmit-dra-capz.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config, wg/device-management

#35206 update sig-scalability-periodic-dra.yaml fix prometheus configs-2
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-periodic-dra.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config, wg/device-management

#35227 kOps: Add support for Azure to the generator script
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
  config/jobs/kubernetes/kops/templates/periodic.yaml.jinja
  config/jobs/kubernetes/kops/templates/presubmit.yaml.jinja
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35229 update to golang 1.24
  config/jobs/kubernetes-sigs/scheduler-plugins/scheduler-plugins-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#35233 Update sig-scalability-periodic-dra.yaml to create resource quota for dra plugin pods for gke
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-periodic-dra.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config, wg/device-management

#35219 cluster-api: add IPv6 kind presubmit for debugging
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35236 Kueue: Update milestone for v0.14
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#35243 Update sig-scalability-periodic-dra.yaml to update gce tests to wait for resource slices
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-periodic-dra.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config, wg/device-management

#35244 Update sig-scalability-periodic-dra.yaml branch fixups
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-periodic-dra.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config, wg/device-management

#35245 Update sig-scalability-periodic-dra.yaml to fix cl2 report directory
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-periodic-dra.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config, wg/device-management

#35226 Enabling PodLevelResources for memory, cpu and topology manager related tests
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#35248 remove triage-bot from kubernetes-sigs/ingate for now
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/contributor-experience

#35249 fixing kind job in CAPI for testing
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config
