Repository kubernetes/test-infra, pull requests merged in 2025-08, with the labels that each got.

#35250 Remove discovery-store from pull-kops-aws-distro-al2023
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35257 Kueue: Align CPU usage limits in e2e tests
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-release-0.12.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-release-0.13.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-12.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-13.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/M, approved, sig/testing, area/jobs, area/config

#35258 Add gang-scheduling e2e test for lws
  config/jobs/kubernetes-sigs/lws/lws-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#35265 Update sig-scalability-periodic-dra.yaml to gce branch to kubernetes
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-periodic-dra.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config, wg/device-management

#35267 Increase memory request/limit for `pull-aws-ebs-csi-driver-unit`
  config/jobs/kubernetes-sigs/aws-ebs-csi-driver/aws-ebs-csi-driver-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#35272 Added kubekins-e2e-v2 variants for 1.34
  images/kubekins-e2e-v2/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/images, area/release-eng

#35270 Drop k8s 1.30 jobs due to EOL
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.30.yaml
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#35271 Added milestone applier rules for 1.34, removed 1.30
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#35275 Update tests config 1.34
  releng/test_config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/release, area/config, area/release-eng

#35280 Set ARM tests optional for now.
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#35283 test: Update filter for ResourceHealthStatus presubmit job
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#35285 Disable NFSv3 in SELinux jobs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, sig/storage, area/jobs, area/config

#35286 Add email alert to SELinux jobs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35274 job/presubmit/ccm-aws: bump mem and cpu limit to prevent OOMKill
  config/jobs/kubernetes/cloud-provider-aws/cloud-provider-aws-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/provider/aws, area/jobs, sig/cloud-provider, area/config, ok-to-test

#35288 fix 1.34 images
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.34.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#35109 Azure scale: Disable host-level API availability checks
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-presubmit-dra-capz.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, sig/scalability, area/jobs, area/config, wg/device-management

#35291 kOps: Add tests-e2e-scenarios-bare-metal-ipv6 context
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#35292 upgrade k8s version for running blob csi driver tests
  config/jobs/kubernetes-sigs/blob-csi-driver/blob-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config

#35294 [kueue] Rename kueue-periodics-release-x.x.yaml to kueue-periodics-release-x-x.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-release-0-12.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-release-0-13.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#35295 Fix incorrect runtime-config value
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.34.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#35298 Update Ubuntu image to latest for NPD tests
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#35268 Run aws-ebs-csi-driver bottle rocket test only on release branch
  config/jobs/kubernetes-sigs/aws-ebs-csi-driver/aws-ebs-csi-driver-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#35303 Add a CI job to build golang tip using gimme
  config/jobs/kubernetes/sig-arch/kubernetes-code-organization.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/architecture, area/jobs, area/config, area/conformance

#35306 Replace canary jobs crio
  config/jobs/kubernetes/sig-node/crio.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#35259 ci-kubernetes-e2e-kind-rootless: set `--use-built-binaries`
  config/jobs/kubernetes/sig-testing/kubernetes-kind-ci.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#35321 Updating sig-windows CAPZ jobs to use containerd 2.x.x
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/windows, area/jobs, area/config

#35323 setup single blockade for *all* staging repos that redirects to CONTRIBUTING.md
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/config

#35325 security-profiles-operator: switch to go 1.25
  config/jobs/kubernetes-sigs/security-profiles-operator/security-profiles-operator-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#35331 kOps: Add Debian 13 to the distros list
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/helpers.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
  config/jobs/kubernetes/kops/pinned.list
  config/testgrids/kubernetes/kops/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35335 Node e2e with golang tip
  config/jobs/kubernetes/sig-arch/kubernetes-code-organization.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/architecture, area/jobs, area/config, area/conformance, area/code-organization

#35341 fix the arm64 conformance board
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/sig-cloud-provider/aws/ec2-e2e.yaml
  config/testgrids/conformance/conformance-all.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/provider/aws, area/jobs, sig/cloud-provider, area/config

#35343 drop stale inspur and huaweicloud conformance jobs
  config/testgrids/conformance/conformance-all.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing, area/config

#35322 Add label for wg AI Conformance
  label_sync/labels.md
  label_sync/labels.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/contributor-experience, area/label_sync, ok-to-test

#35316 dra: 1.34: remove redundant option
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.34.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#35345 Introduce periodic etcd benchmark jobs
  config/jobs/etcd/etcd-benchmarks-periodic.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/etcd

#35352 Add a presubmit equivalent of ci-audit-kind-conformance
  config/jobs/kubernetes/sig-arch/conformance-audit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/architecture, area/jobs, area/config, area/conformance

#35354 DRA: propagate version selection logic to presubmit jobs
  config/jobs/kubernetes/sig-node/dra-presubmit.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#35351 Organize ibm testgrid dashboards based on architecture
  config/jobs/etcd/etcd-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-periodics-main.yaml
  config/jobs/kubernetes/cloud-provider-ibmcloud/cloud-provider-ibmcloud-ppc64le-periodics.yaml
  config/jobs/kubernetes/cloud-provider-ibmcloud/cloud-provider-ibmcloud-presubmits.yaml
  config/jobs/kubernetes/cloud-provider-ibmcloud/cloud-provider-ibmcloud-s390x-periodics.yaml
  config/testgrids/ibm/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, sig/cloud-provider, area/config, sig/etcd

#35357 Allow CAPA maintainers to rerun jobs and remove old job
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-postsubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits-release-2.7.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35360 fix command line issues in audit log parsing
  config/jobs/kubernetes/sig-arch/conformance-audit.yaml
  experiment/audit/audit_log_parser.py
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/architecture, area/jobs, area/config, area/conformance

#35172 CentOS Stream 10: Update powervs instance image to CentOS-Stream-10
  config/jobs/kubernetes/cloud-provider-ibmcloud/cloud-provider-ibmcloud-ppc64le-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, sig/cloud-provider, area/config, ok-to-test

#35367 Enable audit_log_parser.py in ci-audit-kind-conformance
  config/jobs/kubernetes/sig-arch/conformance-audit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/architecture, area/jobs, area/config, area/conformance

#35039 Enabled dind in capi ibm verify job
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#35368 Update Playwright test version in presubmit.
  config/jobs/kubernetes-sigs/testgrid/testgrid-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#35370 Update CAPIBM verify job to run pre-requisite steps for dind
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#35372 simplify swagger url read in kubernetes_api_analysis.py
  experiment/audit/kubernetes_api_analysis.py
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing

#35381 Account for deprecated methods in swagger.json
  experiment/audit/audit_log_parser.py
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing

#35382 kOps: Use stable marker for e2e-kops-pipeline-updown-kopsmaster
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35383 Add output of operation id(s) that are missing in audit logs
  experiment/audit/kubernetes_api_analysis.py
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing

#35385 generate a json with operation id to audit log entry mappings
  config/jobs/kubernetes/sig-arch/conformance-audit.yaml
  experiment/audit/audit_log_parser.py
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/architecture, area/jobs, area/config, area/conformance

#35388 CRI-O jobs: remove crun TODO
  jobs/e2e_node/crio/templates/base/crun-enabled.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv2_userns.yaml
  jobs/e2e_node/crio/templates/generate
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node

#35391 capz: add presubmit job for conformance testing azl3
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35392 run pull-kubernetes-audit-kind-conformance when any conformance related files are touched
  config/jobs/kubernetes/sig-arch/conformance-audit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/architecture, area/jobs, area/config, area/conformance

#35393 capz: Add extra refs to azl3 conformance presubmit
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35395 Ingress NGINX: Bump Test Runner to v2.2.2.
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#35403 Bump Cluster API jobs for Kubernetes v1.34/v1.35
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-prowjob-gen.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-11-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-11-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35404 Bump Cluster API main jobs to use kubekins v1.34.0
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-prowjob-gen.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35401 specify checked-out files for ineligible_endpoints and pending_eligible_endpoints yaml files
  config/jobs/kubernetes/sig-arch/conformance-audit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/architecture, area/jobs, area/config, area/conformance

#35406 use go1.25 for dlk8s jobs
  config/jobs/kubernetes-sigs/downloadkubernetes/downloadkubernetes-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#35399 kOps: Add k8s 1.34 release
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/testgrids/kubernetes/kops/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config, tide/merge-method-squash

#35408 update zeitgeist jobs to use go1.25
  config/jobs/kubernetes-sigs/zeitgeist/zeitgeist-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#35402 Create jobs for controller-runtime v0.22 release branch
  config/jobs/kubernetes-sigs/controller-runtime/controller-runtime-presubmits-release-0.19.yaml
  config/jobs/kubernetes-sigs/controller-runtime/controller-runtime-presubmits-release-0.22.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#35410 Update Tejolote jobs to use go1.25
  config/jobs/kubernetes-sigs/tejolote/tejolote-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#35415 [kueue] Add 1.34 testing for presubmit/periodics jobs
  config/jobs/kubernetes-sigs/kueue/kueue-periodic-s390x-ppc64le-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#35416 move integration jobs to gke so they can run on newer hardware and use the kubekins-e2e v2 image
  config/jobs/kubernetes/sig-testing/integration.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#35420 deprecate jobset 0.7 and support release-0.9
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-release-0-9.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#35422 [kueue] Add 1.34 testing for presubmit/periodics jobs
  config/jobs/kubernetes-sigs/kueue/kueue-periodic-s390x-ppc64le-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#35409 Add sivchari to reviewer
  config/jobs/kubernetes-sigs/cluster-api/OWNERS
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35424 fix email for conformance audit alerts from test grid
  config/jobs/kubernetes/sig-arch/conformance-audit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/architecture, area/jobs, area/config, area/conformance

#35426 sig-security: add new pull job for cve-feed tests
  config/jobs/kubernetes/sig-security/cve-feed-tests.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config, tide/merge-method-squash, sig/security

#35425 DRA node job update for 1.35
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra-ci.yaml
  config/jobs/kubernetes/sig-node/dra-presubmit.yaml
  config/jobs/kubernetes/sig-node/dra.generate.conf
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/node, area/jobs, area/config
