Repository kubernetes/test-infra, pull requests merged in 2025-09, with the labels that each got.

#35432 chore: Add cloud provider release-1.34 jobs
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.34.yaml
  config/testgrids/kubernetes/sig-cloud-provider/azure/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XL, approved, area/provider/azure, sig/testing, priority/important-soon, area/jobs, kind/cleanup, sig/cloud-provider, area/config

#35411 integration testing: update timeout, II
  config/jobs/kubernetes/sig-testing/integration.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#35435 Bump CAPV to v1.34
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-prowjob-gen.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-14-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-14-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#35433 [kueue] Bump go version to 1.25.
  config/jobs/kubernetes-sigs/kueue/kueue-periodic-s390x-ppc64le-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-release-0-12.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-release-0-13.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-s390x-ppc64le-release-0.12.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-s390x-ppc64le-release-0.13.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-12.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-13.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#35423 kOps: small breakdown of the prowjobs build script
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/build_vars.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/prow/autobump-config/prow-job-autobump-config.yaml
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35440 sig-testing: add pull-kubernetes-e2e-kind-alpha-beta-features-race
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
  config/testgrids/kubernetes/presubmits/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#35443 bump tools in kubekins-e2e v2 image
  images/kubekins-e2e-v2/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#35430 sig-security: fix naming of cve feed units tests job
  config/jobs/kubernetes/sig-security/cve-feed-tests.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/security

#35427 Fix CVE Feed test job
  config/jobs/kubernetes/sig-security/cve-feed-tests.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/security

#35445 configure non e2e k/k presubmits to use kubekins-e2e-v2 image
  config/jobs/kubernetes/sig-testing/cmd.yaml
  config/jobs/kubernetes/sig-testing/dependencies.yaml
  config/jobs/kubernetes/sig-testing/integration.yaml
  config/jobs/kubernetes/sig-testing/make-test.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#35454 cve-feed-tests: fix job by changing image and command
  config/jobs/kubernetes/sig-security/cve-feed-tests.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/security

#35453 ali-csi: update helm chart path
  config/jobs/kubernetes-sigs/alibaba-cloud-csi-driver/alibaba-cloud-csi-driver.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#35353 drop race-detector-nonblocking job
  config/jobs/kubernetes/test-infra/test-infra-presubmits.yaml
  hack/make-rules/go-test/unit.sh
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#35459 kOps: testing kOps in nftables
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-nftables.yaml
  config/testgrids/kubernetes/kops/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35431 npd: Run presubmits on release branches
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#35462 Fix e2e version used for csi-release-tools repo
  config/jobs/kubernetes-csi/csi-release-tools/csi-release-tools-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#35463 Update to latest tag for snoopdb image
  config/jobs/kubernetes/sig-arch/conformance-gate.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/architecture, area/jobs, area/config, area/conformance

#35465 chore: Skip outdated test
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.30.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, kind/failing-test, priority/important-soon, area/jobs, area/config

#35467 [kueue] Bump go version to 1.25.
  config/jobs/kubernetes-sigs/kueue/kueue-periodic-s390x-ppc64le-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-release-0-12.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-release-0-13.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-s390x-ppc64le-release-0.12.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-s390x-ppc64le-release-0.13.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-12.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-13.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#35469 Add 3h timeouts to CAPG jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/cluster-api-provider-gcp-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/gcp, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35471 npd: Run all presubmits on all release branches
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#35473 Trigger build of kubekins image with fresh kubetest2
  images/kubekins-e2e-v2/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#35472 [kueue] Use BASE_BUILDER_IMAGE instead of BUILDER_IMAGE.
  config/jobs/kubernetes-sigs/kueue/kueue-periodic-s390x-ppc64le-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-release-0-12.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-release-0-13.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-s390x-ppc64le-release-0.12.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-s390x-ppc64le-release-0.13.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-12.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-13.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#35477 Change system type of node for couple of IBM jobs
  config/jobs/kubernetes/cloud-provider-ibmcloud/cloud-provider-ibmcloud-ppc64le-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, do-not-merge/hold, approved, sig/testing, area/jobs, sig/cloud-provider, area/config

#35482 run k/k integration tests on ibm hardware
  config/jobs/kubernetes/cloud-provider-ibmcloud/cloud-provider-ibmcloud-ppc64le-periodics.yaml
  config/jobs/kubernetes/cloud-provider-ibmcloud/cloud-provider-ibmcloud-s390x-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, sig/cloud-provider, area/config

#35487 add pull-kubernetes-integration-s390x/ppc64le jobs
  config/jobs/kubernetes/cloud-provider-ibmcloud/cloud-provider-ibmcloud-ppc64le-periodics.yaml
  config/jobs/kubernetes/cloud-provider-ibmcloud/cloud-provider-ibmcloud-s390x-periodics.yaml
  config/jobs/kubernetes/cloud-provider-ibmcloud/kubernetes-ppc64le-presubmits.yaml
  config/jobs/kubernetes/cloud-provider-ibmcloud/kubernetes-s390x-presubmits.yaml
  config/testgrids/ibm/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, sig/cloud-provider, area/config

#35489 Revert PR 35442 Add periodic-capi-provider-ibmcloud-e2e-powervs job
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presets.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#35491 Bump CAPV main jobs to use v1.34.0
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-prowjob-gen.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#35493 kOps: Make the Azure presubmit mandatory
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35495 bump pull-release-image-go-runner timeout
  config/jobs/kubernetes/release/release-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#35500 Fix Python call in k/sig-security CVE feed tests
  config/jobs/kubernetes/sig-security/cve-feed-tests.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/security

#35501 CAPO: Add release-0.13 and remove release-0.10
  config/jobs/kubernetes-sigs/cluster-api-provider-openstack/cluster-api-provider-openstack-periodics-release-0.13.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#35485 Add presubmit jobs for CAPIBM release-0.12 branch
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits-release-0.12.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#35509 etcd-operator: run verify instead of lint target
  config/jobs/etcd/etcd-operator-postsubmits.yaml
  config/jobs/etcd/etcd-operator-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config, sig/etcd

#35523 fix scalability tests
  config/jobs/kubernetes/sig-scalability/sig-scalability-networking.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/scalability, area/jobs, area/config

#35528 [sig-node] fix ci-crio-cgroupv2-node-e2e-features, ci-crio-cgroupv2-node-e2e-unlabelled jobs to use correct image-config-file
  config/jobs/kubernetes/sig-node/crio.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#35532 [kjob] Use kindest/node:v1.34.0.
  config/jobs/kubernetes-sigs/kjob/kjob-periodics-main.yaml
  config/jobs/kubernetes-sigs/kjob/kjob-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#35535 openshift/hypershift: add 4.21 release jobs
  config/testgrids/openshift/hypershift.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, area/config

#35539 Update Kubernetes version to v1.33.2
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#35511 scheduler_perf: KUBE_CACHE_MUTATION_DETECTOR=false
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scheduling/sig-scheduling-config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, sig/scheduling, area/jobs, area/config

#35507 chore: Initial prow configuration for agent-sandbox
  config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml
  config/testgrids/kubernetes/sig-apps/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#35554 add optional presubmit for kube-network-policies with kops
  config/jobs/kubernetes-sigs/kube-network-policies/kube-network-policies-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#35557 use the right image
  config/jobs/kubernetes-sigs/kube-network-policies/kube-network-policies-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#35556 kubeadm: remove test job for RootlessControlPlane
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-rootless.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35559 add extra refs
  config/jobs/kubernetes-sigs/kube-network-policies/kube-network-policies-presubmits.yaml
  config/jobs/kubernetes-sigs/network-policy-api/test.md
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#35530 delete boskos folder
  .ko.yaml
  .test-infra-misc-images.yaml
  README.md
  boskos/OWNERS
  boskos/README.md
  boskos/cmd/janitor/gcp_janitor.py
  config/prow/Makefile
  config/prow/gencred-config/gencred-config.yaml
Labels: lgtm, cncf-cla: yes, area/boskos, size/XL, approved, sig/testing, area/config

#35560 use go1.25 for release-utils jobs
  config/jobs/kubernetes-sigs/release-utils/release-utils-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#35513 Update sig-scheduling OWNERS file
  OWNERS_ALIASES
  config/jobs/kubernetes/sig-scheduling/OWNERS
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/scheduling, area/jobs, area/config

#35562 kOps: Use Ubuntu 24.04 for pull-kops-e2e-cni-amazonvpc
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35573 Revert "Add extra kernel argument to force cgropuv1 spin up in [crio_cgroupv1.ign]"
  jobs/e2e_node/crio/crio_cgroupv1.ign
  jobs/e2e_node/crio/crio_cgroupv1_eventedpleg.ign
  jobs/e2e_node/crio/crio_cgroupv1_hugepages.ign
  jobs/e2e_node/crio/templates/base/cgroupv1.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv1.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv1_eventedpleg.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv1_hugepages.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node

#35570 SIG testing: clean up alpha/beta presubmits
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#35581 update pull-publishing-bot-validate jobs to use go1.25
  config/jobs/kubernetes/publishing-bot/publishing-bot-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#35582 update pull-publishing-bot-validate to use go1.25
  config/jobs/kubernetes/publishing-bot/publishing-bot-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#35586 run capz-windows-2019-hostprocess on k8s 1.30
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#35599 Reduce frequency of CAPZ DRA scale job
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-periodic-dra.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config, wg/device-management

#35600 add CAS E2E test for 1.34 branch
  config/jobs/kubernetes/sig-autoscaling/azure/cluster-autoscaler-azure-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#35601 npd: Push images for tags and release branches
  config/jobs/image-pushing/k8s-staging-node-problem-detector.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#35605 config gcp credential for minikube
  config/jobs/kubernetes/minikube/minikube-periodics.yaml
  config/jobs/kubernetes/minikube/minikube-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35596 add nirrozenbaum to owners of gateway api inference extension
  config/jobs/kubernetes-sigs/gateway-api-inference-extension/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#35602 add release testing on 0.10
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-release-0-10.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit-release-0-10.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#35604 remove jobset 0.8 as its no longer supported
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-release-0-8.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit-release-0-8.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#35615 [kueue] Increase CPU requests for pull-kueue-verify and pull-kueue-test-unit.
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-release-0-12.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-periodics-release-0-13.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-12.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-release-0-13.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#35616 Ingress NGINX: Bump Test Runner to v2.2.3.
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#35603 ci: add prowjob definition for agent-sandbox unit tests
  config/jobs/kubernetes-sigs/agent-sandbox/agent-sandbox-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config
