Repository kubernetes/test-infra, pull requests merged in 2025-02, with the labels that each got.

#34248 etcd: always run pull-etcd-release-tests
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#34249 fix: Change CI_VERSION to full semver in azure release-1.28 tests
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.28.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, kind/failing-test, area/jobs, sig/cloud-provider, area/config

#34253 Add package.json and package-lock.json to trigger condition
  config/jobs/image-pushing/k8s-staging-sig-docs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34240 Run ginkgo -v in SELinux pull request job
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/storage, area/jobs, area/config

#34252 CAPI: add KIND_BUILD_IMAGES variable where no version env vars are set
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-7-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-7-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-8-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-8-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-9-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-release-1-9-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/templates/cluster-api-periodics.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api/templates/cluster-api-presubmits.yaml.tpl
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34259 Update windows VPA presubmit job to use capz@main
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#34261 Bump CAPZ load test interval back up to 24h
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34260 etcd: enable unit, e2e and integration postsubmits
  config/jobs/etcd/etcd-postsubmits.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config, sig/etcd

#34262 CAPV: always run vcsim e2e on presubmits
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-10-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-11-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-12-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-periodics-upgrades.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-periodics.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-presubmits.yaml.tpl
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#34265 Revert "crio: bump v2 job to latest main"
  jobs/e2e_node/crio/crio_cgroupv2.ign
  jobs/e2e_node/crio/templates/base/root-v2.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv2.yaml
  jobs/e2e_node/crio/templates/generate
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node

#34255 feat: remove `needs-triage` label when any triage label is added
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/config, ok-to-test

#34266 secrets-sync: remove v1.28 tests and add v1.32
  config/jobs/kubernetes-sigs/secrets-store-sync-controller/secrets-store-sync-controller-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#34267 etcd: add contrib-mixin presubmit job
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/etcd

#34268 etcd: always run pull-etcd-contrib-mixin job
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#34272 download the go tool that is needed to build release-sdk
  config/jobs/kubernetes-sigs/release-sdk/release-sdk-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#34274 chore: Add cloud provider azure release-1.32 jobs
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.32.yaml
  config/testgrids/kubernetes/sig-cloud-provider/azure/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XL, approved, area/provider/azure, sig/testing, kind/failing-test, area/jobs, sig/cloud-provider, area/config

#34264 DRA canary: override kubetest2 skip default
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#34275 DRA canary: override kubetest2 skip default, II
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#34276 Update kubekins to Go 1.23.5 for master branch
  images/kubekins-e2e-v2/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#34258 Use the new AR registries for archeo, octodns and porche
  config/jobs/image-pushing/k8s-staging-infra-tools.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#34277 DRA canary: re-add timeout
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra.generate.conf
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#34279 Updating Windows unit tests job to run on an 8 core machine
  config/jobs/kubernetes-sigs/sig-windows/windows-unit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#34282 etcd: set release-tests presubmit as blocking
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#34281 etcd: import fuzzing v3rpc tests
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/etcd

#34284 test: move compat versions feature gate tests to kubekins image for jq and yq deps
  config/jobs/kubernetes/sig-testing/compatibility-versions-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/api-machinery, sig/testing, area/jobs, area/config

#34285 test: fix compat versions feature gate test kubekins image config
  config/jobs/kubernetes/sig-testing/compatibility-versions-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34286 Use uksouth for windows-unit-test job
  config/jobs/kubernetes-sigs/sig-windows/windows-unit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#34288 etcd: always run fuzzing-v3rpc presubmit job
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#34287 etcd: run pre and postsubmits on new release branches
  config/jobs/etcd/etcd-bbolt-presubmits.yaml
  config/jobs/etcd/etcd-postsubmits.yaml
  config/jobs/etcd/etcd-presubmits.yaml
  config/jobs/etcd/etcd-raft-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/etcd

#34280 Sig node test approvers (and sync the OWNER_ALIASES)
  OWNERS_ALIASES
  config/jobs/cadvisor/OWNERS
  config/jobs/containerd/containerd/OWNERS
  config/jobs/kubernetes/node-problem-detector/OWNERS
  config/jobs/kubernetes/sig-node/OWNERS
  config/testgrids/kubernetes/sig-node/OWNERS
  jobs/e2e_node/OWNERS
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#34290 fix indent in owners_aliases
  OWNERS_ALIASES
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#34293 Update kubekins to Go 1.23.5 and 1.22.11
  images/kubekins-e2e-v2/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#34300 kOps: Update flannel pre-submits
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34302 kOps: Update network plugins tests
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34273 SIG Node: add bart0sh as approver
  OWNERS_ALIASES
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#34301 Ingress NGINX: Migrate to AR.
  config/jobs/image-pushing/k8s-staging-ingress-nginx.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#34305 use normal scalability project instead of 5k node project for benchma…
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#34308 CAPZ: Lower VM sizes for 100 node load test
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34310 Enable cherrypicker, needs-rebase for bbolt and raft
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/config, sig/etcd

#34294 etcd: add release-3.6 periodic jobs
  config/jobs/etcd/etcd-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config, sig/etcd

#34306 sig-node: Remove skip regex for pull-crio-cgroupv2-imagefs-separatedisktest
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#34316 Update kubekins to Go 1.23.6 for master branch
  images/kubekins-e2e-v2/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#34317 Update kubekins to Go 1.23.6 and 1.22.12
  images/kubekins-e2e-v2/variants.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#34324 Update golang to v1.23 for custom-metrics-apiserver
  config/jobs/kubernetes-sigs/custom-metrics-apiserver/custom-metrics-apiserver-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34289 DRA: convert E2E node to kubetest2
  config/jobs/kubernetes/sig-node/dra-ci.yaml
  config/jobs/kubernetes/sig-node/dra-presubmit.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#34295 Ingress NGINX: Rename `ingress-nginx-presubmit.yaml`.
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#34296 InGate: Rework `ingate-presubmits.yaml`.
  config/jobs/kubernetes-sigs/ingate/ingate-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#34313 enable prow cherry picker on sig-storage COSI repo
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#34319 Disable periodic enhancements sync for v1.33 Enhancements Freeze
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-release-release-team-jobs/release-team-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#34325 DRA: experiment with not using checked-out code
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#34328 DRA canary: fix tar extraction
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#34307 Update cluster api image building jobs to log to stdout
  config/jobs/image-pushing/k8s-staging-cluster-api.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34330 DRA: use pre-built release artifacts
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra-ci.yaml
  config/jobs/kubernetes/sig-node/dra-presubmit.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#34331 DRA: use pre-built release artifacts, II
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra-presubmit.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#34327 Adding PR job for running e2e tests against k/k PRs
  config/jobs/kubernetes-sigs/sig-windows/windows-unit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/windows, area/jobs, area/config

#34297 etcd: import grpcproxy presubmits
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config, sig/etcd

#34335 etcd: update contrib mixin, fuzzing, and grpcproxy presubmit jobs
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config, sig/etcd

#34336 etcd: import pull-etcd-coverage-report presubmit job
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/etcd

#34337 Promote stable kubetest2 presubmits jobss
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#34339 Delete duplicated dra jobs
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#34314 :seedling: Adopt label filters on CAPI jobs
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/templates/cluster-api-periodics-upgrades.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api/templates/cluster-api-periodics.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api/templates/cluster-api-presubmits.yaml.tpl
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34341 DRA: some more job tweaks
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra-ci.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#34343 DRA: reduce memory requests, use tmp for etcd
  config/jobs/kubernetes/sig-node/dra-ci.yaml
  config/jobs/kubernetes/sig-node/dra-presubmit.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#34344 CAPI: ensure KUBERNETES_VERSION_LATEST_CI gets built
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/templates/cluster-api-periodics.yaml.tpl
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34326 chore: Add needs-priority plugin for karpenter
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#34347 etcd: always run coverage job
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#34348 etcd e2e jobs: set 60m timeout
  config/jobs/etcd/etcd-postsubmits.yaml
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config, sig/etcd

#34350 DRA: fork periodics for release-1.32
  config/jobs/kubernetes/sig-node/dra-ci.yaml
  config/jobs/kubernetes/sig-node/dra.generate.conf
  config/jobs/kubernetes/sig-node/dra.jinja
  config/jobs/kubernetes/sig-release/release-branch-jobs/dra-1.32.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, sig/release, area/jobs, area/config, area/release-eng

#34352 hugepages: use empty skip-regex for kubetest2 jobs
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#34354 replace crio hugepages jobs with kubetest2
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#33423 Add job to run ClusterLoader2 load test on 100 node CAPZ cluster
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-azure.yaml
  config/testgrids/kubernetes/sig-scalability/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/scalability, area/jobs, area/config

#34355 etcd: set 60 minute timeout to e2e tests
  config/jobs/etcd/etcd-postsubmits.yaml
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config, sig/etcd

#34357 Add DRA periodic job to CAPZ
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34356 Increase memory limit for PDCSI container
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34359 Add sunnylovestiramisu in persistent-disk-csi-driver OWNERS file
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34361 Fix path bug in SIG Scalability Azure 100 node perf test
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-azure.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#34362 Kops - Remove kops 1.28 periodic jobs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
  config/jobs/kubernetes/kops/pinned.list
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34340 Add to lws approvers
  config/jobs/kubernetes-sigs/lws/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34363 fix branch selection pattern
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits-release-0.1.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits-release-0.2.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits-release-0.3.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits-release-0.4.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits-release-0.5.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits-release-0.6.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits-release-0.7.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits-release-0.8.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presubmits-release-0.9.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-ibmcloud/cluster-api-provider-ibmcom-presumbits-release-0.10.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#34364 managers: use empty skip-regex for kubetest2 jobs
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#34338 [sig-windows] Add presets to create Windows VMs in GCE
  config/jobs/kubernetes-sigs/sig-windows/presets.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/windows, area/jobs, area/config

#34370 Remove kubelet feature gate KubeletPodResources
  config/jobs/kubernetes-sigs/sig-windows/presets.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, sig/windows, area/jobs, area/config

#34374 remove recently deleted featuregates from test configs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/sig-cloud-provider/periodic-e2e.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/S, do-not-merge/hold, approved, sig/testing, sig/cluster-lifecycle, sig/node, area/jobs, sig/cloud-provider, area/config

#34379 Update CAPZ ci-entrypoint test to run on same condition as e2e
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34377 Add image builds for kubernetes-sigs/nat64
  config/jobs/image-pushing/k8s-staging-nat64.yaml
  config/testgrids/kubernetes/sig-network/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, ok-to-test

#34375 Replace CRI-O resource managers jobs with their kubetest2 variants
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#34384 Drop kops 1.29 grid jobs, add kops 1.31
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
Labels: lgtm, cncf-cla: yes, size/XXL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34383 replace eventedpleg crio job with kubetest2 variant
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#34386 CloudProvider-azure: switch to 1.32 to bypass ci build blocked by 1.33 failure.
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, area/jobs, area/config

#34387 pull-kubernetes-integration: split into Go and cmd testing
  config/jobs/kubernetes/sig-testing/integration.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#34390 Add karlkfi as cli-utils approver
  config/jobs/kubernetes-sigs/cli-utils/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34378 chore: bump go to 1.24 for cli-utils presubmit
  config/jobs/kubernetes-sigs/cli-utils/cli-utils-presubmit-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#34391 Alwasy run volume populator tests for GA
  config/jobs/kubernetes-csi/lib-volume-populator/lib-volume-populator-config.yaml
  config/jobs/kubernetes-csi/volume-data-source-validator/volume-data-source-validator-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#34393 Add hydrophone to contributing guide
  CONTRIBUTING.md
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#34395 etcd bbolt: set a 60 minute timeout for jobs
  config/jobs/etcd/etcd-bbolt-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#34398 Enable `ImageVolume` tests for `pull-kubernetes-node-e2e-containerd-alpha-features`
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#34392 [sig-windows] Update release-master-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#34215 Enable PDCSI driver to run windows tests
  config/jobs/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/gcp-compute-persistent-disk-csi-driver-windows.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34404 security-profiles-operator: switch to go 1.24
  config/jobs/kubernetes-sigs/security-profiles-operator/security-profiles-operator-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34406 migrate lws to staging repo
  config/jobs/image-pushing/k8s-staging-lws.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34401 prow: allow more contexts for kOps
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#34407 migrate jobset to staging repo
  config/jobs/image-pushing/k8s-staging-jobset.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34408 secrets-sync: bump kubernetes versions for tests
  config/jobs/kubernetes-sigs/secrets-store-sync-controller/secrets-store-sync-controller-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#34334 disable branch protection for CVE feed branches
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#34411 Switch publishing-bot CI jobs to use golang:1.24
  config/jobs/kubernetes/publishing-bot/publishing-bot-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#34168 Cleanup after archival of kubernetes-security/cvelist-public repo
  config/jobs/kubernetes/sig-security/cvelist-public.yaml
  config/testgrids/kubernetes/sig-security/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, tide/merge-method-squash, sig/security

#34397 fix: resolve compat version feature gate test edge case involving deprecated features
  experiment/compatibility-versions/compatibility-versions-feature-gate-test.sh
  experiment/compatibility-versions/validate-compatibility-versions-feature-gates.sh
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing

#34409 [sig-windows] Checkout the csi-driver repo
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#34414 Kops - Update versioned jobs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/testgrids/kubernetes/kops/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34416 kubekins-e2e-v2 multiarch support for ppc64le
  images/kubekins-e2e-v2/Dockerfile
  images/kubekins-e2e-v2/README.md
  images/kubekins-e2e-v2/cloudbuild.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/images

#34376 Add image push job for dra-example-driver
  config/jobs/image-pushing/k8s-staging-dra-example-driver.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#34417 CAPI: also build latest-ci in presubmit lastestk8s
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/templates/cluster-api-presubmits.yaml.tpl
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34419 bump to 4 cpu for kms jobs
  config/jobs/kubernetes/sig-auth/sig-auth-encryption-at-rest.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/auth, area/jobs, area/config

#34420 Update CAPZ jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-v1beta1-release-1.17.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-v1beta1-release-1.18.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34321 don't re-triage issues that are "help wanted" or "frozen"
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/contributor-experience

#34424 etcd: mark grpcproxy jobs as blocking
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#34421 experiment: setup tool for KEPs reviews
  experiment/keptain/OWNERS
  experiment/keptain/README.md
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing

#34349 Setup release-0.17 branch jobs for CAPI Operator
  config/jobs/kubernetes-sigs/cluster-api-operator/cluster-api-operator-periodics-release-0-17.yaml
  config/jobs/kubernetes-sigs/cluster-api-operator/cluster-api-operator-presubmits-release-0-17.yaml
  config/testgrids/kubernetes/sig-cluster-lifecycle/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34410 [sig-windows] update windows serial slow jobs to skip alpha tests
  config/jobs/kubernetes-sigs/sig-windows/release-1.32-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#34413 [sig-windows] Adding Windows GCE jobs back
  config/jobs/kubernetes-sigs/sig-windows/windows-gce.yaml
  config/testgrids/kubernetes/sig-windows/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/windows, area/jobs, area/config, ok-to-test

#34418 cluster-autoscaler: update azure E2E to use CAPZ 1.18
  config/jobs/kubernetes/sig-autoscaling/azure/cluster-autoscaler-azure-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34427 drop kubernetes 1.29 due to out of support
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-main.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-release-0-6.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-release-0-7.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit-main.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#34129 update pull/ci-kubernetes-e2e-storage-kind-alpha-beta-features
  config/jobs/kubernetes/sig-storage/sig-storage-kind.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/storage, area/jobs, area/config

#34169 Update OWNERS for sig-security test config
  config/jobs/kubernetes/sig-security/OWNERS
  config/testgrids/kubernetes/sig-security/OWNERS
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config, sig/security

#34432 [sig-windows] Set skip for private registry test
  config/jobs/kubernetes-sigs/sig-windows/release-1.29-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.29-windows.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/windows, area/jobs, area/config

#34433 cluster-autoscaler: add 1.32 test, use latest CAPZ
  config/jobs/kubernetes/sig-autoscaling/azure/cluster-autoscaler-azure-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#34431 sig-security: move auto refreshing snyk scan job to a less trusted cluster
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-security-trusted.yaml
  config/jobs/kubernetes/sig-security/snyk-scan.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config, sig/security, sig/k8s-infra
