Repository kubernetes/test-infra, pull requests merged in 2025-06, with the labels that each got.

#34895 fix: Revert #34888 and #34893
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, kind/failing-test, priority/important-soon, area/jobs, sig/cloud-provider, area/config

#34891 etcd: Add grpcproxy integration and e2e tests to release-3.4
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#34900 update tejolote jobs to use go1.24
  config/jobs/kubernetes-sigs/tejolote/tejolote-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#34894 fix vmssflex test failure
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#34901 Add ci-test-infra-triage to releng-informing
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-k8s-infra-test-infra.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#34898 CAPZ: Bump resources for upgrade tests
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34903 CAPZ: Bump coredns version for upgrade tests
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main-upgrades.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34870 feat: Add test for skip version upgrade
  experiment/compatibility-versions/common.sh
  experiment/compatibility-versions/e2e-skip-version-testing.sh
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, ok-to-test

#34880 add 1.33 testing for jobset and drop 1.30
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-main.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-release-0-7.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-release-0-8.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit-main.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#34907 fix vmssflex test failure
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#34869 Ingress NGINX: Bump Test Runner to v2.1.1.
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, priority/backlog, area/jobs, kind/cleanup, area/config, triage/accepted

#34913 CAPZ: remove expected coredns and etcd versions from upgrade tests
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main-upgrades.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34910 fix vmssflex test failure#3
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#34909 Test a new cri-o version with canary job
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  jobs/e2e_node/crio/README.md
  jobs/e2e_node/crio/crio_cgroupv2_canary.ign
  jobs/e2e_node/crio/latest/image-config-cgroupv2-canary.yaml
  jobs/e2e_node/crio/templates/base/env-canary.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv2_canary.yaml
  jobs/e2e_node/crio/templates/generate
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#34917 DRA E2E node: be more flexible about crio machine types
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra-ci.yaml
  config/jobs/kubernetes/sig-node/dra-presubmit.yaml
  config/jobs/kubernetes/sig-node/dra.generate.conf
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#34920 move CI jobs to same GCP region as the CI cluster (us-west1 => us-central1)
  config/jobs/kubernetes-csi/csi-driver-windows-poc/csi-driver-windows-poc-config.yaml
  config/jobs/kubernetes-csi/csi-proxy/csi-proxy-manual-config.yaml
  config/jobs/kubernetes-sigs/sig-windows/windows-gce.yaml
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-ci.yaml
  config/jobs/kubernetes/node-problem-detector/node-problem-detector-presubmits.yaml
  config/jobs/kubernetes/release/release-config.yaml
  config/jobs/kubernetes/sig-api-machinery/sig-api-machinery-config.yaml
  config/jobs/kubernetes/sig-apps/sig-apps-config.yaml
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-config.yaml
  config/jobs/kubernetes/sig-autoscaling/sig-autoscaling-presubmits.yaml
  config/jobs/kubernetes/sig-cli/sig-cli-config.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gce-conformance.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gcp-gpu-presubmits.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml
  config/jobs/kubernetes/sig-network/ingress-gce-e2e.yaml
  config/jobs/kubernetes/sig-network/sig-network-gce.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/crio.yaml
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra-ci.yaml
  config/jobs/kubernetes/sig-node/dra-presubmit.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.30.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.31.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.32.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.33.yaml
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
  config/jobs/kubernetes/sig-testing/coverage.yaml
  config/jobs/kubernetes/sig-testing/kubernetes-kind.yaml
  config/jobs/kubernetes/sig-testing/kubetest-canaries.yaml
  releng/test_config.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/cli, sig/network, sig/api-machinery, sig/apps, area/provider/gcp, sig/testing, sig/node, sig/release, sig/windows, sig/storage, area/jobs, sig/cloud-provider, area/config, area/release-eng

#34919 always run vmssflex e2e test
  config/jobs/kubernetes-sigs/azuredisk-csi-driver/azuredisk-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#34915 Remove MartinForReal from owners of cloud-provider-azure
  config/jobs/kubernetes-sigs/cloud-provider-azure/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, area/jobs, area/config

#34916 etcd: Add e2e tests for branch release-3.4
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#34912 feat: Add test to prow for skip version testing
  config/jobs/kubernetes/sig-testing/compatibility-versions-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, ok-to-test

#34936 Add periodic/presubmit for running unit tests in k/k with updated dependencies
  config/jobs/kubernetes/sig-arch/kubernetes-code-organization.yaml
  experiment/dependencies/update-dependencies-and-run-tests.sh
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/architecture, area/jobs, area/config, area/conformance

#34932 CAPZ: bump memory for periodic upgrade jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main-upgrades.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34941 Update ProwJob config to clone in k/k for scanning by snyk
  config/jobs/kubernetes/sig-security/snyk-scan.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/security

#34921 update help wanted to reflect recent changes and link to rendered docs
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/contributor-experience, area/config

#34940 [dependencies] split arguments
  config/jobs/kubernetes/sig-arch/kubernetes-code-organization.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/architecture, area/jobs, area/config, area/conformance

#34943 fix reference to k/k master branch
  config/jobs/kubernetes/sig-security/snyk-scan.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/security

#34947 update bom job to use go1.24
  config/jobs/kubernetes-sigs/bom/bom-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#34952 chore: increase job concurrency for CAPA e2e
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34951 fix: switch skip version testing to use kubekins
  config/jobs/kubernetes/sig-testing/compatibility-versions-e2e.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, area/jobs, area/config

#34954 chore: Bump kubernetes version for azure master tests
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, kind/failing-test, priority/important-soon, area/jobs, sig/cloud-provider, area/config

#34959 image-builder: add OVA presubmit based on vSphere
  config/jobs/kubernetes-sigs/image-builder/image-builder-ova-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#34957 Jobs for build/push k8s-perf test images
  config/jobs/image-pushing/k8s-staging-perf-tests.sh
  config/jobs/image-pushing/k8s-staging-perf-tests.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#34960 capv: schedule main periodics at different times
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-11-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-11-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-12-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-12-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-13-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-13-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-periodics-upgrades.yaml.tpl
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/templates/cluster-api-provider-vsphere-periodics.yaml.tpl
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#34958 DRA: simplify Jinja template
  config/jobs/kubernetes/sig-node/dra.generate.conf
  config/jobs/kubernetes/sig-node/dra.jinja
  hack/generate-jobs.py
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#34955 etcd: Add e2e tests postsubmits and periodics for release-3.4
  config/jobs/etcd/etcd-periodics.yaml
  config/jobs/etcd/etcd-postsubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/etcd

#34965 DRA canary: experiment with kubelet version skew
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra.generate.conf
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#34971 stop requiring pull-kubernetes-e2e-kind-ipv6 ahead of disabling always_run
  config/jobs/kubernetes/sig-testing/kubernetes-kind.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#34887 anp: add 0.33 jobs and drop 0.29
  config/jobs/kubernetes-sigs/apiserver-network-proxy/apiserver-network-proxy-presubmits-0.33.yaml
  config/jobs/kubernetes-sigs/apiserver-network-proxy/apiserver-network-proxy-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, ok-to-test

#34972 disable always_run for pull-kubernetes-e2e-kind-ipv6
  config/jobs/kubernetes/sig-testing/kubernetes-kind.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34976 chore: require blocking e2e for CAPA
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34977 kind jobs: split kubernetes-kind.yaml
  config/jobs/kubernetes/sig-testing/kubernetes-kind-ci.yaml
  config/jobs/kubernetes/sig-testing/kubernetes-kind-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, area/jobs, area/config

#34978 DRA canary: fix double tar
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#34980 chore: increase concurrency and reduce timeout for CAPA blocking
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34983 etcd: Add integration test presubmits for release-3.5
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#34984 DRA canary: invert the kubelet version filter
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#34986 Update kubekins-v2 to Go 1.24.4/1.23.10
  images/kubekins-e2e-v2/variants.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/images

#34991 etcd: use bash in govulncheck for golang based image
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#34985 DRA: enable kubelet n-1 and n-2 testing
  config/jobs/kubernetes/sig-node/dra-ci.yaml
  config/jobs/kubernetes/sig-node/dra-presubmit.yaml
  config/jobs/kubernetes/sig-node/dra.generate.conf
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/node, area/jobs, area/config

#34996 image-builder: enable override plugin
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#34968 Add CAPZ v1.21 milestone to plugins
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#34992 add canary periodics for crio-cgroupvx-node-e2e-features
  config/jobs/kubernetes/sig-node/crio.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#34989 etcd: Add integration test postsubmits and periodics
  config/jobs/etcd/etcd-periodics.yaml
  config/jobs/etcd/etcd-postsubmits.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config, sig/etcd

#34995 add 100Node dra workload test
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-azure.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/scalability, area/jobs, area/config

#35005 kubernetes/gcp: remove ENABLE_KUBE_LIST_FROM_CACHE_INCONSISTENCY_DETECTOR from CI jobs
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#35006 Add kind and unit periodic and presubmit tests against golang tip
  config/jobs/kubernetes/sig-arch/kubernetes-code-organization.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/architecture, area/jobs, area/config, area/conformance

#35008 CAPZ: disable Windows for ci-entrypoint presubmits
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-release-v1beta1.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35011 etcd: Add unit test for release-3.5 branch
  config/jobs/etcd/etcd-periodics.yaml
  config/jobs/etcd/etcd-postsubmits.yaml
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/etcd

#35023 crio: update the version to pick latest changes
  jobs/e2e_node/crio/crio_cgroupv1.ign
  jobs/e2e_node/crio/crio_cgroupv1_eventedpleg.ign
  jobs/e2e_node/crio/crio_cgroupv1_hugepages.ign
  jobs/e2e_node/crio/crio_cgroupv2.ign
  jobs/e2e_node/crio/crio_cgroupv2_canary.ign
  jobs/e2e_node/crio/crio_cgroupv2_drop_infra_ctr.ign
  jobs/e2e_node/crio/crio_cgroupv2_hugepages.ign
  jobs/e2e_node/crio/crio_cgroupv2_imagefs.ign
  jobs/e2e_node/crio/crio_cgroupv2_splitfs.ign
  jobs/e2e_node/crio/crio_cgroupv2_swap1g.ign
  jobs/e2e_node/crio/crio_cgroupv2_userns.ign
  jobs/e2e_node/crio/templates/base/env-canary.yaml
  jobs/e2e_node/crio/templates/base/env.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv1.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv1_eventedpleg.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv1_hugepages.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv2.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv2_canary.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv2_drop_infra_ctr.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv2_hugepages.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv2_imagefs.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv2_splitfs.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv2_swap1g.yaml
  jobs/e2e_node/crio/templates/crio_cgroupv2_userns.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node

#35020 Job to run E2e slow tests on IBM powervs
  config/jobs/kubernetes/cloud-provider-ibmcloud/cloud-provider-ibmcloud-periodics.yaml
  config/testgrids/kubernetes/sig-cloud-provider/ibm/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, sig/cloud-provider, area/config

#35027 use ghproxy in the test-pods namespace
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-k8s-triage-robot.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-contribex-peribolos.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-testing-branchprotector.yaml
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-testing-label-sync.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/contributor-experience, area/jobs, area/config, sig/k8s-infra

#35030 Kops - Bump AMIs
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
  config/jobs/kubernetes/kops/pinned.list
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35033 dra: sig-scalability-dra dashboard
  config/jobs/kubernetes/sig-scalability/DRA/OWNERS
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-periodic-dra.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-azure.yaml
  config/testgrids/kubernetes/sig-scalability/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/scalability, area/jobs, area/config

#35032 add skip for [Feature:SCTPConnectivity] tests in kube-network-policies dir
  config/jobs/kubernetes-sigs/kube-network-policies/kube-network-policies-periodic.yaml
  config/jobs/kubernetes-sigs/kube-network-policies/kube-network-policies-presubmits.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, area/jobs, area/config

#35036 dra-test fixup: set the right apiserver port for scraping
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-periodic-dra.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config, wg/device-management

#35043 Update image-builder pull-ova-all presubmit timeout
  config/jobs/kubernetes-sigs/image-builder/image-builder-ova-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#35037 introduce wg/node-lifecycle label and update OWNER_ALIASES
  OWNERS_ALIASES
  label_sync/labels.md
  label_sync/labels.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/contributor-experience, area/label_sync

#35044 etcd: Add grpcproxy test presubmits for release-3.5 branch
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#35049 chore(external-dns): update maintainers
  config/jobs/kubernetes-sigs/external-dns/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#35048 update cagp owners
  config/jobs/kubernetes-sigs/cluster-api-provider-gcp/OWNERS
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/gcp, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#35052 Ingress NGINX: Bump Test Runner to v2.2.0.
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#35050 etcd: enable pull-etcd-govulncheck for release-3.5 branch
  config/jobs/etcd/etcd-postsubmits.yaml
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#35053 etcd: Add e2e test jobs for branch release-3.5
  config/jobs/etcd/etcd-periodics.yaml
  config/jobs/etcd/etcd-postsubmits.yaml
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/etcd

#35054 Add CAPZ DRA scale presubmit jobs
  config/jobs/kubernetes/sig-scalability/DRA/sig-scalability-presubmit-dra-capz.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/scalability, area/jobs, area/config, wg/device-management

#35057 kubeadm: remove test job for WaitForAllControlPlaneComponents
  config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-kinder-wait-for-all-control-plane-components.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config
