Repository kubernetes/test-infra, pull requests merged in 2025-01, with the labels that each got.

#34057 Bumping the `golang` container image to `1.23`.
  config/jobs/kubernetes-sigs/kernel-module-management/kernel-module-management-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34056 add pull-csi-driver-smb-e2e-windows-2019-hostprocess
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#34053 fix dra --label-filter test
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#34065 upgrade capz version in smb csi driver tests
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34067 node_e2e: set timeout for kubetest2 eviction test
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#34059 Use specific branches for resizer tests
  config/jobs/kubernetes-csi/external-resizer/external-resizer-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#34069 Set Azure location for custom builds job
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34070 add dra-canary jobs
  config/jobs/kubernetes/sig-node/dra-canary.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#34075 Remove default KUBE_FEATURE_GATES values from ci gcp-gce jobs
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/gcp, sig/testing, area/jobs, sig/cloud-provider, area/config

#34066 Use `go1.23.x` in Boskos
  config/jobs/kubernetes-sigs/boskos/boskos-presubmits.yaml
Labels: lgtm, cncf-cla: yes, area/boskos, size/XS, approved, sig/testing, area/jobs, area/config

#34041 alibabacloud csi: add base-image-deps check
  config/jobs/kubernetes-sigs/alibaba-cloud-csi-driver/alibaba-cloud-csi-driver.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#34073 replace pr-crio-node-memoryqos-cgrpv2 with kubetest2 job
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#34074 replace pull-kubernetes-node-kubelet-serial-crio-cgroupvX with kubetest2 jobs
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#34078 Set control plane machine type variable
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34072 replace pull-crio-cgroupv1-node-e2e-features with kubetest2 job
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config, ok-to-test

#34079 Revert building of e2e from release branches
  config/jobs/kubernetes-csi/external-resizer/external-resizer-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#34055 Inference-extension: limit image push to known branch names
  config/jobs/image-pushing/k8s-staging-inference-extension.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34080 Set control plane machine size to D8sv3
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34082 fix: resolve issue in e2e-compatibility-versions.sh where env var reference was incorrect
  experiment/compatibility-versions/e2e-k8s-compatibility-versions.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#34076 Add ENABLE_CACHE_MUTATION_DETECTOR=true for gcp gci e2e default and alpha test suites
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  releng/test_config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/gcp, sig/testing, sig/release, area/jobs, sig/cloud-provider, area/config, area/release-eng

#34085 kOps: Trigger flannel pre-submit only on manifest change
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34087 Update Kops release milestones for 1.31 and 1.32
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#34089 Since we can override the e2e version via .prow.sh, remove optional
  config/jobs/kubernetes-csi/csi-driver-host-path/csi-driver-host-path-config.yaml
  config/jobs/kubernetes-csi/external-attacher/external-attacher-config.yaml
  config/jobs/kubernetes-csi/external-provisioner/external-provisioner-config.yaml
  config/jobs/kubernetes-csi/external-resizer/external-resizer-config.yaml
  config/jobs/kubernetes-csi/external-snapshot-metadata/external-snapshot-metadata-config.yaml
  config/jobs/kubernetes-csi/external-snapshotter/external-snapshotter-config.yaml
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/livenessprobe/livenessprobe-config.yaml
  config/jobs/kubernetes-csi/node-driver-registrar/node-driver-registrar-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#34092 Change CAPZ perf test region to northeurope
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34090 etcd: import operator test presubmit job
  config/jobs/etcd/etcd-operator-presubmits.yaml
  config/testgrids/kubernetes/sig-etcd/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/etcd

#34096 Use a COS version with nftable support
  config/jobs/kubernetes/sig-network/sig-network-misc.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/network, sig/testing, area/jobs, area/config

#34098 Add presubmits and periodics for the KJob release-0.1
  config/jobs/kubernetes-sigs/kjob/kjob-periodics-release-0.1.yaml
  config/jobs/kubernetes-sigs/kjob/kjob-presubmits-release-0.1.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config

#34099 Fix the dashboard from sig-scheduling to sig-apps for kjob
  config/jobs/kubernetes-sigs/kjob/kjob-periodics-main.yaml
  config/jobs/kubernetes-sigs/kjob/kjob-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#34097 Update kjob milestones with v0.2
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#34100 mcs-api: update CI images to kubekins 1.32
  config/jobs/kubernetes-sigs/mcs-api/mcs-api-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/multicluster, area/jobs, area/config

#34093 Upgrade ANP test to use golang 1.23.0
  config/jobs/kubernetes-sigs/apiserver-network-proxy/apiserver-network-proxy-presubmits-master.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34088 re-generated DRA canary jobs
  config/jobs/kubernetes/sig-node/dra-canary.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#34101 [sig-windows] Update containerd version, remove pinned image and add ws2025
  config/jobs/kubernetes-sigs/sig-windows/presets.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/windows, area/jobs, area/config

#34103 [sig-windows] Remove failing GCE jobs
  config/jobs/kubernetes/sig-windows/OWNERS
  config/jobs/kubernetes/sig-windows/windows-gce.yaml
  config/testgrids/kubernetes/sig-windows/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/windows, area/jobs, area/config

#34104 kOps: Add IPv6 pre-submit for kindnet
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34105 Remove EventedPLEG=false and ENABLE_AUTH_PROVIDER_GCP=true from alpha-feature jobs
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  releng/test_config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/gcp, sig/testing, sig/release, area/jobs, sig/cloud-provider, area/config, area/release-eng

#34106 etcd: fix operator presubmit test job
  config/jobs/etcd/etcd-operator-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#34108 chore: Revert the deletion of cloud provider azure 1.28 presubmit test
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.28.yaml
  config/testgrids/kubernetes/sig-cloud-provider/azure/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XL, approved, area/provider/azure, sig/testing, area/jobs, kind/cleanup, sig/cloud-provider, area/config

#34109 verify: restore running of golangci-lint
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.30.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.31.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.32.yaml
  config/jobs/kubernetes/sig-testing/verify.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, priority/critical-urgent, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#34112 Re-enable gcp provider prow jobs
  config/jobs/kubernetes-sigs/secrets-store-csi-driver/secrets-store-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, tide/merge-method-squash, ok-to-test

#34114 kOps: Add IPv6 periodic e2e for kindnet
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34115 kOps: Bump AMIs
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
  config/jobs/kubernetes/kops/pinned.list
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34113 DRA: periodic jobs may run slow tests
  config/jobs/kubernetes/sig-node/dra-ci.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, priority/important-soon, area/jobs, area/config

#34117 add windows 2025 e2e tests for azure file csi driver
  config/jobs/kubernetes-sigs/azurefile-csi-driver/azurefile-csi-driver-config.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, area/jobs, area/config

#34110 fix `ci-test-infra-branchprotector`
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#34118 Setting back EventedPLEG=false for alpha-feature jobs
  config/jobs/kubernetes/generated/generated.yaml
  config/jobs/kubernetes/sig-cloud-provider/gcp/gcp-gce.yaml
  releng/test_config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/gcp, sig/testing, sig/release, area/jobs, sig/cloud-provider, area/config, area/release-eng

#34119 set hypothetical env to control hack/tools go toolchain version versu…
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.29.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.30.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.31.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.32.yaml
  config/jobs/kubernetes/sig-testing/integration.yaml
  config/jobs/kubernetes/sig-testing/make-test.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#34121 Verify kOps generated jobs in CI
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/helpers.py
  hack/make-rules/update/generated-jobs.sh
  hack/make-rules/verify/generated-jobs.sh
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34122 kOps: Add more tests for release-1.31
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/testgrids/kubernetes/kops/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34124 🌱 Kubebuilder: Remove k8s 1.32 since it is blocking PRs and is not working yet
  config/jobs/kubernetes-sigs/kubebuilder/kubebuilder-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#34126 Ingress NGINX: Bump Test Runner to v20250112-a188f4eb.
  config/jobs/kubernetes/sig-network/ingress-nginx/ingress-nginx-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/network, sig/testing, area/jobs, area/config

#34127 run smb host process e2e test by default
  config/jobs/kubernetes-csi/csi-driver-smb/csi-driver-smb-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34128 Add 1.32 testing for presubmit/periodics jobs
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
  config/jobs/kubernetes-sigs/kueue/kueue-release-blocking-main.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/M, approved, sig/testing, area/jobs, area/config

#34095 Bump perf-tests images
  config/jobs/kubernetes/sig-scalability/sig-scalability-presubmit-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#34133 DRA: add temporary jobs to experiment with timeouts
  config/jobs/kubernetes/sig-node/dra-manual-canary.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#34125 Fix `ci-test-infra-branchprotector` 2nd attempt
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#34086 Allow milestones in kubernetes/autoscaler
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#34134 kOps: Add PR jobs for networking on GCE
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34140 dra: fix timeout
  config/jobs/kubernetes/sig-node/dra-manual-canary.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#34141 🌱 Enable periodic GH Bug Triage project board syncing for v1.33
  config/jobs/kubernetes/sig-k8s-infra/trusted/sig-release-release-team-jobs/release-team-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/k8s-infra

#34137 kOps: mark the new networking tests as optional
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34142 DRA: increase timeout in test jobs
  config/jobs/kubernetes/sig-node/dra-manual-canary.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#34143 Fix branch-protection-periodic: add allow_job_disabled_policies
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#34123 updated the label to enable dind
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, ok-to-test

#34144 Switch CAPZ load test back to using master branch from perf-tests
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34107 etcd: add pull-etcd-operator-test-e2e job
  config/jobs/etcd/etcd-operator-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/etcd

#34146 Fix url for kind installation during etcd operator e2e tests
  config/jobs/etcd/etcd-operator-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#34147 etcd: use krte image for e2e operator tests
  config/jobs/etcd/etcd-operator-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#34148 etcd: use wrapper.sh for operator e2e command
  config/jobs/etcd/etcd-operator-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#34150 DRA canary: the wrapper script has to kill Ginkgo
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra-manual-canary.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/node, area/jobs, area/config

#34149 add presubmit and periodic tests for 1.32
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-main.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-periodics-release-0-7.yaml
  config/jobs/kubernetes-sigs/jobset/jobset-presubmit-main.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config, ok-to-test

#33931 [KEP-3041]: drop Nodefeature from test-infra
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-network/sig-network-gce.yaml
  config/jobs/kubernetes/sig-node/README.md
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/crio.yaml
  config/jobs/kubernetes/sig-node/ec2-containerd-presubmit.yaml
  config/jobs/kubernetes/sig-node/ec2-containerd.yaml
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/network, sig/testing, sig/node, area/jobs, area/config

#34151 etcd operator: properly configure e2e job for dind
  config/jobs/etcd/etcd-operator-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#34159 Bump gcb-docker-gcloud to Go 1.23.1
  images/gcb-docker-gcloud/Dockerfile
  images/gcb-docker-gcloud/README.md
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/images

#34161 Add e2e tests for 1.32 for lws
  config/jobs/kubernetes-sigs/lws/lws-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, ok-to-test

#34160 exclude alpha features from general feature jobs
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/crio.yaml
  config/jobs/kubernetes/sig-node/node-kubelet.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#34138 structured-merge-diff: update OWNERS file
  config/jobs/kubernetes-sigs/structured-merge-diff/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34167 Reduce number of runs in periodic to avoid timeout
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#34152 sig-scalability networking jobs
  config/jobs/kubernetes/sig-scalability/sig-scalability-experimental-periodic-jobs.yaml
  config/jobs/kubernetes/sig-scalability/sig-scalability-networking.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/scalability, area/jobs, area/config

#34166 DRA: promote canary timeout handling to regular jobs
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra-ci.yaml
  config/jobs/kubernetes/sig-node/dra-presubmit.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#34157 cluster-api: Bump kubekins image for main to 1.32
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics-upgrades.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api/cluster-api-prowjob-gen.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34170 Reduce number of runs in presumbit arm64 to avoid timeout
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#34173 Adjust Volume Populator Testgrid Before GA
  config/jobs/kubernetes-csi/gen-jobs.sh
  config/jobs/kubernetes-csi/lib-volume-populator/lib-volume-populator-config.yaml
  config/jobs/kubernetes-csi/volume-data-source-validator/volume-data-source-validator-config.yaml
  config/testgrids/kubernetes/sig-storage/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XL, approved, sig/testing, area/jobs, area/config

#34153 Update sig-storage owners
  config/jobs/kubernetes-sigs/sig-storage-lib-external-provisioner/OWNERS
  config/jobs/kubernetes-sigs/sig-storage-local-static-provisioner/OWNERS
  config/testgrids/kubernetes/sig-storage/OWNERS
Labels: lgtm, area/testgrid, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34171 Fix sig-node tests failing with dropping NodeFeature
  config/jobs/kubernetes/sig-node/containerd.yaml
  config/jobs/kubernetes/sig-node/ec2-containerd.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/node, area/jobs, area/config

#34178 Fix pull-kubernetes-node-crio-cgrpv1-evented-pleg-e2e syntax error
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#34049 kOps: create more upgrade jobs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-upgrades.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34181 Kops - Add amazonvpc + Ubuntu 24.04 presubmit
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-conformance.yaml
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-periodics-network-plugins.yaml
  config/jobs/kubernetes/kops/kops-periodics-pipeline.yaml
  config/jobs/kubernetes/kops/kops-periodics-versions.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-network-plugins.yaml
  config/jobs/kubernetes/kops/pinned.list
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34179 fix node feature failures
  config/jobs/containerd/containerd/containerd-presubmit-jobs.yaml
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#34172 kubebuilder: add k8s 1.32 and cleanup/enhance the configuration
  config/jobs/kubernetes-sigs/kubebuilder/kubebuilder-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#34183 use release-0.1 for kjob periodics
  config/jobs/kubernetes-sigs/kjob/kjob-periodics-release-0.1.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34174 Skipping dump node info when SKIP_DUMP_NODE_INFO=true.
  logexporter/cluster/log-dump.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, ok-to-test

#34187 cluster-api-provider-vsphere: Bump images for release-1.12 and main
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-main-presubmits.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-prowjob-gen.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-12-periodics.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-vsphere/cluster-api-provider-vsphere-release-1-12-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#34189 temporarily disable verification of generated jobs
  hack/make-rules/verify/all.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing

#34177 test: update e2e compatibility test to have a n minus param and update to have n-1 and n-2 prow periodic tests
  config/jobs/kubernetes/sig-testing/compatibility-versions-e2e.yaml
  experiment/compatibility-versions/e2e-k8s-compatibility-versions.sh
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#34186 Fix pull-kubernetes-e2e-gce-storage-disruptive
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/storage, area/jobs, area/config

#34135 structured-merge-diff: Add presubmit job for structured merge diff API diff
  config/jobs/kubernetes-sigs/structured-merge-diff/structured-merge-diff-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config

#34185 testgrid: bump presubmit image
  config/jobs/kubernetes-sigs/testgrid/testgrid-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#34191 Add CAPZ periodic job to run load test with 100 nodes
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34192 Add more compute resources for scale test
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-ec2.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#34193 Increase resources for Kueue test-integration
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, area/jobs, area/config, ok-to-test

#34195 chore: remove CAPA v2.4 jobs
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-periodics-release-2.4.yaml
  config/jobs/kubernetes-sigs/cluster-api-provider-aws/cluster-api-provider-aws-presubmits-release-2.4.yaml
Labels: lgtm, cncf-cla: yes, size/XL, approved, sig/testing, area/jobs, area/config

#34175 add kannon92 as owner for jobset test-infra
  config/jobs/kubernetes-sigs/jobset/OWNERS
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34196 Fix repo cloning issue for CAPZ periodic 100 node job
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34162 etcd operator: add lint pre and postsubmit jobs
  config/jobs/etcd/etcd-operator-postsubmits.yaml
  config/jobs/etcd/etcd-operator-presubmits.yaml
  config/testgrids/kubernetes/sig-etcd/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/etcd

#34198 Reduce interval and timeout to 3h for CAPZ 100 node periodic job
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34200 apidiff: clarify pull-kubernetes-apidiff-client-go
  config/jobs/kubernetes/sig-testing/apidiff.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34203 Move aws scale prebumits to previous prow
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34207 Increase mem/cpu limits for scale test pod
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34206 chore: disable MultiCIDRServiceAllocator in compat version e2e test as it has known issue with --emulation-version
  config/jobs/kubernetes/sig-testing/compatibility-versions-e2e.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config

#34180 use master release branch for containerd 1.6 not 1.25
  config/jobs/kubernetes/sig-node/containerd.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#34210 client-go should not suggest editing the readme.md
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#34209 block PRs to cri-api repo
  config/prow/plugins.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/config

#34205 Set squash as merge method for lws
  config/prow/config.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#34214 Add 5 min wait to CAPZ 100 node periodic job
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-main.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34202 Introduce new job for kueue multikueue integration tests
  config/jobs/kubernetes-sigs/kueue/kueue-presubmits-main.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, ok-to-test

#34217 etcd operator: increase lint job memory
  config/jobs/etcd/etcd-operator-postsubmits.yaml
  config/jobs/etcd/etcd-operator-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#34218 fix: Change kubernetes version from latest-1.28 to v1.28.15 for azure release-1.28 tests
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.28.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, kind/failing-test, area/jobs, sig/cloud-provider, area/config

#34216 Benchmark large list requests
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, sig/scalability, area/jobs, area/config

#34220 Add benchmark list to perfdash
  config/jobs/kubernetes/sig-scalability/sig-scalability-periodic-jobs.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/scalability, area/jobs, area/config

#34182 Update the outdated test_args of alpha-features testsuite of release branch jobs
  config/jobs/kubernetes/generated/generated.yaml
  releng/test_config.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/release, area/jobs, area/config, area/release-eng

#34219 openshift:hypershift:add aws multi periodics
  config/testgrids/openshift/hypershift.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/S, approved, sig/testing, area/config, ok-to-test

#34223 Add distro arguments to SELinux jobs
  config/jobs/kubernetes/kops/build_jobs.py
  config/jobs/kubernetes/kops/kops-periodics-distros.yaml
  config/jobs/kubernetes/kops/kops-periodics-grid.yaml
  config/jobs/kubernetes/kops/kops-periodics-misc2.yaml
  config/jobs/kubernetes/kops/kops-presubmits-distros.yaml
  config/jobs/kubernetes/kops/kops-presubmits-e2e.yaml
  config/jobs/kubernetes/kops/kops-presubmits-scale.yaml
  config/jobs/kubernetes/kops/pinned.list
  config/jobs/kubernetes/sig-storage/sig-storage-gce-config.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, sig/cluster-lifecycle, sig/storage, area/jobs, area/config

#34199 etcd: enable integration 2 and 4 CPU periodics
  config/jobs/etcd/etcd-periodics.yaml
Labels: lgtm, cncf-cla: yes, size/L, approved, sig/testing, area/jobs, area/config, ok-to-test, sig/etcd

#34226 Add containerd 2.0 and remove old jobs
  config/jobs/kubernetes-sigs/sig-windows/presets.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-master-windows.yaml
  config/jobs/kubernetes-sigs/sig-windows/windows-experimental.yaml
  config/jobs/kubernetes-sigs/sig-windows/windows-op-tests.yaml
  config/testgrids/kubernetes/sig-windows/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/windows, area/jobs, area/config

#34102 [sig-windows] Move windows 1.32 jobs to windows dashboard
  config/jobs/kubernetes-sigs/sig-windows/release-1.32-windows-presubmits.yaml
  config/jobs/kubernetes-sigs/sig-windows/release-1.32-windows.yaml
  config/jobs/kubernetes/sig-release/release-branch-jobs/1.32.yaml
  config/testgrids/kubernetes/sig-windows/config.yaml
Labels: lgtm, area/testgrid, cncf-cla: yes, size/L, approved, sig/testing, sig/release, sig/windows, area/jobs, area/config, area/release-eng

#34229 etcd operator: set presubmit jobs as blocking
  config/jobs/etcd/etcd-operator-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#34230 etcd: import release tests presubmit job
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, sig/etcd

#34212 Pass feature gates to test framework
  config/jobs/kubernetes/sig-node/crio.yaml
  config/jobs/kubernetes/sig-node/sig-node-presubmit.yaml
Labels: lgtm, cncf-cla: yes, needs-ok-to-test, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#34233 etcd-operator: add test and test-e2e workflow to postsubmits.yaml
  config/jobs/etcd/etcd-operator-postsubmits.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config, ok-to-test, sig/etcd

#34232 DRA: promote beta CI jobs to release informing
  config/jobs/kubernetes/sig-node/dra-ci.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config

#34236 etcd: fix pull-etcd-release-tests GPG singing key
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#34234 Add periodic jobs for CAPZ release 1.18 branch
  config/jobs/kubernetes-sigs/cluster-api-provider-azure/cluster-api-provider-azure-periodics-v1beta1-release-1.18.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, area/provider/azure, sig/testing, sig/cluster-lifecycle, area/jobs, area/config

#34238 etcd: add origin remote to release tests presubmit
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#34239 etcd: re-enable release tests image testing
  config/jobs/etcd/etcd-presubmits.yaml
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/jobs, area/config, sig/etcd

#34235 jobs: autobump DRA job template
  config/prow/autobump-config/prow-job-autobump-config.yaml
  hack/make-rules/verify/all.sh
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, area/config

#34197 cosi: update presubmit tests for latest targets
  config/jobs/kubernetes-sigs/container-object-storage-interface/container-object-storage-interface.yaml
Labels: lgtm, cncf-cla: yes, size/M, approved, sig/testing, area/jobs, area/config

#34231 DRA: support multiple alpha features
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/XS, approved, sig/testing, sig/node, area/jobs, area/config

#34243 fix: Change KUBERNETES_VERSION to CI_VERSION in azure release-1.28 tests
  config/jobs/kubernetes-sigs/cloud-provider-azure/cloud-provider-azure-presubmit-1.28.yaml
Labels: lgtm, cncf-cla: yes, size/S, approved, area/provider/azure, sig/testing, kind/failing-test, area/jobs, sig/cloud-provider, area/config

#34244 DRA: support multiple alpha features in non-canary jobs
  config/jobs/kubernetes/sig-node/dra-canary.yaml
  config/jobs/kubernetes/sig-node/dra-ci.yaml
  config/jobs/kubernetes/sig-node/dra-presubmit.yaml
  config/jobs/kubernetes/sig-node/dra.jinja
Labels: lgtm, cncf-cla: yes, size/S, approved, sig/testing, sig/node, area/jobs, area/config
